{% set params = { status: '*', limit: settings.limit } %}

{% if blx.hasPackage('PublishPro') %}
	{% set params = params|merge({ sectionId: settings.section }) %}
{% endif %}

{% set entries = blx.entries.find(params) %}


<div class="container">
	{% if entries|length %}
		<table class="data">
			{% for entry in entries %}
				{% if blx.hasPackage('PublishPro') %}
					{% set path = 'content/' ~ entry.section.handle ~ '/' ~ entry.id %}
				{% else %}
					{% set path = 'content/blog/' ~ entry.id %}
				{% endif %}
				<tr>
					<td>
						<a href="{{ url(path) }}">{{ entry.title }}</a>
						<span class="light">
							{{ entry.postDate.w3cDate }}
							{% if blx.hasPackage('Users') %}
								{{ "by {author}"|t({ author: entry.author.username }) }}
							{% endif %}
						</span>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>{{ "No entries exist yet."|t }}</p>
	{% endif %}
</div>
