<div class="recententries-container">
    {% if entries|length %}
        <table class="fullwidth">
            {% for entry in entries %}
                <tr>
                    <td>
                        <a href="{{ entry.getCpEditUrl() }}">{{ entry.title }}</a>
                        <span class="light">
                            {{ entry.dateCreated|timestamp('short') }}
                            {%- if CraftEdition == CraftPro and entry.getAuthor() %}, {{ entry.getAuthor().username }}{% endif -%}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{{ "No entries exist yet."|t('app') }}</p>
    {% endif %}
</div>
