{% extends "_layouts/cp" %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') },
	{ label: "Sections"|t, url: url('settings/sections') }
] %}


{% if section is not defined or not section.id %}
	{% set title = "Create a new section"|t %}
{% else %}
	{% set title = section.name|t %}

	{% set tabs = {
		settings: { label: "Settings"|t, url: url('settings/sections/'~section.id) },
		blocks: { label: "Blocks"|t, url: url('settings/sections/'~section.id~'/blocks') }
	} %}
{% endif %}{% set selectedTab =
