{% extends "_layouts/cp" %}
{% set title = "Asset Settings"|t('app') %}

{% set crumbs = [
    { label: "Settings"|t('app'), url: url('settings') }
] %}


{% set navItems = {
    volumes: { label: "Volumes"|t('app'), url: url('settings/assets') },
    transforms: { label: "Image Transforms"|t('app'), url: url('settings/assets/transforms') },
    settings: { label: "Settings"|t('app'), url: url('settings/assets/settings') },
} %}

{% set docTitle = navItems[selectedNavItem].label~' - '~title %}

{% block sidebar %}
    {% include "_includes/nav" with { items: navItems, selectedItem: selectedNavItem } only %}
{% endblock %}
