{% extends "_layouts/cp" %}
{% set centered = true %}


{% set header %}
	<h1>{{ "Assets"|t }}</h1>
	<ul class="left">
		<li><a href="{{ url('settings') }}" class="backbtn">{{ "Settings"|t }}</a></li>
	</ul>
{% endset %}


{% set tabs %}
	<li><a{% if page == 'sources' %} class="active"{% endif %} href="{{ url('settings/assets') }}">{{ "Sources"|t }}</a></li>
    <li><a{% if page == 'operations' %} class="active"{% endif %} href="{{ url('settings/assets/operations') }}">{{ "Operations"|t }}</a></li>
    <li><a{% if page == 'sizes' %} class="active"{% endif %} href="{{ url('settings/assets/sizes') }}">{{ "Sizes"|t }}</a></li>
	<li><a{% if page == 'blocks' %} class="active"{% endif %} href="{{ url('settings/assets/blocks') }}">{{ "Asset Blocks"|t }}</a></li>
{% endset %}
