@charset "UTF-8";
@import "@craftcms/sass/mixins";

#action-menubtn {
  margin: -6px 0;
}

#action-spinner {
  position: absolute;
  top: 10px;
  @include right(0);
}

#verifypasswordmodal {
  width: 350px;
}

#verifypasswordmodal .buttons {
  margin-top: 1em;
}

#verifypasswordmodal .buttons .spinner {
  position: absolute;
  top: 0;
  @include right(0);
  margin-top: 0;
}

.authentication-setup-status {
  line-height: 34px;
  span {
    @include padding-left(7px);
  }
}
#authenticator-backup-codes {
  max-width: 300px;
  padding: 20px;
  .codes {
    column-count: 2;
    text-align: center;
    padding-bottom: 20px;
  }
}
