@charset "UTF-8";
@import "@craftcms/sass/mixins";

#action-menubtn {
  @include margin(-6px, var(--neg-padding), -6px, 0);
}

.authentication-setup-status {
  line-height: 34px;
  span {
    @include padding-left(7px);
  }
}
#authenticator-backup-codes {
  max-width: 300px;
  padding: 20px;
  .codes {
    column-count: 2;
    text-align: center;
    padding-bottom: 20px;
  }
}
