{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set crumbs = [
    { label: "Settings"|t, url: url('settings') },
    { label: "Assets"|t, url: url('settings/assets') },
    { label: "Transformations"|t, url: url('settings/assets/transformations') }
] %}


{% if transformation is not defined and handle is defined %}
	{% set transformation = blx.assets.getTransformationByHandle(handle) %}
	{% if not transformation %}{% exit 404 %}{% endif %}
{% endif %}

{% set isNewTransformation = (transformation is not defined or not transformation.id) %}


{% if isNewTransformation %}
	{% set title = "Create a new asset transformation"|t %}
{% else %}
	{% set title = transformation.name|t %}
{% endif %}{% set selectedTab =


{% set content %}
	<form method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="action" value="assetTransformations/saveTransformation">
		<input type="hidden" name="redirect" value="{{ url('settings/assets/operations', { transformation: '{handle}' }) }}">

		{% if not isNewTransformation %}<input type="hidden" name="transformationId" value="{{ transformation.id }}">{% endif %}

		{{ forms.textField({
            first: true,
			label: "Name"|t,
			id: 'name',
			name: 'name',
			value: (transformation is defined ? transformation.name : null),
			errors: (transformation is defined ? transformation.getErrors('name') : null),
			autofocus: true,
			required: true,
			translatable: true
		}) }}

        {{ forms.selectField({
        label: "Mode"|t,
        id: "mode",
        name: "mode",
        options: blx.assets.transformationModes,
        value: (transformation is defined ? transformation.mode : null),
        required: true,
        translatable: true
        }) }}

		{{ forms.textField({
            label: "Handle"|t,
            id: "handle",
            name: "handle",
            value: (transformation is defined ? transformation.handle : null),
            errors: (transformation is defined ? transformation.getErrors('handle') : null),
            required: true,
            translatable: true
        }) }}

        {{ forms.textField({
        label: "Width"|t,
        id: "width",
        name: "width",
        value: (transformation is defined ? transformation.width : null),
        errors: (transformation is defined ? transformation.getErrors('width') : null),
        required: true,
        translatable: true
        }) }}

        {{ forms.textField({
        label: "Height"|t,
        id: "height",
        name: "height",
        value: (transformation is defined ? transformation.height : null),
        errors: (transformation is defined ? transformation.getErrors('height') : null),
        required: true,
        translatable: true
        }) }}

        <div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}


{% set js %}
    {% if transformation is not defined or not transformation.handle %}new Blocks.HandleGenerator('#name', '#handle');{% endif %}
{% endset %}
{% includeJs js %}
