{% extends "_layouts/cp" %}
{% set title = "Settings"|t('app') %}


{% block content %}
	{% registercssresource 'css/settings.css' %}
	{% registerjsresource 'js/settings.js' %}

	{% for category, items in craft.cp.settings(80) %}
		<h2>{{ category }}</h2>

		<ul class="icons">
			{% for handle, item in items %}
				<li>
					<a href="{% if item.url is defined %}{{ url(item.url) }}{% else %}{{ url('settings/'~handle) }}{% endif %}" {% if item.icon is defined %}data-icon="{{ item.icon }}"{% endif %}>

						{% if item.iconUrl is defined %}
							<img src="{{ item.iconUrl }}" />
						{% endif %}

						{{ item.label }}
					</a>
				</li>
			{% endfor %}
		</ul>

		<hr>
	{% endfor %}

	<h2>{{ "Tools"|t('app') }}</h2>

	<ul class="icons">
		{% for tool in tools %}
			{% set triggerId = 'tool-'~tool.className()|id %}
			<li><a id="{{ triggerId }}" data-icon="{{ tool.iconValue() }}">{{ tool.displayName() }}</a></li>
			{% registerjs %}
				new Craft.Tool('{{ triggerId|e("js") }}', '{{ tool.className()|e("js") }}', {{ tool.optionsHtml()|json_encode|raw }}, '{{ tool.buttonLabel()|e("js") }}');
			{% endregisterjs %}
		{% endfor %}
	</ul>
{% endblock %}
