{layout "settings/_layouts/settings" title="Advanced"}


{if !settings}
	{set settings = blx.settings.advanced}
{/if}


{region "settings"}

	<form method="post" action="">
		<input type="hidden" name="action" value="settings/saveAdvancedSettings" />

		<div class="field">
			<div class="heading">
				<h3>Debugging</h3>
			</div>

			<div class="checkbox"><label><input type="checkbox" name="showDebugInfo" value="y" {if settings.showDebugInfo}checked{/if}> Show debugging info in the browser console</label></div>
			<div class="checkbox"><label><input type="checkbox" name="useUncompressedJs" value="y" {if settings.useUncompressedJs}checked{/if}> Use uncompressed CP JavaScript files</label></div>
			<div class="checkbox"><label><input type="checkbox" name="disablePlugins" value="y" {if settings.disablePlugins}checked{/if}> Disable plugins</label></div>
		</div>

		<input class="btn submit" type="submit" value="Save" />
	</form>
{/region}
