{% extends "_layouts/cp" %}
{% set title = "Advanced Settings"|t %}


{% if not settings %}
	{% set settings = craft.systemSettings.advanced %}
{% endif %}

{% set content %}
	<form method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="action" value="systemSettings/saveAdvancedSettings">

		<h2>{{ "Debugging"|t }}</h2>
		<div class="checkbox"><label><input type="checkbox" name="showDebugInfo" value="y" {% if settings.showDebugInfo %}checked{% endif %}> {{ "Show debugging info in the browser console"|t }}</label></div>
		<div class="checkbox"><label><input type="checkbox" name="useUncompressedJs" value="y" {% if settings.useUncompressedJs %}checked{% endif %}> {{ "Use uncompressed CP JavaScript files"|t }}</label></div>
		<div class="checkbox"><label><input type="checkbox" name="disablePlugins" value="y" {% if settings.disablePlugins %}checked{% endif %}> {{ "Disable plugins"|t }}</label></div>

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}
