{% extends "_layouts/cp" %}
{% set title = "Advanced Settings"|t %}


{% if not settings %}
	{% set settings = blx.settings.advanced %}
{% endif %}


{% set titlebar %}
	<h1>{{ title }}</h1>
{% endset %}

{% set content %}
	<form method="post" action="">
		<input type="hidden" name="action" value="settings/saveAdvancedSettings">

		<h3>{{ "Debugging"|t }}</h3>
		<div class="checkbox"><label><input type="checkbox" name="showDebugInfo" value="y" {% if settings.showDebugInfo %}checked{% endif %}> {{ "Show debugging info in the browser console"|t }}</label></div>
		<div class="checkbox"><label><input type="checkbox" name="useUncompressedJs" value="y" {% if settings.useUncompressedJs %}checked{% endif %}> {{ "Use uncompressed CP JavaScript files"|t }}</label></div>
		<div class="checkbox"><label><input type="checkbox" name="disablePlugins" value="y" {% if settings.disablePlugins %}checked{% endif %}> {{ "Disable plugins"|t }}</label></div>

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
			<a class="btn" href="{{ url('settings') }}">{{ "Cancel"|t }}</a>
		</div>
	</form>
{% endset %}
