{% extends "_layouts/cp" %}
{% set title = "Asset Settings"|t %}


{% set main %}
	<header class="titlebar">
		<h1>{{ title }}</h1>
	</header>

	<form method="post" action="">
		<input type="hidden" name="action" value="settings/saveAssetSettings">
		<input type="hidden" name="redirect" value="settings">

		<div class="field">
			<div class="heading">
				<label for="url">{{ "Asset Sources"|t }}</label>
			</div>
		</div>

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
			<a class="btn" href="{{ blx.url.base }}settings">Cancel</a>
		</div>
	</form>
{% endset %}
