{% set title = "Asset Settings" %}
{% extends "_layouts/cp" %}


{% block main %}
	<header class="titlebar">
		<h1>Asset Settings</h1>
	</header>

	<form method="post" action="">
		<input type="hidden" name="action" value="settings/saveAssetSettings">
		<input type="hidden" name="redirect" value="settings">

		<div class="field">
			<div class="heading">
				<h3><label for="url">Asset Sources</label></h3>
			</div>
		</div>

		<div class="buttons">
			<input class="btn submit" type="submit" value="Save">
			<a class="btn" href="{{ blx.url.base }}settings">Cancel</a>
		</div>
	</form>
{% endblock %}
