{% set title = "Pages &amp; Sections"|t %}
{% extends "_layouts/cp" %}


{% block main %}
	<header class="titlebar">
		<h1>{{ title }}</h1>
	</header>

	<div class="field">
		<div class="heading">
			<h3><label for="languages">{{ "Pages"|t }}</label></h3>
		</div>

	</div>

	<div class="field">
		<div class="heading">
			<h3><label for="languages">{{ "Sections"|t }}</label></h3>
		</div>
	</div>

	<div class="buttons">
		<a class="btn" href="{{ blx.url.base }}settings">Done</a>
	</div>
{% endblock %}
