{layout "_layouts/cp" title="Email settings" crumbs="settings:Settings"}

{if !emailSettings}
	{set emailSettings = blx.email.settings}
{/if}

{region "main"}
	<h1>Email settings</h1>

	<form method="post" action="">
		<input type="hidden" name="action" value="settings/saveemailsettings" />

		<div class="field">
			<div class="heading">
				<label for="emailAddress">System Email Address</label>
				<p>The email address Blocks will use when sending email.</p>
			</div>
			<div class="textwrapper"><input id="emailAddress" name="emailAddress" class="text" type="text" value="{:emailSettings.emailAddress}" /></div>
			{if emailSettings.errors.emailAddress}
				{include "_includes/error_list" errors=emailSettings.errors.emailAddress}
			{/if}
		</div>
		<div class="field">
			<div class="heading">
				<label for="senderName">Sender Name</label>
				<p>The “From” name Blocks will use when sending email.</p>
			</div>
			<div class="textwrapper"><input id="senderName" name="senderName" class="text" type="text" value="{:emailSettings.senderName}" /></div>
			{if emailSettings.errors.senderName}
				{include "_includes/error_list" errors=emailSettings.errors.senderName}
			{/if}
		</div>
		<div class="field" id="protocol-field">
			<div class="heading">
				<label for="protocol">Protocol</label>
				<p>The protocol Blocks will use to send email.</p>
			</div>
			<select id="protocol" name="protocol">
				<option value="PhpMail" {if emailSettings.protocol == 'PhpMail'}selected{/if}>PHP Mail</option>
				<option value="Sendmail" {if emailSettings.protocol == 'Sendmail'}selected{/if}>Sendmail</option>
				<option value="Smtp" {if emailSettings.protocol == 'Smtp'}selected{/if}>SMTP</option>
				<option value="GmailSmtp" {if emailSettings.protocol == 'GmailSmtp'}selected{/if}>Gmail SMTP</option>
				<option value="Pop" {if emailSettings.protocol == 'Pop'}selected{/if}>POP before SMTP</option>
			</select>
		</div>

		<div id="hidden-fields" style="display: none">
			<div id="username-field" class="field">
				<div class="heading">
					<label for="username">Username</label>
				</div>
				<div class="textwrapper"><input id="username" name="username" class="text" type="text" value="{:emailSettings.username}" /></div>
				{if emailSettings.protocol != 'Smtp' && emailSettings.errors.username}
					{include "_includes/error_list" errors=emailSettings.errors.username}
				{/if}
			</div>
			<div id="password-field" class="field">
				<div class="heading">
					<label for="password">Password</label>
				</div>
				<div class="passwordwrapper"><input id="password" name="password" class="text password" type="password" value="{:emailSettings.password}" /></div>
				{if emailSettings.protocol != 'Smtp' && emailSettings.errors.password}
					{include "_includes/error_list" errors=emailSettings.errors.password}
				{/if}
			</div>
			
			<div id="port-field" class="field">
				<div class="heading">
					<label for="port">Port</label>
				</div>
				<input id="port" name="port" class="text" type="text" value="{if emailSettings.port}{:emailSettings.port}{else}25{/if}" size="5" />
				{if emailSettings.errors.port}
					{include "_includes/error_list" errors=emailSettings.errors.port}
				{/if}
			</div>

			<div id="host-field" class="field">
				<div class="heading">
					<label for="host">Host Name</label>
				</div>
				<div class="textwrapper"><input id="host" name="host" class="text" type="text" value="{:emailSettings.host}" /></div>
				{if emailSettings.errors.host}
					{include "_includes/error_list" errors=emailSettings.errors.host}
				{/if}
			</div>

			<div id="timeout-field" class="field">
				<div class="heading">
					<label for="timeout">Timeout</label>
				</div>
				<input id="timeout" name="timeout" class="text" type="text" value="{if emailSettings.timeout}{:emailSettings.timeout}{else}30{/if}" size="5" />
				{if emailSettings.errors.timeout}
					{include "_includes/error_list" errors=emailSettings.errors.timeout}
				{/if}
			</div>

			<div id="smtpAuth-field" class="field checkbox">
				<label>Use SMTP Authentication
					<div class="cbwrapper"><input type="checkbox" name="smptAuth" value="y" {if emailSettings.smtpAuth}checked="checked"{/if} class="togglefields" data-target="smtpAuthCredentials-field" /></div>
				</label>
			</div>

			<div id="smtpAuthCredentials-field" class="nested-fields" {if !emailSettings.smtpAuth}style="height:0"{/if}>
				<div id="smtp-username-field" class="field">
					<div class="heading">
						<label for="smtp-username">Username</label>
					</div>
					<div class="textwrapper"><input id="smtp-username" name="smtp_username" class="text" type="text" value="{:emailSettings.username}" /></div>
					{if emailSettings.protocol == 'Smtp' && emailSettings.errors.username}
						{include "_includes/error_list" errors=emailSettings.errors.username}
					{/if}
				</div>
				<div id="smtp-password-field" class="field">
					<div class="heading">
						<label for="smtp-password">Password</label>
					</div>
					<div class="passwordwrapper"><input id="smtp-password" name="smtp_password" class="text password" type="password" value="{:emailSettings.password}" /></div>
					{if emailSettings.protocol == 'Smtp' && emailSettings.errors.password}
						{include "_includes/error_list" errors=emailSettings.errors.password}
					{/if}
				</div>
			</div>

			<div id="smtpKeepAlive-field" class="field checkbox">
				<label>Use SMTP Keep Alive
					<div class="cbwrapper"><input type="checkbox" name="smtpKeepAlive" value="y" {if emailSettings.smtpKeepAlive}checked="checked"{/if} /></div>
				</label>
			</div>
			<div id="smtpSecureTransportType-field" class="field">
				<div class="heading">
					<label for="smtpSecureTransportType">SMTP Secure Transport Type</label>
				</div>
				{include "_includes/pill" name="smtpSecureTransportType" options="none:None,ssl:SSL,tls:TLS" default="none" value=emailSettings.smtpSecureTransportType}
			</div>
		</div>

		<input class="btn big submit" type="submit" value="Save Email Settings" />
	</form>
{/region}

{region "scripts"}
	{include "_includes/js_include" file="email.js"}
{/region}
