{% layout "settings/_layouts/settings" pageTitle="System Info" %}

{% region "main" %}
	<div id="email-settings" class="pane">
		<div class="head">
			<h5>Email Settings</h5>
		</div>
		<div class="body">

			{% if !emailSettings %}
				{% set emailSettings = email.emailSettings %}
			{% endif %}

			<form method="post" action="">
				<input type="hidden" name="action" value="app/settings/saveemailsettings" />

				<div class="item field">
					<div class="input-wrapper">
						<label for="emailerType">Email Type:</label>
						<select id="emailerType" name="email[emailerType]">
							<option value="PhpMail" {% if emailSettings.emailerType == 'PhpMail' %}selected{% endif %}>PHP Mail</option>
							<option value="Sendmail" {% if emailSettings.emailerType == 'Sendmail' %}selected{% endif %}>Sendmail</option>
							<option value="Smtp" {% if emailSettings.emailerType == 'Smtp' %}selected{% endif %}>SMTP</option>
							<option value="GmailSmtp" {% if emailSettings.emailerType == 'GmailSmtp' %}selected{% endif %}>Gmail SMTP</option>
							<option value="Pop" {% if emailSettings.emailerType == 'Pop' %}selected{% endif %}>POP before SMTP</option>
						</select>
					</div>
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="host">Host Name:</label>
						<input type="text" id="host" name="email[host]" value="{ emailSettings.host }">
					</div>
					{% if emailSettings.errors.host %}
						{% include "_includes/error_list" errors=emailSettings.errors.host %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="port">Port:</label>
						<input type="text" id="port" name="email[port]" value="{ emailSettings.port }">
					</div>
					{% if emailSettings.errors.port %}
						{% include "_includes/error_list" errors=emailSettings.errors.port %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="smtpAuth">Use SMTP Authentication?</label>
						<input type="checkbox" id="smtpAuth" name="email[smtpAuth]"{% if emailSettings.smtpAuth == 1 %} checked{% endif %}>
					</div>
					{% if emailSettings.errors.smtpAuth %}
						{% include "_includes/error_list" errors=emailSettings.errors.smtpAuth %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="userName">Username:</label>
						<input type="text" id="userName" name="email[userName]" value="{ emailSettings.userName }">
					</div>
					{% if emailSettings.errors.userName %}
						{% include "_includes/error_list" errors=emailSettings.errors.userName %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="password">Password:</label>
						<input type="password" id="password" name="email[password]" value="{ emailSettings.password }">
					</div>
					{% if emailSettings.errors.password %}
						{% include "_includes/error_list" errors=emailSettings.errors.password %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="smtpKeepAlive">Use SMTP Keep Alive?</label>
						<input type="checkbox" id="smtpKeepAlive" name="email[smtpKeepAlive]"{% if emailSettings.smtpKeepAlive == 1 %} checked{% endif %}>
					</div>
					{% if emailSettings.errors.smtpKeepAlive %}
						{% include "_includes/error_list" errors=emailSettings.errors.smtpKeepAlive %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="smtpSecureTransport">Use SMTP Secure Transport?</label>
						<input type="checkbox" id="smtpSecureTransport" name="email[smtpSecureTransport]"{% if emailSettings.smtpSecureTransport == 1 %} checked{% endif %}>
					</div>
					{% if emailSettings.errors.smtpSecureTransport %}
						{% include "_includes/error_list" errors=emailSettings.errors.smtpSecureTransport %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="smtpSecureTransportType">SMTP Secure Transport Type:</label>
						<select id="smtpSecureTransportType" name="email[smtpSecureTransportType]">
							<option value="Ssl" {% if emailSettings.smtpSecureTransportType == 'Ssl' %}selected{% endif %}>SSL</option>
							<option value="Tls" {% if emailSettings.smtpSecureTransportType == 'Tls' %}selected{% endif %}>TLS</option>
						</select>
					</div>
					{% if emailSettings.errors.smtpSecureTransportType %}
						{% include "_includes/error_list" errors=emailSettings.errors.smtpSecureTransportType %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="timeout">Timeout:</label>
						<input type="text" id="timeout" name="email[timeout]" value="{ emailSettings.timeout }">
					</div>
					{% if emailSettings.errors.timeout %}
						{% include "_includes/error_list" errors=emailSettings.errors.timeout %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="fromEmail">Default From Email:</label>
						<input type="text" id="fromEmail" name="email[fromEmail]" value="{ emailSettings.fromEmail }">
					</div>
					{% if emailSettings.errors.fromEmail %}
						{% include "_includes/error_list" errors=emailSettings.errors.fromEmail %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="fromName">Default From Name:</label>
						<input type="text" id="fromName" name="email[fromName]" value="{ emailSettings.fromName }">
					</div>
					{% if emailSettings.errors.fromName %}
						{% include "_includes/error_list" errors=emailSettings.errors.fromName %}
					{% endif %}
				</div>
				<div class="item">
					<input class="btn big submit" type="submit" value="Save Email Settings">
				</div>
			</form>
		</div>
	</div>
{% endregion %}
