{layout "_layouts/cp" title="General Settings"}


{region "main"}

	<header class="titlebar">
		<h1>General Settings</h1>
	</header>

	<form method="post" action="">
		<input type="hidden" name="action" value="settings/saveGeneralSettings">
		<input type="hidden" name="redirect" value="settings">

		<div class="field">
			<div class="heading">
				<h3><label for="siteName">Site Name</label></h3>
			</div>
			<input id="siteName" name="siteName" class="text {if post.errors.siteName}error{/if}" type="text" value="{if post}{:post.siteName}{else}{:blx.app.siteName}{/if}">
			{if post.errors.siteName}
				{include "_includes/error_list" errors=post.errors.siteName}
			{/if}
		</div>

		<div class="field">
			<div class="heading">
				<h3><label for="siteUrl">Site URL</label></h3>
			</div>
			<input id="siteUrl" name="siteUrl" class="text {if post.errors.siteUrl}error{/if}" type="text" value="{if post}{:post.siteUrl}{else}{:blx.app.siteUrl}{/if}">
			{if post.errors.siteUrl}
				{include "_includes/error_list" errors=post.errors.siteUrl}
			{/if}
		</div>

		<div class="buttons">
			<input class="btn submit" type="submit" value="Save">
			<a class="btn" href="{:blx.url.base}settings">Cancel</a>
		</div>
	</form>
{/region}
