{% extends "_layouts/cp" %}
{% set title = "General Settings"|t %}


{% block main %}
	<header class="titlebar">
		<h1>{{ title }}</h1>
	</header>

	<form method="post" action="">
		<input type="hidden" name="action" value="settings/saveGeneralSettings">
		<input type="hidden" name="redirect" value="settings">

		<div class="field">
			<div class="heading">
				<label for="siteName">{{ "Site Name"|t }}</label>
			</div>
			<input id="siteName" name="siteName" class="text {% if post.errors.siteName %}error{% endif %}" type="text" value="{% if post %}{{ post.siteName }}{% else %}{{ blx.app.siteName }}{% endif %}">
			{% if post.errors.siteName %}
				{% include "_includes/error_list" with {'errors': post.errors.siteName} %}
			{% endif %}
		</div>

		<div class="field">
			<div class="heading">
				<label for="siteUrl">{{ "Site URL"|t }}</label>
			</div>
			<input id="siteUrl" name="siteUrl" class="text {% if post.errors.siteUrl %}error{% endif %}" type="text" value="{% if post %}{{ post.siteUrl }}{% else %}{{ blx.app.siteUrl }}{% endif %}">
			{% if post.errors.siteUrl %}
				{% include "_includes/error_list" with {'errors': post.errors.siteUrl} %}
			{% endif %}
		</div>

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
			<a class="btn" href="{{ blx.url.base }}settings">Cancel</a>
		</div>
	</form>
{% endblock %}
