{% extends "_layouts/cp" %}
{% set title = "Settings"|t %}


{% set content %}
	<h2>System</h2>

	<ul class="icons">
		<li><a href="{{ url('settings/general') }}" data-icon="wrench">{{ "General"|t }}</a></li>
		<li><a href="{{ url('settings/packages') }}" data-icon="package">{{ "Packages"|t }}</a></li>
		{% if craft.config.siteRoutesSource != 'file' %}
			<li><a href="{{ url('settings/routes') }}" data-icon="world">{{ "Routes"|t }}</a></li>
		{% endif %}
		{% if craft.hasPackage('Users') %}
			<li><a href="{{ url('settings/users') }}" data-icon="users">{{ "Users"|t }}</a></li>
		{% endif %}
		<li><a href="{{ url('settings/email') }}" data-icon="mail">{{ "Email"|t }}</a></li>
		<li><a href="{{ url('settings/plugins') }}" data-icon="plugin">{{ "Plugins"|t }}</a></li>
	</ul>

	<hr>

	<h2>Content</h2>

	<ul class="icons">
		<li><a href="{{ url('settings/fields') }}" data-icon="field">{{ "Fields"|t }}</a></li>
		<li><a href="{{ url('settings/sections') }}" data-icon="section">{{ "Sections"|t }}</a></li>
		<li><a href="{{ url('settings/assets') }}" data-icon="image">{{ "Assets"|t }}</a></li>
		<li><a href="{{ url('settings/globals') }}" data-icon="globe">{{ "Globals"|t }}</a></li>
		{% if craft.hasPackage('Localize') %}
			<li><a href="{{ url('settings/locales') }}" data-icon="language">{{ "Locales"|t }}</a></li>
		{% endif %}
	</ul>
{% endset %}
