{% extends "_layouts/cp" %}
{% set title = "Settings"|t %}


{% set main %}
	<header class="titlebar">
		<h1>{{ title }}</h1>
	</header>

	<h2>{{ "System"|t }}</h2>
	<ul class="icons">
		<li><a href="{{ blx.url.base }}settings/general" data-icon="g">{{ "General"|t }}</a></li>
		<li><a href="{{ blx.url.base }}settings/email" data-icon="E">{{ "Email"|t }}</a></li>
		<li><a href="{{ blx.url.base }}settings/advanced" data-icon="a">{{ "Advanced"|t }}</a></li>
	</ul>

	<h2>{{ "Content"|t }}</h2>
	<ul class="icons">
		<li><a href="{{ blx.url.base }}settings/content" data-icon="C">{{ "Pages &amp; Sections"|t }}</a></li>
		<li><a href="{{ blx.url.base }}settings/assets" data-icon="A">{{ "Assets"|t }}</a></li>
		<li><a href="{{ blx.url.base }}settings/languages" data-icon="L">{{ "Languages"|t }}</a></li>
	</ul>
{% endset %}
