{layout "settings/_layouts/settings" title="General"}


{if !settings}
	{set settings = blx.settings.general}
{/if}


{region "settings"}

	<form method="post" action="">
		<input type="hidden" name="action" value="settings/saveGeneralSettings">

		<div class="field">
			<div class="heading">
				<h3><label for="url">Site URL</label></h3>
			</div>
			<input id="url" name="url" class="text" type="text" value="{:settings.url}">
			{if settings.errors.url}
				{include "_includes/error_list" errors=settings.errors.url}
			{/if}
		</div>

		<input class="btn submit" type="submit" value="Save">
	</form>
{/region}
