{% layout "settings/_layouts/settings" pageTitle="System Info" %}

{% region "main" %}
	<img id="logo" src="{url.resource('images/logo.png')}">

	<p id="version">{blocks.fullVersion}</p>

	<div id="license-keys" class="pane">
		<div class="head">
			<h5>License Keys</h5>
		</div>
		<div class="body">
			<ul class="flush">
				{% foreach config.licenseKeys as licenseKey %}
					<li class="item">{licenseKey.license_key}</li>
				{% endforeach %}
			</ul>
		</div>
	</div>
	<div class="btn-group">
		<div class="btn"><span class="icon icon44"></span></div>
		<div class="btn disabled"><span class="icon icon45"></span></div>
	</div>
{% endregion %}
