{% layout settings/_layouts/settings %}

{% region pageTitle %}System Info{% /region %}
{% region bodyClass %}info{% /region %}

{% region main %}
	<img id="logo" src="{{ cp.resource('app/images/logo.png') }}">

	<p id="version">{{ blocks.fullVersion }}</p>

	<div id="license-keys" class="pane">
		<div class="head">
			<h3>License Keys</h3>
		</div>
		<div class="body">
			<ul class="flush">
				{% foreach blocks.config.licenseKeys as key %}
				<li class="item">{{ key }}</li>
				{% /foreach %}
			</ul>
		</div>
	</div>
	<div class="btn-group">
		<div class="btn"><span class="icon icon44"></span></div>
		<div class="btn disabled"><span class="icon icon45"></span></div>
	</div>
{% /region %}
