{% extends "_layouts/cp" %}
{% set title = "Content Languages"|t %}


{% set main %}
	<header class="titlebar">
		<h1>{{ title }}</h1>
	</header>

	<form method="post" action="">
		<input type="hidden" name="action" value="settings/saveLanguageSettings">
		<input type="hidden" name="redirect" value="settings">

		<div class="field">
			<p>{{ "Which languages will your content be available in?"|t }}</p>

			{% if not selectedLanguages %}
				{% set selectedLanguages = blx.settings.languages %}
			{% endif %}

			{% for language in selectedLanguages %}
				<div class="checkbox"><label>
					<input type="checkbox" name="languages[]" value="{{ language }}" checked>
					{{ blx.localization.localeName(language) }}
				</label></div>
			{% endfor %}

			{% for language in blx.localization.languages %}
				{% if language not in selectedLanguages %}
					<div class="checkbox"><label>
						<input type="checkbox" name="languages[]" value="{{ language }}">
						{{ blx.localization.localeName(language) }}
					</label></div>
				{% endif %}
			{% endfor %}

		</div>

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
			<a class="btn" href="{{ url('settings') }}">{{ "Cancel"|t }}</a>
		</div>
	</form>
{% endset %}
