{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set title = "Packages"|t %}
{% includeJsResource 'js/packages.js' %}
{% includeCssResource 'css/packages.css' %}
{% includeJsFile 'https://js.stripe.com/v1/' %}

{% includeTranslations
	"There was a problem determining which packages you’ve purchased.",
	"Install",
	"Installed!",
	"Uninstall",
	"Uninstalled",
	"Buy",
	"Purchase {package}",
	"{package} purchased successfully!",
	"Try",
	"Trial",
	"Start your 14-day {package} trial?",
	"{days} days left",
	"1 day left"
%}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}

{% set docsUrl = 'http://buildwithcraft.com/docs/packages' %}


{% set localeData = craft.i18n.getLocaleData() %}


{% block main %}
	<div id="packages" class="grid">
		<div class="item" data-colspan="1">
			<div class="pane package" data-package="PublishPro">
				<div class="info">
					<h2>{{ "Publish Pro"|t }}</h2>
					<ul>
						<li>{{ "Structure sections"|t }}</li>
						<li>{{ "Unlimited Single sections"|t }}</li>
						<li>{{ "Unlimited Channel sections"|t }}</li>
						<li>{{ "Entry drafts and versioning"|t }}</li>
						<li>{{ "Section user permissions"|t }}*</li>
					</ul>
				</div>
				<div class="buttons">
					<div class="spinner"></div>
				</div>
			</div>
		</div>
		<div class="item" data-colspan="1">
			<div class="pane package" data-package="Users">
				<div class="info">
					<h2>{{ "Users"|t }}</h2>
					<ul>
						<li>{{ "Multiple user accounts"|t }}</li>
						<li>{{ "User permissions"|t }}</li>
						<li>{{ "User groups"|t }}</li>
						<li>{{ "Public user registration"|t }}</li>
					</ul>
				</div>
				<div class="buttons">
					<div class="spinner"></div>
				</div>
			</div>
		</div>
		<div class="item" data-colspan="1">
			<div class="pane package" data-package="Cloud">
				<div class="info">
					<h2>{{ "Cloud"|t }}</h2>
					<ul>
						<li>{{ "Amazon S3 support"|t }}</li>
						<li>{{ "Rackspace Cloud Files support"|t }}</li>
						<li>{{ "Google Cloud Storage support"|t }}</li>
					</ul>
				</div>
				<div class="buttons">
					<div class="spinner"></div>
				</div>
			</div>
		</div>
		<div class="item" data-colspan="1">
			<div class="pane package" data-package="Rebrand">
				<div class="info">
					<h2>{{ "Rebrand"|t }}</h2>
					<ul>
						<li>{{ "Custom login screen logo"|t }}</li>
						<li>{{ "Custom email notifications"|t }}</li>
					</ul>
				</div>
				<div class="buttons">
					<div class="spinner"></div>
				</div>
			</div>
		</div>
		<div class="item" data-colspan="1">
			<div class="pane package" data-package="Localize">
				<div class="info">
					<h2>{{ "Localize"|t }}</h2>
					<ul>
						<li>{{ "Entry translations"|t }}</li>
						<li>{{ "Global Set translations"|t }}</li>
						<li>{{ "Asset translations" }}**</li>
						<li>{{ "Email message translations"|t }}*</li>
						<li>{{ "Section-locale targeting"|t }}*</li>
						<li>{{ "Locale user permissions"|t }}*</li>
					</ul>
				</div>
				<div class="buttons">
					<div class="spinner"></div>
				</div>
			</div>
		</div>
	</div>

	<p class="light">
		*{{ "Requires a separate package purchase"|t }}<br>
		**{{ "Coming soon"|t }}
	</p>
{% endblock %}

{% set modalHtml -%}
	<form id="ccmodal" class="modal">
		<header class="header"><h1></h1></header>
		<div class="body">

			{{ forms.textField({
				label: "Name on the card"|t,
				id: 'cc-name'
			}) }}

			{{ forms.textField({
				label: "Credit card number"|t,
				id: 'cc-num',
				autocomplete: false
			}) }}

			<div class="left cc-month">
				{% set monthInput %}
					<div class="select">
						<select id="cc-month">
							{% for month in 1..12 %}
								{% set month2 = "%02d"|format(month) %}
								<option value="{{ month2 }}">{{ month2 }} - {{ localeData.getMonthName(month) }}</option>
							{% endfor %}
						</select>
					</div>
				{% endset %}

				{{ forms.field({
					label: "Expiration month"|t,
					id: 'cc-month'
				}, monthInput) }}
			</div>

			<div class="left cc-year">
				{% set yearInput %}
					<div class="select">
						<select id="cc-year">
							{% for year in now.year .. now.year+10 %}
								<option value="{{ year }}">{{ year }}</option>
							{% endfor %}
						</select>
					</div>
				{% endset %}

				{{ forms.field({
					label: "Exp. year"|t,
					id: 'cc-year'
				}, yearInput) }}
			</div>

			<div class="left cc-cvc">
				{{ forms.textField({
					label: "CVC"|t,
					id: 'cc-cvc',
					size: 5,
					autocomplete: false
				}) }}
			</div>

			<div class="clear"></div>

			<p class="secure icon light centeralign">{{ "Your payment is safe and secure with {stripe}."|t({ stripe: '<a href="https://stripe.com/" target="_blank">Stripe</a>' })|raw }}
		</div>
		<footer class="footer">
			<div class="buttons right">
				<div class="btn cancel left">{{ "Cancel"|t }}</div>
				<input type="submit" class="btn submit" value="{{ 'Purchase'|t }}">
				<div class="spinner hidden"></div>
			</div>
		</footer>
	</form>
{%- endset %}


{% set js %}
	Craft.packageChooser = new Craft.PackageChooser({
		modalHtml:    "{{ modalHtml|e('js') }}",
		stripeApiKey: "{{ stripeApiKey|e('js') }}",
		USD:          "{{ localeData.getCurrencySymbol('USD')|e('js') }}"
	});
{% endset %}

{% includeJs js %}
