{% extends "_cp" %}
{% set title = "Plugins"|t %}


{% set header %}
	<h1>{{ title }}</h1>
	<ul class="left">
		<li><a href="{{ url('settings') }}" class="backbtn">{{ "Settings"|t }}</a></li>
	</ul>
{% endset %}


{% set plugins = blx.plugins.getPlugins %}


{% set content %}
	{% if plugins|length %}
		<table id="plugins" class="data">
			<thead>
				<th scope="col">{{ "Plugin"|t }}</th>
				<th scope="col">{{ "Developer"|t }}</th>
				<th scope="col">{{ "Status"|t }}</th>
				<td class="small"></td>
			</thead>
			<tbody>
				{% for plugin in plugins %}
					<tr data-name="{{ plugin.name|t }}">
						<th>{{ plugin.name }} <span class="light">{{ plugin.version }}</span></th>
						<td>{% if plugin.developer %}{{ plugin.developer|raw }}{% else %}<span class="light">--</span>{% endif %}</td>
						<td>
							{% if plugin.isEnabled %}
								<span class="status on"></span> {{ "Enabled"|t }}
							{% elseif plugin.isInstalled %}
								<span class="status off"></span> {{ "Disabled"|t }}
							{% else %}
								<span class="status"></span> <span class="light">{{ "Not installed"|t }}</span>
							{% endif %}
						</td>
						<td class="small rightalign nowrap">
							<form action="" method="post">
								<input type="hidden" name="pluginClass" value="{{ plugin.classHandle }}">
								<div class="btngroup small">
									{% if plugin.isInstalled %}
										{% if plugin.isEnabled %}
											<input type="button" value="{{ 'Disable'|t }}" class="btn formsubmit" data-action="plugins/disablePlugin">
										{% else %}
											<input type="button" value="{{ 'Enable'|t }}" class="btn formsubmit" data-action="plugins/enablePlugin">
										{% endif %}
										<input type="button" value="{{ 'Uninstall'|t }}" class="btn formsubmit" data-action="plugins/uninstallPlugin">
									{% else %}
										<input type="button" value="{{ 'Install'|t }}" class="btn formsubmit" data-action="plugins/installPlugin">
									{% endif %}
								</form>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>{{ "There are no available plugins."|t }}
	{% endif %}
{% endset %}
