{% layout 'settings/_layouts/settings' %}

{% region pageTitle %}Manage Plugins{% /region %}
{% region bodyClass %}plugins{% /region %}

{% region main %}
	<div class="data">
		<table class="zebra">
			<thead>
				<tr>
					<th>Plugin</th>
					<th>Description</th>
					<th>Version</th>
					<th class="status">Status</th>
					<th class="action" style="width: 42px">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="">Brilliant Retail</a></td>
					<td>Complete e-commerce solution for Blocks CMS</td>
					<td>1.0.3.0</td>
					<td><!--#include virtual="/-includes/switch.shtml"--></td>
					<td><!--#include virtual="-includes/plugins-actions.shtml"--></td>
				</tr>
				<tr>
					<td><a href="">CE Image</a></td>
					<td>On the fly image manipulation</td>
					<td>2.1.3</td>
					<td><!--#include virtual="/-includes/switch.shtml"--></td>
					<td><!--#include virtual="-includes/plugins-actions.shtml"--></td>
				</tr>
				<tr>
					<td><a href="">Freeform</a></td>
					<td>Create simple and flexible forms</td>
					<td>3.1.0</td>
					<!--#set var="switchEnabled" value="no"-->
					<td><!--#include virtual="/-includes/switch.shtml"--></td>
					<!--#set var="switchEnabled" value="yes"-->
					<td><!--#include virtual="-includes/plugins-actions.shtml"--></td>
				</tr>
				<tr>
					<td><a href="">Tag</a></td>
					<td>Tag your pages</td>
					<td>4.0.1</td>
					<td><!--#include virtual="/-includes/switch.shtml"--></td>
					<td><!--#include virtual="-includes/plugins-actions.shtml"--></td>
				</tr>
				<tr class="uninstalled">
					<td>Wygwam</td>
					<td>WYSIWYG block type powered by CKEditor</td>
					<td>2.3.1</td>
					<td></td>
					<!--#set var="pluginInstalled" value="no"-->
					<td><!--#include virtual="-includes/plugins-actions.shtml"--></td>
					<!--#set var="pluginInstalled" value="yes"-->
				</tr>
			</tbody>
		</table>
	</div>
{% /region %}
