{layout "settings/_layouts/settings" title="URL Routing"}

{region "main"}
	<p>If an incoming request’s URL doesn’t match a page or a template, these “routes” are Blocks’ last resort before responding with a 404. A route basically says, <i>“If the URL looks like <em>this</em>, then return <em>that</em>.”</i></p>
	<p>Each route is composed of a pattern which Blocks compares the URL with, and the template to load if it’s a match. Patterns usually contain “vars” that could match a range of different things, and Blocks makes their matches available as template variables.</p>

	<table class="pane">
		<thead>
			<tr>
				<th class="pane-head" scope="col">URL Pattern</th>
				<th class="pane-head" scope="col">Template</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span class="site">http://pixelandtonic.com/</span>blog/archive/<span class="var">year</span></td>
				<td>blog/archive/-year</td>
			</tr>
			<tr>
				<td><span class="site">http://pixelandtonic.com/</span>blog/archive/<span class="var">year</span>/<span class="var">month</span></td>
				<td>blog/archive/-month</td>
			</tr>
			<tr>
				<td><span class="site">http://pixelandtonic.com/</span>blog/tag/<span class="var">tag</span></td>
				<td>blog/-tag</td>
			</tr>
			<tr>
				<td><span class="site">http://pixelandtonic.com/</span>blog/p<span class="var">pp</span></td>
				<td>blog/index</td>
			</tr>
			<tr>
				<td><span class="site">http://pixelandtonic.com/</span>gallery/<span class="var">offset</span></td>
				<td>gallery/index</td>
			</tr>
		</tbody>
	</table>

	<div class="btn-group">
		<div class="btn"><span class="icon icon44"></span></div>
		<div class="btn disabled"><span class="icon icon45"></span></div>
	</div>
{/region}
