{% set title = "Routes" %}
{% extends "_layouts/cp" %}


{% block styles %}
	{% include "_includes/css_include" with {'file': "styles/routes.css"} %}
{% endblock %}


{% block main %}
	<header class="titlebar">
		<h1>Routes</h1>
		<ul class="right">
			<li><div id="add-route-btn" class="btn addbtn">New Route</div></li>
		</ul>
	</header>

	<div id="routes">
		{% for route in blx.routes.all %}
			<div class="pane route" data-id="{{ route.id }}">
				<div class="url">
					{%- autoescape false -%}
						{{ route.urlDisplayHtml }}
					{%- endautoescape -%}
				</div>
				<div class="template">{{ route.template }}</div>
			</div>
		{% endfor %}
	</div>

	<div class="buttons">
		<a class="btn" href="{{ blx.url.base }}settings">Done</a>
	</div>
{% endblock %}


{% block scripts %}
	{% include "_includes/js_include" with {'file': "routes.js"} %}
{% endblock %}
