{% layout 'settings/_layouts/settings' %}

{% region pageTitle %}Updates{% /region %}
{% region bodyClass %}updates{% /region %}

{% region main %}
	<div id="checking">
		Checking for updates…
	</div>

	<div id="updates">
		<div id="update-all" class="btn big"><span class="label">Update all</span></div>
		<h3>The following updates are available:</h3>

		<div class="update">
			<div class="bar">
				<div class="name">Blocks Standard <strong>1.1</strong></div>
				<div class="btn"><span class="label">Update</span></div>
				<a class="notes-toggle">Show release notes</a>
			</div>
			<div class="notes">
				<h5>Blocks 1.1</h5>
				<ul>
					<li>Added a Plugin Store tab to the Control Panel.</li>
					<li>Added a new global search input to the nav bar.</li>
					<li>Plugins can now add new sections to the Control Panel.</li>
				</ul>

				<h5>Blocks 1.0 build 218</h5>
				<ul>
					<li>Fixed a caching issue with the Feed widget.</li>
				</ul>
			</div>
		</div>

		<div class="update">
			<div class="bar">
				<div class="name">Wygwam <strong>1.1</strong></div>
				<div class="btn"><span class="label">Update</span></div>
				<a class="notes-toggle">Show release notes</a>
			</div>
			<div class="notes">
				<h5>Wygwam 1.1</h5>
				<ul>
					<li>Added file browsing and uploading support.</li>
					<li>Made it possible to toggle individual toolbar buttons.</li>
					<li>Added a field height setting.</li>
				</ul>
			</div>
		</div>

		<div class="update">
			<div class="bar">
				<div class="name">Brilliant Retail <strong>1.0.2</strong></div>
				<div class="btn"><span class="label">Update</span></div>
				<a class="notes-toggle">Show release notes</a>
			</div>
			<div class="notes">
				<h5>Wygwam 1.1</h5>
				<ul>
					<li>Added file browsing and uploading support.</li>
					<li>Made it possible to toggle individual toolbar buttons.</li>
					<li>Added a field height setting.</li>
				</ul>
			</div>
		</div>
	</div>
{% /region %}

{% region scripts %}
	{{ cp.resource('app/scripts/updates.js').js }}
{% /region %}
