{% import "_includes/forms" as forms %}

<div id="authenticator-settings">
    <h2>{{ 'Manage multi-factor authentication with an authenticator app'|t('app') }}</h2>
    {% if isSecureConnection %}
        {% if user.hasAuthenticatorSecret %}
            <p> {{ 'An authenticator has already been set up.'|t('app') }}</p>
            <button type="button" id="remove-authenticator" class="btn submit formsubmit">{{ 'Remove the authenticator'|t('app') }}</button>
        {% else %}
            {% if user.getIsCurrent() %}
                <img alt="Authenticator code" src="{{ qrAuthenticatorCode }}" style="width: auto;"/><br />
                <label> {{ 'Scan the QR code with your authenticator and enter the generated code to finish the setup'|t('app') }}</label>
                {{ forms.textField({
                    label: "Verification code"|t('app'),
                    id: 'authenticator-code',
                    name: 'authenticator-code',
                    errors: user.getErrors('authenticator'),
                    value: null,
                    required: false,
                    type: 'name'
                }) }}

                <button type="button" id="update-authenticator" class="btn submit formsubmit">{{ 'Add an authenticator'|t('app') }}</button>
            {% else %}
                <div class="error">{{ 'Unable to add authenticator to other users'|t('app')}}</div>
            {% endif %}
        {% endif %}
        <div id="authenticator-status" class="authentication-setup-status"></div>
    {% else %}
        <p>{{ 'A secure connection is required to manage an authenticator app'|t('app') }}
    {% endif %}
</div>
