{% layout "_layouts/full" pageTitle="Dashboard" %}

{% region "styles" %}
	{% include "_includes/css_include" file="styles/dashboard.css" %}
{% endregion %}

{% region "main" %}
	<div class="toolbar">
		<div class="right">
			<div id="sidebar-btn" class="btn">
				<span class="icon icon265"></span>
			</div>
		</div>
	</div>

	<div id="alerts">
		{% if !config.licenseKeys %}
			<div class="alert">
				<p>You need to enter your license key into your <a href="{url.base}settings/info">System Info</a> page.</p>
			</div>
		{% endif %}

		{% foreach dashboard.alerts as alert %}
			<div class="alert">
				<p>{alert}</p>
			</div>
		{% endforeach %}
	</div>

	<div id="dashboard">
		<div id="widgets">
			{% foreach dashboard.widgets as widget %}
				{% if widget.displayBody %}
					<div id="widget{widget.id}" class="pane widget {widget.className}">
						<div class="head">
							{% if widget.displaySettings %}
								<a class="settings-btn" title="Settings"></a>
							{% endif %}
							<h5>{widget.title}</h5>
						</div>
						{% if widget.displaySettings %}
							<div class="settings-outer-container"><div class="settings-inner-container">
								<div class="settings">
									{widget.displaySettings}
									<div class="buttons">
										<a class="btn submit"><span class="label">Save</span></a>
										<a class="btn cancel"><span class="label">Cancel</span></a>
									</div>
								</div>
							</div></div>
						{% endif %}

						{widget.displayBody}
					</div>
				{% endif %}
			{% endforeach %}
		</div>

		<div id="dashboard-sidebar" class="sidebar">
			<div class="pane">
				<div class="head">
					<h6>Widget Order</h6>
				</div>
				<div class="body">
					<ul class="widget-handles">
						{% foreach dashboard.widgets as widget %}
						<li class="item {% if !widget.displayBody %}hidden{% endif %}" data-widget-id="widget{widget.id}">
							<span class="grab"></span><span class="title">{widget.title}</span><a class="remove" title="Remove"></a>
						</li>
						{% endforeach %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endregion %}

{% region "scripts" %}
	{% if !updates.isUpdateInfoCached %}
		<script type="text/javascript">
			window.getAlerts = true;
			window.getAlertsUrl = '{url.generateActionUrl('dashboard/getalerts')}';
		</script>
	{% endif %}

	{% include "_includes/js_include" file="dashboard.js" %}
{% endregion %}
