{layout "_layouts/cp" pageTitle="Dashboard"}

{region "styles"}
	{include "_includes/css_include" file="styles/dashboard.css"}
{/region}


{region "main"}
	<h1>Dashboard</h1>

	<div id="alerts">
		{if !b.sites.licensekeys}
			<div class="alert">
				<p>You need to enter your license key into your <a href="{:b.url.base}settings/info">System Info</a> page.</p>
			</div>
		{/if}

		{foreach b.dashboard.alerts as alert}
			<div class="alert">
				<p>{:alert}</p>
			</div>
		{/foreach}
	</div>

	<?php
		// Divvy the widgets up between the columns
		$colWidgets = array();
		$totalColumns = 2;
		$column = -1;
		foreach ($b->dashboard->widgets->__toArray() as $widget)
		{
			if ($column < $totalColumns-1)
				$column++;
			else
				$column = 0;
			$colWidgets[$column][] = new Variable($widget);
		}
		$colWidgets = new Variable($colWidgets);
	?>

		<div id="widgets" class="grid">
			{foreach colWidgets as widgets}
				<div class="col col50"><div class="col-inner">
					{foreach widgets as widget}
						{if widget.displayBody}
							<div id="widget{:widget.id}" class="widget {:widget.classHandle}">
								<h2>{:widget.title}</h2>
								{if widget.getActionButtons || widget.displaySettings}
									<div class="actions">
										{foreach widget.getActionButtons as label => url}
											<a href="{:b.url.url(url)}" class="btn light">{:label}</a>
										{/foreach}
										<a class="btn light">Settings</a>
									</div>
								{/if}
								{!--if widget.displaySettings}
									<div class="settings-outer-container"><div class="settings-inner-container">
										<div class="settings">
											{:widget.displaySettings}
											<div class="buttons">
												<a class="btn submit"><span class="label">Save</span></a>
												<a class="btn cancel"><span class="label">Cancel</span></a>
											</div>
										</div>
									</div></div>
								{/if--}

								{:widget.displayBody}
							</div>
						{/if}
					{/foreach}
				</div></div>
			{/foreach}
		</div>
	</div>
{/region}

{!--
{region "scripts"}
	{if !b.updates.cached}
		<script type="text/javascript">
			window.getAlerts = true;
			window.getAlertsUrl = '{:b.url.action("dashboard/getalerts")}';
		</script>
	{/if}

	{include "_includes/js_include" file="dashboard.js"}
{/region}
--}
