{% layout '_layouts/full' %}

{% region pageTitle %}Dashboard{% /region %}
{% region styles %}{{ cp.resource('app/styles/dashboard.css').css }}{% /region %}

{% region main %}
	{% if cp.noLicenseKey %}
		<div class="alert pane">
			<p>You need to enter your license key into {{ config.blocksConfigPath }}. <a href="">See how</a></p>
		</div>
	{% elseif cp.badLicenseKey %}
		<div class="alert pane">
			<p>The license key you’re using isn’t authorized to run Blocks {{ config.blocksEdition }} on {{ url.domain }}. <a href="">Manage my licenses</a></p>
		</div>
	{% /if %}

	{% if cp.criticalUpdateAvailable %}
		<div class="alert pane">
			<p>There is a critical update for Blocks available. <a href="">Update now</a></p>
		</div>
	{% /if %}

	<div id="dashboard">
		<a id="sidebar-btn" class="settings-btn" title="Customize"></a>

		<div id="widgets">
			{% foreach cp.dashboard.widgets as widget %}
				{% if widget.body %}
					<div id="widget{{ widget.id }}" class="pane widget {{ widget.classname }}">
						<div class="head">
							{% if widget.settings %}
								<a class="settings-btn" title="Settings"></a>
							{% /if %}
							<h3>{{ widget.title }}</h3>
						</div>
						{% if widget.settings %}
							<div class="settings-outer-container"><div class="settings-inner-container">
								<div class="settings">
									{{ widget.settings }}
									<div class="buttons">
										<a class="btn submit"><span class="label">Save</span></a>
										<a class="btn cancel"><span class="label">Cancel</span></a>
									</div>
								</div>
							</div></div>
						{% /if %}
						<div class="body">
							{{ widget.body }}
						</div>
					</div>
				{% /if %}
			{% /foreach %}
		</div>

		<div id="sidebar">
			<ul class="widget-handles">
				{% foreach cp.dashboard.widgets as widget %}
					<li class="pane {% if !widget.body %}hidden{% /if %}" data-widget-id="widget{{ widget.id }}">
						<div class="head"><span class="grab"></span>{{ widget.title }}<a class="remove" title="Remove"></a></div>
					</li>
				{% /foreach %}
			</ul>
		</div>
	</div>
{% /region %}

{% region scripts %}
	{{ cp.resource('app/scripts/ui/Drag.js').js }}
	{{ cp.resource('app/scripts/ui/DragSort.js').js }}
	{{ cp.resource('app/scripts/dashboard.js').js }}
{% /region %}
