{% set title = "Dashboard Settings"|t %}
{% extends "_layouts/cp" %}


{% block styles %}
	{#include "_includes/css_include" file="styles/dashboard-settings.css"#}
{% endblock %}


{% block main %}
	<h1>{{ title }}</h1>

	<form method="post" action="">
		<input type="hidden" name="action" value="dashboard/saveSettings">
		<input type="hidden" name="redirect" value="dashboard">

		<h3>{{ "My Widgets"|t }}</h3>
		<div id="widgetadmin" class="pane inset adminpane" data-input-name="widgets">
			<div class="list">
				<ul>
					{% for widget in blx.dashboard.userwidgets %}
						<li class="item" data-item-id="{{ widget.id }}">
							<div class="name">{{ widget.title }}</div>
							<div class="type">{{ widget.name }}</div>
							<input type="hidden" name="widgets[order][]" value="{{ widget.id }}">
							<input type="hidden" name="widgets[{{ widget.id }}][class]" value="{{ widget.classHandle }}">
						</li>
					{% endfor %}
				</ul>

				<div class="btn menubtn">{{ "Add a widget"|t }}</div>
				<div class="menu" style="display:none">
					<ul>
						{% for widget in blx.dashboard.allwidgets %}
							<li data-widget-class="{{ widget.classHandle }}" data-widget-title="{{ widget.title }}">{{ widget.name }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="settings">
				{% for widget in blx.dashboard.userwidgets %}
					{% set idPrefix = "widgets-" ~ widget.id %}
					{% set namePrefix = "widgets[" ~ widget.id ~ "][settings" %}
					<div data-item-id="{{ widget.id }}" style="display:none">
						{{ widget.displaySettings(idPrefix, namePrefix) }}

						<div class="buttons">
							<div class="btn done">{{ "Done"|t }}</div>
							<div class="btn red delete">{{ "Delete this widget"|t }}</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="freshsettings" style="display:none">
				<div class="buttons">
					<div class="btn done">{{ "Done"|t }}</div>
					<div class="btn red delete">{{ "Delete this widget"|t }}</div>
				</div>
			</div>
		</div>

		<div class="buttons">
			<input type="submit" value="{{ 'Save settings'|t }}" class="btn big submit">
		</div>

	</form>

	{% set newIdPrefix = "widgets-ITEM_ID-" %}
	{% set newNamePrefix = "widgets[ITEM_ID][settings]" %}
	{% for widget in blx.dashboard.allwidgets %}
		{% set settings = widget.displaySettings(newIdPrefix, newNamePrefix) %}
		{% if settings %}
			<div id="freshwidgetsettings-{{ widget.classHandle }}" style="display:none">
				{{ settings }}
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}


{% block scripts %}
	{% include "_includes/js_include" with {'file': "dashboard-settings.js"} %}
{% endblock %}
