@charset "UTF-8";
@import '../../../../../packages/craftcms-sass/mixins';

#graphic {
  display: block;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  margin-inline: -24px 0;
  margin-block: -48px 0;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &.error {
    background-image: url('images/error.png');
  }

  &.success {
    background-image: url('images/success.png');
  }
}

#status {
  position: absolute;
  inset-block-start: 50%;
  margin-block-start: 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: var(--gray-500);

  #error {
    margin-block: 24px;
    margin-inline: auto;
    border-radius: 3px;
    border: 1px solid var(--hairline-color);
    padding: 24px;
    width: 600px;
    max-width: calc(100% - 96px);
    max-height: 100px;
    overflow: auto;
    text-align: start;
  }
}

#options {
  margin: 0;
  display: inline-flex;

  .btn {
    float: none !important;
  }
}

@media only screen and (resolution >= 1.5dppx) {
  #graphic {
    &.error {
      background-image: url('images/error_2x.png');
      background-size: 48px;
    }

    &.success {
      background-image: url('images/success_2x.png');
      background-size: 48px;
    }
  }
}
