ul.categories {
  @apply -mx-6;

  li {
    position: relative;

    &:before,
    &:last-child:after {
      @apply absolute left-0 right-0;
      content: '';
    }

    &:before {
      @apply top-0;
    }

    &:last-child:after {
      @apply bottom-0;
    }

    a {
      @apply block relative px-6 py-2 text-gray-900;

      img {
        @apply align-middle mr-2;
        width: 24px;
      }

      &:hover {
        @apply no-underline z-10;
        background-color: $grey100;

        &:not(.router-link-active) {
          color: $linkColor;
        }
      }

      &.router-link-active {
        background-color: $grey200;
      }
    }
  }
}
