ul.categories {
  @apply tw--mx-6;

  li {
    position: relative;

    &:before,
    &:last-child:after {
      @apply tw-absolute tw-left-0 tw-right-0;
      content: '';
    }

    &:before {
      @apply tw-top-0;
    }

    &:last-child:after {
      @apply tw-bottom-0;
    }

    a {
      @apply tw-block tw-relative tw-px-6 tw-py-2 tw-text-gray-900;

      img {
        @apply tw-align-middle tw-mr-2;
        width: 24px;
      }

      &:hover {
        @apply tw-no-underline tw-z-10;
        background-color: $grey100;

        &:not(.router-link-active) {
          color: $linkColor;
        }
      }

      &.router-link-active {
        background-color: $grey200;
      }
    }
  }
}
