.ps-grid-plugins {
  @apply tw-flex tw-flex-wrap tw--mx-4;
  box-sizing: border-box;

  .ps-grid-box {
    @apply tw-w-full;
    box-sizing: border-box;

    .plugin-card {
      @apply tw-mx-4;

      .plugin-icon {
        @apply tw-shrink-0;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .ps-grid-plugins {
    .ps-grid-box {
      @apply tw-w-1/2;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .ps-grid-plugins {
    .ps-grid-box {
      @apply tw-w-1/3;
    }
  }
}

@media only screen and (min-width: $minLargeScreenWidth) {
  .ps-grid-plugins {
    .ps-grid-box {
      @apply tw-w-1/4;
    }
  }
}
