@charset "UTF-8";
@import "@craftcms/sass/mixins";

#main-container #main #main-content #content-container #content {
  display: flex;
  padding: 0;
  min-height: 400px;
}

.ps-wrapper {
  @apply tw-flex tw-flex-1 tw-flex-col;
  padding-bottom: 0 !important;

  .ps-sidebar {
    @apply tw-px-6 tw-py-6 tw-w-full;
    background-color: $grey050;
    @include border-radius($largeBorderRadius, 0, 0, $largeBorderRadius);
  }

  .ps-main {
    @apply tw-flex-1 tw-overflow-auto tw-flex;

    .ps-container {
      @apply tw-flex-1 tw-max-w-screen-xl tw-mx-auto;
    }
  }
}

.ps-container {
  @apply tw-px-10 tw-py-6;
}

@media only screen and (min-width: 975px) {
  .ps-wrapper {
    @apply tw-flex-row;

    .ps-sidebar {
      @apply tw-border-b-0 tw-border-r tw-overflow-auto tw-w-60;

      .categories {
        display: block;
      }
    }
  }
}
