@charset "UTF-8";
@import '@craftcms/sass/mixins';

#main-container #main #main-content #content-container #content {
  display: flex;
  padding: 0;
  min-height: 400px;
}

a {
  @apply tw-text-blue-600;
}

.ps-wrapper {
  @apply tw-flex tw-flex-1 tw-flex-col;
  @apply lg:tw-flex-row;
  padding-block-end: 0 !important;

  .ps-sidebar {
    @apply tw-px-6 tw-py-6 tw-w-full;
    background-color: var(--gray-050);
    border-start-start-radius: var(--large-border-radius);
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-end-start-radius: var(--large-border-radius);
    @apply lg:tw-border-b-0 lg:tw-border-r lg:tw-overflow-auto lg:tw-w-64;

    .categories {
      @apply lg:tw-block;
    }
  }

  .ps-main {
    @apply tw-flex-1 tw-overflow-auto;

    .ps-container {
      @apply tw-flex-1 tw-max-w-screen-xl tw-mx-auto;
    }
  }
}

.ps-container {
  @apply tw-px-10 tw-py-6;
}
