/* GlobalModal */

.globalmodal {
  max-width: 850px;
  max-height: 650px;

  .globalmodalcontent {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    header {
      .btn-left {
        position: absolute;
        top: 28px;
        left: 24px;
      }

      h1 {
        text-align: center;
      }
    }

    .body {
      position: relative;
      display: flex;
      flex-grow: 1;

      .content {
        margin: -24px;
        padding: 24px;
        overflow: auto;
        flex-grow: 1;
      }
    }
  }
}


/* Payment */

.payment {
  .blocks {
    display: flex;
    margin: 0 -20px;

    .block {
      flex-grow: 1;
      padding: 0 20px;
      width: 50%;
    }
  }

  .multiselectrow {
    display: flex;
    .input {
      width: 50%;
      .select {
        width: 100%;
        select {
          width: 100%;
        }
      }
    }
  }
}


/* Thank You */

#thank-you {
  width: 320px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -160px;
  text-align: center;

  h2 {
    margin-top: 24px;
  }

  #graphic {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}