.ps-grid-wrapper {
  @apply .tw-flex;

  .ps-grid-sidebar {
    @apply .tw-w-1/5;
    margin-right: 40px;
  }

  .ps-grid-main {
    @apply .tw-flex-1;
  }
}

.ps-grid-plugins {
  @apply .tw-flex .tw-flex-wrap;
  box-sizing: border-box;
  margin: 0 -10px;

  .ps-grid-box {
    @apply .tw-w-1/3;
    box-sizing: border-box;
    margin-bottom: 20px;

    .plugin-card {
      margin: 0 10px;

      .plugin-icon {
        @apply .tw-flex-no-shrink;
      }
    }
  }

  &.ps-grid-plugins-4 {
    .ps-grid-box {
      @apply .tw-w-1/4;
    }
  }
}

@media only screen and (max-width: $minFullUiWidth - 1px) {
  .psd-grid-box {
    &.ps-grid-plugins-4 {
      .ps-grid-box {
        @apply .tw-w-1/3;
      }
    }
  }
}

@media only screen and (min-width: $minLargeScreenWidth) {
  .ps-grid-plugins {
    .ps-grid-box {
      @apply .tw-w-1/4;
    }

    &.ps-grid-plugins-4 {
      .ps-grid-box {
        @apply .tw-w-1/5;
      }
    }
  }
}

@media only screen and (max-width: $minHorizontalUiWidth - 1px) {
  .ps-grid-wrapper.has-sidebar {
    .ps-grid-box {
      @apply .tw-w-full;
    }
  }

  .ps-grid-plugins {
    .ps-grid-box {
      @apply .tw-w-1/2;
    }
  }
}

@media only screen and (max-width: 673px) {
  .ps-grid-plugins {
    .ps-grid-box {
      @apply .tw-w-full;
    }
  }
}