/*
#header {
  display: none !important;
}
*/

#main-container #main #main-content #content-container #content {
  display: flex;
  padding: 0;
}

.ps-wrapper {
  @apply .flex .flex-1;

  .ps-sidebar {
    @apply .max-w-sm .bg-grey-lightest .px-6 .py-6 .overflow-auto;
  }

  .ps-main {
    @apply .flex-1 .overflow-auto .flex;

    .ps-container {
      @apply .flex-1;
    }
  }
}

.ps-container {
  @apply .px-8 .py-6;
}