@charset "UTF-8";
@import "../../../../../../lib/craftcms-sass/mixins";

$sidebarWidth: 225px;
$detailsWidth: 350px;
$minFullUiWidth: 1224px;
$minHorizontalUiWidth: $minFullUiWidth - $sidebarWidth;
$minLargeScreenWidth: 1824px;

#main-container {
  position: relative;
}

.stripe-card-form {
  margin-bottom: 24px;
}

.stripe-card {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px;
  max-width: 390px;

  &.error {
    border-color: #da5a47;
  }
}

#main-content #content {
  position: relative;
}

.main-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.license-status {
  &:before {
    border: 1px solid;
    border-radius: 9px;
    width: 17px;
    height: 17px;
    line-height: 17px;
    margin-right: 5px;
  }

  &.installed {
    color: $successColor;

    &:before {
      border-color: $successColor;
    }
  }

  &.licensed {
    color: $noticeColor;

    &:before {
      border-color: $noticeColor;
    }
  }
}

.input.success input {
  border-color: $successColor;
}

.input.errors .select:not(.selectize) select {
  box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px $errorColor, 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Plugin Store actions */

#pluginstore-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    margin-left: 18px !important;
  }

  #cart-button {
    svg {
      display: inline-block;
      width: 18px;
      height: 18px;
      vertical-align: middle;
      line-height: 0;
      margin-right: 3px;
    }

    svg {
      @include svg-mask($secondarySubmitColor);
    }

    &:hover svg {
      @include svg-mask($secondarySubmitHoverColor);
    }

    .badge {
      @include margin(0, 0, 0, -6px);
      position: relative;
      top: -1px;
      display: inline-block;
      flex-shrink: 1;
      padding: 0 6px;
      font-size: 11px;
      line-height: 16px;
      border-radius: 1em;
      background: $submitColor;
      color: #fff;
      box-shadow: 0 0 0 2px $bgColor;
    }
  }

  #craftid-account {
    &:hover {
      text-decoration: none;
    }

    .photo {
      svg {
        margin-right: 2px;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        vertical-align: middle;
      }
    }

    &:hover .label {
      text-decoration: underline;
    }
  }

  #craftid-connect-form {
    .ssl-status {
      display: inline-block;
    }
  }
}


/* Graphic & Status */

#content {
  #graphic {
    display: block;
    margin: 200px auto 0;

    &.success {
      background-image: url(../images/success.png);
    }

    &.error {
      background-image: url(../images/error.png);
    }
  }

  #status {
    margin: 20px auto 250px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #666;
  }
}

/* Grids */

.ps-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

.ps-grid-wrapper.has-sidebar {
  grid-template-columns: 1fr 4fr;
}

.ps-grid-plugins {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  color: #444;
  margin-bottom: 20px;
}

.ps-grid-plugins-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ps-grid-box {
  background-color: #fff;
  overflow: hidden;
}

@media only screen and (max-width: $minFullUiWidth - 1px) {
  .ps-grid-plugins-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: $minLargeScreenWidth) {
  .ps-grid-plugins {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .ps-grid-plugins-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

// Rearrange #main-content to flow vertically at < 999
@media only screen and (max-width: $minHorizontalUiWidth - 1px) {
  .ps-grid-wrapper.has-sidebar {
    grid-template-columns: 1fr;
  }
  .ps-grid-plugins {
    grid-template-columns: 1fr 1fr;
  }
  .ps-grid-plugins-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 673px) {
  .ps-grid-plugins {
    grid-gap: 10px;
  }

  .ps-grid-plugins {
    grid-template-columns: 1fr;
  }
  .ps-grid-plugins-4 {
    grid-template-columns: 1fr;
  }
}


/* Install */

#thank-you {
  width: 320px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -160px;
  text-align: center;
}

#thank-you h2 {
  margin-top: 24px;
}

#install {
  text-align: center;
  padding: 48px;
}

#graphic {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &.error {
    background-image: url(../images/error.png);
  }

  &.success {
    background-image: url(../images/success.png);
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
  #graphic {
    &.error {
      background-image: url(../images/error_2x.png);
      background-size: 48px;
    }
    &.success {
      background-image: url(../images/success_2x.png);
      background-size: 48px;
    }
  }
}


/* Categories */

ul.categories {
  li {
    position: relative;

    &:before,
    &:last-child:after {
      position: absolute;
      border-top: 1px solid #eee;
      content: '';
      left: 0;
      right: 0;
    }

    &:before {
      top: 0;
    }

    &:last-child:after {
      bottom: 0;
    }

    a {
      display: block;
      position: relative;
      padding: 10px;
      padding-left: 31px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;

      img {
        position: absolute;
        top: 7px;
        left: 0;
        width: 24px;
      }

      &:hover {
        text-decoration: none;
        z-index: 1;
        background: #fafafa;
        border-color: #eee;
      }
    }
  }

  li:hover+li:before {
    border-color: transparent;
  }
}

/* Category Selector */

.category-selector-btn {
  display: none;
  background: $lightBgColor;
  border: 1px solid $hairlineColor;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 24px;
  position: relative;
  color: $secondarySubmitColor;

  &:before {
    @include icon;
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
    font-size: 16px;
    width: 43px;
    line-height: 20px;
    content: 'downangle';
  }

  &:hover {
    text-decoration: none;
  }
}

.category-selector {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
  width: 100vw;
  height:100vh;
  box-sizing: border-box;

  .category-selector-header {
    a {
      padding: 14px 24px;
      display: block;
      color: #000;
      background: #fafafa;
      border-bottom: 1px solid #eee;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .category-selector-body {
    overflow: auto;
    height: 100%;
    box-sizing: border-box;

    ul.categories {
      li {
        &:first-child a {
          border-top: 0;
        }

        &:first-child:before {
          display: none;
        }

        &:before,
        &:after {
          left: 1rem;
          right: 1rem;
        }

        a {
          padding-left: 55px;

          img {
            left: 24px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $minHorizontalUiWidth - 1px) {
  .category-selector-btn {
    display: block;
  }

  .category-selector {
    display: flex;
  }

  .categories-wrapper {
    display: none;
  }
}


/* Cart */

.cart-review {
  padding: 24px;
  border: 1px solid #eee;
  margin-top: 24px;

  table {
    th,
    td {
      padding: 3px 0;
      font-size: 1.2em;
    }

    th {
      width: 100px;
    }
  }
}


/* CreditCard */

.credit-card {
  margin: 24px 0;
}


/* GlobalModal */

.globalmodal {
  max-width: 850px;
  max-height: 650px;

  .globalmodalcontent {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    header {
      .btn-left {
        position: absolute;
        top: 28px;
        left: 24px;
      }

      h1 {
        text-align: center;
      }
    }

    .body {
      position: relative;
      display: flex;
      flex-grow: 1;

      .content {
        margin: -24px;
        padding: 24px;
        overflow: auto;
        flex-grow: 1;
      }
    }
  }
}

/* Payment */

.payment {
  .blocks {
    display: flex;
    margin: 0 -20px;

    .block {
      flex-grow: 1;
      padding: 0 20px;
      width: 50%;
    }
  }

  .multiselectrow {
    display: flex;
    .input {
      width: 50%;
      .select {
        width: 100%;
        select {
          width: 100%;
        }
      }
    }
  }
}


/* PluginCard */

.plugin-card {
  display: flex;
  padding: 20px;
  border: 1px solid #E3E5E8;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;

  &:hover {
    cursor: pointer;
    background: #fafafa;
  }

  .plugin-icon {
    margin-right: 14px;
  }

  .installed {
    position: absolute;
    top: 14px;
    right: 18px;
    color: #ccc;
  }
}

.ps-grid-plugins {
  .plugin-card {
    height: 100%;
  }
}

.plugin-icon,
.plugin-icon img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.plugin-icon-large,
.plugin-icon-large img {
  width: 72px;
  height: 72px;
  border-radius: 6px;
}

.plugin-icon .default-icon {
  display: inline-block;
  background: #eee;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 4px;
}


/* PluginDetails */

.plugin-details {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;

  .plugin-details-header {
    flex-shrink: 0;
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 24px;

    .plugin-icon-large {
      margin-right: 14px;
    }

    .description {
      flex-grow: 1;
      margin-left: 14px;
    }

    .description h2 {
      margin-bottom: 10px;
    }

    .description p {
      margin: 0.4em 0;
    }

    .buttons {
      @include margin(0, 0, 0, 24px);
      white-space: nowrap;

      a {
        margin-left: 7px;
      }

      .license-status {
        margin-top: 6px;
        margin-right: 14px;
      }
    }
  }

  .plugin-details-body {
    flex-grow: 1;
    display: flex;
    position: relative;
    min-height: 0;

    .plugin-details-loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .plugin-description {
      flex-grow: 1;
      min-width: 0;
      padding: 24px;
      overflow: auto;

      img {
        max-width: 100%;
      }

      pre {
        background: #eee;
        padding: 24px;
        overflow: auto;
      }
    }

    .plugin-sidebar {
      flex: 0 0 260px;
      width: 260px;
      background: #fafafa;
      border-left: 1px solid #eee;
      overflow: auto;

      .plugin-meta {
        /*border: 1px solid #eee;*/
        border-radius: 4px;
        padding: 24px;

        ul.plugin-meta-data {
          border-bottom: 1px solid #eee;
          margin-bottom: 14px;

          li {
            display: flex;
            border-bottom: 1px solid #eee;
            padding: 7px 0;

            &:last-child {
              border-bottom: 0;
            }

            & span,
            & strong {
              flex-grow: 1;
            }

            & strong {
              text-align: right;
            }
          }
        }

        ul.plugin-meta-links li {
          padding: 7px 0;
        }
      }
    }

    .screenshots {
      margin-top: 24px;

      img {
        width: 100%;
        margin-bottom: 24px;
      }
    }
  }
}

/* PluginSearch */

#container {
  position: static !important; /* #container hack required for modal overlays */
}

/* Developer */

.developer-card {
  text-align:center;

  .spinner {
    margin-top: 48px;
  }

  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: #fafafa;
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 12px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  ul.links {
    margin-top: 36px;

    li {
      margin-bottom: 1em;

      a {
        display: block;
      }
    }
  }
}

/* upgrade modal */
#upgrade-craft {
  .logo {
    margin: 0 auto 24px !important;
    font-weight: 500;
    font-size: 18px;
    color: $submitColor;
    letter-spacing: 3.3px;
    line-height: 14px;
    border: 1px solid $submitColor;
    border-radius: 3px;
    padding: 10px 6.7px 9px 10px;
    text-transform: uppercase;
    display: inline-block;
  }
}

#upgrade-craft-compare table {
  table-layout: fixed;

  th,
  td {
    width: 33.33%;
  }

  th.feature {
    font-weight: normal;
    color: $mediumTextColor;
  }

  thead {
    th {
      font-size: 13px;
      line-height: 18px;
      font-weight: normal;
    }

    tr {
      &.logos th {
        padding-bottom: 14px;

        .logo {
          margin-bottom: 0;
        }

        p {
          white-space: normal;
          max-width: 250px;
        }
      }

      &.license-statuses td {
        padding-top: 0;
        padding-bottom: 14px;
      }
    }

    tr.price {
      th,
      td {
        position: relative;
        padding-top: 14px;
      }

      td {
        &:before {
          position: absolute;
          top: 0;
          display: block;
          width: 24px;
          height: 1px;
          content: '.';
          font-size: 0;
          background: $hairlineColor;
        }

        .listedprice {
          @include margin-right(5px);
          text-decoration: line-through;
          color: $lightTextColor;
        }
      }

      th:before {
        @include left(0);
      }

      td:before {
        @include left(14px);
      }
    }
  }

  tbody {
    th,
    td {
      width: 33.33%;
    }

    tr:first-child {
      th,
      td {
        border-top: none;
      }
    }

    th.group {
      padding-top: 30px;
      border-bottom-style: solid;
      color: $mediumTextColor;

      &:before {
        margin-top: -2px;
        width: 24px;
        font-size: 17px;
      }
    }

    tr.buybtns td {
      padding-top: 14px;
      border-bottom: none;
    }
  }
}
