@tailwind preflight;

@charset "UTF-8";
@import "../../../../../../lib/craftcms-sass/mixins";
@import "modal";
@import "./upgrade-craft";

h1 {
  font-size: 24px;
}


/* General */

$sidebarWidth: 225px;
$detailsWidth: 350px;
$minFullUiWidth: 1224px;
$minHorizontalUiWidth: $minFullUiWidth - $sidebarWidth;
$minLargeScreenWidth: 1824px;

#main-container {
  @apply .relative;
}

#main-content #content {
  @apply .relative;
}

.input.success input {
  border-color: $successColor;
}

.input.errors .select:not(.selectize) select {
  box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px $errorColor, 0 1px 1px rgba(0, 0, 0, 0.1);
}


/* Lightswitch */

.pluginstore-lightswitch {
  @apply .relative .block .select-none;
  width: 34px;
  height: 22px;

  input {
    @apply .absolute .opacity-0;
  }

  .slider {
    @apply .absolute .pin .cursor-pointer;
    background-color: #9da5af;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  }

  .slider:before {
    @apply .absolute .bg-white;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 1px;
    -webkit-transition: .1s;
    transition: .1s;
  }

  input:checked + .slider {
    background-color: #00b007;
  }

  input:focus + .slider,
  input:active + .slider {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(51, 170, 255, 0.5), 0 0 2px #33aaff;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}


/* Plugin Store actions */

#pluginstore-actions {
  @apply .flex .justify-between .items-center;

  & > * {
    margin-left: 18px !important;
  }

  #cart-button {
    svg {
      @apply .inline-block;
      width: 18px;
      height: 18px;
      vertical-align: middle;
      line-height: 0;
      margin-right: 3px;
    }

    svg {
      @include svg-mask($secondarySubmitColor);
    }

    &:hover svg {
      @include svg-mask($secondarySubmitHoverColor);
    }

    .badge {
      @include margin(0, 0, 0, -6px);
      @apply .relative .inline-block .flex-shrink .text-white;
      top: -1px;
      padding: 0 6px;
      font-size: 11px;
      line-height: 16px;
      border-radius: 1em;
      background: $submitColor;
      box-shadow: 0 0 0 2px $bgColor;
    }
  }

  #craftid-account {
    &:hover {
      @apply .no-underline;
    }

    .photo {
      svg {
        @apply .align-middle;
        margin-right: 2px;
        width: 22px;
        height: 22px;
        border-radius: 100%;
      }
    }

    &:hover .label {
      @apply .no-underline;
    }
  }

  #craftid-connect-form {
    .ssl-status {
      @apply .inline-block;
    }
  }
}


/* Graphic & Status */

#graphic {
  &.error {
    background-image: url(../images/error.png);
  }

  &.success {
    background-image: url(../images/success.png);
  }
}

#content {
  #graphic {
    @apply .block;
    margin: 200px auto 0;
  }

  #status {
    @apply .text-center;
    margin: 20px auto 250px;
    font-size: 16px;
    line-height: 20px;
    color: #666;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
  #graphic {
    &.error {
      background-image: url(../images/error_2x.png);
      background-size: 48px;
    }
    &.success {
      background-image: url(../images/success_2x.png);
      background-size: 48px;
    }
  }
}


/* Grids */

.ps-grid-wrapper {
  @apply .flex;

  .ps-grid-sidebar {
    width: 20%;
    margin-right: 40px;
  }

  .ps-grid-main {
    @apply .flex-1;
  }
}

.ps-grid-plugins {
  @apply .flex .flex-wrap;
  box-sizing: border-box;
  margin: 0 -10px;

  .ps-grid-box {
    box-sizing: border-box;
    width: 33.3333333333%;
    margin-bottom: 20px;

    .plugin-card {
      margin: 0 10px;

      .plugin-icon {
        @apply .flex-no-shrink;
      }
    }
  }

  &.ps-grid-plugins-4 {
    .ps-grid-box {
      width: 25%;
    }
  }
}

@media only screen and (max-width: $minFullUiWidth - 1px) {
  .psd-grid-box {
    &.ps-grid-plugins-4 {
      .ps-grid-box {
        width: 33.3333333333%;
      }
    }
  }
}

@media only screen and (min-width: $minLargeScreenWidth) {
  .ps-grid-plugins {
    .ps-grid-box {
      width: 25%;
    }

    &.ps-grid-plugins-4 {
      .ps-grid-box {
        width: 20%;
      }
    }
  }
}

@media only screen and (max-width: $minHorizontalUiWidth - 1px) {
  .ps-grid-wrapper.has-sidebar {
    .ps-grid-box {
      width: 100%;
    }
  }

  .ps-grid-plugins {
    .ps-grid-box {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 673px) {
  .ps-grid-plugins {
    .ps-grid-box {
      width: 100%;
    }
  }
}


/* Categories */

ul.categories {
  li {
    position: relative;

    &:before,
    &:last-child:after {
      @apply .absolute .pin-l .pin-r;
      content: '';
    }

    &:before {
      @apply .pin-t;
    }

    &:last-child:after {
      @apply .pin-b;
    }

    a {
      @apply .block .relative;
      padding: 10px;
      padding-left: 31px;

      img {
        @apply .absolute .pin-l;
        top: 7px;
        width: 24px;
      }

      &:hover {
        @apply .no-underline .z-10;
        background: #fafafa;
        border-color: #eee;
      }
    }
  }

  li:hover + li:before {
    border-color: transparent;
  }
}


/* Category Selector */

.category-selector-btn {
  @apply .hidden .relative;
  background: $lightBgColor;
  border: 1px solid $hairlineColor;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 24px;
  color: $secondarySubmitColor;

  &:before {
    @include icon;
    @apply .absolute .pin-r;
    top: calc(50% - 10px);
    font-size: 16px;
    width: 43px;
    line-height: 20px;
    content: 'downangle';
  }

  &:hover {
    @apply .no-underline;
  }
}

.category-selector {
  @apply .hidden .flex-col .fixed .pin-t .pin-l .bg-white .z-20;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  .category-selector-header {
    a {
      @apply .block .text-black;
      padding: 14px 24px;
      background: #fafafa;
      border-bottom: 1px solid #eee;

      &:hover {
        @apply .no-underline;
      }
    }
  }

  .category-selector-body {
    @apply .overflow-auto .h-full;
    box-sizing: border-box;

    ul.categories {
      li {
        &:first-child a {
          border-top: 0;
        }

        &:first-child:before {
          @apply .hidden;
        }

        &:before,
        &:after {
          left: 1rem;
          right: 1rem;
        }

        a {
          padding-left: 55px;

          img {
            left: 24px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $minHorizontalUiWidth - 1px) {
  .category-selector-btn {
    @apply .block;
  }

  .category-selector {
    @apply .flex;
  }

  .categories-wrapper {
    @apply .hidden;
  }
}


/* Plugin card */

.plugin-card {
  @apply .flex;
  padding: 20px;
  border: 1px solid #E3E5E8;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;

  &:hover {
    @apply .cursor-pointer;
    background: #fafafa;
  }

  .plugin-icon {
    margin-right: 14px;
  }

  .installed {
    @apply .absolute;
    top: 14px;
    right: 18px;
    color: #ccc;
  }
}

.ps-grid-plugins {
  .plugin-card {
    @apply .h-full;
  }
}


/* Plugin icon */

.plugin-icon,
.plugin-icon img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.plugin-icon-md,
.plugin-icon-md img {
  width: 48px;
  height: 48px;
  border-radius: 6px;
}

.plugin-icon-large,
.plugin-icon-large img {
  width: 72px;
  height: 72px;
  border-radius: 6px;
}

.plugin-icon .default-icon {
  @apply .inline-block .overflow-hidden;
  background: #eee;
  width: 32px;
  height: 32px;
  border-radius: 4px;
}


/* Plugin search */

#container {
  position: static !important; /* #container hack required for modal overlays */
}


/* License status */

.license-status {
  &:before {
    border: 1px solid;
    border-radius: 9px;
    width: 17px;
    height: 17px;
    line-height: 17px;
    margin-right: 5px;
  }

  &.installed {
    color: $successColor;

    &:before {
      border-color: $successColor;
    }
  }

  &.licensed {
    color: $noticeColor;

    &:before {
      border-color: $noticeColor;
    }
  }
}


/* Developer card */

.developer-card {
  @apply .text-center;

  .spinner {
    margin-top: 48px;
  }

  .avatar {
    @apply .inline-block .overflow-hidden;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: #fafafa;
    margin-top: 24px;
    margin-bottom: 12px;

    img {
      @apply .w-full;
    }
  }

  ul.links {
    margin-top: 36px;

    li {
      margin-bottom: 1em;

      a {
        @apply .block;
      }
    }
  }
}


/* Edition Badge */

.edition-badge {
  @apply .inline-block;
  margin: 0 auto 24px !important;
  font-weight: 500;
  font-size: 14px;
  color: $submitColor;
  letter-spacing: 3.3px;
  line-height: 14px;
  border: 1px solid $submitColor;
  border-radius: 3px;
  padding: 8px 6.7px 8px 9px;
  text-transform: uppercase;
}


/* Choose Edition */

table.choose-edition {
  thead {
    th,
    td {
      padding-bottom: 14px;
    }
  }
}

@tailwind utilities;