/* Plugin Store Modal */

@import "../../../../../../lib/craftcms-sass/mixins";

#pluginstore-modal {
  max-width: 850px;
  max-height: 650px;
  z-index: 20000;
  position: absolute;
  top: 0;
  left: 0;

  .pluginstore-modal-flex {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    header {
      .btn-left {
        position: absolute;
        top: 28px;
        @include left(24px);
      }

      h1 {
        text-align: center;
      }
    }

    .pluginstore-modal-main {
      position: relative;
      display: flex;
      flex-grow: 1;
      margin-bottom: 0;
      min-height: 0;

      .pluginstore-modal-content {
        overflow: auto;
        padding: 24px;
        flex-grow: 1;
      }
    }
  }

  /* Plugin details */

  &.step-plugin-details {
    .plugin-details {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      min-height: 0;

      .plugin-details-header {
        flex-shrink: 0;
        display: flex;
        border-bottom: 1px solid #eee;
        padding: 24px;

        .plugin-icon-large {
          @include margin-right(14px);
        }

        .description {
          flex-grow: 1;
          @include margin-left(14px);
        }

        .description h2 {
          margin-bottom: 10px;
        }

        .description p {
          margin: 0.4em 0;
        }

        .buttons {
          @include margin(0, 0, 0, 24px);
          white-space: nowrap;

          a {
            @include margin-left(7px);
          }

          .license-status {
            margin-top: 6px;
            @include margin-right(14px);
          }
        }
      }

      .plugin-details-body {
        flex-grow: 1;
        display: flex;
        position: relative;
        min-height: 0;
        flex-basis: 100%;
        width: 100%;

        .plugin-details-loading {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .plugin-description {
          flex-grow: 1;
          min-width: 0;
          padding: 24px;
          overflow: auto;
          flex-basis: 100%;
          width: 100%;

          img {
            max-width: 100%;
          }

          pre {
            background: #eee;
            padding: 24px;
            overflow: auto;
          }
        }

        .plugin-sidebar {
          flex: 0 0 260px;
          width: 260px;
          background: #fafafa;
          @include border-left(1px solid #eee);
          overflow: auto;

          .plugin-meta {
            /*border: 1px solid #eee;*/
            border-radius: 4px;
            padding: 24px;

            ul.plugin-meta-data {
              border-bottom: 1px solid #eee;
              margin-bottom: 14px;

              li {
                display: flex;
                border-bottom: 1px solid #eee;
                padding: 7px 0;

                &:last-child {
                  border-bottom: 0;
                }

                & span,
                & strong {
                  flex-grow: 1;
                }

                & strong {
                  @include alignright;
                }
              }
            }

            ul.plugin-meta-links li {
              padding: 7px 0;
            }
          }
        }

        .screenshots {
          margin-top: 24px;

          img {
            width: 100%;
            margin-bottom: 24px;
          }
        }
      }
    }
  }

  /* Payment */

  &.step-payment {
    .blocks {
      display: flex;
      margin: 0 -20px;

      .block {
        flex-grow: 1;
        padding: 0 20px;
        width: 50%;
      }
    }

    .multiselectrow {
      display: flex;
      .input {
        width: 50%;
        .select {
          width: 100%;
          select {
            width: 100%;
          }
        }
      }
    }
  }

  /* Thank You */

  &.step-thank-you {
    &.pluginstore-modal .pluginstore-modal-flex .pluginstore-modal-main .pluginstore-modal-content {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      margin-top: 24px;
    }

    #thank-you-message {
      text-align: center;
      padding: 48px 24px;
    }

    #graphic {
      display: inline-block;
      width: 48px;
      height: 48px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}
