/* Plugin Store Modal */

#pluginstore-modal {
  @apply .absolute .pin-t .pin-l .z-20;
  max-width: 850px;
  max-height: 650px;

  .pluginstore-modal-flex {
    @apply .absolute .pin .flex .flex-col;

    header {
      .btn-left {
        @apply .absolute;
        top: 28px;
        left: 24px;
      }

      h1 {
        @apply .text-center;
      }
    }

    .pluginstore-modal-main {
      @apply .relative .flex .flex-grow .mb-0 .min-h-0;

      .pluginstore-modal-content {
        @apply .overflow-auto .flex-grow;
        padding: 24px;
      }
    }
  }

  /* Plugin details */

  &.step-plugin-details {
    .plugin-details {
      @apply .relative .flex .flex-grow .flex-col .min-h-0;

      .plugin-details-header {
        @apply .flex .flex-no-shrink;
        border-bottom: 1px solid #eee;
        padding: 24px;

        .plugin-icon-large {
          margin-right: 14px;
        }

        .description {
          @apply .flex-grow;
          margin-left: 14px;
        }

        .description h2 {
          margin-bottom: 10px;
        }

        .description p {
          margin: 0.4em 0;
        }

        .buttons {
          @apply .whitespace-no-wrap;
          @include margin(0, 0, 0, 24px);

          a {
            margin-left: 7px;
          }

          .license-status {
            margin-top: 6px;
            margin-right: 14px;
          }
        }
      }

      .plugin-details-body {
        @apply .relative .flex .flex-grow .min-h-0 .w-full;
        flex-basis: 100%;

        .plugin-details-loading {
          @apply .absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .plugin-description {
          @apply .flex-grow .min-w-0 .overflow-auto .w-full;
          padding: 24px;
          flex-basis: 100%;

          img {
            @apply .max-w-full;
          }

          pre {
            @apply .overflow-auto;
            background: #eee;
            padding: 24px;
          }
        }

        .plugin-sidebar {
          @apply .overflow-auto;
          flex: 0 0 260px;
          width: 260px;
          background: #fafafa;
          border-left: 1px solid #eee;

          .plugin-meta {
            border-radius: 4px;
            padding: 24px;

            ul.plugin-meta-data {
              border-bottom: 1px solid #eee;
              margin-bottom: 14px;

              li {
                @apply .flex;
                border-bottom: 1px solid #eee;
                padding: 7px 0;

                &:last-child {
                  @apply .border-b-0;
                }

                & span,
                & strong {
                  @apply .flex-grow;
                }

                & strong {
                  @apply .text-right;
                }
              }
            }

            ul.plugin-meta-links li {
              padding: 7px 0;
            }
          }
        }

        .screenshots {
          margin-top: 24px;

          img {
            @apply .w-full;
            margin-bottom: 24px;
          }
        }
      }
    }
  }

  /* Payment */

  &.step-payment {
    .blocks {
      @apply .flex;
      margin: 0 -20px;

      .block {
        @apply .flex-grow .w-1/2;
        padding: 0 20px;
      }
    }

    .multiselectrow {
      @apply .flex;

      .input {
        @apply .w-1/2;

        .select {
          @apply .w-full;

          select {
            @apply .w-full;
          }
        }
      }
    }
  }

  /* Thank You */

  &.step-thank-you {
    &.pluginstore-modal .pluginstore-modal-flex .pluginstore-modal-main .pluginstore-modal-content {
      @apply .flex .p-0 .justify-center .items-center;
    }

    h2 {
      margin-top: 24px;
    }

    #thank-you-message {
      @apply .text-center;
      padding: 48px 24px;
    }

    #graphic {
      @apply .inline-block;
      width: 48px;
      height: 48px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}