/* Plugin Store Modal */

#pluginstore-modal {
  @apply .tw-absolute .tw-pin-t .tw-pin-l;
  max-width: 850px;
  max-height: 650px;
  z-index: 20000;

  .pluginstore-modal-flex {
    @apply .tw-absolute .tw-pin .tw-flex .tw-flex-col;

    header {
      .btn-left {
        @apply .tw-absolute;
        top: 28px;
        left: 24px;
      }

      h1 {
        @apply .tw-text-center;
      }
    }

    .pluginstore-modal-main {
      @apply .tw-relative .tw-flex .tw-flex-grow .tw-mb-0 .tw-min-h-0;

      .pluginstore-modal-content {
        @apply .tw-overflow-auto .tw-flex-grow;
        padding: 24px;
      }
    }
  }


  /* Payment */

  &.step-payment {
    .blocks {
      @apply .tw-flex;
      margin: 0 -20px;

      .block {
        @apply .tw-flex-grow .tw-w-1/2;
        padding: 0 20px;
      }
    }

    .multiselectrow {
      @apply .tw-flex;

      .input {
        @apply .tw-w-1/2;

        .select {
          @apply .tw-w-full;

          select {
            @apply .tw-w-full;
          }
        }
      }
    }
  }

  /* Thank You */

  &.step-thank-you {
    &.pluginstore-modal .pluginstore-modal-flex .pluginstore-modal-main .pluginstore-modal-content {
      @apply .tw-flex .tw-p-0 .tw-justify-center .tw-items-center;
    }

    h2 {
      margin-top: 24px;
    }

    #thank-you-message {
      @apply .tw-text-center;
      padding: 48px 24px;
    }

    #graphic {
      @apply .tw-inline-block;
      width: 48px;
      height: 48px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}