{% extends "_layouts/cp" %}
{% set title="Users"|t %}


{% set header %}
	<h1>{{ "Users"|t }}</h1>
	<ul class="left">
		<li><a href="{{ url('settings') }}" class="backbtn">{{ "Settings"|t }}</a></li>
	</ul>
{% endset %}


{% set tabs %}
	<li><a{% if page == 'groups' %} class="sel"{% endif %} href="{{ url('settings/users') }}">{{ "User Groups"|t }}</a></li>
	<li><a{% if page == 'blocks' %} class="sel"{% endif %} href="{{ url('settings/users/blocks') }}">{{ "Profile Blocks"|t }}</a></li>
	<li><a class="settings{% if page == 'settings' %} sel{% endif %}" href="{{ url('settings/users/settings') }}">{{ "Settings"|t }}</a></li>
{% endset %}
