{% requireEdition CraftPro %}
{% requireAdmin %}

{% extends "_layouts/cp" %}
{% set title = "User Settings"|t %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}

{% set navItems = {
	groups: { label: "User Groups"|t, url: url('settings/users') },
	fields: { label: "Fields"|t, url: url('settings/users/fields') },
	settings: { label: "Settings"|t, url: url('settings/users/settings') }
} %}

{% set docTitle = navItems[selectedNavItem].label~' - '~title %}

{% block sidebar %}
	<nav>
		{% include "_includes/nav" with { items: navItems, selectedItem: selectedNavItem } only %}
	</nav>
{% endblock %}
