{% extends "_layouts/cp" %}
{% set centered = true %}


{% set header %}
	<h1>{{ "Users"|t }}</h1>
	<ul class="left">
		<li><a href="{{ url('settings') }}" class="backbtn">{{ "Settings"|t }}</a></li>
	</ul>
{% endset %}


{% set tabs %}
	<li><a{% if page == 'groups' %} class="active"{% endif %} href="{{ url('settings/users') }}" data-icon="U">{{ "User Groups"|t }}</a></li>
	<li><a{% if page == 'blocks' %} class="active"{% endif %} href="{{ url('settings/users/blocks') }}" data-icon="b">{{ "Profile Blocks"|t }}</a></li>
	<li><a class="settings icon{% if page == 'settings' %} active{% endif %}" href="{{ url('settings/users/settings') }}">{{ "Settings"|t }}</a></li>
{% endset %}
