{% requireAdmin %}

{% extends "settings/users/_layout" %}
{% set selectedNavItem = 'fields' %}
{% import "_includes/forms" as forms %}


{% block content %}
    <form method="post" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>
        {{ actionInput('users/save-field-layout') }}
        {{ csrfInput() }}

        {{ forms.fieldLayoutDesignerField({
            first: true,
            fieldLayout: fieldLayout ?? craft.app.fields.getLayoutByType('craft\\elements\\User'),
        }) }}

        <div class="buttons">
            <button type="submit" class="btn submit">{{ 'Save'|t('app') }}</button>
        </div>
    </form>
{% endblock %}
