{% requireAdmin %}

{% extends "settings/users/_layout" %}
{% set selectedNavItem = 'fields' %}


{% block content %}
    <form method="post" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>
        <input type="hidden" name="action" value="users/save-field-layout">
        {{ redirectInput('settings') }}
        {{ csrfInput() }}

        {% include "_includes/fieldlayoutdesigner" with {
            fieldLayout: craft.app.fields.getLayoutByType('craft\\elements\\User')
        } only %}

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
        </div>
    </form>
{% endblock %}
