{% extends "_layouts/cp" %}
{% set title = "Users"|t %}
{% set groups = blx.accounts.userGroups %}


{% set titlebar %}
	<h1>{{ title }}</h1>
	<ul class="left">
		<li><a href="{{ url('settings') }}" class="backbtn">{{ "Settings"|t }}</a></li>
	</ul>
{% endset %}


{% set content %}
	<h2>User Groups</h2>

	<p id="nogroups" {% if groups|length %}style="display: none"{% endif %}>
		{{ "No groups exist yet."|t }}
	</p>

	{% if groups|length %}
		<table id="groups" class="data">
			<thead>
				<th scope="col" width="33%">{{ "Name"|t }}</th>
				<th scope="col" width="66%">{{ "Handle"|t }}</th>
				<td width="1%"></td>
			</thead>
			<tbody>
				{% for group in groups %}
					<tr data-id="{{ group.id }}" data-name="{{ group.name|t }}">
						<th scope="row"><a href="{{ url('settings/users/groups/' ~ group.id) }}">{{ group.name|t }}</a></th>
						<td><code>{{ group.handle }}</code></td>
						<td><a class="deletebtn" title="{{ 'Delete' }}"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div class="buttons">
		<a href="{{ url('settings/users/groups/new') }}" class="btn addbtn">{{ "New Group"|t }}</a>
	</div>

	<hr>

	<h2>Profile Blocks</h2>

	{% include "_includes/blockindex" with {
		blocks: blx.accounts.userProfileBlocks,
		settingsUrlPrefix: 'settings/users/blocks/',
		controller: 'userProfileBlocks'
	} only %}
{% endset %}


{% set js %}
	new Blocks.ui.AdminTable({
		tableSelector: '#groups',
		noObjectsSelector: '#nogroups',
		deleteAction: 'userGroups/deleteGroup'
	});
{% endset %}
{% includeJs js %}
