{% extends "_layouts/cp" %}
{% set title = "User Settings"|t %}
{% set groups = blx.accounts.userGroups %}
{% includeJsResource "js/users.js" %}
{% includeTranslations
	"Are you sure you want to delete the group “{group}”?",
	"Group deleted.",
	"Couldn’t delete group."
%}
{% includeJs "new Blocks.ui.BlockIndex('userBlocks');" %}


{% set titlebar %}
	<h1>{{ title }}</h1>
	<ul class="left">
		<li><a href="{{ url('settings') }}" class="backbtn">{{ "Settings"|t }}</a></li>
	</ul>
{% endset %}


{% set content %}
	<h2>User Groups</h2>

	<p id="nogroups" {% if groups|length %}style="display: none"{% endif %}>
		{{ "No groups exist yet."|t }}
	</p>

	{% if groups|length %}
		<table id="groups" class="data">
			<thead>
				<th scope="col" width="33%">{{ "Name"|t }}</th>
				<th scope="col" width="66%">{{ "Handle"|t }}</th>
				<td width="1%"></td>
			</thead>
			<tbody>
				{% for group in groups %}
					<tr data-group-id="{{ group.id }}">
						<th scope="row"><a href="{{ url('settings/users/groups/' ~ group.id) }}">{{ group.name|t }}</a></th>
						<td><code>{{ group.handle }}</code></td>
						<td><a class="deletebtn" title="{{ 'Delete' }}"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div class="buttons">
		<a href="{{ url('settings/users/groups/new') }}" class="btn addbtn">{{ "New Group"|t }}</a>
	</div>

	<hr>

	<h2>User Blocks</h2>

	{% set blocks = blx.accounts.userBlocks %}
	{% include "_includes/blockindex" with { blocks: blocks, settingsUrlPrefix: 'settings/users/blocks/' } only %}
{% endset %}
