{% requireEdition CraftPro %}
{% requireAdmin %}

{% extends "settings/users/_layout" %}
{% set selectedNavItem = 'settings' %}

{% set docsUrl = 'http://craftcms.com/docs/users' %}

{% import "_includes/forms" as forms %}


{% if settings is not defined %}
	{% set settings = craft.app.systemSettings.getSettings('users') %}
{% endif %}

{% set allVolumes = craft.app.volumes.getAllVolumes('id') %}
{% set volumeList = [] %}
{% for volume in allVolumes %}
	{% set volumeList = volumeList|merge([{'value': volume.id, 'label': volume.name}]) %}
{% endfor %}

{% block content %}
	<form id="settings-form" method="post" class="centered" accept-charset="UTF-8" data-saveshortcut>
		<input type="hidden" name="action" value="user-settings/save-user-settings">
		{{ csrfInput() }}

		{{ forms.checkboxField({
			first: true,
			label: "Verify email addresses?"|t('app'),
			instructions: "Should new email addresses be verified before getting saved to user accounts? (This also affects new user registration.)"|t('app'),
			name: 'requireEmailVerification',
			checked: settings.requireEmailVerification,
		}) }}

		{{ forms.checkboxField({
			first: true,
			label: "Allow public registration?"|t('app'),
			name: 'allowPublicRegistration',
			checked: settings.allowPublicRegistration,
			toggle: 'publicRegistrationSettings'
		}) }}

		<div id="publicRegistrationSettings" class="nested-fields{% if not settings.allowPublicRegistration %} hidden{% endif %}">
			{% set groups = [{ label: "None"|t('app'), value: '' }] %}
			{% for group in craft.app.userGroups.getAllGroups() %}
				{% set groups = groups|merge([{ label: group.name, value: group.id }]) %}
			{% endfor %}

			{{ forms.selectField({
				label: "Default User Group"|t('app'),
				instructions: "Choose a user group that publicly-registered members will be added to by default."|t('app'),
				name: 'defaultGroup',
				options: groups,
				value: settings.defaultGroup
			}) }}
		</div>

		{% if volumeList %}
			{{ forms.selectField({
				label: "User Photo Volume"|t('app'),
				instructions: "Which volume do you want to use to store user photos?"|t('app'),
				id: 'photoVolumeId',
				name: 'photoVolumeId',
				options: volumeList,
				value: settings.photoVolumeId
			})}}
		{% else %}
			{{ forms.field({
				label: "User Photo Volume"|t('app')
			}, '<p class="error">' ~ "No volumes exist yet."|t('app') ~ '</p>') }}
		{% endif %}
		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
		</div>
	</form>
{% endblock %}
