{% extends "_layouts/cp" %}
{% set title = "GraphQL Tokens"|t('app') %}

{% requireEdition CraftPro %}

{% set selectedSubnavItem = 'tokens' %}

{% block content %}
    {% set tokens = craft.app.gql.tokens %}

    <p id="notokens"{% if tokens|length %} class="hidden"{% endif %}>
        {{ "No tokens exist yet."|t('app') }}
    </p>

    {% if tokens|length %}
        <table id="tokens" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ "Token name"|t('app') }}</th>
                <th scope="col">{{ "Access token"|t('app') }}</th>
                <th scope="col">{{ "Enabled"|t('app') }}</th>
                <th scope="col">{{ "Last used"|t('app') }}</th>
                <th scope="col">{{ "Expires"|t('app') }}</th>
                <th scope="col">{{ "Created"|t('app') }}</th>
            </thead>
            <tbody>
                {% for token in tokens %}
                    <tr data-id="{{ token.id }}" data-name="{{ token.name }}">
                        <th scope="row" data-title="{{ 'Name'|t('app') }}"><a href="{{ url('graphql/tokens/' ~ token.id) }}">{{ token.name }}</a></th>
                        <td class="code" data-title="{{ 'Access token'|t('app') }}">{{ token.accessToken }}</td>
                        <td class="thin" data-title="{{ 'Enabled'|t('app') }}">{% if token.enabled %}<div data-icon="check"></div>{% endif %}</td>
                        <td data-title="{{ 'Last used'|t('app') }}" title="{{ token.lastUsed ? token.lastUsed|datetime('short') }}">{{ token.lastUsed ? token.lastUsed|timestamp}}</td>
                        <td data-title="{{ 'Expires'|t('app') }}" title="{{ token.expiryDate ? token.expiryDate|datetime('short') }}">{{ token.expiryDate ? token.expiryDate|timestamp}}</td>
                        <td data-title="{{ 'Created'|t('app') }}" title="{{ token.dateCreated|datetime('short') }}">{{ token.dateCreated|timestamp }}</td>
                        <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

    <div class="buttons">
        <a class="btn submit add icon" href="{{ url('graphql/tokens/new') }}">{{ "New token"|t('app') }}</a>
    </div>
{% endblock %}


{% js on ready %}
    new Craft.AdminTable({
        tableSelector: '#tokens',
        noItemsSelector: '#notokens',
        minItems: 1,
        sortable: false,
        deleteAction: 'gql/delete-token'
    });
{% endjs %}
