{% extends "_layouts/cp" %}
{% set title = "GraphQL Tokens"|t('app') %}

{% requireEdition CraftPro %}

{% set selectedSubnavItem = 'tokens' %}

{% set tokens = craft.app.gql.tokens %}

{% macro timestampCell(title, value) %}
    {% if value %}
        <td data-title="{{ title }}" title="{{ value|datetime('short') }}">{{ value|timestamp }}</td>
    {% else %}
        <td class="light" data-title="{{ title }}">{{ 'Never'|t('app') }}</td>
    {% endif %}
{% endmacro %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ url('graphql/tokens/new') }}">{{ "New token"|t('app') }}</a>
{% endblock %}

{% block content %}
    <div id="no-tokens"{% if tokens|length %} class="hidden"{% endif %}>
        <p>{{ 'No GraphQL tokens exist yet.'|t('app') }}</p>
    </div>

    {% if tokens|length %}
        <div class="tablepane">
            <table id="tokens" class="data fullwidth">
                <thead>
                    <th scope="col">{{ "Name"|t('app') }}</th>
                    <th scope="col">{{ "Last Used"|t('app') }}</th>
                    <th scope="col">{{ "Enabled"|t('app') }}</th>
                    <th scope="col">{{ "Expires"|t('app') }}</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for token in tokens %}
                        <tr data-id="{{ token.id }}" data-name="{{ token.name }}">
                            <th scope="row" data-title="{{ 'Name'|t('app') }}">
                                <a href="{{ url('graphql/tokens/' ~ token.id) }}">{{ token.name|t('site') }}</a>
                            </th>
                            {{ _self.timestampCell('Last Used'|t('app'), token.lastUsed) }}
                            <td data-title="{{ 'Enabled'|t('app') }}">{% if token.enabled %}<div data-icon="check"></div>{% endif %}</td>
                            {{ _self.timestampCell('Expires'|t('app'), token.expiryDate) }}
                            <th class="thin">
                                <a class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}


{% js %}
    new Craft.AdminTable({
        tableSelector: '#tokens',
        noItemsSelector: '#no-tokens',
        deleteAction: 'graphql/delete-token'
    });
{% endjs %}
