{% block switchUser %}

{% endblock %}

<div id="login-form-top">
    <div id="authentication-step" rel="{{ (authenticationChain and authenticationChain.nextAuthenticationStep) ? authenticationChain.nextAuthenticationStep.stepType : '' }}">
        {% block authStepHtml %}

        {% endblock %}
    </div>

</div>

<div id="username-field" class="{{ (user is not null) ? 'hidden' : '' }}">
    {% block usernameField %}

    {% endblock %}
</div>

{% block alternativeSteps %}

{% endblock %}

<div id="login-form-bottom">
    {% block rememberMe %}

    {% endblock %}

    <div class="hidden">
        {% block recoverAccount%}

        {% endblock %}
    </div>

    <button id="recover-account" rel="recovery" type="button">{{ 'Trouble logging in?'|t('app') }}</button>
    <button id="cancel-recover" rel="authentication" class="hidden" type="button">{{ 'Back to login'|t('app') }}</button>
</div>


<div class="buttons">
    {% if not authenticationChain or not authenticationChain.isComplete %}
        <button id="submit" class="btn submit" type="submit">{{ 'Submit'|t('app') }}</button>
        <div id="spinner" class="spinner over-bg hidden"></div>
    {% endif %}
</div>
