{% embed '_special/login/authentication_chain' with {'user': user} %}
    {% import "_includes/forms" as forms %}

    {% set authenticationInProgress = username|length > 0 or (authenticationChain is not null and not authenticationChain.isComplete) %}

    {% block switchUser %}
        {% if authenticationInProgress %}
            {% set knownUserName = user.username|default(username) %}
                <div id="authentication-greeting">
                    {{ 'Hello, {user}'|t('app', {user: knownUserName}) }}. (<a id="restart-authentication">{{ 'Not {user}?'|t('app', {user: knownUserName}) }}</a>)
                    <hr />
                </div>
        {% endif %}
    {% endblock %}

    {% block authStepHtml %}
        {% if authenticationChain is not null %}
            {% if not authenticationChain.isComplete %}
                {{ authenticationChain.nextAuthenticationStep.inputFieldHtml|raw }}
            {% else %}
                <div id="spinner-pending" class="spinner big over-bg"></div>
            {% endif %}
        {% endif %}
    {% endblock %}

    {% block usernameField %}
        {% if craft.app.config.general.useEmailAsUsername %}
            {% set usernameLabel = 'Email'|t('app') %}
            {% set recoveryMessage = 'Enter your email to continue'|t('app') %}
            {% set usernameType = 'email' %}
        {% else %}
            {% set usernameLabel = 'Username or Email'|t('app') %}
            {% set recoveryMessage = 'Enter your username or email to continue'|t('app') %}
            {% set usernameType = 'text' %}
        {% endif %}

        <div id="recovery-message" class="hidden">{{ recoveryMessage }}</div>

        {{ forms.textField({
            id: 'loginName',
            name: 'username',
            placeholder: usernameLabel,
            value: username,
            autocomplete: 'username',
            type: usernameType,
            inputAttributes: {
                aria: {
                    label: usernameLabel,
                    required: 'true',
                },
            },
        }) }}
    {% endblock %}

    {% block alternativeSteps %}
        {% if alternativeSteps is defined and alternativeSteps is not null %}
            <div id="alternative-types" class="{{ (alternativeSteps|length == 0) ? 'hidden' : '' }}" >
                <label>Other options:</label>
                <ul>
                    {% for type, name in authenticationChain.alternativeSteps %}
                    <li rel="{{ type }}">{{ name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}

    {% block rememberMe %}
        <div id="remember-me-container" {{ authenticationInProgress ? 'class="hidden"' : '' }}>
            {{ forms.checkboxField({ id: 'rememberMe', label: 'Keep me logged in'|t('app') }) }}
        </div>

    {% endblock %}
{% endembed %}
