@charset "UTF-8";
@import '@craftcms/sass/mixins';

.user-permissions {
  position: relative;
}

.user-permissions h3:first-child:not(.mt-0) {
  margin-block-start: 14px !important;
}

.user-permissions .select-all {
  font-size: 0.9em;
  margin-block: 13px;
  margin-inline: 0;
  color: var(--link-color);
  cursor: pointer;
}

.user-permissions .select-all:hover {
  text-decoration: underline;
}

.user-permissions .checkbox {
  position: absolute;
  inset-inline-end: 0;
}

.user-permissions input.checkbox:disabled + label {
  opacity: 0.5;
}

.user-permissions input.checkbox:disabled + label::before,
.user-permissions div.checkbox.disabled::before {
  opacity: 0.5;
}

.user-permissions h3:has(+ .select-all) {
  @include padding-right(0.5em);
  @include border-right(1px solid #eee);
  @include margin-right(0.5em);
}

.user-permissions h3,
.user-permissions .select-all {
  @include floatleft;
}

.user-permissions ul {
  clear: both;
}

.user-permissions ul ul li::before {
  display: block;
  position: absolute;
  margin-block-start: 8px;
  content: '';
  font-size: 0;
  width: 10px;
  height: 0;
  border-block-start: 1px solid #eee;
  @include left(20px);
}

.user-permissions ul ul ul li::before {
  width: 30px;
}

.user-permissions ul ul ul ul li::before {
  width: 45px;
}

.user-permissions ul ul ul ul ul li::before {
  width: 60px;
}

.user-permissions ul ul ul ul ul ul li::before {
  width: 75px;
}

.user-permissions ul ul ul ul ul ul ul li::before {
  width: 90px;
}

.user-permissions ul ul li .checkbox + label {
  @include padding-left(35px);
}

.user-permissions ul ul ul li .checkbox + label {
  @include padding-left(55px);
}

.user-permissions ul ul ul ul li .checkbox + label {
  @include padding-left(70px);
}

.user-permissions ul ul ul ul ul li .checkbox + label {
  @include padding-left(85px);
}

.user-permissions ul ul ul ul ul ul li .checkbox + label {
  @include padding-left(100px);
}
