{% extends "_layouts/message" %}
{% set title = "Project Config Sync"|t('app') %}

{% block message %}
    <p>{{ "Changes to `project.yaml` must be applied to the loaded project config."|t('app')|md(inlineOnly=true) }}</p>

    <form method="post" class="buttons">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="config-sync">
        <input type="hidden" name="return" value="{{ craft.app.request.getPathInfo() }}">
        <input type="submit" class="btn submit" value="{{ 'Sync changes'|t('app') }}">
    </form>
{% endblock %}
