{% extends "_layouts/basic" %}
{% set title = "Update @@@productDisplay@@@"|t %}


{% set styles %}
	<style type="text/css">
		#dbupdate .icon { background-image: url({{ blx.url.resource }}images/notice-dbupdate.png); }
	</style>
{% endset %}


{% set body %}
	<div class="no-access" id="dbupdate">
		<div class="pane">
			<div class="pane-body">
				<div class="pane-item notice">
					<div class="icon"></div>
					<p>{{ "To complete the @@@productDisplay@@@ update, some changes must be made to your database."|t }}<br>
						<a id="go" class="go">{{ "Finish up"|t }}</a></p>
				</div>
			</div>
		</div>
	</div>


		{#<div id="status">{{ "Your database needs to be updated.  Make a backup, then press this button."|t }}
		<form method="post" action="">
			<input type="hidden" name="action" value="dbUpdate/update">
			<input type="hidden" name="redirect" value="dashboard">
			<div><input class="btn big submit" type="submit" value="{{ 'Do It.'|t }}"></div>
		</form></div>#}
{% endset %}


{% set scripts %}
	<script type="text/javascript">
		var waiting = false;
		$('#go').click(function() {
			$.post('{{ blx.url.action }}dbupdate/update', function(response) {
				if (response.success)
					window.location.reload()
				else
				{
					var error = (response.error or 'An unknown error occurred.');
					alert(error);
				}
			});
		});
	</script>
{% endset %}
