{% set title = "Update Blocks"|t %}
{% extends "_layouts/basic" %}


{% block styles %}
	<style type="text/css">
		#dbupdate .icon { background-image: url({{ blx.url.resource }}images/notice-dbupdate.png); }
	</style>
{% endblock %}


{% block body %}

	<div class="no-access" id="dbupdate">
		<div class="pane">
			<div class="pane-body">
				<div class="pane-item notice">
					<div class="icon"></div>
					<p>To complete the Blocks update, some changes must be made to your database.<br>
						<a id="go" class="go">Finish up</a></p>
				</div>
			</div>
		</div>
	</div>


		{#<div id="status">Your database needs to be updated.  Make a backup, then press this button.
		<form method="post" action="">
			<input type="hidden" name="action" value="dbUpdate/update">
			<input type="hidden" name="redirect" value="dashboard">
			<div><input class="btn big submit" type="submit" value="{{ 'Do It.'|t }}"></div>
		</form></div>#}

{% endblock %}


{% block scripts %}
	<script type="text/javascript">
		var waiting = false;
		$('#go').click(function() {
			$.post('{{ blx.url.action }}dbupdate/update', function(response) {
				if (response.success)
					window.location.reload()
				else
				{
					var error = (response.error or 'An unknown error occurred.');
					alert(error);
				}
			});
		});
	</script>
{% endblock %}
