{% extends "_layouts/message" %}
{% set title = "Complete the Update"|t('app') %}

{% set names = [] %}

{% if craft.app.updates.getIsCraftDbMigrationNeeded() %}
    {% set names = names|merge(['Craft CMS']) %}
{% endif %}

{% for plugin in craft.app.updates.getPluginsThatNeedDbUpdate() %}
    {% set names = names|merge([plugin.name]) %}
{% endfor %}

{% block message %}
    {% if names|length == 1 %}
        <p>{{ "To complete the {name} update, some changes must be made to your database."|t('app', { name: names|first }) }}</p>
    {% else %}
        <p>{{ "To complete the {names} updates, some changes must be made to your database."|t('app', { names: names[0:-1]|join(', ') ~ ' ' ~ 'and'|t ~ ' ' ~ names|last }) }}</p>
    {% endif %}
    <div class="buttons">
        <a class="btn submit" href="{{ url('update', { return: craft.app.request.getPathInfo() }) }}">{{ "Finish up"|t('app') }}</a>
    </div>
{% endblock %}
