{% extends "_layouts/message" %}
{% set title = "You waited too long!"|t %}

{% block message %}
	<h2>{{ title }}</h2>

	<p>{{ "Looks like you waited a bit too long before clicking that link and it has expired."|t }}</p>

	<form method="post" accept-charset="UTF-8" action="{{ actionUrl('users/sendActivationEmail') }}">
		<input type="hidden" name="userId" value="{{ userId }}">
		<input type="hidden" name="redirect" value="{{ cpUrl() }}">
		<input type="submit" class="btn small submit" value="{{ 'Send me a new activation email'|t }}">
	</form>

{% endblock %}
