<div class="missing-component pane">
    <p class="error">{{ error }}</p>
    {% if showPlugin %}
        <div class="install-plugin">
            <div class="icon">
                {% if iconUrl %}
                    <img src="{{ iconUrl }}">
                {% else %}
                    {{ svg(iconSvg, sanitize=true, namespace=true) }}
                {% endif %}
            </div>
            <div class="flex">
                <h3>{{ name }}</h3>
                {% if isComposerInstalled %}
                    {% if isInstalled %}
                        <a class="btn formsubmit" data-form="x" data-action="plugins/enable-plugin" data-param="pluginHandle" data-value="{{ handle }}">{{ 'Enable'|t('app') }}</a>
                    {% else %}
                        <a class="btn formsubmit" data-form="x" data-action="plugins/install-plugin" data-param="pluginHandle" data-value="{{ handle }}">{{ 'Install'|t('app') }}</a>
                    {% endif %}
                {% else %}
                    <a class="btn" href="{{ url('plugin-store/plugin/'~handle) }}">{{ 'Install'|t('app') }}</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
