@charset "UTF-8";
@import "shared";

.modal.asset-editor {
  min-height: 410px !important; min-width: 500px !important;
  .body {
	padding-top: 0; padding-bottom: 0;
	.image-holder {
	  padding-top: 24px; padding-bottom: 24px; @include padding-right(24px);@include floatright; position: relative;
	  #image-manipulator { overflow: hidden; position: absolute;}
	}
	.image-tools {
	  margin-top: 24px; @include floatleft; width: 300px; min-height: 352px;
	  .tool-groups {
		width: 126px; @include floatleft; @include padding-right(24px);
		li {
		  a{
			display: block; color: $textcolor; @include user-select(none); outline: none; padding: 4px 0; @include padding-left(24px); @include margin-left(-24px);
			&:hover{
			  text-decoration: none; color: $linkcolor;
			}
			&.sel {
			  @include border-radius(0, 2px, 2px, 0); background: $darkselcolor; cursor: default; color: #fff;
			}
		  }
		}
	  }
	  .tools {
		width: 126px; @include floatleft; @include padding-right(24px);
		input { outline: none; box-shadow:none; border-color:transparent;}
		.group {
		  display: none;
		  &.sel {
			display: block;
		  }
		}
	  }
	}
  }
}

.modal-shade.asset-editor{ background: rgba(0,0,0, 0.75)}
