@charset "UTF-8";
@import "shared";


.toolhud .main { width: 200px; }
.toolhud .main .form { display: block; position: relative; }
.toolhud .main .form .buttons { text-align: center; }
.toolhud .main .form .buttons .btn { float: none; display: inline-block; }

.toolhud .main .progressbar { position: absolute; @include left(230px); width: 132px; }
.toolhud .main .alldone { position: absolute; @include left(230px); width: 140px; font-size: 40px; line-height: 50px; text-align: center; }

.confirmmodal .body { max-height: 200px; overflow: auto; }

.phpinfo-menu { max-width: 300px; padding: 24px; }
.phpinfo-menu ul li { display: inline; }
.phpinfo-menu ul li a { display: inline !important; margin: 0; padding: 0; color: #0d78f2; }
.phpinfo-menu ul li a:hover { background: none !important; text-decoration: underline; color: #0d78f2 !important; }
.phpinfo-menu ul li:after { content: ' | '; }

.phpinfo-section:not(:first-child) { padding-top: 100px; margin-top: -40px; }

table.fixed-layout { table-layout: fixed; }