@charset "UTF-8";
@import "shared";

/* Global */
table.fixed-layout { table-layout: fixed; }

/* Sidebar with badge */
.sidebar nav li a { display: flex; @include padding-right(7px); }
.sidebar nav li a .icon { @include margin-right(7px); }
.sidebar nav li a span.label { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; }
.sidebar nav li a span.badge { @include margin-left(5px); }
.sidebar nav li a span.badge span.count { background: $errorcolor; border-radius: 50px; border: 0px solid #fff; padding: 2px 7px; min-width: 7px; color: #fff; position: relative; }
.sidebar nav li a.sel span.badge span.count { background: #fff; color: $darkselcolor; }

/* Utilities */
form.utility .utility-status { display: inline-block; position: relative; width: 60px; height: 40px; @include margin-left(10px); }
form.utility .utility-status .alldone { margin-top: 11px; opacity: 0; }
form.utility .utility-status .progressbar { width: 100%; top: 14px; @include left(0); opacity: 0; }


/* Asset Index */
.confirmmodal .body { max-height: 200px; overflow: auto; }

/* PHP Info */
.phpinfo-menu { max-width: 300px; padding: 24px; }
.phpinfo-menu ul li { display: inline; }
.phpinfo-menu ul li a { display: inline !important; margin: 0; padding: 0; color: #0d78f2; }
.phpinfo-menu ul li a:hover { background: none !important; text-decoration: underline; color: #0d78f2 !important; }
.phpinfo-menu ul li:after { content: ' | '; }

.phpinfo-section:not(:first-child) { padding-top: 100px; margin-top: -40px; }
