@charset "UTF-8";
@import "shared";


.toolhud .main { width: 200px; }
.toolhud .main .form { display: block; position: relative; }
.toolhud .main .form .buttons { text-align: center; }
.toolhud .main .form .buttons .btn { float: none; display: inline-block; }

.toolhud .main .progressbar { position: absolute; @include left(230px); width: 132px; }
.toolhud .main .alldone { position: absolute; @include left(230px); width: 140px; font-size: 40px; line-height: 50px; text-align: center; }

.confirmmodal .body { max-height: 200px; overflow: auto; }

.phpinfo-menu { max-width: 300px; padding: 24px; }
.phpinfo-menu ul li { display: inline; }
.phpinfo-menu ul li a { display: inline !important; margin: 0; padding: 0; color: #0d78f2; }
.phpinfo-menu ul li a:hover { background: none !important; text-decoration: underline; color: #0d78f2 !important; }
.phpinfo-menu ul li:after { content: ' | '; }

.phpinfo-section:not(:first-child) { padding-top: 100px; margin-top: -40px; }

table.fixed-layout { table-layout: fixed; }

ul.icons li a span.badge {
	background: $errorcolor;
	border-radius: 50px;
	border: 2px solid #fff;
	padding: 3px 8px;
	min-width: 8px;
	color: #fff;
	position: absolute;
	top: 14px;
	right: 14px;
}

#sidebar ul li a {
	display: flex;
	@include padding-right(7px);
}

#sidebar ul li a .icon {
	margin-right: 7px;
}

#sidebar li a span.label {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

#sidebar ul li a span.badge {
	margin-left: 5px;
}

#sidebar ul li a span.badge span.count {
	background: $errorcolor;
	border-radius: 50px;
	border: 0px solid #fff;
	padding: 2px 7px;
	min-width: 7px;
	color: #fff;
	position: relative;
}


#sidebar ul li a.sel span.badge span.count {
	background: #fff;
	color: $darkselcolor;
}

form.utility .utility-status {
	display: inline-block; position: relative; width: 60px; height: 40px; margin-left: 10px;
}

form.utility .utility-status .alldone {
	margin-top: 11px;
	opacity: 0;
}

form.utility .utility-status .progressbar {
	width: 100%;
	left: 0;
	opacity: 0;
}