@charset "UTF-8";
@import "shared";

#page-header { padding: 12px 0; }

#content h1,
#content p { margin: 45px auto !important; max-width: 750px; text-align: center; }

#content h1 + p { margin-top: -25px !important; }

#content h1 { color: $textcolor; }
#content p { font-size: 17px; line-height: 1.4; }

#content img,
#content #video-wrapper { display: block; margin: 45px auto; border-radius: 4px 0 0 4px; @include box-shadow(0 0 50px rgba(0,0,0,0.25)); }
#content img { max-width: 870px; }
#content #video-wrapper { max-width: 1040px; }

#content header h1 { font-size: 40px; color: $errorcolor; }
#content header p { font-size: 19px; }
