{% extends "plugin-store/_layouts/cp" %}

{% set crumbs = [
	{ label: "Plugin Store"|t('app'), url: url('plugin-store') }
] %}

{% set title = 'Your Cart' %}

{% set content %}

	{% if not error %}

		{% if plugins.error is defined %}
			{{ plugins.error }}
		{% else %}
			{% if plugins|length > 0 %}
				<table class="data fullwidth">
					<thead>
					<tr>
						<th class="thin"></th>
						<th>Plugin Name</th>
					</tr>
					</thead>
					<tbody>
					{% for plugin in plugins|slice(0,5) %}
						{% if plugin %}
							<tr>
								<td class="thin">
									<a href="{{ url('plugin-store/'~plugin.slug) }}">
										<div class="plugin-icon">
											{% if plugin.iconUrl %}
												<img src="{{ plugin.iconUrl }}" width="32" />
											{% endif %}
										</div>
									</a>
								</td>
								<td><a href="{{ url('plugin-store/'~plugin.slug) }}">{{ plugin.name }}</a> <span class="light">— {{ plugin.description }}</span></td>
								<td>$99.00</td>
								<td class="thin">
									<a href="#" class="btn">Remove</a>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>{{ 'No plugins'|t('app') }}</p>
			{% endif %}

			<div>
				<p>Renew for 3 years and save $XX.00</p>

				<ul>
					<li><em>Subtotal</em> $198.00</li>
					<li><em>Pro Rate Discount</em> $20.00</li>
					<li><strong><em>Total</em> $20.00</strong></li>
				</ul>

				<a href="#" class="btn submit">Process My Order</a>
			</div>

			<h2>Need more ?</h2>
			{% if plugins|length > 0 %}
				<table class="data fullwidth">
					<thead>
					<tr>
						<th class="thin"></th>
						<th>Plugin Name</th>
					</tr>
					</thead>
					<tbody>
					{% for plugin in plugins|slice(5,3) %}
						{% if plugin %}
							<tr>
								<td class="thin">
									<a href="{{ url('plugin-store/'~plugin.slug) }}">
										<div class="plugin-icon">
											{% if plugin.iconUrl %}
												<img src="{{ plugin.iconUrl }}" width="32" />
											{% endif %}
										</div>
									</a>
								</td>
								<td><a href="{{ url('plugin-store/'~plugin.slug) }}">{{ plugin.name }}</a> <span class="light">— {{ plugin.description }}</span></td>
								<td class="warning">Trial ends in 5 days</td>
								<td>$99.00</td>
								<td class="thin">
									<a href="#" class="btn">Add to cart</a>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>{{ 'No plugins'|t('app') }}</p>
			{% endif %}
		{% endif %}
	{% else %}
		<p class="error">{{ error|raw }}</p>
	{% endif %}

{% endset %}
