{% extends "plugin-store/_layouts/cp" %}

{% set title = 'Plugin Store' %}

{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a href="{{ url('myaccount') }}" class="btn">Your Account</a>
	</div>
{% endset %}

{% set content %}

	{% verbatim %}
		<div id="plugins" v-cloak>
			<input class="text fullwidth" id="searchQuery" name="searchQuery" type="text" placeholder="Search plugins" v-model="searchQuery">
			<br />
			<br />
			<table class="data fullwidth">
				<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Developer</th>
				</tr>
				</thead>
				<tr v-for="plugin in pluginsToRender">
					<td class="thin">
						<div class="plugin-icon">
							<img v-if="plugin.iconUrl" :src="plugin.iconUrl" height="32" />
						</div>
					</td>
					<td>
						<strong>{{ plugin.name }}</strong>
						<div>{{ plugin.description }}</div>
					</td>
					<td><a v-bind:href="plugin.developerUrl">{{ plugin.developerName }}</a></td>
				</tr>
			</table>

			<div v-show="showSpinner">
				Loading…
			</div>
		</div>
	{% endverbatim %}

	{% js %}

        Vue.use(VueResource);

        new Vue({
            el: '#plugins',
            data: {
                searchQuery: '',
                plugins: [],
                showSpinner: 1,
            },
            computed: {
                pluginsToRender() {
                    var searchQuery = this.searchQuery;
                    return this.plugins.filter(function(plugin) {
                        var searchQueryRegExp = new RegExp(searchQuery, 'gi');

                        if(plugin.name.match(searchQueryRegExp)) {
                            return true;
                        }

                        if(plugin.description.match(searchQueryRegExp)) {
                            return true;
                        }

                        if(plugin.developerName.match(searchQueryRegExp)) {
                            return true;
                        }

                        if(plugin.developerUrl.match(searchQueryRegExp)) {
                            return true;
                        }
                    });
                },
            },
            created: function() {
				var url = Craft.getActionUrl('plugin-store/plugins');
                this.$http.get(url).then(function(data) {
                    this.plugins = this.plugins.concat(data.body.data);
                    this.showSpinner = 0;
                });
            }
        });

	{% endjs %}
{#

	{% if not error %}

		{% if plugins.error is defined %}
			{{ plugins.error }}
		{% else %}
			<h2>All plugins</h2>

			{% if plugins|length > 0 %}
				<table class="data fullwidth">
					<thead>
						<tr>
							<th>Plugin Name</th>
							<th>Developer</th>
						</tr>
					</thead>
					<tbody>
						{% for plugin in plugins %}
							{% if plugin %}
								<tr>
									<td>{{ plugin.name }}</td>
									<td>
										{% if plugin.developerUrl %}
											<a target="_blank" href="{{ plugin.developerUrl }}">{{ plugin.developer }}</a>
										{% else %}
											{{ plugin.developer }}
										{% endif %}
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>{{ 'No plugins'|t('app') }}</p>
			{% endif %}
		{% endif %}
	{% else %}
		<p class="error">{{ error|raw }}</p>
	{% endif %}
#}

{% endset %}
