{% extends "plugin-store/_layouts/cp" %}

{% set title = 'Plugin Store' %}

{% set content %}

	{% if not error %}

		{% if plugins.error is defined %}
			{{ plugins.error }}
		{% else %}
			{% if plugins|length > 0 %}
				<table class="data fullwidth">
					<thead>
						<tr>
							<th class="thin"></th>
							<th>Plugin Name</th>
							<th>Developer</th>
						</tr>
					</thead>
					<tbody>
						{% for plugin in plugins %}
							{% if plugin %}
								<tr>
									<td class="thin">
										<a href="{{ url('plugin-store/'~plugin.slug) }}">
											<div class="plugin-icon">
												{% if plugin.iconUrl %}
													<img src="{{ plugin.iconUrl }}" width="32" />
												{% endif %}
											</div>
										</a>
									</td>
									<td><a href="{{ url('plugin-store/'~plugin.slug) }}">{{ plugin.name }}</a> <span class="light">— {{ plugin.description }}</span></td>
									<td>
										{% if plugin.developerUrl %}
											<a target="_blank" href="{{ plugin.developerUrl }}">{{ plugin.developerName }}</a>
										{% else %}
											{{ plugin.developerName }}
										{% endif %}
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>{{ 'No plugins'|t('app') }}</p>
			{% endif %}
		{% endif %}
	{% else %}
		<p class="error">{{ error|raw }}</p>
	{% endif %}

{% endset %}
