{% extends "plugin-store/_layouts/cp" %}

{% set crumbs = [
	{ label: "Plugin Store"|t('app'), url: url('plugin-store') }
] %}

{% set title = plugin.name %}

{% set content %}

	<div class="plugin-icon-large">
		{% if plugin.iconUrl %}
			<img src="{{ plugin.iconUrl }}" width="128" />
		{% endif %}
	</div>

	<h2>{{ plugin.name }}</h2>

	<p>{{ plugin.description }}</p>
	
	
	<div class="buttons">
		<a href="#" class="btn">Try</a>
		<a href="{{ url('plugin-store/cart') }}" class="btn submit">Buy $99.00</a>
	</div>

	<hr>

	<h2>Description</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa deleniti, enim error explicabo, fugit harum itaque nemo nostrum numquam odit porro quaerat quod saepe soluta, ullam unde veniam voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa deleniti, enim error explicabo, fugit harum itaque nemo nostrum numquam odit porro quaerat quod saepe soluta, ullam unde veniam voluptatem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa deleniti, enim error explicabo, fugit harum itaque nemo nostrum numquam odit porro quaerat quod saepe soluta, ullam unde veniam voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa deleniti, enim error explicabo, fugit harum itaque nemo nostrum numquam odit porro quaerat quod saepe soluta, ullam unde veniam voluptatem.</p>

	<h2>Screenshots</h2>

	<img src="http://via.placeholder.com/150x150">
	<img src="http://via.placeholder.com/150x150">
	<img src="http://via.placeholder.com/150x150">
	<img src="http://via.placeholder.com/150x150">

{% endset %}
