{% extends "_layouts/basecp" %}
{% set title = "Craft Update"|t %}
{% includeCssResource "css/update.css" %}
{% includeJsResource "js/update.js" %}

{% includeTranslations
	"Unable to determine what to update.",
	"An unknown error occurred. Rolling back…",
	"All done!",
	"Craft was unable to install this update :(",
	"The site has been restored to the state it was in before the attempted update.",
	"An error has occurred.  Please contact {email}.",
	"No files have been updated and the database has not been touched."
%}

{% block body %}
	<div id="graphic" class="spinner big"></div>
	<div id="status">{{ "Preparing to update…"|t }}</div>
{% endblock %}


{% set js %}
	new Craft.Updater('{{ handle }}', {{ craft.request.getSegment(1) == 'manualupdate' ? 1 : 0 }});
{% endset %}
{% includeJs js %}
