{% requirePermission 'performUpdates' %}

{% extends "_layouts/cp" %}
{% set title = "Updates"|t %}
{% includeCssResource "css/updates.css" %}
{% includeJsResource "js/updates.js" %}
{% includeJs 'new Craft.UpdateInfo();' %}
{% includeTranslations
	"You’ve got updates!",
	"You’re all up-to-date!",
	"build {build}",
	"Critical",
	"Update",
	"Download",
	"Craft’s <a href=\"http://buildwithcraft.com/license\" target=\"_blank\">Terms and Conditions</a> have changed.",
	"I agree.",
	"Seriously, download.",
	"Seriously, update.",
	"Install",
	"{app} update required",
	"Added",
	"Improved",
	"Fixed",
	"Download"
%}


{% block main %}
	<div id="graphic" class="spinner big"></div>
	<div id="status">{{ "Checking for updates…"|t }}</div>
{% endblock %}
