{% extends "_layouts/cp" %}
{% set title = "Updates"|t %}
{% include_js "updates.js" %}


{% set styles %}
	<style type="text/css">
		h3.critical { color: #8a1f11; }
		.notes { display: none; }
		.cta { position: absolute; top: 15px; right: 15px; }
		.cta .manual { margin-top: 5px; }
	</style>
{% endset %}


{% set titlebar %}
	<h1>{{ title }}</h1>
{% endset %}


{% set content %}
	{% set problems = blx.updates.unwritablefolders %}
	{% if not problems %}
		<div id="checking">
			{{ "Checking for updates…"|t }}
		</div>
		<script type="text/javascript">
			// Keep the spinner vertically centered
			function centerSpinner()
			{
				var top = ((window.innerHeight-48) / 2) - 44;
				document.getElementById('checking').style.top = top+'px';
			}
			centerSpinner();
		</script>

		<div id="updates"></div>
	{% else %}
		<p>{{ "@@@productDisplay@@@ will have a problem writing to the following"|t }} {% if problems|length == 1 %}{{ "folder"|t }}{% else %}{{ "folders"|t }}{% endif %}:</p>
		<ul>
			{% for problem in problems %}
				<li>{{ problem }}<li>
			{% endfor %}
		</ul>

		<br>

		<div>
			<p><strong>{{ "For automatic updates to work, one of the following two criteria must be satisfied:"|t }}</strong></p>
			<p><strong>(a) {{ "File ownership:"|t }}</strong> {{ "All of your @@@productDisplay@@@ files must be owned by the user under which your web server executes. In other words, the owner of your @@@productDisplay@@@ files must match the user under which your web server executes. The web server user (named ‘apache’, ‘web’, ‘www’, ‘nobody’, or some such) is not necessarily the owner of your @@@productDisplay@@@ files. Typically, @@@productDisplay@@@ files are owned by the ftp user which uploaded the original files."|t }}</p>
			<p><strong>(b) {{ "File permissions:"|t }}</strong> {{ "All of your @@@productDisplay@@@ files must be either owner writable by, or group writable by, the user under which your Apache server executes."|t }}</p>
			<p>{{ "On shared hosts, @@@productDisplay@@@ files should specifically NOT be owned by the web server. If more than one user owns different files in the install (because of edits made by deleting and re-uploading of files via different accounts, for example), the file permissions need to be group writable (for example, 775 and 664 rather then the default 755 and 644). File permissions (in general) should be adjusted as appropriate for the server environment."|t }}</p>
		</div>
	{% endif %}
{% endset %}
