{% extends "_cp" %}
{% set title = "Updates"|t %}
{% set centered = true %}
{% includeJsResource "js/updates.js" %}
{% includeTranslations
	"build {build}",
	"Update",
	"Install",
	"{packages} upgrades"
%}


{% set css %}
	#loading { margin-top: 50px !important; padding-top: 70px; text-align: center; background: url({{ resourceUrl('images/spinner-big.gif') }}) no-repeat 50% 0; }
	#updates { display: none; }
	#updates td.notes { border-top: none; }
{% endset %}
{% includeCss css %}


{% set header %}
	<h1>{{ title }}</h1>

	<ul class="right">
		<li><a class="btn" href="{{ url('updates/all') }}">{{ "Update All"|t }}</a></li>
	</ul>
{% endset %}


{% set content %}
	<p id="loading">{{ "Checking for updates…"|t }}</p>

	<div id="updates">
		<h2>{{ "System"|t }}</h2>
		<p id="no-system-updates">{{ "No system updates are available."|t }}</p>

		<table id="system-updates" class="data">
			<tbody>
			</tbody>
		</table>

		<hr>

		<h2>{{ "Plugins"|t }}</h2>
		<p id="no-plugin-updates">{{ "No plugin updates are available."|t }}</p>

		<table id="plugin-updates" class="data">
			<tbody>
			</tbody>
		</table>
	</div>
{% endset %}
