{% include_translation
	"Unable to determine what to update.",
	"You’re already up-to-date.",
	"All done!",
	"An unknown error occurred while updating {name}."
%}

{% set updateInfo = blx.updates.updateinfo('y') %}
{% if updateInfo.blocks.releases or updateInfo.plugins %}

	{% if not updateInfo.blocks.manualUpdateRequired %}
		<form method="post" action="{{ url('update/all') }}">
			<input id="update-all" class="btn big submit" type="submit" value="{{ 'Update All'|t }}">
		</form>
	{% endif %}

	<h2>{{ "You’ve got updates!"|t }}</h2>

	<ul class="biglist">

		{% if updateInfo.blocks.releases %}
			<li>
				<h3 {% if updateInfo.blocks.criticalUpdateAvailable %}class="critical"{% endif %}>
					@@@productDisplay@@@ {{ updateInfo.blocks.latestVersion }} {{ "build"|t }} {{ updateInfo.blocks.latestBuild }}
				</h3>
				<h4><a href="">{{ "release notes"|t }}</a></h4>

				<div class="cta">
					{% if updateInfo.blocks.manualUpdateRequired %}
						<div class="manual"><a href="http://blockscms.com/alpha/blocks_{{ updateInfo.blocks.latestVersion }}.{{ updateInfo.blocks.latestBuild }}.zip">{{ "manual update required"|t }}</a></div>
					{% else %}
						<form method="post" action="{{ url('update/blocks') }}"><input class="btn" type="submit" value="{{ 'Update'|t }}"></form>
					{% endif %}
				</div>

				<div class="notes">
					{% for release in updateInfo.blocks.releases %}
						<h5>@@@productDisplay@@@ {{ release.version }} {{ "Build"|t }} {{ release.build }}</h5>
						<ul>
							<li>{{ release.notes|nl2br }}</li>
						</ul>
					{% endfor %}
				</div>
			</li>
		{% endif %}

		{% for pluginInfo in updateInfo.plugins %}
			{% if pluginInfo.status != 'Unknown' %}
				<li>
					<h3 {% if pluginInfo.criticalUpdateAvailable %}class="critical"{% endif %}>
						{{ pluginInfo.displayName }} {{ pluginInfo.latestVersion }}
					</h3>
					<h4><a>{{ "release notes"|t }}</a></h4>

					<div class="cta">
						<form method="post" action="{{ url('update/' ~ pluginInfo.class|lower) }}"><input class="btn" type="submit" value="{{ 'Update'|t }}"></form>
					</div>

					<div class="notes">
						{% for release in pluginInfo.releases %}
							<h5>{{ pluginInfo.displayName }} {{ release.version }}</h5>
							<ul>
								<li>{{ release.notes|nl2br }}</li>
							</ul>
						{% endfor %}
					</div>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

{% else %}

	<h3>{{ "You’re up to date!"|t }}</h3>

{% endif %}
