{if b.updates.all('y')}

	{if !b.updates.updateInfo.blocks.manualUpdateRequired}
		<form method="post" action="{:b.url.base}update/all">
			<input id="update-all" class="btn big submit" type="submit" value="Update All">
		</form>
	{/if}

	<h2>The following updates are available:</h2>

	<div class="pane">
		<div class="pane-body">
			<table>
				<tbody>
					{foreach b.updates.all('y') as update}
					<tr id="{:update.handle}">
						<td class="pane-item">
							<strong>{:update.name}</strong> {:update.version}
							{if update.critical}<div class="badge warning">Critical</div>{/if}
						</td>
						<td class="pane-item">
							{if update.notes}
								<a class="notes">Show release notes</a>
								<div style="display:none">
									{:update.notes.nl2br}
								</div>
							{/if}
						</td>
						<td class="pane-item">
							{if update.manualUpdateRequired}
								<span class="manual"><a href="http://blockscms.com/alpha/blocks_{:update.latestVersion}.{:update.latestBuild}.zip">Manual update required</a></span>
							{else}
								<form method="post" action="{:b.url.base}update/{:update.handle}"><input class="btn" type="submit" value="Update"></form>
							{/if}
						</td>
					</tr>
					{/foreach}
				</tbody>
			</table>
		</div>
	</div>

	{if b.updates.plugins}
		<div class="pane">
			<div class="pane-body">
				<table>
					<tbody>
						{foreach b.updates.plugins as plugin}
						<tr id="{:plugin.handle}">
							<td class="pane-item">
								<strong>{:plugin.name}</strong> {:plugin.version}
								{if plugin.critical}<div class="badge warning">Critical</div>{/if}
							</td>
							<td class="pane-item">
								{if plugin.notes}
									<a class="notes">Show release notes</a>
									<div style="display:none">
										{:plugin.notes.nl2br}
									</div>
								{/if}
							</td>
							<td class="pane-item">
								<form method="post" action="{:b.url.base}update/{:plugin.handle}"><input class="btn" type="submit" value="Update"></form>
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
			</div>
		</div>
	{/if}

{else}

	<div id="no-updates" class="pane">
		<div class="pane-head">
			<h5>No updates available</h5>
		</div>
		<div class="pane-body">
			<p class="pane-item">Congrats! Everything’s up-to-date already.</p>
		</div>
	</div>

{/if}
