{set updateInfo = b.updates.updateinfo('y')}
{if updateInfo.blocks.releases.length > 0 || updateInfo.plugins.releases.length > 0}

	{if !updateInfo.blocks.manualUpdateRequired}
		<form method="post" action="{:b.url.base}update/all">
			<input id="update-all" class="btn big submit" type="submit" value="Update All">
		</form>
	{/if}

	<h2>The following updates are available:</h2>

	<div class="pane">
		<div class="pane-body">
			<table>
				<tbody>
					<tr id="Blocks">
						<td class="pane-item">
							<strong>{:b.app.product}</strong> {:updateInfo.blocks.latestVersion} Build {:updateInfo.blocks.latestBuild}
							{if updateInfo.blocks.criticalUpdateAvailable}<div class="badge warning">Critical</div>{/if}
						</td>
						<td class="pane-item">
							<a class="notes">Show release notes</a>
							<div style="display:none">
								{foreach updateInfo.blocks.releases as release}
									<h5>{:b.app.product} {:release.version} Build {:release.build}</h5>
									<ul>
										<li>{:release.notes.nl2br}</li>
									</ul>
								{/foreach}
							</div>
						</td>
						<td class="pane-item">
							{if updateInfo.blocks.manualUpdateRequired}
								<span class="manual"><a href="http://blockscms.com/alpha/blocks_{:updateInfo.blocks.latestVersion}.{:updateInfo.blocks.latestBuild}.zip">Manual update required</a></span>
							{else}
								<form method="post" action="{:b.url.base}update/Blocks"><input class="btn" type="submit" value="Update"></form>
							{/if}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	{if updateInfo.plugins}
		<div class="pane">
			<div class="pane-body">
				<table>
					<tbody>
						{foreach updateInfo.plugins as pluginInfo}
						<tr id="{:pluginInfo.class}">
							<td class="pane-item">
								<strong>{:pluginInfo.name}</strong> {:pluginInfo.version}
								{if pluginInfo.criticalUpdateAvailable}<div class="badge warning">Critical</div>{/if}
							</td>
							<td class="pane-item">
								<a class="notes">Show release notes</a>
								<div style="display:none">
									{foreach pluginInfo.releases as release}
										<h5>{:pluginInfo.name} {:release.version}</h5>
										<ul>
											<li>{:release.notes.nl2br}</li>
										</ul>
									{/foreach}
								</div>
							</td>
							<td class="pane-item">
								<form method="post" action="{:b.url.base}update/{:plugin.class.lowercase}"><input class="btn" type="submit" value="Update"></form>
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
			</div>
		</div>
	{/if}

{else}

	<div id="no-updates" class="pane">
		<div class="pane-head">
			<h5>No updates available</h5>
		</div>
		<div class="pane-body">
			<p class="pane-item">Congrats! Everything’s up-to-date already.</p>
		</div>
	</div>

{/if}
