# The environment Craft is currently running in ('dev', 'staging', 'production', etc.)
CRAFT_ENVIRONMENT="dev"

# The database driver that will used ('mysql' or 'pgsql')
CRAFT_DB_DRIVER="mysql"

# The database server name or IP address (usually this is 'localhost' or '127.0.0.1')
CRAFT_DB_SERVER="localhost"

# The database username to connect with
CRAFT_DB_USER="root"

# The database password to connect with
CRAFT_DB_PASSWORD=""

# The name of the database to select
CRAFT_DB_DATABASE=""

# The database schema that will be used (PostgreSQL only)
CRAFT_DB_SCHEMA="public"

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
CRAFT_DB_TABLE_PREFIX=""

# The port to connect to the database with. Will default to 5432 for PostgreSQL and 3306 for MySQL.
CRAFT_DB_PORT=""
