*.md
*.php
composer.lock
**/dist/*
vendor/*
.ddev/*
resources/build/*
yii2-adapter/cpresources/*
yii2-adapter/lib/*
yii2-adapter/legacy/web/assets/**/dist/*
yii2-adapter/legacy-tests/_craft/*
tests-playwright/.authentication.json
