*.md
*.php
composer.lock
**/dist/*
vendor/*
.ddev/*
resources/build/*
resources/icons/*
resources/js/actions/*
resources/js/routes/*
resources/js/wayfinder/*
yii2-adapter/*
tests-playwright/.authentication.json
