*.md
*.php
composer.lock
packages/**/dist/*
vendor/*
.ddev/*
yii2-adapter/cpresources/*
yii2-adapter/lib/*
yii2-adapter/legacy/web/assets/**/dist/*
yii2-adapter/legacy-tests/_craft/*
tests-playwright/.authentication.json
