actor: Tester
paths:
    tests: tests
    log: tests/_output
    data: tests/_data
    support: tests/_support
    envs: tests/_envs
settings:
    bootstrap: _bootstrap.php
    colors: true
coverage:
    enabled: true
    include:
        - src/*
    exclude:
        - tests/_support/_generated/*
        - src/config/*
        - src/icons/*
        - src/test/*
        - src/migrations/*
        - src/templates/*
        - src/translations/*
        - src/migration.php.template
params:
    - tests/.env
modules:
    config:
        \craft\test\Craft:
            configFile: 'tests/_craft/config/test.php'
            entryUrl: 'https://test.craftcms.dev/'
            entryScript: 'index.php'
            projectConfig: {}
            migrations: [{'class': 'craft\migrations\ExampleMigration', 'params': {tableName: 'exampletable'}}]
            plugins: [{'class': 'craftcms\base\ExamplePlugin', 'handle': 'example-plugin'}]
            cleanup: true # Should tests and fixtures be cleaned
            transaction: true # Wrap in transaction
            dbSetup: {clean: true, setupCraft: true} # What DB setup work do we need to do.
            fullMock: false
