actor: Tester
paths:
    tests: tests
    log: tests/_output
    data: tests/_data
    support: tests/_support
    envs: tests/_envs
settings:
    bootstrap: _bootstrap.php
    colors: true
modules:
  config:
    Yii2:
      configFile: 'tests/_craft/config/test.php'
  enabled:
    - Db:
        dsn: 'mysql:host=localhost;dbname=craft3test'
        user: 'root'
        password: ''
        dump: 'tests/_data/dump.sql'
        populate: true
        cleanup: true
        reconnect: true