parameters:
    level: 1
    paths:
        - src
        - tests
    excludePaths:
        - tests/_craft/*
        - tests/_data/*
        - tests/_output/*
        - src/test/internal/*
        - src/config/composer-classes.php
        - src/config/mimeTypes.php
        - src/views/debug/*
        - src/image/*
    scanDirectories:
        - tests/_craft/storage/runtime/compiled_classes/
    scanFiles:
        - vendor/twig/twig/src/Extension/CoreExtension.php
        - vendor/codeception/codeception/autoload.php
    bootstrapFiles:
        - tests/_bootstrap.php
    stubFiles:
        - stubs/BaseYii.stub
    earlyTerminatingMethodCalls:
        Craft:
            - dd
        yii\base\Application:
            - end
        yii\base\ErrorHandler:
            - convertExceptionToError
    ignoreErrors:
    		- '#Call to an undefined method Throwable::getMessage\(\)#'
