parameters:
    level: 1
    paths:
        - src
        - tests
    excludePaths:
        - src/config/composer-classes.php
        - src/config/mimeTypes.php
        - src/image/*
        - src/services/Images.php
        - src/test/internal/*
        - src/views/debug/*
        - tests/_craft/*
        - tests/_data/*
        - tests/_output/*
    scanDirectories:
        - tests/_craft/storage/runtime/compiled_classes/
    scanFiles:
        - vendor/codeception/codeception/autoload.php
        - vendor/twig/twig/src/Extension/CoreExtension.php
    bootstrapFiles:
        - tests/_bootstrap.php
    stubFiles:
        - stubs/BaseYii.stub
    earlyTerminatingMethodCalls:
        Craft:
            - dd
        yii\base\Application:
            - end
        yii\base\ErrorHandler:
            - convertExceptionToError
    ignoreErrors:
        - '#Call to an undefined method Throwable::getFile\(\)#'
        - '#Call to an undefined method Throwable::getLine\(\)#'
        - '#Call to an undefined method Throwable::getMessage\(\)#'
        - '#Call to an undefined method Throwable::getPrevious\(\)#'
        - '#Call to an undefined method Throwable::getTraceAsString\(\)#'
        - '#Call to an undefined method yii\\web\\UrlManager::setRouteParams\(\)#'
        - '#PHPDoc tag @mixin contains invalid type craft\\base\\+[a-zA-Z0-9]#'
        - '#Unsafe access to private property .* through static::#'
        - '#Unsafe call to private method .* through static::#'
        - '#Variable \$behavior in PHPDoc tag @var does not exist#'
        - '#Variable \$field in PHPDoc tag @var does not exist#'
        - '#Variable \$revision in PHPDoc tag @var does not exist#'
        - '#^PHPDoc tag @mixin contains invalid type CraftTrait\.$#'
