includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    phpVersion: 80400
    level: 5
    paths:
        - src
        - config
    stubFiles:
        - yii2-adapter/stubs/_generated.stub
        - yii2-adapter/stubs/GraphQL/Type/Definition/FieldDefinition.stub
        - yii2-adapter/stubs/GraphQL/Type/Definition/ResolveInfo.stub
        - yii2-adapter/stubs/samdark/log/PsrTarget.stub
        - yii2-adapter/stubs/yii/base/Component.stub
        - yii2-adapter/stubs/yii/base/Event.stub
        - yii2-adapter/stubs/yii/base/Module.stub
        - yii2-adapter/stubs/yii/BaseYii.stub
        - yii2-adapter/stubs/yii/db/BaseActiveRecord.stub
        - yii2-adapter/stubs/yii/db/Query.stub
        - yii2-adapter/stubs/yii/db/Migration.stub
        - yii2-adapter/stubs/yii/di/ServiceLocator.stub
        - yii2-adapter/stubs/yii/helpers/BaseArrayHelper.stub
        - yii2-adapter/stubs/yii/validators/UniqueValidator.stub
        - yii2-adapter/stubs/yii/validators/Validator.stub
    treatPhpDocTypesAsCertain: false
    databaseMigrationsPath:
        - src/Database/Migrations
    configDirectories:
        - tests
