{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}


{% if not entryPackage and entryId %}
	{% set entryPackage = blx.content.getEntryById(entryId) %}
	{% if not entryPackage %}{% exit 404 %}{% endif %}
{% endif %}


{% if entryPackage.id %}
	{% set title = "Editing {title}"|t({ title: '<i>'~entryPackage.title|t~'</i>' }) %}
{% else %}
	{% set title = "Create a new entry"|t %}
{% endif %}


{% set titlebar %}
	<h1>{{ title|raw }}</h1>
	<ul class="left">
		<li><a href="{{ url('content') }}" class="btn backbtn">{{ "Content"|t }}</a></li>
	</ul>
{% endset %}


{% set content %}
	<form method="post" action="" class="centered">
		<input type="hidden" name="action" value="content/saveEntry">
		<input type="hidden" name="redirect" value="content/blog/{entryId}">
		{% if entryPackage.id %}<input type="hidden" name="entryId" value="{{ entryPackage.id }}">{% endif %}

		{{ forms.textField({
			label: "Title"|t,
			id: 'title',
			name: 'title',
			value: entryPackage.title,
			errors: entryPackage.errors.title,
			first: true,
			required: true
		}) }}

		{{ forms.textField({
			label: "Slug"|t,
			id: 'slug',
			name: 'slug',
			value: entryPackage.slug,
			errors: entryPackage.errors.slug,
			required: true
		}) }}

		{% for blockPackage in blx.content.entryBlocks %}
			{% set block = blx.blocks.populateBlock(blockPackage) %}
			{% set data = entryPackage.blocks[blockPackage.handle] %}
			{% set errors = entryPackage.blockErrors[blockPackage.handle] %}
			{% set input = block.input(blockPackage.handle, data, errors) %}

			{{ forms.field({
				label: blockPackage.name,
				<!-- BLOCKSPRO ONLY -->
				required: blockPackage.required,
				translatable: blockPackage.translatable,
				<!-- end BLOCKSPRO ONLY -->
				instructions: blockPackage.instructions,
				id: blockPackage.handle,
				errors: errors
			}, input)|ns('blocks')|raw }}
		{% endfor %}

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}


{% set scripts %}
	<script type="text/javascript">
		{% if not section.handle %}new Blocks.ui.HandleGenerator('#name', '#handle');{% endif %}
		{% if not section.urlFormat %}new Blocks.ui.EntryUrlFormatGenerator('#name', '#urlFormat');{% endif %}
	</script>
{% endset %}
