{% extends "_layouts/cp" %}

{% set title = "Utilities"|t('app') %}

{% block content %}
	{% do view.registerCssResource("css/utilities.css") %}
	{% do view.registerJsResource("js/utilities.js") %}

	<h2>{{ "System"|t('app') }}</h2>

	{% set system = [
		{
			title: "System Report",
			url: url('utilities/system-report'),
			icon: 'section',
		},
		{
			title: "PHP Info",
			url: url('utilities/php-info'),
			icon: 'database',
		},
		{
			title: "Deprecation Errors",
			url: url('utilities/deprecation-errors'),
			icon: 'alert',
		},
	] %}

	<ul class="icons">
		{% for item in system %}
			<li><a href="{{ item.url }}" data-icon="{{ item.icon }}">{{ item.title }}</a></li>
		{% endfor %}
	</ul>

	<hr>

	<h2>{{ "Tools"|t('app') }}</h2>

	<ul class="icons">
		{% for tool in tools %}
			{% set triggerId = 'tool-' ~ className(tool)|id %}
			<li><a id="{{ triggerId }}" data-icon="{{ tool.iconValue() }}">{{ tool.displayName() }}</a></li>
			{% js %}
			new Craft.Tool('{{ triggerId|e("js") }}', '{{ className(tool)|e("js") }}', {{ tool.optionsHtml()|json_encode|raw }}, '{{ tool.buttonLabel()|e("js") }}');
			{% endjs %}

		{% endfor %}
	</ul>
{% endblock %}
