{% extends "_layouts/cp" %}

{% set title = displayName %}

{% block sidebar %}
    <nav>
        <ul>
            {% for utility in utilities %}
                {% set selected = utility.id == id %}
                <li>
                    <a class="{% if selected %}sel{% elseif utility.badgeCount %}has-badge{% endif %}" href="{{ url('utilities/'~utility.id) }}">
                        <span class="icon icon-mask">{{ utility.iconSvg|raw }}</span>
                        <span class="label">{{ utility.displayName }}</span>
                        {% if not selected and utility.badgeCount %}
                            <span class="badge">{{ utility.badgeCount|number(decimals=0) }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    {{ contentHtml|raw }}
{% endblock %}
