{% extends "utilities/_layout" %}

{% set title = "PHP Info"|t('app') %}

{% block pageTitle %}
	{{ parent() }}

	<a class="btn menubtn">{{ "Sections"|t('app') }}</a>
	<div class="menu phpinfo-menu">
		<ul>
			{% for section, values in phpInfo %}
				<li>
					{% if loop.first %}
						{% set sectionLink = '#top' %}
					{% else %}
						{% set sectionLink = '#'~section|replace(' ', '-') %}
					{% endif %}

					<a href="{{ sectionLink }}">{{ section }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}

{% block content %}

	{% for section, values in phpInfo %}
		<h2 id="{{ section|replace(' ', '-') }}" class="phpinfo-section">{{ section }}</h2>
		<table class="data fullwidth fixed-layout">
			<tbody>
				{% for key, value in values %}
					<tr>
						<th class="light">{{ key|raw }}</th>
						<td style="overflow: hidden;">
							{% if value is iterable %}
								{{ value|join(', ') }}
							{% else %}
								{{ value|raw }}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endfor %}

{% endblock %}
