{% extends "utilities/_layout" %}

{% set title = "Update Asset Indexes"|t('app') %}

{% set selectedNavItem = 'assetIndex' %}

{% block content %}

	<form id="asset-index" class="utility" method="post" accept-charset="UTF-8">

		<input type="hidden" name="action" value="utilities/asset-index-perform-action">

		{{ csrfInput() }}

		{{ html|raw }}

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ "Go!"|t('app') }}" />
			<div class="utility-status"></div>
		</div>

	</form>

{% endblock %}

{% js %}
new Craft.AssetIndexUtility("asset-index");
{% endjs %}

