{% extends "utilities/_layout" %}

{% import "_includes/forms" as forms %}

{% set title = "Find And Replace"|t('app') %}

{% set selectedNavItem = 'findAndReplace' %}

{% block content %}

	<form id="find-and-replace" class="utility" method="post" accept-charset="UTF-8">

		<input type="hidden" name="action" value="utilities/find-and-replace-perform-action">

		{{ csrfInput() }}

		{{ forms.textField({
			first: true,
			name: 'find',
			placeholder: "Find"|t('app')
		}) }}

		{{ forms.textField({
			name: 'replace',
			placeholder: "Replace"|t('app')
		}) }}

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ "Go!"|t('app') }}" />
			<div class="utility-status"></div>
		</div>

	</form>

{% endblock %}

{% js %}
new Craft.FindAndReplaceUtility("find-and-replace");
{% endjs %}

