{% extends "utilities/_layout" %}

{% import "_includes/forms" as forms %}

{% set title = "Update SearchIndexes"|t('app') %}

{% set selectedNavItem = 'searchIndex' %}

{% block content %}

	<form id="search-index" class="utility" method="post" accept-charset="UTF-8">

		<input type="hidden" name="action" value="utilities/search-index-perform-action">

		{{ csrfInput() }}

		<div class="buttons first">
			<input type="submit" class="btn submit" value="{{ "Go!"|t('app') }}" />
			<div class="utility-status"></div>
		</div>

	</form>

{% endblock %}

{% js %}
new Craft.SearchIndexUtility("search-index");
{% endjs %}

