<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{title} – Blocks</title>
	<link rel="stylesheet" type="text/css" href="styles/reset.css" />
	<link rel="stylesheet" type="text/css" href="styles/blocks.css" />
	<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
</head>
<body class="{tab} {bodyClass}">

	<div id="nav">
		<ul id="nav-left">
			{% for t in cp.tabs %}
			<li id="nav-{t}"><a{% if t == tab %} class="sel"{% endif %} href="{cp.baseUrl}{t}/index"><span></span>{t.name}</a></li>
			{% endfor %}
		</ul>
		<ul id="nav-right">
			<li id="nav-guide"><a href="guide.html"><span></span>User Guide</a></li>
			<li id="nav-settings"><a href="settings.html"><span></span>Settings</a></li>
			<li id="nav-account"><a href="account.html"><span></span>My Account</a></li>
			<li id="nav-logout"><a href=""><span></span>Sign out</a></li>
		</ul>
	</div>
