<table class="data fullwidth">
	<thead>
		<tr>
			<td></td>
			<th scope="col">
				<h1 class="craftclient">Craft Client</h1>
				<div class="btn">$199</div>
			</th>
			<th scope="col">
				<h1 class="craftpro">Craft Pro</h1>
				<div class="btn">$299</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="group" colspan="3">{{ "Content Publishing"|t }}</th>
		</tr>
		<tr>
			<th class="feature" scope="row">Unlimited Singles and Channels</th>
			<td><span data-icon="check"></span></td>
			<td><span data-icon="check"></span></td>
		</tr>
		<tr>
			<th class="feature" scope="row">Structure sections</th>
			<td><span data-icon="check"></span></td>
			<td><span data-icon="check"></span></td>
		</tr>
		<tr>
			<th class="feature" scope="row">Entry versioning</th>
			<td><span data-icon="check"></span></td>
			<td><span data-icon="check"></span></td>
		</tr>
		<tr>
			<th class="feature" scope="row">Entry drafts</th>
			<td><span data-icon="check"></span></td>
			<td><span data-icon="check"></span></td>
		</tr>

		<tr>
			<th class="group" colspan="3">{{ "User Accounts"|t }}</th>
		</tr>
		<tr>
			<th class="feature" scope="row">Additional user accounts</th>
			<td>One “Client” account</td>
			<td>Unlimited</td>
		</tr>
		<tr>
			<th class="feature" scope="row">User groups</th>
			<td></td>
			<td><span data-icon="check"></span></td>
		</tr>
		<tr>
			<th class="feature" scope="row">User permissions</th>
			<td></td>
			<td><span data-icon="check"></span></td>
		</tr>
		<tr>
			<th class="feature" scope="row">Public user registration</th>
			<td></td>
			<td><span data-icon="check"></span></td>
		</tr>

		<tr>
			<th class="group" colspan="3">{{ "System Branding"|t }}</th>
		</tr>
		<tr>
			<th class="feature" scope="row">Custom login screen logo</th>
			<td><span data-icon="check"></span></td>
			<td><span data-icon="check"></span></td>
		</tr>
		<tr>
			<th class="feature" scope="row">Custom HTML email template</th>
			<td><span data-icon="check"></span></td>
			<td><span data-icon="check"></span></td>
		</tr>
		<tr>
			<th class="feature" scope="row">Custom email message wording</th>
			<td><span data-icon="check"></span></td>
			<td><span data-icon="check"></span></td>
		</tr>

		<tr>
			<th class="group" colspan="3">{{ "Assets"|t }}</th>
		</tr>
		<tr>
			<th class="feature" scope="row">Amazon S3 support</th>
			<td></td>
			<td><span data-icon="check"></span></td>
		</tr>
		<tr>
			<th class="feature" scope="row">Rackspace Cloud Files support</th>
			<td></td>
			<td><span data-icon="check"></span></td>
		</tr>
		<tr>
			<th class="feature" scope="row">Google Cloud Storage support</th>
			<td></td>
			<td><span data-icon="check"></span></td>
		</tr>

		<tr>
			<th class="group" colspan="3">{{ "Localization and Translation"|t }}</th>
		</tr>
		<tr>
			<th class="feature" scope="row">Section and entry locale targetting</th>
			<td></td>
			<td><span data-icon="check"></span></td>
		</tr>
		<tr>
			<th class="feature" scope="row">Content translations</th>
			<td></td>
			<td><span data-icon="check"></span></td>
		</tr>
		<tr>
			<th class="feature" scope="row">Locale-specific user permissions</th>
			<td></td>
			<td><span data-icon="check"></span></td>
		</tr>
	</tbody>
</table>
