{layout "_layouts/full" pageTitle="About"}

{region "styles"}
	<style type="text/css">
		#about \{ position: absolute; margin: 0 -20px; padding-top: 188px; width: 100%; text-align: center; color: #474a4d; text-shadow: 0 1px 0 rgba(255,255,255,0.5); background: url({:url.resource}images/logo.png) no-repeat 50% 0; \}
	</style>
{/region}

{region "main"}
	<div id="about">
		<p>Version {:app.version} Build {:app.build}</p>
		<p>Copyright © {:date.year} Pixel &amp; Tonic, Inc.<br>
			All rights reserved.
		</p>
	</div>
	<script type="text/javascript">
		// Keep the spinner vertically centered
		function centerAbout()
		{
			var top = ((window.innerHeight-48) / 2) - 127;
			document.getElementById('about').style.top = top+'px';
		}
		centerAbout();
	</script>
{/region}

{region "scripts"}
	<script type="text/javascript">
		b.$window.on('resize.about', centerAbout);
	</script>
{/region}
