{% extends "_layouts/base" %}
{% import "_includes/forms" as forms %}
{% set title = "Login"|t %}
{% includeCssResource "css/login.css" %}
{% includeJsResource "js/login.js" %}
{% includeTranslations
	"Forget your password?",
	"Reset Password",
	"Check your email for instructions to reset your password."
%}

{% set body %}
    <script type="text/javascript">
		var cookie = 'BlocksCookieTest='+Math.floor(Math.random() * 1000000);
		document.cookie = cookie;
		var cookiesEnabled = document.cookie.search(cookie) != -1;
		if (cookiesEnabled)
		{
			document.write(
				'<form id="login-form" method="post" action="" accept-charset="UTF-8" {% if blx.hasPackage("Rebrand") and blx.rebrand.isLogoUploaded -%}
						{%- set logo = blx.rebrand.logo -%}
						{%- set padding = logo.height + 30 %}
						style="background-image: url({{ logo.url }}); background-size: {{ logo.width }}px {{ logo.height }}px; padding-top: {{ padding }}px; margin-top: -{{ round((156+padding)/2) }}px"
					{%- endif %}>' +
					'{{ forms.textField({ id: "loginName", hint: "Username or Email"|t, value: blx.session.rememberedUsername })|e("js") }}' +

					'<div id="login-fields" class="nested-fields">' +
						'{{ forms.passwordField({ id: "password", hint: "Password"|t })|e("js") }}' +
						{% if blx.config.rememberedUserSessionDuration %}
							'{{ forms.checkboxField({ id: "rememberMe", label: "Keep me logged in"|t })|e("js") }}' +
						{% endif %}
					'</div>' +

					'<div class="buttons">' +
						'<div id="submit" class="btn submit disabled {% if not blx.request.isSecure %}in{% endif %}secure icon">' +
							'<span class="label">{{ "Login"|t }}</span>' +
							'<input type="submit">' +
						'</div>' +
						'<div id="spinner" class="spinner hidden"></div>' +
					'</div>' +
				'</form>'
			);

			document.getElementById("{{ (blx.session.rememberedUsername ? 'password' : 'loginName') }}").focus();
			window.returnUrl = '{{ blx.session.returnUrl|e('js') }}';
		}
		else
		{
			document.write(
				'<div class="no-access">' +
					'<div class="pane">' +
						'<div class="pane-body">' +
							'<div class="notice">' +
								'<div class="icon"></div>' +
								'<p>{{ "Cookies must be enabled to access the Blocks CP."|t }}<br>' +
									'<a class="go" href="">{{ "See how"|t }}</a>' +
								'</p>' +
							'</div>' +
						'</div>' +
					'</div>' +
				'</div>'
			);
		}
	</script>
{% endset %}
