{layout "_layouts/basic" title="Password Reset Required"}

{region "styles"}
	<style type="text/css">
		html, body, #main { height: 100%; }
		#main { padding: 0; }
		#notice { position: absolute; top: 50%; margin-top: -44px; padding-top: 68px; width: 100%; text-align: center; font-size: 16px; line-height: 20px; background: url({:url.resource}images/error.png) no-repeat 50% 0; }
	</style>
{/region}

{region "body"}
	<div id="main">
		<div id="notice">You need to reset your password. Check your email for instructions on how to do that.</div>
	</div>
{/region}
