{% extends "_layouts/message" %}
{% set title = "Verify Account"|t %}
{% import "_includes/forms" as forms %}

{% set content %}
	<form method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="redirect" value="dashboard">
		<input type="hidden" name="code" value="{{ code }}">

		<div>
			{{ forms.passwordField({
				id: 'newPassword',
				label: "Choose a new password"|t,
				name: 'newPassword',
				errors: (errors is defined ? errors : null)
			}) }}
		</div>

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Reset Password'|t }}">
		</div>
	</form>
{% endset %}
