{% set title = "Verify Account"|t %}
{% extends "_layouts/basic" %}


{% if blx.session.loggedin %}
	{% redirect "dashboard" %}
{% endif %}


{% block body %}
	<div class="pane">
		<div class="pane-head">
			Set Password
		</div>
		<div class="pane-body">
			<form method="post" action="">
				<input type="hidden" name="action" value="account/verify">
				<input type="hidden" name="redirect" value="dashboard">

				{% set activationCode = blx.url.get('code') %}
				{% if activationCode and blx.security.validateUserActivationCode(activationCode) %}
					{% set user = blx.security.getUserByActivationCode(activationCode) %}

					<div class="pane-item">Let's set a password for your account.</div>
					<input type="hidden" name="userId" value="{{ user.id }}">
					<div class="pane-item field">
						<label for="password">{{ "Password"|t }}</label>
						<div class="passwordwrapper"><input id="password" name="password" class="text password {% if verifyAccountInfo.errors.password %}error{% endif %}" type="password"></div>
						{% if verifyAccountInfo.errors.password %}
							{% include "_includes/error_list" with {'errors': verifyAccountInfo.errors.password} %}
						{% endif %}
					</div>
					<div class="pane-item">
						<input class="btn big submit" type="submit" value="{{ 'Set Password'|t }}">
					</div>
				{% else %}
					There was a problem validating this activation code.
				{% endif %}
			</form>
		</div>
	</div>
{% endblock %}
