{if user.isloggedIn}
	{redirect "dashboard"}
{/if}

{layout "_layouts/basic" pageTitle="Verify Account"}

{region "body"}
	<div class="pane">
		<div class="pane-head">
			Set Password
		</div>
		<div class="pane-body">
			<form method="post" action="">
				<input type="hidden" name="action" value="account/verify" />
				<input type="hidden" name="redirect" value="dashboard" />

				{set activationCode = url.get('code')}
				{if activationCode && security.validateUserRegistration(activationCode)}
					{set userModel = security.getUserByActivationCode(activationCode)}

					<div class="pane-item">Let's set a password for your account.</div>
					<input type="hidden" name="userId" value="{:userModel.id}" />
					<div class="pane-item field">
						<label for="password">Password</label>
						<div class="passwordwrapper"><input id="password" name="password" class="text password {if verifyAccountInfo.errors.password}error{/if}" type="password" /></div>
						{if verifyAccountInfo.errors.password}
							{include "_includes/error_list" errors=verifyAccountInfo.errors.password}
						{/if}
					</div>
					<div class="pane-item field">
						<label for="confirm-password">Confirm Password</label>
						<div class="passwordwrapper"><input id="confirm-password" name="confirm-password" class="text password {if verifyAccountInfo.errors.confirmPassword}error{/if}" type="password" /></div>
						{if verifyAccountInfo.errors.confirmPassword}
							{include "_includes/error_list" errors=verifyAccountInfo.errors.confirmPassword}
						{/if}
					</div>
					<div class="pane-item">
						<input class="btn big submit" type="submit" value="Set Password" />
					</div>
				{else}
					There was a problem validating this activation code.
				{/if}
			</form>
		</div>
	</div>
{/region}
