{% extends "_layouts/cp" %}
{% set title = "What’s new in Craft 2.5" %}
{% set bodyClass = 'whats-new' %}
{% includecssresource "css/whats-new.css" %}

{% block pageHeader %}{% endblock %}

{% set url = 'http://buildwithcraft.com/updates/2.5?beta=1' %}

{% block content %}
	<header>
		<h1>{{ title }}</h1>
	</header>

	<h1>Brand new Dashboard</h1>
	<p>Create new Dashboard widgets, change their settings, reorder them, resize them, and delete them, all from the new Dashboard.</p>
	<div class="screenshot">
		<img src="{{ resourceUrl('images/whats-new/new-dashboard.png') }}" alt="The new Dashboard" width="2428" height="1520">
	</div>

	<h1>Customizable element indexes</h1>
	<p>Arrange your element index sources in a way that makes sense for your content, and choose relevant table columns for each source.</p>
	<div class="screenshot">
		<img src="{{ resourceUrl('images/whats-new/customized-entry-index.png') }}" alt="A user permissions selection list." width="2428" height="1520">
	</div>

	<h1>Inline element creation</h1>
	<p>Create new entries and categories right from their relational fields, without leaving the page.</p>
	<div class="screenshot">
		<img src="{{ resourceUrl('images/whats-new/inline-entry-creation.png') }}" alt="The Settings page translated into Slovak" width="2428" height="1520">
	</div>

	<h1>And more!</h1>
	<p>Craft 2.5 packs over 120 additions and improvements. Find out about all the changes from the <a href="{{ url }}">release notes</a>.</p>
{% endblock %}
