<input type="hidden" name="{{ name }}" value="">

<div class="matrix" id="{{ id }}">
	<div class="blocks">
		{% set totalNewBlocks = 0 %}
		{% for block in blocks %}
			{% set blockId = block.id %}
			{% if not blockId %}
				{% set totalNewBlocks = totalNewBlocks + 1 %}
				{% set blockId = 'new'~totalNewBlocks %}
			{% endif %}

			<div class="matrixblock" data-id="{{ blockId }}">
				<input type="hidden" name="{{ name }}[{{ blockId }}][type]" value="{{ block.getType() }}">
				<div class="actions">
					<a class="settings icon menubtn" title="{{ 'Actions'|t }}" role="button"></a>
					<div class="menu" data-align="right">
						<ul>
							{% for blockType in blockTypes %}
								<li><a data-action="add" data-type="{{ blockType.handle }}">{{ "Add {type} above"|t({ type: blockType.name|t }) }}</a></li>
							{% endfor %}
						</ul>
						<hr>
						<ul>
							<li><a data-action="delete">{{ "Delete"|t }}</a></li>
						</ul>
					</div>
					<a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a>
				</div>
				<div class="fields">
					{% include "_includes/fields" with {
						namespace: name~'['~blockId~'][fields]',
						element: block,
						fields: block.getType().getFieldLayout().getFields()
					} %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="buttons">
		<div class="btngroup">
			{% for blockType in blockTypes %}
				<div class="btn{% if loop.first %} add icon{% endif %}" data-type="{{ blockType.handle }}">{{ blockType.name|t }}</div>
			{% endfor %}
		</div>

		<div class="btn add menubtn hidden">{{ "Add a block"|t }}</div>
		<div class="menu">
			<ul>
				{% for blockType in blockTypes %}
					<li><a data-type="{{ blockType.handle }}">{{ blockType.name|t }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
