{% import "_includes/forms" as forms %}


{% set recordTypeInput %}
	<div class="mc-sidebar record-types">
		<div class="col-inner-container">
			<div class="heading">
				<h5>{{ "Record Types"|t }}</h5>
			</div>
			<div class="items">
				{% for recordType in recordTypes %}
					<div class="matrixconfigitem mci-recordtype{% if recordType.hasFieldErrors %} error{% endif %}" data-id="{{ recordType.id }}"{% if recordType.hasErrors() %} data-errors="{{ recordType.getErrors() | json_encode }}"{% endif %}>
						<div class="name">{% if recordType.name %}{{ recordType.name }}{% else %}&nbsp;{% endif %}</div>
						<div class="handle code">{% if recordType.handle %}{{ recordType.handle }}{% else %}&nbsp;{% endif %}</div>
						<div class="actions">
							<a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a>
							<a class="settings icon{% if recordType.hasErrors() %} error{% endif %}" title="{{ 'Settings'|t }}" role="button"></a>
						</div>
						<input class="hidden" name="recordTypes[{{ recordType.id }}][name]" value="{{ recordType.name }}">
						<input class="hidden" name="recordTypes[{{ recordType.id }}][handle]" value="{{ recordType.handle }}">
					</div>
				{% endfor %}
				<div class="btn add icon">{{ "New record type"|t }}</div>
			</div>
		</div>
	</div>
	<div class="mc-sidebar fields">
		<div class="col-inner-container hidden">
			<div class="heading">
				<h5>{{ "Fields"|t }}</h5>
			</div>
			<div class="items">
				{% for recordType in recordTypes %}
					<div data-id="{{ recordType.id }}" class="hidden">
						{% for field in recordType.getFields() %}
							<div class="matrixconfigitem mci-field{% if field.hasErrors() %} error{% endif %}" data-id="{{ field.id }}">
								<div class="name{% if field.required %} required{% endif %}">{{ field.name }}&nbsp;</div>
								<div class="handle code">{{ field.handle }}&nbsp;</div>
								<div class="actions">
									<a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
				<div class="btn add icon">{{ "New field"|t }}</div>
			</div>
		</div>
	</div>
	<div class="field-settings">
		<div class="col-inner-container hidden">
			<div class="heading">
				<h5>{{ "Field Settings"|t }}</h5>
			</div>
			<div class="items">
				{% for recordType in recordTypes %}
					<div data-id="{{ recordType.id }}">
						{% for field in recordType.getFields() %}
							{% set fieldId = field.id %}
							<div data-id="{{ fieldId }}" class="hidden">
								{{ forms.textField({
									label: "Name"|t,
									id: fieldId~'-name',
									name: 'recordTypes['~recordType.id~'][fields]['~fieldId~'][name]',
									value: field.name,
									errors: field.getErrors('name'),
									required: true,
									translatable: true,
									autofocus: true
								}) }}

								{{ forms.textField({
									label: "Handle"|t,
									id: fieldId~'-handle',
									class: 'code',
									name: 'recordTypes['~recordType.id~'][fields]['~fieldId~'][handle]',
									maxlength: 64,
									value: field.handle,
									errors: field.getErrors('handle'),
									required: true,
								}) }}

								{{ forms.checkboxField({
									label: "This field is required"|t,
									name: 'recordTypes['~recordType.id~'][fields]['~fieldId~'][required]',
									checked: field.required
								}) }}

								{% if craft.hasPackage('Localize') %}
									{{ forms.checkboxField({
										label: "This field is translatable"|t,
										name: 'recordTypes['~recordType.id~'][fields]['~fieldId~'][translatable]',
										checked: field.translatable
									}) }}
								{% endif %}

								<hr>

								{% set fieldType = field.getFieldType() %}
								{% set isFieldTypeMissing = not fieldType %}

								{% if isFieldTypeMissing %}
									{% set fieldType = craft.fields.getFieldType('PlainText') %}
								{% endif %}

								{{ forms.selectField({
									label: "Field Type"|t,
									instructions: (field.isNew() ? null : '<span class="error">'~"Careful—changing this may result in data loss."|t~'</span>'),
									id: fieldId~'-type',
									name: 'recordTypes['~recordType.id~'][fields]['~fieldId~'][type]',
									options: fieldTypes,
									value: fieldType.getClassHandle(),
									errors: (isFieldTypeMissing ? ["The fieldtype class “{class}” could not be found."|t({ class: field.type })] : null),
								}) }}

								<div class="fieldtype-settings">
									<div>
										{% namespace 'recordTypes['~recordType.id~'][fields]['~fieldId~'][typesettings]' %}
											{{ fieldType.getSettingsHtml()|raw  }}
										{% endnamespace %}
									</div>
								</div>

								<hr>

								<a class="erorr delete">{{ "Delete"|t }}</a>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endset %}

<div class="matrix-configurator">
	{{ forms.field({
		label: "Configuration"|t,
		instructions: "Define the types of records that can be created within this Matrix field, as well as the fields each record type is made up of."|t,
		name: 'config'
	}, recordTypeInput) }}
</div>
