@charset "UTF-8";
@import "../../../../../node_modules/craftcms-sass/mixins";

.widget.craft\\widgets\\craftsupport {
  .front {
    .pane {
      padding: 0;
      overflow: hidden;

      .cs-screen {
        position: relative;
        box-sizing: border-box;

        &:not(:first-child) {
          display: none;
          opacity: 0;
        }

        .cs-opt-icon {
          svg {
            display: block;
            margin: 0 auto 14px;
            width: 50px;
            height: 50px;
            @include svg-mask($grey200);
          }
        }
      }

      .cs-screen-home {
        .cs-opt {
          display: block;
          padding: 24px;
          text-align: center;
          cursor: pointer;

          &:first-child {
            border-radius: 4px 4px 0 0;
          }

          &:not(:first-child) {
            border-top: 1px solid $grey050;
          }

          &:last-child {
            border-radius: 0 0 4px 4px;
          }

          &:hover {
            background: $grey050;
          }

          h2 {
            margin: -7px 0 0;
            font-weight: normal;
          }

          p {
            margin-top: 3px;
            color: $lightTextColor;
          }
        }
      }

      .cs-screen-2,
      .cs-screen-support {
        padding: 24px;
      }

      .cs-screen-2 {
        .cs-search-results-container {
          position: relative;
          margin: 0 -24px;
          padding: 0 24px;
          max-height: 250px;
          overflow: scroll;
          background: $grey050;
          box-shadow: inset 0 2px 2px -2px transparentize($grey800, 0.9), inset 0 -2px 2px -2px transparentize($grey800, 0.9);

          .cs-search-icon {
            padding-top: 10px;

            svg {
              display: block;
              margin: 0 auto;
              width: 30px;
              height: 30px;
            }
          }
        }

        h2 {
          margin: 7px 0 14px;
          font-weight: normal;
          text-align: center;
          color: $mediumTextColor;
        }

        .cs-search-results {
          position: relative;
          padding: 14px 0 14px;

          a {
            display: block;
            position: relative;
            @include padding(3px, 0, 3px, 20px);

            .status {
              position: absolute;
              top: 6px;
              @include left(0);
            }
          }
        }

        .cs-forms {
          position: relative;

          .submit {
            display: block;
            margin: 0 auto;
            max-width: 365px;
          }
        }

        .cs-search-form {
          transition: padding-top linear 100ms;

          p {
            text-align: center;
          }

          .cs-logo-resources {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            a {
              width: 50%;
              box-sizing: border-box;
              padding: 10px 5px;
              color: $lightTextColor;

              &:hover {
                color: $linkColor;
                text-decoration: none;
              }

              h3 {
                text-align: center;
                margin-bottom: 0;

                img {
                  width: 120px;
                  height: 24px;
                }
              }

              p {
                margin-top: 0;
              }
            }
          }

          .cs-icon-resources {
            position: relative;
            margin-top: 14px;
            padding-top: 24px;
            display: flex;
            justify-content: center;

            &:before {
              display: block;
              content: '.';
              font-size: 0;
              position: absolute;
              top: 0;
              left: 50%;
              margin: 0 -10px;
              width: 20px;
              height: 1px;
              background: $hairlineColor;
            }

            a + a {
              @include margin-left(24px);
            }

            a {
              display: flex;
              align-items: center;

              svg {
                width: 16px;
                height: 16px;
                @include svg-mask($lightTextColor);
              }

              span {
                @include margin-left(5px);
              }
            }
          }
        }

        &.with-results {
          .cs-search-form {
            padding-top: 24px;
          }
        }

        .cs-support-form {
          .submit {
            transition: margin-top linear 100ms;
          }

          .cs-support-more:not(.hidden) + .submit {
            margin-top: 24px;
          }

          .spinner {
            position: absolute;
            bottom: 0;
            @include right(-24px);
          }
        }
      }
    }
  }
}
