@charset "UTF-8";
@import '@craftcms/sass/mixins';

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  background: var(--gray-100) url(images/installer-bg.png) no-repeat 50% 50%;
  background-size: cover;
}

.beginbtncontainer {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 100%;
  text-align: center;
}

#beginbtn {
  display: inline-block;
  border-radius: var(--large-border-radius);
  font-size: 19px;
  height: 50px;
  padding: 0 24px;
  box-shadow: inset 0 1px #ffffff33, inset 0 -1px #00000022, 0 0 0 1px #21377066,
    0 0 1px 2px #21377055, 0 10px 10px -10px #213770, 0 10px 20px -10px #213770;

  &:after {
    margin-top: -4px;
  }
}

#install-modal {
  width: 770px;
  height: 510px;
  padding: 0;

  #screens {
    &,
    .screen {
      width: 100%;
      height: 100%;
    }

    .screen {
      padding: 35px;
      box-sizing: border-box;
      background: no-repeat 0 50%;
      background-size: 368px 477px;

      &#db {
        background-image: url(./images/db.png);
      }

      &#site {
        background-image: url(./images/site.png);
      }

      &#account {
        background-image: url(./images/account.png);
      }

      h1 {
        margin-bottom: 35px;
        text-align: center;
        position: relative;
      }

      form {
        width: 50%;
        float: right;

        .select {
          &,
          select {
            width: 100%;
          }
        }
      }
    }
  }

  #dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;

    & > div {
      display: inline-block;
      border-radius: 4px;
      border: 1px solid var(--hairline-color);
      width: 6px;
      height: 6px;

      & + div {
        @include margin-left(5px);
      }

      &.sel {
        border-color: var(--primary-color);
        background: var(--primary-color);
      }
    }
  }
}

.grid {
  margin-top: 35px;
  margin-bottom: 35px;
}

.buttons {
  position: absolute;
  bottom: 35px;
  @include right(35px);

  .btn {
    @include padding-right(10px);

    &:after {
      @include icon;
      @include margin(-2px, 0, 0, 4px);
      font-size: 20px;
      width: 20px;
      height: 20px;
      line-height: 18px;
      body.ltr & {
        content: 'rarr';
      }
      body.rtl & {
        content: 'larr';
      }
    }
  }
}

input.hidden {
  position: absolute;
  top: 100px;
}

#license {
  padding: 0 !important;
  overflow-y: scroll;

  #license-content {
    padding: 70px 105px;

    .license {
      &,
      h1 {
        font-family: Menlo, monospace;
        font-size: 13px;
        line-height: 25px;
      }

      h1 {
        font-weight: bold;
      }
    }

    #license-accept {
      margin-top: 35px;
      display: flex;
      justify-content: center;
    }
  }
}

#installing {
  text-align: center;

  h1 {
    margin-top: 200px !important;
  }

  #spinner {
    display: block;
    margin: 0 auto;
  }

  .buttons {
    .btn {
      margin: 0;
      float: none;
    }
  }
}
