	<p>
		<?php if ($model->requirementsInfo->installResult == InstallStatus::Warning): ?>
		Please pay attention to the warnings listed below if your application will use the corresponding features.
		<?php else: ?>
		Unfortunately you did not meet the minimum requirements to run Blocks.
		<?php endif; ?>
	</p>
	<br />

	<h2>Warnings/Errors</h2>

	<table class="result">
		<tr>
			<th>Name</th>
			<th>Result</th>
			<th>Required By</th>
			<th>Notes</th>
		</tr>

		<?php foreach($model->requirementsInfo->requirements as $requirement): ?>
			<?php if ($requirement->result != RequirementResult::Success): ?>
				<tr>
					<td>
						<?php echo $requirement->name; ?>
					</td>
					<td class="<?php echo strtolower($requirement->getResult()); ?>">
						<?php echo $requirement->result; ?>
					</td>
					<td>
						<?php echo $requirement->requiredBy; ?>
					</td>
					<td>
						<?php echo $requirement->notes; ?>
					</td>
				</tr>
			<?php endif ?>
		<?php endforeach; ?>
	</table>

	<?php if (($errorFolders = $model->requirementsInfo->errorFolders) !== null) : ?>
	<p />
	The following directories must be writable:<br />
	<table border="1" cellpadding="1" cellspacing="0">
		<?php foreach($errorFolders as $folderPath): ?>
		<tr>
			<td>
				<?php echo $folderPath; ?>
			</td>
		</tr>
		<?php endforeach; ?>
	</table>
	<?php endif ?>


<?php if ($model->requirementsInfo->installResult !== InstallStatus::Failure) : ?>

	<?php $form = $this->beginWidget('CActiveForm', array(
					'id' => 'InstallConfigForm',
					'clientOptions' => array(
						'validateOnSubmit' => true,
					),
			)); ?>

		<table border="0" cellpadding="2" cellspacing="1">
			<tr>
				<td colspan="2"><b>Please enter your P&T.com credentials:</b></td>
			</tr>
			<tr>
				<td width="150"><?php echo $form->labelEx($model, 'ptUserName'); ?></td>
				<td><?php echo $form->textField($model, 'ptUserName'); ?><?php echo $form->error($model, 'ptUserName'); ?></td>
			</tr>
			<tr>
				<td><?php echo $form->labelEx($model, 'ptPassword'); ?></td>
				<td><?php echo $form->passwordField($model, 'ptPassword'); ?><?php echo $form->error($model, 'ptPassword'); ?></td>
			</tr>
		</table>

		<p />

		<table border="0" cellpadding="2" cellspacing="1">
			<tr>
				<td colspan="2"><b>Create a Blocks administrator account:</b></td>
			</tr>
			<tr>
				<td width="150"><?php echo $form->labelEx($model, 'adminUserName'); ?></td>
				<td><?php echo $form->textField($model, 'adminUserName'); ?><?php echo $form->error($model, 'adminUserName'); ?></td>
			</tr>
			<tr>
				<td width="150"><?php echo $form->labelEx($model, 'adminEmail'); ?></td>
				<td><?php echo $form->textField($model, 'adminEmail'); ?><?php echo $form->error($model, 'adminEmail'); ?></td>
			</tr>
			<tr>
				<td><?php echo $form->labelEx($model, 'adminFirstName'); ?></td>
				<td><?php echo $form->textField($model, 'adminFirstName'); ?><?php echo $form->error($model, 'adminFirstName'); ?></td>
			</tr>
			<tr>
				<td><?php echo $form->labelEx($model, 'adminLastName'); ?></td>
				<td><?php echo $form->textField($model, 'adminLastName'); ?><?php echo $form->error($model, 'adminLastName'); ?></td>
			</tr>
			<tr>
				<td><?php echo $form->labelEx($model, 'adminPassword'); ?></td>
				<td><?php echo $form->passwordField($model, 'adminPassword'); ?><?php echo $form->error($model, 'adminPassword'); ?></td>
			</tr>
			<tr>
				<td><?php echo $form->labelEx($model, 'adminPasswordConfirm'); ?></td>
				<td><?php echo $form->passwordField($model, 'adminPasswordConfirm'); ?><?php echo $form->error($model, 'adminPasswordConfirm'); ?></td>
			</tr>
		</table>

		<p />

		<?php echo BlocksHtml::textArea('licenseAgreement', 'We are not responsible for anything, ever.', array('cols' => 70, 'rows' => 10)); ?>
		<p>
			By clicking next, you agree to these onerous terms of service.
			<br />
			<?php echo BlocksHtml::submitButton('Next'); ?>
		</p>
	<?php $this->endWidget(); ?>
<?php endif; ?>
