<div class="field">
	<div class="heading">
		<label for="hint">{{ "Hint Text"|t }}</label>
		<p>{{ "The text that will be shown if the field doesn’t have a value."|t }}</p>
	</div>
	<input id="hint" name="hint" class="text" type="text" value="{{ settings.hint }}">
</div>
<div class="field checkbox">
	<label>
		<input type="checkbox" name="multiline" value="y" {% if settings.multiline %}checked{% endif %}>
		{{ "Allow line breaks"|t }}
	</label>
</div>
{#<div class="field">
	<div class="heading">
		<label for="maxLength">{{ "Max Length"|t }}</label>
	</div>
	<input id="maxLength" name="maxLength" class="text" type="text" value="{{ settings.maxLength }}" size="4" style="display: inline-block">
	<div style="display: inline-block; margin-left: 4px; vertical-align: middle;">
		{%- include "_includes/pill" with {
			'name': namePrefix ~ "[maxLengthUnit]",
			'options': [
				{'value': "words"},
				{'value': "chars", 'label': "characters"}
			],
			'value': settings.maxLengthUnit
		} -%}
	</div>
</div>#}
