@layer preflight, theme, base, components, utilities;

@import './shared/preflight.css' layer(preflight);
@import './shared/variables.css' layer(theme);
@import './shared/tokens.css' layer(theme);
@import './shared/z-layers.css' layer(theme);
@import './shared/colorable.css' layer(theme);
@import './shared/base.css' layer(base);

.resizable-container {
  border: 2px solid;
  padding: 20px;
  width: 300px;
  resize: both;
  overflow: auto;
}

.skip-link {
  /* Based on tailwind's sr-only class */
  --x-position: 0;
  --y-position: 0;
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  background-color: var(--c-surface-overlay);
  text-decoration: none;
  padding-block: var(--c-spacing-md);
  padding-inline: var(--c-spacing-lg);
  outline: none;
  border: 1px dashed var(--c-form-control-border);
  color: var(--c-text-default);
  font-weight: var(--font-weight-medium);
  border-radius: var(--c-radius-md);

  &:focus-visible {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    inset-inline-start: var(--x-position);
    inset-block-start: var(--y-position);
  }
}

.skip-link--global {
  --x-position: calc(10rem / 16);
  --y-position: calc(5rem / 16);
}

.error-list {
  color: var(--c-color-danger-on-normal);
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Copied from tailwind's sr-only class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

.c-icon {
  display: inline-flex;
  width: 1.25em;
  height: 1em;

  svg {
    height: 1em;
    overflow: visible;
  }
}
