$bgcolor: #edebe8;

$ultralight: #e3e2e0;
$light: #cccac8;
$mediumlight: #b3b1af;
$medium: #807e7d;
$dark: #4d4c4b;

$linkcolor: #2d98db;
$blurglowcolor: rgba(55,156,219,0);
$focusglowcolor: #6eb1db;
