@import "shared";

/* ----------------------------------------
/*  CP
/* ----------------------------------------*/

html, body, #sidebar, #main { height: 100%; }
#sidebar, #main { overflow: auto; }

/* sidebar */
#sidebar { position: fixed; z-index: 1; left: 0; top: 0; width: 199px; padding-right: 1px; }

#sidebar #header { margin-right: -1px; border: solid #000; border-width: 0 1px 1px 0; @include linear-gradient(#5b5b5b, #2c2c2c); }
#sidebar #header:after {@include clearafter; }
#sidebar #header #branding { float: left; padding: 10px; }
#sidebar #header #branding img { display: block; width: 120px; }

#sidebar #header #account { float: right; padding: 15px 0 15px 15px; width: 35px; color: #fff; text-shadow: 0 1px 1px #000; -webkit-box-shadow: -1px 0 0 rgba(0,0,0,0.25), inset 1px 0 0 rgba(255,255,255,0.05); }
#sidebar #header #account:after { margin-right: -5px; }
#sidebar #header #account:hover { background: rgba(0,0,0,0.25); }
#sidebar #header #account.sel { background: #000; }
#sidebar #header #account:after { color: rgba(255,255,255,0.5); text-shadow: none; }

#account-menu { margin-top: -1px; }
#account-menu .userinfo { padding: 33px 15px 5px 111px; height: 64px; background: rgba(0,0,0,0.9); }
#account-menu .userinfo img { display: block; float: left; margin: -32px 0 0 -110px; }
#account-menu .userinfo .fullname { color: #fff; font-weight: bold; }
#account-menu .userinfo .username { color: #d5d5d5; }

#sidebar .nav ul li { border-bottom: 1px solid; }
#sidebar .nav ul li a { padding: 15px 20px; color: #5b5b5b; }
#sidebar .nav ul li a:before { margin-top: -2px; margin-right: 5px; font-size: 24px; }
.nav ul li a .badge { display: block; float: right; padding: 0 8px; border-radius: 9px; line-height: 18px; font-weight: bold; }

/* BLOCKS ONLY */
#sidebar { background: #e6e6e6; -webkit-box-shadow: inset -1px 0 #bbb; }

#sidebar .nav ul li { border-bottom-color: #ccc; }
#sidebar .nav ul li a { color: #808080; @include linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0)); }
#sidebar .nav ul li a:hover { color: #5b5b5b; @include linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0)); }
#sidebar .nav ul li a:active { @include linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0)); }
#sidebar .nav ul li a.sel { margin: -1px 0; padding: 16px 20px; color: #252525; text-shadow: 0 1px 1px rgba(255,255,255,0.5); @include linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.1)); }
#sidebar .nav ul li a .badge { background: #fff; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25); }
/* end BLOCKS ONLY */
/* BLOCKSPRO ONLY */
#sidebar { background: #2a2a2a; -webkit-box-shadow: inset -1px 0 #000; }

#sidebar .nav ul li { border-bottom-color: #222; }
#sidebar .nav ul li a { color: #b3b3b3; text-shadow: 0 -1px 1px #000; @include linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.1)); }
#sidebar .nav ul li a:hover { color: #bababa; @include linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.1)); }
#sidebar .nav ul li a:active { @include linear-gradient(rgba(255,255,255,0.175), rgba(255,255,255,0.1)); }
#sidebar .nav ul li a.sel { color: #fff; text-shadow: 0 1px 1px #000; @include linear-gradient(rgba(0,0,0,0), rgba(255,255,255,0.1)); }
#sidebar .nav ul li a .badge { background: #000; }
#sidebar .nav ul li a.sel .badge { -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.25); }
/* end BLOCKSPRO ONLY */

/* main */
#main { position: relative; margin-left: 200px; }

/* notifications */
#notifications { position: fixed; z-index: 9999; top: 0; left: 0; width: 100%; text-align: center; }
#notifications .notification { display: inline-block; padding: 3px 10px 2px; border-radius: 0 0 3px 3px; border-width: 0 1px 1px; border-style: solid; color: #fff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35); }
#notifications .notification.notice { border-color: #1F6794; background: #2782bb; }
#notifications .notification.error { border-color: #992f2f; background: #e14545; }

/* titlebar */
#titlebar { padding: 10px 25px 9px; border-bottom: 1px solid #dadada; height: 30px; @include linear-gradient(white, #f3f3f3); }
#titlebar:before { position: absolute; top: 0; left: 0; width: 50%; height: 50px; @include left-linear-gradient(white, rgba(255,255,255,0)); content: '.'; text-indent: -100%; }
#titlebar:after { position: absolute; top: 0; right: 0; width: 50%; height: 50px; @include right-linear-gradient(white, rgba(255,255,255,0)); content: '.'; text-indent: -100%; }
#titlebar h1 { position: relative; z-index: 1; margin-bottom: -30px; text-align: center; text-shadow: 0 1px 1px #fff; }
#titlebar h1 span { display: block; float: left; margin: 12px 5px 0 0; font-family: HelveticaNeue, sans-serif; font-size: 11px; line-height: 1; color: #999; }
#titlebar ul li { position: relative; z-index: 1; float: left; }
#titlebar ul li + li { margin-left: 10px; }

/* content */
#content { padding: 25px; }
#content form { max-width: 400px; }
#content form.full { max-width: none; }
#content .centered { margin: 0 auto; }

/* nav */
#main .nav { float: left; width: 150px; }
#main .nav .btn.submit { display: block; }
#main .nav ul li a:after { @include icon; display: none; margin: 0 0 -2px 8px; font-size: 13px; content: '>'; color: $linkcolor; }
#main .nav ul li a:hover:after { display: inline-block; }
#main .nav ul li a.sel:after { display: inline-block; color: #2c2c2c; }
#main .nav + div { margin-left: 175px; }
