@import "shared";

body { font-size: 13px; line-height: 18px; font-family: HelveticaNeue, sans-serif; background: #fff; }

/* sidebar */
#sidebar { position: fixed; left: 0; top: 0; width: 200px; height: 100%; background: -webkit-linear-gradient(left, #c9c9c9 198px, #999); overflow: auto; }

#sidebar #header { background: -webkit-linear-gradient(#5b5b5b, #2c2c2c); -webkit-box-shadow: inset 0 -1px 0 #000, 0 1px 4px rgba(0,0,0,0.25); }
#sidebar #header:after {@include clearafter; }
#sidebar #header #branding { float: left; padding: 10px; }
#sidebar #header #branding img { display: block; width: 120px; }
#sidebar #header #account { float: right; padding: 15px 0 15px 15px; width: 35px; color: #fff; text-shadow: 0 1px 1px #000; -webkit-box-shadow: -1px 0 0 rgba(0,0,0,0.25), inset 1px 0 0 rgba(255,255,255,0.05); }
#sidebar #header #account:after { margin-right: -5px; color: rgba(255,255,255,0.5); text-shadow: none; }

#sidebar nav { display: block; padding: 10px 0; border-top: 1px solid rgba(255,255,255,0.25); border-bottom: 1px solid rgba(0,0,0,0.1); font-size: 12px; line-height: 26px; background: -webkit-linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0) 25px); -webkit-background-clip: padding-box; }
#sidebar nav:nth-of-type(1) { -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.1); }
#sidebar nav:last-child { -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.25); }
#sidebar nav ul li + li { margin-top: 4px; }
#sidebar nav ul li a { display: block; padding: 0 20px; color: #5b5b5b; text-shadow: 0 1px 1px rgba(255,255,255,0.5); -webkit-transition: color 150ms linear; }
#sidebar nav ul li a:hover { color: #2c2c2c; text-decoration: none; background: rgba(0,0,0,0.05); }
#sidebar nav ul li a:before { margin: 2px 5px -2px 0; width: 22px; font-size: 21px; text-align: center; }
#sidebar nav ul li a .badge { display: block; float: right; margin: 4px 0; padding: 0 8px; border-radius: 9px; line-height: 18px; background: #fff; -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2); }
#sidebar nav ul li.sel { background: -webkit-linear-gradient(white, #dbdbdb); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.25); }
#sidebar nav ul li.sel a { color: #2c2c2c; background: -webkit-linear-gradient(left, rgba(255,255,255,0) 50%, white); cursor: default; }
#sidebar nav ul li.sel a .badge { background: #ddd; -webkit-box-shadow: inset 0 0 0 1px #c1c1c1; }

/* account links */
#header .right a:hover { color: $linkcolor !important; }
#header .right #me a { font-weight: bold; color: #808080; }

/* search */
/*#header .right #search { position: relative; margin: 5px 10px 0 0; }
#header .right #search .texthint { color: hsl(0,0%,65%); }
#header .right #search:after { @include icon; content: 'm'; display: block; position: absolute; top: 5px; left: 6px; font-size: 20px; color: hsl(0,0%,65%); }
#header .right #search input { border: 1px solid hsl(0,0%,80%); border-radius: 12px; padding: 3px 10px 4px 24px; width: 165px; font-size: 12px; color: #fff; background: none; -webkit-box-shadow: 0 0 5px rgba(255,255,255,0); -webkit-transition: border-color linear 100ms, -webkit-box-shadow linear 100ms; }
#header .right #search input:focus { outline: none; -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.75); }*/

/* main */
#main { position: relative; margin-left: 200px; padding: 25px; overflow: hidden; }

/* footer */
/*#footer { margin: 25px; text-align: center; font-size: 11px; color: hsl(0,0%,65%); }
#footer p { display: inline-block; }
#footer p#copyright { margin-left: 10px; }*/
