$panebgcolor: #f8f6f2; /* 97% */
$bgcolor: #e5e4e1; /* 90% */
$ultralight: #d9d8d4; /* 85% */
$light: #cccac8; /* 80% */
$mediumlight: #b3b1af; /* 70% */
$medium: #807e7d; /* 50% */
$mediumdark: #666463; /* 40% */
$dark: #4d4c4b; /* 30% */
$ultradark: #333231; /* 20% */

$linkcolor: #2d98db;
$blurglowcolor: rgba(55,156,219,0);
$focusglowcolor: #6eb1db;

@mixin unselectable { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
@mixin icon { display: inline-block; font-family: 'Pictos Custom'; text-align: center; vertical-align: middle; -webkit-font-smoothing: antialiased; @include unselectable; }
@mixin clearafter { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
