$panebgcolor: #f2f1ed;

$xxlight: #e5e3da; /* 90% */
$xlight: #d9d7ce; /* 85% */
$light: #ccc7c2; /* 80% */
$mediumlight: #b3aeaa; /* 70% */
$medium: #999591; /* 60% */
$mediumdark: #807b79; /* 50% */
$dark: #666361; /* 40% */
$xdark: #4d4b49; /* 30% */
$xxdark: #333230; /* 20% */

$linkcolor: #2d98db;
$blurglowcolor: rgba(55,156,219,0);
$focusglowcolor: #6eb1db;

@mixin unselectable { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
@mixin icon { display: inline-block; font-family: 'Pictos Custom'; text-align: center; vertical-align: middle; -webkit-font-smoothing: antialiased; @include unselectable; }
@mixin clearafter { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
