$darkbgcolor: #3d3f40;
$lightbgcolor: #797d80;

$xxxlight: #f2f0e6;
$xxlight: #e5e3da;
$xlight: #d9d7ce;
$light: #ccc7c2;
$mediumlight: #b3aeaa;
$medium: #999591;
$mediumdark: #807b79;
$dark: #666361;
$xdark: #4d4b49;
$xxdark: #333230;

$linkcolor: #2d98db;
$blurglowcolor: rgba(55,156,219,0);
$focusglowcolor: #6eb1db;
$errorcolor: #8a1f11;

@mixin linear-gradient($from, $to) { background: -webkit-linear-gradient($from, $to); }
@mixin left-linear-gradient($from, $to) { background: -webkit-linear-gradient(left, $from, $to); }
@mixin right-linear-gradient($from, $to) { background: -webkit-linear-gradient(right, $from, $to); }

@mixin unselectable { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
@mixin icon { display: inline-block; font-family: 'Pictos Custom'; font-size: 20px; text-align: center; vertical-align: middle; -webkit-font-smoothing: antialiased; @include unselectable; }
@mixin clearafter { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
