@import "shared";
@import "reset";
@import "layout";

/* ----------------------------------------
/*  Basic stuff
/* ----------------------------------------*/

.first, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, .pane:first-child, .grid:first-child, .field:first-child, .buttons:first-child { margin-top: 0; }
.last,  h2:last-child,  h3:last-child,  h4:last-child,  h5:last-child,  h6:last-child,  p:last-child,  .pane:last-child,  .grid:last-child,  .field:last-child                        { margin-bottom: 0; }

/* icons */
[data-icon]:before { @include icon; content: attr(data-icon); }
[data-icon-after]:after { @include icon; content: attr(data-icon-after); }

/* nav */
nav { display: block; }
nav ul li + li { margin-top: 4px; }
nav ul li a { display: block; padding: 1px 0; font-size: 12px; line-height: 20px; color: #b3b3b3; }
nav ul li a:hover { color: $linkcolor; text-decoration: none; }
nav ul li a:before { margin: -4px 5px -5px 0; width: 22px; text-align: center; }
nav ul li a .badge { display: block; float: right; margin: 1px 0; padding: 0 8px; border-radius: 9px; line-height: 18px; background: #ddd; }
nav ul li.sel a { color: #2c2c2c; }

/* headings */
h1 { margin-bottom: 50px; font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif; font-size: 24px; line-height: 30px; color: #000; }
h2 { margin-bottom: 25px; font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif; font-size: 20px; line-height: 1.2; color: #000; padding-bottom: 9px; border-bottom: 1px solid #dbdbdb; }
h3 { margin-bottom: 15px; font-family: HelveticaNeue, sans-serif; font-weight: normal; font-size: 15px; line-height: 20px; color: #2c2c2c; }
h4 { font-family: HelveticaNeue, sans-serif; font-weight: normal; color: #999; }

/* sections */
section { margin: 30px 0 30px 30px; }
section > h2 { margin-left: -30px; }

/* paragraphs */
p { margin-bottom: 10px; }

/* lists */
.list { padding-left: 40px; list-style-type: square; }
ol { padding-left: 40px; list-style-type: decimal; }

/* code */
code { font-family: Menlo, fixed-width; font-size: 0.9em; }
.code { font-family: Menlo, monospace; font-size: 12px !important; }

/* links */
a { color: $linkcolor; cursor: pointer; }
a:hover { text-decoration: underline; }

a.sel,
li.sel a { cursor: default !important; text-decoration: none; }

a.go { padding-right: 10px; background: url(../images/go.png) no-repeat 100% 50%; }
a.goto { display: inline-block; vertical-align: middle; width: 12px; height: 12px; background: url(../images/goto.png) no-repeat; opacity: 0.5; }
a.goto:hover { opacity: 1; }

/* emphasis */
em, i { font-style: italic; }
strong, i em { font-weight: bold; font-family: sans-serif; }

/* text styles */
.rightalign { text-align: right; }
.nowrap { white-space: nowrap; }
.light { color: $mediumlight; }

.required:after { @include icon; content: '*'; padding-left: 5px; font-size: 9px; color: $errorcolor; }

.scrollpane { overflow: auto; }

.left { float: left; }
.right { float: right; }

.no-outline { outline: none; }
.clear { display: block; clear: both; height: 0; }

.var { display: inline-block; margin: 0 2px; border: 1px solid #888; border-radius: 10px; padding: 0 7px 1px; line-height: 15px; }
.var:first-child { margin-left: 0; }

.settings-btn { display: block; width: 16px; height: 16px; background: url(../images/settings-btn.png); cursor: pointer; }
.settings-btn.sel { background-position: 0 100%; }

/* ----------------------------------------
/*  Panes
/* ----------------------------------------*/

.pane { position: relative; margin: 25px 0; padding: 10px 15px; border-radius: 4px; text-shadow: 0 1px 1px #fff; @include linear-gradient(#f7f7f7, #f3f3f3 25px); overflow: hidden; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.2); }
// .pane { position: relative; margin: 25px 0; padding: 20px 25px; background: #fff; -webkit-box-shadow: 0 2px 5px -2px rgba(0,0,0,0.35); overflow: hidden; }
.pane.inset { -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25); @include linear-gradient(#eaeaea, #f5f5f5); }
.pane h2 { margin-bottom: 15px; border-bottom: none; }
.pane h2 + .actions { margin-top: -44px; }
h3 + .pane { margin-top: 15px; }

/* admin panes */
.adminpane { padding: 1px 0; }
.adminpane .list { float: left; padding: 14px 15px; border-right: 1px solid #d6d6d6; width: 170px; min-height: 200px; }
.adminpane .list ul { margin-bottom: 15px; }
.adminpane .settings { margin-left: 200px; border-left: 1px solid #d6d6d6; padding: 14px 15px; }
.adminpane .settings .buttons:not(:first-child) { margin-top: 15px; border-top: 1px solid #d6d6d6; padding-top: 15px; }
.adminpane .settings .buttons:first-child { margin-top: 0; }

/* items */
/*.item { margin-bottom: 5px; border-radius: 2px; padding: 5px 10px; list-style-type: none; @include linear-gradient(#9da3a6, #797d80); -webkit-box-shadow: 0 1px 2px -1px rgba(0,0,0,0.5); cursor: default; }
.item.sel { @include linear-gradient(#555859, #797d80); -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.5); }
.item .name { color: #fff; text-shadow: 0 1px 0 rgba(0,0,0,0.25); }
.item .type { font-size: 11px; line-height: 1.2; color: rgba(255,255,255,0.5); }*/

/* ----------------------------------------
/*  Grids
/* ----------------------------------------*/

.grid { margin: 25px 0 25px -25px; }
.grid:after { @include clearafter; }
.grid .col { float: left; }
.grid .col .col-inner { margin-left: 25px; }

.grid .col75 { width: 75%; }
.grid .col66 { width: 66.66%; }
.grid .col66:last-child { width: 66.67%; }
.grid .col50 { width: 50%; }
.grid .col33 { width: 33.33%; }
.grid .col33:last-child { width: 33.34%; }
.grid .col25 { width: 25%; }

/* ----------------------------------------
/*  Notifications
/* ----------------------------------------*/

#notification { position: fixed; top: 0; left: 0; width: 100%; text-align: center; }
#notification .notification { display: inline-block; padding: 3px 10px 2px; border-radius: 0 0 3px 3px; border-width: 0 1px 1px; border-style: solid; color: #fff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35); }
#notification .notification.notice { border-color: #1F6794; background: #2782bb; }
#notification .notification.error { border-color: #992f2f; background: #e14545; }

/* ----------------------------------------
/*  Buttons
/* ----------------------------------------*/

.buttons { margin-top: 50px; }

.btn { display: inline-block; border-radius: 2px; padding: 0 12px; height: 30px; line-height: 30px; color: #fff; text-shadow: 0 1px 2px rgba(0,0,0,0.5); text-align: center; white-space: nowrap; @include linear-gradient(#797d80, #3d3f40); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), inset 0 2px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.15); cursor: pointer; overflow: hidden; @include unselectable; }
.btn:hover { text-decoration: none; }
.btn:not(.disabled):hover { @include linear-gradient(#6e6d6a, #3b3a39); }
.btn:not(.disabled):active { @include linear-gradient(#5c5b59, #292928); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), inset 0 2px 2px rgba(0,0,0,0.25); }
.btn.sel { position: relative; cursor: default; }
.btn.disabled { opacity: 0.5; cursor: default; text-shadow: none; }
.btn + .btn { margin-left: 6px; }
.btn[data-icon]:before,
.addbtn:before { margin-right: 5px; }
.btn[data-icon-after]:after,
.menubtn:after { margin-left: 5px; }

/* add buttons */
.addbtn:before { @include icon; content: '+'; }

/* menu buttons */
.menubtn { cursor: default; @include unselectable; }
.menubtn:after { @include icon; margin-top: 2px; content: '▼'; font-size: 0.8em; }

/* small buttons */
.btn.small { padding: 0 7px; height: 17px; font-size: 11px; line-height: 17px; }

/* big buttons */
.btn.big { padding: 0 15px; height: 36px; font-size: 14px; line-height: 36px; }
.btn.big[data-icon]:before { margin-left: -2px; }

/* light buttons */
.btn.light { color: #808080; text-shadow: 0 1px 0 rgba(255,255,255,0.5); @include linear-gradient(#fff, #f3f3f3); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), 0 1px 0 rgba(0,0,0,0.05); }
.btn.light:not(.disabled):not(:active):not(.sel):hover { color: #666; @include linear-gradient(#fff, #f7f7f7); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.1); }
.btn.light.sel { @include linear-gradient(#ccc, #999); }

/* submit buttons */
.btn.submit { @include linear-gradient(#33abf5, #2885bf); }
.btn.submit:not(.disabled):hover { @include linear-gradient(#309ee3, #2479ad); }
.btn.submit:not(.disabled):active,
.btn.submit:not(.disabled).sel,
.btn.submit:not(.disabled).loading { @include linear-gradient(#2c92d1, #216c9c); }
.btn.submit:not(.disabled).loading .spinner { margin-right: 8px;width: 18px; background: url(../images/submit-btn-spinner.gif) no-repeat 50% 50%; }

/* red buttons */
.btn.red { @include linear-gradient(#bf2b17, #8a1f11); }
.btn.red:not(.disabled):hover { @include linear-gradient(#ad2715, #781b0e); }
.btn.red:not(.disabled):active,
.btn.red:not(.disabled).sel,
.btn.red:not(.disabled).loading { @include linear-gradient(#9c2313, #66170c); }

/* input buttons */
input.btn { border: none; height: 30px; }
input.btn.big { height: 36px; }

/* button groups */
.btn-group { display: block; height: 24px; }
.btn-group .btn { float: left; }
.btn-group .btn:not(:first-child) { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.btn-group .btn:not(:last-child) { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.btn-group .btn + .btn { margin-left: -1px; }
.btn-group .btn.sel { position: relative; }
.btn-group .btn:active { position: relative; z-index: 1; }
.btn-group .btn[data-icon]:before { margin-right: -2px; }

.btn-group.big { height: 36px; }

/* titlebar */
.titlebar { margin: -25px -25px 25px; padding: 10px 25px 9px; border: 1px solid #dadada; border-top: none; border-radius: 0 0 3px 3px; height: 30px; @include linear-gradient(white, #f3f3f3); }
.titlebar:before { position: absolute; top: 0; left: 0; width: 50%; height: 50px; @include left-linear-gradient(white, rgba(255,255,255,0)); content: '.'; text-indent: -100%; }
.titlebar:after { position: absolute; top: 0; right: 0; width: 50%; height: 50px; @include right-linear-gradient(white, rgba(255,255,255,0)); content: '.'; text-indent: -100%; }
.titlebar h1 { position: relative; z-index: 1; margin-bottom: -30px; text-shadow: 0 1px 1px #fff; }
.titlebar h1 span { display: block; float: left; margin: 12px 5px 0 0; font-family: HelveticaNeue, sans-serif; font-size: 11px; line-height: 1; color: #999; }
.titlebar ul li { position: relative; z-index: 1; float: left; }
.titlebar ul li + li { margin-left: 10px; }

/* switch */
.lightswitch { border-radius: 10px; width: 51px; height: 20px; background: #999; overflow: hidden; -webkit-box-shadow: 0 0 0 1px #999; cursor: pointer; @include unselectable; }
.lightswitch .container { margin-left: -31px; width: 90px; }
.lightswitch.on .container { margin-left: 0; }
.lightswitch .label { float: left; width: 29px; height: 20px; font-size: 11px; line-height: 20px; text-align: center; text-transform: uppercase; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.25); }
.lightswitch .label.on { padding: 0 10px 0 2px; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); @include linear-gradient(#2782bb, $linkcolor); }
.lightswitch .label.off { padding: 0 2px 0 10px; color: #666; text-shadow: 0 1px 0 #fff; @include linear-gradient(#d5d5d5, #e5e5e5); }
.lightswitch .handle { float: left; margin: -1px 0 -1px -52px; border-radius: 10px; border: 1px solid #999; padding: 0; width: 20px; height: 20px; @include linear-gradient(#e5e5e5, #fff); -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5); }

/* action buttons */
.actions { float: right; }
.actions > li { float: left; }
.actions > li + li { margin-left: 10px; }
h1 + .actions { margin-top: -100px; }
h2 + .actions { margin-top: -54px; }

/* ----------------------------------------
/*  Big lists
/* ----------------------------------------*/

$radius: 4px;
ul.biglist { border-radius: $radius; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.2); }
ul.biglist li { position: relative; border-top: 1px solid #fff; border-bottom: 1px solid rgba(0,0,0,0.1); padding: 10px 15px; text-shadow: 0 1px 1px #fff; @include linear-gradient(#f7f7f7, #f3f3f3 25px); }
ul.biglist li:first-child { border-top-left-radius: $radius; border-top-right-radius: $radius; }
ul.biglist li:last-child { border-bottom-left-radius: $radius; border-bottom-right-radius: $radius; border-bottom: none; }
ul.biglist li h3 { margin-bottom: 0; }
ul.biglist li h4 { margin-top: 2px; }

ul.biglist li a.go { display: block; margin: -10px -15px; padding: 10px 15px; color: #999; background: url(../images/go.png) no-repeat 100% 50%; }
ul.biglist li a.go:hover { text-decoration: none; background-image: url(../images/go_hover.png); }
ul.biglist li a.go:hover h3 { color: $linkcolor; }

/* ----------------------------------------
/*  Tables
/* ----------------------------------------*/

/* info */
table.info > tbody > tr > th { padding: 0 10px 2px 0; width: 150px; text-align: right; color: $mediumdark; }
table.info > tbody > tr > td { padding: 0 0 2px 0; }

/* data */
table.data { width: 100%; }
table.data th,
table.data td { padding: 5px 0 5px 10px; }
table.data th:first-child,
table.data td:first-child { padding-left: 0; }
table.data thead th { color: $mediumdark; font-weight: bold; }
table.data tbody th,
table.data tbody td { border-top: 1px dotted rgba(0,0,0,0.1); }
table.data tbody:first-child tr:first-child th,
table.data tbody:first-child tr:first-child td { border-top: none; }
table.data td.timestamp { text-align: right; vertical-align: bottom; white-space: nowrap; color: $mediumlight; }

/* ----------------------------------------
/*  Nav
/* ----------------------------------------*/

ul.tree,
.tree ul { margin-left: 20px; }
.tree li .toggle { margin: 7px 0 0 -15px; }

/* toggle */
.toggle { display: block; float: left; margin: 3px 4px 0 0; width: 10px; height: 12px; background: url(../images/toggle.png) no-repeat 0 0; opacity: 0.5; }
.toggle.expanded { background-position: 0 -10px; }

/* icons */
/*span.icon { display: block; float: left; width: 24px; height: 24px; background: url(../images/sidebar_icons.png) no-repeat 50% 50%; }*/

/* status icons */
.status { display: inline-block; margin-right: 5px; width: 10px; height: 10px; background: url(../images/status.png) no-repeat 0 -30px; }
.status.on { background-position: 0 0; }
.status.pending { background-position: 0 -10px; }
.status.off { background-position: 0 -20px; }

/* ----------------------------------------
/*  Tables
/* ----------------------------------------*/

table th { font-weight: bold; font-family: sans-serif; color: #666; text-align: left; vertical-align: top; }

/* matrix */
table.matrix { display: table; padding: 0; }
table.matrix > thead > tr > th { border-bottom: 1px solid #ccc; padding: 4px 10px 5px; font-size: 12px; color: #666; white-space: nowrap; @include linear-gradient(#fff, #fafafa); }
table.matrix > thead > tr > th:not(:last-child) { border-right: 1px dotted #ccc; }
table.matrix > thead > tr > th:first-child { border-top-left-radius: 1px; }
table.matrix > thead > tr > th:last-child { border-top-right-radius: 1px; }

table.matrix > tbody > tr > td { border: solid #bbb; border-width: 0 1px 1px 0; padding: 10px 12px; background: #fff; }
table.matrix > tbody > tr > td.norows { text-align: center; color: #666; }

table.matrix > tbody > tr:last-child > td { border-bottom: none; }
table.matrix > tbody > tr:last-child > td:first-child { border-bottom-left-radius: 1px; }
table.matrix > tbody > tr:last-child > td:last-child { border-bottom-right-radius: 1px; border-right: none; }

table.matrix > tbody > tr:not(:first-child) > td { border-bottom: 1px solid #bfbfbf; }
table.matrix > tbody > tr > td:not(:last-child) { border-right: 1px dotted #bfbfbf; }

/* ----------------------------------------
/*  Fields
/* ----------------------------------------*/

.field { position: relative; margin: 25px 0; padding-left: 15px; }
.field .heading { margin-bottom: 10px; }
.field h3 { margin: 0 0 10px -15px; }


.nested-fields { margin: -25px -30px; padding: 25px 30px 0 48px; overflow: hidden; }
.nested-fields > .field:last-child { padding-bottom: 25px; }

/* checkbox */
.cbwrapper { margin: -1px 0; float: left; width: 18px; line-height: 20px; } /* see: http://davidwalsh.name/webkit-checkbox-overflow */
.field.checkbox + .field.checkbox { margin-top: -20px; }

/* text */
.textwrapper { padding-right: 20px; }
.textwrapper > .text { width: 100%; }

.text { display: block; border-radius: 3px; border: 1px solid #c6cacc; width: 330px; padding: 9px; font-size: 13px; color: #5b5b5b; background: #fff; -webkit-box-shadow: 0 0 0 $blurglowcolor; -webkit-transition: border linear 100ms, -webkit-box-shadow linear 100ms; }
.text:hover { border-color: $light; }
.text:focus,
.text.focus { border-color: $focusglowcolor; outline: none; -webkit-box-shadow: 0 0 5px $focusglowcolor; }
.text.small { padding: 3px; }
.text.error { border-color: $errorcolor; }

.texthint-container { position: relative; height: 0; }
.texthint { position: absolute; top: -1px; width: 100%; color: #a1a4a6; -webkit-transition: color linear 100ms; cursor: text; }
.texthint.focussed { color: #c6cacc; }

.passwordwrapper { position: relative; padding-right: 80px; }
.passwordwrapper .password { width: 100%; }
.passwordwrapper .password-toggle { display: block; position: absolute; top: 9px; right: 0; width: 44px; text-align: center; }
.password { padding-right: 70px; }
.password.capslock:focus { background: #fff url(../images/capslock.png) no-repeat 100% 50%; }

/* errors */
ul.errors { margin-top: 5px; list-style-type: square; padding-left: 20px; }
ul.errors li { color: $errorcolor; }

/* RTE */
.rte { padding: 0; }
.rte .toolbar { border-radius: 1px 1px 0 0; margin-bottom: 0; border-bottom: 1px solid #ccc; height: 30px; white-space: nowrap; color: #666; @include linear-gradient(#fff, #fafafa); }
.rte .toolbar .btn { border: none; border-right: 1px solid #ccc; border-radius: 0; height: 30px; }
.rte .toolbar .btn:first-child { border-top-left-radius: 1px; }
.rte .toolbar .btn .label { margin: 0 15px; line-height: 30px; }
.rte .toolbar .btn .arrow { margin: 0 5px 0 -15px; }
.rte .styles { position: absolute; top: 0; right: 0; width: 150px; }
.rte iframe { border-radius: 0 0 1px 1px; }

/* color picker */
.colorpicker { font-family: Menlo, monospace; }
.colorpicker .sample { display: inline-block; margin: 0 4px -1px 0; width: 12px; height: 12px; border-radius: 6px; }

/* block editor */
.blockeditor { position: relative; margin: 50px 0; background: $xxxlight; overflow: hidden; }
.blockeditor .list { padding: 25px; width: 150px; border-right: 1px solid #d9d7d4; }
.blockeditor .list ul { margin-bottom: 15px; }
.blockeditor .list ul li { border-top: 1px solid $xxlight; }
.blockeditor .list ul li:last-child { border-bottom: 1px solid $xxlight; }
.blockeditor .list ul li a { display: block; position: relative; margin: -1px -25px; border: solid transparent; border-width: 1px 0; padding: 4px 15px 4px 30px; text-shadow: 0 1px 0 #fff; }
.blockeditor .list ul li a .name,
.blockeditor .list ul li a .type { overflow: hidden; white-space: pre; text-overflow: ellipsis; }
.blockeditor .list ul li a .name { display: inline-block; height: 16px; line-height: 16px; color: $mediumlight; }
.blockeditor .list ul li a .type { height: 14px; line-height: 14px; font-size: 11px; font-style: italic; color: $light; }
.blockeditor .list ul li a:hover { text-decoration: none; }
.blockeditor .list ul li a:not(.sel):hover .name { color: $linkcolor; }
.blockeditor .list ul li a.sel { z-index: 1; border-color: $xlight; color: $mediumdark; background: $xxlight; }
.blockeditor .list ul li a.sel .name { color: $mediumdark; }
.blockeditor .list ul li a.sel .type { color: $mediumlight; }

.blockeditor .settings { position: absolute; top: 0; left: 200px; border-left: 1px solid #d9d7d4; padding: 30px; }
.blockeditor .settings .blocksettings,
.blockeditor .settings .blocktypesettings { margin-bottom: 25px; }

/* ----------------------------------------
/*  Thumbs and filenames
/* ----------------------------------------*/

.thumb img { display: block; margin: 0 auto; width: 60px; height: 60px; }
.filename { margin-top: 5px; height: 14px; line-height: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* ----------------------------------------
/*  HUD
/* ----------------------------------------*/

.hud { position: absolute; border-radius: 4px; background: rgba(25,25,25,0.9); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); }
.hud .tip { position: absolute; }
.hud .tip.top { top: -4px; width: 8px; height: 4px; background-image: url(../images/hud-tip-top.png); }
.hud .tip.right { right: -4px; width: 4px; height: 8px; background-image: url(../images/hud-tip-right.png); }
.hud .tip.bottom { bottom: -4px; width: 8px; height: 4px; background-image: url(../images/hud-tip-bottom.png); }
.hud .tip.left { left: -4px; width: 4px; height: 8px; background-image: url(../images/hud-tip-left.png); }

/* ----------------------------------------
/*  Menus
/* ----------------------------------------*/

.menu { display: none; position: absolute; z-index: 9999; padding: 5px 0; border-radius: 4px; background: rgba(255,255,255,0.9); -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1), 0 5px 25px 0 rgba(0,0,0,0.5); @include unselectable; }
.menu ul li { padding: 2px 10px; cursor: default; }
.menu ul li:hover { color: #fff; @include linear-gradient(#33abf5, #2885bf); }

/* ----------------------------------------
/*  Retina graphics
/* ----------------------------------------*/

@media only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
	ul.biglist li a.go { background-image: url(../images/go_2x.png); background-size: 22px 14px; }
	ul.biglist li a.go:hover { background-image: url(../images/go_hover_2x.png); }

	.status { background-image: url(../images/status_2x.png); background-size: 10px 40px; }
}
