@import "shared";
@import "reset";
@import "cp";

/* ----------------------------------------
/*  Basic stuff
/* ----------------------------------------*/

body { font-size: 13px; line-height: 18px; font-family: HelveticaNeue, sans-serif; color: #5b5b5b; background: #fff; }

.first, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, .pane:first-child, .grid:first-child, .field:first-child, .toolbar:first-child, .buttons:first-child { margin-top: 0 !important; }
.last,  h2:last-child,  h3:last-child,  h4:last-child,  h5:last-child,  h6:last-child,  p:last-child,  .pane:last-child,  .grid:last-child,  .field:last-child,  .toolbar:last-child,  .buttons:last-child  { margin-bottom: 0 !important; }

/* icons */
[data-icon]:before { @include icon; content: attr(data-icon); }
[data-icon-after]:after { @include icon; content: attr(data-icon-after); }

/* nav */
.nav { display: block; }
.nav ul li a { display: block; padding: 5px 0; color: #b3b3b3; }
.nav ul li a:hover { color: $linkcolor; text-decoration: none; }
.nav ul li a:before { margin: -4px 5px -5px 0; width: 22px; text-align: center; }
.nav ul li a .status { margin: 0 7px 0 6px; }
.nav ul li a.sel { color: #2c2c2c; }

/* headings */
h1 { margin-bottom: 25px; font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif; font-size: 24px; line-height: 30px; color: #000; }
h2 { margin-bottom: 25px; font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif; font-size: 20px; line-height: 1.2; color: #5b5b5b; padding-bottom: 9px; border-bottom: 1px solid #dbdbdb; }
h3 { margin-bottom: 15px; font-family: HelveticaNeue, sans-serif; font-weight: normal; font-size: 15px; line-height: 20px; color: #2c2c2c; }
h4 { font-family: HelveticaNeue, sans-serif; font-weight: normal; color: #999; }
h6 { margin: 0; font-size: 12px; color: #999; }

/* sections */
section { margin: 30px 0 30px 30px; }
section > h2 { margin-left: -30px; }

/* horizontal rule */
hr { margin: 25px 0; border: none; border-top: 1px dotted #dbdbdb; height: 0; color: transparent; }

/* paragraphs */
p { margin: 1em 0; }

/* lists */
.list { padding-left: 40px; list-style-type: square; }
ol { padding-left: 40px; list-style-type: decimal; }

/* code */
code { font-family: Menlo, fixed-width; font-size: 0.9em; }
.code { font-family: Menlo, monospace; font-size: 12px !important; }

/* links */
a { color: $linkcolor; cursor: pointer; }
a:hover { text-decoration: underline; }

a.sel,
li.sel a { cursor: default !important; text-decoration: none; }

a.go { padding-right: 10px; background: url(../images/go.png) no-repeat 100% 50%; }
a.goto { display: inline-block; vertical-align: middle; width: 12px; height: 12px; background: url(../images/goto.png) no-repeat; opacity: 0.5; }
a.goto:hover { opacity: 1; }

/* emphasis */
em, i { font-style: italic; }
strong, i em { font-weight: bold; font-family: sans-serif; }

/* text styles */
.rightalign { text-align: right; }
.nowrap { white-space: nowrap; }
.light { color: $mediumlight; }

.required:after { @include icon; content: '*'; padding-left: 5px; font-size: 9px; color: $errorcolor; }

.scrollpane { overflow: auto; }

.left { float: left; }
.right { float: right; }

th.right,
td.right { float: none; text-align: right; }

.no-outline { outline: none; }
.clear { display: block; clear: both; height: 0; }

.token { display: inline-block; border: 1px solid #c1c1c1; border-radius: 10px; padding: 0 7px 1px; font-size: 12px; line-height: 14px; color: #5b5b5b; text-shadow: 0 1px 1px rgba(255,255,255,0.5); background: #ddd; }
.token:focus { border-color: #999; background: #aaa; outline: none; }

.settings-btn { display: block; width: 16px; height: 16px; background: url(../images/settings-btn.png); cursor: pointer; }
.settings-btn.sel { background-position: 0 100%; }

.error { color: $errorcolor; }

.move { display: inline-block; cursor: move; }
.move:before { @include icon; content: 'm'; color: #ddd; }

/* ----------------------------------------
/*  Panes
/* ----------------------------------------*/

.pane { position: relative; margin: 25px 0; padding: 10px 15px; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px -2px rgba(0,0,0,0.25); }
.pane h2 { margin-bottom: 15px; border-bottom: none; }
.pane h2 + .actions { margin-top: -44px; }
h3 + .pane { margin-top: 15px; }

/* admin panes */
.adminpane { padding: 1px 0; }
.adminpane .list { float: left; padding: 14px 15px; border-right: 1px solid #d6d6d6; width: 170px; min-height: 200px; }
.adminpane .list ul { margin-bottom: 15px; }
.adminpane .settings { margin-left: 200px; border-left: 1px solid #d6d6d6; padding: 14px 15px; }
.adminpane .settings .buttons:not(:first-child) { margin-top: 15px; border-top: 1px solid #d6d6d6; padding-top: 15px; }
.adminpane .settings .buttons:first-child { margin-top: 0; }

/* ----------------------------------------
/*  Grids
/* ----------------------------------------*/

.grid { margin: 25px 0 25px -25px; }
.grid:after { @include clearafter; }
.grid .col { float: left; }
.grid .col .col-inner { margin-left: 25px; }

.grid .col75 { width: 75%; }
.grid .col66 { width: 66.66%; }
.grid .col66:last-child { width: 66.67%; }
.grid .col50 { width: 50%; }
.grid .col33 { width: 33.33%; }
.grid .col33:last-child { width: 33.34%; }
.grid .col25 { width: 25%; }

/* ----------------------------------------
/*  Icon lists
/* ----------------------------------------*/

ul.icons:after { @include clearafter; }
ul.icons li { float: left; margin: 0 25px 25px 0; }
ul.icons li.break { clear: left; }
ul.icons li a { display: block; position: relative; padding-top: 50px; width: 100px; text-align: center; color: #808080; }
ul.icons li a:hover { text-decoration: none; color: $linkcolor; }
ul.icons li a:before { display: block; position: absolute; top: 0; left: 0; width: 100%; font-size: 50px; line-height: 50px; }

/* ----------------------------------------
/*  Buttons
/* ----------------------------------------*/

.toolbar { margin: 25px 0; }

.buttons { margin: 25px 0; }
.buttons .btn + .btn { margin-left: 4px; }

.btn { display: inline-block; border-radius: 2px; padding: 0 12px; height: 31px; line-height: 31px; color: #808080; text-shadow: 0 1px 0 rgba(255,255,255,0.5); text-align: center; white-space: nowrap; @include linear-gradient(#fff, #f3f3f3); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), 0 1px 0 rgba(0,0,0,0.05); cursor: pointer; overflow: hidden; @include unselectable; }
.btn:hover { text-decoration: none; }
.btn:not(.disabled):not(:active):not(.active):hover { color: #666; @include linear-gradient(#fff, #f7f7f7); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.1); }
.btn:active,
.btn.active { -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), inset 0 2px 2px rgba(0,0,0,0.25); }
.btn.active { position: relative; @include linear-gradient(#ccc, #999); cursor: default; }
.btn.disabled { opacity: 0.5; cursor: default; text-shadow: none; }

.btn[data-icon]:before,
.addbtn:before { margin-right: 5px; }
.btn[data-icon-after]:after,
.menubtn:after { margin-left: 5px; }

/* back button */
.backbtn { position: relative; margin-left: -8px; padding-left: 20px; overflow: visible; }
.backbtn:before { position: absolute; top: 0; left: 0; width: 15px; height: 32px; content: '.'; text-indent: -100px; overflow: hidden; background: url(../images/backbtn.png) no-repeat; }

/* add buttons */
.addbtn:before { @include icon; content: '+'; }

.btn[data-icon]:before,
.btn[data-icon-after]:after,
.addbtn:before,
.menubtn:after { font-size: 17px; margin-top: 2px; }

/* menu buttons */
.menubtn { cursor: default; @include unselectable; }
.menubtn:after { @include icon; content: '▼'; font-size: 0.8em; }

/* small buttons */
.btn.small { padding: 0 7px; height: 17px; font-size: 11px; line-height: 17px; }

/* big buttons */
.btn.big { padding: 0 15px; height: 36px; font-size: 14px; line-height: 36px; }
.btn.big[data-icon]:before { margin-left: -2px; }

/* submit buttons */
.btn.submit { color: #fff; text-shadow: 0 1px 2px rgba(0,0,0,0.5); @include linear-gradient(#33abf5, #2885bf); }
.btn.submit:not(.disabled):not(:active):not(.active):hover { color: #fff; @include linear-gradient(#309ee3, #2479ad); }
.btn.submit:not(.disabled):active,
.btn.submit:not(.disabled).active { @include linear-gradient(#2c92d1, #216c9c); }

div.btn.submit { position: relative; overflow: hidden; }
div.btn.submit input { position: absolute; left: 100%; }

/* spinner */
.spinner { display: inline-block; vertical-align: bottom; width: 20px; height: 31px; background: url(../images/spinner.gif) no-repeat 50% 50%; }
.btn + .spinner { margin-left: 7px; }
.btn.big + .spinner { height: 36px; }

/* red buttons */
.btn.red { @include linear-gradient(#bf2b17, #8a1f11); }
.btn.red:not(.disabled):hover { @include linear-gradient(#ad2715, #781b0e); }
.btn.red:not(.disabled):active,
.btn.red:not(.disabled).active,
.btn.red:not(.disabled).loading { @include linear-gradient(#9c2313, #66170c); }

/* input buttons */
input.btn { border: none; height: 31px; }
input.btn.big { height: 36px; }

/* button groups */
.btn-group { display: block; height: 24px; }
.btn-group .btn { float: left; }
.btn-group .btn:not(:first-child) { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.btn-group .btn:not(:last-child) { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.btn-group .btn + .btn { margin-left: -1px; }
.btn-group .btn.active { position: relative; }
.btn-group .btn:active { position: relative; z-index: 1; }
.btn-group .btn[data-icon]:before { margin-right: -2px; }

.btn-group.big { height: 36px; }

/* switch */
.lightswitch { border-radius: 10px; width: 51px; height: 20px; background: #999; overflow: hidden; -webkit-box-shadow: 0 0 0 1px #999; cursor: pointer; @include unselectable; }
.lightswitch .container { margin-left: -31px; width: 90px; }
.lightswitch.on .container { margin-left: 0; }
.lightswitch .label { float: left; width: 29px; height: 20px; font-size: 11px; line-height: 20px; text-align: center; text-transform: uppercase; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.25); }
.lightswitch .label.on { padding: 0 10px 0 2px; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); @include linear-gradient(#2782bb, $linkcolor); }
.lightswitch .label.off { padding: 0 2px 0 10px; color: #666; text-shadow: 0 1px 0 #fff; @include linear-gradient(#d5d5d5, #e5e5e5); }
.lightswitch .handle { float: left; margin: -1px 0 -1px -52px; border-radius: 10px; border: 1px solid #999; padding: 0; width: 20px; height: 20px; @include linear-gradient(#e5e5e5, #fff); -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5); }

/* action buttons */
.actions { float: right; }
.actions > li { float: left; }
.actions > li + li { margin-left: 10px; }
h1 + .actions { margin-top: -100px; }
h2 + .actions { margin-top: -54px; }

/* ----------------------------------------
/*  Tables
/* ----------------------------------------*/

/* info */
table.info > tbody > tr > th { padding: 0 10px 2px 0; width: 150px; text-align: right; color: $mediumdark; }
table.info > tbody > tr > td { padding: 0 0 2px 0; }

/* data */
table.data { width: 100%; }
table.data th,
table.data td { padding: 5px 0 5px 15px; }
table.data th:first-child,
table.data td:first-child { padding-left: 0; }
table.data thead td,
table.data thead th { padding-top: 0; }
table.data thead th { color: $mediumdark; font-weight: bold; white-space: nowrap; }
table.data tbody th,
table.data tbody td { border-top: 1px dotted rgba(0,0,0,0.1); }
table.data tbody:first-child tr:first-child th,
table.data tbody:first-child tr:first-child td { border-top: none; }
table.data .light,
table.data .timestamp { color: #999; }
table.data td.timestamp { text-align: right; vertical-align: bottom; white-space: nowrap; }

.datatablesorthelper { margin: -2px -15px; padding: 2px 15px; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 2px 10px -2px rgba(0,0,0,0.25); }

/* ----------------------------------------
/*  Nav
/* ----------------------------------------*/

ul.tree,
.tree ul { margin-left: 20px; }
.tree li .toggle { margin: 7px 0 0 -15px; }

/* toggle */
.toggle { display: block; float: left; margin: 3px 4px 0 0; width: 10px; height: 12px; background: url(../images/toggle.png) no-repeat 0 0; opacity: 0.5; }
.toggle.expanded { background-position: 0 -10px; }

/* icons */
/*span.icon { display: block; float: left; width: 24px; height: 24px; background: url(../images/sidebar_icons.png) no-repeat 50% 50%; }*/

/* status icons */
.status { display: inline-block; margin-right: 5px; width: 10px; height: 10px; background: url(../images/status.png) no-repeat 0 -30px; }
.status.on { background-position: 0 0; }
.status.pending { background-position: 0 -10px; }
.status.off { background-position: 0 -20px; }

/* ----------------------------------------
/*  Tables
/* ----------------------------------------*/

table th { font-weight: bold; font-family: sans-serif; color: #666; text-align: left; vertical-align: top; }

/* matrix */
table.matrix { display: table; padding: 0; }
table.matrix > thead > tr > th { border-bottom: 1px solid #ccc; padding: 4px 10px 5px; font-size: 12px; color: #666; white-space: nowrap; @include linear-gradient(#fff, #fafafa); }
table.matrix > thead > tr > th:not(:last-child) { border-right: 1px dotted #ccc; }
table.matrix > thead > tr > th:first-child { border-top-left-radius: 1px; }
table.matrix > thead > tr > th:last-child { border-top-right-radius: 1px; }

table.matrix > tbody > tr > td { border: solid #bbb; border-width: 0 1px 1px 0; padding: 10px 12px; background: #fff; }
table.matrix > tbody > tr > td.norows { text-align: center; color: #666; }

table.matrix > tbody > tr:last-child > td { border-bottom: none; }
table.matrix > tbody > tr:last-child > td:first-child { border-bottom-left-radius: 1px; }
table.matrix > tbody > tr:last-child > td:last-child { border-bottom-right-radius: 1px; border-right: none; }

table.matrix > tbody > tr:not(:first-child) > td { border-bottom: 1px solid #bfbfbf; }
table.matrix > tbody > tr > td:not(:last-child) { border-right: 1px dotted #bfbfbf; }

/* ----------------------------------------
/*  Fields
/* ----------------------------------------*/

.text,
.select select { border: 1px solid #c9c9c9; font-family: 'Helvetica Neue', sans-serif; -webkit-transition: border linear 100ms, -webkit-box-shadow linear 100ms; }

.text.focus,
.text:focus,
.select select:focus { border-color: $focusglowcolor; outline: none; }

input.text,
textarea.text,
.text input,
.text textarea,
.select select { font-size: 13px; color: #5b5b5b; }

.field { position: relative; margin: 25px 0; }
.field .heading { margin-bottom: 4px; }
.field .heading p { margin-top: 0; font-size: 11px; color: #999; }

.nested-fields { margin: -25px -5px; padding: 25px 5px 0; overflow: hidden; }
.nested-fields > .field:last-child { padding-bottom: 25px; }

/* checkbox */
.checkbox + .checkbox { margin-top: 3px; }
.field.checkbox + .field.checkbox { margin-top: -22px; }

/* text */
.textwrapper { padding-right: 16px; }
.textwrapper > .text { width: 100%; }

.text { display: block; padding: 7px; background: #fff; -webkit-box-shadow: 0 0 0 $blurglowcolor; }
.text input { margin: 0; padding: 0; border: none; outline: none; }
.text:focus,
.text.focus { -webkit-box-shadow: inset 0 0 1px $focusglowcolor, 0 0 5px $focusglowcolor; }
.text.small { padding: 3px; }
.text.error { border-color: $errorcolor; }

.textwrapper.search { position: relative; padding-right: 36px; cursor: text; }
.textwrapper.search:before { @include icon; position: absolute; top: 9px; left: 8px; content: "s"; color: #a1a4a6; }
.textwrapper.search .text { padding-left: 27px; }

.texthint-container { position: relative; height: 0; }
.texthint { position: absolute; top: -1px; width: 100%; color: #a1a4a6; cursor: text; }

.passwordwrapper { position: relative; padding-right: 79px; }
.passwordwrapper .password { width: 100%; }
.passwordwrapper .password-toggle { display: block; position: absolute; top: 7px; right: 0; width: 44px; text-align: center; }
.password { padding-right: 70px; }
.password.capslock:focus { background: #fff url(../images/capslock.png) no-repeat 100% 50%; }

/* select */
.select,
.select select { border-radius: 2px; }
.select { display: inline-block; position: relative; background: #fff; }
.select:before { @include icon; position: absolute; top: 6px; right: 6px; font-size: 10px; content: '▼'; @include unselectable; }
.select select { position: relative; padding: 5px 17px 5px 7px; @include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.05)); -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05), 0 0 0 $blurglowcolor; -webkit-appearance: none; }
.select:hover select:not(:focus) { border-color: #999; }
.select select:focus { -webkit-box-shadow: inset 0 0 1px $focusglowcolor, 0 0 5px $focusglowcolor; }

/* errors */
ul.errors { margin-top: 5px; list-style-type: square; padding-left: 20px; }
ul.errors li { color: $errorcolor; }

/* ----------------------------------------
/*  Thumbs and filenames
/* ----------------------------------------*/

.thumb img { display: block; margin: 0 auto; width: 60px; height: 60px; }
.filename { margin-top: 5px; height: 14px; line-height: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* ----------------------------------------
/*  HUD
/* ----------------------------------------*/

.hud { position: absolute; background: rgba(25,25,25,0.9); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.15); }
.hud .tip { position: absolute; }
.hud .tip.top { top: -5px; left: 50%; margin-left: -5px; width: 10px; height: 5px; background-image: url(../images/hud-tip-top.png); }
.hud .tip.right { right: -5px; width: 5px; height: 10px; background-image: url(../images/hud-tip-right.png); }
.hud .tip.bottom { bottom: -5px; width: 10px; height: 5px; background-image: url(../images/hud-tip-bottom.png); }
.hud .tip.left { left: -5px; width: 5px; height: 10px; background-image: url(../images/hud-tip-left.png); }

/* ----------------------------------------
/*  Modals
/* ----------------------------------------*/

.modal { position: absolute; z-index: 9999; width: 400px; padding: 25px; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 10px 50px rgba(0,0,0,0.5); }
.modal-shade { display: none; position: fixed; top: 0; left: 0; z-index: 9998; width: 100%; height: 100%; background: rgba(255,255,255,0.75); }

/* ----------------------------------------
/*  Menus
/* ----------------------------------------*/

.menu { display: none; position: absolute; z-index: 9999; -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,0.5); @include unselectable; }
.menu ul { padding: 5px 0; background: rgba(255,255,255,0.9); }
.menu ul li { padding: 1px 10px; font-size: 12px; line-height: 20px; cursor: default; }
.menu ul li:hover { color: #fff; text-shadow: 0 1px 1px rgba(0,0,0,0.25); background: $linkcolor; }
.menu ul li + li { margin-top: 4px; }

/* ----------------------------------------
/*  Retina graphics
/* ----------------------------------------*/

@media only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
	.backbtn:before { background-image: url(../images/backbtn_2x.png); background-size: 15px 32px; }

	ul.biglist li a.go { background-image: url(../images/go_2x.png); background-size: 22px 14px; }
	ul.biglist li a.go:hover { background-image: url(../images/go_hover_2x.png); }

	.status { background-image: url(../images/status_2x.png); background-size: 10px 40px; }

	.spinner { background-image: url(../images/spinner_2x.gif); background-size: 20px 20px; }

	.hud .tip.top { background-image: url(../images/hud-tip-top_2x.png); background-size: 10px 5px; }
}
