@import "shared";
@import "reset";
@import "layout";

/* ----------------------------------------
/*  Basic stuff
/* ----------------------------------------*/

[data-icon]:before { @include icon; content: attr(data-icon); }
[data-icon-after]:after { @include icon; content: attr(data-icon-after); }

h1,
h1 > .text { font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif; font-size: 36px; line-height: 40px; color: $dark; }
h1 { margin-bottom: 25px; }
h2 { font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif; font-size: 24px; line-height: 1.2; color: $dark; }
h3 { font-family: HelveticaNeue-Light, sans-serif; font-weight: normal; font-size: 18px; line-height: 24px; color: $medium; }
h4 { font-weight: bold; color: $dark; }
h5 { font-weight: bold; color: $medium; }
h6 { font-weight: normal; color: $medium; }

p { margin-bottom: 10px; }

ol { padding-left: 40px; list-style-type: decimal; }

em,
i { font-style: italic; }

strong,
i em { font-weight: bold; font-family: sans-serif; }

.sel { cursor: default !important; }

#main a { color: $linkcolor; cursor: pointer; }
#main a:hover { text-decoration: underline; }
#main a.sel { text-decoration: none; }

a.go { padding-right: 10px; background: url(../images/go.png) no-repeat 100% 50%; }
a.goto { display: inline-block; vertical-align: middle; width: 12px; height: 12px; background: url(../images/goto.png) no-repeat; opacity: 0.5; }
a.goto:hover { opacity: 1; }

.icon { display: block; background: no-repeat 50% 50%; }
.icon.new { width: 10px; height: 10px; background-image: url(../images/new.png); }

code { font-family: Menlo, fixed-width; font-size: 0.9em; }
.code { font-family: Menlo, monospace; font-size: 12px !important; }

.scrollpane { overflow: auto; }

h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child,                    .grid:first-child, .field:first-child { margin-top: 0 !important; }
h2:last-child,  h3:last-child,  h4:last-child,  h5:last-child,  h6:last-child,  p:last-child,  .pane:last-child,  .grid:last-child,  .field:last-child  { margin-bottom: 0 !important; }

.left { float: left; }
.right { float: right; }

.no-outline { outline: none; }
.clear { display: block; clear: both; height: 0; }

.badge { display: inline-block; margin: 5px -24px 0 0; border: 1px solid $linkcolor; border-radius: 7px; padding: 0 4px; min-width: 6px; height: 12px; font-size: 10px; line-height: 12px; text-align: center; color: $linkcolor; text-transform: uppercase; }
.badge.warning { border-color: #e14545; color: #e14545; }

.var { display: inline-block; margin: 0 2px; border: 1px solid #888; border-radius: 10px; padding: 0 7px 1px; line-height: 15px; }
.var:first-child { margin-left: 0; }

.settings-btn { display: block; width: 16px; height: 16px; background: url(../images/settings-btn.png); cursor: pointer; }
.settings-btn.sel { background-position: 0 100%; }

/* panes */
.pane { position: relative; margin-bottom: 20px; border-radius: 3px; overflow: hidden; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 2px 8px rgba(0,0,0,0.25); }

.pane-head { position: relative; border-radius: 3px 3px 0 0; border-bottom: 1px solid #b5b5b5; padding: 11px 20px 10px; background: -webkit-linear-gradient(#e5e5e5, #d5d5d5); cursor: default; }
.pane-head,
.pane-head > h5 { margin: 0; line-height: 18px; text-shadow: 0 1px 0 #fff; }
.pane-head > .buttons { margin: -3px 0; height: 24px; }
.pane-head > .settings-btn { position: absolute; top: 50%; right: 10px; margin-top: -8px; }

.pane-body { background: #fff; }
.pane-body:first-child { border-top-left-radius: 3px; border-top-right-radius: 3px; }
.pane-body:last-child,
.pane-foot:last-child { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }

.pane-foot { border-top: 1px solid #ddd; padding: 8px 20px; background: -webkit-linear-gradient(#eee, #fff); }

.pane-item { position: relative; border-top: 1px solid #eee; padding: 8px 20px; color: #333; background: -webkit-linear-gradient(transparent, transparent, rgba(0,0,0,0.02)); }
a.pane-item { display: block; }
.no-items { color: #999; text-align: center; }

.pane-body:first-child > .pane-item:first-child,
.pane-body:first-child > .nested-pane-items:first-child > .pane-item:first-child,
tbody:first-child > tr:first-child > .pane-item { border-top: none }

.nested-pane-items { overflow: hidden; }

.pane-item.notice { padding-left: 52px; }
.pane-item.notice .icon { position: absolute; top: 12px; left: 10px; width: 32px; height: 28px; background: url(../images/notice.png) no-repeat 0 0; }

.icon.blue { margin: -3px 0; background-image: url(../images/sidebar_icons_hover.png); }

/* table + pane */
table.pane,
table.pane-body { width: 100%; }
table.pane > thead > tr > .pane-item:not(:first-child) { border-left: 1px dotted rgba(0,0,0,0.15); }
table.pane > tbody > tr > .pane-item:not(:first-child) { border-left: 1px dotted #eaeaea; }
table.pane-body > tbody > tr > .pane-item:not(:first-child) { padding-left: 0; }

/* modals */
.modal { display: none; position: absolute; @include unselectable; }
.modal.focussed { -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.25), 0 10px 50px rgba(0,0,0,0.5); }
.modal .shade { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 3px; background: #fff; opacity: 0.5; }

/* ----------------------------------------
/*  Grids
/* ----------------------------------------*/

.grid { margin-left: -20px; }
.grid:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.grid .col { float: left; }
.grid .col .col-inner { margin-left: 20px; }

.grid-2col .col { width: 50%; }
.grid-3col .col { width: 33.33%; }
.grid-3col .col:last-child { width: 33.34%; }
.grid-4col .col { width: 25%; }
.grid-5col .col { width: 20%; }
.grid-6col .col { width: 16.67%; }
.grid-6col .col:last-child { width: 16.65%; }

/* pane item + grid */
.pane-item.grid { padding-top: 0; padding-bottom: 0; }

/* ----------------------------------------
/*  Notifications
/* ----------------------------------------*/

#notification { position: absolute; top: 0; left: 0; width: 100%; text-align: center; }
#notification .notification { display: inline-block; padding: 3px 10px 2px; border-radius: 0 0 3px 3px; border-width: 0 1px 1px; border-style: solid; color: #fff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35); }
#notification .notification.notice { border-color: #1F6794; background: #2782bb; }
#notification .notification.error { border-color: #992f2f; background: #e14545; }

/* ----------------------------------------
/*  Toolbar / buttons
/* ----------------------------------------*/

.toolbar { border-bottom: 1px solid rgba(0,0,0,0.15); padding: 8px 20px 7px; height: 24px; background: rgba(0,0,0,0.1); }
.toolbar .center { height: 0; text-align: center; }
.toolbar .center > div { float: none !important; display: inline-block; }
.toolbar .search { float: right; width: 227px; }
.toolbar .btn,
.toolbar .btn-group,
.buttons .btn,
.buttons .btn-group,
.pane .foot .btn,
.pane .foot .btn-group { display: block; float: left; margin-right: 10px; }
.toolbar .btn:last-child,
.toolbar .btn-group:last-child,
.toolbar .btn-group .btn,
.buttons .btn:last-child,
.buttons .btn-group:last-child,
.buttons .btn-group .btn { margin-right: 0; }
.toolbar .btn { text-shadow: 0 1px rgba(255,255,255,0.25); background: -webkit-linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.15)); -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.25); }
.toolbar .btn:not(.disabled):hover { background: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.3)); }
.toolbar .btn:not(.disabled):active,
.toolbar .btn:not(.disabled).sel { background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.15)); }
.toolbar div.status { border-radius: 2px; border: 1px solid rgba(0,0,0,0.2); padding: 0 8px; line-height: 22px; white-space: nowrap; color: rgba(0,0,0,0.65); text-shadow: 0 1px 0 rgba(255,255,255,0.35); background: rgba(0,0,0,0.05); -webkit-box-shadow: 0 1px 0  rgba(255,255,255,0.25); }
.toolbar div.status span.status { margin: 5px 4px 0 0; }

/* search */
.search { border: 1px solid #d6d6d6; border-radius: 11px; padding-right: 30px; -webkit-box-shadow: inset 0 1px 0 #eaeaea; }
.search input { display: block; padding: 3px 10px 3px 20px; border: none; width:100%; font-family: HelveticaNeue, sans-serif; font-size: 12px; color: #333; background: transparent url(../images/toolbar_icons/search.png) 5px 50% no-repeat; outline: none; -webkit-appearance: none; }

/* buttons */
.btn { display: inline-block; border-radius: 3px; padding: 3px 8px; height: 18px; color: $medium; text-shadow: 0 1px 0 #fff; text-align: center; white-space: nowrap; background: -webkit-linear-gradient(#f5f3f0, #edebe8); -webkit-box-shadow: inset 0 0 0 1px rgba(204,202,200,0.75); cursor: pointer; overflow: hidden; @include unselectable; }
.btn:hover { text-decoration: none; }
.btn:not(.disabled):hover { background-image: -webkit-linear-gradient(#fbf9f6, #f2f0ed); -webkit-box-shodow: inset 0 0 0 1px $light; }
.btn:not(.disabled):active,
.btn:not(.disabled).sel { padding-top: 4px; padding-bottom: 2px; background-image: -webkit-linear-gradient(#efeeea, #e7e5e2); -webkit-box-shadow: inset 0 0 0 1px $light, inset 0 2px 4px rgba(204,202,200,0.75); }
.btn.sel { position: relative; }
.btn.disabled { opacity: 0.5; cursor: default; text-shadow: none; }

/* button parts */
.btn span { display: block; float: left; }

.btn .icon { width: 16px; height: 18px; background: no-repeat 50% 50%; }
.btn .arrow { width: 16px; background: url(../images/menu-arrow.png) no-repeat 50% 50%; opacity: 0.75; }
.btn span + .arrow { margin-left: -8px; }
.btn .icon + .label { margin-left: 4px; }

.btn ul.menu { display: none; }

/* dark button */
.btn.dark { color: #fff; text-shadow: 0 -1px 0 #000; background: -webkit-linear-gradient(#999, #666); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3); }
.btn.dark:not(.disabled):hover { background: -webkit-linear-gradient(#777, #444); }
.btn.dark:not(.disabled):active,
.btn.dark:not(.disabled).sel { background: -webkit-linear-gradient(#000, #444); }

/* small button */
.btn.small { height: 17px; font-size: 11px; line-height: 17px; }
.btn.small .label { margin: 0 6px; }

.btn.submit { -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25) !important; }

/* big button */
.btn.big { padding-left: 12px; padding-right: 12px; height: 26px; font-size: 14px; line-height: 26px; }

/* submit button */
.btn.submit { color: #fff; text-shadow: 0 1px 2px rgba(0,0,0,0.5); background: -webkit-linear-gradient(#33abf5, #2987c2); }
.btn.submit:not(.disabled):hover { background: -webkit-linear-gradient(#5ac5ff, #4da0de); }
.btn.submit:not(.disabled):active,
.btn.submit:not(.disabled).sel,
.btn.submit:not(.disabled).loading { text-shadow: 0 -1px 2px rgba(0,0,0,0.5); background: -webkit-linear-gradient(#077ab4, #2886c2); }
.btn.submit:not(.disabled).loading { cursor: default; }
.btn.submit:not(.disabled).loading .spinner { margin-right: 8px;width: 18px; background: url(../images/submit-btn-spinner.gif) no-repeat 50% 50%; }

.btn.submit .arrow { background-image: url(../images/menu-arrow-white.png); }

/* input buttons */
input.btn { border: none; height: 24px; }
input.btn.big { height: 32px; }

/* button groups */
.btn-group { display: block; height: 24px; }
.btn-group .btn { float: left; border-radius: 0; }
.btn-group .btn:first-child { border-top-left-radius: 12px; border-bottom-left-radius: 12px; }
.btn-group .btn:last-child { border-top-right-radius: 12px; border-bottom-right-radius: 12px; }
.btn-group .btn:not(:first-child) { border-left-color: rgba(0,0,0,0.25); }
.btn-group .btn:not(:last-child) { border-right: none; }
.btn-group .btn:not(:last-child) .arrow { margin-right: 4px; }

/* switch */
.lightswitch { border-radius: 10px; width: 51px; height: 20px; background: #999; overflow: hidden; -webkit-box-shadow: 0 0 0 1px #999; cursor: pointer; @include unselectable; }
.lightswitch .container { margin-left: -31px; width: 90px; }
.lightswitch.on .container { margin-left: 0; }
.lightswitch .label { float: left; width: 29px; height: 20px; font-size: 11px; line-height: 20px; text-align: center; text-transform: uppercase; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.25); }
.lightswitch .label.on { padding: 0 10px 0 2px; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); background: -webkit-linear-gradient(#2782bb, $linkcolor); }
.lightswitch .label.off { padding: 0 2px 0 10px; color: #666; text-shadow: 0 1px 0 #fff; background: -webkit-linear-gradient(#d5d5d5, #e5e5e5); }
.lightswitch .handle { float: left; margin: -1px 0 -1px -52px; border-radius: 10px; border: 1px solid #999; padding: 0; width: 20px; height: 20px; background: -webkit-linear-gradient(#e5e5e5, #fff); -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5); }

/* ----------------------------------------
/*  Nav
/* ----------------------------------------*/

ul.tree,
.tree ul { margin-left: 20px; }
.tree li .toggle { margin: 7px 0 0 -15px; }

/* toggle */
.toggle { display: block; float: left; margin: 3px 4px 0 0; width: 10px; height: 12px; background: url(../images/toggle.png) no-repeat 0 0; opacity: 0.5; }
.toggle.expanded { background-position: 0 -10px; }

/* icons */
/*span.icon { display: block; float: left; width: 24px; height: 24px; background: url(../images/sidebar_icons.png) no-repeat 50% 50%; }*/

/* status icons */
.status { display: block; float: left; width: 10px; height: 10px; background: url(../images/status.png) no-repeat 0 -30px; }
.status.on { background-position: 0 0; }
.status.pending { background-position: 0 -10px; }
.status.off { background-position: 0 -20px; }

/* ----------------------------------------
/*  Tables
/* ----------------------------------------*/

table th { font-weight: bold; font-family: sans-serif; color: #666; text-align: left; vertical-align: top; }

/* matrix */
table.matrix { display: table; padding: 0; }
table.matrix > thead > tr > th { border-bottom: 1px solid #ccc; padding: 4px 10px 5px; font-size: 12px; color: #666; white-space: nowrap; background: -webkit-linear-gradient(#fff, #fafafa); }
table.matrix > thead > tr > th:not(:last-child) { border-right: 1px dotted #ccc; }
table.matrix > thead > tr > th:first-child { border-top-left-radius: 1px; }
table.matrix > thead > tr > th:last-child { border-top-right-radius: 1px; }

table.matrix > tbody > tr > td { border: solid #bbb; border-width: 0 1px 1px 0; padding: 10px 12px; background: #fff; }
table.matrix > tbody > tr > td.norows { text-align: center; color: #666; }

table.matrix > tbody > tr:last-child > td { border-bottom: none; }
table.matrix > tbody > tr:last-child > td:first-child { border-bottom-left-radius: 1px; }
table.matrix > tbody > tr:last-child > td:last-child { border-bottom-right-radius: 1px; border-right: none; }

table.matrix > tbody > tr:not(:first-child) > td { border-bottom: 1px solid #bfbfbf; }
table.matrix > tbody > tr > td:not(:last-child) { border-right: 1px dotted #bfbfbf; }

/* ----------------------------------------
/*  Fields
/* ----------------------------------------*/

.field { margin: 25px 0; position: relative; }
.field .heading { margin-bottom: 5px; }
.field .heading h4 { display: inline-block; }
.field .heading label.required:after { @include icon; content: '*'; padding-left: 5px; font-size: 9px; color: #8a1f11; }
.field .heading p { display: inline-block; margin-left: 3px; border-left: 1px solid $ultralight; padding-left: 7px; color: $mediumlight; }

.pane-item.field,
.pane-item.grid .field { margin-top: 0; margin-bottom: 0; padding-top: 16px; padding-bottom: 16px; }

/* text */
.textwrapper { padding-right: 18px; }
.textwrapper > .text { width: 100%; }

.text { display: block; border: 1px solid $ultralight; padding: 9px; font-size: 13px; color: $dark; background: #fff; -webkit-box-shadow: 0 0 0 $blurglowcolor; -webkit-transition: border linear 100ms, -webkit-box-shadow linear 100ms; }
.text:hover { border-color: $light; }
.text:focus { border-color: $focusglowcolor; outline: none; -webkit-box-shadow: 0 0 5px $focusglowcolor; }
.text.small { padding: 3px; }
.text.error { border-color: #8a1f11; }

.texthint-container { position: relative; height: 0; }
.texthint { position: absolute; top: -1px; width: 100%; color: $mediumlight; -webkit-transition: color linear 100ms; }
.texthint.focussed { color: $light; }

.passwordwrapper { position: relative; padding-right: 80px; }
.passwordwrapper .password { width: 100%; }
.passwordwrapper .password-toggle { display: block; position: absolute; top: 8px; right: 0; width: 44px; text-align: center; }
.password { padding-right: 70px; }
.password.capslock:focus { background: url(../images/capslock.png) no-repeat 100% 50%, -webkit-linear-gradient(#fafafa, #fdfdfd); }

/* errors */
.error:not(.sel),
ul.errors li { color: #8a1f11 !important; }
ul.errors { margin-top: 4px; list-style-type: square; padding-left: 20px; }

label.checkbox { font-weight: normal; }

/* RTE */
.rte { padding: 0; }
.rte .toolbar { border-radius: 1px 1px 0 0; margin-bottom: 0; border-bottom: 1px solid #ccc; height: 30px; white-space: nowrap; color: #666; background: -webkit-linear-gradient(#fff, #fafafa); }
.rte .toolbar .btn { border: none; border-right: 1px solid #ccc; border-radius: 0; height: 30px; }
.rte .toolbar .btn:first-child { border-top-left-radius: 1px; }
.rte .toolbar .btn .label { margin: 0 15px; line-height: 30px; }
.rte .toolbar .btn .arrow { margin: 0 5px 0 -15px; }
.rte .styles { position: absolute; top: 0; right: 0; width: 150px; }
.rte iframe { border-radius: 0 0 1px 1px; }

/* color picker */
.colorpicker { font-family: Menlo, monospace; }
.colorpicker .sample { display: inline-block; margin: 0 4px -1px 0; width: 12px; height: 12px; border-radius: 6px; }

/* block editor */
.blockeditor { position: relative; padding: 0 0 0 220px; overflow: hidden; background: #f5f5f5; }
.blockeditor .sidebar { position: absolute; top: 0; left: 0; }
.blockeditor .blocksettings { position: relative; min-height: 260px; background: #fff; -webkit-box-shadow: -1px 0 0 rgba(0,0,0,0.1), -1px 0 1px rgba(0,0,0,0.1); overflow: hidden; }
.blockeditor .blocksettings .delete { padding-left: 16px; color: #e14545; background: url(../images/delete.png) no-repeat 0 50%; }
.pane .blockeditor { border-radius: 0 0 3px 3px; }
.pane .blockeditor .blocksettings { border-bottom-right-radius: 3px; }



.block-item .block-name { font-weight: bold; }
.block-item .block-name.required { padding-right: 14px; background: url(../images/required.png) no-repeat 100% 50%; }
.block-item.sel .block-name.required { background-image: url(../images/required-sel.png); }
.block-item .block-type { margin-left: 20px; font-size: 11px; line-height: 14px; }
.block-item:not(.sel) .block-type { color: #999; }
.block-item:not(.sel):hover .block-type { text-decoration: none !important; }
.block-item .goto { margin-bottom: 2px; }

.block-item .block:hover { background: #ececec; }

.block-item .block:active,
.block-item.sel .block { background: -webkit-linear-gradient($linkcolor, #2782bb); color: #fff; text-shadow: 0 1px 2px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15); }
.block-item .block:active .block-type,
.block-item.sel .block .block-type { color: #9bcef2; }
.block-item .block:active .icon,
.block-item.sel .block .icon { background-image: url(../images/sidebar_icons_sel.png); }

/* ----------------------------------------
/*  Thumbs and filenames
/* ----------------------------------------*/

.thumb img { display: block; margin: 0 auto; width: 60px; height: 60px; }
.filename { margin-top: 5px; height: 14px; line-height: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* ----------------------------------------
/*  HUD
/* ----------------------------------------*/

.hud { position: absolute; border-radius: 4px; background: rgba(25,25,25,0.9); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); }
.hud .tip { position: absolute; }
.hud .tip.top { top: -4px; width: 8px; height: 4px; background-image: url(../images/hud-tip-top.png); }
.hud .tip.right { right: -4px; width: 4px; height: 8px; background-image: url(../images/hud-tip-right.png); }
.hud .tip.bottom { bottom: -4px; width: 8px; height: 4px; background-image: url(../images/hud-tip-bottom.png); }
.hud .tip.left { left: -4px; width: 4px; height: 8px; background-image: url(../images/hud-tip-left.png); }

/* ----------------------------------------
/*  Menus
/* ----------------------------------------*/

ul.menu { position: absolute; z-index: 9999; padding: 5px 0; border-radius: 2px; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 1px 1px 2px rgba(0,0,0,0.15); }
ul.menu li { display: block; padding: 4px 10px; cursor: pointer; }
ul.menu li:not(.disabled):not(.sel):hover { color: #fff; background: -webkit-linear-gradient(#33abf5, #2987c2); }

ul.menu.select li { padding-left: 24px; }
ul.menu.select li.sel { color: #999; background: url(../images/checkmark.png) no-repeat 6px 50%; cursor: default; }
