/* ----------------------------------------
/*  Reset (thanks Eric!)
/* ----------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
input,textarea{margin:0;font-family:sans-serif;font-size:100%;}
textarea{resize:none;}
select{margin:0;}

/* ----------------------------------------
/*  Basic elements
/* ----------------------------------------*/

body { font-family: HelveticaNeue, sans-serif; color: #333; font-size: 13px; line-height: 18px; background: #9da2a8 url(../images/bg.jpg); }

h1 { margin: 0 0 20px -2px; font-size: 36px; line-height: 40px; color: #2d3a46; }
h2 { font-size: 24px; line-height: 1.4; color: #415466; }
h3 { margin-bottom: 15px; font-family: HelveticaNeue-Light, sans-serif; font-weight: normal; font-size: 18px; line-height: 24px; color: #666; }
h4 { margin: 15px 0 10px; font-weight: bold; color: #000; }
h5 { margin: 15px 0 10px; font-weight: bold; color: #666; }
h6 { margin: 15px 0 0; font-weight: normal; color: #666; }

p { margin-bottom: 1em; }

ol { padding-left: 40px; list-style-type: decimal; }

em,
i { font-style: italic; }

strong,
i em { font-weight: bold; font-family: sans-serif; }

.sel { cursor: default !important; }

a { color: #2d98db; cursor: pointer; }
a:hover { text-decoration: underline; }
a.sel:hover { text-decoration: none; }

a.go { padding-right: 10px; background: url(../images/go.png) no-repeat 100% 50%; }

code { font-family: Menlo, fixed-width; font-size: 0.9em; }
.code { font-family: Menlo, monospace; font-size: 12px !important; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child,                    .grid:first-child, .field:first-child, .blocksselect ul li:first-child { margin-top: 0 !important; }
h1:last-child,  h2:last-child,  h3:last-child,  h4:last-child,  h5:last-child,  h6:last-child,  p:last-child,  .pane:last-child,  .grid:last-child,  .field:last-child,  .blocksselect ul li:last-child  { margin-bottom: 0 !important; }

.left { float: left; }
.right { float: right; }

.no-outline { outline: none; }

/* ----------------------------------------
/*  Layout
/* ----------------------------------------*/

.no-access { position: absolute; z-index: 9999; top: 0; left: 0; width: 100%; height: 100%; text-align: center; background: rgba(0,0,0,0.9); }
.no-access .pane { display: inline-block; top: 50%; margin-top: -30px; text-align: left; }


/*-- header --*/
#header { position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; }

/*-- nav --*/
#nav { position: relative; z-index: 1; height: 48px; background: -webkit-linear-gradient(#333, rgba(15, 15, 15, 0.9)); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.65); }

#nav a { text-decoration: none; color: #666; -webkit-transition: color 150ms linear; }
#nav a:hover { color: #999; }
#nav a.sel { color: #ccc !important; }

#nav a .icon { height: 24px; background: no-repeat 50% 0; opacity: 0.35; -webkit-transition: opacity 150ms linear; }
#nav a:hover .icon { opacity: 0.75; }
#nav a.sel .icon { opacity: 1 !important; }

#nav #nav-site,
#nav #nav-account { display: block; position: relative; padding: 0 0 0 24px; line-height: 20px; font-weight: bold; }
#nav #nav-site .icon,
#nav #nav-account .icon { position: absolute; top: 0; left: 0; width: 20px; height: 20px; background: no-repeat 0 0; }

#nav #nav-sites { float: left; margin: 14px 0 0 20px; }
#nav #nav-sites #nav-site { padding-left: 16px; }
#nav #nav-sites #nav-site .icon { width: 11px; }

#nav #nav-sections { text-align: center; height: 0; }
#nav #nav-sections li { display: inline-block; }
#nav #nav-sections li a { display: block; padding: 4px 8px 0; font-size: 11px; }

#nav #nav-dashboard .icon { background-image: url(../images/nav-icons/dashboard.png); }
#nav #nav-content .icon { background-image: url(../images/nav-icons/content.png); }
#nav #nav-assets .icon { background-image: url(../images/nav-icons/assets.png); }
#nav #nav-users .icon { background-image: url(../images/nav-icons/users.png); }
#nav #nav-settings .icon { margin-left: 5px; background-image: url(../images/nav-icons/settings.png); }
#nav #nav-guide .icon { background-image: url(../images/nav-icons/guide.png); }
#nav #nav-about .icon { background-image: url(../images/nav-icons/about.png); }
#nav #nav-setup .icon { background-image: url(../images/nav-icons/setup.png); }
#nav #nav-site .icon { background-image: url(../images/nav-icons/site.png); }
#nav #nav-account .icon { background-image: url(../images/nav-icons/account.png); }

#nav #nav-session { float: right; margin: 6px 20px 0 0; text-align: right; }
#nav #nav-session #nav-logout { font-size: 11px; }

/*-- messages --*/
#messages { position: absolute; top: 48px; left: 0; width: 100%; text-align: center; }
#messages .message { display: inline-block; padding: 4px 20px; border-radius: 0 0 3px 3px; border-width: 0 1px 1px; border-style: solid; color: #fff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35); }
#messages .message.notice { border-color: #1F6794; background: #2782bb; }
#messages .message.error { border-color: #992f2f; background: #e14545; }

/*-- body --*/
#body { position: absolute; top: 48px; width: 100%; }

/*-- main --*/
#main { position: relative; padding: 20px; }
#main:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#main > .toolbar { margin: -20px -20px 20px; }


/*-- sidebars --*/
body.sidebar-layout #main { margin-left: 220px; }
body.sidebar-layout #sidebar { position: fixed; top: 48px; left: 0; overflow: auto; }

.sidebar { width: 220px; background: rgba(255,255,255,0.75); -webkit-box-shadow: 1px 0 0 rgba(0,0,0,0.15); }
.sidebar > h5 { margin: 0; border-bottom: 1px solid #bcbcbc; padding: 11px 20px 10px; line-height: 18px; text-shadow: 0 1px 0 #fff; background: -webkit-linear-gradient(#dcdcdc, #ccc); }
.sidebar > h5:not(:first-child) { border-top: 1px solid #ccc; padding-top: 10px; }
.sidebar .nav { padding: 8px 20px; }
.sidebar .nav li a { margin: 0 -20px 0 -9999px; padding-left: 9999px; font-weight: normal; color: #666; }
.sidebar .nav li a.sel { color: #fff; text-shadow: 0 1px 2px rgba(0,0,0,0.5); background: -webkit-linear-gradient(#2d98db, #2782bb); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15); }
.sidebar .nav li a.sel .icon { background-image: url(../images/sidebar_icons_sel.png); }

.sidebar .nav li a:not(.sel).new { color: #2d98db; }
.sidebar .nav li a:not(.sel).new:hover { text-decoration: underline !important; }
.sidebar .nav li a:not(.sel).new .icon { background-image: url(../images/sidebar_icons_hover.png); }


/* ----------------------------------------
/*  Basic stuff
/* ----------------------------------------*/

.clear { display: block; clear: both; height: 0; }

.badge { display: block; margin: 5px -24px 0 0; border: 1px solid #2d98db; border-radius: 7px; padding: 0 4px; min-width: 6px; height: 12px; font-size: 10px; line-height: 12px; text-align: center; color: #2d98db; text-transform: uppercase; }
.badge.alert { border-color: #e14545; color: #e14545; }
.sel .badge { border-color: #fff; color: #fff; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 1px rgba(0,0,0,0.5); }

.var { display: inline-block; margin: 0 2px; border: 1px solid #808080; border-radius: 10px; padding: 0 7px 1px; line-height: 15px; }
.var:first-child { margin-left: 0; }

.settings-btn { display: block; width: 16px; height: 16px; background: url(../images/settings-btn.png); cursor: pointer; }
.settings-btn.sel { background-position: 0 100%; }

/* panes */
.pane { position: relative; margin-bottom: 20px; border-radius: 3px; overflow: hidden; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 2px 8px rgba(0,0,0,0.25); }

/* pane head */
.pane .head,
table.pane > thead > tr > * { position: relative; border-bottom: 1px solid #b5b5b5; padding: 11px 20px 10px; background: -webkit-linear-gradient(#e5e5e5, #d5d5d5); cursor: default; }
.pane .head { border-top-left-radius: 3px; border-top-right-radius: 3px; }
table.pane > thead > tr:first-child > *:first-child { border-top-left-radius: 3px; }
table.pane > thead > tr:first-child > *:last-child { border-top-right-radius: 3px; }
.pane .head:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.pane .head h5,
table.pane > thead { margin: 0; line-height: 18px; text-shadow: 0 1px 0 #fff; }
.pane .head .buttons { margin: -3px 0; height: 24px; }
.pane .head .settings-btn { position: absolute; top: 50%; right: 10px; margin-top: -8px; }

/* pane foot */
.pane .foot,
table.pane > tfoot > tr > * { position: relative; border-top: 1px solid #b5b5b5; padding: 4px 20px; background: -webkit-linear-gradient(#f5f5f5, #e5e5e5); }
.pane .foot { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
table.pane > tfoot > tr:last-child > *:first-child { border-bottom-left-radius: 3px; }
table.pane > tfoot > tr:last-child > *:last-child { border-bottom-right-radius: 3px; }
.pane .foot:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* pane body items */
.pane .body .item,
.pane table.body > tbody > tr > *,
table.pane > tbody > tr > * { position: relative; padding: 8px 20px; background: #fff; background: -webkit-linear-gradient(#fdfdfd, #fbfbfb) repeat-x 0 100%; -webkit-box-shadow: inset 0 1px 0 #fff; }

.pane .body:first-child .item:first-child { border-top-left-radius: 3px; border-top-right-radius: 3px; }
table.pane > tbody:first-child > tr:first-child > *:first-child,
.pane table.body:first-child > tbody > tr:first-child > *:first-child { border-top-left-radius: 3px; }
table.pane > tbody:first-child > tr:first-child > *:last-child,
.pane table.body:first-child > tbody > tr:first-child > *:last-child { border-top-right-radius: 3px; }

.pane .body:last-child .item:last-child { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
table.pane > tbody:last-child > tr:last-child > *:first-child,
.pane table.body:last-child > tbody > tr:last-child > *:first-child { border-bottom-left-radius: 3px; }
table.pane > tbody:last-child > tr:last-child > *:last-child,
.pane table.body:last-child > tbody > tr:last-child > *:last-child { border-bottom-right-radius: 3px; }

.pane .body .no-items { color: #999; text-align: center; }
.pane .body a.item { display: block; }
.pane .body .item:not(:first-child),
.pane table.body > tbody > tr:not(:first-child) > *,
table.pane > tbody > tr:not(:first-child) > * { border-top: 1px dotted #d5d5d5; }

.pane .body .item.notice { padding-left: 52px; }
.pane .body .item.notice .icon { position: absolute; top: 16px; left: 10px; width: 32px; height: 28px; background: url(../images/notice.png) no-repeat 0 0; }

.pane .body a:not(.btn) .icon { margin: -3px 0; background-image: url(../images/sidebar_icons_hover.png); }

/* table-only styles */
table.pane,
.pane table.body { width: 100%; }
table.pane > thead > tr > *:not(:first-child) { border-left: 1px dotted rgba(0,0,0,0.15); }
table.pane > tbody > tr > *:not(:first-child) { border-left: 1px dotted #eaeaea; }
.pane table.body > * > tr > *:not(:first-child) { padding-left: 0; }

.pane + .btn-group { display: block; margin-top: -12px; margin-bottom: 20px; }

/* modals */
.modal { display: none; position: absolute; -webkit-user-select: none; }
.modal.focussed { -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.25), 0 10px 50px rgba(0,0,0,0.5); }
.modal .shade { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 3px; background: #fff; opacity: 0.5; }

#blocksselectmodal { width: 300px; }
#blocksselectmodal .body .scrollpane { padding: 0 1px; }

#createblockmodal { width: 300px; }

/* grids */
.grid { margin-left: -20px; }
.grid:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.grid .col { float: left; }
.grid .col .col-inner { margin-left: 20px; }

.grid-2col .col { width: 50%; }
.grid-3col .col { width: 33.33%; }
.grid-3col .col:last-child { width: 33.34%; }
.grid-4col .col { width: 25%; }
.grid-5col .col { width: 20%; }
.grid-6col .col { width: 16.67%; }
.grid-6col .col:last-child { width: 16.65%; }

/* ----------------------------------------
/*  Toolbar / buttons
/* ----------------------------------------*/

.toolbar { padding: 8px 20px 7px; height: 24px; }
.toolbar .center { height: 0; text-align: center; }
.toolbar .center > div { float: none !important; display: inline-block; }
.toolbar .search { float: right; width: 227px; }
.toolbar .btn,
.toolbar .btn-group,
.buttons .btn,
.buttons .btn-group,
.pane .foot .btn,
.pane .foot .btn-group { display: block; float: left; margin-right: 10px; }
.toolbar .btn:last-child,
.toolbar .btn-group:last-child,
.toolbar .btn-group .btn,
.buttons .btn:last-child,
.buttons .btn-group:last-child,
.buttons .btn-group .btn { margin-right: 0; }
.toolbar .btn { text-shadow: 0 1px rgba(255,255,255,0.25); background: -webkit-linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.15)); -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.25); }
.toolbar .btn:not(.disabled):hover { background: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.3)); }
.toolbar .btn:not(.disabled):active,
.toolbar .btn:not(.disabled).sel { background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.15)); }
.toolbar div.status { border-radius: 2px; border: 1px solid rgba(0,0,0,0.2); padding: 0 8px; line-height: 22px; white-space: nowrap; color: rgba(0,0,0,0.65); text-shadow: 0 1px 0 rgba(255,255,255,0.35); background: rgba(0,0,0,0.05); -webkit-box-shadow: 0 1px 0  rgba(255,255,255,0.25); }
.toolbar div.status span.status { margin: 5px 4px 0 0; }

/* search */
.search { border: 1px solid #d6d6d6; border-radius: 11px; padding-right: 30px; -webkit-box-shadow: inset 0 1px 0 #eaeaea; }
.search input { display: block; padding: 3px 10px 3px 20px; border: none; width:100%; font-family: HelveticaNeue, sans-serif; font-size: 12px; color: #333; background: transparent url(../images/toolbar_icons/search.png) 5px 50% no-repeat; outline: none; -webkit-appearance: none; }

/* buttons */
.btn { display: inline-block; border-radius: 3px; height: 24px; line-height: 24px; color: #505050; text-shadow: 0 1px 0 #eee; text-align: center; white-space: nowrap; background: -webkit-linear-gradient(#f5f5f5, #d5d5d5); -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.25), inset 0 1px 0 #fff; cursor: pointer; overflow: hidden; }
.btn:hover { text-decoration: none; }
.btn:not(.disabled):hover { background-image: -webkit-linear-gradient(#fff, #ddd); }
.btn:not(.disabled):active,
.btn:not(.disabled).sel { background-image: -webkit-linear-gradient(#aaa, #ccc); -webkit-box-shadow: 0 0 0 1px #808080, inset 0 1px 1px 1px rgba(0,0,0,0.05); }
.btn.sel { position: relative; }
.btn.disabled { opacity: 0.5; cursor: default; }

/* button parts */
.btn span { display: block; float: left; height: 100%; }

.btn .label { margin: 0 8px; }
.btn.disabled .label { text-shadow: none; }
.btn .icon { margin: 0 4px; height: 24px; width: 24px; background: url(../images/sidebar_icons.png); opacity: 0.9; }
.btn .arrow { width: 16px; background: url(../images/menu-arrow.png) no-repeat 50% 50%; opacity: 0.75; }
.btn:not(.disabled):active .arrow,
.btn:not(.disabled).sel .arrow { opacity: 1; }
.btn span + .arrow { margin-left: -8px; }
.btn .icon + .label { margin-left: -4px; }

.btn ul.menu { display: none; }

/* dark button */
.btn.dark { color: #fff; text-shadow: 0 -1px 0 #000; background: -webkit-linear-gradient(#999, #666); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3); }
.btn.dark:not(.disabled):hover { background: -webkit-linear-gradient(#777, #444); }
.btn.dark:not(.disabled):active,
.btn.dark:not(.disabled).sel { background: -webkit-linear-gradient(#000, #444); }

/* small button */
.btn.small { height: 17px; font-size: 11px; line-height: 17px; }
.btn.small .label { margin: 0 6px; }

.btn.big,
.btn.submit { -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25) !important; }
.btn.big.submit { -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.5) !important; }

/* big button */
.btn.big { height: 32px; border: none; font-size: 14px; line-height: 32px; }
.btn.big .label { margin: 0 12px; }

/* submit button */
.btn.submit { color: #fff; text-shadow: 0 1px 2px rgba(0,0,0,0.5); background: -webkit-linear-gradient(#33abf5, #2987c2); }
.btn.submit:not(.disabled):hover { background: -webkit-linear-gradient(#5ac5ff, #4da0de); }
.btn.submit:not(.disabled):active,
.btn.submit:not(.disabled).sel,
.btn.submit:not(.disabled).loading { text-shadow: 0 -1px 2px rgba(0,0,0,0.5); background: -webkit-linear-gradient(#077ab4, #2886c2); }
.btn.submit:not(.disabled).loading { cursor: default; }
.btn.submit:not(.disabled).loading .spinner { margin-right: 8px;width: 18px; background: url(../images/submit-btn-spinner.gif) no-repeat 50% 50%; }

.btn.submit .arrow { background-image: url(../images/menu-arrow-white.png); }

/* input buttons */
input.btn { padding: 0 8px !important; border: none; }
input.btn.big { padding: 0 12px !important; }

/* button groups */
.btn-group { display: inline-block; height: 24px; }
.btn-group .btn { float: left; }
.btn-group .btn:not(:first-child) { border-left-color: rgba(0,0,0,0.25); border-top-left-radius: 0; border-bottom-left-radius: 0; }
.btn-group .btn:not(:last-child) { border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0; }
.btn-group .btn:not(:last-child) .arrow { margin-right: 4px; }

/* switch */
.lightswitch { margin: 1px; border-radius: 10px; width: 51px; height: 20px; background: #999; overflow: hidden; -webkit-box-shadow: 0 0 0 1px #999; cursor: pointer; -webkit-user-select: none; }
.lightswitch .container { margin-left: -31px; width: 90px; }
.lightswitch.on .container { margin-left: 0; }
.lightswitch .label { float: left; width: 29px; height: 20px; font-size: 11px; line-height: 20px; text-align: center; text-transform: uppercase; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.25); }
.lightswitch .label.on { padding: 0 10px 0 2px; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); background: -webkit-linear-gradient(#2782bb, #2d98db); }
.lightswitch .label.off { padding: 0 2px 0 10px; color: #666; text-shadow: 0 1px 0 #fff; background: -webkit-linear-gradient(#e5e5e5, #f5f5f5); }
.lightswitch .handle { float: left; margin: -1px 0 -1px -52px; border-radius: 10px; border: 1px solid #999; padding: 0; width: 20px; height: 20px; background: -webkit-linear-gradient(#e5e5e5, #fff); }

/* ----------------------------------------
/*  Nav
/* ----------------------------------------*/

.nav li a { display: block; padding: 3px 10px 3px 0; white-space: pre; overflow: hidden; text-overflow: ellipsis; text-transform: none; }
.nav li a.etc { width: 24px; height: 24px; padding: 0; background: url(../images/etc.png) no-repeat 50% 50%; }
.nav li a .icon { margin: -3px 0 -3px -4px; }

.nav li a.has-badge { padding-right: 35px; }
.nav li a.has-badge .badge { float: right; margin: 2px -25px 0 0; }
.nav li a.has-status { padding-right: 25px; }
.nav li a.has-status .status { float: right; margin: 4px -15px 0 0; }

ul.tree,
.tree ul { margin-left: 20px; }
.tree li .toggle { margin: 7px 0 0 -15px; }

/* toggle */
.toggle { display: block; float: left; margin: 3px 4px 0 0; width: 10px; height: 12px; background: url(../images/toggle.png) no-repeat 0 0; opacity: 0.5; }
.toggle.expanded { background-position: 0 -10px; }

/* icons */
span.icon { display: block; float: left; width: 24px; height: 24px; background: url(../images/sidebar_icons.png) no-repeat 50% 50%; }

/* status icons */
span.status { display: block; float: left; width: 10px; height: 10px; background: url(../images/status.png) no-repeat 0 -30px; }
span.status.on { background-position: 0 0; }
span.status.pending { background-position: 0 -10px; }
span.status.off { background-position: 0 -20px; }

/* ----------------------------------------
/*  Tables
/* ----------------------------------------*/

table th { font-weight: bold; font-family: sans-serif; color: #666; text-align: left; vertical-align: top; }

/* matrix */
table.matrix { display: table; padding: 0; }
table.matrix > thead > tr > th { border-bottom: 1px solid #ccc; padding: 4px 10px 5px; font-size: 12px; color: #666; white-space: nowrap; background: -webkit-linear-gradient(#fff, #fafafa); }
table.matrix > thead > tr > th:not(:last-child) { border-right: 1px dotted #ccc; }
table.matrix > thead > tr > th:first-child { border-top-left-radius: 1px; }
table.matrix > thead > tr > th:last-child { border-top-right-radius: 1px; }

table.matrix > tbody > tr > td { border: solid #bbb; border-width: 0 1px 1px 0; padding: 10px 12px; background: #fff; }
table.matrix > tbody > tr > td.norows { text-align: center; color: #666; }

table.matrix > tbody > tr:last-child > td { border-bottom: none; }
table.matrix > tbody > tr:last-child > td:first-child { border-bottom-left-radius: 1px; }
table.matrix > tbody > tr:last-child > td:last-child { border-bottom-right-radius: 1px; border-right: none; }

table.matrix > tbody > tr:not(:first-child) > td { border-bottom: 1px solid #bfbfbf; }
table.matrix > tbody > tr > td:not(:last-child) { border-right: 1px dotted #bfbfbf; }

/* ----------------------------------------
/*  Fields
/* ----------------------------------------*/

.field { padding-top: 16px !important; padding-bottom: 20px !important; position: relative; }
.field + .field:not(.item),
.grid + .field,
.field + .grid .field:first-child,
.grid + .grid .field:first-child { padding-top: 0 !important; }
.field > label { display: inline-block; margin-bottom: 5px; font-weight: bold; font-family: sans-serif; color: #666; }
.field > label.required { padding-right: 12px; background: url(../images/field-required.png) no-repeat 100% 50%; }
.field > p { margin: -3px 0 8px; color: #808080; }

/* inputs */
.input-wrapper { padding-right: 18px; }

.input-wrapper > input,
.input-wrapper > textarea,
.input { display: block; border: 1px solid #ccc; border-radius: 2px; padding: 8px; font-size: 13px; color: #555; background: #fff; -webkit-box-shadow: inset 0 1px 0 #eee; }
.input-wrapper > input.error,
.input-wrapper > textarea.error,
.input.error { border-color: #8a1f11; }

.input-wrapper > input,
.input-wrapper > textarea { width: 100%; }

.input-wrapper > input:focus,
.input-wrapper > textarea:focus,
.input:focus { outline: none; background: -webkit-linear-gradient(#fafafa, #fdfdfd); -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1); }

label.checkbox { font-weight: normal; }

.input-wrapper.password { position: relative; padding-right: 80px; }
input.password { padding-right:70px; }
input.password.capslock:focus { background: url(../images/capslock.png) no-repeat 100% 50%, -webkit-linear-gradient(#fafafa, #fdfdfd); }
.input-wrapper .password-toggle { display: block; position: absolute; top: 8px; right: 0; width: 44px; text-align: center; }

.error,
ul.errors li { color: #8a1f11; }
ul.errors { margin-top: 4px; list-style-type: square; padding-left: 20px; }

/* RTE */
.rte { padding: 0; }
.rte .toolbar { border-radius: 1px 1px 0 0; margin-bottom: 0; border-bottom: 1px solid #ccc; height: 30px; white-space: nowrap; color: #666; background: -webkit-linear-gradient(#fff, #fafafa); }
.rte .toolbar .btn { border: none; border-right: 1px solid #ccc; border-radius: 0; height: 30px; }
.rte .toolbar .btn:first-child { border-top-left-radius: 1px; }
.rte .toolbar .btn .label { margin: 0 15px; line-height: 30px; }
.rte .toolbar .btn .arrow { margin: 0 5px 0 -15px; }
.rte .styles { position: absolute; top: 0; right: 0; width: 150px; }
.rte iframe { border-radius: 0 0 1px 1px; }

/* color picker */
.colorpicker { font-family: Menlo, monospace; }
.colorpicker .sample { display: inline-block; margin: 0 4px -1px 0; width: 12px; height: 12px; border-radius: 6px; }

/* blocks select */
.blocksselect .input { padding: 0; }
.blocksselect .scrollpane { max-height: 280px; overflow: auto; }
.blocksselect ul { padding: 0 4px; }
.blocksselect ul li.add a { display: inline-block; padding: 5px 0 5px 4px; }
.blocksselect ul li.filler { height: 28px; }
li.block-item { min-height: 24px; padding: 2px 0; }
li.block-item .required { display: block; float: right; padding: 3px 8px 2px 12px; background-position: 0 50%; }
li.block-item .icon { margin: -3px 0; }
li.block-item .block { display: inline-block; padding: 3px 8px 3px 4px; border-radius: 12px; cursor: default; }
li.block-item .block .block-name { font-weight: bold; font-family: sans-serif; }
li.block-item .block .block-type { margin-left: 1px; font-size: 11px; line-height: 14px; color: #999; }

li.block-item .block:hover { background: #ececec; }

li.block-item .block:active,
li.block-item.sel .block { background: -webkit-linear-gradient(#2d98db, #2782bb); color: #fff; text-shadow: 0 1px 2px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15); }
li.block-item .block:active .block-type,
li.block-item.sel .block .block-type { color: #9bcef2; }
li.block-item .block:active .icon,
li.block-item.sel .block .icon { background-image: url(../images/sidebar_icons_sel.png); }

/* ----------------------------------------
/*  Thumbs and filenames
/* ----------------------------------------*/

.thumb img { display: block; margin: 0 auto; width: 60px; height: 60px; }
.filename { margin-top: 5px; height: 14px; line-height: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* ----------------------------------------
/*  HUD
/* ----------------------------------------*/

.hud { position: absolute; border-radius: 4px; background: rgba(25,25,25,0.9); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); }
.hud .tip { position: absolute; }
.hud .tip.top { top: -4px; width: 8px; height: 4px; background-image: url(../images/hud-tip-top.png); }
.hud .tip.right { right: -4px; width: 4px; height: 8px; background-image: url(../images/hud-tip-right.png); }
.hud .tip.bottom { bottom: -4px; width: 8px; height: 4px; background-image: url(../images/hud-tip-bottom.png); }
.hud .tip.left { left: -4px; width: 4px; height: 8px; background-image: url(../images/hud-tip-left.png); }

/* ----------------------------------------
/*  Menus
/* ----------------------------------------*/

ul.menu { position: absolute; z-index: 9999; padding: 5px 0; border-radius: 2px; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 1px 1px 2px rgba(0,0,0,0.15); }
ul.menu li { display: block; padding: 4px 10px; cursor: pointer; }
ul.menu li:not(.disabled):not(.sel):hover { color: #fff; background: -webkit-linear-gradient(#33abf5, #2987c2); }

ul.menu.select li { padding-left: 24px; }
ul.menu.select li.sel { color: #999; background: url(../images/checkmark.png) no-repeat 6px 50%; cursor: default; }
