#main .page { margin: 0 auto; max-width: 800px; border-radius: 5px; }
#main .page .body .item:first-child { border-radius: 5px 5px 0 0; }
#main .page .body .item:last-child { border-radius: 0 0 5px 5px; }

#main .page .field { margin: 0; padding: 20px 80px; }

#main .page .page-head { padding: 60px 80px 20px !important; border-radius: 4px 4px 0 0; }

#main .page .page-head .editable { display: inline-block; cursor: pointer; }
#main .page .page-head .editable a { display: none; float: left; margin-left: 8px; }
#main .page .page-head .editable:hover a { display: block; text-decoration: none; }

#main .page .page-head .title h1 { float: left; margin: 0; color: #555; }
#main .page .page-head .title h1.untitled { color: #d5d5d5; }
#main .page .page-head .title a { margin-top: 16px; }
#main .page .page-head .title-input { display: block; margin: -1px 0 3px -1px; border: none; padding: 0; width: 100%; font-size: 36px; font-family: HelveticaNeue, sans-serif; color: #000; background: transparent; outline: none; }

#main .page .page-head .url { color: #666; height: 18px; }
#main .page .page-head .url .editable div { float: left; }
#main .page .page-head .url .prefix { display: inline-block; }
#main .page .page-head .url-input { display: inline-block; margin-left: -1px; border: none; padding: 0; font-size: 13px; font-family: HelveticaNeue, sans-serif; color: #000; background: transparent; outline: none; }

#main .page .page-head .draft-btn { display: none; position: relative; margin-left: 10px; border: 1px solid #36b2ff; background: transparent; }
#main .page .page-head .draft-btn .label { color: #2d98db; }
#main .page .page-head .draft-btn .arrow { background-image: url(../images/draft-btn-arrow.png); opacity: 1; }
#main .page .page-head .draft-btn ul { display: none; position: absolute; z-index: 1; top: 23px; left: 0; border-radius: 2px; width: 200px; height: 100px; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.1); }

#main .page .page-head { padding-bottom: 0; }
#main .page .page-head .page-settings { margin-top: 18px; height: 0; overflow: hidden; padding-left: 68px; background: url(../images/settings-bg.png) no-repeat 0 5px; }
#main .page .page-head .page-settings table th,
#main .page .page-head .page-settings table td { padding-top: 2px; }
#main .page .page-head .page-settings table th { padding-right: 20px; color: #666; }

#main .page .page-foot { padding: 40px 80px; border-bottom: none; border-radius: 0 0 4px 4px; }
#main .page .page-foot .btn.big { display: inline-block; float: none; margin-left: 0; }
