#main .centered { margin: 0 auto; max-width: 800px; }

#main .page { border-radius: 5px; }
#main .page .body .item:first-child { border-radius: 5px 5px 0 0; }
#main .page .body .item:last-child { border-radius: 0 0 5px 5px; }

#main .page .field { margin: 0; padding: 20px 80px; }

#main .page .page-head { padding: 60px 80px 20px !important; border-radius: 4px 4px 0 0; }

#main .page .page-head .editable { display: inline-block; cursor: pointer; }
#main .page .page-head .editable a { display: none; float: left; margin-left: 8px; }
#main .page .page-head .editable:hover a { display: block; text-decoration: none; }
#main .page .page-head .empty { color: #d5d5d5 !important; }

#main .page .page-head { color: #777; }
#main .page .page-head h1 { margin-bottom: 4px; }
#main .page .page-head .btn { margin-top: 16px; background: #fff; text-shadow: none; }
#main .page .page-head .btn .label { color: #777; }

#main .page .page-head .draft-btn { display: none; position: relative; margin-left: 10px; border: 1px solid #36b2ff; background: transparent; }
#main .page .page-head .draft-btn .label { color: #2d98db; }
#main .page .page-head .draft-btn .arrow { background-image: url(../images/draft-btn-arrow.png); opacity: 1; }
#main .page .page-head .draft-btn ul { display: none; position: absolute; z-index: 1; top: 23px; left: 0; border-radius: 2px; width: 200px; height: 100px; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.1); }

#main .page .page-head { padding-bottom: 0; }
#main .page .page-head .page-settings { margin-top: 18px; height: 0; overflow: hidden; padding-left: 68px; background: url(../images/settings-bg.png) no-repeat 0 5px; }
#main .page .page-head .page-settings table th,
#main .page .page-head .page-settings table td { padding-top: 2px; }
#main .page .page-head .page-settings table th { padding-right: 20px; color: #666; }

#main .btn.big.submit { margin-top: 0; height: 40px; border: none; font-size: 18px; line-height: 40px; }
#main .btn.big.submit .label { margin: 0 16px; }

#main .autosave-status { display: inline-block; margin-left: 16px; color: #474a4d; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
