@import "shared";

#main { background: #fff url(../images/sidebar-bg.gif) repeat-y 100% 0; }

#sidebar { float: right; border-radius: 0 3px 3px 0; margin: -30px; padding: 30px 15px; width: 169px; }

#sidebar ul { margin-bottom: 25px; }
#sidebar ul li { border-top: 1px solid $bgcolor; }
#sidebar ul li:last-child { border-bottom: 1px solid $bgcolor; }
#sidebar ul li a { display: block; position: relative; margin: -1px -15px; border: solid transparent; border-width: 1px 0; padding: 4px 30px 4px 15px; color: $light; text-shadow: 0 1px 0 #fff; }
#sidebar ul li a .name,
#sidebar ul li a .author { overflow: hidden; white-space: pre; text-overflow: ellipsis; }
#sidebar ul li a .name { height: 16px; line-height: 16px; }
#sidebar ul li a .author { height: 14px; line-height: 14px; font-size: 11px; }
#sidebar ul li a:hover { color: $mediumlight; text-decoration: none; }
#sidebar ul li a.sel { z-index: 1; border-color: $ultralight; color: $medium; background: $bgcolor; }

#sidebar ul li a.published .name { height: 30px; line-height: 30px; }
#sidebar ul li a.published .status { position: absolute; top: 15px; right: 15px; }
#sidebar ul li a.published:not(.sel):active .status { top: 16px; }
#sidebar ul li a.draft:after { display: block; position: absolute; top: 13px; right: 3px; font-size: 20px; width: 30px; }
#sidebar ul li a.draft:not(.sel):active .icon { top: 14px; }

#sidebar h6 { margin-bottom: 3px; }

#content { margin-right: 200px; }
