/* ----------------------------------------
/*  Reset (thanks Eric!)
/* ----------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
input,textarea{margin:0;font-family:sans-serif;font-size:100%;}
textarea{resize:none;}
select{margin:0;}
strong{font-weight:bold;}

/* ----------------------------------------
/*  Basic elements
/* ----------------------------------------*/

body { padding-top: 44px; font-family: HelveticaNeue, sans-serif; color: #333; font-size: 13px; line-height: 18px; background: #fafafa; }

h1 { margin: 0 0 20px -2px; font-size: 36px; line-height: 40px; color: #2d3a46; }
h2 { font-size: 24px; line-height: 1.4; color: #415466; }
h3 { margin-bottom: 15px; font-family: HelveticaNeue-Light, sans-serif; font-size: 18px; line-height: 24px; color: #666; text-shadow: 0 1px 0 #fff; }
h4 { margin: 15px 0 10px; font-weight: bold; color: #000; }
h5 { margin: 15px 0 10px; font-weight: bold; color: #666; }

p { margin-bottom: 1em; }

em,
i { font-style: italic; }
i em { font-weight: bold; }

a { color: #2d98db; cursor: pointer; }
a:hover { text-decoration: underline; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child { margin-top: 0; }
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child { margin-bottom: 0; }

/* ----------------------------------------
/*  Layout
/* ----------------------------------------*/

/*-- nav --*/
#nav { position: fixed; top: 0; left: 0; z-index: 9999; border-bottom: 1px solid #10354d; width: 100%; height: 44px; padding: 0 0; background: #1081b8 url(../images/nav-bg.jpg); -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.5); }
#nav .left { float: left; }
#nav .right { float: right; margin-right: 10px; }
#nav .left #site { float: left; margin: 7px 10px; color: #fff; background: -webkit-gradient(linear, 0 0, 0 100%, from(#0f94d2), to(#0c6c99)) !important; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.25), 0 1px 3px rgba(0,0,0,0.35) !important; }
#nav .left ul { float: left; }
#nav a { color: #fff; text-shadow: 0 1px 0 #000; }
#nav ul li { position: relative; float: left; }
#nav ul li a { display: block; position: relative; width: 44px; height: 44px; line-height: 44px; backrgound: no-repeat; }
#nav ul li a.sel { background-position: 0 100%; }

#nav li#nav-search { position: relative; }
#nav li#nav-search #search { display: none; position: absolute; top: 0; left: 54px; width: 300px; height: 300px; background: #fff; }
#nav li#nav-search #search .search-wrapper { margin-left: -54px; }

#nav li#nav-dashboard a { background-image: url(../images/nav-icons/193.png); }
#nav li#nav-content a { background-image: url(../images/nav-icons/113.png); }
#nav li#nav-assets a { background-image: url(../images/nav-icons/258.png); }
#nav li#nav-users a { background-image: url(../images/nav-icons/244.png); }
#nav li#nav-settings a { background-image: url(../images/nav-icons/266.png); }
#nav li#nav-guide a { background-image: url(../images/nav-icons/240.png); }

#nav li#nav-account a { width: auto; }
#nav li#nav-account a img { display: block; float: left; margin: 7px; border-radius: 2px; width: 30px; height: 30px; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.25), 0 1px 3px rgba(0,0,0,0.35); }

/*-- body --*/
#body { position: relative; width: 100%; }

/*-- main --*/
#main { position: relative; padding: 20px; }
#main:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


/*-- sidebar layout --*/
body.sidebar-layout #main { margin-left: 240px; }
body.sidebar-layout #sidebar { position: fixed; top: 44px; left: 0; width: 200px; border-right: 1px solid #ccc; padding: 20px; overflow: auto; }
body.sidebar-layout #sidebar .search { margin-bottom: 15px; }
body.sidebar-layout #sidebar .tree a { margin: 0 -20px 0 -9999px; padding-left: 9974px; padding-right: 25px; font-weight: normal; color: #666; text-shadow: 0 1px 0 #eee; }
body.sidebar-layout #sidebar .tree a.sel { text-shadow: 0 1px 0 #fff; background: -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#eee)); -webkit-box-shadow: inset 0 1px 0 #ccc, inset 0 -1px 0 #ccc; }


/*-- footer --*/
#footer { border-top: 1px dotted #ccc; padding: 10px; font-size: 11px; text-align: center; color: #999; }


/* ----------------------------------------
/*  Basic structures
/* ----------------------------------------*/

.clear { display: block; clear: both; height: 0; }

.sel { cursor: default; }

.var { display: inline-block; margin: 0 2px; border: 1px solid #808080; border-radius: 10px; padding: 0 7px 1px; line-height: 15px; }
.var:first-child { margin-left: 0; }

/* header */
.header { border-bottom: 1px solid #ccc; color: #666; text-shadow: 0 1px #fff; background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee)); }

.settings-btn { display: block; width: 16px; height: 16px; background: url(../images/settings-btn.png); cursor: pointer; }
.settings-btn.sel { background-position: 0 100%; }

/* panes */
.pane { border: 1px solid #ccc; border-radius: 3px; -webkit-box-shadow: 0 1px 1px #e5e5e5; overflow: hidden; }
.pane .head { position: relative; border-radius: 2px 2px 0 0; padding: 8px 10px; line-height: 24px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f3f3f3)); -webkit-box-shadow: inset 0 1px 0 #fff; }
.pane .head:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.pane .head .settings-btn { position: absolute; top: 50%; right: 20px; margin-top: -8px; }
.pane .body { position: relative; padding: 8px 10px; border-top: 1px solid #ccc; border-radius: 0 0 2px 2px; background: #fff; }
.pane.bodyless .head { border-radius: 2px; }
.pane.headless .body { border-top: none; border-radius: 2px; }

/* ----------------------------------------
/*  Toolbar
/* ----------------------------------------*/

.toolbar { margin-bottom: 20px; height: 24px; }
.toolbar .search { float: right; width: 227px; }
.toolbar .btn,
.toolbar .btn-group { float: left; margin-right: 10px; }

/* search */
.search { border: 1px solid #d6d6d6; border-radius: 11px; padding-right: 30px; -webkit-box-shadow: inset 0 1px 0 #eaeaea; }
.search input { display: block; padding: 3px 10px 3px 20px; border: none; width:100%; font-family: HelveticaNeue, sans-serif; font-size: 12px; color: #333; background: transparent url(../images/toolbar_icons/search.png) 5px 50% no-repeat; outline: none; -webkit-appearance: none; }

/* button neighbors */
.btn-label { float: left; margin-right: 5px; line-height: 24px; }
.btn-spacer { float: left; width: 20px; height: 1px; }

/* button groups */
.btn-group { height: 24px; }
.btn-group .btn { float: left; }
.btn-group .btn:not(:first-child):not(:last-child) { border-radius: 0; }
.btn-group .btn:not(:first-child) { margin-left: -1px !important; border-left-color: rgba(0,0,0,0.25); }
.btn-group .btn:not(:last-child) { margin-right: 0; border-right: none; }
.btn-group .btn:not(:last-child) .arrow { margin-right: 4px; }
.btn-group .btn:first-child { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.btn-group .btn:last-child { border-top-left-radius: 0; border-bottom-left-radius: 0; }

/* buttons */
.btn { display: inline-block; border-radius: 3px; padding: 0; height: 24px; line-height: 24px; color: #505050; text-shadow: 0 1px 0 #eee; text-align: center; white-space: nowrap; text-decoration: none !important; background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#d5d5d5)); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3), inset 0 2px 0 #fff; cursor: pointer; }
.btn:last-child { margin-right: 0; }
.btn:not(.disabled):hover { background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd)); }
.btn:not(.disabled):active,
.btn:not(.disabled).sel { background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b5b5b5), to(#d5d5d5)); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3), inset 0 2px 0 rgba(0,0,0,0.1); }
.btn:not(.disabled).sel { z-index: 9999; }
.btn.disabled { opacity: 0.5; cursor: default; }

/* button parts */
.btn span { display: block; float: left; height: 100%; }

.btn .label { margin: 0 8px; }
.btn.disabled .label { text-shadow: none; }
.btn .icon { margin: 0 4px; height: 24px; width: 24px; background: url(../images/sidebar_icons.png); opacity: 0.9; }
.btn .arrow { width: 16px; background: url(../images/menu-arrow.png) no-repeat 50% 50%; opacity: 0.75; }
.btn:active .arrow,
.btn.sel .arrow { opacity: 1; }
.btn span + .arrow { margin-left: -8px; }
.btn .icon + .label { margin-left: -4px; }

.btn ul.menu { display: none; }

/* dark button */
.btn.dark { color: #fff; text-shadow: 0 -1px 0 #000; background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3); }
.btn.dark:hover { background: -webkit-gradient(linear, 0 0, 0 100%, from(#777), to(#444)); }
.btn.dark:active,
.btn.dark.sel { background: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#444)); }

/* small button */
.btn.small { height: 17px; font-size: 11px; line-height: 17px; }
.btn.small .label { margin: 0 6px; }

/* big button */
.btn.big { height: 30px; border: none; font-size: 14px; line-height: 30px; }
.btn.big .label { margin: 0 12px; }

/* submit button */
.btn.submit,
.btn.big { color: #fff; text-shadow: 0 -1px 0 #000; background: -webkit-gradient(linear, 0 0, 0 100%, from(#33abf5), to(#2987c2)) !important; -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15) !important; }
.btn.submit .arrow,
.btn.big .arrow { background-image: url(../images/menu-arrow-white.png); }

/* input buttons */
input.btn { padding: 0 8px; border: none; }
input.btn.big { padding: 0 12px; }

/* switch */
.switch { border-radius: 3px; width: 51px; height: 24px; overflow: hidden; }
.switch .container { width: 90px; }
.switch.off .container { margin-left: -29px; }
.switch .label { float: left; width: 30px; font-size: 11px; text-align: center; text-transform: uppercase; color: #fff; text-shadow: 0 -1px 0 #000; -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25); }
.switch .label.on { border-radius: 3px 0 0 3px; padding-right: 10px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#11a041), to(#18c552)); }
.switch .label.off { border-radius: 0 3px 3px 0; padding-left: 10px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#a03911), to(#c54a1a)); }
.switch .btn { display: block; float: left; margin-left: -51px !important; padding: 0; width: 20px; height: 22px; -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); }

/* ----------------------------------------
/*  Tree
/* ----------------------------------------*/

.tree { }
.tree h6 { margin-bottom: 2px; font-weight: bold; line-height: 18px; color: #777; text-shadow: 0 1px 0 #fff; }
.tree > h6:not(:first-child) { margin-top: 10px; }
.tree ul { margin-left: 12px; }
.tree ul li { padding-left: 25px; }
.tree ul li > .toggle { margin: 7px 0 0 -37px; }
.tree ul li > a { display: block; margin-left: -25px; line-height: 24px; white-space: pre; overflow: hidden; text-overflow: ellipsis; text-transform: none; }
.tree ul li > a.etc { width: 24px; height: 24px; padding: 0; background: url(../images/sidebar_icons/etc.png) no-repeat 50% 50%; }
.tree ul li > a span.icon { margin-right: 2px; }
.tree ul li > a span.status { margin: 6px; }

.tree.collapsible ul li > h6,
.tree.collapsible ul li > ul { display: none; }
.tree.collapsible ul li.expanded > h6,
.tree.collapsible ul li.expanded > ul { display: block; }

/* toggle */
.toggle { display: block; float: left; margin: 3px 4px 0 0; width: 10px; height: 12px; background: url(../images/sidebar_icons/toggle.png) no-repeat 0 0; opacity: 0.5; }
.toggle.expanded { background-position: 0 -10px; }

/* icons */
span.icon { display: block; float: left; width: 24px; height: 24px; background: url(../images/sidebar_icons.png) no-repeat 50% 50%; }

/* status icons */
span.status { display: block; float: left; width: 12px; height: 12px; background: url(../images/sidebar_icons/status.png) no-repeat; }
span.status.on { background-position: 0 0; }
span.status.pending { background-position: 0 -12px; }
span.status.off { background-position: 0 -24px; }
span.status.disabled { background-position: 0 -36px; }

/* ----------------------------------------
/*  Tables
/* ----------------------------------------*/

table th { font-weight: bold; color: #666; text-align: left; vertical-align: top; }

/* zebra tables */
table.zebra { width: 100%; }
table.zebra > tbody > tr:nth-child(odd) > *,
table.zebra > tbody > tr.odd > * { /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#eee)); -webkit-box-shadow: inset 0 1px 0 #eee, inset 0 -1px 0 #eee;*/ background: #eee; }

/*table.zebra > tbody > tr:nth-child(odd) > *:first-child,
table.zebra > tbody > tr.odd > *:first-child { border-radius: 3px 0 0 3px; -webkit-box-shadow: inset 0 1px 0 #eee, inset 0 -1px 0 #eee, inset 1px 0 0 #eee; }
table.zebra > tbody > tr:nth-child(odd) > *:last-child,
table.zebra > tbody > tr.odd > *:last-child { border-radius: 0 3px 3px 0; -webkit-box-shadow: inset 0 1px 0 #eee, inset -1px 0 0 #eee, inset 0 -1px 0 #eee; }*/

table.zebra > tbody > tr.even > th,
table.zebra > tbody > tr.even > td { border-radius: 0 !important; background: transparent !important; -webkit-box-shadow: none !important; }

/* fields */
.fields > table > tbody > tr > th { width: 140px; vertical-align: middle; border-right: 1px solid #bbb; }

.fields > table > thead > tr > td,
.fields > table > tbody > tr > td { text-align: left; vertical-align: top;  }
.fields > table > thead > tr > th,
.fields > table > thead > tr > td { padding: 4px 20px; }

.fields > table > tbody > tr > th,
.fields > table > tbody > tr > td { padding: 18px 20px; }
.fields > table > tbody > tr > td > input[type=text] { -webkit-appearance: none; border: 0; padding: 0; width: 100%; background: none; }

/* input */
.input-wrapper { padding-right: 22px; }

.input-wrapper > input,
.input-wrapper > textarea,
.input { display: block; border: 1px solid #ccc; border-radius: 2px; padding: 8px 10px; font-size: 13px; color: #555; background: #fff; }

.input-wrapper > input,
.input-wrapper > textarea { width: 100%; }

.input-wrapper > input:focus,
.input-wrapper > textarea:focus,
.input:focus { outline: none; background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#fdfdfd)); -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1); }

/* data tables */
.data { margin-top: 20px; }
.data table thead th { padding: 0 20px 5px 0; }
.data table tbody td { padding: 2px 20px 2px 0; line-height: 24px; }

.data table thead th:first-child,
.data table tbody td:first-child { padding-left: 20px; }

/* matrix */
table.matrix { display: table; padding: 0; }
table.matrix > thead > tr > th { border-bottom: 1px solid #ccc; padding: 4px 10px 5px; font-size: 12px; color: #666; text-shadow: 0 1px 0 #fff; white-space: nowrap; background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fafafa)); }
table.matrix > thead > tr > th:not(:last-child) { border-right: 1px dotted #ccc; }
table.matrix > thead > tr > th:first-child { border-top-left-radius: 1px; }
table.matrix > thead > tr > th:last-child { border-top-right-radius: 1px; }

table.matrix > tbody > tr > td { border: solid #bbb; border-width: 0 1px 1px 0; padding: 10px 12px; background: #fff; }
table.matrix > tbody > tr > td.norows { text-align: center; color: #666; }

table.matrix > tbody > tr:last-child > td { border-bottom: none; }
table.matrix > tbody > tr:last-child > td:first-child { border-bottom-left-radius: 1px; }
table.matrix > tbody > tr:last-child > td:last-child { border-bottom-right-radius: 1px; border-right: none; }

table.matrix > tbody > tr:not(:first-child) > td { border-bottom: 1px solid #bfbfbf; }
table.matrix > tbody > tr > td:not(:last-child) { border-right: 1px dotted #bfbfbf; }

/* RTE */
.rte { padding: 0; }
.rte .toolbar { border-radius: 1px 1px 0 0; margin-bottom: 0; border-bottom: 1px solid #ccc; height: 30px; white-space: nowrap; color: #666; text-shadow: 0 1px 0 #fff; background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fafafa)); }
.rte .toolbar .btn { border: none; border-right: 1px solid #ccc; border-radius: 0; height: 30px; }
.rte .toolbar .btn:first-child { border-top-lef-radius: 1px; }
.rte .toolbar .btn .label { margin: 0 15px; line-height: 30px; }
.rte .toolbar .btn .arrow { margin: 0 5px 0 -15px; }
.rte .styles { position: absolute; top: 0; right: 0; width: 150px; }
.rte iframe { border-radius: 0 0 1px 1px; }

/* color picker */
.colorpicker { font-family: Menlo, monospace; }
.colorpicker .sample { display: inline-block; margin: 0 4px -1px 0; width: 12px; height: 12px; border-radius: 6px; }

/* ----------------------------------------
/*  Thumbs and filenames
/* ----------------------------------------*/

.thumb { display: inline-block; }
.thumb img { display: block; width: 75px; height: 75px; }
.filename { margin-top: 4px; max-height: 28px; padding-bottom: 2px; overflow: hidden; text-overflow: ellipsis; line-height: 14px; }
.filename span { display: inline-block; max-width: 96px; overflow: hidden; white-space: pre; text-overflow: ellipsis; }

/* ----------------------------------------
/*  HUD
/* ----------------------------------------*/

.hud { position: absolute; border-radius: 4px; background: rgba(25,25,25,0.9); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); }
.hud .tip { position: absolute; }
.hud .tip.top { top: -4px; width: 8px; height: 4px; background-image: url(../images/hud-tip-top.png); }
.hud .tip.right { right: -4px; width: 4px; height: 8px; background-image: url(../images/hud-tip-right.png); }
.hud .tip.bottom { bottom: -4px; width: 8px; height: 4px; background-image: url(../images/hud-tip-bottom.png); }
.hud .tip.left { left: -4px; width: 4px; height: 8px; background-image: url(../images/hud-tip-left.png); }

/* ----------------------------------------
/*  Menus
/* ----------------------------------------*/

ul.menu { position: absolute; z-index: 9999; padding: 5px 0; border-radius: 2px; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 1px 1px 2px rgba(0,0,0,0.15); }
ul.menu li { display: block; padding: 4px 10px; cursor: pointer; }
ul.menu li:not(.disabled):not(.sel):hover { color: #fff; background: -webkit-gradient(linear, 0 0, 0 100%, from(#33abf5), to(#2987c2)); }

ul.menu.select li { padding-left: 24px; }
ul.menu.select li.sel { color: #999; background: url(../images/checkmark.png) no-repeat 6px 50%; cursor: default; }
