/* ----------------------------------------
/*  Reset (thanks Eric!)
/* ----------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:separate;border-spacing:0;}
a{text-decoration:none;}
input,textarea{margin:0;font-family:sans-serif;font-size:100%;}
textarea{resize:none;}
select{margin:0;}

/* ----------------------------------------
/*  Basic elements
/* ----------------------------------------*/

body { font-family: HelveticaNeue, sans-serif; color: #333; font-size: 13px; line-height: 18px; background: #9da2a8 url(../images/bg.jpg); }

h1 { margin: 0 0 20px -2px; font-size: 36px; line-height: 40px; color: #2d3a46; }
h2 { font-size: 24px; line-height: 1.4; color: #415466; }
h3 { margin-bottom: 15px; font-family: HelveticaNeue-Light, sans-serif; font-weight: normal; font-size: 18px; line-height: 24px; color: #666; }
h4 { margin: 15px 0 10px; font-weight: bold; color: #000; }
h5 { margin: 15px 0 10px; font-weight: bold; color: #666; }
h6 { margin: 15px 0 0; font-weight: normal; color: #666; }

p { margin: 1em 0; }

ol { padding-left: 40px; list-style-type: decimal; }

em,
i { font-style: italic; }

strong,
i em { font-weight: bold; font-family: sans-serif; }

.sel { cursor: default !important; }

a { color: #2d98db; cursor: pointer; }
a:hover { text-decoration: underline; }
a.sel:hover { text-decoration: none; }

a.go { padding-right: 10px; background: url(../images/go.png) no-repeat 100% 50%; }

code { font-family: Menlo, fixed-width; font-size: 0.9em; }
.code { font-family: Menlo, monospace; font-size: 12px !important; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, .grid:first-child, .field:first-child { margin-top: 0 !important; }
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child, .pane:last-child, .grid:last-child, .field:last-child, .blocksselect ul li:last-child { margin-bottom: 0 !important; }

.left { float: left; }
.right { float: right; }

.no-outline { outline: none; }

/* ----------------------------------------
/*  Layout
/* ----------------------------------------*/

/*-- nav --*/
#nav { position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 40px; padding: 0 0; background: -webkit-linear-gradient(#404040, rgba(15,15,15,0.9)); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.65); }
#nav .left #site { float: left; margin: 0 10px; border-radius: 0; padding: 0 2px; height: 40px; line-height: 40px; color: #ccc; text-shadow: 0 1px 1px #000; background: none !important; -webkit-box-shadow: none; }
#nav .left #site .label { margin: 0 10px; }
#nav .left #site .arrow { background-image: url(../images/menu-arrow-white.png); }
#nav .left ul { float: left; }
#nav a { color: #fff; text-shadow: 0 1px 0 #000; }
#nav ul li { position: relative; float: left; }
#nav ul li a { display: block; position: relative; width: 40px; height: 40px; line-height: 40px; backrgound: no-repeat; background-position: 0 100%; opacity: 0.35; -webkit-transition: opacity 150ms linear; }
#nav ul li a:hover { opacity: 0.85; }
#nav ul li a.sel { opacity: 1 !important; }

#nav li#nav-search { position: relative; }
#nav li#nav-search #search { display: none; position: absolute; top: 0; left: 54px; width: 300px; height: 300px; background: #fff; }
#nav li#nav-search #search .search-wrapper { margin-left: -54px; }

#nav li#nav-dashboard a { background-image: url(../images/nav-icons/dashboard.png); }
#nav li#nav-content a { background-image: url(../images/nav-icons/content.png); }
#nav li#nav-assets a { background-image: url(../images/nav-icons/assets.png); }
#nav li#nav-users a { background-image: url(../images/nav-icons/users.png); }
#nav li#nav-settings a { background-image: url(../images/nav-icons/settings.png); }
#nav li#nav-userguide a { background-image: url(../images/nav-icons/userguide.png); }
#nav li#nav-setup a { margin-left: 10px; background-image: url(../images/nav-icons/setup.png); }

#nav li#nav-account a { margin-right: 10px; padding-right: 10px; width: auto; color: #ccc; text-decoration: none; opacity: 1; }
#nav li#nav-account a img { display: block; float: left; margin: 8px 7px 0 0; border-radius: 2px; width: 24px; height: 24px; -webkit-box-shadow: 0 1px 5px #000; }

/*-- body --*/
#body { position: absolute; top: 40px; width: 100%; }

/*-- main --*/
#main { position: relative; padding: 20px; }
#main:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#main > .toolbar { margin: -20px -20px 20px; }


/*-- sidebars --*/
body.sidebar-layout #main { margin-left: 220px; }
body.sidebar-layout #sidebar { position: fixed; top: 40px; left: 0; overflow: auto; }

.sidebar { width: 220px; background: #f5f5f5; -webkit-box-shadow: 1px 0 0 rgba(0,0,0,0.15); }
.sidebar > h5 { margin: 0; border-bottom: 1px solid #c5c5c5; padding: 11px 20px 10px; line-height: 18px; text-shadow: 0 1px 0 #fff; background: -webkit-linear-gradient(#e5e5e5, #d5d5d5); }
.sidebar > h5:not(:first-child) { border-top: 1px solid #d5d5d5; padding-top: 10px; }
.sidebar .nav { padding: 8px 20px; }


/* ----------------------------------------
/*  Basic stuff
/* ----------------------------------------*/

.clear { display: block; clear: both; height: 0; }

.badge { display: block; margin: 5px -24px 0 0; border: 1px solid #2d98db; border-radius: 7px; padding: 0 4px; min-width: 6px; height: 12px; font-size: 10px; line-height: 12px; text-align: center; color: #2d98db; text-transform: uppercase; }
.badge.alert { border-color: #e14545; color: #e14545; }
.sel .badge { border-color: #fff; color: #fff; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 1px rgba(0,0,0,0.5); }

.var { display: inline-block; margin: 0 2px; border: 1px solid #808080; border-radius: 10px; padding: 0 7px 1px; line-height: 15px; }
.var:first-child { margin-left: 0; }

.settings-btn { display: block; width: 16px; height: 16px; background: url(../images/settings-btn.png); cursor: pointer; }
.settings-btn.sel { background-position: 0 100%; }

/* panes */
.pane { margin-bottom: 20px; border-radius: 3px; overflow: hidden; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 2px 8px rgba(0,0,0,0.25); }

/* pane head */
.pane .head,
table.pane > thead > tr > * { position: relative; border-bottom: 1px solid #b5b5b5; padding: 11px 20px 10px; background: -webkit-linear-gradient(#e5e5e5, #d5d5d5); }
.pane .head { border-top-left-radius: 3px; border-top-right-radius: 3px; }
table.pane > thead > tr:first-child > *:first-child { border-top-left-radius: 3px; }
table.pane > thead > tr:first-child > *:last-child { border-top-right-radius: 3px; }
.pane .head:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.pane .head h5,
table.pane > thead { margin: 0; line-height: 18px; text-shadow: 0 1px 0 #fff; }
.pane .head .buttons { margin: -3px 0; height: 24px; }
.pane .head .settings-btn { position: absolute; top: 50%; right: 10px; margin-top: -8px; }

/* pane body items */
.pane .body .item,
.pane table.body > tbody > tr > *,
table.pane > tbody > tr > * { position: relative; padding: 12px 20px; background: #fff; background: -webkit-linear-gradient(#fff, #fcfcfc) repeat-x 0 100%; }
.pane .body .item:last-child { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
table.pane > tbody > tr:last-child > *:first-child,
.pane table.body > tbody > tr:last-child > *:first-child { border-bottom-left-radius: 3px; }
table.pane > tbody > tr:last-child > *:last-child,
.pane table.body > tbody > tr:last-child > *:last-child { border-bottom-right-radius: 3px; }
.pane .body .no-items { color: #999; text-align: center; }
.pane .body a.item { display: block; }
.pane .body .item:not(:first-child),
.pane table.body > tbody > tr:not(:first-child) > *,
table.pane > tbody > tr:not(:first-child) > * { border-top: 1px dotted #eaeaea; }

.pane .body .item a:not(.btn) .icon { margin: -3px 0; background-image: url(../images/sidebar_icons_hover.png); }

/* table-only styles */
table.pane,
.pane table.body { width: 100%; }
table.pane > thead > tr > *:not(:first-child) { border-left: 1px dotted rgba(0,0,0,0.15); }
table.pane > tbody > tr > *:not(:first-child) { border-left: 1px dotted #eaeaea; }
.pane table.body > * > tr > *:not(:first-child) { padding-left: 0; }

.pane + .btn-group { display: block; margin-top: -12px; margin-bottom: 20px; }

/* grids */
.grid { margin-left: -20px; }
.grid:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.grid .col { float: left; }
.grid .col .col-inner { margin-left: 20px; }

.grid-2col .col { width: 50%; }
.grid-3col .col { width: 33.33%; }
.grid-3col .col:last-child { width: 33.34%; }
.grid-4col .col { width: 25%; }
.grid-5col .col { width: 20%; }
.grid-6col .col { width: 16.67%; }
.grid-6col .col:last-child { width: 16.65%; }

/* ----------------------------------------
/*  Toolbar / buttons
/* ----------------------------------------*/

.toolbar,
.pane table.body > thead > tr > th { padding: 8px 20px 7px; border-bottom: 1px solid rgba(0,0,0,0.15); height: 24px; background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.075)); -webkit-background-clip: padding-box; }
.toolbar .center { height: 0; text-align: center; }
.toolbar .center > div { float: none !important; display: inline-block; }
.toolbar .search { float: right; width: 227px; }
.toolbar .btn,
.toolbar .btn-group,
.buttons .btn,
.buttons .btn-group { display: block; float: left; margin-right: 10px; }
.toolbar .btn:last-child,
.toolbar .btn-group:last-child,
.toolbar .btn-group .btn,
.buttons .btn:last-child,
.buttons .btn-group:last-child,
.buttons .btn-group .btn { margin-right: 0; }
.toolbar .btn { text-shadow: 0 1px rgba(255,255,255,0.25); background: -webkit-linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.15)); -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.25); }
.toolbar .btn:not(.disabled):hover { background: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.3)); }
.toolbar .btn:not(.disabled):active,
.toolbar .btn:not(.disabled).sel { background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.15)); }
.toolbar div.status { border-radius: 2px; border: 1px solid rgba(0,0,0,0.2); padding: 0 8px; line-height: 22px; white-space: nowrap; color: rgba(0,0,0,0.65); text-shadow: 0 1px 0 rgba(255,255,255,0.35); background: rgba(0,0,0,0.05); -webkit-box-shadow: 0 1px 0  rgba(255,255,255,0.25); }
.toolbar div.status span.status { margin: 5px 4px 0 0; }

/* search */
.search { border: 1px solid #d6d6d6; border-radius: 11px; padding-right: 30px; -webkit-box-shadow: inset 0 1px 0 #eaeaea; }
.search input { display: block; padding: 3px 10px 3px 20px; border: none; width:100%; font-family: HelveticaNeue, sans-serif; font-size: 12px; color: #333; background: transparent url(../images/toolbar_icons/search.png) 5px 50% no-repeat; outline: none; -webkit-appearance: none; }

/* buttons */
.btn { display: inline-block; border-radius: 3px; height: 24px; line-height: 24px; color: #505050; text-shadow: 0 1px 0 #eee; text-align: center; white-space: nowrap; background: -webkit-linear-gradient(#f5f5f5, #d5d5d5); -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.25), inset 0 1px 0 #fff; cursor: pointer; }
.btn:hover { text-decoration: none; }
.btn:not(.disabled):hover { background-image: -webkit-linear-gradient(#fff, #ddd); }
.btn:not(.disabled):active,
.btn:not(.disabled).sel { background-image: -webkit-linear-gradient(#aaa, #ccc); -webkit-box-shadow: 0 0 0 1px #808080, inset 0 1px 1px 1px rgba(0,0,0,0.05); }
.btn.sel { z-index: 9999; }
.btn.disabled { opacity: 0.5; cursor: default; }

/* button parts */
.btn span { display: block; float: left; height: 100%; }

.btn .label { margin: 0 8px; }
.btn.disabled .label { text-shadow: none; }
.btn .icon { margin: 0 4px; height: 24px; width: 24px; background: url(../images/sidebar_icons.png); opacity: 0.9; }
.btn .arrow { width: 16px; background: url(../images/menu-arrow.png) no-repeat 50% 50%; opacity: 0.75; }
.btn:not(.disabled):active .arrow,
.btn:not(.disabled).sel .arrow { opacity: 1; }
.btn span + .arrow { margin-left: -8px; }
.btn .icon + .label { margin-left: -4px; }

.btn ul.menu { display: none; }

/* dark button */
.btn.dark { color: #fff; text-shadow: 0 -1px 0 #000; background: -webkit-linear-gradient(#999, #666); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3); }
.btn.dark:not(.disabled):hover { background: -webkit-linear-gradient(#777, #444); }
.btn.dark:not(.disabled):active,
.btn.dark:not(.disabled).sel { background: -webkit-linear-gradient(#000, #444); }

/* small button */
.btn.small { height: 17px; font-size: 11px; line-height: 17px; }
.btn.small .label { margin: 0 6px; }

.btn.big,
.btn.submit { -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25) !important; }
.btn.big.submit { -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.5) !important; }

/* big button */
.btn.big { height: 32px; border: none; font-size: 14px; line-height: 32px; }
.btn.big .label { margin: 0 12px; }

/* submit button */
.btn.submit { color: #fff; text-shadow: 0 1px 2px rgba(0,0,0,0.5); background: -webkit-linear-gradient(#33abf5, #2987c2); }
.btn.submit:not(.disabled):hover { background: -webkit-linear-gradient(#5ac5ff, #4da0de); }
.btn.submit:not(.disabled):active,
.btn.submit:not(.disabled).sel { text-shadow: 0 -1px 2px rgba(0,0,0,0.5); background: -webkit-linear-gradient(#077ab4, #2886c2); }

.btn.submit .arrow { background-image: url(../images/menu-arrow-white.png); }

/* input buttons */
input.btn { padding: 0 8px !important; border: none; }
input.btn.big { padding: 0 12px !important; }
input.btn.big.submit { padding-right: 32px !important; background: url(../images/submit.png) no-repeat 100% 50%, -webkit-linear-gradient(#33abf5, #2987c2); }
input.btn.big.submit:not(.disabled):hover { background: url(../images/submit.png) no-repeat 100% 50%, -webkit-linear-gradient(#47b8ff, #3c93cf); }
input.btn.big.submit:not(.disabled):active { background: url(../images/submit.png) no-repeat 100% 50%, -webkit-linear-gradient(#077ab4, #2886c2); }

/* button groups */
.btn-group { display: inline-block; height: 24px; }
.btn-group .btn { float: left; }
.btn-group .btn:not(:first-child) { border-left-color: rgba(0,0,0,0.25); border-top-left-radius: 0; border-bottom-left-radius: 0; }
.btn-group .btn:not(:last-child) { border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0; }
.btn-group .btn:not(:last-child) .arrow { margin-right: 4px; }

/* switch */
.switch { border-radius: 3px; width: 56px; height: 24px; overflow: hidden; -webkit-user-select: none; cursor: pointer; }
.switch .container { margin-left: -32px; width: 90px; }
.switch.on .container { margin-left: 0; }
.switch .label { float: left; width: 31px; height: 24px; font-size: 11px; line-height: 24px; text-align: center; text-transform: uppercase; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25); }
.switch .label.on { border-radius: 3px 0 0 3px; padding: 0 12px 0 1px; background: -webkit-linear-gradient(#11a041, #18c552); }
.switch .label.off { border-radius: 0 3px 3px 0; padding: 0 1px 0 12px;; background: -webkit-linear-gradient(#a03911, #c54a1a); }
.switch .btn { display: block; float: left; margin: 1px 0 1px -55px !important; border-radius: 2px; padding: 0; width: 22px; height: 22px; -webkit-box-shadow: 0 0 0 1px #808080; }

/* ----------------------------------------
/*  Nav
/* ----------------------------------------*/

.nav li a { display: block; padding: 3px 10px 3px 0; white-space: pre; overflow: hidden; text-overflow: ellipsis; text-transform: none; }
.nav li a.etc { width: 24px; height: 24px; padding: 0; background: url(../images/etc.png) no-repeat 50% 50%; }
.nav li a .icon { margin: -3px 0 -3px -4px; }

.nav li a.has-badge { padding-right: 35px; }
.nav li a.has-badge .badge { float: right; margin: 2px -25px 0 0; }
.nav li a.has-status { padding-right: 25px; }
.nav li a.has-status .status { float: right; margin: 4px -15px 0 0; }

ul.tree,
.tree ul { margin-left: 20px; }
.tree li .toggle { margin: 7px 0 0 -15px; }

.sidebar .nav li a { margin: 0 -20px 0 -9999px; padding-left: 9999px; font-weight: normal; color: #666; }
.sidebar .nav li a.sel { color: #fff; text-shadow: 0 1px 2px rgba(0,0,0,0.5); background: -webkit-linear-gradient(#2d98db, #2782bb); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15); }
.sidebar .nav li a.sel .icon { background-image: url(../images/sidebar_icons_sel.png); }
.sidebar .nav li a:not(.sel):not(.disabled):hover { color: #2d98db; text-decoration: none; }
.sidebar .nav li a:not(.sel):not(.disabled):hover .icon { background-image: url(../images/sidebar_icons_hover.png); }

/* toggle */
.toggle { display: block; float: left; margin: 3px 4px 0 0; width: 10px; height: 12px; background: url(../images/toggle.png) no-repeat 0 0; opacity: 0.5; }
.toggle.expanded { background-position: 0 -10px; }

/* icons */
span.icon { display: block; float: left; width: 24px; height: 24px; background: url(../images/sidebar_icons.png) no-repeat 50% 50%; }

/* status icons */
span.status { display: block; float: left; width: 10px; height: 10px; background: url(../images/status.png) no-repeat 0 -30px; }
span.status.on { background-position: 0 0; }
span.status.pending { background-position: 0 -10px; }
span.status.off { background-position: 0 -20px; }

/* ----------------------------------------
/*  Tables
/* ----------------------------------------*/

table th { font-weight: bold; font-family: sans-serif; color: #666; text-align: left; vertical-align: top; }

/* matrix */
table.matrix { display: table; padding: 0; }
table.matrix > thead > tr > th { border-bottom: 1px solid #ccc; padding: 4px 10px 5px; font-size: 12px; color: #666; white-space: nowrap; background: -webkit-linear-gradient(#fff, #fafafa); }
table.matrix > thead > tr > th:not(:last-child) { border-right: 1px dotted #ccc; }
table.matrix > thead > tr > th:first-child { border-top-left-radius: 1px; }
table.matrix > thead > tr > th:last-child { border-top-right-radius: 1px; }

table.matrix > tbody > tr > td { border: solid #bbb; border-width: 0 1px 1px 0; padding: 10px 12px; background: #fff; }
table.matrix > tbody > tr > td.norows { text-align: center; color: #666; }

table.matrix > tbody > tr:last-child > td { border-bottom: none; }
table.matrix > tbody > tr:last-child > td:first-child { border-bottom-left-radius: 1px; }
table.matrix > tbody > tr:last-child > td:last-child { border-bottom-right-radius: 1px; border-right: none; }

table.matrix > tbody > tr:not(:first-child) > td { border-bottom: 1px solid #bfbfbf; }
table.matrix > tbody > tr > td:not(:last-child) { border-right: 1px dotted #bfbfbf; }

/* ----------------------------------------
/*  Fields
/* ----------------------------------------*/

.field { padding-top: 16px !important; padding-bottom: 20px !important; position: relative; }
.field + .field:not(.item),
.grid + .field,
.field + .grid .field:first-child,
.grid + .grid .field:first-child { padding-top: 0 !important; }
.field label { display: inline-block; margin-bottom: 5px; font-weight: bold; font-family: sans-serif; color: #666; }
.field label.required { padding-right: 12px; background: url(../images/field-required.png) no-repeat 100% 50%; }
.field p { margin: -3px 0 8px; color: #808080; }

/* inputs */
.input-wrapper { padding-right: 18px; }

.input-wrapper > input,
.input-wrapper > textarea,
.input { display: block; border: 1px solid #ccc; border-radius: 2px; padding: 8px; font-size: 13px; color: #555; background: #fff; -webkit-box-shadow: inset 0 1px 0 #eee; }
.input-wrapper > input.error,
.input-wrapper > textarea.error,
.input.error { border-color: #8a1f11; }

.input-wrapper > input,
.input-wrapper > textarea { width: 100%; }

.input-wrapper > input:focus,
.input-wrapper > textarea:focus,
.input:focus { outline: none; background: -webkit-linear-gradient(#fafafa, #fdfdfd); -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1); }

ul.errors { margin-top: 4px; list-style-type: square; padding-left: 20px; color: #8a1f11; }

/* RTE */
.rte { padding: 0; }
.rte .toolbar { border-radius: 1px 1px 0 0; margin-bottom: 0; border-bottom: 1px solid #ccc; height: 30px; white-space: nowrap; color: #666; background: -webkit-linear-gradient(#fff, #fafafa); }
.rte .toolbar .btn { border: none; border-right: 1px solid #ccc; border-radius: 0; height: 30px; }
.rte .toolbar .btn:first-child { border-top-lef-radius: 1px; }
.rte .toolbar .btn .label { margin: 0 15px; line-height: 30px; }
.rte .toolbar .btn .arrow { margin: 0 5px 0 -15px; }
.rte .styles { position: absolute; top: 0; right: 0; width: 150px; }
.rte iframe { border-radius: 0 0 1px 1px; }

/* color picker */
.colorpicker { font-family: Menlo, monospace; }
.colorpicker .sample { display: inline-block; margin: 0 4px -1px 0; width: 12px; height: 12px; border-radius: 6px; }

/* blocks select */
.blocksselect .input { padding: 0 4px; }
.blocksselect .input ul li { min-height: 18px; padding: 4px 0; }
.blocksselect .input ul li:not(:first-child) { border-top: 1px dotted #ddd; }
.blocksselect .input ul li .icon { margin: -3px 0; }
.blocksselect .input ul li .block-name { font-weight: bold; font-family: sans-serif; }
.blocksselect .input ul li .block-type { margin-left: 1px; font-size: 11px; line-height: 15px; color: #999; }
.blocksselect > .btn { margin-top: 8px; }

/* ----------------------------------------
/*  Thumbs and filenames
/* ----------------------------------------*/

.thumb img { display: block; margin: 0 auto; width: 60px; height: 60px; }
.filename { margin-top: 5px; height: 14px; line-height: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* ----------------------------------------
/*  HUD
/* ----------------------------------------*/

.hud { position: absolute; border-radius: 4px; background: rgba(25,25,25,0.9); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); }
.hud .tip { position: absolute; }
.hud .tip.top { top: -4px; width: 8px; height: 4px; background-image: url(../images/hud-tip-top.png); }
.hud .tip.right { right: -4px; width: 4px; height: 8px; background-image: url(../images/hud-tip-right.png); }
.hud .tip.bottom { bottom: -4px; width: 8px; height: 4px; background-image: url(../images/hud-tip-bottom.png); }
.hud .tip.left { left: -4px; width: 4px; height: 8px; background-image: url(../images/hud-tip-left.png); }

/* ----------------------------------------
/*  Menus
/* ----------------------------------------*/

ul.menu { position: absolute; z-index: 9999; padding: 5px 0; border-radius: 2px; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 1px 1px 2px rgba(0,0,0,0.15); }
ul.menu li { display: block; padding: 4px 10px; cursor: pointer; }
ul.menu li:not(.disabled):not(.sel):hover { color: #fff; background: -webkit-linear-gradient(#33abf5, #2987c2); }

ul.menu.select li { padding-left: 24px; }
ul.menu.select li.sel { color: #999; background: url(../images/checkmark.png) no-repeat 6px 50%; cursor: default; }

/* ----------------------------------------
/*  Messages
/* ----------------------------------------*/
div.message-error, div.message-notice, div.message-success { padding: .8em; margin-top: 40px; margin-bottom: 1em; border: 2px solid #ddd; }
div.message-error { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
div.message-notice { background: #FFF6BF; color: #514721; border-color: #FFD324; }
div.message-success { background: #E6EFC2; color: #264409; border-color: #C6D880; }
div.message-error a { color:#8a1f11; }
div.message-notice a { color:#514721; }
div.message-success a { color:#264409; }
