/* ----------------------------------------
/*  Basic elements
/* ----------------------------------------*/

body { font-family: HelveticaNeue, sans-serif; color: #333; font-size: 13px; line-height: 1.4; background: #f5f5f5; }

h1 { margin: 0 0 20px -2px; font-size: 36px; line-height: 40px; color: #2d3a46; }
h2 { font-size: 24px; line-height: 1.4; color: #415466; }
h3 { margin-bottom: 15px; font-family: HelveticaNeue-Light, sans-serif; font-size: 18px; line-height: 24px; color: #666; text-shadow: 0 1px 0 #fff; }
h4 { margin: 15px 0 10px; font-weight: bold; color: #000; }

p { margin-bottom: 1em; max-width: 50em; }

em,
i { font-style: italic; }
i em { font-weight: bold; }

a { color: #2d98db; cursor: pointer; }
a:hover { text-decoration: underline; }

.clear { clear: both; }

.sel { cursor: default; }

.var { display: inline-block; margin: 0 2px; border: 1px solid #808080; border-radius: 10px; padding: 0 7px 1px; line-height: 15px; }
.var:first-child { margin-left: 0; }

/* header */
.header { border-bottom: 1px solid #ccc; color: #666; text-shadow: 0 1px #fff; background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee)); }

/* ----------------------------------------
/*  Toolbar
/* ----------------------------------------*/

.toolbar { margin-bottom: 20px; height: 24px; }
.toolbar .search { float: right; width: 227px; }
.toolbar .btn,
.toolbar .btn-group { float: left; margin-right: 10px; }

/* search */
.search { border: 1px solid #d6d6d6; border-radius: 11px; padding-right: 30px; -webkit-box-shadow: inset 0 1px 0 #eaeaea; }
.search input { display: block; padding: 3px 10px 3px 20px; border: none; width:100%; font-family: HelveticaNeue, sans-serif; font-size: 12px; color: #333; background: transparent url(../images/toolbar_icons/search.png) 5px 50% no-repeat; outline: none; -webkit-appearance: none; }

/* button neighbors */
.btn-label { float: left; margin-right: 5px; line-height: 24px; }
.btn-spacer { float: left; width: 20px; height: 1px; }

/* button groups */
.btn-group { height: 24px; }
.btn-group .btn { float: left; }
.btn-group .btn:not(:first-child):not(:last-child) { border-radius: 0; }
.btn-group .btn:not(:first-child) { margin-left: -1px !important; border-left-color: rgba(0,0,0,0.25); }
.btn-group .btn:not(:last-child) { margin-right: 0; border-right: none; }
.btn-group .btn:not(:last-child) .arrow { margin-right: 4px; }
.btn-group .btn:first-child { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.btn-group .btn:last-child { border-top-left-radius: 0; border-bottom-left-radius: 0; }

/* buttons */
.btn { display: inline-block; border: 1px solid rgba(0,0,0,0.25); border-radius: 3px; padding: 0; height: 22px; text-shadow: 0 1px 0 rgba(255,255,255,0.5); /*background: #fff -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fafafa));*/ cursor: pointer; }
.btn:last-child { margin-right: 0; }
.btn:not(.disabled):hover { background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.02)), to(rgba(0,0,0,0.04))); }
.btn:not(.disabled):active,
.btn:not(.disabled).sel { background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.06))); }
.btn:not(.disabled).sel { z-index: 9999; }
.btn.disabled { opacity: 0.5; cursor: default; }

/* button parts */
.btn span { display: block; float: left; height: 22px; }

.btn .label { margin: 0 8px; line-height: 22px; color: #333; text-align: center; white-space: nowrap; }
.btn.disabled .label { text-shadow: none; }
.btn .icon { margin: -1px 4px; height: 24px; width: 24px; background: url(../images/sidebar_icons.png); opacity: 0.9; }
.btn .arrow { width: 16px; background: url(../images/menu-arrow.png) no-repeat 50% 50%; opacity: 0.5; }
.btn:active .arrow,
.btn.sel .arrow { opacity: 1; }
.btn span + .arrow { margin-left: -8px; }
.btn .icon + .label { margin-left: -4px; }

.btn ul.menu { display: none; }

/* dark button */
.btn.dark { background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1); }
.btn.dark:hover { background: -webkit-gradient(linear, 0 0, 0 100%, from(#777), to(#444)); }
.btn.dark:active,
.btn.dark.sel { background: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#444)); }
.btn.dark .label { color: #fff; text-shadow: 0 -1px 0 #000; }

/* small button */
.btn.small { height: 17px; }
.btn.small .label { margin: 0 6px; font-size: 11px; line-height: 17px; }

/* big button */
.btn.big { height: 30px; }
.btn.big .label { margin: 0 12px; font-size: 14px; line-height: 30px; }
.btn.big:hover { text-decoration: none; }

/* switch */
.switch { border-radius: 3px; width: 51px; height: 24px; overflow: hidden; }
.switch .container { width: 90px; }
.switch.off .container { margin-left: -29px; }
.switch .label { float: left; width: 30px; font-size: 11px; line-height: 24px; text-align: center; text-transform: uppercase; color: #fff; text-shadow: 0 -1px 0 #000; -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25); }
.switch .label.on { border-radius: 3px 0 0 3px; padding-right: 10px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#11a041), to(#18c552)); }
.switch .label.off { border-radius: 0 3px 3px 0; padding-left: 10px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#a03911), to(#c54a1a)); }
.switch .btn { display: block; float: left; margin-left: -51px !important; padding: 0; width: 20px; height: 22px; -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); }

/* ----------------------------------------
/*  Tree
/* ----------------------------------------*/

.tree { }
.tree h6 { margin-bottom: 2px; font-weight: bold; line-height: 18px; color: #777; text-shadow: 0 1px 0 #fff; }
.tree > h6:not(:first-child) { margin-top: 10px; }
.tree ul { margin-left: 12px; }
.tree ul li { padding-left: 25px; }
.tree ul li > .toggle { margin: 7px 0 0 -37px; }
.tree ul li > a { display: block; margin-left: -25px; line-height: 24px; white-space: pre; overflow: hidden; text-overflow: ellipsis; text-transform: none; }
.tree ul li > a.etc { width: 24px; height: 24px; padding: 0; background: url(../images/sidebar_icons/etc.png) no-repeat 50% 50%; }
.tree ul li > a span.icon { display: block; float: left; width: 24px; height: 24px; background: url(../images/sidebar_icons.png) no-repeat 50% 50%; }

.tree a span.status { margin: 6px; }

.tree.collapsible ul li > h6,
.tree.collapsible ul li > ul { display: none; }
.tree.collapsible ul li.expanded > h6,
.tree.collapsible ul li.expanded > ul { display: block; }

/* toggle */
.toggle { display: block; float: left; margin: 0 2px 0 -12px; width: 10px; height: 12px; background: url(../images/sidebar_icons/toggle.png) no-repeat 0 0; opacity: 0.5; }
.toggle.expanded { background-position: 0 -10px; }

/* status icons */
span.status { display: block; float: left; width: 12px; height: 12px; background: url(../images/sidebar_icons/status.png) no-repeat; }
span.status.live { background-position: 0 0; }
span.status.limbo { background-position: 0 -12px; }
span.status.offline { background-position: 0 -24px; }
span.status.draft { background-position: 0 -36px; }

/* ----------------------------------------
/*  Tables
/* ----------------------------------------*/

table th { font-weight: bold; color: #666; text-align: left; vertical-align: top; }

/* zebra tables */
table.zebra { width: 100%; }
table.zebra > tbody > tr:nth-child(odd) > *,
table.zebra > tbody > tr.odd > * { /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#eee)); -webkit-box-shadow: inset 0 1px 0 #eee, inset 0 -1px 0 #eee;*/ background: #eee; }

/*table.zebra > tbody > tr:nth-child(odd) > *:first-child,
table.zebra > tbody > tr.odd > *:first-child { border-radius: 3px 0 0 3px; -webkit-box-shadow: inset 0 1px 0 #eee, inset 0 -1px 0 #eee, inset 1px 0 0 #eee; }
table.zebra > tbody > tr:nth-child(odd) > *:last-child,
table.zebra > tbody > tr.odd > *:last-child { border-radius: 0 3px 3px 0; -webkit-box-shadow: inset 0 1px 0 #eee, inset -1px 0 0 #eee, inset 0 -1px 0 #eee; }*/

table.zebra > tbody > tr.even > th,
table.zebra > tbody > tr.even > td { border-radius: 0 !important; background: transparent !important; -webkit-box-shadow: none !important; }

/* fields */
.fields > table > tbody > tr > th { width: 140px; vertical-align: middle; border-right: 1px solid #bbb; }

.fields > table > thead > tr > td,
.fields > table > tbody > tr > td { text-align: left; vertical-align: top;  }
.fields > table > thead > tr > th,
.fields > table > thead > tr > td { padding: 4px 20px; }

.fields > table > tbody > tr > th,
.fields > table > tbody > tr > td { padding: 18px 20px; }
.fields > table > tbody > tr > td > input[type=text] { -webkit-appearance: none; border: 0; padding: 0; width: 100%; background: none; }

/* input */
.input-wrapper { padding-right: 22px; }

.input-wrapper > input,
.input-wrapper > textarea,
.input { display: block; border: 1px solid #ccc; border-radius: 2px; width: 100%; padding: 8px 10px; font-size: 13px; background: #fff; }

.input-wrapper > input:focus,
.input-wrapper > textarea:focus,
.input:focus { outline: none; background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#fdfdfd)); -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1); }

/* data tables */
.data { margin-top: 20px; }
.data table thead th { padding: 0 20px 5px 0; }
.data table tbody td { padding: 2px 20px 2px 0; line-height: 24px; }

.data table thead th:first-child,
.data table tbody td:first-child { padding-left: 20px; }

/* matrix */
table.matrix { display: table; padding: 0; }
table.matrix > thead > tr > th { border-bottom: 1px solid #ccc; padding: 4px 10px 5px; font-size: 12px; color: #666; text-shadow: 0 1px 0 #fff; white-space: nowrap; background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fafafa)); }
table.matrix > thead > tr > th:not(:last-child) { border-right: 1px dotted #ccc; }
table.matrix > thead > tr > th:first-child { border-top-left-radius: 1px; }
table.matrix > thead > tr > th:last-child { border-top-right-radius: 1px; }

table.matrix > tbody > tr > td { border: solid #bbb; border-width: 0 1px 1px 0; padding: 10px 12px; background: #fff; }
table.matrix > tbody > tr > td.norows { text-align: center; color: #666; }

table.matrix > tbody > tr:last-child > td { border-bottom: none; }
table.matrix > tbody > tr:last-child > td:first-child { border-bottom-left-radius: 1px; }
table.matrix > tbody > tr:last-child > td:last-child { border-bottom-right-radius: 1px; border-right: none; }

table.matrix > tbody > tr:not(:first-child) > td { border-bottom: 1px solid #bfbfbf; }
table.matrix > tbody > tr > td:not(:last-child) { border-right: 1px dotted #bfbfbf; }

/* RTE */
.rte { padding: 0; }
.rte .toolbar { border-radius: 1px 1px 0 0; margin-bottom: 0; border-bottom: 1px solid #ccc; padding: 4px 10px 5px; white-space: nowrap; color: #666; text-shadow: 0 1px 0 #fff; background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fafafa)); }
.rte .styles { position: absolute; top: 0; right: 0; width: 150px; }
.rte iframe { border-radius: 0 0 1px 1px; }

/* color picker */
.colorpicker { font-family: Menlo, monospace; }
.colorpicker .sample { display: inline-block; margin: 0 4px -1px 0; width: 12px; height: 12px; border-radius: 6px; }

/* ----------------------------------------
/*  HUD
/* ----------------------------------------*/

.hud { position: absolute; border-radius: 4px; background: rgba(25,25,25,0.9); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); }
.hud .tip { position: absolute; }
.hud .tip.top { top: -4px; width: 8px; height: 4px; background-image: url(../images/hud-tip-top.png); }
.hud .tip.right { right: -4px; width: 4px; height: 8px; background-image: url(../images/hud-tip-right.png); }
.hud .tip.bottom { bottom: -4px; width: 8px; height: 4px; background-image: url(../images/hud-tip-bottom.png); }
.hud .tip.left { left: -4px; width: 4px; height: 8px; background-image: url(../images/hud-tip-left.png); }

/* ----------------------------------------
/*  Menus
/* ----------------------------------------*/

ul.menu { position: absolute; z-index: 9999; padding: 5px 0; border-radius: 2px; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 1px 1px 2px rgba(0,0,0,0.15); }
ul.menu li { display: block; padding: 4px 10px; cursor: pointer; }
ul.menu li:not(.disabled):not(.sel):hover { color: #fff; background: -webkit-gradient(linear, 0 0, 0 100%, from(#33abf5), to(#2987c2)); }

ul.menu.select li { padding-left: 24px; }
ul.menu.select li.sel { color: #999; background: url(../images/checkmark.png) no-repeat 6px 50%; cursor: default; }
