@import "shared";

.message { position: relative; @include linear-gradient(#fff, #fafafa); cursor: pointer; }
.message:hover { padding-right: 26px; }
.message:hover:after { position: absolute; top: 20px; right: 5px; @include icon; content: 'e'; color: $linkcolor; }

.message .subject,
.message .body { font-family: Courier, monospace; overflow: hidden; white-space: pre; text-overflow: ellipsis; }
.message .body { color: #999; }

.message-settings { width: 500px; }
.message-settings .language { position: absolute; top: 25px; right: 25px; }
