html,body { height: 100%; }

body { background: #333 -webkit-radial-gradient(#333, #111); }

#install { position: absolute; top: 50%; margin-top: -16px; width: 100%; text-align: center; }

#install-btn { display: inline-block; border-radius: 4px; height: 40px; line-height: 40px; font-size: 16px; -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.15), 0 2px 20px rgba(0,0,0,0.25); }
#install-btn:active { margin-top: 1px; -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), inset 0 1px 5px rgba(0,0,0,0.5), 0 0 0 1px rgba(0,0,0,0.15); }
