/*-- nav --*/
#nav { position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 44px; padding: 0 0; background: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#fcfcfc)); -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.25), 0 1px 4px rgba(0,0,0,0.1), inset 0 0 0 1px #fff; }
#nav ul { position: absolute; }
#nav ul.left { left: 5px; }
#nav ul.right { right: 5px; }
#nav ul li { position: relative; float: left; }
#nav ul li a { display: block; position: relative; padding: 10px; width: 24px; height: 24px; }
#nav ul li a span.icon { display: block; float: left; width: 24px; height: 24px; background: url(../images/nav-icons.png) no-repeat; opacity: 0.25; -webkit-transition: opacity 150ms linear; }
#nav ul li a:hover span.icon { opacity: 0.5; }
#nav ul li a.sel { background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fafafa)); -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.05), inset 0 -1px 0 rgba(0,0,0,0.05); }
#nav ul li a.sel span.icon { opacity: 1; }

#nav li#nav-search { position: relative; }
#nav li#nav-search #search { display: none; position: absolute; top: 0; left: 54px; width: 300px; height: 300px; background: #fff; }
#nav li#nav-search #search .search-wrapper { margin-left: -54px; background: ; }

#nav li#nav-account a img { display: block; border-radius: 2px; width: 24px; height: 24px; }
#nav li#nav-dashboard a .icon { background-position: -222px -1702px; }
#nav li#nav-content a .icon { background-position: 0 -1184px; }
#nav li#nav-assets a .icon { background-position: -444px -1036px; }
#nav li#nav-settings a .icon { background-position: -444px -1702px; }
#nav li#nav-guide a .icon { background-position: -370px -1628px; }

/*-- sidebars --*/
#sidebars { position: fixed; top: 44px; left: 0; padding-bottom: 40px; }
#sidebars .sidebar { width: 200px; padding: 20px; height: 100%; overflow: auto; -webkit-box-shadow: 1px 0 0 rgba(0,0,0,0.1); }
#sidebars .sidebar + .sidebar { padding-left: 0; }

#sidebars .sidebar .search { margin-bottom: 15px; }
#sidebars .sidebar .tree a { font-weight: normal; color: #666; text-shadow: 0 1px 0 #eee; }
#sidebars .sidebar .tree a.sel { margin: 0 -25px 0 -9999px; padding-left: 9999px; padding-right: 25px; border-radius: 2px; text-shadow: 0 1px 0 #fff; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.05)), to(transparent)); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), inset 0 2px 0 rgba(0,0,0,0.05), 0 1px 0 #fff; }


/*-- main --*/
#main { position: relative; top: 44px; padding: 20px; }

body.sidebar-layout #main { margin-left: 240px; }
body.two-sidebar-layout #main { margin-left: 480px; }
