/*-- nav --*/
#nav { position: fixed; top: 80px; left: 0; z-index: 9999; width: 48px; border-radius: 0 4px 4px 0; padding: 0 0; height: auto !important; background: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#fcfcfc)); -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.25), 0 1px 4px rgba(0,0,0,0.1), inset 0 0 0 1px #fff; }
#nav ul li { position: relative; }
#nav ul li a { display: block; position: relative; padding: 12px; width: 24px; height: 24px; }
#nav ul li a span.icon { display: block; float: left; width: 24px; height: 24px; background: url(../images/nav-icons.png) no-repeat; opacity: 0.25; -webkit-transition: opacity 150ms linear; }
#nav ul li a:hover span.icon { opacity: 0.5; }
#nav ul li a.sel { background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fafafa)); -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.05), inset 0 -1px 0 rgba(0,0,0,0.05); }
#nav ul li:first-child a.sel { border-top-right-radius: 4px; -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05); }
#nav ul li:last-child a.sel { border-bottom-right-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.05); }
#nav ul li a.sel span.icon { opacity: 1; }
#nav ul li a.sel span.arrow { display: block; position: absolute; right: -13px; top: 9px; opacity: 1; width: 13px; height: 27px; background: url(../images/nav-sel-arrow.png); }

#nav li#nav-search { position: relative; }
#nav li#nav-search #search { display: none; position: absolute; top: 0; left: 54px; width: 300px; height: 300px; background: #fff; }
#nav li#nav-search #search .search-wrapper { margin-left: -54px; background: ; }

#nav li#nav-account a img { display: block; border-radius: 2px; width: 24px; height: 24px; }
#nav li#nav-dashboard a .icon { background-position: -222px -1702px; }
#nav li#nav-content a .icon { background-position: 0 -1184px; }
#nav li#nav-assets a .icon { background-position: -444px -1036px; }
#nav li#nav-settings a .icon { background-position: -444px -1702px; }
#nav li#nav-guide a .icon { background-position: -370px -1628px; }


/*-- sidebars --*/
#sidebars { position: fixed; top: 0; left: 54px; padding-bottom: 40px; }
#sidebars .sidebar { width: 200px; padding: 20px 40px; height: 100%; overflow: auto; }
#sidebars .sidebar + .sidebar { padding-left: 0; }

#sidebars .sidebar .search { margin-bottom: 15px; }
#sidebars .sidebar .tree a { font-weight: normal; color: #666; text-shadow: 0 1px 0 #eee; }
#sidebars .sidebar .tree a.sel { margin-right: -5px; padding-right: 5px; border-radius: 2px; text-shadow: 0 1px 0 #fff; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.05)), to(transparent)); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), inset 0 2px 0 rgba(0,0,0,0.05), 0 1px 0 #fff; }


/*-- main --*/
#main { position: relative; margin: 40px 40px 40px 88px; }

body.sidebar-layout #main { margin-left: 334px; }
body.two-sidebar-layout #main { margin-left: 554px; }



/* ----------------------------------------
/*  Login
/* ----------------------------------------*/

body.login .fields { margin: 200px auto 0; width: 400px; }


/* ----------------------------------------
/*  Dashboard
/* ----------------------------------------*/

body.dashboard #main { background: none; margin-right: 0; }
body.dashboard #main .col { float: left; }
body.dashboard #main .col:not(:first-child) { margin-left: 40px; }

body.dashboard #main .widget { position: relative; margin-bottom: 40px; }

body.dashboard #main .widget .header { padding: 4px 10px 5px; }
body.dashboard #main .widget .header h2 {  }
body.dashboard #main .widget .body {  }

body.dashboard #main .widget .body table { width: 100%; }
body.dashboard #main .widget .body table.zebra tr td { padding: 5px 10px; vertical-align: middle; }
body.dashboard #main .widget .body table.zebra tr td:last-child { width: 0.01%; text-align: right; color: #999; white-space: nowrap; }
body.dashboard #main .widget .body table.zebra .toggle { margin: 5px 4px 0 -10px; }

/* updates */
body.dashboard #main .widget.updates .update-all { float: right; margin: -38px 10px 0 0; }
body.dashboard #main .widget.updates .body table tbody td:first-child { width: 99.99%; }
body.dashboard #main .widget.updates .body table tbody td a { font-weight: normal; }

/* content */
body.dashboard #main .widget.content .search { margin-bottom: 15px; }
body.dashboard #main .widget.content .body .tree a { color: #333; }

/* pageviews */
body.dashboard #main .widget.analytics-pageviews .body { margin: 0 -2px; }
body.dashboard #main .widget.analytics-pageviews .body table { border-spacing: 4px; }
body.dashboard #main .widget.analytics-pageviews .body tbody td { width: 14.29%; vertical-align: bottom; }
body.dashboard #main .widget.analytics-pageviews .body tbody td .wrapper { border-radius: 2px; -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25); }
body.dashboard #main .widget.analytics-pageviews .body tbody td .views { position: relative; text-align: center; font-size: 11px;  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), inset 0 2px 0 rgba(255,255,255,0.15), inset 0 0 10px rgba(0,0,0,0.15); }

body.dashboard #main .widget.analytics-pageviews .body tbody td .views.total { border-radius: 2px 2px 0 0; margin-bottom: -1px; padding-bottom: 1px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#eee)); color: #777; text-shadow: 0 1px 0 #fff; }
body.dashboard #main .widget.analytics-pageviews .body tbody td .views.unique { border-radius: 0 0 2px 2px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); background: -webkit-gradient(linear, 0 0, 0 100%, from(#18c552), to(#11a041)); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); }

body.dashboard #main .widget.analytics-pageviews .body tfoot th { text-align: center; font-weight: normal; }

/* referrers */
body.dashboard #main .widget.analytics-referrers .body > table > tbody > tr > td:first-child { padding-left: 25px; }
body.dashboard #main .widget.analytics-referrers .body table tbody tr.breakdown > td { padding: 0 10px 3px 30px; text-align: left; }
body.dashboard #main .widget.analytics-referrers .body table tbody tr.breakdown > td td { padding: 0 0 2px 10px; }
body.dashboard #main .widget.analytics-referrers .body table tbody tr.breakdown a { font-weight: normal; }

/* ----------------------------------------
/*  Content - Index
/* ----------------------------------------*/

body.content-index #main { margin-left: 0; margin-right: 0; }
body.content-index #main table { width: 100%; }
body.content-index #main table thead th { padding: 0 0 4px 20px; border-bottom: 1px solid #ccc; }
body.content-index #main table tbody th { padding: 10px 0 3px 20px; color: #999; }
body.content-index #main table tbody td { padding: 3px 0 3px 20px; }
body.content-index #main table th:first-child,
body.content-index #main table td:first-child { padding-left: 96px; }
body.content-index #main table th:first-child,
body.content-index #main table td:first-child { padding-right: 40px; }
body.content-index #main table span.toggle { margin: 2px 0 0 -14px; }
body.content-index #main table span.status { margin: 2px 4px 0 0; }

/* ----------------------------------------
/*  Content - Edit
/* ----------------------------------------*/

body.content-edit #main .centered { margin: 0 auto; max-width: 800px; }

body.content-edit #main .page-toolbar { margin: -41px 0 40px; padding-top: 1px; border-radius: 0 0 4px 4px; height: 40px; line-height: 24px; color: #666; background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee)); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), 0 0 1px 1px #fff; }
body.content-edit #main .page-toolbar ul.left { float: left; }
body.content-edit #main .page-toolbar ul.right { float: right; }
body.content-edit #main .page-toolbar ul li { float: left; padding: 8px 10px; }
body.content-edit #main .page-toolbar ul li + li { border-left: 1px solid rgba(0,0,0,0.1); }
body.content-edit #main .page-toolbar ul li.status span.status { margin: 5px 4px 0 0; }

body.content-edit #main .page { border-radius: 4px; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.15); }

body.content-edit #main .page .editable { display: inline-block; cursor: pointer; }
body.content-edit #main .page .editable:hover { padding-right: 18px; background: url(../images/edit-icon.png) no-repeat 100% 50%; }
body.content-edit #main .page .null { color: #aaa; }

body.content-edit #main .page .field { position: relative; padding: 20px 80px; border-bottom: 1px dotted #eee; background: -webkit-gradient(linear, 0 50%, 0 100%, from(#fff), to(#fcfcfc)) repeat-x 0 100%; }
body.content-edit #main .page .field label { display: block; margin-bottom: 5px; font-size: 12px; font-weight: bold; color: #666; }

body.content-edit #main .page .page-head { padding: 40px 80px 20px; border-radius: 4px 4px 0 0; }
body.content-edit #main .page .page-head h1 { margin: 0; }

body.content-edit #main .page .page-head .draft-btn { display: none; position: relative; margin-left: 10px; border: 1px solid #36b2ff; background: transparent; }
body.content-edit #main .page .page-head .draft-btn .label { color: #2d98db; }
body.content-edit #main .page .page-head .draft-btn .arrow { background-image: url(../images/draft-btn-arrow.png); opacity: 1; }
body.content-edit #main .page .page-head .draft-btn ul { display: none; position: absolute; z-index: 1; top: 23px; left: 0; border-radius: 2px; width: 200px; height: 100px; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.1); }

body.content-edit #main .page .page-head { padding-bottom: 0; }
body.content-edit #main .page .page-head .settings-btn { display: block; margin: -20px -60px 0 0; float: right; width: 16px; height: 16px; cursor: pointer; background: url(../images/page-settings-btn.png); }
body.content-edit #main .page .page-head .settings-btn.active { background-position: 0 100%; }
body.content-edit #main .page .page-head .page-settings { margin-top: 18px; height: 0; overflow: hidden; padding-left: 68px; background: url(../images/page-settings-bg.png) no-repeat 0 5px; }
body.content-edit #main .page .page-head .page-settings table th,
body.content-edit #main .page .page-head .page-settings table td { padding-top: 2px; }
body.content-edit #main .page .page-head .page-settings table th { padding-right: 20px; color: #666; }

body.content-edit #main .page .page-foot { padding: 40px 80px; border-bottom: none; border-radius: 0 0 4px 4px; }
body.content-edit #main .page .page-foot .btn.big { display: inline-block; float: none; margin-left: 0; border: none; background: -webkit-gradient(linear, 0 0, 0 100%, from(#33abf5), to(#2987c2)); -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);}
body.content-edit #main .page .page-foot .btn.big .label { color: #fff; text-shadow: 0 -1px 0 #000; }


body.content-edit #right,
body.content-edit #main .page .draft-head { display: none; }


/*-- assets --*/
body.assets #main .files.grid ul { margin: -20px 0 0 -20px; }
body.assets #main .files.grid ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
body.assets #main .files.grid ul li { float: left; margin: 20px 0 0 20px; width: 96px; height: 98px; padding: 2px 2px 0; text-align: center; }
body.assets #main .files.grid ul li .filename { text-align: center; }
.thumb { display: inline-block; padding: 7px; background: #fff; -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15); }
.thumb img { display: block; background: #fafafa; -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,0.03), inset 0 0 0 1px rgba(0,0,0,0.02); }
.filename { margin-top: 4px; max-height: 28px; padding-bottom: 2px; overflow: hidden; text-overflow: ellipsis; line-height: 14px; }
.filename span { display: inline-block; max-width: 96px; overflow: hidden; white-space: pre; text-overflow: ellipsis; }

body.assets #main .files.data table th:first-child,
body.assets #main .files.data table td:first-child { padding-left: 54px; }
body.assets #main .files.data table td:first-child img { display: block; float: left; margin-left: -34px; width: 24px; height: 24px; }


/*-- URL Routing settings --*/
/*body.settings.routing #main .routes table tbody td { padding: 18px 20px; }*/

body.settings.routing #main .routes .site { margin-right: 2px; color: rgba(0,0,0,0.4); }
body.settings.routing #main .routes a { font-weight: normal; }
body.settings.routing #main .routes .new { border-top: 1px solid #aaa; padding: 18px 20px; }

/*-- Plugins --*/
body.settings.plugins #main tr.uninstalled td { color: #999; text-shadow: 0 1px 0 #fff; }
body.settings.plugins #main th.status,
body.settings.plugins #main th.action { width: 0.01%; }
body.settings.plugins #main td { padding-top: 10px; padding-bottom: 10px; vertical-align: middle; }
