@import "shared";

html, body { height: 100%; }

#login-form { display: block; position: absolute; top: 50%; left: 50%; margin: -141px 0 0 -150px; width: 300px; }
#password-container { padding-left: 30px; }
#forgot-password { font-style: normal; font-size: 11px; }
.buttons { margin-top: 30px; }
#remember-me-label { display: inline-block; margin-left: 16px; font-size: 14px; color: $mediumdark; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
#insecure { display: block; position: absolute; top: 10px; right: 10px; color: #8a1f11; cursor: help; }

#notice { margin: 20px -100px; text-align: center; }
#notice p { display: inline-block; border: 1px solid; border-radius: 12px; padding: 2px 10px; font-weight: bold; text-shadow: 0 1px 0 rgba(255,255,255,0.5); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.25); }
#notice p.notice { border-color: #1F6794; color: #1d628c; }
#notice p.error { border-color: #8a1f11; }
