html, body { height: 100%; }

#login-form { display: block; position: absolute; top: 50%; left: 50%; margin: -140px 0 0 -200px; width: 400px; }
#login-pane { position: relative; }
#forgot-password { margin-left: 1px; font-size: 11px; }
#remember-me-label { margin-left: 16px; font-size: 14px; color: #474a4d; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
#insecure { display: block; position: absolute; bottom: 10px; right: 0; width: 12px; height: 12px; background: url(../images/insecure.png) no-repeat; cursor: default; }

#notice { margin: 20px 0; text-align: center; }
#notice p { display: inline-block; border: 1px solid; border-radius: 12px; padding: 2px 10px; font-weight: bold; text-shadow: 0 1px 0 rgba(255,255,255,0.5); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.25); }
#notice p.notice { border-color: #1F6794; color: #1d628c; }
#notice p.error { border-color: #8a1f11; }
