#sidebar .tree #plugins li a { padding-right: 45px; }
#sidebar .tree #plugins li a .status { float: right; margin-right: -28px; }

/*-- URL Routing settings --*/
body.routing #main .routes .site { margin-right: 2px; color: rgba(0,0,0,0.4); }
body.routing #main .routes a { font-weight: normal; }
body.routing #main .routes .new { border-top: 1px solid #aaa; padding: 18px 20px; }

/*-- Plugins --*/
body.plugins #main tr.uninstalled td { color: #999; text-shadow: 0 1px 0 #fff; }
body.plugins #main th.status,
body.plugins #main th.action { width: 0.01%; }
body.plugins #main td { padding-top: 10px; padding-bottom: 10px; vertical-align: middle; }

/*-- Updates --*/
body.updates #checking { position: absolute; top: 50%; margin-top: -44px; padding-top: 68px; width: 100%; text-align: center; font-size: 16px; line-height: 20px; color: #666; text-shadow: 0 1px 0 #fff; background: url(../images/spinner-big.gif) no-repeat 50% 0; }
body.updates #updates { display: none; }
body.updates #updates #update-all { float: right; margin-top: -4px; }
body.updates #updates .update { display: none; margin-bottom: 10px; }
body.updates #updates .update .head .name { float: left; }
body.updates #updates .update .head .critical { float: left; margin: 2px 10px; padding: 0 4px; border: 2px solid #e14545; border-radius: 3px; font-size: 11px; line-height: 16px; color: #e14545; font-weight: bold; text-transform: uppercase; }
body.updates #updates .update .head .btn { float: right; margin: 0; }
body.updates #updates .update .head a.notes-toggle { display: block; float: right; margin: 0 10px; }
body.updates #updates .update .notes-container { height: 0; overflow: hidden; }
body.updates #updates .update .body ul { list-style-type: square; margin-left: 2em; }
