.pane { margin: 40px auto 0; width: 800px; }
.pane .body { position: relative; height: 400px; }

.pane .body .sidebar { position: absolute; top: 0; left: 0; height: 100%; border-bottom-left-radius: 3px; }
.pane .body .sidebar ol { list-style-type: none; }
.pane .body .sidebar ol li a { padding-top: 16px; padding-bottom: 16px; font-size: 14px; }
.pane .body .sidebar ol li a .step { display: block; float: left; margin-right: 6px; border-radius: 9px; width: 18px; height: 18px; line-height: 18px; text-align: center; font-weight: bold; font-size: 11px; color: #fff; text-shadow: none; background: #999; }
.pane .body .sidebar ol li a.sel .step { color: #2d98db; background: #fff; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5); }

.pane .body .step-contents { position: absolute; top: 0; left: 220px; width: 500px; padding: 20px 40px; }

.pane .body .step-nav { position: absolute; bottom: 0; left: 221px; border-bottom-right-radius: 3px; width: 539px; padding: 8px 20px; border-top: 1px solid #eee; background: #fcfcfc; }
