APP_ID=CraftCMS
CRAFT_SECURITY_KEY=UPzGqJJMCTM4n07jkqaFNaVoof6j_Xfo

FROM_EMAIL_NAME="Craft CMS"
FROM_EMAIL_ADDRESS=info@craftcms.com

AUTH_MODEL=\CraftCms\Cms\User\Models\User

LOG_LEVEL=warning

DB_CONNECTION=sqlite
DB_DATABASE=database/craft_tests.sqlite
