# .ENV Setup for running the test suite.

TEST_DB_USER=""
TEST_DB_PASS=""
TEST_DB_NAME=""
TEST_DB_DRIVER=""
TEST_DB_SERVER=""
TEST_DB_SCHEMA=""
TEST_DB_TABLE_PREFIX=""
TEST_DB_PORT=""
SECURITY_KEY=""

