{% extends "_layouts/cp" %}


{% set titlebar %}
	<h1>{{ "Email"|t }}</h1>

	<ul class="left">
		<li><a href="{{ url('settings') }}" class="backbtn">{{ "Settings"|t }}</a></li>
	</ul>

	<ul class="tabs">
		<li><a href="{{ url('settings/email') }}" {% if blx.request.segment(3) == '' %}class="active"{% endif %} data-icon="⚙">{{ "Settings"|t }}</a></li>
		<li><a href="{{ url('settings/email/messages') }}" {% if blx.request.segment(3) == 'messages' %}class="active"{% endif %} data-icon="E">{{ "Messages"|t }}</a></li>
	</ul>
{% endset %}
