{% extends "_layouts/cp" %}


{% set main %}
	<header class="titlebar">
		<h1>{{ "Email Settings"|t }}</h1>
	</header>

	<nav class="nav">
		<ul>
			<li {% if blx.request.segment(3) == '' %}class="sel"{% endif %}><a href="{{ url('settings/email') }}" data-icon="⚙">{{ "Settings"|t }}</a></li>
			<li {% if blx.request.segment(3) == 'messages' %}class="sel"{% endif %}><a href="{{ url('settings/email/messages') }}" data-icon="E">{{ "Messages"|t }}</a></li>
		</ul>
	</nav>

	<div>
		{{ settings }}
	</div>
{% endset %}
