{layout "settings/email/_layout" title="Messages"}


{region "styles"}
	{include "_includes/css_include" file="styles/email_messages.css"}
{/region}


{region "settings"}

	<div id="messages">
		{foreach blx.email.messages as message}
			<div class="field">
				<div class="heading">
					<h3>{:message.heading}</h3>
				</div>
				<div class="pane message" data-id="{:message.id}">
					<div class="subject">{:message.subject}</div>
					<div class="body">{:message.bodyPreview}</div>
				</div>
			</div>
		{/foreach}
	</div>

{/region}


{region "scripts"}
	{include "_includes/js_include" file="email_messages.js"}
{/region}
