{layout "settings/email/_layout" title="Messages"}


{region "settings"}

	<div id="messages">
		<div class="field">
			<div class="heading">

				<h3>When someone creates an account:</h3>
			</div>
			<div class="pane message">
				<div class="subject">Verify your email address</div>
				<div class="body">Hey \{:username}, Thanks for creating an account with \{:sitename}! Before we activate your account, please verify your email address by clicking on this link: \{:link} If you weren’t expecting this email, just ignore it.</div>
			</div>
		</div>

		<div class="field">
			<div class="heading">
				<h3>When someone changes their email address:</h3>
			</div>
			<div class="pane message">
				<div class="subject">Verify your new email address</div>
				<div class="body">Hey \{:username}, Please verify your new email address by clicking on this link: \{:link} If you weren’t expecting this email, just ignore it.</div>
			</div>
		</div>

		<div class="field">
			<div class="heading">
				<h3>When someone forgets their password:</h3>
			</div>
			<div class="pane message">
				<div class="subject">Reset your password</div>
				<div class="body">Hey \{:username},  To reset your Pixel & Tonic password, click on this link: \{:link} If you weren’t expecting this email, just ignore it.</div>
			</div>
		</div>
	</div>

{/region}


{region "styles"}
	{include "_includes/css_include" file="styles/email_messages.css"}
{/region}
