{% extends "settings/email/_layout" %}
{% set title = "Messages"|t %}
{% include_css "email_messages.css" %}
{% include_js "email_messages.js" %}

{% include_translation
	"Couldn’t save message.",
	"Message saved."
%}

{% set settings %}
	<div id="messages">
		{% for message in blx.email.messages %}
			<div class="field">
				<div class="heading">
					<h3>{{ message.heading }}</h3>
				</div>
				<div class="pane message" data-id="{{ message.id }}">
					<div class="subject">{{ message.subject }}</div>
					<div class="body">{{ message.bodyPreview }}</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endset %}
