{% extends "settings/email/_layout" %}
{% set title = "Messages"|t %}
{% includeCssResource "css/email_messages.css" %}
{% includeJsResource "js/email_messages.js" %}

{% include_translation
	"Couldn’t save message.",
	"Message saved."
%}

{% set settings %}
	<div id="messages">
		{% for message in blx.email.messages %}
			<h3>{{ message.heading }}</h3>
			<div class="pane message" data-id="{{ message.id }}">
				<div class="subject">{{ message.subject }}</div>
				<div class="body">{{ message.bodyPreview }}</div>
			</div>
		{% endfor %}
	</div>
{% endset %}
