<form method="post" action="{:baseUrl}update?h=all">
	<input class="btn dark update-all" type="submit" value="Update All">
</form>

<table class="pane-body">
	<tbody>
		{foreach widget.updates as update}
		<tr>
			<td class="pane-item">{:update.name} {:update.version}</td>
			<td class="pane-item"><a href="{:url.base}settings/updates#{:update.handle}">Notes</a></td>
			<td class="pane-item">
				<form method="post" action="{:url.base}update/{:update.handle}">
					<input id="update" class="btn" type="submit" value="Update">
				</form>
			</td>
		</tr>
		{/foreach}
	</tbody>
</table>
