{% extends "settings/assets/_layout" %}
{% import "_includes/forms" as forms %}
{% set page = "operations" %}
{% set title = "Asset operations"|t %}
{% set sources = blx.assets.getAllSources %}

{% includeTranslations
    "The following items were found in the database that do not have a physical match.",
    "Folders",
    "Files",
    "Cancel",
    "Delete"
%}

{% set content %}
	<p id="nosources" {% if sources|length %}style="display: none"{% endif %}>
		{{ "No sources exist yet."|t }}
	</p>

	{% if sources|length %}

        {% if sizeHandle is defined %}
            {% set sizeValue = sizeHandle %}
        {% else %}
            {% set sizeValue = 0 %}
        {% endif %}

        {{ forms.checkboxSelectField({
            label: "Sources"|t,
            instructions: "Which asset sources do you want to perform operations on?"|t,
            id: 'sourceId',
            name: 'sourceId',
            options: sources,
            values: '',
            class: "assets-sources"
        }) }}

        {% set operationsField %}
            <ul>
                <li>
                    {{ forms.checkbox({
                        label: "Update indexes"|t,
                        id: 'do-index',
                        name: 'do-index',
                        class: 'assets-index',
                    }) }}
                </li>

                {% set sizes = blx.assets.getAllAssetSizes() %}
                {% if sizes|length %}
                    {% set sizesChecked = (blx.request.getQuery('size') is not empty) %}
                    <li>
                        {{ forms.checkbox({
                            label: "Update sizes"|t,
                            id: 'do-sizes',
                            name: 'do-sizes',
                            class: 'assets-sizes',
                            checked: sizesChecked,
                            toggle: 'sizes'
                        }) }}
                        <ul id="sizes" class="indent{% if not sizesChecked %} hidden{% endif %} checkbox-select">
                            <li>
                                {{ forms.checkbox({
                                    class: 'all',
                                    label: '<b>' ~ "All"|t ~ '</b>',
                                    checked: (not sizesChecked)
                                }) }}
                            </li>
                            {% for size in sizes %}
                                <li>
                                    {{ forms.checkbox({
                                        label: size.name,
                                        name: size ~ '[]',
                                        value: size.handle,
                                        checked: (not sizesChecked or (sizesChecked and blx.request.getQuery('size') == size.handle)),
                                        disabled: (not sizesChecked)
                                    }) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        {% endset %}

        {{ forms.field({
            label: "Operations"|t,
            instructions: "Which operations do you want to perform on the selected sources?"
        }, operationsField) }}

        <div class="operation-progress"></div>

        <div class="buttons">
            <div class="btn submit" id="start-operations">{{ "Start"|t }}</a>
        </div>

        {% includeJsResource "js/Assets/AssetOperations.js" %}
        {% includeJsResource "js/QueueManager.js" %}

    {% endif %}

{% endset %}
