{if !user && userId}
	{set user = blx.users.getById(userId)}
	{if user.status == 'archived'}
		<!-- TODO: this doesn't work until we get string contact in the template parser -->
		{redirect 'users/view/'+userId}
	{/if}
{/if}

{if user.id}
	{if user.id == blx.users.current.id}
		{set displayName = "My"}
	{elseif user.fullName}
		{set displayName = user.fullName.possessive}
	{else}
		{set displayName = "Anonymous’"}
	{/if}
	<?php $title = new Variable($displayName.' account settings'); ?>
{else}
	{set title = "Register a new user"}
{/if}

{layout "_layouts/cp" title=title crumbs="users:Users"}

{region "styles"}
	{include "_includes/css_include" file="styles/user.css"}
{/region}

{region "main"}
	<header class="titlebar">
		<h1>{:title}</h1>
	</header>

	<form method="post" action="">
		<div class="grid">
			<div class="col col50"><div class="col-inner">
				<input type="hidden" name="action" value="users/save" />
				<input type="hidden" name="redirect" value="users" />
				{if user.id}<input type="hidden" name="user_id" value="{:user.id}">{/if}

				<div class="field first">
					<div class="heading">
						<label for="first_name" class="required">First Name</label>
					</div>
					<div class="textwrapper"><input id="first_name" name="first_name" class="text" type="text" value="{:user.first_name}" /></div>
					{if user.errors.first_name}
						{include "_includes/error_list" errors=user.errors.first_name}
					{/if}
				</div>
				<div class="field">
					<div class="heading">
						<label for="last_name">Last Name</label>
					</div>
					<div class="textwrapper"><input id="last_name" name="last_name" class="text" type="text" value="{:user.last_name}" /></div>
					{if user.errors.last_name}
						{include "_includes/error_list" errors=user.errors.last_name}
					{/if}
				</div>

				<div class="field">
					<div class="heading">
						<label for="username" class="required">Username</label>
					</div>
					<div class="textwrapper"><input id="username" name="username" class="text" type="text" value="{:user.username}" /></div>
					{if user.errors.username}
						{include "_includes/error_list" errors=user.errors.username}
					{/if}
				</div>

				<div class="field">
					<div class="heading">
						<label for="email" class="required">Email</label>
					</div>
					<div class="textwrapper"><input id="email" name="email" class="text" type="text" value="{:user.email}" /></div>
					{if user.errors.email}
						{include "_includes/error_list" errors=user.errors.email}
					{/if}
				</div>

				{if user.isCurrent}
					<div class="field">
						<div class="heading">
							<label for="password">New Password</label>
						</div>
						<div class="passwordwrapper"><input id="password" name="password" class="text password {if passwordForm && passwordForm.errors.password}error{/if}" type="password" /></div>
						{if passwordForm && passwordForm.errors.password}
							{include "_includes/error_list" errors=passwordForm.errors.password}
						{/if}
					</div>

					<div class="pane-item field">
						<div class="heading">
							<label for="confirm-password">Confirm New Password</label>
						</div>
						<div class="passwordwrapper"><input id="confirm-password" name="confirm-password" class="text password {if passwordForm && passwordForm.errors.confirmPassword}error{/if}" type="password" /></div>
					</div>
				{/if}

				<div class="field">
					<div class="heading">
						<label for="html_email">Email Format</label>
					</div>
					
					{if user.html_email}
						{set emailFormat = "html"}
					{else}
						{set emailFormat = "text"}
					{/if}
					{include "_includes/pill" name="email_format" options="text:Plain Text,html:HTML" value=emailFormat}
				</div>

				<div class="field">
					<div class="heading">
						<label for="preferred_language">Preferred Language</label>
					</div>
					{set languages = blx.localization.alllanguagesanddisplaynames}
					{include "_includes/dropdown" name="preferred_language" options=languages value=user.preferred_language}
				</div>

				{if blx.users.current.admin}
					<div class="field checkbox">
						<label>This is an admin account
							<div class="cbwrapper"><input type="checkbox" name="admin" value="y" {if user.admin}checked="checked"{/if} /></div>
						</label>
					</div>
				{/if}

				{if user.id && user.id != blx.users.current.id}
					<div class="field checkbox">
						<label>A password reset is required
							<div class="cbwrapper"><input type="checkbox" name="password_reset" value="y" {if user.password_reset_required}checked="checked"{/if} /></div>
						</label>
					</div>
				{/if}

				{if !user.id}
					<div class="field checkbox">
						<label>Send an account activation email
							<div class="cbwrapper"><input type="checkbox" name="send_validation_email" value="y" {if blx.request.post('send_validation_email')}checked="checked"{/if} /></div>
						</label>
					</div>
				{/if}
			</div></div>

			{if user.id}
				<div class="col col50"><div class="col-inner">
					<div id="info" class="pane">
						<h2>User Info</h2>

						<div class="left">
							<strong>Status</strong>
						</div>
						<div class="right">
							{:user.status.uppercaseFirst}
						</div>
						<div class="clear"></div>
						<input type="hidden" name="status" value="{:user.status}" />
						{if user.status == 'pending'}
							<input class="btn" type="submit" name="validationEmail" value="Resend Validation Email" />
							<p><strong>Validation URL</strong> {:blx.url.url(blx.users.verifyAccountUrl, 'code=')}{:user.activationcode}</p>
						{elseif user.status == 'locked'}
							<input class="btn" type="submit" name="unlock" value="Unlock" />
						{elseif user.status == 'suspended'}
							<input class="btn" type="submit" name="unsuspend" value="Unsuspend" />
						{/if}
						{if blx.config.failedPasswordMode == 'cooldown'}
							{if user.cooldown_start}
								<br />
								{set timeRemaining = blx.date.secondsToHumanTimeDuration(user.remainingCooldownTime)}
								Temporarily locked.  User will be auto-unlocked
								{if timeRemaining > 0}
									in {:timeRemaining}
								{else}
									the next time they log in.
								{/if}
							{/if}
						{/if}

						<div class="left">
							<strong>Last Login Date</strong>
						</div>
						<div class="right">
							{if user.last_login_date}{:blx.date.nice(user.last_login_date)}{else}Never{/if}
						</div>
						<div class="clear"></div>

						<div class="left">
							<strong>Last Failed Login Date</strong>
						</div>
						<div class="right">
							{if user.last_login_failed_date}{:blx.date.nice(user.last_login_failed_date)}{else}Never{/if}
						</div>
						<div class="clear"></div>

						<div class="left">
							<strong>Last Password Changed Date</strong>
						</div>
						<div class="right">
							{if user.last_password_changed_date}{:blx.date.nice(user.last_password_changed_date)}{else}Never{/if}
						</div>
						<div class="clear"></div>

						<div class="left">
							<strong>Last Lockout Date</strong>
						</div>
						<div class="right">
							{if user.last_lockout_date}{:blx.date.nice(user.last_lockout_date)}{else}Never{/if}
						</div>
						<div class="clear"></div>

						<div class="left">
							<strong>Failed Password Attempt Count</strong>
						</div>
						<div class="right">
							{if user.failed_password_attempt_count}{:user.failed_password_attempt_count}{else}0{/if}
						</div>
						<div class="clear"></div>
					</div>
				</div></div>
			{/if}
		</div>

		<div class="buttons">
			<input class="btn big submit" type="submit" name="save" value="Save User" />

			{if user.id}
				{if user.status != 'suspended'}
					<input class="btn big" type="submit" name="suspend" value="Suspend User" />
				{/if}
				<input class="btn big" type="submit" name="delete" value="Delete User" />
			{/if}
		</div>
	</form>

{/region}
