{% extends '_layouts/cp.twig' %}

{% import '_includes/forms.twig' as forms %}


{% set canAdministrateUsers = currentUser.can('administrateUsers') %}

{% block content %}
        <div id="account" class="flex-fields">

            {% if canAdministrateUsers and (user.pending or user.active) and not isCurrentUser %}
                {{ forms.checkboxField({
                    label: "Require a password reset on next login"|t('app'),
                    name: 'passwordResetRequired',
                    checked: user.passwordResetRequired
                }) }}
            {% endif %}
        </div>

{% endblock %}
