{% layout "users/_layouts/users" %}

{% if !theUser && userId %}
	{% set theUser = users.getById(userId) %}
{% endif %}

{% region "main" %}
	<div class="toolbar">
		{% include "_includes/back_btn" label="Users" uri="users" %}
	</div>

	<form method="post" action="">
		<input type="hidden" name="action" value="users/save" />
		<input type="hidden" name="redirect" value="users" />
		{% if theUser.id %}<input type="hidden" name="user_id" value="{theUser.id}">{% endif %}

		<div class="pane">
			<div class="head">
				{% if theUser.id %}
					<h5>Edit User {% if theUser.user_name %}“{theUser.user_name}”{% endif %}</h5>
				{% else %}
					<h5>Register a new user</h5>
				{% endif %}
			</div>
			<div class="body">
				<div class="item field">
					<div class="input-wrapper">
						<label for="username">Username</label>
						<input id="username" name="username" class="{% if theUser.errors.username %}error{% endif %}" type="text" value="{theUser.username}" />
					</div>
					{% if theUser.errors.username %}
						{% include "_includes/error_list" errors=theUser.errors.username %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="first_name">First Name</label>
						<input id="first_name" name="first_name" class="{% if theUser.errors.first_name %}error{% endif %}" type="text" value="{theUser.first_name}" />
					</div>
					{% if theUser.errors.first_name %}
						{% include "_includes/error_list" errors=theUser.errors.first_name %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="last_name">Last Name</label>
						<input id="last_name" name="last_name" class="{% if theUser.errors.last_name %}error{% endif %}" type="text" value="{theUser.last_name}" />
					</div>
					{% if theUser.errors.last_name %}
						{% include "_includes/error_list" errors=theUser.errors.last_name %}
					{% endif %}
				</div>
				<div class="item field">
					<div class="input-wrapper">
						<label for="email">Email</label>
						<input id="email" name="email" class="{% if theUser.errors.email %}error{% endif %}" type="text" value="{theUser.email}" />
					</div>
					{% if theUser.errors.email %}
						{% include "_includes/error_list" errors=theUser.errors.email %}
					{% endif %}
				</div>
				{% if theUser.admin %}
					<div class="item field">
						<div class="input-wrapper">
							<label for="admin">Admin</label>
							{% include "_includes/switch" name="admin" on=theUser.admin %}
						</div>
					</div>
				{% endif %}
				<div class="item field">
					<div class="input-wrapper">
						<label for="html_email">Html Emails</label>
						{% include "_includes/switch" name="html_email" on=theUser.html_email default="y" %}
					</div>
				</div>
				{% if theUser.id %}
					<div class="item field">
						<div class="input-wrapper">
							<label for="status">Status</label>
							<select id="status" name="status">
								<option value="active" {% if theUser.status == 'active' %}selected{% endif %}>Active</option>
								<option value="pending" {% if theUser.status == 'pending' %}selected{% endif %}>Pending</option>
								<option value="suspended" {% if theUser.status == 'suspended' %}selected{% endif %}>Suspended</option>
								<option value="locked" {% if theUser.status == 'locked' %}selected{% endif %}>Locked</option>
							</select>
						</div>
					</div>
					<div class="item field">
						<div class="input-wrapper">
							<label for="password_reset">Password Reset Required</label>
							{% include "_includes/switch" name="password_reset" on=theUser.password_reset_required %}
						</div>
					</div>
				{% endif %}
				{% if !theUser.id %}
					<div class="item field">
						<div class="input-wrapper">
							<label for="require_email_validation">Require Email Validation?</label>
							{% include "_includes/switch" name="require_email_validation" on=request.getPost('require_email_validation') default="y" %}
						</div>
					</div>
				{% endif %}
				{% if theUser.id %}
					<div class="item">
						Last Login Date: {% if theUser.last_login_date %}theUser.last_login_date{% else %}Never{% endif %}
					</div>
					<div class="item">
						Last Password Changed Date: {% if theUser.last_password_changed_date %}theUser.last_password_changed_date{% else %}Never{% endif %}
					</div>
					<div class="item">
						Last Lockout Date: {% if theUser.last_lockout_date %}theUser.last_lockout_date{% else %}Never{% endif %}
					</div>
					<div class="item">
						Failed Password Attempt Count: {% if theUser.failed_password_attempt_count %}theUser.failed_password_attempt_count{% else %}0{% endif %}
					</div>
				{% endif %}
			</div>
		</div>

		<input class="btn big submit" type="submit" value="Save User" />
	</form>
{% endregion %}
