{% extends "_layouts/cp" %}

{% set crumbs = [
	{ label: "Users"|t, url: url('users') }
] %}

{% import "_includes/forms" as forms %}

{% if craft.hasPackage("Users") %}
	{% includeTranslations
		"Are you sure you want to delete this photo?"
	%}

	{% includeJsResource "lib/fileupload/jquery.ui.widget.js" %}
	{% includeJsResource "lib/fileupload/jquery.fileupload.js" %}
	{% includeJsResource "lib/imgareaselect/jquery.imgareaselect.pack.js" %}
	{% includeJsResource "js/profile.js" %}
	{% includeCssResource "lib/imgareaselect/imgareaselect-animated.css" %}
	{% includeCssResource "css/profile.css" %}


{% set photoInput %}
		{% include 'users/_userphoto' with {account: account} only %}
	{% endset %}
{% endif %}

{% set saveUserButtons %}

	{% if not currentUser.can('registerUsers') or not craft.hasPackage("Users") %}
		<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
	{% else %}
		<div class="btngroup">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
			<div class="btn submit menubtn"></div>
			<div class="menu">
				<ul>
					<li><a class="formsubmit" data-redirect="users/{id}">{{ "Save and continue editing"|t }}</a></li>
					<li><a class="formsubmit" data-redirect="users/new">{{ "Save and add another"|t }}</a></li>
				</ul>
			</div>
		</div>
	{% endif %}

{% endset %}

{% set requireEmailVerification = craft.systemSettings.users.requireEmailVerification %}


{% set content %}
	<div>
		{% if account is defined %}
			<form id="userform" method="post" action="" accept-charset="UTF-8" data-saveshortcut="1">
					<input type="hidden" name="action" value="users/saveUser">
					{% if craft.hasPackage("Users") %}
						<input type="hidden" name="redirect" value="users">
					{% else %}
						<input type="hidden" name="redirect" value="myaccount">
					{% endif %}

				{% if not isNewAccount %}
					<input type="hidden" name="userId" value="{{ account.id }}">
				{% endif %}

				<div id="account">
					{{ forms.textField({
						first: true,
						label: "Username"|t,
						id: 'username',
						name: 'username',
						value: (account is defined ? account.username : null),
						autofocus: true,
						required: (isNewAccount or (currentUser.admin or account.isCurrent) ? true : false),
						disabled: (isNewAccount or (currentUser.admin or account.isCurrent) ? false : true),
						errors: (account is defined ? account.getErrors('username') : null)
					}) }}

					<div class="grid" data-cols="2" data-mode="pct">
						<div class="item" data-colspan="1">
							{{ forms.textField({
								label: "First Name"|t,
								id: 'firstName',
								name: 'firstName',
								value: (account is defined ? account.firstName : null),
								errors: (account is defined ? account.getErrors('firstName') : null)
							}) }}
						</div>
						<div class="item" data-colspan="1">
							{{ forms.textField({
								label: "Last Name"|t,
								id: 'lastName',
								name: 'lastName',
								value: (account is defined ? account.lastName : null),
								errors: (account is defined ? account.getErrors('lastName') : null)
							}) }}
						</div>
					</div>

					{% if isNewAccount %}

						{{ forms.textField({
							label: "Email"|t,
							instructions: (requireEmailVerification and not currentUser.admin ? 'A verification email will be sent automatically.'),
							id: 'email',
							name: 'email',
							value: (account is defined ? account.email : null),
							required: true,
							errors: (account is defined ? account.getErrors('email') : null)
						}) }}

						{% if requireEmailVerification and currentUser.admin %}
							{{ forms.checkboxField({
								label: "Send a verification email?"|t,
								name: 'verificationRequired',
								checked: true
							}) }}
						{% endif %}

					{% elseif account.isCurrent or currentUser.admin %}

						{% set emailInput %}
							<table>
								<tr>
									<td>
										{{ forms.text({
											id: 'email',
											name: 'email',
											value: (account is defined ? account.email : null),
											required: true,
											disabled: true
										}) }}
									</td>
									<td class="thin">
										<div id="emailLockBtn" class="btn lock" data-icon="secure" title="{{ 'Click to change the email address.'|t }}"></div>
									</td>
								</tr>
							</table>

							{{ forms.errorList(account.getErrors('email')) }}
						{% endset %}

						{{ forms.field({
							label: "Email"|t,
							instructions: (requireEmailVerification and not currentUser.admin ? 'New email addresses must be verified before taking effect.'),
							id: 'email',
						}, emailInput) }}

						{% set newPasswordInput %}
							<table>
								<tr>
									<td>
										{{ forms.password({
											id: 'newPassword',
											name: 'newPassword',
											disabled: true
										}) }}
									</td>
									<td class="thin">
										<div id="newPasswordLockBtn" class="btn lock" data-icon="secure" title="{{ 'Click to set a new password.'|t }}"></div>
									</td>
								</tr>
							</table>

							{{ forms.errorList(account.getErrors('newPassword')) }}
						{% endset %}

						{{ forms.field({
							label: "New Password"|t,
							id: 'newPassword',
						}, newPasswordInput) }}

						{% if currentUser.admin %}
							{{ forms.checkboxField({
								label: "Require a password reset on next login"|t,
								name: 'passwordResetRequired',
								checked: account.passwordResetRequired
							}) }}
						{% endif %}

					{% endif %}

					{% if craft.hasPackage('Localize') %}
						{% set localeInput %}
							<div class="select">
								<select id="preferredLocale" name="preferredLocale">
									{% set allSiteLocales = craft.i18n.getSiteLocales %}
									{% set userLocale = account is defined and account.preferredLocale ? account.preferredLocale : (account is defined and account.isCurrent ? craft.locale : allSiteLocales[0]) %}

									{% for locale in allSiteLocales %}
										<option value="{{ locale.id }}" {% if locale.id == userLocale %}selected{% endif %}>{{ locale.getName() }}</option>
									{% endfor %}
								</select>
							</div>
						{% endset %}

						{{ forms.field({
							id: 'preferredLocale',
							label: "Preferred Locale"|t
						}, localeInput) }}
					{% endif %}

					{{ saveUserButtons }}
				</div>

				{% if craft.hasPackage("Users") %}
					<div id="profile" class="hidden">
						{% if not isNewAccount %}
							{{ forms.field({
								label: "Photo"|t
							}, photoInput) }}

							<hr>
						{% endif %}

						{% include "_includes/fields" with {
							fields: craft.fields.getLayoutByType('User').getFields(),
							element: account
						} only %}

						{{ saveUserButtons }}
					</div>
				{% endif %}

				{% if craft.hasPackage("Users") and currentUser.can('administrateUsers') %}
					<div id="perms" class="hidden">
						<h2>{{ "User Groups"|t }}</h2>

						{% set allGroups = craft.userGroups.getAllGroups() %}
						{% set userGroups = account.getGroups('id') %}

						<input type="hidden" name="groups" value="">

						{% if allGroups %}
							<ul>
								{% for group in allGroups %}
									<li>
										{{ forms.checkbox({
											label: group.name,
											name: 'groups[]',
											value: group.id,
											checked: (group.id in userGroups|keys)
										}) }}
									</li>
								{% endfor %}
							</ul>

						{% else %}
							<p>{{ "No user groups exist yet."|t }}</p>
						{% endif %}

						<hr>

						<h2>{{ "Permissions"|t }}</h2>

						<input type="hidden" name="permissions" value="">

						<div class="field">
							{{ forms.checkbox({
								label: '<strong>' ~ "Admin"|t ~ '</strong>',
								name: 'admin',
								checked: account.admin,
								reverseToggle: 'permissions',
								disabled: (currentUser.admin ? false : true)
							}) }}
						</div>

						<div id="permissions" class="field{% if account.admin %} hidden{% endif %}">
							{% include "_includes/permissions" with {
								userOrGroup: (account.admin ? null : account),
								groupPermissions: craft.userPermissions.getGroupPermissionsByUserId(account.id)
							} only %}
						</div>

						{{ saveUserButtons }}

					</div>
				{% endif %}
			</form>

			{% if craft.hasPackage("Users") and currentUser.can('administrateUsers') and not isNewAccount %}
				<div id="admin" class="hidden">
					<form method="post" action="" accept-charset="UTF-8">
						<input type="hidden" name="userId" value="{{ account.id }}">

						<h2>{{ "User Info"|t }}</h2>

						<table class="data fullwidth">
							<tbody>
								<tr>
									<th class="nowrap">{{ "Account Status"|t }}</th>
									<td>
										<div class="status {{ account.status }}"></div>

										{% if account.status == 'pending' %}
											{{ "Unverified"|t }} 
											<input type="button" class="btn small formsubmit" value="{{ 'Resend Email'|t }}" data-action="users/sendActivationEmail">
										{% elseif account.status == 'locked' %}
											{{ "Locked"|t }} 
											<input type="button" class="btn small formsubmit" value="{{ 'Unlock'|t }}" data-action="users/unlockUser">
										{% elseif account.status == 'suspended' %}
											{{ "Suspended"|t }} 
											<input type="submit" class="btn small formsubmit" value="{{ 'Unsuspend'|t }}" data-action="users/unsuspendUser">
										{% else %}
											{{ "Active"|t }}
										{% endif %}
									</td>
								</tr>
								{% if account.status == 'locked' and craft.config.cooldownDuration %}
									<tr>
										<th class="nowrap">{{ "Cooldown Time Remaining"|t }}</th>
										<td>{{ account.remainingCooldownTime.humanDuration }}</td>
									</tr>
								{% endif %}
								<tr>
									<th class="nowrap">{{ "Registration Date"|t }}</th>
									<td>{{ account.dateCreated.nice }}</td>
								</tr>
								{% if account.status != 'pending' %}
									<tr>
										<th class="nowrap">{{ "Last Login Date"|t }}</th>
										<td>{% if account.lastLoginDate %}{{ account.lastLoginDate.nice }}{% else %}{{ "Never"|t }}{% endif %}</td>
									</tr>

									<tr>
										<th class="nowrap">{{ "Last Invalid Login Date"|t }}</th>
										<td>{% if account.lastInvalidLoginDate %}{{ account.lastInvalidLoginDate.nice }}{% else %}{{ "Never"|t }}{% endif %}</td>
									</tr>

									<tr>
										<th class="nowrap">{{ "Last Password Change Date"|t }}</th>
										<td>{% if account.lastPasswordChangeDate %}{{ account.lastPasswordChangeDate.nice }}{% else %}{{ "Never"|t }}{% endif %}</td>
									</tr>

									<tr>
										<th class="nowrap">{{ "Invalid Login Count"|t }}</th>
										<td>{% if account.invalidLoginCount %}{{ account.invalidLoginCount }}{% else %}0{% endif %}</td>
									</tr>
								{% endif %}
							</tbody>
						</table>

						{% if not account.isCurrent %}
							<hr>

							{% if account.status != 'suspended' %}
									<input type="button" class="btn small formsubmit" value="{{ 'Suspend'|t }}" data-action="users/suspendUser">
							{% endif %}

							{% if currentUser.can('deleteUsers') %}
									<input type="button" class="btn small formsubmit" value="{{ 'Delete'|t }}" data-action="users/deleteUser"
											   data-confirm="{{ 'Are you sure you want to delete this account and all associated content?'|t }}"
											   data-redirect="users/">
							{% endif %}

							{% if currentUser.admin and not account.isCurrent %}
									<input type="button" class="btn small formsubmit" value="{{ 'Login as user'|t }}" data-action="users/impersonate">
							{% endif %}
					{% endif %}
					</form>

				</div>
			{% endif %}
		{% endif %}
	</div>
{% endset %}
