{% extends "_layouts/cp" %}
{% set title = "Accounts"|t ~ (title ? " - " ~ title : '') %}


{% set titlebar %}
	<h1>{{ "Accounts"|t }}</h1>

	<ul class="right">
		<li><div class="textwrapper search"><input type="text" class="text nicetext" data-hint="{{ 'Search users'|t }}"></div></li>
		<li><a href="{{ url('users/new') }}" class="btn" data-icon="+">{{ "New User"|t }}</a></li>
	</ul>
{% endset %}


{% set content %}
	<nav class="nav">
		<ul>
			<li><a href="{{ url('users') }}" {% if blx.request.segment(2) == '' %}class="sel"{% endif %}>{{ "All Users"|t }}</a></li>
			{% set statuses = ['active', 'pending', 'locked', 'suspended'] %}
			{% set statusClasses = ['on', '', 'pending', 'off'] %}
			{% for status in statuses %}
				{% set total = blx.accounts.totalUsers({ 'status': status }) %}
				{% if total %}
					<li><a href="{{ url('users/' ~ status) }}" {% if blx.request.segment(2) == status %}class="sel"{% endif %}><div class="status {{ statusClasses[loop.index0] }}"></div> {{ status|ucfirst|t }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>

	<div>
		<table class="data">
			<thead>
				<th scope="col">{{ "Username"|t }}</th>
				<th scope="col">{{ "Full Name"|t }}</th>
				<th scope="col">{{ "Email"|t }}</th>
				<th scope="col">{{ "Last Login"|t }}</th>
				<th scope="col">{{ "Status"|t }}</th>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td><a href="{{ url('users/' ~ user.id) }}">{{ user.username }}</a></td>
						<td>{{ user.fullname }}</td>
						<td>{% if user.email %}<a href="mailto:{{ user.email }}">{{ user.email }}</a>{% endif %}</td>
						<td>{% if user.last_login_date %}{{ blx.date.nice(user.last_login_date) }}{% else %}{{ "Never"|t }}{% endif %}</td>
						<td>
							{%- if user.status == 'pending' -%}
								<div class="status"></div> {{ "Pending Verification"|t }}
							{%- elseif user.status == 'locked' -%}
								<div class="status pending"></div> {% if blx.config.failedPasswordMode == 'cooldown' %}{{ "Temporarily"|t }}{% endif %} {{ "Locked"|t }}
							{%- elseif user.status == 'suspended' -%}
								<div class="status off"></div> {{ "Suspended"|t }}
							{%- else -%}
								<div class="status on"></div> {{ "Active"|t }}
							{%- endif -%}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endset %}
