{% extends "_layouts/cp" %}
{% set title = "Accounts"|t ~ (title ? " - " ~ title : '') %}

{% set statuses = { 'active': 'on', 'pending': '', 'locked': 'pending', 'suspended': 'off' } %}
{% set showStatus = blx.request.segment(2) not in statuses|keys %}


{% set titlebar %}
	<h1>{{ "Accounts"|t }}</h1>

	<ul class="right">
		<li><div class="textwrapper search"><input type="text" class="text nicetext" data-hint="{{ 'Search users'|t }}"></div></li>
		<li><a href="{{ url('users/new') }}" class="btn" data-icon="+">{{ "New User"|t }}</a></li>
	</ul>
{% endset %}


{% set content %}
	<nav class="nav">
		<ul>
			<li><a href="{{ url('users') }}" {% if blx.request.segment(2) == '' %}class="sel"{% endif %}>{{ "All Users"|t }}</a></li>
			{% for status, class in statuses %}
				{% set total = blx.accounts.totalUsers({ 'status': status }) %}
				{% if total %}
					<li><a href="{{ url('users/' ~ status) }}" {% if blx.request.segment(2) == status %}class="sel"{% endif %}><div class="status {{ class }}"></div> {{ status|ucfirst|t }}</a></li>
				{% endif %}
			{% endfor %}
			<li><a href="{{ url('users/admins') }}" {% if blx.request.segment(2) == 'admins' %}class="sel"{% endif %} data-icon="☻">{{ "Admins"|t }}</a></li>
		</ul>
	</nav>

	<div>
		<table class="data">
			<thead>
				<th scope="col">{{ "Username"|t }}</th>
				<th scope="col">{{ "Full Name"|t }}</th>
				<th scope="col">{{ "Email"|t }}</th>
				<th scope="col">{{ "Last Login"|t }}</th>
				{% if showStatus %}<th scope="col">{{ "Status"|t }}</th>{% endif %}
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td><a href="{{ url('users/' ~ user.id) }}">{{ user.username }}</a></td>
						<td>{{ user.fullname }}</td>
						<td>{% if user.email %}<a href="mailto:{{ user.email }}">{{ user.email }}</a>{% endif %}</td>
						<td>{% if user.last_login_date %}{{ blx.date.nice(user.last_login_date) }}{% else %}{{ "Never"|t }}{% endif %}</td>
						{% if showStatus %}<td><div class="status {{ statuses[user.status] }}"></div> {{ user.status|ucfirst|t }}</td>{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endset %}
