<div class="meta">

	<h2 class="first">{{ 'Craft ID'|t('app') }}</h2>

	{% if not craftIdAccount %}
		<form method="post">
			{{ csrfInput() }}

			<input type="hidden" name="action" value="plugin-store/connect">
			<input type="hidden" name="redirect" value="{{ (user.getIsCurrent() ? 'myaccount' : 'users/{id}')|hash }}">

			<p>{{ 'Connect your Craft ID account to improve your experience.'|t('app') }}</p>

			{% if craftIdError %}
				<p class="error">{{ craftIdError }}</p>
			{% endif %}

				<input type="submit" class="btn submit" value="{{ 'Connect'|t('app') }}">
                {% if not craft.app.request.isSecureConnection %}
					<p class="ssl-status light"><i class="{{ craft.app.request.isSecureConnection ? "secure" : "insecure" }} icon"></i> {{ "Your connection is insecure"|t('app') }}</p>
                {% endif %}
		</form>
	{% else %}

		<ul>
			<li><strong>User Identifier:</strong> {{ craftIdAccount.id }}</li>
			<li><strong>Name:</strong> {{ craftIdAccount.name }}</li>
			<li><strong>Email:</strong> {{ craftIdAccount.email }}</li>
		</ul>

		<div class="buttons">
			<form method="post">
				{{ csrfInput() }}

				<input type="hidden" name="action" value="plugin-store/disconnect">
				<input type="hidden" name="redirect" value="{{ (user.getIsCurrent() ? 'myaccount' : 'users/{id}')|hash }}">

				{% if craftIdError %}
					<p class="error">{{ craftIdError }}</p>
				{% endif %}

				<div class="buttons">
					<input type="submit" class="btn" value="{{ 'Disconnect'|t('app') }}">
				</div>

				{% if not craft.app.request.isSecureConnection %}
					<div class="ssl-status light"><i class="{{ craft.app.request.isSecureConnection ? "secure" : "insecure" }} icon"></i> {{ "Your connection is insecure"|t('app') }}</div>
				{% endif %}
			</form>
		</div>

		<div class="light">
			<ul>
				<li><strong>Token expiry —</strong> {{ craftIdToken.expiryDate|datetime }}</li>
				<li>(Expires in {{ craftIdToken.getRemainingSeconds() }} seconds)</li>
			</ul>
		</div>

	{% endif %}
</div>
