{% if CraftEdition == CraftSolo %}
    {% exit 404 %}
{% endif %}

{% requirePermission 'editUsers' %}

{% extends "_layouts/elementindex" %}
{% set title = "Users"|t('app') %}
{% set elementType = 'craft\\elements\\User' %}

{% set canHaveDrafts = craft.users().drafts().draftOf(false).savedDraftsOnly().exists() %}

{% block actionButton %}
    {% if currentUser.canRegisterUsers() %}
        <a class="btn submit add icon" href="{{ url('users/new') }}">
            {{ 'New {type}'|t('app', {
                type: 'user'|t('app'),
            }) }}
        </a>
    {% endif %}
{% endblock %}

{% if source is defined %}
    {% js %}
    window.defaultSourceSlug = "{{ source|e('js') }}";
    {% endjs %}
{% endif %}
