{layout "_layouts/cp" pageTitle="Users"}

{region "main"}
	<h1>Users</h1>
	<section>
		<h2>Recent Users</h2>
		<ul class="actions">
			<li><a class="btn light" href="{:url.base}users/new" data-icon="n">New user</a></li>
		</ul>

		<ul>
			{foreach users.recent as theUser}
				<li><a href="{:url.base}users/{if theUser.status == 'archived'}view{else}edit{/if}/{:theUser.id}" {if url.segment(3) == theUser.id}class="sel"{/if}><span class="icon icon{if theUser.admin}247{else}243{/if}"></span>{:theUser.fullName}</a></li>
			{/foreach}
		</ul>
	</section>
{/region}
