{% extends "_layouts/cp" %}
{% set title = "Users"|t %}


{% set main %}
	<header class="titlebar">
		<h1>{{ title }}</h1>
	</header>

	<section>
		<h2>{{ "Recent Users"|t }}</h2>
		<ul class="actions">
			<li><a href="{{ blx.url.base }}users/new" class="btn addbtn">{{ "New user"|t }}</a></li>
		</ul>

		<ul>
			{% for user in blx.users.recent %}
				<li><a href="{{ blx.url.base }}users/{{ user.id }}" {% if blx.url.segment(3) == user.id %}class="sel"{% endif %}><span class="icon icon{% if user.admin %}247{% else %}243{% endif %}"></span>{{ user.fullName }}</a></li>
			{% endfor %}
		</ul>
	</section>
{% endset %}
