{% if CraftEdition != CraftPro %}
    {% exit 404 %}
{% endif %}

{% requirePermission 'editUsers' %}

{% extends "_layouts/elementindex" %}
{% set title = "Users"|t('app') %}
{% set elementType = 'craft\\elements\\User' %}

{% block actionButton %}
    {% if currentUser.can('registerUsers') %}
        <a class="btn submit add icon" href="{{ url('users/new') }}">{{ "New user"|t('app') }}</a>
    {% endif %}
{% endblock %}
