<div class="header">
    <span class="selectallcontainer">
        {{ 'Select all'|t('app') }}
    </span>
</div>

<div class="card-grid">
    {% include '_elements/cardsview/elements.twig' %}
</div>
