{% if elements is not empty %}
  <div class="header">
    <span class="selectallcontainer">
      {{ 'Select all'|t('app') }}
    </span>
  </div>

  <ul class="card-grid">
    {% include '_elements/cardsview/elements.twig' %}
  </ul>
{% else %}
  <div class="zilch small">{{ 'Nothing yet.'|t('app') }}</div>
{% endif %}
