{% from "_includes/forms" import checkboxSelectField %}

{% set sectionOptions = [] %}
{% for section in craft.sections.getAllSections() %}
	{% set sectionOptions = sectionOptions|merge([{ label: section.name, value: section.id }]) %}
{% endfor %}
{% if craft.hasPackage('PublishPro') %}
	{{ checkboxSelectField({
		label: "Sections"|t,
		instructions: "Which sections do you want to link entries from?"|t,
		id: 'sectionId',
		name: 'sectionId',
		options: sectionOptions,
		values: settings.sectionId
	}) }}
{% endif %}
