#main { margin-left: 0; margin-right: 0; }
#main table { width: 100%; }
#main table thead th { padding: 0 0 4px 20px; border-bottom: 1px solid #ccc; }
#main table tbody th { padding: 10px 0 3px 20px; color: #999; }
#main table tbody td { padding: 3px 0 3px 20px; }
#main table th:first-child,
#main table td:first-child { padding-left: 96px; }
#main table th:first-child,
#main table td:first-child { padding-right: 40px; }
#main table span.toggle { margin: 2px 0 0 -14px; }
#main table span.status { margin: 2px 4px 0 0; }
