{% set drafts = blx.entryRevisions.getEditableDraftsByEntryId(entry.id) %}
{% set versions = blx.entryRevisions.getVersionsByEntryId(entry.id) %}

<div class="btn menubtn" data-icon="v">{{ revisionLabel }}</div>

<div class="menu menulist" data-align="right">
	<ul>
		<li><a{% if entry.classHandle == 'Entry' %} class="active"{% endif %} href="{{ entry.cpEditUrl }}">{{ "Current"|t }}</a></li>
	</ul>

	<h2>{{ "Drafts"|t }}</h2>
	{% if not drafts %}
		<span class="light">{{ "No drafts exist right now."|t }}</span>
	{% else %}
		<ul>
			{% for draft in drafts %}
				<li><a{% if entry.classHandle == 'EntryDraft' and draft.draftId == draftId %} class="active"{% endif %} href="{{ entry.cpEditUrl }}/drafts/{{ draft.draftId }}">
					{{ "Draft {id}"|t({ id: draft.draftId }) }}
					{% if blx.hasPackage('Users') %}
						<span class="light">{{ draft.creator }}</span>
					{% endif %}
				</a></li>
			{% endfor %}
		</ul>
	{% endif %}

	<h2>{{ "Versions"|t }}</h2>

	{% if not versions %}
		<span class="light">{{ "No versions exist yet."|t }}</span>
	{% else %}
		<ul>
			{% for version in versions %}
				<li><a{% if entry.classHandle == 'EntryVersion' and version.versionId == versionId %} class="active"{% endif %} href="{{ entry.cpEditUrl }}/versions/{{ version.versionId }}">
					{{ "Version {id}"|t({ id: version.versionId }) }}
					{% if blx.hasPackage('Users') %}
						<span class="light">{{ version.creator }}</span>
					{% endif %}
				</a></li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
