{% extends "content/_layout" %}
{% set tab = 'entries' %}
{% set title = "Entries"|t %}


{% if blx.hasPackage('PublishPro') %}
	{% set sections = blx.sections.editable(true).indexBy('id').find %}
	{% set sectionHandles = [] %}
	{% set newEntrySections = [] %}

	{% for section in sections %}
		{% set sectionHandles = sectionHandles|merge([section.handle]) %}

		{% if user.can('createEntriesInSection'~section.id) %}
			{% set newEntrySections = newEntrySections|merge([section]) %}
		{% endif %}
	{% endfor %}

	{% set showSection = true %}
{% else %}
	{% set showSection = false %}
{% endif %}


{% set statuses = { live: 'on', pending: 'pending', disabled: '', expired: 'off' } %}
{% set showStatus = true %}


{% if filter is not defined %}
	{% set filter = null %}
	{% set params = { status: '*' } %}
{% elseif filter in statuses|keys %}
	{% set params = { status: filter } %}
	{% set showStatus = false %}
{% elseif filter == 'archived' %}
	{% set params = { archived: true } %}
	{% set showStatus = false %}
{% elseif blx.hasPackage('PublishPro') and filter in sectionHandles %}
	{% set params = { section: filter, status: '*' } %}
	{% set showSection = false %}
{% else %}
	{% exit 404 %}
{% endif %}


{% if showSection %}
	{% set params = params|merge({ sectionId: sections|keys }) %}
{% endif %}


{% set content %}
	{% if not blx.hasPackage('PublishPro') or sections|length %}
		<nav class="nav">
			{% if blx.hasPackage('PublishPro') %}
				{% if newEntrySections|length %}
					<div class="buttons">
						{% if newEntrySections|length > 1 %}
							<div class="btn submit menubtn add icon">{{ "New Entry"|t }}</div>
							<div class="menu">
								<ul>
									{% for section in newEntrySections %}
										<li><a href="{{ url('content/' ~ section.handle ~ '/new') }}">{{ section.name|t }}</a></li>
									{% endfor %}
								</ul>
							</div>
						{% else %}
							<a class="btn submit add icon" href="{{ url('content/'~sections[sections|keys[0]].handle~'/new') }}">{{ "New Entry"|t }}</a>
						{% endif %}
					</div>
				{% endif %}
			{% else %}
				{% if user.can('createEntries') %}
					<div class="buttons">
						<a class="btn submit add icon" href="{{ url('content/blog/new') }}">{{ "New Entry"|t }}</a>
					</div>
				{% endif %}
			{% endif %}

			<ul>
				<li><a href="{{ url('content') }}" {% if not filter %}class="sel"{% endif %}>{{ "All Entries"|t }}</a></li>

				{% if blx.hasPackage('PublishPro') %}
					{% for section in sections %}
						<li><a href="{{ url('content/' ~ section.handle) }}" {% if filter == section.handle %}class="sel"{% endif %}>{{ section.name|t }}</a></li>
					{% endfor %}
				{% endif %}

				{% for status, class in statuses %}
					{% if blx.entries.status(status).editable(true).total %}
						<li><a href="{{ url('content/' ~ status) }}" {% if filter == status %}class="sel"{% endif %}><div class="status {{ class }}"></div> {{ status|ucfirst|t }}</a></li>
					{% endif %}
				{% endfor %}

				{% set archivedParams = { archived: true } %}
				{% if blx.hasPackage('PublishPro') %}
					{% set archivedParams = archivedParams|merge({ section: sectionHandles }) %}
				{% endif %}
				{% if blx.entries.archived(true).editable(true).total %}
					<li><a href="{{ url('content/archive') }}" {% if filter == 'archive' %}class="sel"{% endif %} data-icon="d">{{ "Archived"|t }}</a></li>
				{% endif %}
			</ul>
		</nav>

		<div>
			<div class="toolbar">
				<div class="search"><input type="text" class="text nicetext fullwidth" data-hint="{{ 'Search entries'|t }}"></div>
			</div>

			{% paginate blx.entries(params).editable(true).limit(50) as entries %}

				<p id="noentries"{% if entries|length %} class="hidden"{% endif %}>
					{{ "No entries exist yet."|t }}
				</p>

				{% if entries|length %}

					{% include "_includes/paginatelinks" with { type: "entries"|t } %}

					{% set totalCols = 2 + (showStatus ? 1 : 0) + (showSection ? 1 : 0) %}
					{% set colWidth = round(100 / totalCols) %}
					<table id="entries" class="data">
						<thead>
							<th scope="col" width="{{ colWidth }}%">{{ "Title"|t }}</th>
							<th scope="col" width="{{ colWidth }}%">{{ "Slug"|t }}</th>
							{% if showSection %}<th scope="col" width="{{ colWidth }}%">{{ "Section"|t }}</th>{% endif %}
							{% if showStatus %}<th scope="col" width="{{ colWidth }}%">{{ "Status"|t }}</th>{% endif %}
							<td class="thin"></td>
						</thead>
						<tbody>
							{% for entry in entries %}
								{% if blx.hasPackage('PublishPro') %}
									{% set entrySection = sections[entry.sectionId] %}
								{% endif %}
								<tr data-id="{{ entry.id }}" data-name="{{ entry.title|t }}">
									<th scope="row"><a href="{{ entry.cpEditUrl }}">{{ entry.title }}</a></th>
									<td><a href="{{ entry.url }}">{{ entry.slug }}</a></td>
									{% if showSection %}<td>{{ entrySection.name }}</th>{% endif %}
									{% if showStatus %}<td><div class="status {{ statuses[entry.status] }}"></div> {{ entry.status|ucfirst|t }}</td>{% endif %}
									<td class="thin">
										{% if entry.authorId == user.id or user.can('deletePeerEntries'~(blx.hasPackage('PublishPro') ? 'InSection'~entry.sectionId : '')) %}
											<a class="delete icon" title="{{ 'Delete'|t }}"></a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}

			{% endpaginate %}
		</div>
	{% else %}
		<p class="centeralign">
			{{ "No sections exist yet."|t }}
			{% if user.admin %}
				<a class="go" href="{{ url('settings/sections/new') }}">{{ "Create the first one"|t }}</a>
			{% endif %}
		</p>
	{% endif %}
{% endset %}


{% set js %}
	new Blocks.ui.AdminTable({
		tableSelector: '#entries',
		noObjectsSelector: '#noentries',
		deleteAction: 'entries/deleteEntry'
	});
{% endset %}
{% includeJs js %}
