{% extends "content/_layout" %}
{% set tab = 'entries' %}
{% set title = "Entries"|t %}


{% if blx.hasPackage('PublishPro') %}
	{% set sections = blx.sections.find %}
	{% set showSection = true %}
{% else %}
	{% set showSection = false %}
{% endif %}


{% set statuses = { live: 'on', pending: 'pending', disabled: '', expired: 'off' } %}
{% set showStatus = true %}


{% if filter is not defined %}
	{% set filter = null %}
	{% set params = { status: '*' } %}
{% elseif filter in statuses|keys %}
	{% set params = { status: filter } %}
	{% set showStatus = false %}
{% elseif filter == 'archived' %}
	{% set params = { archived: true } %}
	{% set showStatus = false %}
{% elseif blx.hasPackage('PublishPro') and blx.sections.handle(filter).total %}
	{% set params = { section: filter, status: '*' } %}
	{% set showSection = false %}
{% else %}
	{% exit 404 %}
{% endif %}


{% set content %}
	{% if not blx.hasPackage('PublishPro') or sections|length %}
		<nav class="nav">
			<div class="buttons">
				{% if blx.hasPackage('PublishPro') %}
					{% if sections|length > 1 %}
						<div class="btn submit menubtn add icon">{{ "New Entry"|t }}</div>
						<div class="menu">
							<ul>
								{% for section in sections %}
									<li><a href="{{ url('content/' ~ section.handle ~ '/new') }}">{{ section.name|t }}</a></li>
								{% endfor %}
							</ul>
						</div>
					{% else %}
						<a class="btn submit add icon" href="{{ url('content/'~sections[0].handle~'/new') }}">{{ "New Entry"|t }}</a>
					{% endif %}
				{% else %}
					<a class="btn submit add icon" href="{{ url('content/blog/new') }}">{{ "New Entry"|t }}</a>
				{% endif %}
			</div>

			<ul>
				<li><a href="{{ url('content') }}" {% if not filter %}class="sel"{% endif %}>{{ "All Entries"|t }}</a></li>

				{% if blx.hasPackage('PublishPro') %}
					{% for section in sections %}
						<li><a href="{{ url('content/' ~ section.handle) }}" {% if filter == section.handle %}class="sel"{% endif %}>{{ section.name|t }}</a></li>
					{% endfor %}
				{% endif %}

				{% for status, class in statuses %}
					{% set total = blx.entries.status(status).total %}
					{% if total %}
						<li><a href="{{ url('content/' ~ status) }}" {% if filter == status %}class="sel"{% endif %}><div class="status {{ class }}"></div> {{ status|ucfirst|t }}</a></li>
					{% endif %}
				{% endfor %}

				{% if blx.entries.archived(true).total %}
					<li><a href="{{ url('content/archive') }}" {% if filter == 'archive' %}class="sel"{% endif %} data-icon="d">{{ "Archived"|t }}</a></li>
				{% endif %}
			</ul>
		</nav>

		{% set entries = blx.entries.find(params) %}

		<div>
			<div class="toolbar">
				<div class="search"><input type="text" class="text nicetext fullwidth" data-hint="{{ 'Search entries'|t }}"></div>
			</div>

			<p id="noentries"{% if entries|length %} class="hidden"{% endif %}>
				{{ "No entries exist yet."|t }}
			</p>

			{% if entries|length %}
				{% set totalCols = 2 + (showStatus ? 1 : 0) + (showSection ? 1 : 0) %}
				{% set colWidth = round(100 / totalCols) %}
				<table id="entries" class="data">
					<thead>
						<th scope="col" width="{{ colWidth }}%">{{ "Title"|t }}</th>
						<th scope="col" width="{{ colWidth }}%">{{ "Slug"|t }}</th>
						{% if showSection %}<th scope="col" width="{{ colWidth }}%">{{ "Section"|t }}</th>{% endif %}
						{% if showStatus %}<th scope="col" width="{{ colWidth }}%">{{ "Status"|t }}</th>{% endif %}
						<td class="thin"></td>
					</thead>
					<tbody>
						{% for entry in entries %}
							{% if blx.hasPackage('PublishPro') %}
								{% set entrySection = sections[entry.sectionId] %}
							{% endif %}
							<tr data-id="{{ entry.id }}" data-name="{{ entry.title|t }}">
								<th scope="row"><a href="{{ entry.cpEditUrl }}">{{ entry.title }}</a></th>
								<td><a href="{{ entry.url }}">{{ entry.slug }}</a></td>
								{% if showSection %}<td>{{ entrySection.name }}</th>{% endif %}
								{% if showStatus %}<td><div class="status {{ statuses[entry.status] }}"></div> {{ entry.status|ucfirst|t }}</td>{% endif %}
								<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	{% else %}
		<p class="centeralign">
			{{ "No sections exist yet."|t }}
			<a class="go" href="{{ url('settings/sections/new') }}">{{ "Create the first one"|t }}</a>
		</p>
	{% endif %}
{% endset %}


{% set js %}
	new Blocks.ui.AdminTable({
		tableSelector: '#entries',
		noObjectsSelector: '#noentries',
		deleteAction: 'entries/deleteEntry'
	});
{% endset %}
{% includeJs js %}
