{% extends "_layouts/cp" %}
{% set title = "Content"|t %}
{% includeCssResource "css/sitemap.css" %}
{% includeJsResource "js/sitemap.js" %}


{% set header %}
	<h1>{{ title }}</h1>
	<ul class="right">
		<li class="btngroup">
			<a href="" class="btn active" data-icon="⽊" title="{{ 'Tree view'|t }}"></a>
			<a href="" class="btn" data-icon="•" title="{{ 'List view'|t }}"></a>
		</li>
	</ul>
{% endset %}

{% set content %}
	<div id="sitemap">

		<div id="home" class="tier">
			<div class="nodes">
				<a class="node page">
					<img src="{{ resourceUrl('images/screenshots/Home.png') }}">
					<div class="title">{{ "Home"|t }}</div>
				</a>
			</div>
		</div>

		<div class="tier" id="tier">
			<div class="nodes">
				<div class="node section">
					<div class="peephole">
						<img src="{{ resourceUrl('images/screenshots/CaseStudies/Agency.png') }}" style="margin-left: -39px">
						<img src="{{ resourceUrl('images/screenshots/CaseStudies/Navy.png') }}">
						<img src="{{ resourceUrl('images/screenshots/CaseStudies/REDI.png') }}" style="margin-right: -39px">
					</div>
					<div class="title">{{ "Case Studies"|t }}</div>
				</div>

				<div class="node section">
					<div class="peephole">
						<img src="{{ resourceUrl('images/screenshots/UI/Chimaeric.png') }}" style="margin-left: -39px">
						<img src="{{ resourceUrl('images/screenshots/UI/Pure.png') }}">
						<img src="{{ resourceUrl('images/screenshots/UI/MessageMarker.png') }}" style="margin-right: -39px">
					</div>
					<div class="title">{{ "Design & User Interface"|t }}</div>
				</div>

				<a class="node page">
					<img src="{{ resourceUrl('images/screenshots/Services.png') }}">
					<div class="title">{{ "Services"|t }}</div>
				</a>

				<a class="node page">
					<img src="{{ resourceUrl('images/screenshots/About.png') }}">
					<div class="title">{{ "About"|t }}</div>
				</a>

				<div class="node section">
					<div class="peephole">
						<img src="{{ resourceUrl('images/screenshots/Blog/Usability.png') }}" style="margin-left: -2px">
						<img src="{{ resourceUrl('images/screenshots/Blog/HelloWorld.png') }}" style="margin-right: -2px">
					</div>
					<div class="title">{{ "Blog"|t }}</div>
				</div>
			</div>
		</div>
	</div>
{% endset %}


{% set js %}
	new Blocks.Tier('#tier');

	//var home = new Blocks.SiteMapPage('Home.png', 'Home');
	//home.addSubpage('About.png', 'About');
{% endset %}
{% includeJs js %}
