{% from '_includes/forms' import text %}

{{ hiddenInput("#{field.handle}[locale]", craft.app.language) }}

<div class="flex">
    {% if field.prefix %}
        <div>
            {{ field.prefix|md(inlineOnly=true)|raw }}
        </div>
    {% endif %}
    <div>
        {{ text({
            name: field.handle ~ '[value]',
            value: value,
            inputmode: field.decimals ? 'decimal' : 'numeric',
            size: field.size
        }) }}
    </div>
    {% if field.suffix %}
        <div>
            {{ field.suffix|md(inlineOnly=true)|raw }}
        </div>
    {% endif %}
</div>
