<div class="item field">
	<label for="options" class="required">Checkbox Options</label>
	<p>Place each option on a new line. If you want to give an option a custom label, use the format “<code>OptionValue : OptionLabel</code>”.</p>
	<div class="input-wrapper"><textarea id="options" {% if errors.options %}class="error"{% endif %} name="options" cols="100" rows="10">{settings.options.join("\n")}</textarea></div>
	{% if errors.options %}
		{% include "_includes/error_list" errors=errors.options %}
	{% endif %}
</div>
