<div class="files listview">
	<table class="data">
		<thead>
			<th scope="col">{{ "Name"|t }}</th>
			<th scope="col">{{ "Date Modified"|t }}</th>
			<th scope="col">{{ "Size"|t }}</th>
		</thead>
		<tbody>
            {% for file in files %}
                <tr class="assets-list-row">
                    <td><img src="{{ file.getThumbnailUrl(24) }}" alt="{{ file.filename }}" class="open-file" data-file="{{ file.id }}"/> <span class="open-file" data-file="{{ file.id }}">{{ file.filename }}</span></td>
                    <td>{{ file.dateModified.format("Y-m-d H:i:s")|datetime }}</td>
                    <td>{{ file.size|filesize }}</td>
                </tr>
            {% endfor %}
		</tbody>
	</table>
</div>
