{% set thumbSize = 24 %}

<div class="files listview">
	<table class="data collapsible">
		<thead>
			<th scope="col" data-ordeby="filename" class="assets-lv-filename {% if orderBy == "filename" %}assets-lv-sorting assets-lv-{{ sort }}{% endif %}">{{ "Name"|t }}</th>
			<th scope="col" data-orderby="dateModified" class="assets-lv-dateModified {% if orderBy == "dateModified" %}assets-lv-sorting assets-lv-{{ sort }}{% endif %}">{{ "Date Modified"|t }}</th>
			<th scope="col" data-orderby="size" class="assets-lv-size {% if orderBy == "size" %}assets-lv-sorting assets-lv-{{ sort }}{% endif %}">{{ "Size"|t }}</th>
		</thead>
		<tbody>
			{% for file in files %}
				<tr class="assets-list-row" data-id="{{ file.id }}" data-fileName="{{ file.filename }}" data-folder="{{ file.folderId }}" data-url="{{ file.url }}">
					<td data-title="{{ 'Name'|t }}">
                        <div class="thumb-wrapper wrapper-{{ file.id }}"><div class="list-thumb thumb-{{ file.id }}"></div></div>
						<div class="file-name">{{ file.filename }}</div></td>
					<td data-title="{{ 'Date Modified'|t }}">{% if file.dateModified %}{{ file.dateModified.format("Y-m-d H:i:s")|datetime }}{% endif %}</td>
					<td data-title="{{ 'Size'|t }}">{% if file.size %}{{ file.size|filesize }}{% endif %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% set thumbCss = '' %}
{% set hiResThumbCss = '' %}
{% for file in files %}
		{% set thumbCss      = thumbCss      ~ '.thumb-'~file.id~' { background-image: url('~file.getIconUrl(thumbSize)~'); height: '~thumbSize~'px; width: '~thumbSize~"px;}\n" %}
		{% set hiResThumbCss = hiResThumbCss ~ '.thumb-'~file.id~' { background-image: url('~file.getIconUrl(thumbSize * 2)~'); background-size: '~thumbSize~'px '~thumbSize~"px; }\n" %}
{% endfor %}

{% includeCss thumbCss %}
{% includeHiResCss hiResThumbCss %}

{{ getHeadHtml() }}
