{% set thumbSize = 125 %}
{% set thumbSize2X = 250 %}

<div class="files thumbs">
	<ul>
        {# for folder in folders %}
            <li class="open-folder" data-folder="{{ folder.id }}">
                <div class="thumb folder"></div>
                <div class="filename">{{ folder.name }}</div>
            </li>
        {%  endfor #}
		{% for file in files %}
			<li class="open-file" data-file="{{ file.id }}">
				<div class="thumb thumb-{{ file.id }}"></div>
				<div class="filename">{{ file.filename }}</div>
			</li>
		{% endfor %}
	</ul>
</div>

{% set thumbCss = '' %}
{% set hiResThumbCss = '' %}
{% for file in files %}
    {% if file.kind == 'image' %}
        {% if file.width > file.height %}
            {% set thumbWidth = thumbSize %}
            {% set thumbHeight = (thumbSize / file.width) * file.height %}
        {% else %}
            {% set thumbHeight = thumbSize %}
            {% set thumbWidth = (thumbSize / file.height) * file.width %}
        {% endif %}

        {% set thumbCss      = thumbCss      ~ '.thumb-'~file.id~' { background-image: url('~file.getThumbUrl(thumbSize)~"); }\n" %}
        {% set hiResThumbCss = hiResThumbCss ~ '.thumb-'~file.id~' { background-image: url('~file.getThumbUrl(thumbSize2X)~'); background-size: '~thumbWidth~'px '~thumbHeight~"px; }\n" %}
    {% endif %}
{% endfor %}

{% includeCss thumbCss %}
{% includeHiResCss hiResThumbCss %}

{{ getHeadHtml() }}
