
<div class="files thumbs">
	<ul>
        {# for folder in folders %}
            <li class="open-folder" data-folder="{{ folder.id }}">
                <div class="thumb folder"></div>
                <div class="filename">{{ folder.name }}</div>
            </li>
        {%  endfor #}
		{% for file in files %}
			<li class="open-file" data-file="{{ file.id }}">
				<div class="thumb thumb-{{ file.id }}"></div>
				<div class="filename">{{ file.filename }}</div>
			</li>
		{% endfor %}
	</ul>
</div>

{% set assetCss %}
    {% for file in files %}
    .thumb-{{ file.id }} { background-image: url({{ file.getThumbUrl(125) }}); }
    {% endfor %}
{% endset %}

{% set assetHiresCss %}
    {% for file in files %}
        .thumb-{{ file.id }} { background-image: url({{ file.getThumbUrl(250) }}); background-size: 125px 125px;}
    {% endfor %}
{% endset %}

{% includeCss assetCss %}
{% includeHiResCss assetHiresCss %}

{{ getHeadNodes()|raw }}
