APP_ID=CraftCMS
APP_DEBUG=true
APP_ENV=local
CRAFT_SECURITY_KEY=UPzGqJJMCTM4n07jkqaFNaVoof6j_Xfo
APP_KEY=base64:6BDzvwO4hrN7Twv6/gaQ6oZMB/CvpUArZXho189U75E=

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=craft_tests_foo
DB_USERNAME=postgres
DB_PASSWORD=password
DB_SCHEMA=public

FROM_EMAIL_NAME="Craft CMS"
FROM_EMAIL_ADDRESS=info@craftcms.com

AUTH_MODEL=\CraftCms\Cms\User\Models\User
