{% layout "_layouts/full" pageTitle="Blocks Setup" %}

{% region "styles" %}
	{% include "_includes/css_include" file="styles/setup.css" %}
{% endregion %}

{% region "main" %}

	<form id="form" method="post" action="">
		<div class="pane">
			<div class="head"><h5>Blocks Setup Wizard</h5></div>
			<div class="body">
				<div class="sidebar">
					<ol class="nav">
						<li><a class="{% if step == 'LicenseKey' %}sel{% endif %}"><span class="step">1</span>Introduction</a></li>
						<li><a class="{% if step == 'Site' %}sel{% endif %}"><span class="step">2</span>Setup your site</a></li>
						<li><a class="{% if step == 'Account' %}sel{% endif %}"><span class="step">3</span>Create your account</a></li>
					</ol>
				</div>
				<div class="step-contents">
					{stepContents}
				</div>
				<div class="step-nav">
					{% if step != 'LicenseKey' %}
						<div class="left">
							<input id="go-back" class="btn big" type="button" value="Back" />
						</div>
					{% endif %}
					<div class="right">
						<input class="btn big submit" type="submit" value="{% if step != 'Account' %}Next{% else %}Finish setup{% endif %}" />
					</div>
				</div>
			</div>
		</div>
	</form>

{% endregion %}

{% region "scripts" %}
	<script type="text/javascript">
		var form = document.forms['form'],
			$errorInputs = $(form.elements).filter('.error:first');
		if ($errorInputs.length)
			$errorInputs.focus();
		else
			form.elements[0].focus();

		$('#go-back').click(function() {
			form.action += '?goback=1';
			form.submit();
		});
	</script>
{% endregion %}
