{layout "_layouts/full" pageTitle="Blocks Setup"}

{region "styles"}
	{include "_includes/css_include" file="styles/setup.css"}
{/region}

{region "main"}

	<form id="form" method="post" action="">
		<div class="pane">
			<div class="pane-head"><h5>Blocks Setup Wizard</h5></div>
			<div class="pane-body">
				<div class="sidebar">
					<ul>
						<li><a class="{if step == 'LicenseKey'}sel{/if}"><span class="step">1</span>Introduction</a></li>
						<li><a class="{if step == 'Site'}sel{/if}"><span class="step">2</span>Setup your site</a></li>
						<li><a class="{if step == 'Account'}sel{/if}"><span class="step">3</span>Create your account</a></li>
					</ul>
				</div>
				<div class="step-contents">
					{:stepContents}
				</div>
				<div class="step-nav">
					{if step != 'LicenseKey'}
						{if step == 'Site'}
							{set backLink = b.url.url('setup')}
						{else}
							{if step == 'Account'}
								{set backLink = b.url.url('setup/site')}
							{/if}
						{/if}
						<div class="left">
							<a href="{:backLink}" class="btn big"><span class="label">Back</span></a>
						</div>
					{/if}
					<div class="right">
						<input class="btn big submit" type="submit" value="{if step != 'Account'}Next{else}Finish setup{/if}" />
					</div>
				</div>
			</div>
		</div>
	</form>

{/region}

{region "scripts"}
	<script type="text/javascript">
		var form = document.forms['form'],
			$errorInputs = $(form.elements).filter('.error:first');
		if ($errorInputs.length)
			$errorInputs.focus();
		else
			form.elements[0].focus();

		$('#go-back').click(function() {
			form.action += '?goback=1';
			form.submit();
		});
	</script>
	{:scripts}
{/region}
