{% if section.type != 'single' %}
	{% from "_includes/forms" import textField %}

	{{ textField({
		label: entryType.titleLabel|t,
		id: 'title',
		name: 'title',
		value: entry.title,
		errors: entry.getErrors('title'),
		first: (showEntryTypes ? false : true),
		autofocus: true,
		required: true
	}) }}
{% endif %}

<div>
	{% for tab in entryType.getFieldLayout().getTabs() %}
		<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
			{% include "_includes/fields" with {
				fields: tab.getFields(),
				element: entry
			} only %}
		</div>
	{% endfor %}
</div>
