{% extends "_layouts/cp" %}
{% set title = "Entries"|t %}


{% set sections = craft.sections.getEditableSections('id') %}
{% set sectionHandles = [] %}
{% set newEntrySections = [] %}

{% for section in sections %}
	{% set sectionHandles = sectionHandles|merge([section.handle]) %}

	{% if user.can('createEntries:'~section.id) %}
		{% set newEntrySections = newEntrySections|merge([section]) %}
	{% endif %}
{% endfor %}


{% if craft.hasPackage('PublishPro') %}
	{% set showSection = true %}
{% else %}
	{% set showSection = false %}
{% endif %}


{% set statuses = { live: 'on', pending: 'pending', disabled: '', expired: 'off' } %}
{% set showStatus = true %}


{% if filter is not defined %}
	{% set filter = null %}
	{% set params = { status: '*' } %}
{% elseif filter in statuses|keys %}
	{% set params = { status: filter } %}
	{% set showStatus = false %}
{% elseif filter == 'archived' %}
	{% set params = { archived: true } %}
	{% set showStatus = false %}
{% elseif craft.hasPackage('PublishPro') and filter in sectionHandles %}
	{% set params = { section: filter, status: '*' } %}
	{% set showSection = false %}
{% else %}
	{% exit 404 %}
{% endif %}


{% if showSection %}
	{% set params = params|merge({ sectionId: sections|keys }) %}
{% endif %}


{% if sections|length %}

	{% set firstSection = sections[sections|keys[0]] %}

	{% set sidebar %}
		{% if craft.hasPackage('PublishPro') %}
			{% if newEntrySections|length %}
				<div class="buttons">
					{% if newEntrySections|length > 1 %}
						<div class="btn submit menubtn add icon">{{ "New Entry"|t }}</div>
						<div class="menu">
							<ul>
								{% for section in newEntrySections %}
									<li><a href="{{ url('entries/'~section.handle~'/new') }}">{{ section.name|t }}</a></li>
								{% endfor %}
							</ul>
						</div>
					{% else %}
						<a class="btn submit add icon" href="{{ url('entries/'~firstSection.handle~'/new') }}">{{ "New Entry"|t }}</a>
					{% endif %}
				</div>
			{% endif %}
		{% else %}
			{% if user.can('createEntries') %}
				<div class="buttons">
					<a class="btn submit add icon" href="{{ url('entries/'~firstSection.handle~'/new') }}">{{ "New Entry"|t }}</a>
				</div>
			{% endif %}
		{% endif %}

		<nav>
			<ul>
				<li><a href="{{ url('entries') }}" {% if not filter %}class="sel"{% endif %}>{{ "All Entries"|t }}</a></li>

				{% if craft.hasPackage('PublishPro') %}
					{% for section in sections %}
						<li><a href="{{ url('entries/'~section.handle) }}" {% if filter == section.handle %}class="sel"{% endif %}>{{ section.name|t }}</a></li>
					{% endfor %}
				{% endif %}

				{# for status, class in statuses %}
					{% if craft.entries.status(status).editable(true).total %}
						<li><a href="{{ url('entries/'~status) }}" {% if filter == status %}class="sel"{% endif %}><div class="status {{ class }}"></div> {{ status|ucfirst|t }}</a></li>
					{% endif %}
				{% endfor %}

				{% set archivedParams = { archived: true } %}
				{% if craft.hasPackage('PublishPro') %}
					{% set archivedParams = archivedParams|merge({ section: sectionHandles }) %}
				{% endif %}
				{% if craft.entries.archived(true).editable(true).total %}
					<li><a href="{{ url('entries/archive') }}" {% if filter == 'archive' %}class="sel"{% endif %} data-icon="d">{{ "Archived"|t }}</a></li>
				{% endif #}
			</ul>
		</nav>
	{% endset %}

	{% set content %}
		<div class="toolbar">
			<div class="search"><input type="text" class="text nicetext fullwidth" data-hint="{{ 'Search entries'|t }}"></div>
		</div>

		{% if filter %}
			{% set section = craft.sections.getSectionByHandle(filter) %}
			{% set sectionTitleLabel = section.titleLabel %}
		{% else %}
			{% if craft.hasPackage('PublishPro') %}
				{% set sectionTitleLabel = "Title"|t %}
			{% else %}
				{% set sections = craft.sections.getAllSections() %}
				{% set sectionTitleLabel = sections[0].titleLabel %}
			{% endif %}
		{% endif %}

		{% paginate craft.entries(params).editable(true).limit(50) as entries %}

			<p id="noentries"{% if entries|length %} class="hidden"{% endif %}>
				{{ "No entries exist yet."|t }}
			</p>

			{% if entries|length %}

				{% include "_includes/paginatelinks" with { type: "entries"|t } %}

				{% set totalCols = 2 + (showStatus ? 1 : 0) + (showSection ? 1 : 0) %}
				{% set colWidth = round(100 / totalCols) %}
				<table id="entries" class="data collapsible">
					<thead>
						<th scope="col" width="{{ colWidth }}%">{{ sectionTitleLabel }}</th>
						<th scope="col" width="{{ colWidth }}%">{{ "Slug"|t }}</th>
						{% if showSection %}<th scope="col" width="{{ colWidth }}%">{{ "Section"|t }}</th>{% endif %}
						{% if showStatus %}<th scope="col" width="{{ colWidth }}%">{{ "Status"|t }}</th>{% endif %}
						<td class="thin"></td>
					</thead>
					<tbody>
						{% for entry in entries %}
							{% if craft.hasPackage('PublishPro') %}
								{% set entrySection = sections[entry.sectionId] %}
							{% endif %}
							<tr data-id="{{ entry.id }}" data-name="{{ entry.title|t }}">
								<th scope="row" data-title="{{ 'Title'|t }}"><a href="{{ entry.cpEditUrl }}">{{ entry.title }}</a></th>
								<td data-title="{{ 'Slug'|t }}"><a href="{{ entry.url }}">{{ entry.slug }}</a></td>
								{% if showSection %}<td data-title="{{ 'Section'|t }}">{{ entrySection.name }}</th>{% endif %}
								{% if showStatus %}<td data-title="{{ 'Status'|t }}"><div class="status {{ statuses[entry.status] }}"></div> {{ entry.status|ucfirst|t }}</td>{% endif %}
								<td class="thin">
									{% if entry.authorId == user.id or user.can('deletePeerEntries:'~entry.sectionId) %}
										<a class="delete icon" title="{{ 'Delete'|t }}"></a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}

		{% endpaginate %}
	{% endset %}
{% else %}
	{% set content %}
		<p class="centeralign">
			{{ "No sections exist yet."|t }}
			{% if user.admin %}
				<a class="go" href="{{ url('settings/sections/new') }}">{{ "Create the first one"|t }}</a>
			{% endif %}
		</p>
	{% endset %}
{% endif %}


{% set js %}
	new Craft.AdminTable({
		tableSelector: '#entries',
		noObjectsSelector: '#noentries',
		deleteAction: 'entries/deleteEntry'
	});
{% endset %}
{% includeJs js %}
