{% extends "_layouts/cp" %}
{% set title = "Users"|t ~ " - " ~ user.username ~ " - " ~ pageTitle %}
{% include_css "user.css" %}


{% if user.id %}
	{% if user.id == blx.accounts.current.id %}
		{% set heading = "My Account"|t %}
	{% else %}
		{% set lastChar = user.fullName|slice(user.fullName|length-1) %}
		{% set heading = user.fullName ~ (lastChar|lower == "s" ? "’" : "’s") ~ "Account"|t %}
	{% endif %}
{% else %}
	{% set heading = "Register a new user"|t %}
{% endif %}


{% set main %}
	<header class="titlebar">
		<h1>{{ heading }}</h1>
	</header>

	{% if user.id %}
		<nav class="nav">
			<ul>
				<li {% if blx.request.segment(3) == '' %}class="sel"{% endif %}><a href="{{ url('users/' ~ user.id) }}" data-icon="⚙">{{ "Account Settings"|t }}</a></li>
				<li {% if blx.request.segment(3) == 'profile' %}class="sel"{% endif %}><a href="{{ url('users/' ~ user.id ~ '/profile') }}" data-icon="p">{{ "Profile"|t }}</a></li>
				<li {% if blx.request.segment(3) == 'info' %}class="sel"{% endif %}><a href="{{ url('users/' ~ user.id ~ '/info') }}" data-icon="i">{{ "User Info"|t }}</a></li>

				{% if blx.accounts.current.admin %}
					<li {% if blx.request.segment(3) == 'admin' %}class="sel"{% endif %}><a href="{{ url('users/' ~ user.id ~ '/admin') }}" data-icon="☻">{{ "Administration"|t }}</a></li>
				{% endif %}
			</ul>
		</nav>
	{% endif %}

	<div>{{ settings }}</div>
{% endset %}
