{% layout "_layouts/sidebar" bodyClass=bodyClass main=main scripts=scripts %}
{% region "pageTitle" %}Users – {pageTitle}{% endregion %}

{% region "styles" %}
	{% include "_includes/css_include" file="styles/settings.css" %}
{% endregion %}

{% region "sidebar" %}
	<h5>Recent Users</h5>
	<ul class="nav">
		{% foreach users.recent as user %}
			<li><a href="{url.base}users/edit/{user.id}" {% if url.segment(3) == user.id %}class="sel"{% endif %}><span class="icon icon243"></span>{user.fullName}</a></li>
		{% endforeach %}
		<li><a class="new {% if url.segment(2) == 'new' %}sel{% endif %}" href="{url.base}users/new"><span class="icon icon44"></span>Register a new user</a></li>
	</ul>
{% endregion %}
