{% layout "content/_layouts/content" %}

{% if !entry && entryId %}
	{% set entry = content.getEntryById(entryId) %}
{% endif %}

{% region "pageTitle" %}Editing “{entry.title}”{% endregion %}

{% region "page" %}
	<div class="item field page-head">
		<h1 class="editable">{entry.title}</h1>
{!--
		<div class="draft-btn btn">
			<span class="label">Draft 1</span>
			<span class="arrow"></span>
			<ul>
				<li><a href=""><strong>Draft 1</strong> by Brandon</a></li>
				<li><a href=""><strong>Draft 2</strong> by Brandon</a>
			</ul>
		</div>

		<div class="page-settings">
			<table>
				<tr>
					<th>URL:</th>
					<td><span class="editable">pixelandtonic.com/spread</span></td>
				</tr>
				<tr>
					<th>Author:</th>
					<td><span class="editable">Brandon</span></td>
				</tr>
				<tr>
					<th>Publish Date:</th>
					<td><span class="editable null">None set</span></td>
				</tr>
				<tr>
					<th>Expiry Date:</th>
					<td><span class="editable null">None set</span></td>
				</tr>
			</table>
		</div>
--}
	</div>

	{% foreach entry.blocks as block %}
		<div class="item field">
			<label for="{block.handle}" {% if block.required %}class="required"{% endif %}>{block.name}</label>
			{% if block.instructions %}
				<p>{block.instructions}</p>
			{% endif %}
			<div class="{block.classHandle}">
				{block.displayField}
			</div>
		</div>
	{% endforeach %}

{!--
	<div class="item field">
		<label>Tagline</label>
		<div class="input-wrapper"><input type="text" value="Simple spreadsheets"></div>
	</div>

	<div class="item field">
		<label>Cost</label>
		<div class="input-wrapper" style="width: 50px"><input type="text" value="35"></div>
	</div>

	<div class="item field">
		<label>Content</label>
		<textarea id="content">&lt;h2&gt;I'm serious as a heart attack&lt;/h2&gt;

&lt;p&gt;My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?&lt;/p&gt;</textarea>
	</div>

	<div class="item field">
		<label>Quotes</label>
		<table class="matrix input" width="100%">
			<thead>
				<tr>
					<th width="50%">Quote</th>
					<th>Credit</th>
					<th>Company Name</th>
					<th>Company URL</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="4" class="norows"><span class="null">No rows yet.</span>. <a href="">Add one</a></td>
				</tr>
			</tbody>
		</table>
	</div>
--}

	<div class="item field page-foot">
		<input class="btn big submit" type="submit" value="Publish" />
	</div>
{% endregion %}
