{if !entry}
	{set entry = content.getEntryById(entryId)}
	{if draftNum}
		{:entry.setDraft(draftNum)}
	{/if}
{/if}

<?php $pageTitle = new Tag('Editing “'.$entry->title().'”'); ?>
{if entry.draft}
	<?php $pageTitle = new Tag($pageTitle.' ('.$entry->draft()->name().')'); ?>
{/if}
{layout "_layouts/cp" pageTitle=pageTitle crumbs="content:Content"}


{region "styles"}
	{include "_includes/css_include" file="styles/content-entry.css"}
{/region}


{region "main"}
	<div id="sidebar">
		{if entry.published}
			<ul>
				<li><a href="{:url.base}content/edit/{:entry.id}" class="published {if !entry.draft}sel{/if}">
					<div class="status on"></div>
					<div class="name">Published</div>
				</a></li>
			</ul>
		{/if}

		{if entry.drafts}
			<h6>Drafts</h6>
			<ul>
				{foreach entry.drafts as draft}
					<li><a href="{:url.base}content/edit/{:entry.id}/draft{:draft.num}" class="draft {if entry.draft.num == draft.num}sel{/if}" data-icon-after="d">
						<div class="name">{:draft.name}</div>
						<div class="author">{:draft.author.firstNameLastInitial}</div>
					</a></li>
				{/foreach}
			</ul>
		{/if}

		<form id="new-draft" method="post" action="">
			<input type="hidden" name="action" value="content/createDraft" />
			<input type="hidden" name="entryId" value="{:entry.id}" />
			<input type="submit" value="New draft" class="btn light" />
		</form>
	</div>

	<form id="content" method="post" action="">
		<h1 class="textwrapper"><input type="text" name="title" value="{:entry.title}" class="text"></h1>

		{foreach entry.blocks as block}
			<div class="field">
				<div class="heading">
					<h4><label for="{:block.handle}-block" {if block.required}class="required"{/if}>{:block.name}</label></h4>
					{if block.instructions}
						<p>{:block.instructions}</p>
					{/if}
				</div>
				<div class="{:block.classHandle}">
					{set data = entry.content.getValue(block.handle)}
					{:block.displayField(data)}
				</div>
				{if entry.content.getErrors(block.handle)}
					{include "_includes/error_list" errors=entry.content.getErrors(block.handle)}
				{/if}
			</div>
		{/foreach}

		<input type="hidden" name="entryId" value="{:entry.id}"/>
		{if entry.draft}
			<input type="hidden" name="draftId" value="{:entry.draft.id}"/>
			<input type="hidden" name="action" id="action" value="content/saveDraft"/>
			<input type="submit" value="Save draft" class="btn big submit"/>
			<input type="button" value="Pubish" id="publishDraftBtn" class="btn big"/>
		{else}
			<input type="hidden" name="action" id="action" value="content/saveEntry"/>
			<input type="submit" value="Save entry" class="btn big submit"/>
			<input type="button" value="Save as a draft" id="saveAsDraftBtn" class="btn big"/>
		{/if}
	</form>
{/region}


{region "scripts"}
	<script type="text/javascript">
		{if entry.draft}
			$('#publishDraftBtn').click(function() {
				$('#action').val('content/publishDraft');
				$('#content').submit();
			});
		{else}
			$('#saveAsDraftBtn').click(function() {
				$('#action').val('content/createDraft');
				$('#content').submit();
			});
		{/if}
	</script>
{/region}
