{% extends "_layouts/cp" %}
{% set title = "Content"|t %}
{% include_css "sitemap.css" %}
{% include_js "sitemap.js" %}


{% set main %}
	<header class="titlebar">
		<h1>{{ title }}</h1>
		<ul class="right">
			<li class="btn-group">
				<a href="" class="btn sel" data-icon="t" title="{{ 'Tree view'|t }}"></a>
				<a href="" class="btn" data-icon="l" title="{{ 'List view'|t }}"></a>
			</li>
		</ul>
	</header>

	<div id="sitemap">

		<div id="home" class="tier">
			<div class="nodes">
				<a class="node page">
					<img src="{{ blx.url.resource }}images/screenshots/Home.png">
					<div class="title">Home</div>
				</a>
			</div>
		</div>

		<div class="tier" id="tier">
			<div class="nodes">
				<div class="node section">
					<div class="peephole">
						<img src="{{ blx.url.resource }}images/screenshots/CaseStudies/Agency.png" style="margin-left: -39px">
						<img src="{{ blx.url.resource }}images/screenshots/CaseStudies/Navy.png">
						<img src="{{ blx.url.resource }}images/screenshots/CaseStudies/REDI.png" style="margin-right: -39px">
					</div>
					<div class="title">Case Studies</div>
				</div>

				<div class="node section">
					<div class="peephole">
						<img src="{{ blx.url.resource }}images/screenshots/UI/Chimaeric.png" style="margin-left: -39px">
						<img src="{{ blx.url.resource }}images/screenshots/UI/Pure.png">
						<img src="{{ blx.url.resource }}images/screenshots/UI/MessageMarker.png" style="margin-right: -39px">
					</div>
					<div class="title">Design &amp; User Interface</div>
				</div>

				<a class="node page">
					<img src="{{ blx.url.resource }}images/screenshots/Services.png">
					<div class="title">Services</div>
				</a>

				<a class="node page">
					<img src="{{ blx.url.resource }}images/screenshots/About.png">
					<div class="title">About</div>
				</a>

				<div class="node section">
					<div class="peephole">
						<img src="{{ blx.url.resource }}images/screenshots/Blog/Usability.png" style="margin-left: -2px">
						<img src="{{ blx.url.resource }}images/screenshots/Blog/HelloWorld.png" style="margin-right: -2px">
					</div>
					<div class="title">Blog</div>
				</div>
			</div>
		</div>
	</div>
{% endset %}


{% set scripts %}
	<script type="text/javascript">

		new blx.Tier('#tier');

		//var home = new blx.SiteMapPage('Home.png', 'Home');
		//home.addSubpage('About.png', 'About');

	</script>
{% endset %}
