{layout "_layouts/cp" title="Content"}


{region "main"}
	<h1>Content</h1>

	{foreach blx.content.sections as section}
		<section>
			<h2 data-icon="C">{:section.name}</h2>

			<ul class="actions">
				<li>
					<form method="post" action="">
						<input type="hidden" name="action" value="content/createEntry" />
						<input type="hidden" name="sectionId" value="{:section.id}" />
						<a class="btn addbtn formsubmit">New entry</a>
					</form>
				</li>
				<li>
					<a href="{:blx.url.base}content/sections/{:section.id}" class="btn" data-icon="e">Edit section</a>
				</li>
			</ul>

			<table class="data">
				<tbody>
					{foreach section.entries as entry}
						<tr>
							<td width="25%"><span class="status {if entry.live}on{elseif entry.published}pending{elseif entry.expired}off{/if}"></span>
								<a href="{:blx.url.base}content/{:entry.id}">{if entry.title}{:entry.title}{else}Untitled{/if}</a>
							</td>
							<td class="light" width="25%">{:entry.author.firstNameLastInitial}</td>
							<td class="light" width="25%">{:entry.getPublishDate}</td>
							<td class="light" width="25%">{if section.has_urls && entry.url}<a href="{:entry.url}" target="_blank">{:entry.uri}</a>{/if}</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
		</section>
	{/foreach}

	<div class="buttons">
		<a href="{:blx.url.base}content/sections/new" class="btn addbtn">New section</a>
	</div>
{/region}
