{% extends "_layouts/cp" %}
{% set title = "Content"|t %}


{% set main %}
	<h1>{{ title }}</h1>

	{% for section in blx.content.sections %}
		<section>
			<h2 data-icon="C">{{ section.name }}</h2>

			<ul class="actions">
				<li>
					<form method="post" action="">
						<input type="hidden" name="action" value="content/createEntry">
						<input type="hidden" name="sectionId" value="{{ section.id }}">
						<a class="btn addbtn formsubmit">{{ "New entry"|t }}</a>
					</form>
				</li>
				<li>
					<a href="{{ url('content/sections/' ~ section.id) }}" class="btn" data-icon="✎">{{ "Edit section"|t }}</a>
				</li>
			</ul>

			<table class="data">
				<tbody>
					{% for entry in section.entries %}
						<tr>
							<td width="25%"><span class="status {% if entry.live %}on{% elseif entry.published %}pending{% elseif entry.expired %}off{% endif %}"></span>
								<a href="{{ url('content/' ~ entry.id) }}">{% if entry.title %}{{ entry.title }}{% else %}{{ "Untitled"|t }}{% endif %}</a>
							</td>
							<td class="light" width="25%">{{ entry.author.firstNameLastInitial }}</td>
							<td class="light" width="25%">{{ entry.getPublishDate }}</td>
							<td class="light" width="25%">{% if section.has_urls and entry.url %}<a href="{{ entry.url }}" target="_blank">{{ entry.uri }}</a>{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	{% endfor %}

	<div class="buttons">
		<a href="{{ url('content/sections/new') }}" class="btn addbtn">{{ "New section"|t }}</a>
	</div>
{% endset %}
