{layout "_layouts/cp" title="Content"}


{region "styles"}
	<style type="text/css">
		#sitemap { overflow: hidden; margin: 0 -25px; }

		#sitemap .tier { position: relative; margin: 0 -79px; padding-bottom: 223px; }

		#sitemap .page,
		#sitemap .section { display: none; position: absolute; z-index: 1; margin: 0 -79px; width: 158px; }
		#sitemap .tier .dot { position: absolute; top: 0; left: 50%; margin: -2px 0 0 -2px; width: 4px; height: 3px; fill: #999; }
		#sitemap .title { position: absolute; top: 200px; left: -5px; width: 168px; text-align: center; }
		#sitemap .title span { display: inline-block; margin-top: 5px; padding: 0 5px; max-width: 158px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background: hsla(0, 0%, 90%, 0.5); }
		#sitemap .page:not(:hover) .title,
		#sitemap .section:not(:hover) .title { color: #666; }
		#sitemap .page:hover,
		#sitemap .section:hover { color: #2d98db; text-decoration: none; cursor: pointer; }

		#sitemap .page.home { display: block; position: relative; margin: 0 auto; }
		#sitemap .page img { display: block; position: relative; margin: 0 4px; border-radius: 3px; width: 150px; height: 200px; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 5px 8px -5px rgba(0,0,0,0.5); }

		#sitemap .section .pages { border: 2px solid #ccc; border-radius: 5px; height: 196px; background: rgba(219,219,219,0.66); }
		#sitemap .section .pages img { display: block; float: left; margin: 10px 0 0 10px; width: 62px; height: 83px; -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25); }

		#sitemap .trails { width: 100%; }
		#sitemap .trails .trail { fill: none; stroke: #ccc; stroke-width: 2; }
	</style>
{/region}


{region "main"}
	<h1>Content</h1>

	<div id="sitemap">

		<a class="page home">
			<img src="{:b.url.resource}images/screenshots/Home.png" />
			<div class="title"><span>Home</span></div>
		</a>

		<div class="tier" id="tier">
			<div class="section">
				<div class="pages">
					<img src="{:b.url.resource}images/screenshots/CaseStudies/Agency.png" />
					<img src="{:b.url.resource}images/screenshots/CaseStudies/Navy.png" />
					<img src="{:b.url.resource}images/screenshots/CaseStudies/REDI.png" />
				</div>
				<div class="title"><span>Case Studies</span></div>
			</div>

			<div class="section">
				<div class="pages">
					<img src="{:b.url.resource}images/screenshots/UI/Chimaeric.png" />
					<img src="{:b.url.resource}images/screenshots/UI/Pure.png" />
					<img src="{:b.url.resource}images/screenshots/UI/MessageMarker.png" />
				</div>
				<div class="title"><span>Design &amp; User Interface</span></div>
			</div>

			<a class="page">
				<img src="{:b.url.resource}images/screenshots/Services.png" />
				<div class="title"><span>Services</span></div>
			</a>

			<a class="page">
				<img src="{:b.url.resource}images/screenshots/About.png" />
				<div class="title"><span>About</span></div>
			</a>

			<div class="section">
				<div class="pages">
					<img src="{:b.url.resource}images/screenshots/Blog/Usability.png" />
					<img src="{:b.url.resource}images/screenshots/Blog/HelloWorld.png" />
				</div>
				<div class="title"><span>Blog</span></div>
			</div>
		</div>
	</div>
{/region}


{region "scripts"}
	{include "_includes/js_include" file="sitemap.js"}
	<script type="text/javascript">

		new b.Tier('#tier');

		//var home = new b.SiteMapPage('Home.png', 'Home');
		//home.addSubpage('About.png', 'About');

	</script>
{/region}
