{layout "_layouts/cp" title="Content"}


{region "styles"}
	<style type="text/css">
		#sitemap { overflow: hidden; margin: 0 -25px; }

		#sitemap .tier { margin: 0 -79px; height: 293px; }

		#sitemap .tier .trails { margin: 15px 0; width: 100%; }
		#sitemap .tier .trails .trail { fill: none; stroke: #ddd; stroke-width: 4; stroke-linecap: round; -webkit-transition: stroke linear 150ms; }
		#sitemap .tier .trails .trail.hover { stroke: #6eb1db; }

		#sitemap .tier .nodes { position: relative; height: 178px; }
		#sitemap .tier .nodes .node { position: absolute; z-index: 1; top: 0; margin: 0 -75px; width: 150px; height: 178px; }
		#sitemap .tier .nodes .node .title { margin-top: 10px; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #666; /*-webkit-transition: color 150ms linear;*/ }
		#sitemap .tier .nodes .node:hover:not(.sel) { color: #2d98db; text-decoration: none; cursor: pointer; }

		#sitemap .tier .nodes .node .page,
		#sitemap .tier .nodes .node .section { -webkit-transition: -webkit-box-shadow 150ms linear; }
		#sitemap .tier .nodes .node:hover:not(.sel) .page,
		#sitemap .tier .nodes .node:hover:not(.sel) .section { -webkit-box-shadow: 0 0 0 1px #6eb1db, 0 0 10px rgba(55,156,219,0.5); }
		#sitemap .tier .nodes .node.sel .page,
		#sitemap .tier .nodes .node.sel .section { -webkit-transition: none; }

		#sitemap .tier .nodes .node .page { display: block; margin: 0 auto; border-radius: 3px; width: 115px; height: 150px; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px -5px rgba(0,0,0,0.5); }

		#sitemap .tier .nodes .node .section { border-radius: 75px; border: 5px solid #fff; width: 140px; height: 140px; background: #ccc; overflow: hidden; -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15); }
		#sitemap .tier .nodes .node .section .pages { border-radius: 70px; padding: 25px 0; width: 140px; height: 90px; overflow: hidden; }
		#sitemap .tier .nodes .node .section .effects { display: block; position: absolute; top: 5px; left: 5px; border-radius: 70px; width: 140px; height: 140px; content: '.'; text-indent: -100%; background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.25)); overflow: hidden; -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5); }
		/*#sitemap .tier .nodes .node .section .effects:after { position: absolute; top: -10px; left: 20px; display: block; border-radius: 50px; width: 100px; height: 100px; content: '.'; text-indent: -100%; overflow: hidden; background: -webkit-linear-gradient(#fff, rgba(255,255,255,0)); -webkit-transform: scaleY(0.75); }*/
		#sitemap .tier .nodes .node .section img { display: block; float: left; margin-left: 5px; width: 69px; height: 90px; -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25); }

		#sitemap #home { height: auto; }
		#sitemap #home .nodes .node { position: static; margin: 0 auto 15px; }
	</style>
{/region}


{region "main"}
	<h1>Content</h1>

	<div class="actions">
		<a href="{:blx.url.base}content/structure" class="btn big light" data-icon="s">Structure</a>
	</div>

	<div id="sitemap">

		<div id="home" class="tier">
			<div class="nodes">
				<a class="node">
					<img class="page" src="{:blx.url.resource}images/screenshots/Home.png" />
					<div class="title">Home</div>
				</a>
			</div>
		</div>

		<div class="tier" id="tier">
			<div class="nodes">
				<div class="node">
					<div class="section">
						<div class="pages">
							<img src="{:blx.url.resource}images/screenshots/CaseStudies/Agency.png" style="margin-left: -39px" />
							<img src="{:blx.url.resource}images/screenshots/CaseStudies/Navy.png" />
							<img src="{:blx.url.resource}images/screenshots/CaseStudies/REDI.png" style="margin-right: -39px" />
						</div>
						<div class="effects"></div>
					</div>
					<div class="title">Case Studies</div>
				</div>

				<div class="node">
					<div class="section">
						<div class="pages">
							<img src="{:blx.url.resource}images/screenshots/UI/Chimaeric.png" style="margin-left: -39px" />
							<img src="{:blx.url.resource}images/screenshots/UI/Pure.png" />
							<img src="{:blx.url.resource}images/screenshots/UI/MessageMarker.png" style="margin-right: -39px" />
						</div>
						<div class="effects"></div>
					</div>
					<div class="title">Design &amp; User Interface</div>
				</div>

				<a class="node">
					<img class="page" src="{:blx.url.resource}images/screenshots/Services.png" />
					<div class="title">Services</div>
				</a>

				<a class="node">
					<img class="page" src="{:blx.url.resource}images/screenshots/About.png" />
					<div class="title">About</div>
				</a>

				<div class="node">
					<div class="section">
						<div class="pages">
							<img src="{:blx.url.resource}images/screenshots/Blog/Usability.png" style="margin-left: -2px" />
							<img src="{:blx.url.resource}images/screenshots/Blog/HelloWorld.png" style="margin-right: -2px" />
						</div>
						<div class="effects"></div>
					</div>
					<div class="title">Blog</div>
				</div>
			</div>
		</div>
	</div>
{/region}


{region "scripts"}
	{include "_includes/js_include" file="sitemap.js"}
	<script type="text/javascript">

		new blx.Tier('#tier');

		//var home = new blx.SiteMapPage('Home.png', 'Home');
		//home.addSubpage('About.png', 'About');

	</script>
{/region}
