{% extends "_layouts/cp" %}
{% set centered = true %}


{% if blx.hasPackage('PublishPro') %}
	{% if sectionId is not defined %}{% exit 404 %}{% endif %}
	{% set section = blx.sections.id(sectionId).first %}
	{% if not section %}{% exit 404 %}{% endif %}
{% endif %}


{% if block is not defined and blockId is defined %}
	{% set block = blx.entryBlocks.getBlockById(blockId) %}
	{% if not block %}{% exit 404 %}{% endif %}
{% endif %}


{% set isNewBlock = (block is not defined or not block.id) %}


{% if isNewBlock %}
	{% set title = "Create a new entry block"|t %}
{% else %}
	{% set title = "{name} Settings"|t({ name: '<i>'~block.name|t~'</i>' }) %}
{% endif %}


{% set header %}
	<h1>{{ title|raw }}</h1>
	<ul class="left">
		{% if blx.hasPackage('PublishPro') %}
			<li><a href="{{ url('settings/sections/' ~ section.id ~ '/blocks') }}" class="backbtn">{{ "{section} Entry Blocks"|t({ section: '<i>'~section.name|t~'</i>' })|raw }}</a></li>
		{% else %}
			<li><a href="{{ url('settings/blog') }}" class="backbtn">{{ "Blog"|t }}</a></li>
		{% endif %}
	</ul>
{% endset %}


{% set content %}
	<form method="post" action="" accept-charset="UTF-8">
		{% if blx.hasPackage('PublishPro') %}
			<input type="hidden" name="action" value="sections/saveBlock">
			<input type="hidden" name="redirect" value="settings/sections/{{ section.id }}/blocks">
			<input type="hidden" name="sectionId" value="{{ section.id }}">
		{% else %}
			<input type="hidden" name="action" value="entries/saveBlock">
			<input type="hidden" name="redirect" value="settings/blog">
		{% endif %}

		{% if not isNewBlock %}
			<input type="hidden" name="blockId" value="{{ block.id }}">
		{% endif %}

		{% include "_includes/blocksettings" with { block: (block is defined ? block : null), canBeTranslatable: true } only %}

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}
