{% if craft.cp.areAlertsCached() %}
    {% set alerts = craft.cp.getAlerts() %}
    {% if alerts %}
        <ul id="alerts">
            {% for alert in alerts %}
                <li><span data-icon="alert" aria-label="{{ 'Error'|t('app') }}"></span> {{ alert|raw }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% else %}
    {% js %}
        Craft.cp.fetchAlerts().then(alerts => {
          Craft.cp.displayAlerts(alerts);
        });
    {% endjs %}
{% endif %}
