<div id="notifications">
    {% for type in ['notice', 'error'] %}
        {% set message = craft.app.session.getFlash(type) %}
        {% if message %}
            <div class="notification {{ type }}">{{ message }}</div>
        {% endif %}
    {% endfor %}
</div>
