<div id="notifications">
    {% for type in ['cp-notice', 'cp-error'] %}
        {% set message = craft.app.session.getFlash(type) %}
        {% if message %}
            <div class="notification {{ type|replace('cp-', '') }}">{{ message }}</div>
        {% endif %}
    {% endfor %}
</div>
