{% tag siteUrl ? 'a' : 'div' with {
    id: 'system-info',
    href: siteUrl ?? false,
    rel: siteUrl ? 'noopener' : false,
    target: siteUrl ? '_blank' : false,
    title: siteUrl ? 'View site'|t('app') : false,
} %}
    <div id="site-icon">
        {% if hasSystemIcon %}
            <img src="{{ craft.rebrand.icon.url }}" alt="">
        {% else %}
            {{ iconSvg('c-outline') }}
        {% endif %}
    </div>
    <div id="system-name">
        <span class="h2">{{ systemName }}</span>
    </div>
{% endtag %}
