<button type="button" class="btn menubtn" aria-label="{{ "Set status"|t('app') }}">{{ "Set status"|t('app') }}</button>
<div class="menu">
    <ul>
        <li><a class="formsubmit" data-param="status" data-value="enabled"><span class="status enabled"></span> {{ "Enabled"|t('app') }}</a></li>
        <li><a class="formsubmit" data-param="status" data-value="disabled"><span class="status disabled"></span> {{ "Disabled"|t('app') }}</a></li>
    </ul>
</div>
