{% extends "plugin-store/_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set crumbs = [
{ label: "Plugin Store"|t('app'), url: url('plugin-store') }
] %}

{% set title = 'Your Account' %}

{% set content %}

	<h2 class="first">{{ 'Connect with your Craft ID'|t('app') }}</h2>

	{% if not account %}
		<form method="post">
			{{ csrfInput() }}

			<input type="hidden" name="action" value="plugin-store/connect">

			<p>{{ 'Retrieve your existing plugin licenses and purchase new ones by connecting with your Craft ID.'|t('app') }}</p>

			{% if error %}
				<p class="error">{{ error }}</p>
			{% endif %}

			<div class="buttons">
				<input type="submit" class="btn submit" value="{{ 'Connect'|t('app') }}">
			</div>

			{% if not craft.app.request.isSecureConnection %}
				<div class="ssl-status light"><i class="{{ craft.app.request.isSecureConnection ? "secure" : "insecure" }} icon"></i> {{ "Your connection is insecure"|t('app') }}</div>
			{% endif %}
		</form>
	{% else %}

		{% set accountData = account.data|first %}

		<ul>
			<li><strong>User Identifier:</strong> {{ accountData.id }}</li>
			<li><strong>Name:</strong> {{ accountData.name }}</li>
			<li><strong>Email:</strong> {{ accountData.email }}</li>
		</ul>


		<div class="buttons">
			<a href="{{ actionUrl('plugin-store/disconnect') }}" class="btn">Disconnect</a>
		</div>

		<div class="light">
			<ul>
				<li><strong>Token expiry —</strong> {{ token.expiryDate|datetime }}</li>
				<li>(Expires in {{ token.getRemainingSeconds() }} seconds)</li>
			</ul>
		</div>

		<hr>

		<h2>Purchased plugins</h2>

		{% if accountData.purchasedPlugins|length > 0 %}
			<table class="data fullwidth">
				<thead>
				<tr>
					<th>Plugin Name</th>
				</tr>
				</thead>
				<tbody>
				{% for plugin in accountData.purchasedPlugins %}
					<tr>
						<td>{{ plugin.name }}</td>
						<td>{{ plugin.developer }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p>You have not purchased any plugins yet.</p>
		{% endif %}
	{% endif %}

{% endset %}
