{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set title = "General Settings"|t %}
{% set fullPageForm = true %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}


{% macro configWarning(setting, file) -%}
	{{ "This is being overridden by the {setting} config setting."|t({
		setting: '<a href="http://craftcms.com/docs/config-settings#'~setting~'" target="_blank">'~setting~'</a>'
	})|raw }}
{%- endmacro %}

{% from _self import configWarning %}


{% block content %}
	<input type="hidden" name="action" value="system-settings/save-general-settings">
	{{ redirectInput('settings') }}

	{{ forms.lightswitchField({
		first: true,
		label: "System Status"|t,
		warning: (craft.app.config.get('isSystemOn') is sameas(true) or craft.app.config.get('isSystemOn') is sameas(false) ? configWarning('isSystemOn')),
		id: 'on',
		name: 'on',
		on: info.on
	}) }}

	{{ forms.selectField({
		label: "Timezone"|t,
		warning: (craft.app.config.get('timezone') ? configWarning('timezone')),
		id: 'timezone',
		name: 'timezone',
		value: info.timezone,
		options: timezoneOptions
	}) }}

	{% if CraftEdition >= CraftClient %}
		<hr>

		{% do craft.app.view.registerTranslations('app', [
			"Are you sure you want to delete the logo?",
		]) %}

		{% registerjsresource "lib/fileupload/jquery.ui.widget.js" %}
		{% registerjsresource "lib/fileupload/jquery.fileupload.js" %}
		{% registerjsresource "lib/jcrop/jquery.Jcrop.min.js" %}
		{% registerjsresource "js/rebrand.js" %}
		{% registercssresource "lib/jcrop/jquery.Jcrop.min.css" %}
		{% registercssresource "css/rebrand.css" %}

		{{ forms.field({
			label: "Login Page Logo"|t
		}, include('settings/general/_images/logo')) }}

		{{ forms.field({
			label: "Site Icon"|t
		}, include('settings/general/_images/icon')) }}

		<div class="clear"></div>
	{% endif %}
{% endblock %}
