{% requireEdition CraftClient %}

<div class="cp-logo">

	<div class="current-logo"
		{% if craft.rebrand.isLogoUploaded -%}
			 style="background-image: url('{{ craft.rebrand.logo.url }}'); width: {{ craft.rebrand.logo.width }}px; height: {{ craft.rebrand.logo.height }}px;"
		{%- endif %}>
	</div>

	<div class="logo-controls">
		{% if craft.rebrand.isLogoUploaded %}
			<div class="btn upload-logo">{{ "Change logo"|t }}</div>
			<div class="btn delete-logo">{{ "Delete logo"|t }}</div>
		{% else %}
			<div class="btn upload-logo">{{ "Upload a logo"|t }}</div>
		{% endif %}
	</div>

</div>
