{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set title = "General Settings"|t %}
{% includeJsResource 'js/generalsettings.js' %}
{% includeTranslations
	"A new license key could not be generated for you at this time."
%}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}


{% set content %}
	<form method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="action" value="systemSettings/saveGeneralSettings">
		<input type="hidden" name="redirect" value="settings">

		{{ forms.lightswitchField({
			first: true,
			label: "System Status"|t,
			id: 'on',
			name: 'isSystemOn',
			on: (generalSettings is defined ? generalSettings.on : craft.app.isSystemOn),
			onLabel: "On"|t,
			offLabel: "Off"|t
		}) }}

		{{ forms.textField({
			label: "Site Name"|t,
			id: 'siteName',
			name: 'siteName',
			value: (generalSettings is defined ? generalSettings.siteName : craft.app.siteName),
			autofocus: true,
			required: true,
			errors: (generalSettings is defined ? generalSettings.getErrors('siteName') : null)
		}) }}

		{{ forms.textField({
			label: "Site URL"|t,
			id: 'siteUrl',
			name: 'siteUrl',
			value: (generalSettings is defined ? generalSettings.siteUrl : craft.app.siteUrl),
			required: true,
			errors: (generalSettings is defined ? generalSettings.getErrors('siteUrl') : null)
		}) }}

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
		</div>
	</form>

	<hr>

	<form method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="action" value="systemSettings/saveLicenseKey">
		<input type="hidden" name="redirect" value="settings">

		{% set licenseKeyInput %}
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td>
						{{ forms.text({
							id: 'licenseKey',
							class: 'code',
							name: 'licenseKey',
							value: (licenseKey is defined ? licenseKey.licenseKey : craft.app.licenseKey),
							errors: (licenseKey is defined ? licenseKey.getErrors('licenseKey') : null)
						}) }}
					</td>
					<td style="width: 0.1%; padding-left: 15px;">
						<div id="newkeybtn" class="btn">{{ "Get a new key"|t }}</div>
					</td>
				</tr>
			</table>
			<div id="licensekeyspinner" class="spinner hidden" style="position: absolute; bottom: 1px; right: -26px;"></div>
		{% endset %}

		{{ forms.field({
			label: "License Key"|t,
			id: 'licenseKey',
			required: true,
			errors: (licenseKey is defined ? licenseKey.getErrors('licenseKey') : null)
		}, licenseKeyInput) }}

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
		</div>
	</form>

	{% if craft.hasPackage('Rebrand') %}
		<hr>

		{% includeTranslations
			"Are you sure you want to delete the logo?"
		%}

		{% includeJsResource "lib/imgareaselect/jquery.imgareaselect.pack.js" %}
		{% includeJsResource "js/rebrand.js" %}
		{% includeCssResource "lib/imgareaselect/imgareaselect-animated.css" %}
		{% includeCssResource "css/rebrand.css" %}

		{% set logoInput %}
			{% include 'settings/general/_logo' %}
		{% endset %}

		{{ forms.field({
			label: "Logo"|t
		}, logoInput) }}

		<div class="clear"></div>
	{% endif %}

{% endset %}


{% set js %}
	new Craft.LicenseKeyForm({
		email: "{{ user.email|e('js') }}"
	});
{% endset %}

{% includeJs js %}
