{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set title = "General Settings"|t %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}


{% set content %}
	<form method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="action" value="systemSettings/saveGeneralSettings">
		<input type="hidden" name="redirect" value="settings">

		{{ forms.lightswitchField({
			first: true,
			label: "System Status"|t,
			id: 'on',
			name: 'isSystemOn',
			on: (post is defined ? post.on : craft.app.isSystemOn),
			onLabel: "On"|t,
			offLabel: "Off"|t
		}) }}

		{{ forms.textField({
			label: "Site Name"|t,
			id: 'siteName',
			name: 'siteName',
			value: (post is defined ? post.siteName : craft.app.siteName),
			autofocus: true,
			required: true,
			errors: (post is defined ? post.getErrors('siteName') : null)
		}) }}

		{{ forms.textField({
			label: "Site URL"|t,
			id: 'siteUrl',
			name: 'siteUrl',
			value: (post is defined ? post.siteUrl : craft.app.siteUrl),
			required: true,
			errors: (post is defined ? post.getErrors('siteUrl') : null)
		}) }}

		{{ forms.textField({
			label: "License Key"|t,
			id: 'licenseKey',
			class: 'code',
			name: 'licenseKey',
			value: (post is defined ? post.licenseKey : craft.app.licenseKey),
			required: true,
			errors: (post is defined ? post.getErrors('licenseKey') : null)
		}) }}

		{% if craft.hasPackage('Rebrand') %}

			{% includeTranslations
				"Are you sure you want to delete the logo?"
			%}
			{% includeJsResource "lib/imgareaselect/jquery.imgareaselect.pack.js" %}
			{% includeJsResource "js/rebrand.js" %}
			{% includeCssResource "lib/imgareaselect/imgareaselect-animated.css" %}
			{% includeCssResource "css/rebrand.css" %}

			{% set logoInput %}
				{% include 'settings/general/_logo' %}
			{% endset %}

			{{ forms.field({
				label: "Logo"|t
			}, logoInput) }}

			<div class="clear"></div>
		{% endif %}

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}
