{% extends "_cp" %}
{% set title = "Assets"|t %}
{% includeCssResource "css/assets.css" %}


{% set header %}
	<h1>{{ title }}</h1>
{% endset %}


{% set content %}
	<nav class="nav">
		<div class="buttons">
			<a href="" class="btn submit" data-icon="↑">{{ "Upload files"|t }}</a>
		</div>

		<ul>
			<li><a href="">shared</a></li>
			<li><a href="" class="sel">drinks</a></li>
			<li><a href="">content</a></li>
			<li><a href="">add-ons</a></li>
			<li><a href="">assets</a></li>
			<li><a href="">matrix</a></li>
			<li><a href="">playa</a></li>
			<li><a href="">wygwam</a></li>
			<li><a href="">blog-posts</a></li>
			<li><a href="">2009</a></li>
			<li><a href="">2010</a></li>
			<li><a href="">2011</a></li>
			<li><a href="">divebar</a></li>
		</ul>
	</nav>

	<div>
		<div class="toolbar">
			<div class="btngroup">
				<a class="btn {% if view == 'thumbview' %}active{% endif %}" href="{{ url('assets') }}" title="{{ 'Display files as thumbnails'|t }}" data-icon="⌗"></a>
				<a class="btn {% if view == 'listview' %}active{% endif %}" href="{{ url('assets/list') }}" title="{{ 'Display files in a list'|t }}" data-icon="•"></a>
			</div>

			<div class="textwrapper search"><input type="text" class="text nicetext" data-hint="{{ 'Search assets'|t }}"></div>
		</div>

		{{ files }}
	</div>
{% endset %}
