{% if missingFolders and missingFiles %}
    {% set items = "folders and files"|t('app') %}
{% elseif missingFolders %}
    {% set items = "folders"|t('app') %}
{% else %}
    {% set items = "files"|t('app') %}
{% endif %}
{% if skippedFiles %}
    <h2>{{ "Skipped files"|t('app', { items: items }) }}</h2>
    <p>{{ 'The following items were not indexed.'|t('app') }}</p>
     <ul>
         {% for item in skippedFiles %}
            <li><label>{{ item }}</label></li>
         {% endfor %}
     </ul>
{% endif %}

{% if missingFiles or missingFolders %}
    <h2>{{ "Missing {items}"|t('app', { items: items }) }}</h2>
    <p>{{ 'The following {items} could not be found. Should they be deleted from the index?'|t('app', { items: items }) }}</p>

    <ul>
        {% for folderId, folderName in missingFolders %}
            <li><label><input type="checkbox" checked="checked" name="deleteFolder[]" value="{{ folderId }}"> {{ folderName }}</label></li>
        {% endfor %}

        {% for assetId, filename in missingFiles %}
            <li><label><input type="checkbox" checked="checked" name="deleteAsset[]" value="{{ assetId }}"> {{ filename }}</label></li>
        {% endfor %}
    </ul>
{% endif %}
