<h2>{{ 'Missing items'|t }}</h2>
<p>{{ 'The following items were found in the database that do not have a physical match.'|t }}</p>

{% if missingFolders is not empty %}
    <h3>{{ 'Folders'|t }}</h3>
    {% for folderId, folderName in missingFolders %}
        <div><label><input type="checkbox" checked="checked" name="deleteFolder[]" value="{{ folderId }}" /> {{ folderName }}</label></div>
    {% endfor %}
{% endif %}

{% if missingFiles is not empty %}
    <h3>{{ 'Files'|t }}</h3>
    {% for fileId, fileName in missingFiles %}
        <div><label><input type="checkbox" checked="checked" name="deleteFile[]" value="{{ fileId }}" /> {{ fileName }}</label></div>
    {% endfor %}
{% endif %}