<li class="assets-fm-folder">
    <a href="javascript:;" data-id="{{ folder.id }}" role="button"><span class="assets-folder-label">{{ folder.name }}</span></a>
    {% set children = folder.getChildren() %}
    {%  if children is not empty %}
        <ul>
            {% for child in children %}
                {% if child %}
                    {% include 'assets/_nav_folder' with { folder: child, depth: (depth + 1) } only %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
