{layout "assets/_layouts/assets" viewMode="list"}

{region "files"}
	<div class="files list">
		<table class="pane">
			<thead>
				<th class="pane-head" scope="col">Name</th>
				<th class="pane-head" scope="col">Date Modified</th>
				<th class="pane-head" scope="col">Size</th>
			</thead>
			<tbody>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/beer-bottle.png')}">beer-bottle.png</td>
					<td>Jan 14, 2011 at 3:44 PM</td>
					<td>11 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/beer-pint.png')}">beer-pint.png</td>
					<td>Jan 14, 2011 at 3:06 PM</td>
					<td>9 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/blue-curacao.png')}">blue-curacao.png</td>
					<td>Jan 14, 2011 at 3:51 PM</td>
					<td>16 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/blue-lagoon.png')}">blue-lagoon.png</td>
					<td>Jan 14, 2011 at 3:48 PM</td>
					<td>13 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/blue-velvet.png')}">blue-velvet.png</td>
					<td>Jan 14, 2011 at 3:01 PM</td>
					<td>15 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/bluenat-hawayan.png')}">bluenat-hawayan.png</td>
					<td>Jan 14, 2011 at 3:54 PM</td>
					<td>16 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/chambord.png')}">chambord.png</td>
					<td>Jan 14, 2011 at 3:55 PM</td>
					<td>17 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/champagne-bottle.png')}">champagne-bottle.png</td>
					<td>Jan 14, 2011 at 3:50 PM</td>
					<td>9 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/champagne.png')}">champagne.png</td>
					<td>Jan 14, 2011 at 3:59 PM</td>
					<td>16 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/chardonnay.png')}">chardonnay.png</td>
					<td>Jan 14, 2011 at 3:02 PM</td>
					<td>20 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/chilada.png')}">chilada.png</td>
					<td>Jan 14, 2011 at 3:04 PM</td>
					<td>12 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/cosmo.png')}">cosmo.png</td>
					<td>Jan 14, 2011 at 3:48 PM</td>
					<td>17 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/cranberry-mimosa.png')}">cranberry-mimosa.png</td>
					<td>Jan 14, 2011 at 3:03 PM</td>
					<td>17 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/cream-soda.png')}">cream-soda.png</td>
					<td>Jan 14, 2011 at 3:47 PM</td>
					<td>11 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/creme-de-menthe.png')}">creme-de-menthe.png</td>
					<td>Jan 14, 2011 at 3:51 PM</td>
					<td>19 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/daiquiri.png')}">daiquiri.png</td>
					<td>Jan 14, 2011 at 3:52 PM</td>
					<td>10 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/gelato.png')}">gelato.png</td>
					<td>Jan 14, 2011 at 3:49 PM</td>
					<td>17 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/gin-and-tonic.png')}">gin-and-tonic.png</td>
					<td>Jan 14, 2011 at 3:54 PM</td>
					<td>13 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/into-the-blue.png')}">into-the-blue.png</td>
					<td>Jan 14, 2011 at 3:40 PM</td>
					<td>17 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/irish-coffee.png')}">irish-coffee.png</td>
					<td>Jan 14, 2011 at 3:44 PM</td>
					<td>11 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/jack-and-coke.png')}">jack-and-coke.png</td>
					<td>Jan 14, 2011 at 3:46 PM</td>
					<td>19 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/keg.png')}">keg.png</td>
					<td>Jan 14, 2011 at 3:01 PM</td>
					<td>10 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/long-island-ice-tea.png')}">long-island-ice-tea.png</td>
					<td>Jan 14, 2011 at 3:52 PM</td>
					<td>11 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/mai-tai.png')}">mai-tai.png</td>
					<td>Jan 14, 2011 at 3:57 PM</td>
					<td>19 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/manhattan.png')}">manhattan.png</td>
					<td>Jan 14, 2011 at 3:45 PM</td>
					<td>19 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/margarita.png')}">margarita.png</td>
					<td>Jan 14, 2011 at 3:41 PM</td>
					<td>14 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/martini.png')}">martini.png</td>
					<td>Jan 14, 2011 at 3:42 PM</td>
					<td>21 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/merlot.png')}">merlot.png</td>
					<td>Jan 14, 2011 at 3:42 PM</td>
					<td>16 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/mojito-1.png')}">mojito-1.png</td>
					<td>Jan 14, 2011 at 3:49 PM</td>
					<td>11 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/mojito-2.png')}">mojito-2.png</td>
					<td>Jan 14, 2011 at 3:56 PM</td>
					<td>12 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/mousse.png')}">mousse.png</td>
					<td>Jan 14, 2011 at 3:43 PM</td>
					<td>17 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/pina-colada.png')}">pina-colada.png</td>
					<td>Jan 14, 2011 at 3:03 PM</td>
					<td>19 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/pink-chablis.png')}">pink-chablis.png</td>
					<td>Jan 14, 2011 at 3:00 PM</td>
					<td>16 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/pink-lemonade.png')}">pink-lemonade.png</td>
					<td>Jan 14, 2011 at 3:44 PM</td>
					<td>14 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/punch.png')}">punch.png</td>
					<td>Jan 14, 2011 at 3:50 PM</td>
					<td>17 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/rainbow-sherbet.png')}">rainbow-sherbet.png</td>
					<td>Jan 14, 2011 at 3:57 PM</td>
					<td>12 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/root-beer.png')}">root-beer.png</td>
					<td>Jan 14, 2011 at 3:46 PM</td>
					<td>11 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/sangria.png')}">sangria.png</td>
					<td>Jan 14, 2011 at 3:58 PM</td>
					<td>16 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/sherry.png')}">sherry.png</td>
					<td>Jan 14, 2011 at 3:55 PM</td>
					<td>13 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/shiraz.png')}">shiraz.png</td>
					<td>Jan 14, 2011 at 3:02 PM</td>
					<td>20 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/singapore-sling.png')}">singapore-sling.png</td>
					<td>Jan 14, 2011 at 3:53 PM</td>
					<td>15 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/sorbet.png')}">sorbet.png</td>
					<td>Jan 14, 2011 at 3:58 PM</td>
					<td>14 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/Sundae-1.png')}">Sundae-1.png</td>
					<td>Jan 14, 2011 at 3:47 PM</td>
					<td>17 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/sundae-2.png')}">sundae-2.png</td>
					<td>Jan 14, 2011 at 3:43 PM</td>
					<td>17 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/sundae-3.png')}">sundae-3.png</td>
					<td>Jan 14, 2011 at 3:52 PM</td>
					<td>16 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/tequila-sunrise-1.png')}">tequila-sunrise-1.png</td>
					<td>Jan 14, 2011 at 3:57 PM</td>
					<td>18 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/tequila-sunrise-2.png')}">tequila-sunrise-2.png</td>
					<td>Jan 14, 2011 at 3:40 PM</td>
					<td>23 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/v8.png')}">v8.png</td>
					<td>Jan 14, 2011 at 3:45 PM</td>
					<td>16 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/wine-1.png')}">wine-1.png</td>
					<td>Jan 14, 2011 at 3:56 PM</td>
					<td>16 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/wine-bottle.png')}">wine-bottle.png</td>
					<td>Jan 14, 2011 at 3:08 PM</td>
					<td>9 KB</td>
				</tr>
				<tr>
					<td><img src="{:blx.url.resource('images/drinks/zinfandel.png')}">zinfandel.png</td>
					<td>Jan 14, 2011 at 3:41 PM</td>
					<td>19 KB</td>
				</tr>
			</tbody>
		</table>
	</div>
{/region}
