<div class="toolbar page-toolbar">
	<div class="center">
		<div class="status">
			{if !url.get('published')}
				<span class="status draft"></span>Never published
			{else}
				<span class="status on"></span>Live
			{/if}
		</div>
	</div>

	<div class="left">
		{!--
		<div class="btn-group">
			<a class="btn sel"><span class="icon icon136"></span></a>
			<a class="btn"><span class="icon icon274"></span></a>
		</div>--}
		
	</div>

	<div class="right">
		<div class="btn">
			<span class="icon icon265"></span>
			<span class="arrow"></span>
		</div>
	</div>
</div>

<div class="centered">
	<div class="pane page">
		<div class="pane-body">
			<div class="pane-item field page-head">
				<h1>{:entry.title}</h1>
				{if entry.url}<div class="url">{:entry.url}</div>{/if}
				<div class="btn">
					<span class="label">Draft 1</span>
					<span class="arrow"></span>
				</div>
				{!--<select>
					{foreach entry.drafts as draft}
						<option value="{:draft.id}">{:draft.name}</option>
					{/foreach}
				</select>--}
				{!--if entry.section.has_urls}
					<div class="url">
						<div class="editable" tabindex="0">
							<div><span class="prefix">{:sites.currentSite.url}/</span><span class="slug {if !entry.slug}empty{/if}">{if entry.slug}{:entry.slug}{else}…{/if}</span></div>
							<a>Edit</a>
							<input type="hidden" name="slug" value="{:entry.slug}" />
						</div>
						<div class="clear"></div>
					</div>
				{/if--}
			</div>

			{foreach entry.blocks as block}
				<div class="pane-item field">
					<label for="{:block.handle}-block" {if block.required}class="required"{/if}>{:block.name}</label>
					{if block.instructions}
						<p>{:block.instructions}</p>
					{/if}
					<div class="{:block.classHandle}">
						{:block.displayField}
					</div>
				</div>
			{/foreach}
		</div>
	</div>

	<input class="btn big submit" type="submit" value="Publish" />
	<p class="autosave-status"></p>
</div>
