<div class="toolbar page-toolbar">
	<div class="center">
		<div class="status">
			{if entry.live}
				<span class="status on"></span>Live
			{elseif entry.pending}
				<span class="status pending"></span>Pending
			{elseif entry.expired}
				<span class="status off"></span>Expired
			{else}
				<span class="status"></span>Never published
			{/if}
		</div>
	</div>

	<div class="left">
		<select class="versionselect">
			{if entry.published}
				<option value="published" {if !entry.draft}selected="selected"{/if}>Published</option>
			{/if}
			{foreach entry.drafts as draft}
				<option value="{:draft.num}" {if entry.draft.num == draft.num}selected="selected"{/if}>“{:draft.name}” by {:draft.author.firstNameLastInitial}</option>
			{/foreach}
			<option value="new">New draft…</option>
		</select>
	</div>

	<div class="right">
		<div class="btn">
			<span class="icon icon265"></span>
			<span class="arrow"></span>
		</div>
	</div>
</div>

<form action="" method="post">
	<div class="centered">
		<div class="pane page">
			<div class="pane-body">
				<div class="pane-item field page-head">
					<h1>{:entry.title}</h1>
					{if entry.url}<div class="url">{:entry.url}</div>{/if}
				</div>

				{foreach entry.blocks as block}
					<div class="pane-item field">
						<label for="{:block.handle}-block" {if block.required}class="required"{/if}>{:block.name}</label>
						{if block.instructions}
							<p>{:block.instructions}</p>
						{/if}
						<div class="{:block.classHandle}">
							{:block.displayField}
						</div>
					</div>
				{/foreach}
			</div>
		</div>

		<input class="btn big submit" type="submit" value="Publish" />
		<p class="autosave-status"></p>
	</div>
</div>
