<h5>{{ "Add-ons"|t }}</h5>
<ul class="nav tree">
	<li><span class="toggle expanded"></span><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "Assets"|t }}</a>
		<ul>
			<li><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "Installation Instructions"|t }}</a></li>
			<li><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "Updating Instructions"|t }}</a></li>
			<li><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "Template Variables & Parameters"|t }}</a></li>
		</ul>
	</li>
	<li><span class="toggle"></span><a class="has-status" href="{{ blx.url.base }}content"><span class="status off"></span>{{ "FieldFrame"|t }}</a></li>
	<li><span class="toggle"></span><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "Matrix"|t }}</a></li>
	<li><span class="toggle"></span><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "Playa"|t }}</a></li>
	<li><span class="toggle"></span><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "Wygwam"|t }}</a></li>
	<li><span class="toggle"></span><a class="has-status {% if blx.url.segment(2) == "edit" %}sel{% endif %}" href="{{ blx.url.base }}content"><span class="status"></span>{{ "Spread"|t }}</a></li>
</ul>

<h5>{{ "Dive Bar"|t }}</h5>
<ul class="nav tree">
	<li><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "P&T Field Pack"|t }}</a></li>
	<li><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "P&T List"|t }}</a></li>
	<li><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "P&T Pill"|t }}</a></li>
	<li><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "P&T Switch"|t }}</a></li>
</ul>

<h5>{{ "Blog & Tonic"|t }}</h5>
<ul class="nav tree">
	<li><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "Introducing Assets"|t }}</a></li>
	<li><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "Wygwam 2.2 Released!"|t }}</a></li>
	<li><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "Playa 4 has arrived!"|t }}</a></li>
	<li><a class="has-status" href="{{ blx.url.base }}content"><span class="status on"></span>{{ "Have a drink on us!"|t }}</a></li>
	<li><a class="etc" href="{{ blx.url.base }}content"></a></li>
</ul>
