<div class="toolbar page-toolbar">
	<div class="left">
		<div class="status">
			<? if (empty($_GET['published'])): ?>
				<span class="status draft"></span>Never published
			<? else: ?>
				<span class="status on"></span>Live
			<? endif ?>
		</div>
		<div class="btn">
			<span class="label">Draft 1</span>
			<span class="arrow"></span>
		</div>
		<div class="btn-group">
			<a class="btn sel"><span class="icon icon136"></span></a>
			<a class="btn"><span class="icon icon274"></span></a>
		</div>
	</div>

	<div class="right">
		<div class="btn">
			<span class="icon icon265"></span>
			<span class="arrow"></span>
		</div>
	</div>
</div>
