html,
body {
  background-color: var(--c-surface-default);
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: var(--c-font-body, sans-serif);
  font-size: var(--c-text-base);
  line-height: var(--c-leading-normal);
  color: var(--c-text-default);
  -webkit-font-smoothing: subpixel-antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

a {
  cursor: pointer;
  color: var(--c-text-link);
}

/*
  Make lists unstyled by default.
*/

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.code {
  font-size: 0.9em;
  display: inline-flex;
  padding: 0 var(--c-spacing-sm);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: var(--c-radius-sm);
}

hr {
  display: block;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--c-color-neutral-border-quiet);
  margin-block: var(--c-spacing-lg);
}

.index-grid {
  display: grid;
  gap: var(--c-spacing-md);

  @container (width >= 768px) {
    grid-template-columns:
      clamp(calc(120rem / 16), 20%, calc(220rem / 16))
      6fr;
    align-items: start;
  }
}

.index-grid__aside,
.index-grid__main {
  display: flex;
  gap: var(--c-spacing-md);
  align-items: center;
}

.index-grid--header {
  align-items: center;
  min-height: calc(40rem / 16);
  padding-block: var(--c-spacing-lg);

  @container (width >= 768px) {
    padding-block-end: var(--c-spacing-md);
  }
}

.index-grid--header .index-grid__main {
  @container (width >= 768px) {
    justify-self: end;
  }
}

/**
Prose class, wrap around WYSIWYG text or markdown text.
Previously `.readable`
 */
.prose {
  > *:first-child {
    margin-block-start: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 0.5rem;
  }

  ol,
  ul {
    padding-inline-start: 1.5em;
    display: grid;
    gap: 0.25em;
  }

  ul {
    list-style: disc;
  }
}

/**
CP Table

Applies some basic styling to table elements.

Modify with `cp-table--compact` to reduce the vertical cell padding
Modify with `cp-table--borderless` to remove the inline cell padding
Modify with `cp-table--auto` to apply table-layout: auto
 */
.cp-table {
  --_cell-spacing: var(--c-spacing-md);
  --_cell-height: var(--c-size-control-md);
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;

  @container (width >= 840px) {
    table-layout: fixed;
  }

  thead {
    border-bottom: 1px solid var(--c-color-neutral-border-quiet);
  }

  thead,
  th {
    background-color: var(--c-color-neutral-fill-quiet);
  }

  th,
  td {
    vertical-align: middle;
    padding-inline: var(--_cell-spacing);
    min-height: var(--_cell-height);

    &:has(input:not([type='checkbox']):not([type='radio'])) {
      padding: 0;
    }
  }

  tr:not(:last-child) {
    border-bottom: 1px solid var(--c-color-neutral-border-quiet);
  }

  input:not([type='checkbox']):not([type='radio']) {
    border: 0;
    padding: 0 var(--_cell-spacing);
    margin: 0;
    width: 100%;
    height: var(--_cell-height);
  }
}

.cp-table--padded {
  th,
  td {
    padding-block: var(--c-spacing-md);
  }
}

.cp-table--auto {
  table-layout: auto;
}

.cp-table--fixed {
  table-layout: fixed;
}

.cp-table--collapsed,
.cp-table--borderless {
  --_cell-spacing: 0;
}

.cp-table--compact {
  --_cell-spacing: var(--c-spacing-sm);
  --_cell-height: var(--c-size-control-sm);
}

.cp-table-header,
.cp-table-footer {
  padding: var(--c-spacing-md);
  background-color: var(--c-color-neutral-fill-quiet);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
