html,
body {
  background-color: var(--c-bg-body);
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: var(--c-font-body, sans-serif);
  font-size: var(--c-text-base);
  line-height: var(--c-leading-normal);
  color: var(--c-fg-text);
  -webkit-font-smoothing: subpixel-antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

a {
  cursor: pointer;
  color: var(--c-fg-link);
}

/*
  Make lists unstyled by default.
*/

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.code {
  font-size: 0.9em;
  display: inline-flex;
  padding: 0 var(--c-spacing-sm);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: var(--c-radius-sm);
}

hr {
  display: block;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--c-color-neutral-border-subtle);
  margin-block: var(--c-spacing-xl);
}

.index-grid {
  display: grid;
  gap: var(--c-spacing-md);

  @container (width >= 768px) {
    grid-template-columns:
      clamp(calc(120rem / 16), 20%, calc(220rem / 16))
      6fr;
    align-items: start;
  }
}

.index-grid--header {
  align-items: center;
  height: calc(40rem / 16);
}

/**
Prose class, wrap around WYSIWYG text or markdown text.
Previously `.readable`
 */
.prose {
  > *:first-child {
    margin-block-start: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 0.5rem;
  }

  ol,
  ul {
    padding-inline-start: 1.5em;
    display: grid;
    gap: 0.25em;
  }

  ul {
    list-style: disc;
  }
}

/**
CP Table

Applies some basic styling to table elements.

Modify with `cp-table--compact` to reduce the vertical cell padding
Modify with `cp-table--borderless` to remove the inline cell padding
Modify with `cp-table--auto` to apply table-layout: auto
 */
.cp-table {
  text-align: left;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;

  thead {
    background-color: var(--c-color-neutral-bg-normal);
  }

  th,
  td {
    vertical-align: top;
    padding-block: var(--c-spacing-md);
    padding-inline: var(--c-spacing-md);
  }

  tr:not(:last-child) {
    border-bottom: 1px solid var(--c-color-neutral-border-subtle);
  }
}

.cp-table--auto {
  table-layout: auto;
}

.cp-table--borderless {
  th,
  td {
    padding-inline: 0;
  }
}

.cp-table--compact {
  th,
  td {
    padding-block: var(--c-spacing-sm);
  }
}
