:root {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --color-red-50: #fbeaea;
  --color-red-100: #f7d4d3;
  --color-red-200: #f4b8b7;
  --color-red-300: #f09693;
  --color-red-400: #e96764;
  --color-red-500: #d6362c;
  --color-red-600: #c02b21;
  --color-red-700: #992620;
  --color-red-800: #73201d;
  --color-red-900: #511412;
  --color-red-950: #2e0a08;
  --color-orange-50: #fbecd6;
  --color-orange-100: #f8d6ab;
  --color-orange-200: #f5bc7f;
  --color-orange-300: #f09a47;
  --color-orange-400: #e76d2d;
  --color-orange-500: #c64b21;
  --color-orange-600: #af421c;
  --color-orange-700: #8e3414;
  --color-orange-800: #6c2710;
  --color-orange-900: #4b1b0c;
  --color-orange-950: #290f07;
  --color-amber-50: #fceeb7;
  --color-amber-100: #f8da7c;
  --color-amber-200: #f5bf48;
  --color-amber-300: #ee9c37;
  --color-amber-400: #cd7e2d;
  --color-amber-500: #ab5f22;
  --color-amber-600: #9c511d;
  --color-amber-700: #833e15;
  --color-amber-800: #642e0e;
  --color-amber-900: #471e08;
  --color-amber-950: #271004;
  --color-yellow-50: #fcef90;
  --color-yellow-100: #f8db69;
  --color-yellow-200: #efc141;
  --color-yellow-300: #daa538;
  --color-yellow-400: #c0852d;
  --color-yellow-500: #a06521;
  --color-yellow-600: #8f581b;
  --color-yellow-700: #744715;
  --color-yellow-800: #583610;
  --color-yellow-900: #3c250b;
  --color-yellow-950: #211406;
  --color-lime-50: #ddf7a2;
  --color-lime-100: #c0eb6d;
  --color-lime-200: #a0d842;
  --color-lime-300: #87be39;
  --color-lime-400: #6c9f2e;
  --color-lime-500: #577e23;
  --color-lime-600: #4e6f1e;
  --color-lime-700: #3f5917;
  --color-lime-800: #2e4410;
  --color-lime-900: #1e2e0a;
  --color-lime-950: #101906;
  --color-green-50: #cef7d8;
  --color-green-100: #a2ecb2;
  --color-green-200: #6ede85;
  --color-green-300: #59c45e;
  --color-green-400: #49a34b;
  --color-green-500: #39813f;
  --color-green-600: #327239;
  --color-green-700: #295b31;
  --color-green-800: #1f4527;
  --color-green-900: #152f1b;
  --color-green-950: #0c190e;
  --color-emerald-50: #cff6e1;
  --color-emerald-100: #a5ebc5;
  --color-emerald-200: #79daa8;
  --color-emerald-300: #58c18a;
  --color-emerald-400: #48a172;
  --color-emerald-500: #38805c;
  --color-emerald-600: #317153;
  --color-emerald-700: #255b45;
  --color-emerald-800: #1b4435;
  --color-emerald-900: #132f25;
  --color-emerald-950: #0a1914;
  --color-teal-50: #c7f7ec;
  --color-teal-100: #98ebda;
  --color-teal-200: #70d8c6;
  --color-teal-300: #57bfae;
  --color-teal-400: #479e93;
  --color-teal-500: #377e77;
  --color-teal-600: #2f6f69;
  --color-teal-700: #245a56;
  --color-teal-800: #1a4442;
  --color-teal-900: #112e2e;
  --color-teal-950: #091919;
  --color-cyan-50: #c9f5fc;
  --color-cyan-100: #8ee9fa;
  --color-cyan-200: #67d5f1;
  --color-cyan-300: #55badb;
  --color-cyan-400: #449abd;
  --color-cyan-500: #357a9a;
  --color-cyan-600: #2e6c89;
  --color-cyan-700: #24576e;
  --color-cyan-800: #1a4255;
  --color-cyan-900: #122c3c;
  --color-cyan-950: #0a1821;
  --color-sky-50: #e0f0fc;
  --color-sky-100: #b9e2fb;
  --color-sky-200: #86cffa;
  --color-sky-300: #53b7f7;
  --color-sky-400: #4396dc;
  --color-sky-500: #3376b7;
  --color-sky-600: #2d68a2;
  --color-sky-700: #235482;
  --color-sky-800: #1a3f63;
  --color-sky-900: #112b45;
  --color-sky-950: #091725;
  --color-blue-50: #e4effd;
  --color-blue-100: #c9defb;
  --color-blue-200: #a8c9fa;
  --color-blue-300: #7eb0f8;
  --color-blue-400: #548ef6;
  --color-blue-500: #3769ed;
  --color-blue-600: #2d57e5;
  --color-blue-700: #2241c9;
  --color-blue-800: #1f3392;
  --color-blue-900: #1a255c;
  --color-blue-950: #0f1430;
  --color-indigo-50: #e9edfd;
  --color-indigo-100: #d3dafc;
  --color-indigo-200: #bcc4fa;
  --color-indigo-300: #a0a8f9;
  --color-indigo-400: #7d85f7;
  --color-indigo-500: #605ef5;
  --color-indigo-600: #544ee7;
  --color-indigo-700: #4334d3;
  --color-indigo-800: #342c96;
  --color-indigo-900: #25215f;
  --color-indigo-950: #141234;
  --color-violet-50: #eeebfd;
  --color-violet-100: #dcd7fb;
  --color-violet-200: #cbbffa;
  --color-violet-300: #b5a1f8;
  --color-violet-400: #9b7cf7;
  --color-violet-500: #844ff5;
  --color-violet-600: #7934f4;
  --color-violet-700: #6515da;
  --color-violet-800: #4b19a0;
  --color-violet-900: #321271;
  --color-violet-950: #1c0942;
  --color-purple-50: #f3ebfd;
  --color-purple-100: #e6d4fc;
  --color-purple-200: #d7bbfa;
  --color-purple-300: #c79af8;
  --color-purple-400: #b371f7;
  --color-purple-500: #9a40f4;
  --color-purple-600: #8c23f0;
  --color-purple-700: #7215c9;
  --color-purple-800: #561a90;
  --color-purple-900: #3d0d6a;
  --color-purple-950: #230540;
  --color-fuchsia-50: #f7e9fd;
  --color-fuchsia-100: #efd1fb;
  --color-fuchsia-200: #eab4fa;
  --color-fuchsia-300: #e28ef8;
  --color-fuchsia-400: #d35eef;
  --color-fuchsia-500: #ba2ad8;
  --color-fuchsia-600: #a621c1;
  --color-fuchsia-700: #871d99;
  --color-fuchsia-800: #661b70;
  --color-fuchsia-900: #46134e;
  --color-fuchsia-950: #270a2b;
  --color-pink-50: #f9eaf3;
  --color-pink-100: #f5d2e7;
  --color-pink-200: #f1b5d8;
  --color-pink-300: #ed91c6;
  --color-pink-400: #e75fa9;
  --color-pink-500: #d32e76;
  --color-pink-600: #bc2766;
  --color-pink-700: #9a1d4f;
  --color-pink-800: #721b3e;
  --color-pink-900: #4f132b;
  --color-pink-950: #2c0a18;
  --color-rose-50: #fbeaec;
  --color-rose-100: #f8d3d6;
  --color-rose-200: #f4b7be;
  --color-rose-300: #f0949f;
  --color-rose-400: #ed6278;
  --color-rose-500: #d82e45;
  --color-rose-600: #c0283d;
  --color-rose-700: #9c1e38;
  --color-rose-800: #78152b;
  --color-rose-900: #550d1e;
  --color-rose-950: #310611;
  --color-slate-50: #e9eef3;
  --color-slate-100: #d4dce5;
  --color-slate-200: #bec8d5;
  --color-slate-300: #a4afc0;
  --color-slate-400: #8591a6;
  --color-slate-500: #66738c;
  --color-slate-600: #59667d;
  --color-slate-700: #465268;
  --color-slate-800: #333d51;
  --color-slate-900: #212a3d;
  --color-slate-950: #111621;
  --color-gray-50: #ecedf0;
  --color-gray-100: #d8dbe0;
  --color-gray-200: #c3c7cf;
  --color-gray-300: #a9aeb9;
  --color-gray-400: #8a909e;
  --color-gray-500: #6d7381;
  --color-gray-600: #5f6574;
  --color-gray-700: #4a5161;
  --color-gray-800: #363d4d;
  --color-gray-900: #232a3a;
  --color-gray-950: #101626;
  --color-zinc-50: #ededee;
  --color-zinc-100: #dcdcdf;
  --color-zinc-200: #c6c6cb;
  --color-zinc-300: #adadb3;
  --color-zinc-400: #909097;
  --color-zinc-500: #72727b;
  --color-zinc-600: #64646e;
  --color-zinc-700: #50505a;
  --color-zinc-800: #3d3d43;
  --color-zinc-900: #2a2a2f;
  --color-zinc-950: #16161b;
  --color-neutral-50: #ededed;
  --color-neutral-100: #dbdbdb;
  --color-neutral-200: #c7c7c7;
  --color-neutral-300: #aeaeae;
  --color-neutral-400: #909090;
  --color-neutral-500: #727272;
  --color-neutral-600: #656565;
  --color-neutral-700: #515151;
  --color-neutral-800: #3e3e3e;
  --color-neutral-900: #2a2a2a;
  --color-neutral-950: #161616;
  --color-stone-50: #eeedec;
  --color-stone-100: #dddcda;
  --color-stone-200: #c9c7c4;
  --color-stone-300: #b1ada9;
  --color-stone-400: #94908a;
  --color-stone-500: #78726c;
  --color-stone-600: #6a645f;
  --color-stone-700: #55514b;
  --color-stone-800: #403d39;
  --color-stone-900: #2c2926;
  --color-stone-950: #181615;
  --color-black: #000;
  --color-white: #fff;
  --spacing: 0.25rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl:
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --inset-shadow-2xs: inset 0 1px rgb(0 0 0 / 0.05);
  --inset-shadow-xs: inset 0 1px 1px rgb(0 0 0 / 0.05);
  --inset-shadow-sm: inset 0 2px 4px rgb(0 0 0 / 0.05);
  --drop-shadow-xs: 0 1px 1px rgb(0 0 0 / 0.05);
  --drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 0.15);
  --drop-shadow-md: 0 3px 3px rgb(0 0 0 / 0.12);
  --drop-shadow-lg: 0 4px 4px rgb(0 0 0 / 0.15);
  --drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 0.1);
  --drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 0.15);
  --text-shadow-2xs: 0px 1px 0px rgb(0 0 0 / 0.15);
  --text-shadow-xs: 0px 1px 1px rgb(0 0 0 / 0.2);
  --text-shadow-sm:
    0px 1px 0px rgb(0 0 0 / 0.075), 0px 1px 1px rgb(0 0 0 / 0.075),
    0px 2px 2px rgb(0 0 0 / 0.075);
  --text-shadow-md:
    0px 1px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.1),
    0px 2px 4px rgb(0 0 0 / 0.1);
  --text-shadow-lg:
    0px 1px 2px rgb(0 0 0 / 0.1), 0px 3px 2px rgb(0 0 0 / 0.1),
    0px 4px 8px rgb(0 0 0 / 0.1);
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;
  --perspective-dramatic: 100px;
  --perspective-near: 300px;
  --perspective-normal: 500px;
  --perspective-midrange: 800px;
  --perspective-distant: 1200px;
  --aspect-video: 16 / 9;
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce: bounce 1s infinite;
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
