@import "shared";

/* ----------------------------------------
/*  CP
/* ----------------------------------------*/

html, body, #sidebar, #main { height: 100%; }
body { font-size: 13px; line-height: 18px; font-family: HelveticaNeue, sans-serif; color: #555; background: #fff; }

#sidebar, #main { overflow: auto; }

/* sidebar */
#sidebar { position: fixed; z-index: 1; left: 0; top: 0; border-right: 1px solid #000; width: 199px; background: #262626; }

#sidebar #header { border-bottom: 1px solid #000; background: #1a1a1a; }
#sidebar #header:after {@include clearafter; }
#sidebar #header #branding { float: left; padding: 10px; }
#sidebar #header #branding img { display: block; width: 120px; }

#sidebar #header #account { float: right; padding: 15px 0 15px 15px; width: 35px; color: #fff; text-shadow: 0 1px 1px #000; -webkit-box-shadow: -1px 0 0 rgba(0,0,0,0.25), inset 1px 0 0 rgba(255,255,255,0.05); }
#sidebar #header #account:after { margin-right: -5px; }
#sidebar #header #account:hover { background: rgba(0,0,0,0.25); }
#sidebar #header #account.sel { background: #000; }
#sidebar #header #account:after { color: rgba(255,255,255,0.5); text-shadow: none; }

#account-menu .userinfo { padding: 41px 15px 5px 111px; height: 56px; background: rgba(0,0,0,0.9); }
#account-menu .userinfo img { display: block; float: left; margin: -40px 0 0 -110px; }
#account-menu .userinfo .fullname { margin-top: -8px; color: #fff; font-weight: bold; }
#account-menu .userinfo .username { color: #d5d5d5; }

#sidebar .nav ul { margin-top: 7px; }
#sidebar .nav ul li { margin-top: 3px; }
#sidebar .nav ul li a { padding: 4px 10px 4px 36px; font-size: 12px; color: #b3b3b3; }
#sidebar .nav ul li a:hover { color: #fff; }
#sidebar .nav ul li a .badge { color: #262626; background: #b3b3b3; }
#sidebar .nav ul li a.sel { color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); background: -webkit-linear-gradient(top, #2d98db, #2375a8); -webkit-box-shadow: 0 2px 0 #000; }
#sidebar .nav ul li a.sel .badge { color: #fff; background: #000; }

#nav-dashboard:before { @include icon; content: 'D'; float: left; margin: 1px 0 0 -26px; width: 22px; font-size: 18px; }
#nav-content:before { @include icon; content: 'C'; float: left; margin: 1px 0 0 -26px; width: 22px; font-size: 18px; }
#nav-assets:before { @include icon; content: 'A'; float: left; margin: 1px 0 0 -26px; width: 22px; font-size: 18px; }
#nav-users:before { @include icon; content: 'U'; float: left; margin: 1px 0 0 -26px; width: 22px; font-size: 18px; }
#nav-updates:before { @include icon; content: 'V'; float: left; margin: 1px 0 0 -26px; width: 22px; font-size: 18px; }
#nav-settings:before { @include icon; content: 'S'; float: left; margin: 1px 0 0 -26px; width: 22px; font-size: 18px; }

/* HIDE */
#sidebar { background: #e6e6e6; -webkit-box-shadow: inset -1px 0 #bbb; }
#sidebar .nav ul li { border-bottom-color: #ccc; }
#sidebar .nav ul li a { color: #808080; @include linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0)); }
#sidebar .nav ul li a:hover { color: #555; @include linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0)); }
#sidebar .nav ul li a:active { @include linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0)); }
#sidebar .nav ul li a.sel { margin: -1px 0; padding: 16px 20px; color: #252525; text-shadow: 0 1px 1px rgba(255,255,255,0.5); @include linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.1)); }
#sidebar .nav ul li a .badge { background: #fff; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25); }
/* end HIDE */

/* main */
#main { position: relative; margin-left: 200px; }

/* notifications */
#notifications { position: fixed; z-index: 9999; top: 0; left: 0; width: 100%; text-align: center; }
#notifications .notification { display: inline-block; padding: 3px 10px 2px; border-radius: 0 0 3px 3px; border-width: 0 1px 1px; border-style: solid; color: #fff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35); }
#notifications .notification.notice { border-color: #1F6794; background: #2782bb; }
#notifications .notification.error { border-color: #992f2f; background: #e14545; }

/* titlebar */
#titlebar { position: relative; border-bottom: 1px solid #dbdbdb; background: #f5f5f5; }
#titlebar h1 { margin: 0; padding: 10px 25px; text-align: center; }

#titlebar .left,
#titlebar .right { position: absolute; top: 9px; float: none; }
#titlebar .left { left: 25px; }
#titlebar .right { right: 25px; }
#titlebar .left li,
#titlebar .right li { float: left; }
#titlebar .left li + li,
#titlebar .right li + li { margin-left: 10px; }

#tabs { margin: -10px auto 25px; padding-bottom: 15px; border-bottom: 1px solid #e5e5e5; text-align: center; }
#tabs ul { }
#tabs ul li { display: inline-block; }
#tabs ul li a { display: block; padding: 5px 12px 4px; font-size: 13px; color: #555; }
#tabs ul li a:before { margin: 0 4px 0 0; font-size: 18px; }
#tabs ul li a:hover { color: $linkcolor; text-decoration: none; }
#tabs ul li a.active { border-radius: 2px; color: #555; text-shadow: 0 1px 0 #fff; @include linear-gradient(#dbdbdb, #e5e5e5); cursor: default; -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15); }

/* content */
#content { margin: 25px auto 0; padding: 0 25px; }
#content.centered { max-width: 500px; }

/* nav */
#main .nav { float: left; width: 150px; }
#main .nav .btn.submit { display: block; }
#main .nav ul li a:after { @include icon; display: none; margin: 0 0 -2px 8px; font-size: 13px; content: '>'; color: $linkcolor; }
#main .nav ul li a:hover:after { display: inline-block; }
#main .nav ul li a.sel:after { display: inline-block; color: #2c2c2c; }
#main .nav + div { margin-left: 175px; }
