$hue: 212;

$headerBgColor: hsl($hue, 20%, 25%);
$bgcolor: hsl($hue, 8%, 95%);

$textcolor: hsl($hue, 20%, 20%);
$mediumtextcolor: hsl($hue, 11%, 60%);
$lighttextcolor: hsl($hue, 11%, 75%);
$linkcolor: hsl($hue, 90%, 50%);
$hrcolor: hsl($hue, 10%, 90%);
$blurglowcolor: hsla($hue, 70%, 70%, 0);
$focusglowcolor: hsl($hue, 70%, 70%);

$submitcolor: #da5a47;
$errorcolor: #da5a47;
$successcolor: #00b007;
$noticecolor: #5286d9;

@mixin animation-iteration-count($count) {
	-webkit-animation-iteration-count: $count;
	-moz-animation-iteration-count: $count;
	animation-iteration-count: $count;
}

@mixin animation-duration($time) {
	-webkit-animation-duration: $time;
	-moz-animation-duration: $time;
	animation-duration: $time;
}

@mixin animation-name($name) {
	-webkit-animation-name: $name;
	-moz-animation-name: $name;
	animation-name: $name;
}

@mixin animation-timing-function($func) {
	-webkit-animation-timing-function: $func;
	-moz-animation-timing-function: $func;
	animation-timing-function: $func;
}

@mixin box-shadow($params...) {
	-webkit-box-shadow: $params;
	-moz-box-shadow: $params;
	box-shadow: $params;
}

@mixin box-shadow-transition($time) {
	-webkit-transition: -webkit-box-shadow linear $time;
	-moz-transition: box-shadow linear $time;
}

@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	box-sizing: $value;
}

@mixin linear-gradient($params...) {
	background-image: -webkit-linear-gradient($params);
	background-image: -moz-linear-gradient($params);
	background-image: -ms-linear-gradient($params);
	background-image: -o-linear-gradient($params);
	background-image: linear-gradient($params);
}

@mixin transition($params...) {
	-webkit-transition: $params;
	-moz-transition: $params;
}

@mixin user-select($value) {
	-webkit-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
}

@mixin icon {
	font-family: 'Craft';
	speak: none;
	-webkit-font-feature-settings: "liga", "dlig";
	-moz-font-feature-settings: "liga=1, dlig=1";
	-moz-font-feature-settings: "liga", "dlig";
	-ms-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";
	text-rendering: optimizeLegibility;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: subpixel-antialiased;

	display: inline-block;
	text-align: center;
	font-style: normal;
	vertical-align: middle;
	word-wrap: normal !important;
	@include user-select(none);
}

@mixin clearafter {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

@mixin pane {
	background: #fff;
	@include box-shadow(0 0 0 1px rgba(0,0,0,0.05), 0 2px 8px -2px rgba(0,0,0,0.1));
}

@mixin spinner {
	width: 20px;
	background: url(../images/spinner.gif) no-repeat 50% 50%;
}
