$hue: 212;

$headerBgColor: hsl($hue, 20%, 25%);
$bgcolor: hsl($hue, 8%, 95%);

$textcolor: hsl($hue, 20%, 20%);
$mediumtextcolor: hsl($hue, 11%, 60%);
$lighttextcolor: hsl($hue, 11%, 75%);
$linkcolor: hsl($hue, 90%, 50%);
$hrcolor: hsl($hue, 10%, 90%);
$blurglowcolor: hsla($hue, 70%, 70%, 0);
$focusglowcolor: hsl($hue, 70%, 70%);

$submitcolor: #da5a47;
$errorcolor: #da5a47;
$successcolor: #00b007;
$noticecolor: #5286d9;

@mixin linear-gradient($from, $to) {
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image:    -moz-linear-gradient(top, $from, $to);
	background-image:     -ms-linear-gradient(top, $from, $to);
	background-image:      -o-linear-gradient(top, $from, $to);
	background-image:         linear-gradient(to bottom, $from, $to);
}

@mixin unselectable {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
}

@mixin icon {
	font-family: 'Craft';
	speak: none;
	-webkit-font-feature-settings: "liga", "dlig";
	   -moz-font-feature-settings: "liga=1, dlig=1";
	   -moz-font-feature-settings: "liga", "dlig";
	    -ms-font-feature-settings: "liga", "dlig";
	     -o-font-feature-settings: "liga", "dlig";
	        font-feature-settings: "liga", "dlig";
	text-rendering: optimizeLegibility;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: subpixel-antialiased;

	display: inline-block;
	text-align: center;
	font-style: normal;
	vertical-align: middle;
	@include unselectable;
}

@mixin clearafter {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
