$darkbgcolor: #3d3f40;
$lightbgcolor: #797d80;

$xxxlight: #f2f0e6;
$xxlight: #e5e3da;
$xlight: #d9d7ce;
$light: #ccc7c2;
$mediumlight: #b3aeaa;
$medium: #999591;
$mediumdark: #807b79;
$dark: #666361;
$xdark: #4d4b49;
$xxdark: #333230;

$linkcolor: #5295ff;
$selcolor: #555;
$submitcolor: #da5a47;
$blurglowcolor: rgba(55,156,219,0);
$focusglowcolor: #6eb1db;
$errorcolor: #da5a47;
$successcolor: #00b007;
$noticecolor: #5286d9;
$hrcolor: #eee;
$textcolor: #555;
$lighttextcolor: #999;

$bgcolor: #f5f5f5;
$highlight: #f5f5f5;

@mixin linear-gradient($from, $to) {
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image:    -moz-linear-gradient(top, $from, $to);
	background-image:     -ms-linear-gradient(top, $from, $to);
	background-image:      -o-linear-gradient(top, $from, $to);
	background-image:         linear-gradient(to bottom, $from, $to);
}

@mixin unselectable {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
}

@mixin icon {
	font-family: 'Craft';
	speak: none;
	-webkit-font-feature-settings: "liga", "dlig";
	   -moz-font-feature-settings: "liga=1, dlig=1";
	   -moz-font-feature-settings: "liga", "dlig";
	    -ms-font-feature-settings: "liga", "dlig";
	     -o-font-feature-settings: "liga", "dlig";
	        font-feature-settings: "liga", "dlig";
	text-rendering: optimizeLegibility;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: subpixel-antialiased;

	display: inline-block;
	text-align: center;
	font-style: normal;
	vertical-align: middle;
	@include unselectable;
}

@mixin clearafter {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
