@charset "UTF-8";

@import "shared";

#main .toolbar .btngroup { float: right; }
#main .toolbar .search { margin-right: 86px; }
#main .toolbar .search .search-options { padding: 10px 0 0 5px; display: none;}

#main .files .open-file{ -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
#main .files .open-folder{ -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

/*-- manager --*/
.assets-selected { background: $selcolor; color: #fff; }
.thumb-wrapper { border: 5px solid #fff; background: url(../images/thumb_bg.png) 0 0;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 5px rgba(0,0,0,0.1);
}

/*-- thumbs --*/
#main .files.thumbs ul { margin: -25px 0 0 -15px; }
#main .files.thumbs .thumb.folder { background-image: url('../images/temp_folder.png'); }
#main .files.thumbs ul:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
#main .files.thumbs ul li { float: left; margin: 25px 0 0 15px; width: 110px; height: 153px; text-align: center; padding: 9px; }
#main .files.thumbs ul li .thumb { background-repeat: no-repeat; background-position: 50% 50%; }
#main .files.thumbs ul li .filename {  margin-top: 7px; font-size: 11px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; }

/*-- list --*/
#main .files.listview table th:first-child,
#main .files.listview table td:first-child { padding-left: 34px; }
#main .files.listview table td:first-child img { display: block; float: left; margin: -3px 0 -3px -34px; width: 24px; height: 24px; }


/*-- uploader --*/

#main .assets-upload { height: 31px; }
#main .assets-qq-upload-list { display: none;}
#main .assets .temp-spinner{ text-align: center; margin-top: -18px; display: none; }

/*-- prompts --*/
.assets-btn.btn{
	margin: 5px 0;
}

/*-- default icons --*/

.assets-fileicon { position: relative; margin: -6px -5px; padding: 6px 0; background: no-repeat 50% 50%; }
.assets-fm .assets-fileicon,
.assets-listview .assets-fileicon { margin-left: auto; margin-right: auto; }
.assets-tv-file .assets-fileicon { width: 69px; height: 77px; background-image: url(../images/file_medium.png); }
.assets-tv-file.assets-tv-bigthumb .assets-fileicon { width: 136px; height: 163px; background-image: url(../images/file_big.png); }
.assets-listview table .assets-lv-name .assets-lv-thumb .assets-fileicon { width: 22px; height: 16px; background-image: url(../images/file_small.png); }

.assets-fileicon .assets-extension { position: absolute; bottom: 50px; width: 100%; text-align: center; font-size: 17px; color: #ddd; text-transform: uppercase}
.assets-tv-file.assets-tv-bigthumb .assets-fileicon .assets-extension { bottom: 26px; font-size: 34px; }

/*-- folder navigation -- */
ul.assets-folders ul {padding-left: 10px; display: none; -webkit-user-select: none; -moz-user-select: none;}
li.assets-fm-folder a span.assets-fm-toggle { display: block; float: left; margin: 0 0 0 -18px; width: 16px; height: 16px; background: url(../images/foldertoggle.png) no-repeat 0 0; }
li.assets-fm-folder a.assets-fm-expanded span.assets-fm-toggle { background-position: 0 -32px; }

/*-- context menu --*/
.assets-contextmenu { position: absolute; z-index: 99999; border-radius: 2px; padding: 4px 0; background: #fff; -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1); -webkit-user-select: none; -moz-user-select: none; }
.assets-contextmenu li.contextmenu-break { margin: 4px 0; border-top: 1px solid #eee; height: 0; }
.assets-contextmenu li a { display: block; padding: 4px 10px; text-decoration: none; cursor: default; }
.assets-contextmenu li a:hover { background-color: $selcolor !important; color: #fff !important; cursor: pointer; }


/*-- Retina -- */
@media only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
	.assets-tv-file .assets-fileicon { background-image: url(../images/file_medium_2x.png); background-size: 69px 89px; }
	.assets-tv-file.assets-tv-bigthumb .assets-fileicon { background-image: url(../images/file_big_2x.png); background-size: 136px 175px; }
	.assets-listview table .assets-lv-name .assets-lv-thumb .assets-fileicon { background-image: url(../images/file_small_2x.png); background-size: 22px 28px; }

	li.assets-fm-folder a span.assets-fm-toggle { background-image: url(../images/foldertoggle_2x.png); background-size: 16px 64px; }

    .thumb-wrapper { background-image: url(../images/thumb_bg_2x.png); background-size: 16px 16px; }
}
