#main .toolbar .btngroup { float: right; }
#main .toolbar .search { margin-right: 86px; }

/*-- thumbs --*/
#main .files.thumbs ul { margin: -25px 0 0 -15px; }
#main .files.thumbs ul:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
#main .files.thumbs ul li { float: left; margin: 25px 0 0 15px; width: 125px; text-align: center; }
#main .files.thumbs ul li .thumb { width: 100%; height: 125px; background-repeat: no-repeat; background-position: 50% 100%; }
#main .files.thumbs ul li .filename {  margin-top: 7px; font-size: 11px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; }

/*-- list --*/
#main .files.listview table th:first-child,
#main .files.listview table td:first-child { padding-left: 34px; }
#main .files.listview table td:first-child img { display: block; float: left; margin: -3px 0 -3px -34px; width: 24px; height: 24px; }
