@charset "UTF-8";

@import "shared";

#main .files .open-file{ -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
#main .files .open-folder{ -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

/*-- manager --*/
.assets-page-loading .folder-contents{ padding-bottom: 30px; background: url('../images/spinner.gif') no-repeat center bottom; }
.assets-selected { background: $selcolor; color: #fff !important; }
.thumb-wrapper { border: 5px solid #fff; background: url(../images/checkers.png) 0 0;
                 -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 5px rgba(0,0,0,0.1);
                    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 5px rgba(0,0,0,0.1);
                         box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 5px rgba(0,0,0,0.1);}
.icon-wrapper { border: 5px solid #fff;}

.listview .thumb-wrapper { border-width: 2px;}
.listview .assets-fileicon { float: left; height: 28px; width: 22px; background: url('../images/file_small.png') no-repeat 50% 50%; margin: 0 0 0 -31px; padding: 0;}

.assets-modal { max-height: 400px; overflow: scroll;}

.assets-contextmenu { padding: 0;}
.assets-contextmenu ul { padding: 5px 15px;}
.assets-contextmenu ul + ul { border-top: 1px solid rgba(0,0,0,0.1);}

/*-- thumbs --*/
#main .files.thumbs ul { margin: -9px 0 0 -9px; }
#main .files.thumbs ul:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
#main .files.thumbs ul li { float: left; margin: 1px 0 0 1px; width: 110px; height: 128px; text-align: center; padding: 9px; }
#main .files.thumbs ul li .thumb { background-repeat: no-repeat; background-position: 50% 50%; }
#main .files.thumbs ul li .filename, ul.assets-tv-drag li .filename {  margin-top: 7px; font-size: 11px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; }

/*-- upload status --*/
.assets-uploadprogress { position: absolute; top: 36px; left: 0; width: 100%; background: rgba(250,250,250,0.8); }
.assets-uploadprogress .assets-progressbar { position: absolute; top: 145px; left: 50%; margin-left: -100px; padding: 2px; width: 192px; height: 6px; border: 2px solid $selcolor; background: #fafafa;
  border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px;
  -webkit-box-shadow: 0 0 20px 20px #fafafa; }
.assets-uploadprogress .assets-progressbar .assets-pb-bar { width: 0; height: 6px; background: $selcolor;
  border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

/*-- uploader --*/

.assets-upload { height: 31px; }
.assets-qq-upload-list { display: none;}
#main .assets .spinner{ float: right;  }

/*-- prompts --*/
.assets-btn.btn{
	margin: 5px 0;
}

/*-- default icons --*/

.assets-fileicon { position: relative; margin: 10px 21px; padding: 6px 0; background: no-repeat 50% 50%; }
.assets-fm .assets-fileicon,
.assets-tv-file .assets-fileicon { width: 69px; height: 77px; background-image: url(../images/file_medium.png); }
.assets-tv-file.assets-tv-bigthumb .assets-fileicon { width: 136px; height: 163px; background-image: url(../images/file_big.png); }
.assets-listview table .assets-lv-name .assets-lv-thumb .assets-fileicon { width: 22px; height: 16px; background-image: url(../images/file_small.png); }

.assets-fileicon .assets-extension { position: absolute; bottom: 15px; width: 100%; text-align: center; font-size: 17px; color: #ddd; text-transform: uppercase}
.assets-tv-file.assets-tv-bigthumb .assets-fileicon .assets-extension { bottom: 26px; font-size: 34px; }

/*-- Retina -- */
@media only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
	.assets-tv-file .assets-fileicon { background-image: url(../images/file_medium_2x.png); background-size: 69px 89px; }
	.assets-tv-file.assets-tv-bigthumb .assets-fileicon { background-image: url(../images/file_big_2x.png); background-size: 136px 175px; }
	.assets-listview table .assets-lv-name .assets-lv-thumb .assets-fileicon { background-image: url(../images/file_small_2x.png); background-size: 22px 28px; }

    .thumb-wrapper { background-image: url(../images/checkers_2x.png); background-size: 16px 16px; }
    .toolbar .spinner, .assets-page-loading .folder-contents{ background-image: url('../images/spinner_2x.gif'); background-size: 20px 20px; }
}
