body { background: #fff; }

#main .toolbar .btn-group { float: right; }
#main .toolbar .search { margin-right: 86px; }

/*-- grid --*/
#main .files.thumbview ul { margin: -20px 0 0 -20px; }
#main .files.thumbview ul:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
#main .files.thumbview ul li { float: left; margin: 20px 0 0 20px; width: 96px; padding: 2px 2px 0; text-align: center; }
#main .files.thumbview ul li .filename { text-align: center; }

/*-- list --*/
#main .files.listview table th:first-child,
#main .files.listview table td:first-child { padding-left: 34px; }
#main .files.listview table td:first-child img { display: block; float: left; margin: -3px 0 -3px -34px; width: 24px; height: 24px; }
