@charset "UTF-8";
@import "shared";

#main .files .open-file { -webkit-touch-callout: none; @include user-select(none); }
#main .files .open-folder { -webkit-touch-callout: none; @include user-select(none); }

/*-- manager --*/
.assets-page-loading .folder-contents{ padding-bottom: 30px; background: url('../images/spinner.gif') no-repeat center bottom; }
.thumb-wrapper { border: 5px solid #fff; background: url(../images/checkers.png) 0 0; @include box-shadow(0 0 0 1px rgba(0,0,0,0.05), 0 1px 5px rgba(0,0,0,0.1)); }
.icon-wrapper { border: 5px solid #fff;}

.listview .thumb-wrapper { border-width: 2px;}
.listview .assets-fileicon { @include floatleft; height: 28px; width: 22px; background: url('../images/file_small.png') no-repeat 50% 50%; @include margin(0, 0, 0, -31px); padding: 0; }

.assets-modal { max-height: 400px; overflow: scroll;}

.assets-contextmenu { padding: 0;}
.assets-contextmenu ul { padding: 5px 15px; }
.assets-contextmenu ul + ul { border-top: 1px solid rgba(0,0,0,0.1);}

/*-- thumbs --*/
#main .files.thumbs ul { @include margin(-9px, 0, 0, -9px); }
#main .files.thumbs ul:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
#main .files.thumbs ul li { @include floatleft; @include margin(1px, 0, 0, 1px); width: 110px; height: 128px; text-align: center; padding: 9px; }
#main .files.thumbs ul li .thumb { background-repeat: no-repeat; background-position: 50% 50%; }
#main .files.thumbs ul li .filename, ul.assets-tv-drag li .filename {  margin-top: 7px; font-size: 11px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; }

/*-- prompts --*/
.assets-btn.btn{
	margin: 5px 0;
}

/*-- default icons --*/

.assets-fileicon { position: relative; margin: 10px 21px; padding: 6px 0; background: no-repeat 50% 50%; }
.assets-fm .assets-fileicon,
.assets-tv-file .assets-fileicon { width: 69px; height: 77px; background-image: url(../images/file_medium.png); }
.assets-tv-file.assets-tv-bigthumb .assets-fileicon { width: 136px; height: 163px; background-image: url(../images/file_big.png); }
.assets-listview table .assets-lv-name .assets-lv-thumb .assets-fileicon { width: 22px; height: 16px; background-image: url(../images/file_small.png); }

.assets-fileicon .assets-extension { position: absolute; bottom: 15px; width: 100%; text-align: center; font-size: 17px; color: #ddd; text-transform: uppercase}
.assets-tv-file.assets-tv-bigthumb .assets-fileicon .assets-extension { bottom: 26px; font-size: 34px; }

/*-- Folder drag --*/

.assets-fm-folderdrag ul { display: none }
.assets-fm-folderdrag li { background: $headerBgColor; @include padding(4px, 0, 0, 10px); height: 18px !important;}
.assets-fm-folderdrag li a { color: #fff !important;}

/*-- Retina -- */
@media only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
	.assets-tv-file .assets-fileicon { background-image: url(../images/file_medium_2x.png); background-size: 69px 89px; }
	.assets-tv-file.assets-tv-bigthumb .assets-fileicon { background-image: url(../images/file_big_2x.png); background-size: 136px 175px; }
	.assets-listview table .assets-lv-name .assets-lv-thumb .assets-fileicon { background-image: url(../images/file_small_2x.png); background-size: 22px 28px; }

	.thumb-wrapper { background-image: url(../images/checkers_2x.png); background-size: 16px 16px; }
	.toolbar .spinner, .assets-page-loading .folder-contents{ background-image: url('../images/spinner_2x.gif'); background-size: 20px 20px; }
}
