@charset "UTF-8";

@import "shared";
@import "reset";

@font-face {
	font-family: 'pictosregular';
	src: url('../fonts/pictos_custom-webfont.eot');
	src: url('../fonts/pictos_custom-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pictos_custom-webfont.woff') format('woff'),
		 url('../fonts/pictos_custom-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* ----------------------------------------
/*  Basic stuff
/* ----------------------------------------*/

body { font-size: 13px; line-height: 18px; color: #555; background: #fff; }
body, input, textarea { font-family: HelveticaNeue, sans-serif; }

.first, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, hr:first-child, .pane:first-child, .grid:first-child, .field:first-child, .toolbar:first-child, .buttons:first-child { margin-top: 0 !important; }
.last,  h2:last-child,  h3:last-child,  h4:last-child,  h5:last-child,  h6:last-child,  p:last-child,                  .pane:last-child,  .grid:last-child,  .field:last-child,  .toolbar:last-child,  .buttons:last-child  { margin-bottom: 0 !important; }

/* icons */
.icon:before,
.menulist ul li a.active:before,
.textwrapper.search:before,
.datewrapper:before,
.entity:before,
.secure:before,
.insecure:before,
.go:after,
.menubtn:after,
.required:after,
[data-icon]:before,
[data-icon-after]:after { @include icon; }

[data-icon]:before { content: attr(data-icon); }
[data-icon-after]:after { content: attr(data-icon-after); }

.icon.secure:before { content: '`'; }
.icon.insecure:before { content: '~'; }
.icon.add:before { content: '+'; }
.icon.edit:before { content: '✎'; }
.icon.settings:before { content: '⚙'; }

/* nav */
.nav { display: block; }
.nav ul li a { display: block; padding: 5px 0; color: #b3b3b3; }
.nav ul li a:hover { color: $linkcolor; text-decoration: none; }
.nav ul li a .status { margin: 0 7px 0 6px; }
.nav ul li a .badge { display: block; float: right; padding: 0 7px; border-radius: 9px; line-height: 18px; font-weight: bold; }
.nav ul li a.sel { color: #2c2c2c; }

/* headings */
h1 { margin-bottom: 25px; font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif; font-size: 22px; line-height: 30px; color: #000; }
h2 { margin: 15px 0; font-size: 15px; font-weight: bold; line-height: 1.2; color: #2c2c2c; }

/* sections */
section { margin: 30px 0 30px 30px; }
section > h2 { margin-left: -30px; }

/* horizontal rule */
hr { margin: 25px 0; border: none; border-top: 1px solid #dbdbdb; height: 0; color: transparent; }

/* paragraphs */
p { margin: 1em 0; }

/* lists */
.bullets { padding-left: 40px; list-style-type: square; }
ol { padding-left: 40px; list-style-type: decimal; }

/* code */
code,
.code { font-family: Menlo, monospace; font-size: 0.9em !important; }

/* links */
a { color: $linkcolor; cursor: pointer; }
a:hover { text-decoration: underline; }

a.sel,
li.sel a { cursor: default !important; text-decoration: none; }

a.go:after { content: '→'; font-size: 12px; margin: -2px 0 0 4px; }

/* emphasis */
em, i { font-style: italic; }
strong, b, i em { font-weight: bold; font-family: sans-serif; }

/* text styles */
.rightalign { text-align: right; }
.centeralign { text-align: center; }
.nowrap { white-space: nowrap; }
.light { color: $mediumlight; font-weight: normal; }

.required:after { content: '*'; margin: -1px 0 -1px 1px; font-size: 8px; color: $errorcolor; }

.scrollpane { overflow: auto; }

.left { float: left; }
.right { float: right; }

th.right,
td.right { float: none; text-align: right; }

.no-outline { outline: none; }
.clear { display: block; clear: both; height: 0; }

.token { display: inline-block; border: 1px solid #c1c1c1; border-radius: 10px; padding: 0 7px 1px; font-size: 12px; line-height: 14px; color: #555; text-shadow: 0 1px 1px rgba(255,255,255,0.5); background: #ddd; }
.token:focus { border-color: #999; background: #aaa; outline: none; }

.settings-btn { display: block; width: 16px; height: 16px; background: url(../images/settings-btn.png); cursor: pointer; }
.settings-btn.sel { background-position: 0 100%; }

.error { color: $errorcolor; }

.move { display: inline-block; cursor: move; }
.move:before { content: 'm'; color: #ccc; }
.move:hover:before { color: $linkcolor; }

.delete { display: inline-block; }
.delete:before { content: 'R'; color: #ccc; }
.delete:hover:before { color: $errorcolor; }

.hidden { display: none !important; }

/* headers and footers */
.header,
.footer { position: relative; border: 0 solid #dbdbdb; padding: 10px 25px; background: #f5f5f5; }

.clearafter:after,
.header:after,
.footer:after { @include clearafter; }

.header { border-bottom-width: 1px; }
.footer { border-top-width: 1px; padding-top: 9px; }

.header h1 { margin: 0; text-align: center; }
.header h1 .version { display: inline-block; position: relative; top: -2px; border-radius: 2px; padding: 0 5px; font-size: 11px; line-height: 18px; color: #fff; background: #555;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.header .left,
.header .right { position: absolute; top: 9px; float: none; }
.header .left { left: 25px; }
.header .right { right: 25px; }
.header .left li,
.header .right li,
.footer .left li,
.footer .right li { float: left; }
.header .left li + li,
.header .right li + li { margin-left: 10px; }
.footer .left li + li,
.footer .right li + li { margin-left: 10px; }

/* ----------------------------------------
/*  Panes
/* ----------------------------------------*/

.pane { position: relative; margin: 25px 0; padding: 15px; background: #fff;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px -2px rgba(0,0,0,0.25);
	   -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px -2px rgba(0,0,0,0.25);
}

.pane h2 { margin-bottom: 15px; border-bottom: none; }
.pane h2 + .actions { margin-top: -44px; }
h3 + .pane { margin-top: 15px; }

/* admin panes */
.adminpane { padding: 1px 0; }
.adminpane .list { float: left; padding: 14px 15px; border-right: 1px solid #d6d6d6; width: 170px; min-height: 200px; }
.adminpane .list ul { margin-bottom: 15px; }
.adminpane .settings { margin-left: 200px; border-left: 1px solid #d6d6d6; padding: 14px 15px; }
.adminpane .settings .buttons:not(:first-child) { margin-top: 15px; border-top: 1px solid #d6d6d6; padding-top: 15px; }
.adminpane .settings .buttons:first-child { margin-top: 0; }

/* ----------------------------------------
/*  Grids
/* ----------------------------------------*/

.grid { margin: 25px 0 25px -25px; }
.grid:after { @include clearafter; }
.grid .col { float: left; }
.grid .col .col-inner { margin-left: 25px; }

.grid .col75 { width: 75%; }
.grid .col66 { width: 66.66%; }
.grid .col66:last-child { width: 66.67%; }
.grid .col50 { width: 50%; }
.grid .col33 { width: 33.33%; }
.grid .col33:last-child { width: 33.34%; }
.grid .col25 { width: 25%; }

/* ----------------------------------------
/*  Icon lists
/* ----------------------------------------*/

ul.icons { margin-top: 25px; }
ul.icons:after { @include clearafter; }
ul.icons li { float: left; margin: 0 10px 25px; }
ul.icons li.break { clear: left; }
ul.icons li a { display: block; position: relative; padding-top: 60px; width: 80px; text-align: center; color: #555; }
ul.icons li a:before { display: block; position: absolute; top: 0; left: 0; width: 100%; font-size: 55px; line-height: 60px; }
ul.icons li a:hover { text-decoration: none; color: $linkcolor; }

/* ----------------------------------------
/*  Buttons
/* ----------------------------------------*/

.toolbar { margin: 25px 0; height: 31px; }

.buttons { margin: 25px 0; }
.buttons .btn + .btn { margin-left: 4px; }

.btn,
.backbtn { display: inline-block; padding: 0 12px; line-height: 31px; color: #808080; text-align: center; white-space: nowrap; @include unselectable; }

.btn { border-radius: 2px; border: none; background: rgba(0,0,0,0.05); cursor: pointer; overflow: hidden;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
	   -moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
}
.btn:hover { text-decoration: none; }
.btn:not(.disabled):not(:active):not(.active):hover { background: rgba(0,0,0,0.09); }
.btn:active,
.btn.active { background: rgba(0,0,0,0.13); }
.btn.disabled { opacity: 0.5; cursor: default; }

.btngroup,
.btn,
.spinner { height: 31px; }

.btn[data-icon]:before,
.btn.icon:before { margin-right: 5px; }
.btn[data-icon-after]:after,
.menubtn:after { margin-left: 5px; }

.btn[data-icon]:before,
.btn[data-icon-after]:after,
.btn.icon:before,
.menubtn:after { position: relative; font-size: 15px; margin-top: -2px; }

.btn.small[data-icon]:before,
.btn.small[data-icon-after]:after,
.btn.icon.small:before,
.menubtn.small:after { font-size: 10px; }

/* button groups */
.btngroup { display: inline-block; font-size: 0; }
.btngroup .btn { font-size: 13px; }
.btngroup .btn:not(:first-child) { border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none; }
.btngroup .btn:not(:last-child) { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.btngroup .btn.active { position: relative; }
.btngroup .btn:active { position: relative; z-index: 1; }
.btngroup .btn[data-icon]:before { margin-right: -2px; }

/* back buttons */
.backbtn { position: relative; padding-left: 5px; height: 31px; background: url(../images/backbtn-right.png) 100% 0 no-repeat; }
.backbtn:before { position: absolute; top: 0; left: -15px; width: 15px; height: 31px; content: '.'; text-indent: -100px; overflow: hidden; background: url(../images/backbtn-left.png) 0 0 no-repeat; }
.backbtn:hover { color: #666; text-decoration: none; background-position: 100% 50%; }
.backbtn:hover:before { background-position: 0 50%; }
.backbtn:active { background-position: 100% 100%; }
.backbtn:active:before { background-position: 0 100%; }

/* menu buttons */
.menubtn { @include unselectable; }
.menubtn:after { content: '▼'; font-size: 0.8em; }

/* spinner */
.spinner { display: inline-block; vertical-align: bottom; width: 20px; background: url(../images/spinner.gif) no-repeat 50% 50%; }
.btn + .spinner { margin-left: 7px; }

/* small buttons */
.btngroup.small .btn,
.btn.small { padding: 0 7px; font-size: 11px; line-height: 22px; }
.btngroup.small,
.btngroup.small input.btn,
.btn.small,
.btn.small + .spinner { height: 22px; }

/* big buttons */
.btngroup.big .btn,
.btn.big { padding: 0 15px; font-size: 14px; line-height: 36px; }
.btn.big[data-icon]:before { margin-left: -2px; }
.btngroup.big,
.btngroup.big input.btn,
.btn.big,
.btn.big + .spinner { height: 36px; }

/* submit buttons */
.btn.submit { border-color: transparent; color: #fff; text-shadow: 0 0px 3px rgba(0,0,0,0.5); background-color: hsl(203, 79%, 50%); }
.btn.submit:not(.disabled):not(:active):not(.active):hover { background-color: hsl(203, 79%, 55%); }
.btn.submit:not(.disabled):active,
.btn.submit:not(.disabled).active { background-color: hsl(203, 79%, 40%); }

div.btn.submit { position: relative; overflow: hidden; }
div.btn.submit input { position: absolute; left: 100%; }

/* red buttons */
.btn.red { @include linear-gradient(#bf2b17, #8a1f11); }
.btn.red:not(.disabled):hover { @include linear-gradient(#ad2715, #781b0e); }
.btn.red:not(.disabled):active,
.btn.red:not(.disabled).active,
.btn.red:not(.disabled).loading { @include linear-gradient(#9c2313, #66170c); }

/* switch */
.lightswitch { border-radius: 10px; width: 51px; height: 20px; background: #999; overflow: hidden; cursor: pointer; @include unselectable;
	-webkit-box-shadow: 0 0 0 1px #999;
	   -moz-box-shadow: 0 0 0 1px #999;
}
.lightswitch .container { margin-left: -31px; width: 90px; }
.lightswitch.on .container { margin-left: 0; }
.lightswitch .label { float: left; width: 29px; height: 20px; font-size: 11px; line-height: 20px; text-align: center; text-transform: uppercase;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.25);
	   -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.25);
}
.lightswitch .label.on { padding: 0 10px 0 2px; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); @include linear-gradient(#2782bb, $linkcolor); }
.lightswitch .label.off { padding: 0 2px 0 10px; color: #666; text-shadow: 0 1px 0 #fff; @include linear-gradient(#d5d5d5, #e5e5e5); }
.lightswitch .handle { float: left; margin: -1px 0 -1px -52px; border-radius: 10px; border: 1px solid #999; padding: 0; width: 20px; height: 20px; @include linear-gradient(#e5e5e5, #fff);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

/* action buttons */
.actions { float: right; }
.actions > li { float: left; }
.actions > li + li { margin-left: 10px; }
h1 + .actions { margin-top: -100px; }
h2 + .actions { margin-top: -54px; }

/* ----------------------------------------
/*  Tables
/* ----------------------------------------*/

table th { font-weight: bold; text-align: left; vertical-align: top; }

/* info */
table.info > tbody > tr > th { padding: 0 10px 2px 0; width: 150px; text-align: right; color: $mediumdark; }
table.info > tbody > tr > td { padding: 0 0 2px 0; }

/* data */
table.data { width: 100%; }
table.data th,
table.data td { padding: 5px 15px 5px 0; vertical-align: middle; }
table.data th:last-child,
table.data td:last-child { padding-right: 0; }
table.data thead td,
table.data thead th { padding-top: 0; }
table.data thead th { font-weight: bold; white-space: nowrap; }
table.data tbody tr th,
table.data tbody tr td { border-top: 1px dotted #e5e5e5; }
table.data tbody tr:last-child th,
table.data tbody tr:last-child td { border-bottom: 1px dotted #e5e5e5; }
table.data .thin { width: 0.01%; padding-right: 7px; vertical-align: middle; }
table.data .light,
table.data .timestamp { color: #999; }
table.data td.timestamp { text-align: right; vertical-align: bottom; white-space: nowrap; }
table.data td form { height: 22px; }
table.data td .btngroup { display: inline; }

.datatablesorthelper { margin: -2px -7px; padding: 2px 7px; background: #fff;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 2px 10px -2px rgba(0,0,0,0.25);
	   -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 2px 10px -2px rgba(0,0,0,0.25);
}
.datatablesorthelper tr:first-child th,
.datatablesorthelper tr:first-child td { border-top: none !important; }
.datatablesorthelper tr:last-child th,
.datatablesorthelper tr:last-child td { border-bottom: none !important; }

/* ----------------------------------------
/*  Nav
/* ----------------------------------------*/

ul.tree,
.tree ul { margin-left: 20px; }
.tree li .toggle { margin: 7px 0 0 -15px; }

/* toggle */
.toggle { display: block; float: left; margin: 3px 4px 0 0; width: 10px; height: 12px; background: url(../images/toggle.png) no-repeat 0 0; opacity: 0.5; }
.toggle.expanded { background-position: 0 -10px; }

/* status icons */
.status { display: inline-block; margin-right: 5px; width: 10px; height: 10px; background: url(../images/status.png) no-repeat 0 -30px; }
.status.on { background-position: 0 0; }
.status.pending { background-position: 0 -10px; }
.status.off { background-position: 0 -20px; }

/* ----------------------------------------
/*  HUD
/* ----------------------------------------*/

.hud { position: absolute; background: rgba(25,25,25,0.9);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}
.hud .tip { position: absolute; }
.hud .tip.top { top: -5px; left: 50%; margin-left: -5px; width: 10px; height: 5px; background-image: url(../images/hud-tip-top.png); }
.hud .tip.right { right: -5px; width: 5px; height: 10px; background-image: url(../images/hud-tip-right.png); }
.hud .tip.bottom { bottom: -5px; width: 10px; height: 5px; background-image: url(../images/hud-tip-bottom.png); }
.hud .tip.left { left: -5px; width: 5px; height: 10px; background-image: url(../images/hud-tip-left.png); }

/* ----------------------------------------
/*  Modals
/* ----------------------------------------*/

.modal { position: absolute; z-index: 9999; width: 400px; padding: 25px; background: #fff;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 4px 20px -7px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 4px 20px -7px rgba(0,0,0,0.5);
}
.modal .header { margin: -25px -25px 25px; background: #fafafa; }
.modal .footer { margin: 25px -25px -25px; background: #fafafa; }
.modal-shade { display: none; position: fixed; top: 0; left: 0; z-index: 9998; width: 100%; height: 100%; background: rgba(255,255,255,0.75); }

/* ----------------------------------------
/*  Menus
/* ----------------------------------------*/

.menu { display: none; position: absolute; z-index: 9999; padding: 10px 15px; background: #fff; @include unselectable;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 5px 15px -5px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}
.menu ul li + li { margin-top: 3px; }
.menu ul li a { display: block; margin: 0 -15px; padding: 4px 15px; font-size: 12px; color: #555; text-decoration: none; }
.menu ul li a:not(.active):hover { color: #fff; text-shadow: 0 0px 3px rgba(0,0,0,0.5); background: hsl(203, 79%, 45%); }

.menulist { padding-left: 33px; }
.menulist h2 { margin: 10px 0 3px; }
.menulist ul li a { margin-left: -33px; padding-left: 33px; }
.menulist ul li a.active { color: #999; cursor: default; }
.menulist ul li a.active:before { content: "√"; float: left; margin: 2px 0 0 -18px; font-size: 16px; }

/* ----------------------------------------
/*  Fields
/* ----------------------------------------*/

.text,
#main div.redactor_box,
.border-box { border: 1px solid #ccc;
	-webkit-box-shadow: 0 0 0 $blurglowcolor; -webkit-transition: border linear 100ms, -webkit-box-shadow linear 100ms;
	   -moz-box-shadow: 0 0 0 $blurglowcolor;    -moz-transition: border linear 100ms,    -moz-box-shadow linear 100ms;
}

.text.focus,
.text:focus,
.border-box:focus,
.border-box.focus { border-color: $focusglowcolor; outline: none;
	-webkit-box-shadow: 0 0 5px $focusglowcolor;
	   -moz-box-shadow: 0 0 5px $focusglowcolor;
}

input.text,
textarea.text,
.text input,
.text textarea { font-size: 13px; color: #555; }

.field { position: relative; margin: 25px 0; }
.field .heading { margin-bottom: 4px; }
.field .heading p { margin-top: 0; font-size: 11px; color: #999; }

/* toggles and nested fields */
.nested-fields { margin: -25px -5px; padding: 25px 5px 0; overflow: hidden; }
.nested-fields.hidden { display: block; height: 0; }
.nested-fields > .field:last-child { padding-bottom: 25px; }

/* checkbox */
.checkbox + .checkbox { margin-top: 3px; }
.field.checkbox + .field.checkbox { margin-top: -22px; }

/* text */
.textwrapper { padding-right: 16px; }
.textwrapper > .text { display: block; width: 100%; }

.text { padding: 7px; background: #fff; }
.text input { margin: 0; padding: 0; border: none; outline: none; }
.text.small { padding: 3px; }

.input.errors .text,
.input.errors div.redactor_box,
.input.errors .border-box,
.text.error { border-color: $errorcolor !important; }

.textwrapper.search { position: relative; padding-right: 36px; cursor: text; }
.textwrapper.search:before { position: absolute; top: 7px; left: 8px; content: "s"; color: #a1a4a6; }
.textwrapper.search .text { padding-left: 27px; }

.texthint-container { position: relative; height: 0; }
.texthint { position: absolute; top: -1px; width: 100%; color: #a1a4a6; cursor: text; }

.passwordwrapper { position: relative; padding-right: 79px; }
.passwordwrapper .password { width: 100%; }
.passwordwrapper .password-toggle { display: block; position: absolute; top: 7px; right: 0; width: 44px; text-align: center; }
.password { padding-right: 70px; }
.password.capslock:focus { background: #fff url(../images/capslock.png) no-repeat 100% 50%; }

.datewrapper { position: relative; padding-right: 36px; width: 194px; }
.datewrapper:before { position: absolute; top: 9px; left: 8px; content: "d"; color: #a1a4a6; }
.datewrapper .text { padding-left: 27px; width: 100%; }

/* redactor */
#main .redactor_toolbar { height: 33px !important; background: #fafafa; border-bottom: 1px solid #eaeaea; }
#main .redactor_toolbar li a:hover { border-radius: 2px; border: 1px solid #d4d4d4; background-color: #e8e8e8; }
#main .redactor_toolbar li.redactor_separator { margin: 7px 2px 0 3px !important; height: 19px; border-left: 1px dotted #ccc; border-right: none; }

/* select */
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
	.select:before { @include icon; }
	.select select { border: 1px solid #ccc; font-size: 13px; color: #555;
		-webkit-box-shadow: 0 0 0 $blurglowcolor; -webkit-transition: border linear 100ms, -webkit-box-shadow linear 100ms;
	}
	.select select:focus { border-color: $focusglowcolor; outline: none;
		-webkit-box-shadow: 0 0 5px $focusglowcolor;
	}

	.select,
	.select select { border-radius: 2px; }
	.select { display: inline-block; position: relative; background: #fff; }
	.select:before { position: absolute; top: 7px; right: 9px; font-size: 10px; content: '▼'; @include unselectable; }
	.select select { position: relative; padding: 7px 22px 7px 10px; background: none;
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05), 0 0 0 $blurglowcolor; -webkit-appearance: none;
	}
	.select:hover select:not(:focus) { border-color: #999; }
	.select select:focus {
		-webkit-box-shadow: inset 0 0 1px $focusglowcolor, 0 0 5px $focusglowcolor;
	}
}

/* datepicker */
.ui-datepicker { padding: 10px; width: 210px; height: 200px; background: #fff;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px -2px rgba(0,0,0,0.25);
	   -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px -2px rgba(0,0,0,0.25);
}
.ui-datepicker-header { margin-bottom: 2px; }
.ui-datepicker-prev { float: left; }
.ui-datepicker-next { float: right; }
.ui-datepicker-title { text-align: center; }
.ui-datepicker-calendar thead { display: none; }
.ui-datepicker-calendar td { padding: 2px; }
.ui-datepicker-calendar td a { display: block; width: 26px; line-height: 26px; text-align: center; color: #808080; }
.ui-datepicker-calendar td a:hover { color: $linkcolor; text-decoration: none; }
.ui-datepicker-calendar td a.ui-state-active { background: $linkcolor; color: #fff; cursor: default; }
.ui-datepicker-calendar td.ui-datepicker-today a { border-radius: 13px;
	-webkit-box-shadow: inset 0 0 0 2px rgba(0,0,0,0.15);
	   -moz-box-shadow: inset 0 0 0 2px rgba(0,0,0,0.15);
}

/* links */
.links .border-box { padding: 7px; @include unselectable; }
.links .buttons { margin: 7px 0 0; }

.links table.data tbody .filler th,
.links table.data tbody .filler td { height: 15px; }
.links table.data tbody tr:first-child th,
.links table.data tbody tr:first-child td { border-top: none; }
.links table.data tbody tr:last-child th,
.links table.data tbody tr:last-child td { border-bottom: none; }

.addlinksmodal { width: 500px; }
.addlinksmodal .body { margin: -25px; padding: 25px; height: 250px; overflow: auto; @include unselectable; }

.entity { margin: -5px 0; padding: 4px 7px; cursor: pointer;
	-webkit-transition: background-color linear 100ms;
	   -moz-transition: background-color linear 100ms;
}
.entity:before { content: 'l'; margin: -2px 5px 0 0; font-size: 15px; }
.entity:hover { color: $linkcolor; }
.entity.sel { color: #fff; text-shadow: 0 0px 3px rgba(0,0,0,0.5); background-color: hsl(203, 79%, 50%); }
.links .border-box:not(:focus) .entity.sel { text-shadow: none; background-color: #a1a4a6; }

/* errors */
ul.errors { margin-top: 5px; list-style-type: square; padding-left: 20px; }
ul.errors li { color: $errorcolor; }

/* locked-up CP dialog */
.lockedup { position: absolute; z-index: 9999; top: 0; left: 0; width: 100%; height: 100%; background: rgba(250,250,250,0.9); }
.lockedup .pane { top: 50%; margin: -75px auto 0 !important; width: 320px; }

/* ----------------------------------------
/*  Retina graphics
/* ----------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (   -moz-min-device-pixel-ratio: 1.5),
	   only screen and (     -o-min-device-pixel-ratio: 3/2),
	   only screen and (        min-device-pixel-ratio: 1.5),
	   only screen and (        min-resolution: 1.5dppx)
{
	.backbtn { background-image: url(../images/backbtn-right_2x.png); background-size: 185px 113px; }
	.backbtn:before { background-image: url(../images/backbtn-left_2x.png); background-size: 15px 113px; }

	.status { background-image: url(../images/status_2x.png); background-size: 10px 40px; }

	.spinner { background-image: url(../images/spinner_2x.gif); background-size: 20px 20px; }

	.hud .tip.top { background-image: url(../images/hud-tip-top_2x.png); background-size: 10px 5px; }
}
