@import "shared";

#main { padding-top: 50px; }
#title { font-size: 40px; font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif; }

#sidebar ul { margin-bottom: 25px; }
#sidebar ul li { border-top: 1px solid $xxlight; }
#sidebar ul li:last-child { border-bottom: 1px solid $xxlight; }
#sidebar ul li a { display: block; position: relative; margin: -1px -25px; border: solid transparent; border-width: 1px 0; padding: 4px 25px; text-shadow: 0 1px 0 #fff; }
#sidebar ul li a .name,
#sidebar ul li a .author { overflow: hidden; white-space: pre; text-overflow: ellipsis; }
#sidebar ul li a .name { height: 16px; line-height: 16px; color: $mediumlight; }
#sidebar ul li a .author { height: 14px; line-height: 14px; font-size: 11px; font-style: italic; color: $light; }
#sidebar ul li a:hover { text-decoration: none; }
#sidebar ul li a:not(.sel):hover .name { color: $linkcolor; }
#sidebar ul li a.sel { z-index: 1; border-color: $xlight; color: $mediumdark; background: $xxlight; }
#sidebar ul li a.sel .name { color: $mediumdark; }
#sidebar ul li a.sel .author { color: $mediumlight; }

#sidebar ul li a.published { padding-right: 50px; }
#sidebar ul li a.published .name { height: 30px; line-height: 30px; }
#sidebar ul li a.published .status { position: absolute; top: 14px; right: 25px; }

#sidebar h6 { margin-bottom: 3px; }
