@charset "UTF-8";

@import "shared";

/* dev mode */
#devmode { width: 100%; height: 3px; background: url(../images/devmode.png) repeat-x; cursor: help; }

/* header */
#header { max-height: 76px; overflow: hidden; background: #333; }
#header:after { @include clearafter; }
#header a { color: #aaa; -webkit-transition: color linear 50ms; }
#header a:hover { color: #fff; text-decoration: none; }

#header #account { float: right; margin-right: 5px; height: 38px; }
#header #account > a { display: block; padding: 0 10px; line-height: 38px; }

#header h2 { float: left; margin: 0; padding: 10px 0 10px 30px; color: #fff; }

#header #nav { float: left; margin-left: 20px; }
#header #nav li { float: left; height: 38px; }
#header #nav li a { display: block; padding: 6px 10px 4px; line-height: 28px; }
#header #nav li a.active { color: #fff; }
#header #nav li a.sel { color: #333; background: #fff; }
#header #nav li a:not(.sel) .badge { color: #333; }

/* HIDE */
#customize-nav-btn span { display: none; }
#overflow-nav #customize-nav-btn span { display: inline-block; }
/* end HIDE */

#header #nav li a .badge,
#overflow-nav li a .badge { display: inline-block; position: relative; top: -6px; border-radius: 6px; padding: 0 3px; font-size: 10px; line-height: 12px; color: #fff; background: $submitcolor; }

/* HIDE */
#overflow-nav li a { padding-left: 30px; }
#overflow-nav li#customize-nav-btn a:before { float: left; margin-left: -21px; }
/* end HIDE */

/* notifications */
#notifications-wrapper { position: absolute; z-index: 9999; left: 0; width: 100%; }
#notifications-wrapper.fixed { position: fixed; top: 0; }
#notifications { text-align: center; }
#notifications .notification { display: inline-block; padding: 5px 10px; border-radius: 0 0 3px 3px; border-width: 0 1px 1px; color: #fff !important;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35);
	   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.35);
}
#notifications .notification.notice { background: $linkcolor; }
#notifications .notification.error { background: $submitcolor; }

/* page header */
#page-header { display: block; padding: 30px; background: #fff; }
#page-header:after { @include clearafter; }
#page-header h1 { float: left; margin: 0 15px 0 0; line-height: 31px; }
#page-header #tabs { float: right; }
#page-header #tabs li { float: left; }
#page-header #tabs li a { display: block; padding: 0 10px; color: #555; line-height: 31px; }
#page-header #tabs li a:hover { text-decoration: none; color: $linkcolor; }
#page-header #tabs li a.sel { color: #fff; background: $selcolor; cursor: default; }

/* main */
#main { margin: 0 30px 30px; }
#main.has-sidebar { margin-left: 230px; }
#main.has-sidebar:after { @include clearafter; }

#main #sidebar { float: left; margin-left: -200px; width: 170px; }
#main #sidebar nav li a { display: block; padding: 4px 0; color: #555; }
#main #sidebar nav li a:hover { text-decoration: none; color: $linkcolor; }
#main #sidebar nav li a.sel { margin-left: -200px; padding-left: 200px; color: #fff; background: $selcolor; cursor: default; }
