@charset "UTF-8";

@import "shared";

$headerBgColor: #333;

html { overflow-y: scroll; }
html, body,
#nav li a.sel { background: $bgcolor; }

#tabs li .tab.sel,
#main {
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 2px 10px -2px rgba(0,0,0,0.1);
	        box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 2px 10px -2px rgba(0,0,0,0.1);
}

/* dev mode */
#devmode { width: 100%; height: 5px; background: $headerBgColor url(../images/devmode.png) repeat-x 50% 0; cursor: help; }

#alerts { color: $errorcolor; text-align: center; background: $headerBgColor; }
#alerts li { padding: 2px 30px; }
#alerts li:first-child { padding-top: 4px; }
#alerts li:last-child { padding-bottom: 4px; }
#alerts li:before { @include icon; margin: -1px 3px 0 0; content: 'alert'; font-size: 16px; }
#alerts li a { color: $errorcolor; text-decoration: underline; }

.centered { margin: 0 auto; max-width: 1024px; max-width: 1051px; }

/* header */
#header { position: relative; background: $headerBgColor; max-height: 76px; overflow: hidden; }
#header:after { @include clearafter; }
#header a { color: #aaa; -webkit-transition: color linear 50ms; }
#header a:hover { color: #fff; text-decoration: none; }

#header #account { float: right; height: 38px; }
#header #account > a { display: block; padding: 0 10px; line-height: 38px; }
#header #account > a:after { margin-left: 4px; }

#header h2 { float: left; margin: 0 0 0 30px; padding: 10px 0; color: #fff; }

#nav { float: left; margin-left: 20px; }
#nav li { float: left; height: 38px; }
#nav li a { display: block; margin-top: 2px; padding: 4px 10px; line-height: 28px; }
#nav li a.active { color: #fff; }
#nav li a.sel { position: relative; z-index: 1; border-radius: 3px 3px 0 0; color: #333; }
#nav li a:not(.sel) .badge { color: #333 !important; }

/* HIDE */
#customize-nav-btn span { display: none; }
#overflow-nav #customize-nav-btn span { display: inline-block; }
/* end HIDE */

#header #nav li a .badge,
#overflow-nav li a .badge { display: inline-block; position: relative; top: -6px; border-radius: 6px; padding: 0 3px; font-size: 10px; line-height: 12px; color: #fff; background: $submitcolor; }
#overflow-nav li a:hover .badge { color: $selcolor; }

/* HIDE */
#overflow-nav li a { padding-left: 30px; }
#overflow-nav li#customize-nav-btn a:before { float: left; margin-left: -21px; }
/* end HIDE */

/* notifications */
#notifications-wrapper { position: absolute; z-index: 9999; left: 0; width: 100%; }
#notifications-wrapper.fixed { position: fixed; top: 0; }
#notifications { text-align: center; }
#notifications .notification { display: inline-block; padding: 5px 10px; border-radius: 0 0 3px 3px; border-width: 0 1px 1px; color: #fff !important;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35);
	        box-shadow: 0 1px 3px rgba(0,0,0,0.35);
}
#notifications .notification.notice { background: $noticecolor; }
#notifications .notification.error { background: $submitcolor; }

/* main wrapper */
#main-wrapper { position: relative; }

/* page header */
#page-header { display: block; position: relative; z-index: 1; padding: 35px 30px; overflow: hidden; text-shadow: 0 1px 0 #fff; }
#page-header h1 { display: inline; line-height: 1; }
#page-header #extra-headers { display: inline-block; position: relative; top: 5px; }
#page-header #extra-headers > .select,
#page-header #extra-headers > .menubtn,
#page-header #extra-headers > .btn { display: block; margin-left: 5px; float: left; }

#crumbs { margin: -35px 0 10px; font-size: 0; }
#crumbs:after { @include clearafter; }
#crumbs li { display: inline-block; font-size: 13px; }
#crumbs li:after { @include icon; margin: -1px 5px 0; content: '>'; font-size: 11px; color: #ccc; }
#crumbs li a { display: inline-block; padding: 10px 0; color: #aaa; }
#crumbs li a:hover { color: $linkcolor; text-decoration: none; }

/* tabs */
.tabs:after { @include clearafter; }
.tabs .tab { display: block; padding: 8px 10px; color: #777; }
.tabs .tab:hover { text-decoration: none; color: $linkcolor; }
.tabs .tab.sel { border-radius: 3px 3px 0 0; color: #000; cursor: default; }

#tabs { margin: 35px 0 -35px -10px; font-size: 0; }
#tabs li { display: inline-block; font-size: 13px; }
#tabs li a { color: #555; }
#tabs li a:not(.sel):hover { color: $linkcolor; }
#tabs li .tab.sel { background: #fff; }

/* main */
#main { position: relative; padding: 30px; min-height: 500px; border-radius: 3px; background: #fff; }
#main.has-sidebar { padding-left: 230px; }
#main.has-sidebar:after { @include clearafter; }

.sidebar { position: absolute; margin-left: -230px; padding-left: 30px; width: 170px; overflow: auto; }
.sidebar nav { margin-left: -30px; padding-left: 30px; width: 170px; overflow: auto; }
.sidebar nav li { position: relative; }
.sidebar nav li a { display: block; padding: 4px 0; color: $textcolor; @include unselectable; }
.sidebar nav li a:hover { text-decoration: none; color: $linkcolor; }
.sidebar nav li a.sel { margin-left: -200px; padding-left: 200px; color: #fff; background: $selcolor; cursor: default; }

.sidebar nav li .toggle { position: absolute; top: 5px; left: -21px; width: 16px; height: 16px; background: url(../images/foldertoggle.png) no-repeat 0 0; }
.sidebar nav li.expanded > .toggle { background-position: 0 -32px; }
.sidebar nav li a.sel + .toggle { background-position: 0 -16px; }
.sidebar nav li.expanded > a.sel + .toggle { background-position: 0 -48px; }
.sidebar nav li ul { margin-left: 20px; display: none; }
.sidebar nav li.expanded > ul { display: block; }

#main #sidebar nav.fixed { position: fixed; top: 0; }

#main #sidebar-alt { margin-bottom: 30px; }
#main #sidebar-alt:after { @include clearafter; }
#main #sidebar-alt > .buttons,
#main #sidebar-alt > .menubtn { float: left; margin: 0 10px 0 0; }

#main #content { display: block; }

/* footer */
#footer { margin: 15px 0; text-align: center; color: #aaa; text-shadow: 0 1px 0 #fff; font-size: 11px; }

/* max widths for readability */
.field { max-width: 600px; }

/* field layout forms */

$fldBgColor: #fff;
$fldChalkColor: #2f1fb5;
$fldGuideColor: #f4f3fb;

.fieldlayoutform,
.fld-tab,
.fld-field { color: $fldChalkColor; font-family: 'Coming Soon', sans-serif; font-style: italic; text-transform: uppercase; }

.fieldlayoutform { border: 1px solid $fldGuideColor; padding: 30px 30px 29px 29px; background: url(../images/fieldlayoutform-bg.png) 0 0; }
.fieldlayoutform:after { @include clearafter; }
.fieldlayoutform h2 { margin: 3px 0 27px !important; font-size: 20px; line-height: 30px; font-weight: normal; text-decoration: underline; color: $fldChalkColor; margin-bottom: 30px; }

.fieldlayoutform .fld-tabs { margin: 0 0 29px -30px; }
.fieldlayoutform .unusedfields { margin: 30px 0 -30px -30px; }

.fieldlayoutform .fld-tabs:after,
.fieldlayoutform .unusedfields:after { @include clearafter; }

.fieldlayoutform .buttons { margin: 0 0 58px; }
.fieldlayoutform .buttons .btn.add { margin-right: 15px; border-color: $fldChalkColor; padding: 2px 10px 0; line-height: 27px; color: $fldChalkColor; background: transparent; }
.fieldlayoutform .buttons .btn.add:before { margin-top: -2px; }
.fieldlayoutform .buttons h3 { margin: 0; display: inline-block; padding: 9px 6px; line-height: 15px; }

.fld-tab { float: left; margin: 0 -1px 30px 30px; width: 211px; }

.fld-tab .tabs .tab,
.fld-tab .fld-tabcontent,
.fld-field { border: 1px solid $fldChalkColor; }

.fld-tab .icon,
.fld-field .icon { margin-left: 5px; }
.fld-tab .icon:before,
.fld-field .icon:before { margin-top: -2px; font-size: 16px; color: $fldChalkColor; opacity: 0.5; }
.fld-tab .icon:hover:before,
.fld-tab .icon.active:before,
.fld-field .icon:hover:before,
.fld-field .icon.active:before { opacity: 1; }

.fld-tab .menubtn,
.fld-field .menubtn { padding: 0; }
.fld-tab .menubtn:after,
.fld-field .menubtn:after { display: none; }

.fld-tab .tabs { position: relative; z-index: 1; padding: 0 10px; }
.fld-tab .tabs .tab { float: left; margin: -1px; border-radius: 3px 3px 0 0; padding: 8px 10px 3px; border-bottom-color: $fldGuideColor; color: $fldChalkColor; }
.fld-tab .tabs .tab.draggable { cursor: move; }
.fld-tab .fld-tabcontent { padding: 13px; }
.fld-tab-caboose { min-height: 31px; }

.fld-field { padding: 8px 8px 3px; cursor: move; }
.fld-field + .fld-field { margin-top: 7px; }
.fld-field.fld-required span:after { @include icon; margin: -2px 0 0 5px; color: $fldChalkColor; content: '*'; font-size: 8px; }
.fld-field .icon { float: right; }

.fld-tab.unused .tabs .tab,
.fld-tab.unused .fld-tabcontent,
.fld-field.unused { border-style: dashed; }
.fld-tab.unused .tabs .tab { border-bottom-style: solid; }

.fld-tab.fld-insertion .tabs .tab,
.fld-tab.fld-insertion .fld-tabcontent,
.fld-field.fld-insertion { border-style: dashed; }
.fld-tab.fld-insertion .tabs .tab { border-bottom-style: solid; }

.fld-tab.draghelper .tabs { margin: -5px 0 -1px; padding-top: 5px; padding-bottom: 1px; overflow: hidden; }
.fld-tab.draghelper .tabs .tab,
.fld-tab.draghelper .fld-tabcontent,
.fld-field.draghelper { background: #fff;
	-webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.25);
	        box-shadow: 0 2px 10px -2px rgba(0,0,0,0.25);
}
.fld-tab.draghelper .tabs .tab { border-bottom-color: #fff; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (   -moz-min-device-pixel-ratio: 1.5),
	   only screen and (     -o-min-device-pixel-ratio: 3/2),
	   only screen and (        min-device-pixel-ratio: 1.5),
	   only screen and (        min-resolution: 1.5dppx)
{
	.fieldlayoutform { background-image: url(../images/fieldlayoutform-bg_2x.png); background-size: 30px 30px; }
	.sidebar nav li .toggle { background-image: url(../images/foldertoggle_2x.png); background-size: 16px; }
}
