@charset "UTF-8";

@import "shared";
@import "reset";

@font-face {
	font-family: 'Craft';
	src:url('../fonts/Craft.eot');
	src:url('../fonts/Craft.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Craft.woff') format('woff'),
		url('../fonts/Craft.ttf') format('truetype'),
		url('../fonts/Craft.svg#Craft') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ----------------------------------------
/*  Basic stuff
/* ----------------------------------------*/

body, html { background: #fff; }

html.noscroll,
html.noscroll body { overflow: hidden; }

body { font-size: 13px; line-height: 18px; color: $textcolor; }
body, input, select, textarea { font-family: HelveticaNeue, sans-serif; }

.first, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, hr:first-child, .pane:first-child, .grid:first-child, .field:first-child, .toolbar:first-child, .buttons:first-child { margin-top: 0 !important; }
.last,  h2:last-child,  h3:last-child,  h4:last-child,  h5:last-child,  h6:last-child,  p:last-child,                  .pane:last-child,  .grid:last-child,  .field:last-child,  .toolbar:last-child,  .buttons:last-child  { margin-bottom: 0 !important; }

/* icons */
.icon:before,
.menulist ul li a.sel:before,
.search:before,
.datewrapper:before,
.timewrapper:before,
.element:before,
.secure:before,
.insecure:before,
.go:after,
.menubtn:after,
.required:after,
[data-icon]:before,
[data-icon-after]:after { @include icon; }

.secure:before,
.insecure:before { margin-top: -3px; font-size: 14px; }

[data-icon]:before { content: attr(data-icon); }
[data-icon-after]:after { content: attr(data-icon-after); }

.icon.secure:before { content: 'secure'; }
.icon.insecure:before { content: 'insecure'; }
.icon.add:before { content: '+'; }
.icon.edit:before { content: 'edit'; }
.icon.settings:before { content: 'settings'; }

/* nav */
.nav { display: block; }
.nav ul li a { display: block; padding: 5px 0; color: #b3b3b3; }
.nav ul li a:hover { color: $linkcolor; text-decoration: none; }
.nav ul li a .status { margin: 0 7px 0 6px; }
.nav ul li a .badge { display: block; float: right; padding: 0 7px; border-radius: 9px; line-height: 18px; font-weight: bold; }
.nav ul li a[data-icon]:before { margin: 0 8px 0 3px; }
.nav ul li a.sel { color: #2c2c2c; }

/* headings */
h1 { margin-bottom: 30px; font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif; font-size: 30px; line-height: 1; color: #000; }
h2 { margin: 15px 0; font-size: 15px; font-weight: bold; line-height: 1.2; color: #2c2c2c; }
h3 { margin: 15px 0; font-weight: bold; line-height: 1.2; }

/* sections */
section { margin: 30px 0 30px 30px; }
section > h2 { margin-left: -30px; }

/* horizontal rule */
hr { margin: 30px -30px; border: none; border-top: 1px solid $hrcolor; height: 0; color: transparent; }

/* paragraphs */
p { margin: 1em 0; }

sup { vertical-align: super; font-size: smaller; }

.indent { margin-left: 15px; }

/* lists */
.bullets { padding-left: 40px; list-style-type: square; }
ol { padding-left: 40px; list-style-type: decimal; }

/* code */
code,
.code,
.code input,
.code textarea { font-family: Menlo, monospace; font-size: 0.9em !important; }

/* links */
a { color: $linkcolor; cursor: pointer; }
a:hover { text-decoration: underline; }

a.sel,
li.sel a { cursor: default !important; text-decoration: none; }

a.go:after { content: '→'; font-size: 12px; margin: -2px 0 0 4px; }

/* emphasis */
em, i { font-style: italic; }
strong, b, i em { font-weight: bold; font-family: sans-serif; }

/* text styles */
.rightalign { text-align: right; }
.centeralign { text-align: center; }
.nowrap { white-space: nowrap; }
.light { color: #999; font-weight: normal; }

.required:after { content: '*'; margin: -2px 0 0 2px; font-size: 7px; color: $errorcolor; }

.scrollpane { overflow: auto; }

.left { float: left; }
.right { float: right; }

th.right,
td.right { float: none; text-align: right; }

.no-outline { outline: none; }
.clear { display: block; clear: both; height: 0; }

.fullwidth { width: 100%; }

.token { display: inline-block; border: 1px solid #c1c1c1; border-radius: 10px; padding: 0 7px 1px; font-size: 12px; line-height: 14px; color: $textcolor; text-shadow: 0 1px 1px rgba(255,255,255,0.5); background: #ddd; }
.token[data-name='*'] { text-indent: -100px; overflow: hidden; }
.token[data-name='*']:before { @include icon; display: block; float: left; margin: 1px 0 -1px; font-size: 9px; content: '*'; text-indent: 0; }
.token:focus { border-color: #999; background: #aaa; outline: none; }

.settings-btn { display: block; width: 16px; height: 16px; background: url(../images/settings-btn.png); cursor: pointer; }
.settings-btn.active { background-position: 0 100%; }

.error { color: $errorcolor !important; }

.icon.move { display: inline-block; cursor: move; }
.icon.move:before { content: 'move'; color: rgba(0,0,0,0.2); }
.icon.move:not(.disabled):hover:before { color: $linkcolor; }

.icon.delete { display: inline-block; }
.icon.delete:before { content: 'remove'; color: rgba(0,0,0,0.2); }
.icon.delete:not(.disabled):hover:before { color: $errorcolor; }
.icon.delete:not(.disabled):active:before { color: #8c3b2e; }

.hidden { display: none !important; }

/* headers and footers */
.clearafter:after { @include clearafter; }

.header { border-bottom-width: 1px; @include linear-gradient(#fff, $highlight); }
.footer { border-top-width: 1px; padding-top: 9px; }

.header h1 .version { display: inline-block; position: relative; top: -2px; border-radius: 2px; padding: 0 5px; font-size: 11px; line-height: 18px; color: #fff; background: #555;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	        box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.header .left,
.header .right { position: absolute; top: 9px; float: none; }
.header .left { left: 25px; }
.header .right { right: 25px; }
.header .left li,
.header .right li,
.footer .left li,
.footer .right li { float: left; }
.header .left li + li,
.header .right li + li { margin-left: 10px; }
.footer .left li + li,
.footer .right li + li { margin-left: 10px; }

/* ----------------------------------------
/*  Panes
/* ----------------------------------------*/

.pane { position: relative; border-radius: 1px;  margin: 30px 0; padding: 15px; background: #fff;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px -2px rgba(0,0,0,0.25);
	        box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px -2px rgba(0,0,0,0.25);
}

.pane h2 { margin-bottom: 15px; border-bottom: none; }
.pane h2 + .actions { margin-top: -44px; }
h3 + .pane { margin-top: 15px; }

/* admin panes */
.adminpane { padding: 1px 0; }
.adminpane .list { float: left; padding: 14px 15px; border-right: 1px solid #d6d6d6; width: 170px; min-height: 200px; }
.adminpane .list ul { margin-bottom: 15px; }
.adminpane .settings { margin-left: 200px; border-left: 1px solid #d6d6d6; padding: 14px 15px; }
.adminpane .settings .buttons:not(:first-child) { margin-top: 15px; border-top: 1px solid #d6d6d6; padding-top: 15px; }
.adminpane .settings .buttons:first-child { margin-top: 0; }

/* ----------------------------------------
/*  Grids
/* ----------------------------------------*/

.grid { margin: 30px -15px; }
.grid:after { @include clearafter; }
.grid .col { float: left; }
.grid .col .col-inner { margin: 0 15px; }

.grid .col75 { width: 75%; }
.grid .col66 { width: 66.66%; }
.grid .col66:last-child { width: 66.67%; }
.grid .col50 { width: 50%; }
.grid .col33 { width: 33.33%; }
.grid .col33:last-child { width: 33.34%; }
.grid .col25 { width: 25%; }

/* ----------------------------------------
/*  Icon lists
/* ----------------------------------------*/

ul.icons { margin-top: 20px; }
ul.icons:after { @include clearafter; }
ul.icons li { float: left; margin: 0 5px 20px; }
ul.icons li.break { clear: left; }
ul.icons li a { display: block; position: relative; padding-top: 60px; width: 100px; text-align: center; color: $textcolor; }
ul.icons li a:before { display: block; position: absolute; top: 0; left: 0; width: 100%; font-size: 40px; line-height: 60px; }
ul.icons li a:hover { text-decoration: none; color: $linkcolor; }

/* ----------------------------------------
/*  Buttons
/* ----------------------------------------*/

.toolbar { position: relative; margin: 30px 0; height: 31px; }
.toolbar .spinner { position: absolute; top: 0; right: -24px; }

.buttons { position: relative; margin: 30px 0 30px -4px; }
.buttons:after { @include clearafter; }
.buttons.rightalign { float: right; }
.buttons .btn,
.buttons .btngroup { float: left; margin-left: 5px; }
.buttons .btngroup .btn { float: none; margin-left: 0; }
.buttons .btn + .btn { margin-left: 5px; }

.btn { display: inline-block; border-radius: 3px; padding: 6px 12px; border: none; text-align: center; white-space: nowrap; @include unselectable; cursor: pointer; overflow: hidden;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
	        box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.btn:active,
.btn.active {
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.05);
	        box-shadow: inset 0 1px 0 rgba(0,0,0,0.05);
}

.btn:hover { text-decoration: none; }
.disabled { opacity: 0.25; cursor: default; }

.btn:not(.submit):not(.noborder) { border: 1px solid #ddd; padding: 5px 10px; color: $textcolor; background-color: #fff; }
.btn:not(.submit):not(.noborder):hover { border-color: #ccc; }
.btn:not(.submit):not(.noborder):active,
.btn:not(.submit):not(.noborder).active { border-color: rgba(0,0,0,0.2); background-color: $bgcolor; }

.btngroup,
.btn,
.spinner { height: 30px; }

.menubtn:empty { padding-left: 8px; padding-right: 8px; }

.btn[data-icon]:not(:empty):before,
.btn.icon:not(:empty):before { margin-right: 5px; }
.btn[data-icon-after]:not(:empty):after,
.menubtn:not(:empty):after,
.menubtn.icon:after { margin-left: 6px; }

.btn[data-icon]:before,
.btn[data-icon-after]:after,
.btn.icon:before,
.menubtn:after { position: relative; }

.btn.small[data-icon]:before,
.btn.small[data-icon-after]:after,
.btn.icon.small:before,
.menubtn.small:after { font-size: 9px; }

/* button groups */
.btngroup { display: inline-block; font-size: 0; white-space: nowrap; }
.btngroup .btn { font-size: 13px; vertical-align: middle; }
.btngroup .btn:not(:first-child) { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.btngroup .btn:not(:last-child) { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.btngroup .btn[data-icon]:before { margin-right: -2px; }

.btngroup .btn:hover,
.btngroup .btn:active,
.btngroup .btn.active { position: relative; z-index: 1; }

.btngroup .btn:not(:first-child) { margin-left: -1px; }
.btngroup .btn.submit:not(:first-child) { border-left: 1px solid rgba(0,0,0,0.1); }
.btngroup .btn.submit:not(:last-child) { border-right: 1px solid rgba(0,0,0,0.1); }

/* menu buttons */
.menubtn { @include unselectable; }
.menubtn:after { margin-top: -2px; content: '▼'; font-size: 0.8em; }
.menubtn:not(.submit):not(.noborder):after { margin-top: -1px; }

/* spinner */
.spinner { display: inline-block; vertical-align: bottom; width: 20px; background: url(../images/spinner.gif) no-repeat 50% 50%; }
.spinner.big { width: 48px; height: 48px; background: url(../images/spinner_big.gif) no-repeat 50% 50%; }
.btn + .spinner { margin-left: 7px; }

/* small buttons */
.btngroup.small .btn,
.btn.small { padding: 0 7px !important; font-size: 11px; line-height: 20px; }
.btngroup.small,
.btngroup.small input.btn,
.btn.small,
.btn.small + .spinner { height: 22px; }

/* big buttons */
.btngroup.big .btn,
.btn.big { padding: 0 15px; font-size: 14px; line-height: 36px; }
.btn.big[data-icon]:before { margin-left: -2px; }
.btngroup.big,
.btngroup.big input.btn,
.btn.big,
.btn.big + .spinner { height: 36px; }

/* submit buttons */
.btn.submit { color: #fff; background-color: $submitcolor; }
.btn.submit:hover { background-color: #bf503f; }
.btn.submit:active,
.btn.submit.active { background-color: #8c3b2e; }

div.btn.submit { position: relative; overflow: hidden; }
div.btn.submit input { position: absolute; left: 100%; }

/* color buttons */
.color { width: 30px; height: 30px; border-radius: 15px; padding: 0; background: url(../images/checkers.png); cursor: pointer; }
.color .colorpreview { top: 0; left: 0; width: 30px; height: 30px; border-radius: 15px;
	@include linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0));
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), 0 1px 0 rgba(0,0,0,0.05);
	        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), 0 1px 0 rgba(0,0,0,0.05);
}
.color:not(.disabled):hover .colorpreview,
.color:not(.disabled):active .colorpreview,
.color:not(.disabled).active .colorpreview {
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.05);
	        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25), 0 1px 0 rgba(0,0,0,0.05);
}
.color:not(.disabled):active .colorpreview,
.color:not(.disabled).active .colorpreview {
	@include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1));
}
.colorpicker { z-index: 2; }

/* switch */
.lightswitch { position: relative; border: none !important; width: 80px; height: 31px; overflow: hidden; cursor: pointer; @include unselectable; overflow: hidden; }
.lightswitch:after { display: block; position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; content: '.'; text-indent: -100%;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
	        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
}
.lightswitch:focus:after {
	-webkit-box-shadow: inset 0 0 0 1px $focusglowcolor;
	        box-shadow: inset 0 0 0 1px $focusglowcolor;
}

.lightswitch .container { margin-left: -50px; width: 130px; }
.lightswitch.on .container { margin-left: 0; }

.lightswitch .label { float: left; padding: 0 5px; width: 40px; height: 31px; line-height: 31px; text-align: center; text-transform: uppercase; }
.lightswitch .label.on { color: #fff; text-shadow: 0 0px 3px rgba(0,0,0,0.5); background-color: hsl(203, 79%, 50%); }
.lightswitch .handle { position: relative; float: left; padding: 0; width: 30px; height: 31px; @include linear-gradient(#e5e5e5, #fff);
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
	        box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
}

/* action buttons */
.actions { float: right; }
.actions > li { float: left; }
.actions > li + li { margin-left: 10px; }
h1 + .actions { margin-top: -100px; }
h2 + .actions { margin-top: -54px; }

/* pagination */
.paginate { margin: -15px 0 30px; padding-bottom: 15px; border-bottom: 1px dotted #dbdbdb; text-align: right; }
.paginate p { display: inline; padding-top: 7px; }
.paginate .btngroup { margin-left: 15px; }

/* ----------------------------------------
/*  Tables
/* ----------------------------------------*/

table thead th { font-weight: bold; text-align: left; vertical-align: top; font-size: 11px; line-height: 1.2; color: rgba(0,0,0,0.5); text-shadow: 0 1px 0 #fff; }
table thead th.ordered { padding-right: 26px; background: $highlight url(../images/listview_sort.png) no-repeat 100% -4px;
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
	   -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
}
table thead th.ordered.desc { background-position: 100% -35px; }

td.thin { width: 0.01% !important; vertical-align: middle; }

/* info */
table.info > tbody > tr > th { padding: 0 10px 2px 0; width: 150px; text-align: right; color: $mediumdark; }
table.info > tbody > tr > td { padding: 0 0 2px 0; }

/* data */
table.data { width: 100%; }
table.data th,
table.data td { padding-left: 10px; }
table.data thead th,
table.data thead td { padding-top: 4px; padding-bottom: 4px; cursor: default; }
table.data tbody th,
table.data tbody td { padding-top: 7px; padding-bottom: 7px; text-align: left; vertical-align: middle; border-top: 1px dotted rgba(0,0,0,0.1); }
table.data tbody tr:last-child th,
table.data tbody tr:last-child td { border-bottom: 1px dotted rgba(0,0,0,0.1); }
table.data thead th { font-weight: bold; white-space: nowrap; }
table.data td.timestamp { text-align: right; vertical-align: bottom; white-space: nowrap; color: #999; }
table.data td form { height: 22px; }
table.data td .btngroup { display: inline; }

/* collapsable data tables for small screens
   based on Aaron Gustafson's technique: http://blog.easy-designs.net/archives/2013/02/02/responsive-tables/ */
table.data.collapsed,
table.data.collapsed tbody,
table.data.collapsed tbody tr,
table.data.collapsed tbody th,
table.data.collapsed tbody td { display: block; border: none; padding: 0; text-align: left; white-space: normal; }
table.data.collapsed tbody th,
table.data.collapsed tbody td { padding: 2px 0; }
table.data.collapsed thead { display: none; }
table.data.collapsed tbody tr { padding: 6px 0; border-bottom: 1px dotted rgba(0,0,0,0.1); }
table.data.collapsed tbody .thin { margin-right: 5px; float: left; width: auto; }
table.data.collapsed tbody th[data-title],
table.data.collapsed tbody td[data-title] { margin-right: 0; float: none; }
table.data.collapsed tbody th[data-title]:before,
table.data.collapsed tbody td[data-title]:before { content: attr(data-title) ":\00A0"; font-weight: bold; }
table.data.collapsed tbody td:empty { display: none; }
table.data.collapsed tbody tr:after { @include clearafter; }
table.data.collapsed tbody th:not(.thin),
table.data.collapsed tbody td:not(.thin) { clear: left; }
table.data.collapsed tbody td form { display: inline-block; }

.datatablesorthelper,
.editabletablesorthelper { background: #fff;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 5px -1px rgba(0,0,0,0.1);
	        box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 5px -1px rgba(0,0,0,0.1);
}

.datatablesorthelper { margin: -2px -7px; padding: 2px 7px; }
.datatablesorthelper tr:first-child th,
.datatablesorthelper tr:first-child td { border-top: none !important; }
.datatablesorthelper tr:last-child th,
.datatablesorthelper tr:last-child td { border-bottom: none !important; }

/* elements */
.element { position: relative; padding: 5px 0; cursor: default; @include unselectable; }
.element .status { margin: 0 1px 0 0; }

.element.hasicon { padding-left: 37px !important; }
.element.hasicon .elementicon { position: absolute; top: -1px; left: 0; width: 30px; height: 30px; background-repeat: no-repeat; background-position: 50% 50%; }
.element.hasicon .elementthumb { border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), 0 1px 5px -1px rgba(0,0,0,0.25);
	        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), 0 1px 5px -1px rgba(0,0,0,0.25);
}

.element.selectable { border-radius: 3px; border: 1px solid rgba(0,0,0,0.15); padding-left: 10px; padding-right: 10px; text-shadow: 0 1px 0 rgba(255,255,255,0.5); background: $highlight; cursor: default;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.element.selectable:focus { outline: none; }
.element.selectable.sel,
.sel .element.selectable { background: #ccc;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
}

.element.selectable .elementicon { left: -1px; margin-left: -1px; }
.element.selectable .elementthumb { border-radius: 3px 0 0 3px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25);
	        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.25);
}

.element.removable { padding-right: 27px; }
.element.removable .delete { position: absolute; right: 7px; }
.element.removable .delete:before { color: rgba(0,0,0,0.2); }

/* element select fields */
.elementselect { margin-bottom: -10px; }
.elementselect:after { @include clearafter; }
.elementselect .element,
.elementselect .btn { float: left; margin: 0 10px 10px 0; }
.elementselect .btn { border: 1px dashed rgba(0,0,0,0.2) !important; background: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.elementselect .element { z-index: 1; }
.elementselect .caboose { float: left; }

/* editable tables */
table.editable tbody tr:not(:first-child) td { border-top: 1px solid rgba(0,0,0,0.07); }
table.editable thead tr th,
table.editable tbody tr td:not(.textual) { padding: 4px 10px; }
table.editable thead tr th { border-bottom: 1px solid rgba(0,0,0,0.15); }
table.editable tbody tr td { vertical-align: middle; text-align: center; background: #fff; }
table.editable tbody tr td:not(:first-child) { border-left: 1px solid rgba(0,0,0,0.07); }
table.editable tbody tr td.action { padding: 4px 7px; background: $highlight; }
table.editable tbody tr td.action + td.action { border-left: none; padding-left: 0; }
table.editable tbody textarea { display: block; width: 100%; border: none; padding: 7px 10px; background: #fff; overflow: hidden; }
table.editable tbody textarea:focus { border: 1px solid rgba(0,0,0,0.15); padding: 6px 9px; outline: none; }

table.editable + .btn.add { display: block; border-radius: 0 0 3px 3px; border: 1px dashed rgba(0,0,0,0.2); border-top: none; background: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.border-box + .buttons,
.shadow-box + .buttons { margin-top: 7px; }

/* ----------------------------------------
/*  Nav
/* ----------------------------------------*/

ul.tree,
.tree ul { margin-left: 20px; }
.tree li .toggle { margin: 7px 0 0 -15px; }

/* status icons */
.status { display: inline-block; margin-right: 5px; width: 10px; height: 10px; background: url(../images/status.png) no-repeat 0 -30px; }
.status.on,
.status.live,
.status.enabled { background-position: 0 0; }
.status.pending { background-position: 0 -10px; }
.status.off,
.status.expired { background-position: 0 -20px; }

/* ----------------------------------------
/*  Progress bar
/* ----------------------------------------*/

.progressbar { border-radius: 6px; border: 2px solid $textcolor; padding: 2px; }
.progressbar-inner { border-radius: 2px; height: 4px; background: $textcolor; }
.progressbar:not(.pending) .progressbar-inner {
	-webkit-transition: width linear 50ms;
	   -moz-transition: width linear 50ms;
}
.progressbar.pending .progressbar-inner { background: url(../images/progressbar_pending.png) repeat-x;
	-webkit-animation-name: pendingprogress;
	   -moz-animation-name: pendingprogress;
	        animation-name: pendingprogress;
	-webkit-animation-timing-function: linear;
	   -moz-animation-timing-function: linear;
	        animation-timing-function: linear;
	-webkit-animation-duration: 250ms;
	   -moz-animation-duration: 250ms;
	        animation-duration: 250ms;
	-webkit-animation-iteration-count: infinite;
	   -moz-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes pendingprogress {
	0% { background-position: 0; }
	100% { background-position: -50px; }
}

@-moz-keyframes pendingprogress {
	from { background-position: 0; }
	to { background-position: -50px; }
}

@keyframes pendingprogress {
	from { background-position: 0; }
	to { background-position: -50px; }
}

/* ----------------------------------------
/*  Modals
/* ----------------------------------------*/

.modal,
.hud { border-radius: 3px; background: #fff;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 4px 20px -7px rgba(0,0,0,0.5);
	        box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 4px 20px -7px rgba(0,0,0,0.5);
}

.modal { position: fixed; z-index: 9998; top: 50%; left: 50%; margin-left: -200px; width: 400px; overflow: hidden; }
.hud { position: absolute; z-index: 9997; }
.hud .body { position: relative; padding: 30px; overflow: hidden; }
.hud .tip { position: absolute; background: no-repeat 0 0; }
.hud .tip-left { left: -15px; width: 15px; height: 30px; background-image: url(../images/hudtip_left.png); }
.hud .tip-top { top: -15px; width: 30px; height: 15px; background-image: url(../images/hudtip_top.png); }
.hud .tip-right { right: -15px; width: 15px; height: 30px; background-image: url(../images/hudtip_right.png); }
.hud .tip-bottom { bottom: -15px; width: 30px; height: 15px; background-image: url(../images/hudtip_bottom.png); }

.modal > .header,
.modal > .footer { padding: 15px 30px; }
.modal > .body { padding: 30px; }
.modal > .body:after { @include clearafter; }
.modal > .header {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.modal > .header h1 { margin: 0; }
.modal > .footer {
    -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
            box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.modal > .footer:after { @include clearafter; }

.modal-shade { display: none; position: fixed; top: 0; left: 0; z-index: 9998; width: 100%; height: 100%; background: rgba(255,255,255,0.75); }
.modal-shade.dark { background: rgba(0,0,0,0.75); }

/* element selector modals */
.elementselectormodal { margin-left: -350px; width: 700px; @include unselectable; }
.elementselectormodal .body { position: relative; height: 350px; padding-left: 230px; }
.elementselectormodal .body .spinner.big { position: absolute; top: 205px; left: 350px; margin: -24px 0 0 -24px; }

.elementselectormodal .body .sidebar { margin: -30px 0 -30px -230px; padding: 30px 0 30px 30px; border-right: 1px solid #eee; height: 350px; overflow: scroll; }

.elementselectormodal .body .main { margin: -30px; padding: 30px; height: 350px; overflow: scroll; }
.elementselectormodal .body .main .elements { margin: 0 -30px; }
.elementselectormodal .body .main .elements table.data .element { display: inline-block; }
.elementselectormodal .body .main .elements table.data tr th,
.elementselectormodal .body .main .elements table.data tr td { padding-top: 4px; padding-bottom: 4px; cursor: default;}
.elementselectormodal .body .main .elements table.data tr th:first-child,
.elementselectormodal .body .main .elements table.data tr td:first-child { padding-left: 30px; }
.elementselectormodal .body .main .elements table.data tr th:last-child,
.elementselectormodal .body .main .elements table.data tr td:last-child { padding-right: 30px; }
.elementselectormodal .body .main .elements table.data tr:focus { outline: none; }
.elementselectormodal .body .main .elements table.data tr.sel th,
.elementselectormodal .body .main .elements table.data tr.sel td { background: #f5f5f5; }
.elementselectormodal .body .main .elements table.data tr.disabled { opacity: 1; color: #d4d4d4; }
.elementselectormodal .body .main .elements table.data tr.disabled .element { opacity: 0.25; }
.elementselectormodal .body .main .elements table.data tr.disabled + tr.disabled th,
.elementselectormodal .body .main .elements table.data tr.disabled + tr.disabled td { border-top-color: rgba(0,0,0,0.025); }

/* ----------------------------------------
/*  Menus
/* ----------------------------------------*/

.menu,
.ui-datepicker,
.ui-timepicker-list { z-index: 9999; margin-left: 1px; border-radius: 3px; background: #fff; @include unselectable;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 5px 15px -5px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.menu { display: none; position: absolute; padding: 5px 15px; }
.menu ul li + li { margin-top: 3px; }
.menu ul li a { display: block; margin: 0 -15px; padding: 4px 15px; font-size: 12px; color: $textcolor; text-decoration: none; }
.menu ul li a:not(.sel):hover,
.menu ul li a:not(.sel):hover .light,
.menu:not(:hover) ul li a:not(.sel).hover,
.menu:not(:hover) ul li a:not(.sel).hover .light { color: #fff; background: $selcolor; }
.menu ul li a.sel { color: #999; cursor: default; }


.menulist { padding-left: 30px; }
.menulist h2 { margin: 10px 0 3px; }
.menulist ul li + li { margin-top: 0; }
.menulist ul li a { margin-left: -30px; padding: 3px 15px 3px 30px; }
.menulist ul li a.sel:before { content: '√'; float: left; margin: 3px 0 0 -17px; font-size: 10px; }

/* ----------------------------------------
/*  Fields
/* ----------------------------------------*/

.shadow-box { border-radius: 3px; border: 1px solid #ccc; overflow: hidden; width: 100%;
	-webkit-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.1);
}

.text,
#main div.redactor_box,
.border-box,
.lightswitch { border: 1px solid #ccc; border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 0 0 $blurglowcolor; -webkit-transition: border linear 100ms, -webkit-box-shadow linear 100ms;
	        box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 0 0 $blurglowcolor;    -moz-transition: border linear 100ms,         box-shadow linear 100ms;
}

.text.focus,
.text:focus,
.border-box:focus,
.border-box.focus,
.lightswitch:focus { border-color: $focusglowcolor; outline: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 0 5px $focusglowcolor;
	        box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 0 5px $focusglowcolor;
}

input.text,
textarea.text,
.text input,
.text textarea,
table.editable textarea { font-size: 13px; line-height: 17px; color: $textcolor; min-height: 31px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-appearance: none;
}

.field { position: relative; margin: 30px 0; }
.field .heading { margin-bottom: 4px; }
.field .instructions { margin-top: 0; font-size: 11px; color: #999; }

/* toggles and nested fields */
.nested-fields { margin: -30px -30px; padding: 30px 30px 0; overflow: hidden; }
.nested-fields.hidden { display: block; height: 0; }
.nested-fields > .field:last-child { padding-bottom: 30px; }

/* checkbox */
.checkbox + .checkbox { margin-top: 3px; }
.field.checkbox + .field.checkbox { margin-top: -22px; }

.text { padding: 6px 7px; background: #fff; }
.text input { margin: 0; padding: 0; border: none; outline: none; background: none; }
.text.small { padding: 3px; }

.input.errors .text,
.input.errors div.redactor_box,
.input.errors .border-box,
.text.error { border-color: $errorcolor !important; }

.search { position: relative; cursor: text; }
.search:before { position: absolute; top: 9px; left: 9px; content: 'search'; color: #a1a4a6; }
.search .text { padding-left: 27px; }

.texthint-container { position: relative; height: 0; }
.texthint { position: absolute; top: -1px; width: 100%; color: #a1a4a6; cursor: text; }

.passwordwrapper { position: relative; }
.passwordwrapper .password { width: 100%; }
.passwordwrapper .password-toggle { display: block; position: absolute; top: 7px; right: 0; width: 44px; text-align: center; }
.password { padding-right: 44px; }
.password.capslock:focus { background: #fff url(../images/capslock.png) no-repeat 100% 50%; }

.datewrapper { display: inline-block; position: relative; width: 8.5em; }
.datewrapper:before { position: absolute; top: 8px; left: 9px; content: 'date'; color: #a1a4a6; }
.datewrapper .text { padding-left: 27px; width: 100%; }

.timewrapper { display: inline-block; position: relative; width: 8em; }
.timewrapper:before { position: absolute; top: 9px; left: 8px; content: 'time'; color: #a1a4a6; }
.timewrapper .text { padding-left: 24px; width: 100%; }

/* redactor */
body .redactor_box { padding: 0 5px; }
body .redactor_box .redactor_toolbar { background: none; border-bottom: 1px dotted #ddd; }
body .redactor_box .redactor_toolbar li a:hover { border-radius: 3px; border: 1px solid #d4d4d4; background-color: #e8e8e8; }
body .redactor_box .redactor_toolbar li.redactor_separator { margin: 7px 2px 0 3px !important; height: 19px; border-left: 1px dotted #ddd; border-right: none; }

body .redactor_box_fullscreen { z-index: 9998 !important; }
body .redactor_dropdown { z-index: 9998 !important; }
body .redactor_editor ul { list-style-type: disc; }
body .redactor_editor ol { list-style-type: decimal; }

/**
 * Selects
 *
 * Waiting on this bug to get fixed before Firefox gets our fancy selects:
 * https://bugzilla.mozilla.org/show_bug.cgi?id=649849
 */
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
	.select,
	.select select { border-radius: 3px; }
	.select { display: inline-block; position: relative; background: #fff; }
	.select:before { @include icon; position: absolute; top: 10px; right: 9px; font-size: 10px; content: '▼'; @include unselectable; }
	.select select { position: relative; border: 1px solid #ddd; padding: 7px 22px 7px 10px; font-size: 13px; color: $textcolor; background: none;
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05), 0 0 0 $blurglowcolor; -webkit-transition: border linear 100ms, -webkit-box-shadow linear 100ms; -webkit-appearance: none;
		        box-shadow: 0 1px 0 rgba(0,0,0,0.05), 0 0 0 $blurglowcolor;    -moz-transition: border linear 100ms,         box-shadow linear 100ms;    -moz-appearance: none;
	}
	.select:hover select:not(:focus) { border-color: #ccc; }
	.select select:focus { border-color: $focusglowcolor; outline: none;
		-webkit-box-shadow: inset 0 0 1px $focusglowcolor, 0 0 5px $focusglowcolor;
		        box-shadow: inset 0 0 1px $focusglowcolor, 0 0 5px $focusglowcolor;
	}

	.select.small:before { top: 3px; }
	.select.small select { padding-top: 4px; padding-bottom: 4px; font-size: 11px; }
}

/* datepicker */
.ui-datepicker { position: fixed; top: -300px; -padding: 10px; width: 210px; height: 210px; }
.ui-datepicker-header { padding: 8px 8px 4px; }
.ui-datepicker-prev { float: left; }
.ui-datepicker-next { float: right; }
.ui-datepicker-title { text-align: center; }
.ui-datepicker-calendar thead { display: none; }
.ui-datepicker-calendar td { padding: 2px; }
.ui-datepicker-calendar td a { display: block; width: 26px; line-height: 26px; text-align: center; color: #808080; }
.ui-datepicker-calendar td a:hover { background: $linkcolor; color: #fff; text-decoration: none; }
.ui-datepicker-calendar td a.ui-state-active { background: $selcolor; color: #fff; cursor: default; }
.ui-datepicker-calendar td.ui-datepicker-today a { border-radius: 13px;
	-webkit-box-shadow: inset 0 0 0 2px rgba(0,0,0,0.15);
	        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.15);
}

/* timepicker */
.ui-timepicker-list { overflow-y: auto; width: 8em; height: 210px; z-index: 10001; }
.ui-timepicker-list li { padding: 2px 0 2px 25px; white-space: nowrap; cursor: pointer; }
.ui-timepicker-list li:hover { background: $linkcolor; color: #fff; }
.ui-timepicker-list li.ui-timepicker-selected { background: $selcolor; color: #fff; cursor: default; }

/* errors */
ul.errors { margin-top: 5px; list-style-type: square; padding-left: 20px; }
ul.errors li { color: $errorcolor; }

/* message pages */
.message-container { position: absolute; z-index: 9999; top: 0; left: 0; width: 100%; height: 100%; background: rgba(250,250,250,0.9); }
.message-container #message { top: 50%; margin-left: auto; margin-right: auto; width: 320px; }

/* ----------------------------------------
/* IE hacks
/* ----------------------------------------*/

/* Fix layout of modal element selectors for IE8 */
.elementselectormodal .body .main { float: left\9; width: 440px\9; }

/* ----------------------------------------
/*  Retina graphics
/* ----------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (   -moz-min-device-pixel-ratio: 1.5),
	   only screen and (     -o-min-device-pixel-ratio: 3/2),
	   only screen and (        min-device-pixel-ratio: 1.5),
	   only screen and (        min-resolution: 1.5dppx)
{
	.color { background-image: url(../images/checkers_2x.png); background-size: 16px; }

	table thead th.ordered { background-image: url(../images/listview_sort_2x.png); background-size: 26px; }

	.status { background-image: url(../images/status_2x.png); background-size: 10px 40px; }

	.spinner { background-image: url(../images/spinner_2x.gif); background-size: 20px; }
	.spinner.big { background-image: url(../images/spinner_big_2x.gif); background-size: 48px; }

	.progressbar.pending .progressbar-inner { background-image: url(../images/progressbar_pending_2x.png); background-size: 50px; }

	.hud .tip-left { background-image: url(../images/hudtip_left_2x.png); background-size: 15px 30px; }
	.hud .tip-top { background-image: url(../images/hudtip_top_2x.png); background-size: 30px 15px; }
	.hud .tip-right { background-image: url(../images/hudtip_right_2x.png); background-size: 15px 30px; }
	.hud .tip-bottom { background-image: url(../images/hudtip_bottom_2x.png); background-size: 30px 15px; }
}
