@charset "UTF-8";

@import "shared";

html { overflow-y:scroll; }
body, html { background: #e5e5e5; }

/* alerts */
#alerts { margin: 30px -30px 0; }
#alerts .alert { border-top: 1px solid $light; padding: 10px 30px; color: #e14545; background: #fff5f2; }

#page-header,
.widget {
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	   -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

/* dashboard */
.widgets { position: relative; margin: 0 -30px; padding-top: 4px; }
#widgets { margin: 0; }
.widgets .col .col-inner { margin: 0 2px; }
.widgets .col:first-child .col-inner { margin-left: 0; }
.widgets .col:last-child .col-inner { margin-right: 0; }

.widget { display: none; padding: 30px; background: #fff; }
.widget:not(:last-child) { margin-bottom: 4px; }
.col .widget { display: block; }
.widget.loading h2 { padding-right: 24px; background: url(../images/spinner.gif) no-repeat 100% 0; }

.widget form + .errors { margin-top: 15px; }

/* Recent Entries widget */
.recententries .body { overflow: hidden; }
