@charset "UTF-8";

@import "shared";

#deprecationnotice { text-align: center; }
#deprecationnotice:before { color: $mediumtextcolor; @include margin-right(5px); }

.widget.quickpost { overflow: visible; }

.widget .spinner.body-loading { display: none; }
.widget.loading .spinner.body-loading { display: block; @include floatright; @include margin-left(10px); }
.widget h2 { margin-top: 0; }

.widget form + .errors { margin-top: 15px; }

/* Recent Entries widget */
.recententries .body { overflow: hidden; }
