@charset "UTF-8";

@import "shared";

#main-wrapper { background: none; -webkit-box-shadow: none; box-shadow: none; overflow: visible; }
#main { padding: 0; -webkit-box-shadow: none; box-shadow: none; }

#page-header,
.widget { border-radius: 2px; overflow: hidden;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px -2px rgba(0,0,0,0.1);
	        box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px -2px rgba(0,0,0,0.1)
}

#page-header { margin-bottom: 4px; }

/* dashboard */
.widgets { position: relative; }
#widgets { margin: 0; }
.widgets .col .col-inner { margin: 0 0 0 4px; }
.widgets .col:first-child .col-inner { margin-left: 0; }

.widget { display: none; padding: 30px; background: #fff; }

.widget:not(:last-child) { margin-bottom: 4px; }
.col .widget { display: block; }

.widget .spinner { display: none; }
.widget.loading .spinner { display: block; float: right; margin-left: 10px; }
.widget h2 { margin-top: 0; }

.widget form + .errors { margin-top: 15px; }

/* Recent Entries widget */
.recententries .body { overflow: hidden; }
