@charset "UTF-8";

@import "shared";

span.draft { margin-top: -4px; display: inline-block; border: 2px solid #bbb; border-radius: 4px; padding: 0 4px; height: 16px; vertical-align: middle; font-size: 11px; line-height: 16px; text-transform: uppercase; font-weight: bold; color: $textcolor; }
h1 span.draft span { display: none; }

#locales { @include padding(0, 0, 0, 24px); }
#locales li { position: relative; @include padding(7px, 45px, 7px, 0); }
#locales li + li { border-top: 1px solid $hrcolor; }
#locales li.sel { color: $mediumtextcolor; cursor: default; }
#locales li.sel:before { @include floatleft; @include margin(3px, 0, 0, -16px); font-size: 11px; color: $mediumtextcolor !important; @include icon; content: 'check'; }
#locales li a { color: $textcolor; }
#locales li a:hover { color: $linkcolor; cursor: pointer; }
#locales li .lightswitch { position: absolute; top: 50%; @include right(9px); margin-top: -9px; }
#locales li .status { display: block; position: absolute; top: 50%; @include right(16px); margin: -5px 0 0; }

#settings .select,
#settings .select select { width: 100%; }

#livepreview-btn { display: block; position: relative; }
#livepreview-spinner { position: absolute; top: 3px; @include right(7px); }

#livepreview-editor,
#livepreview-iframe-container { position: fixed; top: 0; height: 100%; background: #fff; background-clip: padding-box; }
#livepreview-iframe-container.dragging:after { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: ''; font-size: 0; }

#livepreview-editor { z-index: 3; padding: 0 24px; overflow: auto; @include box-shadow(0 0 0 1px rgba(0,0,0,0.1));
	@include box-sizing(border-box);
}
#livepreview-editor header { margin: 0 -24px 24px; padding: 14px 24px 13px; }
#livepreview-editor header .btn { @include floatright; }
#livepreview-editor header h1 { margin: 0; font-size: 25px; line-height: 30px; color: #333; }
#livepreview-editor > .field:last-child { margin-bottom: 24px !important; }

#livepreview-iframe-container { z-index: 2; }
#livepreview-iframe { width: 100%; height: 100%; }

#livepreview-draghandle { position: absolute; z-index: 3; top: 0; margin-left: -3px; width: 6px; height: 100%; cursor: move; }
