@charset "UTF-8";

@import "shared";

span.draft { margin-top: -4px; display: inline-block; border: 2px solid #bbb; border-radius: 4px; padding: 0 4px; height: 16px; vertical-align: middle; font-size: 11px; line-height: 16px; text-transform: uppercase; font-weight: bold; color: $textcolor; }
h1 span.draft span { display: none; }

#previewmode-btn { float: right; margin-bottom: 30px; }
#previewmode-spinner { position: absolute; top: 30px; right: 6px; }

#previewmode-editor,
#previewmode-iframe { position: fixed; top: 0; height: 100%; background: #fff; background-clip: padding-box; }

#previewmode-editor { z-index: 3; left: -400px; padding: 0 30px; width: 340px; overflow: auto; border-right: 1px solid rgba(0,0,0,0.1); }
#previewmode-editor .field:first-child { padding-top: 30px; }
#previewmode-closebtn { margin-bottom: 30px; }

#previewmode-iframe { z-index: 2; left: 100%; }
