@charset "UTF-8";

@import "shared";

html, body { height: 100%; }
body { overflow: hidden; background: $submitcolor url(../images/welcome_logo.png) no-repeat 50% 50%; }

.beginbtncontainer { position: absolute; top: 70%; margin-top: -15px; width: 100%; text-align: center; }
#beginbtn { display: inline-block; border-radius: 4px; padding: 12px 15px; background: hsl(8, 67%, 95%); color: $submitcolor; font-weight: bold; font-size: 19px; height: 42px; line-height: 18px; }
#beginbtn:after { margin-top: -4px; }
#beginbtn:hover { background: #fff; }

.modal { display: none; position: absolute; top: 50%; left: 50%; margin: -255px 0 0 -385px; padding: 35px; width: 700px; height: 440px; background: #fff; }

h1 { margin-bottom: 35px; text-align: center; }
.grid { margin-top: 35px; margin-bottom: 35px; }

.buttons { position: absolute; bottom: 35px; right: 35px; }
#beginbtn,
.buttons .btn { padding-right: 10px; }
#beginbtn:after,
.buttons .btn:after { @include icon; margin-left: 4px; font-size: 20px; width: 20px; content: '→'; }
.buttons .btn.loading:after { height: 24px; content: ''; background: url(../images/spinner_submit.gif) no-repeat 0 0; }

.dots { position: absolute; bottom: 10px; left: 50%; margin-left: -17px; }
.dots div { float: left; border-radius: 4px; border: 1px solid rgba(0,0,0,0.15); width: 6px; height: 6px; }
.dots div + div { margin-left: 5px; }
.dots div.sel { border-color: $submitcolor; background: $submitcolor; }

input.hidden { position: absolute; top: 100px; }

#welcome { display: block; opacity: 0; }
#welcome h1 { margin-top: 140px; }
#welcome .buttons { position: static; margin-top: 0; text-align: center; }

#accountform,
#siteform { width: 50%; float: right; }

#account { background: #fff url(../images/setup-screen-bgs/account.gif) no-repeat 0 100%; }
#site { background: #fff url(../images/setup-screen-bgs/site.gif) no-repeat 0 100%; }

#welcome h1,
#installing h1 { margin-top: 140px; }
#installing #spinner { display: block; margin: 0 auto; }
#welcome .buttons,
#installing .buttons { position: static; margin-top: 0; text-align: center; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (   -moz-min-device-pixel-ratio: 1.5),
	   only screen and (     -o-min-device-pixel-ratio: 3/2),
	   only screen and (        min-device-pixel-ratio: 1.5),
	   only screen and (        min-resolution: 1.5dppx)
{
	body { background-image: url(../images/welcome_logo_2x.png); background-size: 208px; }
	.buttons .btn.loading:after { background-image: url(../images/spinner_submit_2x.gif); background-size: 20px 2px; }
}
