@import "shared";

html, body { height: 100%; }

#login-form { display: block; position: absolute; top: 50%; left: 50%; margin: -78px 0 0 -150px; width: 300px; }
.field { margin: 10px 0; }
#forgot-password { margin-left: 5px; font-style: normal; font-size: 11px; }
.submit:before { font-size: 13px; }

.email-sent { z-index: 9999; margin: 0; padding-left: 50px; width: 220px; background: #fff; }
.email-sent:before { @include icon; display: block; position: absolute; top: 23px; left: 10px; content: 'E'; font-size: 36px; color: $linkcolor; }
