@import "shared";

#packages { margin-right: -30px; }
#packages .package { position: relative; margin: 0 30px 30px 0 !important; padding-bottom: 77px; width: 200px; min-height: 141px; float: left; }

#packages ul li { margin-left: 18px; }
#packages ul li:before { @include icon; content: "√"; float: left; margin: -1px 0 0 -18px; font-size: 15px; }

#packages .package .buttons { position: absolute; left: 0; bottom: 0; padding: 15px; margin: 0; border-top: 1px solid $hrcolor; width: 200px; }
#packages .package .buttons .btn { font-weight: bold; text-transform: uppercase; }
#packages .package .buttons .btn.price { color: $successcolor; }
#packages .package .buttons .btn.price del { color: $textcolor; font-weight: bold; }

#packages .package .buttons .btn.pkg-installed,
#packages .package .buttons .btn.pkg-disabled { color: #fff; cursor: default; }
#packages .package .buttons .btn.pkg-installed { background: $successcolor; }
#packages .package .buttons .btn.pkg-disabled { background: #999; }

p.light sup { margin-right: 2px; }