/* RTL stuff */
div.user-photo { height: 100px; }

div.user-photo div.current-photo { width: 100px; height: 100px; background-size: 100px 100px; -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15); box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15); }
body.ltr div.user-photo div.current-photo { float: left; }
body.rtl div.user-photo div.current-photo { float: right; }

div.user-photo div.user-photo-controls { position: relative; }
body.ltr div.user-photo div.user-photo-controls { margin-left: 115px; }
body.rtl div.user-photo div.user-photo-controls { margin-right: 115px; }

div.user-photo-controls .progress-shade { background: rgba(255, 255, 255, 0.8); width: 100%; height: 100%; position: absolute; top: 0; display: none; }
body.ltr div.user-photo-controls .progress-shade { left: 0; }
body.rtl div.user-photo-controls .progress-shade { right: 0; }

div.user-photo-controls.uploading .progress-shade { display: block; }

div.user-photo div.user-photo-controls .upload-photo ul { display: none; }

div.user-photo div.user-photo-controls .QqUploader-uploader { display: inline-block; }

div.profile-image-modal { width: 500px; }
