@charset "UTF-8";

@import "shared";

#routes { margin: 0 1px 25px; }

.route { position: relative; margin: 15px 0; padding: 0; @include linear-gradient(#fafafa, #f3f3f3); cursor: pointer; }
.route:hover:after { position: absolute; top: 9px; right: 5px; @include icon; content: 'edit'; color: $linkcolor; }

.route .url,
.route .template { padding: 7px 15px; }

.route .url { position: relative; margin-right: 20px; padding-right: 10px; float: left; color: $linkcolor; background: #fff; }
.route .url:before { @include icon; margin: 0 5px 0 0; content: 'world'; }
.route .url:after { display: block; content: '.'; text-indent: -100%; overflow: hidden; position: absolute; top: 0; right: -15px; width: 15px; height: 32px; background: url(../images/route-bg.png) no-repeat right; }
.route .url .token { margin: 0 2px; }
.route .template { color: $mediumtextcolor; }
.route .template:before { @include icon; margin: 0 5px 0 0; content: 'template'; }

.route-settings { width: 450px; }
.route-settings .url { width: auto; padding-top: 0; padding-bottom: 0; cursor: text; }
.route-settings .url .token { position: relative; top: -1px; cursor: default; }

.route-settings .url-tokens { margin-top: 10px; border-radius: 5px; padding: 15px 25px; background: #fafafa;
	@include box-shadow(inset 0 0 0 1px rgba(0,0,0,0.05), inset 0 1px 2px rgba(0,0,0,0.1));
}
.route-settings .url-tokens h4 { margin-bottom: 5px; text-align: center; }
.route-settings .url-tokens .token { margin: 5px 5px 0 0; cursor: pointer; }

.route-settings .delete { display: block; float: right; margin-top: 7px; color: $errorcolor; }


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (   -moz-min-device-pixel-ratio: 1.5),
       only screen and (     -o-min-device-pixel-ratio: 3/2),
       only screen and (        min-device-pixel-ratio: 1.5),
       only screen and (        min-resolution: 1.5dppx)
{
	.route .url:after { background-image: url(../images/route-bg_2x.png); background-size: 15px 32px; }
}
