@charset "UTF-8";

@import "shared";

#main #graphic { display: block; margin: 200px auto 0; }
#main #graphic.error { background-image: url(../images/error.png); }
#main #graphic.success { background-image: url(../images/success.png); }

#main #status { margin: 20px auto 250px; text-align: center; font-size: 16px; line-height: 20px; color: #666; }



#main h2.heading { @include floatleft; margin: 0; padding: 6px 0; }
#main .buttons { @include floatright; margin: 0; }
#main hr { clear: both; margin: 30px -30px; }
#main .critical { @include margin-left(5px); border-radius: 2px; padding: 2px 5px; font-weight: normal; color: #fff; background: #d6301a; }

#main ul li { @include padding(3px, 0, 3px, 25px); }
#main ul li:before { @include icon; @include floatleft; @include margin(1px, 0, 1px, -23px); font-size: 16px; }
#main ul li.added:before { content: 'wand'; color: $noticecolor; }
#main ul li.improved:before { content: 'brush'; }
#main ul li.fixed:before { content: 'screwdriver'; color: $submitcolor; }
