@charset "UTF-8";

@import "shared";

#loading { margin-top: 50px !important; text-align: center; }

#update-all,
#updates,
#no-system-updates,
#system-updates,
#no-plugin-updates,
#update-error,
#plugin-updates { display: none; }

#updates .critical { margin-left: 5px; padding: 2px 5px; color: #fff; background: #d6301a; }

#updates td.notes { border-top: none; padding-bottom: 15px; }
#updates td.notes th { border: none; padding: 12px 0; }
#updates td.notes td { border: none; padding-top: 3px; padding-bottom: 3px; vertical-align: top; }
#updates td.notes td:first-child { padding-left: 25px; }
#updates td.notes .category { display: block; margin: -1px 0; border-radius: 2px; padding: 1px 7px; text-align: center; color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
#updates td.notes .category.added { background: #555; }
#updates td.notes .category.improved { background: $successcolor; }
#updates td.notes .category.fixed { background: $errorcolor; }

#update-error { padding-top: 120px; }
