@charset "UTF-8";

@import "shared";

#graphic { display: block; position: absolute; top: 50%; left: 50%; @include margin(-48px, 0, 0, -24px); }
#graphic.error { background-image: url(../images/error.png); }
#graphic.success { background-image: url(../images/success.png); }

#status { position: absolute; top: 50%; margin-top: 20px; width: 100%; text-align: center; font-size: 16px; line-height: 20px; color: #666; }
