/**
Legacy styles to catch forms and fields not using the new components.
 */
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

label {
  font-weight: bold;
}

select {
  min-width: 50%;
}

input,
textarea {
  background-color: var(--c-input-bg);
  background-clip: padding-box;
  border: var(--c-input-border);
  border-radius: var(--c-input-radius);
  min-height: var(--c-form-control-height);
  padding-inline: var(--c-input-spacing-inline);
  padding-block: var(--c-input-spacing-block);
}

.select:not(.selectize) {
  max-width: 100%;
  position: relative;
  border-radius: var(--c-input-radius);
  white-space: nowrap;
  display: inline-block;

  select {
    appearance: none;
    background-color: var(--c-form-control-bg);
    border: var(--c-input-border);
    display: block;
    font-size: 14px;
    line-height: 20px;
    max-width: 100%;
    padding-block: var(--c-input-spacing-block);
    padding-inline: var(--c-input-spacing-inline)
      calc(var(--c-input-spacing-inline) + 1.5rem);
    position: relative;
    white-space: pre;
  }

  &::after {
    border: solid;
    border-width: 0 0.125rem 0.125rem 0;
    color: var(--ui-control-color);
    content: '';
    display: block;
    font-size: 0;
    height: 0.4375rem;
    inset-block-start: calc(50% - 5px);
    inset-inline-end: 9px;
    opacity: 0.8;
    pointer-events: none;
    position: absolute;
    transform: rotate(45deg);
    user-select: none;
    width: 0.4375rem;
    z-index: 1;
  }
}

.input {
  margin-block-start: var(--c-spacing-sm);
}

.instructions {
  color: var(--c-fg-muted);
}
