{layout "_layouts/basic" title="Blocks Update"}

{region "styles"}
	{include "_includes/css_include" file="styles/update.css"}
{/region}

{region "body"}
	{if !dbUpdate}
		Your database is up-to-date already.
	{else}
		<div id="status">Your database needs to be updated.  Make a backup, then press this button.
		<form method="post" action="">
			<input type="hidden" name="action" value="dbUpdate/update" />
			<input type="hidden" name="redirect" value="dashboard" />
			<div><input class="btn big submit" type="submit" value="Do It." /></div>
		</form></div>
	{/if}

{/region}
