{% layout "_layouts/basic" title="Blocks Update" %}

{% region "styles" %}
	{% include "_includes/css_include" file="styles/update.css" %}
{% endregion %}

{% region "body" %}
	<div id="status">Preparing to update…</div>
{% endregion %}

{% region "scripts" %}
	<script type="text/javascript">
		window.updateHandle = '{handle}';
		window.updateInfoUrl = '{url.generateActionUrl('update/getupdateinfo', 'h=')}';
		window.updateUrl = '{url.generateActionUrl('update/update', 'h=')}';
	</script>
	{% include "_includes/js_include" file="update.js" %}
{% endregion %}
