{% layout "_layouts/basic" title="Blocks Update" %}

{% region "styles" %}
	{{ cp.resource('app/styles/cp.css').css }}
	{{ cp.resource('app/styles/update.css').css }}
{% endregion %}

{% region "body" %}
	<div id="status">Preparing to update…</div>
{% endregion %}

{% region "scripts" %}
	<script type="text/javascript">
		window.updateHandle = '{{ handle }}';
		window.updateInfoUrl = '{{ url.generateActionUrl('app/update/getupdateinfo', 'h=') }}';
		window.updateUrl = '{{ url.generateActionUrl('app/update/update', 'h=') }}';
	</script>
	{{ cp.resource('app/scripts/update.js').js }}
{% endregion %}
