{% layout _layouts/basic %}

{% region title %}Blocks Update{% /region %}

{% region styles %}
	{{ cp.resource('app/styles/cp.css').css }}
	{{ cp.resource('app/styles/update.css').css }}
{% /region %}

{% region body %}
	<div id="status">Preparing to update…</div>
{% /region %}

{% region scripts %}
	<script type="text/javascript">
		window.updateHandle = '{{ url.get('h') }}';
		window.updateInfoUrl = '{{ url.generateActionUrl('app/update/getupdateinfo', 'h=') }}';
		window.updateUrl = '{{ url.generateActionUrl('app/update/update', 'h=') }}';
	</script>
	{{ cp.resource('app/scripts/update.js').js }}
{% /region %}
