<p id="noblocks"{% if blocks|length %} class="hidden"{% endif %}>
	{{ "No blocks exist yet."|t }}
</p>

{% if blocks|length %}
	{% set sortable  = (blocks|length > 1) %}

	<table id="blocks" class="data">
		<thead>
			<th scope="col" width="33%">{{ "Name"|t }}</th>
			<th scope="col" width="33%">{{ "Handle"|t }}</th>
			<th scope="col" width="33%">{{ "Type"|t }}</th>
			{% if sortable %}<td class="thin"></td>{% endif %}
			<td class="thin"></td>
		</thead>
		<tbody>
			{% for block in blocks %}
				<tr data-id="{{ block.id }}" data-name="{{ block.name|t }}">
					<th scope="row"><a href="{{ url(settingsUrlPrefix ~ block.id) }}">{{ block.name|t }}</a>
						{%- if block.required %} <span class="required"></span>{% endif -%}
					</th>
					<td><code>{{ block.handle }}</code></td>
					<td>
						{% set blockType = blx.blockTypes.populateBlockType(block) %}
						{% if blockType %}
							{{ blockType.name }}
						{% else %}
							<span class="error">{{ block.type }}</span>
						{% endif %}
					</td>
					{% if sortable %}<td class="thin"><a class="move icon" title="{{ 'Reorder'|t }}"></a></td>{% endif %}
					<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

<div class="buttons">
	<a href="{{ url(settingsUrlPrefix ~ 'new') }}" class="btn add icon">{{ "New Block"|t }}</a>
</div>


{% set js %}
	new Blocks.ui.AdminTable({
		tableSelector: '#blocks',
		noObjectsSelector: '#noblocks',
		sortable: true,
		reorderAction: '{{ controller }}/reorderBlocks',
		deleteAction: '{{ controller }}/deleteBlock'
	});
{% endset %}
{% includeJs js %}
