{% from "_includes/forms" import textField %}

<div class="element-hud-form">
	<form id="element-fields">
		<input type="hidden" name="elementId" value="{{ element.id }}">
		<div>
			{{ textField({
				label: "Title"|t,
				id: 'title',
				name: 'title',
				value: element.title,
				errors: element.getErrors('title'),
				first: true,
				autofocus: true,
				required: true
			}) }}

			{% include "_includes/fields" with {
				fields: craft.fields.getLayoutByType(elementType).getFields(),
				element: element
			} only %}
		</div>
        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t }}"/>
        </div>
    </form>
</div>
