{% import "_includes/forms" as forms %}
{% set field = craft.fields.getFieldById(fieldId) %}
{% if entry is not defined %}{% set entry = null %}{% endif %}

{% set value = (entry ? attribute(entry, field.handle) : null) %}
{% set errors = (entry ? entry.getErrors(field.handle) : null) %}
{% set fieldtype = craft.fields.populateFieldType(field, entry) %}

{% if fieldtype %}
	{% set input = fieldtype.getInputHtml('fields['~field.handle~']', value) %}
{% else %}
	{% set input = '<p class="error">' ~ "The fieldtype class “{class}” could not be found."|t({ class: field.type }) ~ '</p>' %}
{% endif %}

{{ forms.field({
	label: field.name,
	required: required,
	translatable: field.translatable,
	instructions: field.instructions,
	id: field.handle,
	errors: errors
}, input)|raw }}
