<p id="nofields"{% if fields|length %} class="hidden"{% endif %}>
	{{ "No fields exist yet."|t }}
</p>

{% if fields|length %}
	{% set sortable  = (fields|length > 1) %}

	<table id="fields" class="data collapsible">
		<thead>
			<th scope="col" width="33%">{{ "Name"|t }}</th>
			<th scope="col" width="33%">{{ "Handle"|t }}</th>
			<th scope="col" width="33%">{{ "Type"|t }}</th>
			{% if sortable %}<td class="thin"></td>{% endif %}
			<td class="thin"></td>
		</thead>
		<tbody>
			{% for field in fields %}
				<tr data-id="{{ field.id }}" data-name="{{ field.name|t }}">
					<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url(settingsUrlPrefix ~ field.id) }}">{{ field.name|t }}</a>
						{%- if field.required %} <span class="required"></span>{% endif -%}
					</th>
					<td data-title="{{ 'Handle'|t }}"><code>{{ field.handle }}</code></td>
					<td data-title="{{ 'Type'|t }}">
						{% set fieldtype = craft.fields.populateFieldType(field) %}
						{% if fieldtype %}
							{{ fieldtype.name }}
						{% else %}
							<span class="error">{{ field.type }}</span>
						{% endif %}
					</td>
					{% if sortable %}<td class="thin"><a class="move icon" title="{{ 'Reorder'|t }}"></a></td>{% endif %}
					<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

<div class="buttons">
	<a href="{{ url(settingsUrlPrefix ~ 'new') }}" class="btn submit add icon">{{ "New field"|t }}</a>
</div>


{% set js %}
	new Craft.AdminTable({
		tableSelector: '#fields',
		noObjectsSelector: '#nofields',
		sortable: true,
		reorderAction: '{{ controller }}/reorderFields',
		deleteAction: '{{ controller }}/deleteField'
	});
{% endset %}
{% includeJs js %}
