{% import "_includes/forms" as forms %}


{% if field %}
	{% set fieldType = craft.fields.populateFieldType(field) %}
	{% set isFieldTypeMissing = not fieldType %}
{% else %}
	{% set isFieldTypeMissing = false %}
{% endif %}

{% if fieldType is not defined or isFieldTypeMissing %}
	{% set fieldType = craft.fields.getFieldType('PlainText') %}
{% endif %}


{{ forms.textField({
	first: true,
	label: "Name"|t,
	instructions: "What this field will be called in the CP."|t,
	id: 'name',
	name: 'name',
	value: (field ? field.name : null),
	errors: (field ? field.getErrors('name') : null),
	autofocus: true,
	required: true,
	translatable: true
}) }}

{{ forms.textField({
	label: "Handle"|t,
	instructions: "How you’ll refer to this field in the templates."|t,
	id: 'handle',
	class: 'code',
	name: 'handle',
	value: (field ? field.handle : null),
	errors: (field ? field.getErrors('handle') : null),
	required: true,
}) }}

{{ forms.textareaField({
	label: "Instructions"|t,
	instructions: "Helper text to guide the author."|t,
	name: 'instructions',
	value: (field ? field.instructions : null),
	errors: (field ? field.getErrors('instructions') : null),
	translatable: true
}) }}

{{ forms.checkboxField({
	label: "This field is required"|t,
	name: 'required',
	checked: (field ? field.required : false)
}) }}

{% if craft.hasPackage('Localize') and canBeTranslatable is defined and canBeTranslatable %}
	{{ forms.checkboxField({
		label: "This field is translatable"|t,
		name: 'translatable',
		checked: (field ? field.translatable : false)
	}) }}
{% endif %}

{% set fieldTypes = craft.fields.getAllFieldTypes %}

{{ forms.selectField({
	label: "Type",
	instructions: "What type of field is this?"|t,
	id: 'type',
	name: 'type',
	options: fieldTypes,
	value: fieldType.classHandle,
	errors: (isFieldTypeMissing ? ["The fieldtype class “{class}” could not be found."|t({ class: field.type })] : null),
	toggle: true
}) }}

{% for _fieldType in fieldTypes %}
	{% set isCurrent = (_fieldType.classHandle == fieldType.classHandle) %}
	{% if isCurrent %}
		{% set settings = fieldType.settingsHtml %}
	{% else %}
		{% set settings = _fieldType.settingsHtml %}
	{% endif %}

	{% if settings %}
		<div id="{{ _fieldType.classHandle }}"{% if not isCurrent %} class="hidden"{% endif %}>
			<hr>
			{% set namespace = 'types[' ~ _fieldType.classHandle ~ ']' %}
			{{- settings|ns(namespace)|raw -}}
			<hr>
		</div>
	{% endif %}
{% endfor %}


{% if not field or not field.handle %}
	{% includeJs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}
