{% macro errorList(errors) %}
	{% if errors %}
		<ul class="errors">
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}


{# Inputs #}


{% macro textClass(config) %}{{ [
	'text',
	(config.class ? config.class : null),
	(config.hint ? 'nicetext' : null),
	(config.type == 'password' ? 'password' : null),
	(config.errors ? 'error' : null)
]|filter|join(' ') }}{% endmacro %}


{% macro text(config) %}
	{% set config = { id: null, class: null, type: 'text', size: null, maxlength: null, name: null, value: null, disabled: false, hint: null, errors: null }|merge(config) %}
	{% set class = _self.textClass(config) %}
	{% if not config.size %}<div class="{{ config.type == 'password' ? 'password' : 'text' }}wrapper">{% endif -%}
	<input{% if config.id %} id="{{ config.id }}"{% endif %} class="{{ class }}" type="{{ config.type }}"{% if config.size %} size="{{ config.size }}"{% endif %}{% if config.name %} name="{{ config.name }}"{% endif %}{% if config.value %} value="{{ config.value }}"{% endif %}{% if config.maxlength %} maxlength="{{ config.maxlength }}"{% endif %}{% if config.disabled %} disabled {% endif %}{% if config.hint %} data-hint="{{ config.hint }}"{% endif %}>
	{%- if not config.size %}</div>{% endif %}
{% endmacro %}


{% macro password(config) %}
	{{ _self.text(config|merge({ type: 'password' })) }}
{% endmacro %}


{% macro date(config) %}
	<div class="datewrapper">{{ _self.text(config|merge({ size: 10 })) }}</div>
	{% set js %}
		$('#{{ config.id }}').datepicker({
			dateFormat: $.datepicker.W3C,
			prevText: '{{ "Prev"|t|e('js') }}',
			nextText: '{{ "Next"|t|e('js') }}'
		});
	{% endset %}
	{% includeJs js %}
{% endmacro %}


{% macro textarea(config) %}
	{% set config = { id: null, class: null, type: 'text', rows: 2, cols: 50, name: null, value: null, disabled: false, hint: null, errors: null }|merge(config) %}
	{% set class = _self.textClass(config) %}
	<div class="textwrapper"><textarea{% if config.id %} id="{{ config.id }}"{% endif %} class="{{ class }}" rows="{{ config.rows }}" cols="{{ config.cols }}" name="{{ config.name }}"{% if config.disabled %} disabled{% endif %}{% if config.hint %} data-hint="{{ config.hint }}"{% endif %}>{{ config.value }}</textarea></div>
{% endmacro %}


{% macro select(config) %}
	{% set config = { id: null, class: null, name: null, value: null, toggle: false, targetPrefix: null, disabled: false }|merge(config) %}
	{% set class = ['select', config.class]|filter|join(' ') %}
	<div class="{{ class }}">
		<select{% if config.id %} id="{{ config.id }}"{% endif %}{% if config.toggle %} class="fieldtoggle"{% endif %}{% if config.name %} name="{{ config.name }}"{% endif %}{% if config.disabled %} disabled{% endif %}{% if config.targetPrefix %} data-target-prefix="{{ config.targetPrefix }}"{% endif %}>
			{% for value, label in config.options %}
				<option value="{{ value }}"{% if value == config.value %} selected{% endif %}>{{ label }}</option>
			{% endfor %}
		</select>
	</div>
{% endmacro %}


{% macro multiselect(config) %}
	{% set config = { id: null, name: null, size: null, options: [], values: [], disabled: false }|merge(config) %}
	<select{% if config.id %} id="{{ config.id }}"{% endif %}{% if config.name %} name="{{ config.name }}[]"{% endif %} multiple{% if config.disabled %} disabled{% endif %}{% if config.size %} size="{{ config.size }}"{% endif %}>
		{% for value, label in config.options %}
			<option value="{{ value }}"{% if value in config.values %} selected{% endif %}>{{ label }}</option>
		{% endfor %}
	</select>
{% endmacro %}


{% macro checkbox(config) %}
	{% set config = { id: null, class: null, name: null, value: '1', checked: false, toggle: null, disabled: false, label: null }|merge(config) %}
	{% set class = [ (config.class), (config.toggle ? 'fieldtoggle' : null) ]|filter|join(' ') %}
	<label>
		<input{% if config.id %} id="{{ config.id }}"{% endif %}{% if class %} class="{{ class }}"{% endif %} type="checkbox"{% if config.name %} name="{{ config.name }}"{% endif %} value="{{ config.value }}"{% if config.checked %} checked{% endif %}{% if config.disabled %} disabled{% endif %}{% if config.toggle %} data-target="{{ config.toggle }}"{% endif %}>
		{{ config.label|raw }}
	</label>
{% endmacro %}


{% macro checkboxGroup(config) %}
	{% set config = { id: null, name: null, options: [], values: [] }|merge(config) %}
	{% for value, label in config.options %}
		<div>
			{{ _self.checkbox({
				label: label,
				id: (loop.first ? config.id : null),
				name: config.name ~ '[]',
				value: value,
				checked: (value in config.values)
			}) }}
		</div>
	{% endfor %}
{% endmacro %}


{% macro checkboxSelect(config) %}
	{% set config = { id: null, allLabel: "All"|t, name: null, options: [], values: [] }|merge(config) %}
	<div class="checkbox-select">
		<div>
			{{ _self.checkbox({
				id: config.id,
				class: 'all',
				label: '<b>' ~ config.allLabel ~ '</b>',
				checked: (config.values is empty)
			}) }}
		</div>
		{% for value, label in config.options %}
			<div>
				{{ _self.checkbox({
					label: label,
					name: config.name ~ '[]',
					value: value,
					checked: (value in config.values or config.values is empty),
					disabled: (config.values is empty)
				}) }}
			</div>
		{% endfor %}
	</div>
{% endmacro %}


{% macro radio(config) %}
	{% set config = { id: null, class: null, name: null, value: '1', checked: false, disabled: false, label: null }|merge(config) %}
	<label>
		<input{% if config.id %} id="{{ config.id }}"{% endif %}{% if config.class %} class="{{ config.class }}"{% endif %} type="radio"{% if config.name %} name="{{ config.name }}"{% endif %} value="{{ config.value }}"{% if config.checked %} checked{% endif %}{% if config.disabled %} disabled{% endif %}>
		{{ config.label|raw }}
	</label>
{% endmacro %}


{% macro radioGroup(config) %}
	{% set config = { id: null, name: null, options: [], value: null }|merge(config) %}
	{% for value, label in config.options %}
		<div>
			{{ _self.radio({
				label: label,
				id: (loop.first ? config.id : null),
				name: config.name,
				value: value,
				checked: (value == config.value)
			}) }}
		</div>
	{% endfor %}
{% endmacro %}


{% macro file(config) %}
	{% set config = { id: null, name: null, disabled: false }|merge(config) %}
	<input{% if config.id %} id="{{ config.id }}"{% endif %}{% if config.name %} name="{{ config.name }}"{% endif %} type="file"{% if config.disabled %} disabled{% endif %}>
{% endmacro %}


{# Fields #}


{% macro field(config, input) %}
	{% set config = { id: null, label: null, instructions: null, required: false, translatable: false, inputClass: null, errors: null }|merge(config) %}
	<div class="field"{% if config.id %} id="{{ config.id }}-field"{% endif %}>
		{% if config.label or config.instructions %}
			<div class="heading">
				{% if config.label %}
					<label{% if config.required %} class="required"{% endif %}{% if config.id %} for="{{ config.id }}"{% endif %}>
						{{ config.label|raw }}
						{% if blx.hasPackage('Language') and config.translatable and blx.language != blx.app.language %}
							{% set localeName = blx.i18n.getLocaleName(blx.app.language) %}
							{{ "(in {language})"|t({ language: localeName }) }}
						{% endif %}
					</label>
				{% endif %}
				{% if config.instructions %}
					<p>{{ config.instructions|raw }}</p>
				{% endif %}
			</div>
		{% endif %}
		<div class="input{% if config.inputClass %} {{ config.inputClass }}{% endif %}{% if config.errors %} errors{% endif %}">
			{{ input|raw }}
		</div>
		{{ _self.errorList(config.errors) }}
	</div>
{% endmacro %}


{% macro textField(config) %}
	{{ _self.field(config, _self.text(config)) }}
{% endmacro %}


{% macro passwordField(config) %}
	{{ _self.field(config, _self.password(config)) }}
{% endmacro %}


{% macro dateField(config) %}
	{{ _self.field(config, _self.date(config)) }}
{% endmacro %}


{% macro textareaField(config) %}
	{{ _self.field(config, _self.textarea(config)) }}
{% endmacro %}


{% macro selectField(config) %}
	{{ _self.field(config, _self.select(config)) }}
{% endmacro %}


{% macro multiselectField(config) %}
	{{ _self.field(config, _self.multiselect(config)) }}
{% endmacro %}


{% macro checkboxField(config) %}
	{% set config = { id: null }|merge(config) %}
	<div class="field checkbox"{% if config.id %} id="{{ config.id }}-field"{% endif %}>
		{{ _self.checkbox(config) }}
	</div>
{% endmacro %}


{% macro checkboxSelectField(config) %}
	{{ _self.field(config, _self.checkboxSelect(config)) }}
{% endmacro %}


{% macro fileField(config) %}
	{{ _self.field(config, _self.file(config)) }}
{% endmacro %}
