{% if paginate.totalPages > 1 %}
	<div class="paginate">
		<p>{{ "Showing {first} through {last} of {total} {type}"|t({ first: paginate.first, last: paginate.last, total: paginate.total, type: type }) }}</p>

		<div class="btngroup">
			{% if paginate.prevUrl %}
				<a class="btn" href="{{ paginate.prevUrl }}">{{ "Previous"|t }}</a>
			{% else %}
				<div class="btn disabled">{{ "Previous"|t }}</div>
			{% endif %}

			{% if paginate.nextUrl %}
				<a class="btn" href="{{ paginate.nextUrl }}">{{ "Next"|t }}</a>
			{% else %}
				<div class="btn disabled">{{ "Next"|t }}</div>
			{% endif %}
		</div>
	</div>
{% endif %}
