<div id="subnav-wrapper">
    <div class="container">
        <ul id="subnav">
            {% for itemId, item in subnav %}

                {% set itemIsSelected = (selectedSubNavItem is defined and selectedSubNavItem == itemId) -%}

                <li>
                    <a href="{% if item.url is defined %}{{ url(item.url) }}{% endif %}" {% if itemIsSelected %} class="sel"{% endif %}>
                        {{ item.label }}
                    </a>
                </li>

            {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
</div>
