<div id="subnav-wrapper">
    <div class="container">
        <nav>
            <ul id="subnav">
                {% for itemId, item in subnav %}
                    {% set itemIsSelected = (
                        (selectedSubnavItem is defined and selectedSubnavItem == itemId) or
                        (selectedSubnavItem is not defined and loop.first)
                    ) -%}

                    <li>
                        <a href="{% if item.url is defined %}{{ url(item.url) }}{% endif %}" {% if itemIsSelected %} class="sel"{% endif %}>
                            {{ item.label }}
                        </a>
                    </li>

                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
