<div id="subnav-wrapper">
    <div class="container">
        <nav>
            <ul id="subnav">
                {% for itemId, item in subnav %}
                    {% set itemIsSelected = (
                        (selectedSubnavItem is defined and selectedSubnavItem == itemId) or
                        (selectedSubnavItem is not defined and loop.first)
                    ) -%}

                    <li>
                        {% if item.icon is defined %}
                            <a href="{{ url(item.url) }}"{% if itemIsSelected %} class="sel"{% endif %} data-icon="{{ item.icon }}" title="{{ item.label }}"></a>
                        {% else %}
                            <a href="{{ url(item.url) }}"{% if itemIsSelected %} class="sel"{% endif %}>{{ item.label }}</a>
                        {% endif %}
                    </li>

                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
