{% macro keyboardReorderingInstructions(config) %}
    {% set id = config.id ?? null %}

    {% tag ('ul') with {
        class: 'visually-hidden',
        id: id,
    } %}
        <li>{{ 'Press Space to enter into drag mode'|t('app') }}</li>
        <li>{{ 'Use down/right, up/left arrow keys to select a new position'|t('app') }}</li>
        <li>{{ 'Press Space to drop item in new position'|t('app') }}</li>
    {% endtag %}
{% endmacro %}