{% set elements = elements ?? [] %}
{% set disabled = disabled ?? null %}
{% set viewMode = viewMode ?? null %}

<ul class="elements card-grid">
  {% for element in elements %}
    <li>
      {% set html = elementCard(element, {
        context: context ?? 'index',
        size: size ?? (viewMode == 'large' ? 'large' : 'small'),
        inputName: inputName ?? ((name ?? false) ? "#{name}[]" : null),
      }) %}
      {% if disabled %}
        {% set html = html|removeClass('removable') %}
      {% endif %}
      {{ html|raw }}
    </li>
  {% endfor %}
</ul>
