{% if mode is not defined %}
	{% set mode = 'index' %}
{% endif -%}

{% set iconUrl = element.getIconUrl(30, 30) -%}
{% if iconUrl -%}
	{% set iconClass = 'icon'~element.id -%}
	{% includeCss '.'~iconClass~' { background-image: url('~iconUrl~'); }' -%}
	{% includeHiResCss '.'~iconClass~' { background-image: url('~element.getIconUrl(60, 60)~'); }' -%}
{% endif -%}

<div class="element{% if mode != 'index' %} selectable{% endif %}{% if mode == 'field' %} removable{% endif %}{% if iconUrl %} hasicon{% endif %}" data-id="{{ element.id }}">
	{% if mode == 'field' -%}
		<input type="hidden" name="{{ name }}[]" value="{{ element.id }}">
		<a class="delete icon" title="{{ 'Remove'|t }}"></a>
	{% endif -%}
	{% if iconUrl -%}
		<div class="icon {{ iconClass }}"></div>
	{% endif %}
	{% if element.getStatus() %}
		<div class="status {{ element.getStatus() }}"></div>
	{% endif %}
	{% if mode == 'index' and element.getCpEditUrl() %}
		<a class="label" href="{{ element.getCpEditUrl() }}">{{ element }}</a>
	{% else %}
		<span class="label">{{ element }}</span>
	{% endif %}
</div>
