<div id="count-spinner" class="spinner small hidden"></div>
<div id="count-container" class="light">&nbsp;</div>
<div id="actions-container" class="flex"></div>
<div class="flex flex-nowrap">
  <button type="button" id="export-btn" class="btn hidden" aria-expanded="false">{{ 'Export…'|t('app') }}</button>
</div>
