{% from "_includes/forms" import text -%}

{% includeTranslations
	"Display in a table",
	"Display hierarchically",
	"Display as thumbnails"
%}

{% set context = context is defined ? context : 'index' %}
{% set showStatusMenu = (showStatusMenu is defined and showStatusMenu != 'auto' ? showStatusMenu : elementType.hasStatuses()) %}
{% set showLocaleMenu = (craft.hasPackage('Localize') and context == 'index' ? (showLocaleMenu is defined and showLocaleMenu != 'auto' ? showLocaleMenu : elementType.isLocalized()) : false) %}

<div class="main">
	<div class="toolbar">
		<table class="inputs fullwidth">
			<tr>
				{% if showStatusMenu %}
					<td class="thin">
						<div class="btn menubtn statusmenubtn"><span class="status"></span>{{ "All"|t }}</div>
						<div class="menu padded">
							<ul>
								<li><a data-status="" class="sel"><span class="status"></span>{{ "All"|t }}</a></li>
								{% for status, label in elementType.getStatuses() %}
									<li><a data-status="{{ status }}"><span class="status {{ status }}"></span> {{ label }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</td>
				{% endif %}
				{% if showLocaleMenu %}
					{% set currentLocale = craft.i18n.getCurrentLocale() %}
					<td class="thin">
						<div class="btn menubtn localemenubtn">{{ currentLocale.getName() }}</div>
						<div class="menu padded">
							<ul>
								{% for locale in craft.i18n.getSiteLocales() if user.can('editLocale:'~locale.getId()) %}
									<li><a{% if locale.getId() == currentLocale.getid() %} class="sel"{% endif %} data-locale="{{ locale.getId() }}">{{ locale.getName() }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</td>
				{% endif %}
				<td>
					<div class="texticon search icon">
						{{ text({
							placeholder: "Search"|t
						}) }}
					</div>
				</td>
				<td class="thin viewbtns hidden"></td>
			</tr>
		</table>
		<div class="spinner hidden"></div>
	</div>

	<div class="elements"></div>

	<div class="centeralign">
		<div class="spinner loadingmore hidden"></div>
	</div>
</div>
