{% set elements = elements ?? [] %}
{% set disabled = disabled ?? null %}
{% set viewMode = viewMode ?? null %}

<div class="elements">
    {% for element in elements %}
        {% set element = elementChip(element, {
            context: context ?? 'index',
            size: size ?? (viewMode == 'large' ? 'large' : 'small'),
            inputName: inputName ?? ((name ?? false) ? "#{name}[]" : null),
        }) %}
        {% if disabled %}
            {% set element = element|removeClass('removable') %}
        {% endif %}
        {{ element|raw }}
    {% endfor %}
</div>
