<div class="content{% if showSidebar %} has-sidebar{% endif %}">
    <div class="sidebar{% if not showSidebar %} hidden{% endif %}">
        <nav>
            {% include "_elements/sources" %}
        </nav>
    </div>

    <div class="main">
        <div class="toolbar flex flex-nowrap">
            {% include '_elements/toolbar' %}
        </div>
        <div class="elements"></div>
    </div>
</div>
