{% set siteIds = siteIds ?? craft.app.sites.getEditableSiteIds() %}
{% if siteIds|length %}
    {% if selectedSiteId is not defined %}
        {% if craft.app.sites.currentSite.id in siteIds %}
            {% set selectedSiteId = craft.app.sites.currentSite.id %}
        {% else %}
            {% set selectedSiteId = siteIds|first %}
        {% endif %}
    {% endif %}
    <div>
        <div class="btn menubtn sitemenubtn" data-icon="world">{{ selectedSiteId ? craft.app.sites.getSiteById(selectedSiteId).name|t('site') }}</div>
        <div class="menu">
            <ul class="padded">
                {% for siteId in siteIds %}
                    {% set site = craft.app.sites.getSiteById(siteId) %}
                    {% set url = urlFormat is defined ? url(urlFormat|replace({
                        '{id}': siteId,
                        '{handle}': site.handle
                    })) %}
                    <li><a{% if selectedSiteId and siteId == selectedSiteId %} class="sel"{% endif %} data-site-id="{{ siteId }}"{% if url %} href="{{ url }}"{% endif %}>{{ site.name|t('site') }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
