{% set editable = editable is defined and editable %}

<table class="elements-tableview data">
	<thead>
		{% for attribute, label in attributes %}
			<th scope="col">{{ label }}</th>
		{% endfor %}
		{% if editable %}
			<th class="thin"></th>
			<th class="thin"></th>
		{% endif %}
	</thead>
	<tbody>
		{% for element in elements %}
			<tr data-id="{{ element.id }}" data-name="{{ element }}">
				{% for attribute, label in attributes %}
					{% set value = attribute(element, attribute) %}
					{% if loop.index == 1 %}
						<td scope="row" data-title="{{ label }}">
							{{- value -}}
							{%- if element.getCpEditUrl() -%}
								<a class="go" title="{{ 'Edit'|t }}" href="{{ element.getCpEditUrl() }}" target="_blank"></a>
							{%- endif -%}
						</td>
					{% else %}
						<td data-title="{{ label }}">{{ value }}</td>
					{% endif %}
				{% endfor %}
				{% if editable %}
					<td class="thin"><a class="move icon" title="{{ 'Reorder'|t }}"></a></td>
					<td class="thin"><a class="delete icon" title="{{ 'Remove'|t }}"></a></td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>