{layout "account/_layouts/account"}

{region "main"}
	<div class="pane">
		<div class="pane-head">
			Password
		</div>
		<div class="pane-body">
			<form method="post" action="">
				<input type="hidden" name="action" value="account/changePassword" />
				<input type="hidden" name="redirect" value="account" />

				<div class="pane-item field">
					<label for="current-password">Current Password</label>
					<div class="passwordwrapper"><input id="current-password" name="current-password" class="text password {if changePasswordInfo.errors.currentPassword}error{/if}" type="password" /></div>
					{if changePasswordInfo.errors.currentPassword}
						{include "_includes/error_list" errors=changePasswordInfo.errors.currentPassword}
					{/if}
				</div>
				<div class="pane-item field">
					<label for="password">Password</label>
					<div class="passwordwrapper"><input id="password" name="password" class="text password {if changePasswordInfo.errors.password}error{/if}" type="password" /></div>
					{if changePasswordInfo.errors.password}
						{include "_includes/error_list" errors=changePasswordInfo.errors.password}
					{/if}
				</div>
				<div class="pane-item field">
					<label for="confirm-password">Confirm Password</label>
					<div class="passwordwrapper"><input id="confirm-password" name="confirm-password" class="text password {if changePasswordInfo.errors.confirmPassword}error{/if}" type="password" /></div>
					{if changePasswordInfo.errors.confirmPassword}
						{include "_includes/error_list" errors=changePasswordInfo.errors.confirmPassword}
					{/if}
				</div>
				<div class="pane-item">
					<input class="btn big submit" type="submit" value="Save User" />
				</div>
			</form>
		</div>
	</div>
{/region}
