{% layout "account/_layouts/account" %}

{% region "main" %}
	<div class="pane">
		<div class="head">
			Password
		</div>
		<div class="body">
			<form method="post" action="">
				<input type="hidden" name="action" value="account/changePassword" />
				<input type="hidden" name="redirect" value="users" />

				{% set authCode = url.get('code') %}
				{% if authCode %}
					{% set validCode = security.validateUserRegistration(authCode) %}
					{% if validCode %}
						{% set userModel = security.getUserByAuthCode(authCode) %}
					{% endif %}
				{% endif %}

				<!-- if there is no auth code at all, then assume they just want to change password -->
				{% if !authCode %}
					<input type="hidden" name="current" value="1" />
					<div class="item field">
						<div class="input-wrapper">
							<label for="current-password">Current Password</label>
							<input id="current-password" name="current-password" class="{% if changePasswordInfo.errors.currentPassword %}error{% endif %}" type="password" />
						</div>
						{% if changePasswordInfo.errors.currentPassword %}
							{% include "_includes/error_list" errors=changePasswordInfo.errors.currentPassword %}
						{% endif %}
					</div>
				{% endif %}
				<!-- the user is logged in or we found a valid auth code -->
				{% if userModel || user.isLoggedIn %}
					<!-- we found a valid auth code -->
					{% if userModel %}
						<div class="item">Let's set a password for your account.</div>
					{% endif %}
					<input type="hidden" name="userId" value="{userModel.id}" />
					<div class="item field">
						<div class="input-wrapper">
							<label for="password">Password</label>
							<input id="password" name="password" class="{% if changePasswordInfo.errors.password %}error{% endif %}" type="password" />
						</div>
						{% if changePasswordInfo.errors.password %}
							{% include "_includes/error_list" errors=changePasswordInfo.errors.password %}
						{% endif %}
					</div>
					<div class="item field">
						<div class="input-wrapper">
							<label for="confirm-password">Confirm Password</label>
							<input id="confirm-password" name="confirm-password" class="{% if changePasswordInfo.errors.confirmPassword %}error{% endif %}" type="password" />
						</div>
						{% if changePasswordInfo.errors.confirmPassword %}
							{% include "_includes/error_list" errors=changePasswordInfo.errors.confirmPassword %}
						{% endif %}
					</div>
					<div class="item">
						<input class="btn big submit" type="submit" value="Save User" />
					</div>
				{% endif %}
			</form>
		</div>
	</div>
{% endregion %}
