<div class="tableview">
    <table class="data fullwidth"{% if structureEditable is defined and structureEditable %} data-structure-id="{{ structure.id }}" data-max-levels="{{ structure.maxLevels }}"{% endif %}>
        <thead>
        <tr>
            {% if showCheckboxes %}
                <td class="checkbox-cell"></td>
            {% endif %}
            {% for attribute in attributes %}
                {% set icon = (attribute[1].icon is defined ? attribute[1].icon : null) %}
                <th scope="col" data-attribute="{{ attribute[0] }}"
                        {%- if icon %} data-icon="{{ icon }}" title="{{ attribute[1].label }}"{% endif %}>
                    {%- if not icon %}{{ attribute[1].label }}{% endif -%}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% include "_elements/tableview/elements" %}
        </tbody>
    </table>
</div>
