{% extends "_layouts/base" %}

{%- includeJsResource "js/cp.js" first -%}

{%- includeJsResource "js/craft.js" first -%}
{%- includeJsResource 'lib/garnish-0.1'~(craft.config.useCompressedJs ? '.min' : '')~'.js' first %}
{%- includeJsResource 'lib/jquery.placeholder'~(craft.config.useCompressedJs ? '.min' : '')~'.js' first %}
{%- includeJsResource 'lib/jquery-ui-1.10.3.custom'~(craft.config.useCompressedJs ? '.min' : '')~'.js' %}
{%- includeJsResource 'lib/jquery-2.0.3'~(craft.config.useCompressedJs ? '.min' : '')~'.js' first %}
{%- includeJsResource 'lib/xregexp-all'~(craft.config.useCompressedJs ? '-min' : '')~'.js' %}

{%- includeTranslations "Show", "Hide" %}

{% block body %}
	{{ body }}

	<noscript>
		<div class="message-container no-access">
			<div class="pane notice">
				<p>{{ "JavaScript must be enabled to access the @@@appName@@@ control panel."|t }}</p>
			</div>
		</div>
	</noscript>

	<script type="text/javascript">
		window.Craft = {
			siteUid:              "{{ craft.app.getSiteUid()|e('js') }}",
			baseUrl:              "{{ url()|e('js') }}",
			baseCpUrl:            "{{ cpUrl()|e('js') }}",
			baseSiteUrl:          "{{ siteUrl()|e('js') }}",
			actionUrl:            "{{ actionUrl()|e('js') }}",
			resourceUrl:          "{{ resourceUrl()|e('js') }}",
			scriptName:           "{{ craft.request.getScriptName()|e('js') }}",
			omitScriptNameInUrls: {{ craft.config.omitScriptNameInUrls() ? 'true' : 'false' }},
			usePathInfo:          {{ craft.config.usePathInfo() ? 'true' : 'false' }},
			resourceTrigger:      "{{ craft.config.resourceTrigger()|e('js') }}",
			actionTrigger:        "{{ craft.config.actionTrigger|e('js') }}",
			path:                 "{{ craft.request.getPath()|e('js') }}",
			language:             "{{ craft.locale|e('js') }}",
			packages:             {{ craft.getPackages|json_encode|raw }},
			translations:         {{ getTranslations()|raw }},
			maxUploadSize:        {{ craft.app.getMaxUploadSize() }}
		};
	</script>
{% endblock %}
