{%- includeCssResource "css/blocks.css" first %}
{%- includeJsResource "js/cp.js" first -%}
{%- includeJsResource (blx.config.useCompressedJs ? "js/blocks.js" : "js/global/bootstrap.js") first -%}
{%- includeJsResource "lib/Base.js" first %}
{%- includeJsResource "lib/jquery-1.8.2.min.js" first %}
{%- includeTranslations
	"Are you sure you want to delete this entry block?",
	"Attempted to get the height of a modal whose container has not been set.",
	"Attempted to get the width of a modal whose container has not been set.",
	"Attempted to position a modal whose container has not been set.",
	"Attempted to position a modal whose container has not been set.",
	"Save",
	"Cancel",
	"Delete",
	"Show",
	"Hide",
	"Close",
	"An unknown error occurred.",
	"New order saved.",
	"Couldn’t save new order.",
	"Are you sure you want to delete “{name}”?",
	"“{name}” deleted.",
	"Couldn’t delete “{name}”."
-%}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<title>{{ title|striptags }}{% if title and blx.app.siteName %} - {% endif %}{{ blx.app.siteName }}</title>
	{{ getHeadNodes()|raw }}
	<meta name="viewport" content="width=device-width, maximum-scale=1.0">
</head>
<body>
	{{ body }}

	<noscript>
		<div class="no-access">
			<div class="pane notice">
				<div class="pane-body">
					<div class="pane-item notice">
						<div class="icon"></div>
						<p>{{ "JavaScript must be enabled to access the Blocks CP."|t }}<br>
							<a class="go" href="">See how</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</noscript>

<script type="text/javascript">
	window.Blocks = {
		baseUrl: '{{ url() }}',
		actionUrl: '{{ actionUrl() }}',
		resourceUrl: '{{ resourceUrl() }}',
		usePathInfo: {{ blx.config.usePathInfo() ? 'true' : 'false' }},
		resourceTrigger: '{{ blx.config.resourceTrigger }}',
		actionTrigger: '{{ blx.config.actionTrigger }}',
		language: '{{ blx.language }}',
		packages: {{ blx.getPackages|json_encode|raw }},
		translations: {{ getTranslations()|raw }},
		maxUploadSize: {{ blx.app.getMaxUploadSize() }}
	};
</script>

{{ getFootNodes()|raw }}
</body>
</html>
