{% extends "_layouts/base" %}

{# Figure out which Datepicker i18n script to load #}
{%- switch craft.locale %}
	{%- case 'en_gb' %}
		{%- set datepickerLocale = 'en-GB' %}
	{%- case 'fr_ca' %}
		{%- set datepickerLocale = 'fr-CA' %}
	{%- default %}
		{%- set language = craft.i18n.getLocaleData().getLanguageID(craft.locale) %}
		{%- if language in ['ar', 'de', 'fr', 'it', 'ja', 'nb', 'nl', 'nn', 'no'] %}
			{%- set datepickerLocale = language %}
		{%- endif %}
{%- endswitch %}

{# Load scripts in reverse order #}

{%- if datepickerLocale is defined %}
	{%- includeJsResource 'lib/datepicker-i18n/datepicker-'~datepickerLocale~'.js' first %}
{%- endif %}

{%- set useCompressedJs = craft.config.useCompressedJs %}
{%- includeJsResource "js/cp.js" first -%}
{%- includeJsResource "js/craft.js" first -%}
{%- includeJsResource 'lib/garnish-0.1'~(useCompressedJs ? '.min')~'.js' first %}
{%- includeJsResource 'lib/fileupload/jquery.fileupload.js' first %}
{%- includeJsResource 'lib/fileupload/jquery.ui.widget.js' first %}
{%- includeJsResource 'lib/jquery.placeholder.js' first %}
{%- includeJsResource 'lib/velocity'~(useCompressedJs ? '.min')~'.js' first %}
{%- includeJsResource 'lib/jquery-ui'~(useCompressedJs ? '.min')~'.js' first %}
{%- includeJsResource 'lib/jquery-2.1.4'~(useCompressedJs ? '.min')~'.js' first %}
{%- includeJsResource 'lib/xregexp-all'~(useCompressedJs ? '-min')~'.js' first %}

{%- includeTranslations "Show", "Hide" %}

{% set orientation = craft.i18n.getLocaleData().getOrientation() %}

{% block foot %}
	<noscript>
		<div class="message-container no-access">
			<div class="pane notice">
				<p>{{ "JavaScript must be enabled to access the Craft control panel."|t }}</p>
			</div>
		</div>
	</noscript>

	<script type="text/javascript">
		window.Craft = {
			siteUid:               "{{ craft.app.getSiteUid()|e('js') }}",
			baseUrl:               "{{ url()|e('js') }}",
			baseCpUrl:             "{{ cpUrl()|e('js') }}",
			baseSiteUrl:           "{{ siteUrl()|e('js') }}",
			actionUrl:             "{{ actionUrl()|e('js') }}",
			resourceUrl:           "{{ resourceUrl()|e('js') }}",
			scriptName:            "{{ craft.request.getScriptName()|e('js') }}",
			omitScriptNameInUrls:  {{ craft.config.omitScriptNameInUrls() ? 'true' : 'false' }},
			usePathInfo:           {{ craft.config.usePathInfo() ? 'true' : 'false' }},
			resourceTrigger:       "{{ craft.config.getResourceTrigger()|e('js') }}",
			actionTrigger:         "{{ craft.config.actionTrigger|e('js') }}",
			path:                  "{{ craft.request.getPath()|e('js') }}",
			locale:                "{{ craft.locale|e('js') }}",
			orientation:           "{{ orientation|e('js') }}",
			left:                  "{{ orientation == 'ltr' ? 'left' : 'right' }}",
			right:                 "{{ orientation == 'ltr' ? 'right' : 'left' }}",
			username:              {{ currentUser is defined and currentUser ? ('"'~currentUser.username|e('js')~'"')|raw : 'null' }},
			authTimeout:           {{ craft.request.getFirstSegment() not in ['updates', 'manualupdate'] ? craft.session.getAuthTimeout() : 0 }},
			Personal:              {{ CraftPersonal }},
			Client:                {{ CraftClient }},
			Pro:                   {{ CraftPro }},
			edition:               {{ CraftEdition }},
			isLocalized:           {{ craft.isLocalized() ? 'true' : 'false' }},
			translations:          {{ getTranslations()|raw }},
			maxUploadSize:         {{ craft.app.getMaxUploadSize() }},
			forceConfirmUnload:    {{ forceConfirmUnload is defined and forceConfirmUnload ? 'true' : 'false' }},
			{% if craft.config.enableCsrfProtection %}
				csrfTokenValue:        "{{ craft.request.getCsrfToken()|e('js') }}",
				csrfTokenName:         "{{ craft.config.csrfTokenName|e('js') }}",
			{% endif %}
			runTasksAutomatically: {{ craft.config.runTasksAutomatically ? 'true' : 'false' }},
			slugWordSeparator:     "{{ craft.config.slugWordSeparator|e('js') }}",
			limitAutoSlugsToAscii: {{ craft.config.limitAutoSlugsToAscii ? 'true' : 'false' }}
		};

		window.Craft.fileKinds = {};
		{% for kind, info in craft.app.getFileKinds() %}
			window.Craft.fileKinds.{{ kind }} = [];
			{% for extension in info.extensions %}
				window.Craft.fileKinds.{{ kind }}.push("{{ extension }}");
			{% endfor %}
		{% endfor %}
	</script>
{% endblock %}
