<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8">
	<title>{if title}{:title} – {/if}Blocks</title>
	{include "_includes/css_include" file="styles/blocks.css"}
	<link href="//get.pictos.cc/fonts/1550/1" rel="stylesheet" type="text/css">
	{:styles}
	<meta name="viewport" content="width=device-width, maximum-scale=1.0">
	<script type="text/javascript">
		if (typeof blx == 'undefined') blx = {};
		blx.baseUrl = '{:blx.url.base}';
		blx.actionUrl = '{:blx.url.action}';
		blx.resourceUrl = '{:blx.url.resource}';
	</script>
</head>
<body class="{:bodyClass}">
	{:body}

	<noscript>
		<div class="no-access">
			<div class="pane notice">
				<div class="pane-body">
					<div class="pane-item notice">
						<div class="icon"></div>
						<p>JavaScript must be enabled to access the Blocks CP.<br>
							<a class="go" href="">See how</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</noscript>

{if !blx.config.useCompressedJs}
	{include "_includes/js_include" file="global_bootstrap.js"}
{else}
	{include "_includes/js_include" file="blocks.js"}
{/if}

{:scripts}

</body>
</html>
