<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{if pageTitle}{:pageTitle} – {/if}Blocks</title>
	{region "styles"}
		{include "_includes/css_include" file="styles/blocks.css"}
		{include "_includes/css_include" file="styles/icons.css"}
		{:styles}
	{/region}
	<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
	<script type="text/javascript">
		if (typeof b == 'undefined') b = {};
		b.baseUrl = '{:url.base}';
		b.actionUrl = '{:url.action}';
		b.resourceUrl = '{:url.resource}';
	</script>
</head>
<body class="{:bodyClass}">
	{:body}

	<noscript>
		<div class="no-access">
			<div class="pane notice">
				<div class="pane-body">
					<div class="pane-item notice">
						<div class="icon"></div>
						<p>JavaScript must be enabled to access the Blocks CP.<br>
							<a class="go" href="">See how</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</noscript>

{if !config.useCompressedJs}
	{include "_includes/js_include" file="global_bootstrap.js"}
{else}
	{include "_includes/js_include" file="blocks.js"}
{/if}

{:scripts}

</body>
</html>
