{layout "_layouts/basic" title=title styles=styles scripts=scripts bodyClass=bodyClass}

{region "body"}
	<div id="header">
		<div id="site" class="left">Pixel & Tonic</div>
		<div id="me" class="right">{:b.users.current.username}</div>

		<div id="nav" class="left">
			<ul>
				{foreach b.cp.sections as section}
					<li id="nav-{:section.handle}"><a {if b.url.segment(1)==section.handle}class="sel"{/if} href="{:b.url.base}{:section.handle}">{:section.name}</a></li>
				{/foreach}
			</ul>
		</div>

		<div class="clear"></div>
	</div>

	{if b.session.notifications}
		<div id="notification">
			{foreach b.session.notifications as notification}
				<div class="notification {:notification.type}">{:notification.message}</div>
			{/foreach}
		</div>
	{/if}

	<div id="main" class="main">
		{:main}
	</div>

	<div id="footer">
		<p id="version">Blocks {:b.app.version}.{:b.app.build}</p>
		<p id="copyright">© {:b.date.year} Pixel &amp; Tonic, Inc. All rights reserved.</p>
	</div>
{/region}
