{% extends "_layouts/cp" %}

{% set elementTypeClass = elementType %}
{% set elementType = craft.elements.getElementType(elementTypeClass) %}

{% if not elementType %}
	{% exit 404 %}
{% endif %}

{% set sources = elementType.getSources() %}


{% set sidebar %}
	{% if sources is not empty %}
		<nav>
			{% include "_elements/sources" %}
		</nav>
	{% endif %}
{% endset %}


{% set content %}
	<div class="main">
		<div class="toolbar">
			<div class="search"><input type="text" class="text nicetext fullwidth" placeholder="{{ 'Search entries'|t }}"></div>
		</div>

		<div class="elements"></div>
	</div>
{% endset %}


{% set js %}
	new Craft.ElementIndex('{{ elementTypeClass }}', $('#main'), {
		id: '{{ elementTypeClass }}Index'
	});
{% endset %}

{% includeJs js %}
