craft-tab {
  padding-inline: var(--c-tab-spacing-inline, 1em);
  padding-block: var(--c-tab-spacing-block, 0.5em);
  position: relative;
  cursor: pointer;
}

craft-tab::after {
  content: '';
  position: absolute;
  inset-block-end: -1px;
  inset-inline: 0;
  display: block;
  width: 100%;
  height: calc(2rem / 16);
  background-color: transparent;
}

craft-tab[selected] {
  font-weight: 400;
}

craft-tab[selected]::after {
  background-color: var(
    --c-tab-border-active,
    var(--c-color-accent-border-emphasis)
  );
}
