{% import "_includes/forms" as forms %}

{{ forms.editableTableField({
	label: label,
	instructions: "Define the available options."|t|raw,
	id: 'options',
	name: 'options',
	jsId: 'types-'~class~'-options',
	jsName: 'types['~class~'][options]',
	addRowLabel: "Add an option"|t,
	cols: {
		label: {
			heading: "Option Label"|t,
			type: 'singleline',
			autopopulate: 'value'
		},
		value: {
			heading: "Value"|t,
			type: 'singleline',
			class: 'code'
		},
		default: {
			heading: "Default?"|t,
			type: 'checkbox',
			class: 'thin'
		}
	},
	rows: options
}) }}
