{% extends "_layouts/cp" %}
{% includeJs "new Blocks.ui.BlockIndex('entryBlocks');" %}


{% set section = blx.content.getSectionById(sectionId) %}
{% if not section %}{% exit 404 %}{% endif %}

{% set title = "{section} Entry Blocks"|t({ section: '<i>'~section.name|t~'</i>' }) %}


{% set titlebar %}
	<h1>{{ title|raw }}</h1>
	<ul class="left">
		<li><a href="{{ url('settings/sections') }}" class="backbtn">{{ "Sections"|t }}</a></li>
	</ul>
{% endset %}


{% set content %}
	{% set blocks = blx.content.entryBlocksBySectionId(section.id) %}
	{% set settingsUrlPrefix = 'settings/sections/' ~ section.id ~ '/blocks/' %}
	{% include "_includes/blockindex" with { blocks: blocks, settingsUrlPrefix: settingsUrlPrefix } only %}
{% endset %}
