<!-- BLOCKS ONLY -->
<!-- TARGET: blocks/app/templates/settings/blog/_blocksettings.html -->
<!-- end BLOCKS ONLY -->
<!-- BLOCKSPRO ONLY -->
{% set section = blx.content.getSectionById(sectionId) %}
{% if not section %}{% exit 404 %}{% endif %}
<!-- end BLOCKSPRO ONLY -->


{% if not record and blockId %}
	{% set record = blx.content.getEntryBlockById(blockId) %}
	{% if not record %}{% exit 404 %}{% endif %}
{% endif %}


{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}


{% if record.id %}
	{% set title = "{name} Settings"|t({ name: '<i>'~record.name|t~'</i>' }) %}
	{% set blockClass = record.class %}
{% else %}
	{% set title = "Create a new entry block"|t %}
	{% set blockClass = 'PlainText' %}
{% endif %}


{% set titlebar %}
	<h1>{{ title|raw }}</h1>
	<ul class="left">
		<!-- BLOCKS ONLY -->
		<li><a href="{{ url('settings/blog') }}" class="btn backbtn">{{ "Blog"|t }}</a></li>
		<!-- end BLOCKS ONLY -->
		<!-- BLOCKSPRO ONLY -->
		<li><a href="{{ url('settings/sections/' ~ section.id ~ '/blocks') }}" class="btn backbtn">{{ "{section} Entry Blocks"|t({ section: '<i>'~section.name|t~'</i>' })|raw }}</a></li>
		<!-- end BLOCKSPRO ONLY -->
	</ul>
{% endset %}


{% set content %}
	<form method="post" action="" class="centered">
		<input type="hidden" name="action" value="content/saveEntryBlock">
		<!-- BLOCKS ONLY -->
		<input type="hidden" name="redirect" value="settings/blog">
		<!-- end BLOCKS ONLY -->
		<!-- BLOCKSPRO ONLY -->
		<input type="hidden" name="redirect" value="settings/sections/{{ section.id }}/blocks">
		<input type="hidden" name="sectionId" value="{{ section.id }}">
		<!-- end BLOCKSPRO ONLY -->
		{% if record.id %}<input type="hidden" name="blockId" value="{{ record.id }}">{% endif %}

		{{ forms.textField({
			label: "Name"|t,
			instructions: "What this block will be called in the CP."|t,
			id: 'name',
			name: 'name',
			value: record.name,
			errors: record.errors.name,
			first: true,
			required: true,
			translatable: true
		}) }}

		{{ forms.textField({
			label: "Handle"|t,
			instructions: "How you’ll refer to this block in the templates."|t,
			id: 'handle',
			class: 'code',
			name: 'handle',
			value: record.handle,
			errors: record.errors.handle,
			required: true,
		}) }}

		{{ forms.textareaField({
			label: "Instructions"|t,
			<!-- BLOCKS ONLY -->
			instructions: "Helper text to guide you when authoring an entry."|t,
			<!-- end BLOCKS ONLY -->
			<!-- BLOCKSPRO ONLY -->
			instructions: "Helper text to guide the author."|t,
			<!-- end BLOCKSPRO ONLY -->
			id: 'instructions',
			name: 'instructions',
			value: record.instructions,
			errors: record.errors.instructions,
			translatable: true
		}) }}

		{{ forms.checkboxField({
			label: "This entry block is required"|t,
			name: 'required',
			checked: record.required
		}) }}

		<!-- BLOCKSPRO ONLY -->
		{% if blx.systemSettings.languages %}
			{{ forms.checkboxField({
				label: "This entry block is translatable"|t,
				name: 'translatable',
				checked: record.translatable
			}) }}
		{% endif %}
		<!-- end BLOCKSPRO ONLY -->

		<hr>

		{% set blocks = blx.blocks.getBlocks %}

		{{ forms.selectField({
			label: "Type",
			instructions: "What type of block is this?"|t,
			id: 'class',
			name: 'class',
			options: blocks,
			value: blockClass,
			toggle: true
		}) }}

		{% for block in blocks %}
			{% set isCurrent = (block.getClassHandle == blockClass) %}
			{% if isCurrent %}
				{% set settings = block.displaySettings(record.blockSettings) %}
			{% else %}
				{% set settings = block.displaySettings %}
			{% endif %}

			{% if settings %}
				<div id="{{ block.getClassHandle }}" {% if not isCurrent %}style="display: none"{% endif %}>
					{% set namespace = 'types[' ~ block.getClassHandle ~ ']' %}
					{{- settings|ns(namespace)|raw -}}
				</div>
			{% endif %}
		{% endfor %}

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}


{% set scripts %}
	<script type="text/javascript">
		{% if not record.handle %}new blx.ui.HandleGenerator('#name', '#handle');{% endif %}
	</script>
{% endset %}
