{% set section = blx.content.getSectionById(sectionId) %}
{% if not section %}{% exit 404 %}{% endif %}


{% if not block and blockId %}
	{% set block = blx.content.getSectionBlockById(blockId) %}
	{% if not block %}{% exit 404 %}{% endif %}
{% endif %}


{% extends "_layouts/cp" %}


{% if block.id %}
	{% set title = "{name} Settings"|t({ 'name': block.name|t }) %}
	{% set blockClass = block.class %}
{% else %}
	{% set title = "Create a new content block"|t %}
	{% set blockClass = 'Checkboxes' %}
{% endif %}


{% set titlebar %}
	<h1>{{ title }}</h1>
	<ul class="left">
		<li><a href="{{ url('settings/sections/' ~ section.id ~ '/blocks') }}" class="btn backbtn">{{ "{section} Content Blocks"|t({ 'section': section.name|t }) }}</a></li>
	</ul>
{% endset %}


{% set content %}
	<form method="post" action="" class="centered">
		<input type="hidden" name="action" value="content/saveSectionBlock">
		<input type="hidden" name="redirect" value="settings/sections/{{ section.id }}/blocks">
		<input type="hidden" name="sectionId" value="{{ section.id }}">
		{% if block.id %}<input type="hidden" name="blockId" value="{{ block.id }}">{% endif %}

		<div class="field first">
			<div class="heading">
				<label class="required" for="name">
					{{ "Name"|t }}
					{% if blx.language != blx.app.language %}{{ "(in {language})"|t({ 'language': blx.localization.localeName(blx.app.language) }) }}{% endif %}
				</label>
				<p>{{ "What this block will be called in the CP."|t }}</p>
			</div>
			<div class="textwrapper"><input id="name" name="name" class="text {% if block.errors.name %}error{% endif %}" type="text" value="{{ block.name }}"></div>
			{% if block.errors.name %}
				{% include "_includes/error_list" with {'errors': block.errors.name} %}
			{% endif %}
		</div>

		<div class="field">
			<div class="heading">
				<label class="required" for="handle">{{ "Handle"|t }}</label>
				<p>{{ "How you’ll refer to this block in the templates."|t }}</p>
			</div>
			<div class="textwrapper"><input id="handle" name="handle" class="text code {% if block.errors.handle %}error{% endif %}" type="text" value="{{ block.handle }}"></div>
			{% if block.errors.handle %}
				{% include "_includes/error_list" with {'errors': block.errors.handle} %}
			{% endif %}
		</div>

		<div class="field">
			<div class="heading">
				<label for="instructions">
					{{ "Instructions"|t }}
					{% if blx.language != blx.app.language %}{{ "(in {language})"|t({ 'language': blx.localization.localeName(blx.app.language) }) }}{% endif %}
				</label>
				<p>{{ "Helper text to guide the author."|t }}</p>
			</div>
			<div class="textwrapper"><textarea id="instructions" name="instructions" class="text {% if block.errors.instructions %}error{% endif %}">{{ block.instructions }}</textarea></div>
			{% if block.errors.instructions %}
				{% include "_includes/error_list" with {'errors': block.errors.instructions} %}
			{% endif %}
		</div>

		<div class="field checkbox">
			<label>
				<input type="checkbox" name="required" value="y" {% if block.required %}checked{% endif %}>
				{{ "This content block is required"|t }}
			</label>
		</div>

		{% if blx.settings.languages %}
			<div class="field checkbox">
				<label>
					<input type="checkbox" name="translatable" value="y" {% if block.translatable %}checked{% endif %}>
					{{ "This content block is translatable"|t }}
				</label>
			</div>
		{% endif %}

		<hr>

		<div class="field">
			<div class="heading">
				<label for="class">{{ "Type"|t }}</label>
				<p>{{ "What type of block is this?" }}</p>
			</div>
			<div class="select">
				<select id="class" name="class" class="fieldtoggle">
					{% for blocktype in blx.contentblocks.blocktypes %}
						<option value="{{ blocktype.getClassHandle }}" {% if blocktype.getClassHandle == blockClass %}selected{% endif %}>
							{{- blocktype.getType -}}
						</option>
					{% endfor %}
				</select>
			</div>
		</div>

		{% for blocktype in blx.contentblocks.blocktypes %}
			{% set isCurrent = (blocktype.getClassHandle == blockClass) %}
			{% if isCurrent %}
				{% set settings = blocktype.displaySettings(block.settings) %}
			{% else %}
				{% set settings = blocktype.displaySettings %}
			{% endif %}

			{% if settings %}
				<div id="{{ blocktype.getClassHandle }}" {% if not isCurrent %}style="display: none"{% endif %}>
					{% set namespace = 'settings[' ~ blocktype.getClassHandle ~ ']' %}
					{% autoescape false %}
						{{- settings|ns(namespace) -}}
					{% endautoescape %}
				</div>
			{% endif %}
		{% endfor %}

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}


{% set scripts %}
	<script type="text/javascript">
		{% if not block.handle %}new blx.ui.HandleGenerator('#name', '#handle');{% endif %}
	</script>
{% endset %}
