<input type="hidden" name="{{ name }}" value="">

<div id="{{ id }}" class="categoriesfield">
	<ul class="elements structure">
		{% nav category in elements %}
			<li id="{{ id }}-category-{{ category.id }}">
				{% set indent = (category.level - 1) * 35 %}
				<div class="row" style="margin-left: -{{ indent }}px; padding-left: {{ indent }}px;">
					{%- include "_elements/element" with { element: category, context: 'field' } -%}
				</div>

				{% ifchildren %}
					<ul>
						{% children %}
					</ul>
				{% endifchildren %}
			</li>
		{% endnav %}
	</ul>

	<div class="btn add icon dashed">{{ "Add a category"|t }}</div>
</div>

{% if jsClass is defined %}
	{% set js %}
		new {{ jsClass }}(
			"{{ id   | namespaceInputId   | e('js') }}",
			"{{ name | namespaceInputName | e('js') }}",
			"{{ elementType.getClassHandle()|e('js') }}",
			{{ sources|json_encode|raw }},
			{{ criteria|json_encode|raw }},
			{{ sourceElementId ?: 'null' }},
			{{ limit ?: 'null' }},
			"{{ storageKey|e('js') }}"
		);
	{% endset %}

	{% includeJs js %}
{% endif %}
