{% extends "_components/fieldtypes/elementfieldsettings" %}

{% import "_includes/forms" as forms %}


{% block fieldSettings %}
    {{ block('sourcesField') }}

    {% block branchLimitField %}
        {{ forms.textField({
            label: "Branch Limit"|t('app'),
            instructions: "Limit the number of selectable category branches."|t('app'),
            id: 'branchLimit',
            name: 'branchLimit',
            value: field.branchLimit,
            size: 2,
            errors: field.getErrors('branchLimit')
        }) }}
    {% endblock %}

    {{ block('viewModeField') }}
    {{ block('selectionLabelField') }}
    {{ block('validateRelatedElementsField') }}
    {{ block('advancedSettings') }}
{% endblock %}
