@use '@craftcms/sass/mixins';

/* icon picker */
.icon-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--xs);
}

.icon-picker--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixins.input-styles;
  border-radius: var(--ui-control-border-radius);
  width: var(--ui-control-height);
  height: var(--ui-control-height);
  background: var(--gray-050);

  svg {
    width: calc(20rem / 16);
    height: calc(20rem / 16);
    @include mixins.svg-mask(var(--ui-control-color));
  }

  &.small {
    width: calc(22rem / 16);
    height: calc(22rem / 16);

    svg {
      width: calc(14rem / 16);
      height: calc(14rem / 16);
    }
  }
}

.icon-picker-modal {
  --width: calc(var(--ui-control-height) * 10 + var(--s) * 9 + var(--xl) * 2);
  width: var(--width) !important;
  min-width: 0 !important;
  max-width: calc(100% - 20px) !important;

  .body {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--l);

    .icon-picker-modal--list {
      flex: 1;
      position: relative;
      overflow: hidden;

      &:not(.loading) {
        .spinner {
          display: none;
        }
      }

      &.loading {
        &::after {
          position: absolute;
          inset-block-start: 0;
          inset-inline-start: 0;
          width: 100%;
          height: 100%;
          content: '';
          background-color: rgb(255 255 255 / 75%);
        }

        .spinner {
          inset-block-start: calc(50% - 10px);
          z-index: 1;
        }
      }

      ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: var(--s);
        max-height: 100%;
        overflow: auto;

        .icon-picker--icon {
          --focus-ring: var(--focus-ring-inner);

          &:hover {
            border-color: var(--link-color);
            background-color: var(--blue-100);
          }
        }
      }
    }
  }
}
