
.slideout-shade {
  z-index: 100;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background: var(--shade-bg);
  opacity: 0;
  transition: opacity linear 250ms;

  &:not(.visible) {
    display: none;
  }

  &.so-visible {
    opacity: 1;
  }

  &.blurred {
    backdrop-filter: blur(10px);
  }
}

.slideout-container {
  z-index: 100;
  box-sizing: border-box;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available; // h/t https://twitter.com/AllThingsSmitty/status/1254151507412496384
  pointer-events: none;

  &.so-lp {
    position: fixed;
    inset-block-start: var(--m);
    inset-inline-start: var(--m);
    width: calc(100% - var(--m) * 2);
    height: calc(100vh - var(--m) * 2);
  }

  body.has-debug-toolbar & {
    height: calc(100vh - 42px);
  }
}

.slideout {
  z-index: 100;
  box-sizing: border-box;
  position: absolute;
  background-color: var(--modal-bg);
  box-shadow: var(--modal-shadow) !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-block: 24px;
  padding-inline: var(--padding);
  pointer-events: all;
  container-type: inline-size;

  &.so-mobile,
  &.so-lp {
    width: 100% !important;
    height: 100% !important;
    inset-inline-start: 0;
    transition: inset-block-start linear 250ms;
    will-change: inset-block-start;
    box-shadow: none !important;
  }

  &.so-mobile {
    --padding: var(--m);
    --neg-padding: calc(var(--m) * -1);
  }

  &.so-lp {
    border-radius: var(--radius-lg);
  }

  &:not(.so-mobile, .so-lp) {
    border-start-start-radius: var(--radius-lg);
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-end-start-radius: var(--radius-lg);
  }

  &:not(.so-mobile, .so-lp) {
    inset-block-start: 0;
    width: 55%;
    height: 100%;

    @media screen and (prefers-reduced-motion: no-preference) {
      transition:
        inset-inline-start linear 250ms,
        inset-inline-end linear 250ms;
      will-change: transform;
    }
  }

  & > .pane-header {
    padding-inline: var(--padding);
    z-index: 2;
    border-radius: 0;

    // keep the margin-block-start as it was for wider viewports
    @media only screen and (width <= 767px) {
      margin-block: calc(var(--xl) * -1) var(--padding);
    }

    & > .so-toolbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--xs);
      min-height: calc(44px - 16px);

      & > .pane-tabs {
        width: 1px; // give other elements in the header plenty of room before the tabs take up whatever's left
        flex: 1;
        margin-inline-end: 0;
      }
    }
  }

  & > .so-body {
    flex: 1;
    margin-block: -24px;
    margin-inline: var(--neg-padding);
    overflow: hidden auto;
    position: relative;

    &:not(:last-child) {
      margin-block-end: 0;
    }

    & > h1:not(:last-child) {
      padding-block-end: var(--s);
      border-block-end: 1px solid var(--border-hairline);
    }

    &.so-full-details,
    & > .so-sidebar {
      background-color: var(--gray-100) !important;
    }

    &:not(.so-full-details) {
      padding-block: 24px;
      padding-inline: var(--padding);
    }

    & > .so-sidebar,
    &.so-full-details > .so-content > .details {
      box-sizing: border-box;
      padding-block: 0 var(--spacing);
      padding-inline: var(--padding);

      // set the margin-block-start so the slideout doesn't overlap the toolbar
      @media only screen and (width <= 767px) {
        margin-block-start: 16px;
      }

      & > .preview-thumb-container {
        margin-block: 0;
        margin-inline: var(--neg-padding);
        height: auto;
        min-height: 54px; // make room for the Preview / Edit buttons

        & + .pane-header {
          border-radius: 0;
        }
      }

      .image-actions {
        &.is-mobile {
          margin-block: calc(var(--spacing) / 2) var(--spacing);
          margin-inline: 0;
        }
      }

      & > .meta.read-only:first-child {
        margin-block-start: var(--padding);
      }

      & > .meta.warning {
        box-shadow: none;
        border-block-end: 1px solid var(--yellow-300);
      }

      & > .field {
        & > .input > .text.fullwidth {
          border-radius: 0;
        }
      }

      .notes {
        padding-block: var(--m);
      }
    }

    & > .so-sidebar {
      position: absolute;
      inset-block-start: 0;
      width: 350px;
      height: 100%;
      max-width: 100%;
      overflow: hidden auto;
      z-index: 1001;
      background: var(--pane-bg);
      box-shadow: var(--pane-shadow);

      &:focus {
        box-shadow: var(--focus-ring);
      }

      body.ltr & {
        transition: inset-inline-end linear 250ms;
      }

      body.rtl & {
        transition: inset-inline-start linear 250ms;
      }

      & > fieldset:first-child {
        margin-block-start: 24px !important;
      }
    }
  }

  & > .so-footer {
    position: relative;
    display: flex;
    gap: var(--s);
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-block: 0 -24px;
    margin-inline: var(--neg-padding);
    padding-block: 5px;
    padding-inline: var(--padding);
    border-block-start: var(--slideout-footer-border);
    background: var(--slideout-footer-bg);
    box-shadow: var(--slideout-footer-shadow);
    z-index: 3;

    & > .so-notice {
      display: flex;
      align-items: center;
      margin-inline-end: auto;
    }

    & > .so-extra {
      flex: 0 0 100%;
      margin-block: 0;
      margin-inline: var(--neg-padding);
      padding-block: 0 8px;
      padding-inline: var(--padding);
      border-block-end: 1px solid var(--border-hairline);
    }
  }
}

@container (width > 700px) {
  .slideout {
    &.showing-sidebar {
      .so-body {
        display: flex;
        flex-direction: row;
        padding: 0;
        overflow: hidden;

        & > .so-content {
          position: relative;
          z-index: 2;
          padding: 24px;
          width: calc(100% - 350px);
          height: 100%;
          box-sizing: border-box;
          border-inline-end: 1px solid var(--gray-200);
          overflow: hidden auto;
        }

        & > .so-sidebar {
          position: relative;
          display: block !important;
          inset-block-start: auto;
          inset-inline: auto !important;
          height: 100%;
          box-shadow: none;
        }
      }
    }

    & > .so-footer {
      & > .so-extra {
        margin: 0;
        padding: 0;
        border: none;
        flex: auto 0 1;
      }
    }
  }
}
