{% layout "settings/_layouts/settings" pageTitle="Updates" %}

{% region "main" %}
	<div id="checking">
		Checking for updates…
	</div>
	<script type="text/javascript">
		// Keep the spinner vertically centered
		function centerSpinner()
		{
			var top = ((window.innerHeight-48) / 2) - 44;
			document.getElementById('checking').style.top = top+'px';
		}
		centerSpinner();
	</script>

	<div id="updates"></div>
{% endregion %}

{% region "scripts" %}
	{% include "_includes/js_include" file="updates.js" %}
{% endregion %}
