{if updates.updates('y')}

	<form method="post" action="{:url.base}update/all"><input id="update-all" class="btn big" type="submit" value="Update All"></form>
	<h3>The following updates are available:</h3>

	{foreach updates.updates('y') as update}
	<div id="{:update.handle}" class="update pane">
		<div class="pane-head">
			<div class="name">{:update.name} <strong>{:update.version}</strong></div>
			{if update.critical}<div class="badge alert">Critical</div>{/if}
			{if update.manualUpdateRequired}<div class="badge alert">Manual Update Required</div>{/if}
			<form method="post" action="{:url.base}update/{:update.handle}">{if !update.manualUpdateRequired}<input class="btn" type="submit" value="Update">{/if}</form>
			<a class="notes-toggle">Show release notes</a>
		</div>
		<div class="notes-container">
			<div class="notes body">
				<div class="pane-item">
					{:update.notes}
				</div>
			</div>
		</div>
	</div>
	{/foreach}

{else}

	<div id="no-updates" class="pane">
		<div class="pane-head">
			<h5>No updates available</h5>
		</div>
		<div class="pane-body">
			<p class="pane-item">Congrats! Everything’s up-to-date already.</p>
		</div>
	</div>

{/if}
