{if updates.updates('y')}

	{if !updates.updateInfo.manualUpdateRequired}
		<form method="post" action="{:url.base}update/all">
			<input id="update-all" class="btn big submit" type="submit" value="Update All">
		</form>
	{/if}

	<h2>The following updates are available:</h2>

	<div class="pane">
		<div class="pane-body">
			<table>
				<tbody>
					{foreach updates.updates('y') as update}
					<tr id="{:update.handle}">
						<td class="pane-item">
							<strong>{:update.name}</strong> {:update.version}
							{if update.critical}<div class="badge warning">Critical</div>{/if}
							
						</td>
						<td class="pane-item">
							{if update.notes}
								<a class="notes">Show release notes</a>
								<div style="display:none">
									{:update.notes}
								</div>
							{/if}
						</td>
						{!--<td>
							<div class="notes body">
								<div class="pane-item">
									{:update.notes}
								</div>
							</div>
						</div>--}
						<td class="pane-item">
							{if update.manualUpdateRequired}
								<span class="manual">Manual update required</span>
							{else}
								<form method="post" action="{:url.base}update/{:update.handle}">{if !update.manualUpdateRequired}<input class="btn" type="submit" value="Update">{/if}</form>
							{/if}
						</td>
					</tr>
					{/foreach}
				</tbody>
			</table>
		</div>
	</div>

{else}

	<div id="no-updates" class="pane">
		<div class="pane-head">
			<h5>No updates available</h5>
		</div>
		<div class="pane-body">
			<p class="pane-item">Congrats! Everything’s up-to-date already.</p>
		</div>
	</div>

{/if}
