{layout "_layouts/sidebar" pageTitle=pageTitle}

{region "styles"}
	{include "_includes/css_include" file="styles/content.css"}
{/region}

{region "sidebar"}
	{foreach content.sections as section}
		<h5>{:section.name}</h5>
		<ul class="nav tree">
			{foreach section.entries as entry}
				<li><a class="has-status {if url.segment(3) == entry.id}sel{/if}" href="{:url.base}content/edit/{:entry.id}"><span class="status {if entry.live}on{elseif entry.published}off{/if}"></span><span class="label">{if entry.title}{:entry.title}{else}Untitled{/if}</span></a></li>
			{/foreach}
			<li><a class="new" href="{:url.action('content/createEntry', 'sectionId=')}{:section.id}"><span class="icon icon44"></span>Create a new entry</a></li>
		</ul>
	{/foreach}
{/region}

{region "main"}
	{if page}
		{include "content/_includes/toolbar"}
		<div class="pane page">
			<div class="body">
				{:page}
			</div>
		</div>
	{/if}
{/region}

{region "scripts"}
	<script type="text/javascript">

		/*var $settings = $('.page-settings'),
			$settingsTable = $('table', $settings),
			$settingsBtn = $('.settings-btn'),
			showingSettings = false,
			expandedHeight = $settingsTable.height() + 20;

		$settingsBtn.click(function() {
			showingSettings = ! showingSettings;
			$settingsBtn.toggleClass('sel');
			$settings.stop().animate(\{ height: (showingSettings ? expandedHeight : 0) \});
		});

		var $draftBtn = $('.draft-btn'),
			$draftMenu = $('ul', $draftBtn);

		$draftBtn.click(function() {
			$draftMenu.toggle();
		});

		new blx.ui.RTE('content', {
			css: "{:url.resource('styles/rte.css')}"
		});*/

	</script>

	{:scripts}
{/region}
