{% layout "_layouts/sidebar" pageTitle=pageTitle %}

{% region "styles" %}
	{% include "_includes/css_include" file="app/styles/content.css" %}
{% endregion %}

{% region "sidebar" %}
	{% include "content/_includes/sitemap" %}
{% endregion %}

{% region "main" %}
	{% if page %}
		{% include "content/_includes/toolbar" %}
		<div class="pane page">
			<div class="body">
				{page}
			</div>
		</div>
	{% endif %}
{% endregion %}

{% region "scripts" %}
	<script type="text/javascript">

		var $settings = $('.page-settings'),
			$settingsTable = $('table', $settings),
			$settingsBtn = $('.settings-btn'),
			showingSettings = false,
			expandedHeight = $settingsTable.height() + 20;

		$settingsBtn.click(function() {
			showingSettings = ! showingSettings;
			$settingsBtn.toggleClass('sel');
			$settings.stop().animate(\{ height: (showingSettings ? expandedHeight : 0) \});
		});

		var $draftBtn = $('.draft-btn'),
			$draftMenu = $('ul', $draftBtn);

		$draftBtn.click(function() {
			$draftMenu.toggle();
		});

		new blx.ui.RTE('content', {
			css: "{url.resource('app/styles/rte.css')}"
		});

	</script>
{% endregion %}
