<div class="so-footer">
    <div class="so-notice"></div>
    <div class="flex-grow"></div>
    <div class="flex flex-nowrap">
        <button type="button" class="btn close">{{ 'Close'|t('app') }}</button>
    </div>
</div>