@charset "UTF-8";
@import '@craftcms/sass/mixins';

/* Utilities */
form.utility .utility-status {
  display: block;
  float: inline-start;
  position: relative;
  width: 100px;
  height: 40px;
  margin-inline-start: 10px;
}

form.utility .utility-status .alldone {
  margin-block-start: 11px;
  opacity: 0;
}

form.utility .utility-status .progressbar {
  width: 100%;
  inset-block-start: 14px;
  @include left(0);
  opacity: 0;
}

form.utility .utility-status .progressbar.has-status {
  inset-block-start: 6px;
}

form.utility .utility-status .progressbar-status {
  margin-block-start: 17px;
  @include left(0);
  font-size: 12px;
  color: var(--medium-text-color);
  text-align: center;
  padding-inline-start: 10px;
}

/* Asset Index */
.confirmmodal .body {
  max-height: 400px;
  overflow: auto;
}
