{% do view.registerJs('new Craft.Auth2fa') %}

{% import '_includes/forms.twig' as forms %}

{% if user.id == currentUser.id %}
    {% do view.registerDeltaName('auth-2fa-setup') %}

    <div id="auth-2fa-setup">
        {% set authTypes = [] %}
        {% set authTypes = authTypes|merge(craft.app.auth.getAll2faTypes(true)) %}
        {% set authTypes = authTypes|merge(craft.app.auth.getAllPasskeysTypes(true)) %}
        {% if authTypes is empty %}
            <p class="zilch">{{ 'No authentication options available.'|t('app') }}</p>
        {% else %}
            {% for key, option in authTypes %}
                {% set isSetup = option.config.requiresSetup == false or (option.config.requiresSetup and user.isAuthTypeSetup(key)) %}

                <div class="auth-2fa-type">
                    <strong>{{ option.name }}</strong>
                    <div class="instructions">
                        {{ option.description }}
                    </div>

                    {% if option.config.requiresSetup %}
                        {{ forms.button({
                            class: 'auth-2fa-view-setup',
                            label: 'View setup'|t('app'),
                            spinner: craft.app.request.isCpRequest(),
                            type: 'button',
                            attributes: {
                                'data-2fa-type': key
                            }
                        }) }}
                    {% endif %}
                </div>
                {% if loop.last == false %}
                    <hr />
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}