{% extends "settings/assets/_layout" %}
{% set page = "sources" %}
{% set title = "Asset Sources"|t %}
{% set sources = blx.assets.sources %}


{% set content %}
	<p id="nosources" {% if sources|length %}style="display: none"{% endif %}>
		{{ "No sources exist yet."|t }}
	</p>

	{% if sources|length %}
		{% set sortable  = (sources|length > 1) %}

		<table id="sources" class="data">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				{% if blx.hasPackage('cloud') %}<th scope="col">{{ "Type"|t }}</th>{% endif %}
				{% if sortable %}<td width="1%"></td>{% endif %}
				<td width="1%"></td>
			</thead>
			<tbody>
				{% for source in sources %}
					<tr data-id="{{ source.id }}" data-name="{{ source.name|t }}">
						<th scope="row"><a href="{{ url('settings/assets/sources/' ~ source.id) }}">{{ source.name|t }}</a></th>
						{% if blx.hasPackage('cloud') %}<td>{{ source.sourceType.name }}</td>{% endif %}
						{% if sortable %}<td><a class="move" title="{{ 'Reorder'|t }}"></a></td>{% endif %}
						<td><a class="deletebtn" title="{{ 'Delete' }}"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div class="buttons">
		<a href="{{ url('settings/assets/sources/new') }}" class="btn addbtn">{{ "New Source"|t }}</a>
	</div>
{% endset %}


{% set js %}
	new Blocks.ui.AdminTable({
		tableSelector: '#sources',
		noObjectsSelector: '#nosources',
		sortable: true,
		reorderAction: 'assetSources/reorderSources',
		deleteAction: 'assetSources/deleteSource'
	});
{% endset %}
{% includeJs js %}
