# Set in accordance to your environment

DB_DRIVER="mysql"
DB_SERVER="localhost"
DB_USER="root"
DB_PASSWORD=""
DB_DATABASE="craft-test"
DB_SCHEMA=""
DB_TABLE_PREFIX="craft"
DB_PORT="3306"
SECURITY_KEY="abcde12345"
