# Set in accordance to your environment

CRAFT_DB_DSN="mysql:host=localhost;port=3306;dbname=craft_test"
CRAFT_DB_USER="root"
CRAFT_DB_PASSWORD=""
CRAFT_DB_TABLE_PREFIX="craft"

SECURITY_KEY="abcde12345"
