<div class="header">
    <span class="selectallcontainer">
        <span>{{ 'Select all'|t('app') }}</span>
    </span>
</div>

<ul class="thumbsview">
        {% include "_elements/thumbsview/elements" %}
</ul>
<div class="clear"></div>
