<div class="item field">
	<label for="block-name" class="required">Content Block Name</label>
	<div class="input-wrapper"><input id="block-name" name="name" class="{if block.errors.name}error{/if}" type="text" value="{:block.name}" /></div>
	{if block.errors.name}
		{include "_includes/error_list" errors=block.errors.name}
	{/if}
</div>
<div class="item field">
	<label for="block-handle" class="required">Block Handle</label>
	<div class="input-wrapper"><input id="block-handle" name="handle" class="code {if block.errors.handle}error{/if}" type="text" value="{:block.handle}" /></div>
	{if block.errors.handle}
		{include "_includes/error_list" errors=block.errors.handle}
	{/if}
</div>
<div class="item field">
	<label for="block-class">Block Type</label>
	<div>
		<select id="block-class" name="class">
			{foreach blocks.blockTypes as blockType}
				<option value="{:blockType.classHandle}" {if (block && block.class == blockType.classHandle) || (!block && blockType.classHandle == 'PlainText')}selected{/if}>{:blockType.blocktypeName}</option>
			{/foreach}
		</select>
	</div>
	{if block.errors.class}
		{include "_includes/error_list" errors=block.errors.class}
	{/if}
</div>
