{% import '_includes/forms' as forms %}

<div class="flex">
        {{ forms.textField({
            label: "Latitude"|t('app'),
            id: 'latitude',
            name: "latitude",
            value: address.latitude,
            required: false,
            errors: address.getErrors('latitude'),
        }) }}

        {{ forms.textField({
            label: "Longitude"|t('app'),
            id: 'longitude',
            name: "longitude",
            value: address.longitude,
            required: false,
            errors: address.getErrors('longitude'),
        }) }}
</div>