{% do view.registerAssetBundle("craft\\web\\assets\\vue\\VueAsset") %}

{%- set id = (id is defined and id ? id : 'autosuggest'~random()) %}
{%- set containerId = id ~ '-container' %}

{%- set class = [
    'text',
    (class is defined and class ? class : null),
    (size is defined and size ? null : 'fullwidth')
]|filter|join(' ') %}

<div id="{{ containerId }}">
    <vue-autosuggest :suggestions="filteredOptions" :on-selected="onSelected" :limit="limit" :input-props="inputProps"></vue-autosuggest>
</div>

{% js %}
new Vue({
    el: "#{{ containerId|namespaceInputId|e('js') }}",

    data() {
        return {
            selected: '',
            options: [{
                data: {{ options|json_encode|raw }}
            }],
            filteredOptions: [],
            inputProps: {
                class: "{{ class }}",
                onInputChange: this.onInputChange,
                style: "{{ (style ?? '')|e('js') }}",
                id: "{{ id|namespaceInputId|e('js') }}",
                size: "{{ (size ?? '')|e('js') }}",
                value: "{{ (value ?? '')|e('js') }}",
                maxlength: "{{ (maxlength ?? '')|e('js') }}",
                title: "{{ (title ?? '')|e('js') }}",
                placeholder: "{{ (placeholder ?? '')|e('js') }}"
            },
            limit: {{ limit ?? 5 }}
        };
    },

    methods: {
        onSelected(option) {
            this.selected = option.item;
        },
        onInputChange(text) {
            if (text === '' || text === undefined) {
                return;
            }

            const filteredData = this.options[0].data.filter(item => {
                return item.toLowerCase().indexOf(text.toLowerCase()) > -1;
            }).slice(0, this.limit);

            this.filteredOptions = [{
                data: filteredData
            }];
        }
    }
})
{% endjs %}
