{% set id = id ?? "booleanmenu#{random()}" %}

{% include '_includes/forms/selectize' with {
    options: [
        {
            label: yesLabel ?? 'Yes'|t('app'),
            value: '1',
            data: {
                data: {
                    status: 'green',
                },
            },
        },
        {
            label: noLabel ?? 'No'|t('app'),
            value: '0',
            data: {
                data: {
                    status: 'white',
                },
            },
        },
    ]|merge(craft.cp.getBooleanEnvOptions()),
}%}
