{% if value is not defined -%}
	{% set value = null -%}
{% endif -%}

<div class="datewrapper">
	{%- include "_includes/forms/text" with { autocomplete: false, size: 10, value: (value ? value.dateField : '') } -%}
</div>

{%- set js %}

	var $datePicker = $('#{{ id }}');
	$datePicker.datepicker({
		constrainInput: false,
		dateFormat: $.datepicker.W3C + " '{{ craft.i18n.is24HourTimeFormat(craft.app.getLocale) ? '00:00' : '12:00 AM' }}'",
		defaultDate: new Date({% if value %}{{ value.year }}, {{ value.month-1 }}, {{ value.day }}{% endif %}),
		prevText:   '{{ "Prev"|t|e('js') }}',
		nextText:   '{{ "Next"|t|e('js') }}',
	});

{%- endset %}
{%- includeJs js %}
