{% if name is defined and name %}
	<input type="hidden" name="{{ name }}" value="">
{% endif -%}

{% set elements = (elements is defined and elements ? elements : []) -%}
{% set jsClass = (jsClass is defined and jsClass ? jsClass : 'Craft.BaseElementSelectInput') -%}
{% set sources = (sources is defined and sources ? sources : null) -%}
{% set criteria = (criteria is defined and criteria ? criteria : null) -%}
{% set sourceElementId = (sourceElementId is defined and sourceElementId ? sourceElementId : null) -%}
{% set storageKey = (storageKey is defined and storageKey ? storageKey : null) -%}

<div id="{{ id }}" class="elementselect">
	<div class="elements">
		{% for element in elements %}
			{% include "_elements/element" with { context: 'field' } %}
		{% endfor %}
	</div>

	<div class="btn add icon dashed">{{ addButtonLabel }}</div>
</div>

{% set js %}
	new {{ jsClass }}(
		"{{ id   | namespaceInputId   | e('js') }}",
		"{{ name | namespaceInputName | e('js') }}",
		"{{ elementType.getClassHandle()|e('js') }}",
		{{ sources|json_encode|raw }},
		{{ criteria|json_encode|raw }},
		{{ sourceElementId ?: 'null' }},
		{{ limit ?: 'null' }},
		"{{ storageKey|e('js') }}"
	);
{% endset %}

{% includeJs js %}
