{%- set id = (id is defined ? id : null) %}
{%- set label = (label is defined ? label: null) %}
{%- set instructions = (instructions is defined ? instructions : null) %}
{%- set errors = (errors is defined ? errors : null) -%}

<div class="field{% if first is defined and first %} first{% endif %}"{% if id %} id="{{ id }}-field"{% endif %}>
	{% if label or instructions %}
		<div class="heading">
			{% if label %}
				<label{% if required is defined and required %} class="required"{% endif %}{% if id %} for="{{ id }}"{% endif %}>
					{{ label|raw }}
				</label>
			{% endif %}
			{% if instructions %}
				<div class="instructions">{{ instructions|md }}</div>
			{% endif %}
		</div>
	{% endif %}
	<div class="input{% if errors %} errors{% endif %}">
		{{ input|raw }}
	</div>
	{% include "_includes/forms/errorList" with { errors: errors } %}
</div>
