{%- set options = (options is defined ? options : []) %}
{%- set values = (values is defined ? values : []) -%}

<select multiple
	{%- if id is defined %} id="{{ id }}"{% endif %}
	{%- if name is defined and name %} name="{{ name }}[]"{% endif %}
	{%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
	{%- if disabled is defined and disabled %} disabled{% endif %}
	{%- if size is defined %} size="{{ size }}"{% endif %}>
	{%- for key, option in options %}
		{%- set optionLabel = (option.label is defined ? option.label : option) %}
		{%- set optionValue = (option.value is defined ? option.value : key) -%}
		<option value="{{ optionValue }}"{% if optionValue in values %} selected{% endif %}>{{ optionLabel }}</option>
	{%- endfor %}
</select>
