{layout "settings/_layouts/settings" pageTitle="Edit Site"}

{if !site && siteId}
	{set site = sites.getSiteById(siteId)}
{/if}

{region "main"}
	<div class="toolbar">
		{include "_includes/back_btn" label="Sites" uri="settings/sites"}
	</div>

	{if site.id}
		<h2>{if site.name}<strong>{:site.name}</strong>{else}Untitled{/if} site settings</h2>
	{else}
		<h2>Create a new site</h2>
	{/if}

	<form method="post" action="">
		<input type="hidden" name="action" value="sites/save" />
		<input type="hidden" name="redirect" value="settings/sites" />
		{if site.id}<input type="hidden" name="site_id" value="{:site.id}">{/if}

		<div class="pane">
			<div class="pane-body">
				<div class="pane-item field">
					<label for="name">Site Name</label>
					<div class="input-wrapper"><input id="name" name="name" class="{if site.errors.name}error{/if}" type="text" value="{:site.name}" /></div>
					{if site.errors.name}
						{include "_includes/error_list" errors=site.errors.name}
					{/if}
				</div>
				<div class="pane-item field">
					<label for="handle">Site Handle</label>
					<div class="input-wrapper"><input id="handle" name="handle" class="code {if site.errors.handle}error{/if}" type="text" value="{:site.handle}" /></div>
					{if site.errors.handle}
						{include "_includes/error_list" errors=site.errors.handle}
					{/if}
				</div>
				<div class="pane-item field">
					<label for="url">Site URL</label>
					<div class="input-wrapper"><input id="url" name="url" class="{if site.errors.url}error{/if}" type="text" value="{:site.url}" /></div>
					{if site.errors.url}
						{include "_includes/error_list" errors=site.errors.url}
					{/if}
				</div>
				<div class="pane-item field">
					<label for="url">Language</label>
					<div>{include "_includes/language" name="language" value=site.language}</div>
				</div>
			</div>
		</div>

		<input class="btn big submit" type="submit" value="Save Site" />
	</form>
{/region}
