{% layout "settings/_layouts/settings" pageTitle="Sites" %}

{% region "main" %}
	<div class="pane">
		<div class="head">
			<h5>Sites</h5>
		</div>
		<div class="body">
			<ul>
				{% foreach sites as site %}
					<li class="item"><a href="{{ url.base }}settings/sites/edit/{{ site.id }}">{{ site.name }}</a></li>
				{% endforeach %}
			</ul>
		</div>
	</div>
	<div class="btn-group">
		<a class="btn" href="{{ url.base }}settings/sites/new" title="Create a new site"><span class="icon icon44"></span></a>
	</div>
{% endregion %}
