{layout "settings/_layouts/settings" pageTitle="Sites"}

{region "main"}
	<div id="sites" class="pane">
		<div class="pane-head">
			<h5>Sites</h5>
		</div>
		<div class="pane-body">
			<ul>
				{foreach sites as site}
					<li class="pane-item {if site.primary}primary{/if}">
						<a href="{:url.base}settings/sites/edit/{:site.id}"><span class="icon icon100 blue"></span>{:site.name}</a>
					</li>
				{/foreach}
			</ul>
		</div>
	</div>
	<a class="btn" href="{:url.base}settings/sites/new" title="Create a new site"><span class="icon icon44"></span></a>
{/region}
