<div class="field">
	<div class="heading">
		<label for="{:idPrefix}url">URL</label>
	</div>
	<div class="textwrapper"><input id="{:idPrefix}url" name="{:namePrefix}[url]" type="text" value="{:settings.url}" class="text"></div>
</div>

<div class="field">
	<div class="heading">
		<label for="{:idPrefix}title">Title</label>
	</div>
	<div class="textwrapper"><input id="{:idPrefix}title" name="{:namePrefix}[title]" type="text" value="{:settings.title}" class="text"></div>
</div>

<div class="field">
	<div class="heading">
		<label for="{:idPrefix}limit">Limit</label>
	</div>
	<input id="{:idPrefix}limit" type="text" name="{:namePrefix}[limit]" value="{:settings.limit}" size="2" class="text" />
</div>
