<div class="field">
	<div class="heading">
		<label for="url">{{ "URL"|t }}</label>
	</div>
	<div class="textwrapper"><input id="url" name="url" type="text" value="{{ settings.url }}" class="text"></div>
</div>

<div class="field">
	<div class="heading">
		<label for="title">{{ "Title"|t }}</label>
	</div>
	<div class="textwrapper"><input id="title" name="title" type="text" value="{{ settings.title }}" class="text"></div>
</div>

<div class="field">
	<div class="heading">
		<label for="limit">{{ "Limit"|t }}</label>
	</div>
	<input id="limit" type="text" name="limit" value="{{ settings.limit }}" size="2" class="text">
</div>
