{% import '_includes/forms.twig' as forms %}

{% if craft.app.session.hasFlash('verificationCodeSent') %}
    <p class="notice">{{ craft.app.session.getFlash('verificationCodeSent') }}</p>
{% endif %}

{{ forms.hidden({
    'name': 'currentMethod',
    'value': currentMethod
}) }}

{% for field in fields %}
    {{ forms.textField({
        'label': field.label,
        'id': field.key,
        'name': field.namespacedKey,
        'placeholder': 'XXXX-XXXX'
    }) }}
{% endfor %}

{{ forms.submitButton({
    class: 'mfa-verify',
    label: 'Verify'|t('app'),
    spinner: craft.app.request.isCpRequest(),
}) }}