@charset "UTF-8";
@import '@craftcms/sass/mixins';

.cp-current-image {
  border-radius: var(--large-border-radius);
  width: 100px;
  height: 100px;
  background: no-repeat;
  box-shadow: inset 0 0 0 1px var(--hairline-color);
}

.cp-image-controls {
  display: flex;
  margin-top: 5px;

  .btn + .btn {
    @include margin-left(5px);
  }
}

.cp-image-controls .progress-shade {
  background: transparentize($white, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  @include left(0);
  display: none;
}

.cp-image-controls.uploading .progress-shade {
  display: block;
}

.cp-image-modal {
  width: 500px;
}
