@charset "UTF-8";
@import "../../../../../node_modules/craftcms-sass/mixins";

div.cp-image div.cp-current-image {
  border-radius: $largeBorderRadius;
  width: 100px;
  height: 100px;
  background: no-repeat;
  box-shadow: inset 0 0 0 1px $hairlineColor;
}

div.cp-image div.cp-image-controls {
  margin-top: 10px;
  float: none;
  position: relative;
}

div.cp-image-controls .progress-shade {
  background: transparentize($white, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  @include left(0);
  display: none;
}

div.cp-image-controls.uploading .progress-shade {
  display: block;
}

.cp-image-modal {
  width: 500px;
}
