@import "@craftcms/sass/mixins";

.money-container {
  @include input-styles;
  display: inline-flex;
  flex-wrap: nowrap;
  width: auto;

  .money-currency-label {
    height: 100%;
    display: flex;
    align-items: center;
    @include padding(7px, 22px, 7px, 10px);
    box-sizing: border-box;
    width: 8em;
    border: 0;
    border-right: 1px solid transparentize($inputColor, 0.75);
    border-radius: 5px 0 0 5px;
    background: transparent;
  }

  .money-money {
    input {
      border: 0;
      background: transparent;
    }
  }
}

.flex.money-flex {
  gap: 0;
}