{% import '_includes/forms.twig' as forms %}

{{ forms.checkboxField({
    label: 'Enable MFA'|t('app'),
    name: 'requireMfa',
    id: 'requireMfa',
    instructions: 'Should Multi-Factor Authentication (MFA) be enabled.'|t('app'),
    checked: user ? user.requireMfa : false,
    toggle: 'setupMfa',
}) }}

{% do view.registerDeltaName('setupMfa') %}
{#{{ hiddenInput('setupMfa', '') }}#}

<div id="setupMfa">
    {% set mfaOptions = user.getAllMfaOptionsWithConfig() %}
    {% if mfaOptions is empty %}
        <p>{{ 'No MFA options available.'|t('app') }}</p>
    {% else %}
        {% set options = [] %}
        {% set values = [] %}

        {% for key, option in mfaOptions %}
            {% set options = options|merge([{
                value: key,
                label: option.name
            }]) %}

            {% if option.config.requiresSetup == false or (option.config.requiresSetup and user.isMfaOptionSetup(key)) %}
                {% set values = values|merge([key]) %}
            {% endif %}
        {% endfor %}

        {{ forms.checkboxGroup({
            options: options,
            values: values,
        }) }}
    {% endif %}
</div>