{% extends "_layouts/cp" %}
{% includeCssResource "css/content-entry.css" %}

{% if not entry and entryId %}
	{% set entry = blx.entries.findEntryById(entryId) %}
	{% if draftNum %}
		{{ entry.setDraft(draftNum) }}
	{% endif %}
{% endif %}


{% set title = "Editing “{title}”"|t({ title: entry.title }) %}
{% if entry.draft %}
	{% set title = title ~ " (" ~ entry.draft.name ~ ")" %}
{% endif %}


{% set content %}
	<div class="grid">
		<div class="col col66"><div class="col-inner">
			<form id="content" method="post" action="">
				<div class="textwrapper"><input id="title" type="text" name="title" value="{{ entry.title }}" class="text nicetext" data-hint="{{ 'Enter a title…'|t }}"></div>

				{% for block in entry.blocks %}
					<div class="field">
						<div class="heading">
							<label for="{{ block.handle }}-block" {% if block.required %}class="required"{% endif %}>{{ block.name }}</label>
							{% if block.instructions %}
								<p>{{ block.instructions }}</p>
							{% endif %}
						</div>
						<div class="{{ block.classHandle }}">
							{% set data = entry.content.getValue(block.handle) %}
							{{ block.displayField(data) }}
						</div>
						{% if entry.content.getErrors(block.handle) %}
							{% include "_includes/error_list" with {errors: entry.content.getErrors(block.handle)} %}
						{% endif %}
					</div>
				{% endfor %}

				<div class="buttons">
					<input type="hidden" name="entryId" value="{{ entry.id }}">
					{% if entry.draft %}
						<input type="hidden" name="draftId" value="{{ entry.draft.id }}">
						<input type="hidden" name="action" value="content/saveDraft">
						<input type="submit" value="{{ 'Save draft'|t }}" class="btn big submit">
						<input type="button" value="{{ 'Publish'|t }}" class="btn big formsubmit" data-action="content/publishDraft">
					{% else %}
						<input type="hidden" name="action" value="entries/saveEntry">
						<input type="submit" value="{{ 'Save entry'|t }}" class="btn big submit">
						<input type="button" value="{{ 'Save as a draft'|t }}" class="btn big formsubmit" data-action="content/createDraft">
					{% endif %}
				</div>
			</form>
		</div></div>
		<div class="col col33"><div class="col-inner">
			<div id="sidebar" class="pane">
				{% if entry %}
					{% if entry.published %}
						<ul>
							<li><a href="{{ url('content/' ~ entry.id) }}" class="published {% if not entry.draft %}sel{% endif %}">
								<div class="status on"></div>
								<div class="name">Published</div>
							</a></li>
						</ul>
					{% endif %}

					{% if entry.drafts %}
						<h6>Drafts</h6>
						<ul>
							{% for draft in entry.drafts %}
								<li><a href="{{ url('content/' ~ entry.id ~ '/draft' ~ draft.num) }}" class="draft {% if entry.draft.num == draft.num %}sel{% endif %}">
									<div class="name">{{ draft.name }}</div>
									<div class="author">{{ draft.author.firstNameLastInitial }}</div>
								</a></li>
							{% endfor %}
						</ul>
					{% endif %}

					<form method="post" action="">
						<input type="hidden" name="action" value="content/createDraft">
						<input type="hidden" name="entryId" value="{{ entry.id }}">
						{#<input type="submit" value="{{ 'New draft'|t }}" class="btn addbtn">#}
						<a class="btn addbtn formsubmit">{{ "New draft"|t }}</a>
					</form>
				{% endif %}
			</div>
		</div></div>
	</div>

{% endset %}
