{% extends "users/_edit/layout" %}
{% set pageTitle = "Account Settings"|t %}


<!-- BLOCKS ONLY -->
{% if not user %}
	{% set user = blx.accounts.current %}
{% endif %}
<!-- end BLOCKS ONLY -->
<!-- BLOCKSPRO ONLY -->
{% if not user and userId %}
	{% set user = blx.accounts.getById(userId) %}
	{% if not user %}{% exit 404 %}{% endif %}
{% endif %}
<!-- end BLOCKSPRO ONLY -->


{% set settings %}
	{% if user.id %}
		<h2>{{ pageTitle }}</h2>
	{% endif %}

	<form method="post" action="">
		<input type="hidden" name="action" value="accounts/saveAccountSettings">
		{% if user.id %}<input type="hidden" name="user_id" value="{{ user.id }}">{% endif %}

		<div class="field">
			<div class="heading">
				<label for="username" class="required">{{ "Username"|t }}</label>
			</div>
			<div class="textwrapper"><input id="username" name="username" class="text" type="text" value="{{ user.username }}"></div>
			{% if user.errors.username %}
				{% include "_includes/error_list" with {'errors': user.errors.username} %}
			{% endif %}
		</div>

		<div class="field">
			<div class="heading">
				<label for="email" class="required">{{ "Email"|t }}</label>
			</div>
			<div class="textwrapper"><input id="email" name="email" class="text" type="text" value="{{ user.email }}"></div>
			{% if user.errors.email %}
				{% include "_includes/error_list" with {'errors': user.errors.email} %}
			{% endif %}

			{% if not user.id and blx.accounts.current.admin %}
				<div class="checkbox"><label>
					<input type="checkbox" name="require_verification" value="y" {% if blx.request.post('require_verification') %}checked{% endif %}>
					{{ "Require verification"|t }}
				</label></div>
			{% endif %}
		</div>

		{% if user.isCurrent or blx.accounts.current.admin %}
			<div class="field">
				<div class="heading">
					<label for="password">{{ "Password"|t }}</label>
					{% if user.id %}<p>{{ "Leave blank to keep password unchanged."|t }}</p>{% endif %}
				</div>
				<div class="textwrapper"><input id="password" name="password" class="text {% if passwordForm and passwordForm.errors.password %}error{% endif %}" type="password"></div>
				{% if passwordForm and passwordForm.errors.password %}
					{% include "_includes/error_list" with {'errors': passwordForm.errors.password} %}
				{% endif %}

				{% if not user.isCurrent %}
					<div class="checkbox"><label>
						<input type="hidden" name="require_password_reset" value="n">
						<input type="checkbox" name="require_password_reset" value="y" {% if not user or blx.request.post('require_password_reset') %}checked{% endif %}>
						{{ "Require a password reset on next login"|t }}
					</label></div>
				{% endif %}
			</div>
		{% endif %}

		<div class="field">
			<div class="heading">
				<label for="email_format">{{ "Email Format"|t }}</label>
			</div>

			{% include "_includes/pill" with {
				'name': "email_format",
				'options': [
					{'value': "text", 'label': "Plain Text"|t},
					{'value': "html", 'label': "HTML"|t}
				],
				'value': user.email_format,
				'default': 'html'
			} %}
		</div>

		<!-- BLOCKSPRO ONLY -->
		<div class="field">
			<div class="heading">
				<label for="language">{{ "Language"|t }}</label>
			</div>

			<select id="language" name="language">
				{% set userLanguage = user ? user.language : blx.app.language %}
				{% for language in blx.localization.translatedLanguages %}
					<option value="{{ language }}" {% if language == userLanguage %}selected{% endif %}>{{ blx.localization.localeName(language, language) }}</option>
				{% endfor %}
			</select>
		</div>
		<!-- end BLOCKSPRO ONLY -->

		<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

	</form>
{% endset %}
