{% extends "_layouts/cp" %}
{% include_css "account.css" %}


{% if user.id %}
	{% if user.id == blx.accounts.current.id %}
		{% set heading = "My Account"|t %}
	{% else %}
		{% set name = user.fullName ? user.fullName : user.username %}
		{% set lastChar = name|slice(user.fullName|length-1) %}
		{% set heading = name ~ (lastChar|lower == "s" ? "’" : "’s") ~ ' ' ~ "Account"|t %}
	{% endif %}
	{% set title = heading ~ " - " ~ pageTitle %}
{% else %}
	{% set heading = "Register a new user"|t %}
	{% set title = heading %}
{% endif %}


{% set titlebar %}
	<!-- BLOCKS ONLY -->
	<h1>{{ "My Account"|t }}</h1>
	<!-- end BLOCKS ONLY -->
	<!-- BLOCKSPRO ONLY -->
	<h1>{{ heading }}</h1>
	<!-- end BLOCKSPRO ONLY -->
{% endset %}


{% set content %}
	{% if user.id %}
		<nav class="nav">
			<ul>
				<!-- BLOCKS ONLY -->
				<li><a href="{{ url('myaccount') }}" {% if blx.request.segment(2) == '' %}class="sel"{% endif %} data-icon="⚙">{{ "Account Settings"|t }}</a></li>
				<li><a href="{{ url('myaccount/profile') }}" {% if blx.request.segment(2) == 'profile' %}class="sel"{% endif %} data-icon="p">{{ "Profile"|t }}</a></li>
				<!-- end BLOCKS ONLY -->
				<!-- BLOCKSPRO ONLY -->
				<li><a href="{{ url('users/' ~ user.id) }}" {% if blx.request.segment(3) == '' %}class="sel"{% endif %} data-icon="⚙">{{ "Account Settings"|t }}</a></li>
				<li><a href="{{ url('users/' ~ user.id ~ '/profile') }}" {% if blx.request.segment(3) == 'profile' %}class="sel"{% endif %} data-icon="p">{{ "Profile"|t }}</a></li>
				<li><a href="{{ url('users/' ~ user.id ~ '/info') }}" {% if blx.request.segment(3) == 'info' %}class="sel"{% endif %} data-icon="i">{{ "User Info"|t }}</a></li>

				{% if blx.accounts.current.admin %}
					<li><a href="{{ url('users/' ~ user.id ~ '/admin') }}" {% if blx.request.segment(3) == 'admin' %}class="sel"{% endif %} data-icon="☻">{{ "Administration"|t }}</a></li>
				{% endif %}
				<!-- end BLOCKSPRO ONLY -->
			</ul>
		</nav>
	{% endif %}

	<div>{{ settings }}</div>
{% endset %}
