{% requirePackage 'Users' %}

{% extends "users/_edit/layout" %}
{% set selectedTab = 'profile' %}
{% import "_includes/forms" as forms %}
{% includeTranslations
	"Are you sure you want to delete this photo?"
%}


{% if account is not defined %}
	{% if craft.request.segment(1) == 'myaccount' %}
		{% set account = user %}
	{% elseif userId %}
		{% set account = craft.users.status(null).id(userId).first %}
	{% endif %}
	{% if not account %}{% exit 404 %}{% endif %}
{% endif %}


{% set content %}

	{% includeJsResource "lib/imgareaselect/jquery.imgareaselect.pack.js" %}
    {% includeJsResource "js/profile.js" %}
    {% includeCssResource "lib/imgareaselect/imgareaselect-animated.css" %}
    {% includeCssResource "css/profile.css" %}

	{% set photoInput %}
		{% include 'users/_edit/_userphoto' with {account: account} only %}
	{% endset %}

	{{ forms.field({
		label: "Photo"|t
	}, photoInput) }}

	<hr>

	<form method="post" action="" accept-charset="UTF-8" data-saveshortcut="1">
		<input type="hidden" name="action" value="users/saveProfile">
		<input type="hidden" name="userId" value="{{ account.id }}">

		{% set userFields = craft.systemSettings.userFields %}
		{% include "_includes/fields" with {
			fields: craft.fields.getLayoutByType('User').getFields(),
			element: account
		} only %}

		<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

	</form>


{% endset %}
