/* Readable overrides */

.readable {
  /* Tables */
  table {
    display: block;
    overflow: auto;
    width: 100%;

    th {
      font-weight: 600;
    }

    td,
    th {
      border: 1px solid #dfe2e5;
      padding-block: 6px;
      padding-inline: 13px;
    }

    tr {
      background-color: var(--white);
      border-block-start: 1px solid #c6cbd1;
    }

    tr:nth-child(2n) {
      background-color: var(--gray-050);
    }

    img {
      background-color: transparent;
    }
  }
}
