:root {
  --white: $white;
  --black: $black;

  --gray-050: $grey050;
  --gray-100: $grey100;
  --gray-200: $grey200;
  --gray-300: $grey300;
  --gray-350: $grey350;
  --gray-400: $grey400;
  --gray-500: $grey500;
  --gray-550: $grey550;
  --gray-600: $grey600;
  --gray-700: $grey700;
  --gray-800: $grey800;
  --gray-900: $grey900;
  --gray-1000: $grey1000;

  --blue-050: $blue050;
  --blue-100: $blue100;
  --blue-200: $blue200;
  --blue-300: $blue300;
  --blue-400: $blue400;
  --blue-500: $blue500;
  --blue-600: $blue600;
  --blue-700: $blue700;
  --blue-800: $blue800;
  --blue-900: $blue900;

  --cyan-050: $cyan050;
  --cyan-100: $cyan100;
  --cyan-200: $cyan200;
  --cyan-300: $cyan300;
  --cyan-400: $cyan400;
  --cyan-500: $cyan500;
  --cyan-600: $cyan600;
  --cyan-700: $cyan700;
  --cyan-800: $cyan800;
  --cyan-900: $cyan900;

  --pink-050: $pink050;
  --pink-100: $pink100;
  --pink-200: $pink200;
  --pink-300: $pink300;
  --pink-400: $pink400;
  --pink-500: $pink500;
  --pink-600: $pink600;
  --pink-700: $pink700;
  --pink-800: $pink800;
  --pink-900: $pink900;

  --red-050: $red050;
  --red-100: $red100;
  --red-200: $red200;
  --red-300: $red300;
  --red-400: $red400;
  --red-500: $red500;
  --red-600: $red600;
  --red-700: $red700;
  --red-800: $red800;
  --red-900: $red900;

  --yellow-050: $yellow050;
  --yellow-100: $yellow100;
  --yellow-200: $yellow200;
  --yellow-300: $yellow300;
  --yellow-400: $yellow400;
  --yellow-500: $yellow500;
  --yellow-600: $yellow600;
  --yellow-700: $yellow700;
  --yellow-800: $yellow800;
  --yellow-900: $yellow900;

  --teal-050: $teal050;
  --teal-100: $teal100;
  --teal-200: $teal200;
  --teal-300: $teal300;
  --teal-400: $teal400;
  --teal-500: $teal500;
  --teal-600: $teal600;
  --teal-700: $teal700;
  --teal-800: $teal800;
  --teal-900: $teal900;
}
