@charset "UTF-8";
@import '@craftcms/sass/mixins';

:root {
  --xs: 4px;
  --s: 8px;
  --m: 14px;
  --l: 18px;
  --xl: 24px;
  --padding: var(--xl);
  --neg-padding: calc(var(--padding) * -1);
}

$sidebarWidth: 226px;
$sidebarZIndex: 100;
$detailsWidth: 350px;
$minFullUiWidth: 1200px;
$minXlUiWidth: 1536px;
$minHorizontalUiWidth: $minFullUiWidth - $sidebarWidth;

// Colors
$badgeBackgroundColor: var(--gray-200);
$badgeColor: var(--gray-800);

html {
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

body {
  :focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: var(--focus-ring);
  }
}

.reduce-focus-visibility {
  :focus:not(.focus-visible) {
    box-shadow: none;
  }

  .focus-visible {
    box-shadow: var(--focus-ring);
  }
}

.skip-link {
  position: absolute;
  margin: 5px;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: $sidebarZIndex + 1;

  &:focus {
    left: unset;
    @include left(0);
    width: auto;
    height: auto;
    background-color: var(--gray-100) !important;
  }
}

#global-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include left(0);

  @media screen and (prefers-reduced-motion: no-preference) {
    body.ltr & {
      transition: left 250ms ease-out;
    }

    body.rtl & {
      transition: right 250ms ease-out;
    }
  }
}

/* global sidebar */
$sidebarLinkStaticColor: var(--gray-100);
$sidebarLinkSecondaryColor: var(--gray-200);

#global-sidebar {
  --is-always-visible: true;
  position: fixed;
  z-index: $sidebarZIndex;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  @include light-on-dark-text;
  background-color: var(--gray-800);
  --focus-ring: 0 0 0 1px hsl(var(--light-focus-hsl)),
    0 0 0 3px hsla(var(--light-focus-hsl), 0.7);

  a {
    color: $sidebarLinkStaticColor;
    transition: color linear 100ms;
    text-decoration: none;
  }

  & > a,
  *:not(.has-subnav) > a {
    transition: background-color linear 100ms;

    &[href] {
      &:hover,
      &.active,
      &:active {
        color: var(--white);
      }

      &:not(.sel):hover {
        background-color: darken($grey800, 5%);
        transition: none;

        .icon {
          opacity: 1;
        }
      }

      &.active,
      &:active {
        background-color: darken($grey800, 10%);
      }
    }

    &:not([href]) {
      cursor: default;
      background-color: transparent;
    }

    .icon {
      transition: opacity linear 100ms;
    }
  }

  .light {
    color: var(--gray-400);
  }

  @media only screen and (max-width: $minFullUiWidth - 1px) {
    --is-always-visible: false;
  }
}

$systemInfoBgColor: darken($grey800, 5%);
$systemInfoHoverBgColor: darken($grey800, 10%);

#system-info {
  display: grid;
  grid-template-columns: 30px auto;
  grid-gap: 10px;
  height: 50px;
  padding: 0 10px;
  position: relative;
  flex: 0 0 50px;
  flex-direction: row;
  align-items: center;
  background-color: $systemInfoBgColor;

  &:after {
    display: none;
  }

  &:focus,
  &:hover {
    background-color: $systemInfoHoverBgColor !important;
  }
}

#site-icon {
  height: 30px;

  img,
  svg {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
  }

  svg {
    @include svg-mask(var(--medium-text-color));
  }
}

#system-name {
  h2,
  .h2 {
    margin: 0;
    width: 100%;
    overflow: hidden;
    max-height: 40px;
    position: relative;

    // Multi-line text overflow ellipsis
    // (https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp)
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    &:after {
      display: block;
      content: '';
      font-size: 0;
      position: absolute;
      top: 0;
      @include right(0);
      width: var(--m);
      background-image: linear-gradient(
        to right,
        transparentize($systemInfoBgColor, 1),
        $systemInfoBgColor
      );

      #system-info:hover & {
        background-image: linear-gradient(
          to right,
          transparentize($systemInfoHoverBgColor, 1),
          $systemInfoHoverBgColor
        );
      }
    }
  }
}

#job-icon {
  align-items: flex-start;

  & > span.icon {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-top: 2px !important;

    & > canvas {
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;

      &#job-icon-hover {
        opacity: 0;
        transition: opacity linear 100ms;
      }
    }
  }

  &[href]:hover {
    .icon > span.icon > canvas#job-icon-hover {
      opacity: 1;
    }
  }

  .progress-label {
    display: block;
    color: var(--gray-300);
    font-size: 11px;
    line-height: 1.5;
  }
}

#nav {
  flex: 1;
  margin: 22px 0 0;
  padding-bottom: var(--xl);
  overflow: visible;

  li {
    &:not(.has-subnav) > a.sel {
      color: var(--white);
      background-color: var(--gray-900);
      opacity: 1;

      .icon {
        opacity: 1;
      }
    }

    a {
      position: relative;
      padding-left: var(--m);
      padding-right: var(--m);

      &:focus {
        z-index: 1;
      }

      &.menubtn {
        line-height: 26px;
      }

      &.external:after {
        @include margin-left(5px);
        @include icon;
        content: 'external';
      }

      &:active .icon {
        opacity: 1;
      }

      .icon {
        opacity: 0.5;

        &.icon-mask {
          svg {
            @include svg-mask(var(--white));
          }

          span[data-icon] {
            color: var(--white);
          }
        }
      }

      .label {
        &,
        & span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .badge {
        @include margin-right(0);
        background-color: $badgeBackgroundColor;
        color: $badgeColor;
      }
    }

    ul {
      display: block;
      margin-bottom: 10px;

      li a {
        @include padding(3px, var(--m), 3px, 42px, !important);
        font-size: 12px;

        &:not(.active) {
          color: $sidebarLinkSecondaryColor;
        }
      }
    }
  }
}

#global-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--m) var(--m) var(--xl);
}

#app-info {
  margin-top: var(--xs);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--gray-600);
  text-align: center;
  gap: var(--s);

  li {
    a {
      color: var(--gray-600);
      text-decoration: underline;

      &.go:hover:after {
        color: var(--gray-600);
      }
    }
  }
}

#edition-logo {
  user-select: none;
  border: 1px solid var(--gray-600);
  border-radius: 3px;
  display: inline-flex;
  height: 20px;
  box-sizing: content-box;
  font-size: 11px;

  & > .edition-name,
  & > .edition-trial {
    padding: 6px 7px 5px;
    line-height: var(--s);
  }

  & > .edition-name {
    font-weight: 600;
    letter-spacing: 1.7px;
    padding-right: 5px;
    text-transform: uppercase;
    transition: color linear 100ms;
  }

  & > .edition-trial {
    display: inline-block;
    position: relative;
    @include margin-left(5px);
    @include padding-left(5px);
    background-color: var(--gray-600);
    color: var(--gray-200);
    border-radius: 0 1px 1px 0;
    letter-spacing: 1px;
    @include padding-right(7px);
    text-transform: lowercase;
    transition: background linear 100ms;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      content: '';
      font-size: 0;
      width: 0;
      height: 0;
      border-style: solid;
      transition: border-color linear 100ms;

      body.ltr & {
        left: -10px;
        border-width: 0 10px 20px 0;
        border-color: transparent var(--gray-600) transparent transparent;
      }

      body.rtl & {
        right: -10px;
        border-width: 0 0 20px 10px;
        border-color: transparent transparent transparent var(--gray-600);
      }
    }
  }
}

#devmode {
  flex: 0 0 4px;
  width: 100%;
  min-height: 4px; // fixes Windows scaling bug (https://github.com/craftcms/cms/issues/3259)
  background: url(../images/dev-mode.svg) repeat-x 21px 0;
  cursor: help;
}

#page-container {
  @include padding-left($sidebarWidth);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#alerts {
  position: relative; // to keep it above #global-header's shadow
  background-color: var(--red-050);
  border-left: 5px solid var(--error-color);
  padding: 11px 0;
  text-align: center;
  color: var(--error-color);

  li {
    padding: 4px var(--xl);

    a {
      color: var(--error-color);
      text-decoration: underline;

      &.go {
        text-decoration: none;
        white-space: nowrap;
        border: 1px solid transparentize($errorColor, 0.5);
        border-radius: var(--medium-border-radius);
        padding: 3px 5px;
        margin: 0 2px;

        &:after {
          color: var(--error-color);
        }

        &:hover {
          border-color: var(--error-color);
          transition: border-color linear 100ms;
        }
      }
    }
  }
}

#global-header {
  width: 100%;
  margin-bottom: var(--m);
  @include pane;
  background: var(--gray-050);

  .flex {
    align-items: center;
  }

  .btn {
    --ui-control-color: var(--gray-400);
    --ui-control-hover-color: var(--gray-500);
    --ui-control-active-color: var(--gray-600);
  }
}

#crumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  margin: 0 !important;

  &.empty {
    display: none;
  }

  a,
  button {
    color: var(--light-text-color);
    transition: color linear 100ms;

    &:hover {
      color: var(--link-color);
      text-decoration: none;
    }
  }

  nav {
    margin: 0;
  }
}

.breadcrumb-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;

  li {
    display: inline-flex;
    align-items: center;

    a,
    button {
      padding: 15px 0;
    }

    button {
      cursor: pointer;
    }

    &:after {
      margin: 0 var(--s);
      @include angle(right, var(--medium-hairline-color));
    }
  }

  & .menu--disclosure {
    li {
      display: block;

      &::after {
        content: none;
      }
    }
  }
}

li.breadcrumb-toggle-wrapper {
  &::after {
    content: none;
  }
}

#nav-toggle {
  display: none;
}

#account-menu {
  ul {
    li {
      a {
        max-width: calc(100% + 28px) !important;
      }
    }
  }
}

#announcements-btn {
  @include header-btn;
  width: 40px;
  position: relative;

  &.unread:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    @include right(7px);
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: var(--blue-600);
  }

  svg {
    width: 22px;
    height: 22px;
    @include svg-mask(var(--ui-control-color));
  }

  &:hover,
  &:active,
  &.active {
    svg {
      @include svg-mask(var(--link-color));
    }
  }
}

#announcements {
  max-width: 350px;

  .announcement {
    &:not(:first-child) {
      margin-top: 20px;
    }

    .announcement-label-container {
      margin-top: -3px;
      display: flex;
      align-items: center;
      margin-bottom: 3px;

      .announcement-icon svg {
        display: block;
        width: 15px;
        height: 15px;
      }

      .announcement-label {
        margin-left: 5px;
        font-size: 12px;
        color: var(--light-text-color);
      }
    }

    h2 {
      position: relative;
      margin: 0 0 3px;
    }

    &.unread h2:after {
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      @include left(-13px);
      width: 7px;
      height: 7px;
      border-radius: 4px;
      background-color: var(--blue-600);
    }

    p {
      margin: 0;
    }
  }
}

#user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include padding-right(25px);
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  background-color: transparent;
  border-radius: 0;

  &:after {
    border-color: var(--ui-control-color);
    transition: border-color linear 100ms;
  }

  &:hover:after {
    border-color: var(--ui-control-hover-color);
  }

  &[aria-expanded='true']:after {
    border-color: var(--ui-control-active-color);
  }
}

.header-photo {
  padding: 5px 0;

  img {
    display: block;
    width: 30px;
    height: 30px;
    max-width: none;
    border-radius: 50%;
    box-shadow: 0 0 0 1px transparentize($grey900, 0.95),
      0 0 0 transparentize($grey900, 1);
    transition: box-shadow linear 150ms;

    #user-info:hover & {
      box-shadow: 0 0 0 1px transparentize($grey900, 0.95),
        0 2px 10px -2px transparentize($grey900, 0.7);
    }
  }
}

/* main container */

#main-container {
  position: relative;
  flex-grow: 1;
}

#notifications {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;

  @media only screen and (min-width: $minFullUiWidth) {
    width: calc(100% - #{$sidebarWidth});
  }

  .notification {
    padding: 5px 10px;
    border-radius: 0 0 3px 3px;
    border-width: 0 1px 1px;
    color: var(--white) !important;
    pointer-events: auto;
    @include light-on-dark-text;
    @include shadow;
    background-color: var(--notice-color);

    &.error {
      background-color: var(--primary-color);
    }
  }
}

#header-container {
  margin-bottom: var(--m);
}

#crumbs,
#header {
  padding-left: var(--xl);
  padding-right: var(--xl);
}

#global-header,
#header {
  .flex {
    flex-wrap: nowrap;
    max-width: 100%;

    &.flex-nowrap {
      min-width: 0;
    }
  }
}

#header {
  display: flex;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: var(--s);
  padding-top: var(--s);
  padding-bottom: var(--s);
  position: relative;
  z-index: 2;
  width: calc(100vw - #{$sidebarWidth});
  box-sizing: border-box;
  background-color: transparentize($grey300, 1);
  box-shadow: 0 1px 0 transparentize($grey800, 1);
  transition: background-color linear 100ms, box-shadow linear 100ms;

  body.fixed-header & {
    position: fixed;
    z-index: 12;
    top: 0;
    background-color: var(--gray-100);
    box-shadow: inset 0 -1px 0 transparentize($grey700, 0.9);
  }

  @supports (backdrop-filter: blur(10px)) {
    & {
      transition: background-color linear 100ms, box-shadow linear 100ms,
        backdrop-filter linear 100ms;

      body.fixed-header & {
        background-color: transparentize($grey100, 0.25);
        backdrop-filter: blur(10px);
      }
    }
  }

  h1 {
    line-height: 34px;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .buttons,
  .btngroup {
    margin-top: 0;
  }
}

#page-title {
  &.has-toolbar {
    @media only screen and (min-width: $minHorizontalUiWidth) {
      min-width: calc(#{$sidebarWidth} - var(--xl) - var(--s)) !important;
    }
  }
}

#toolbar {
  flex: 1;
  align-items: flex-start;

  .btn,
  .text {
    color: darken($inputColor, 20%);
  }

  .icon:before,
  .texticon:before,
  .menubtn:after,
  [data-icon]:before,
  [data-icon-after]:after {
    color: currentColor;
    opacity: 0.8;
  }

  .text {
    border-radius: var(--large-border-radius);

    &::-webkit-input-placeholder {
      color: var(--light-text-color);
    }

    &:-ms-input-placeholder {
      color: var(--light-text-color);
    }

    &::-ms-input-placeholder {
      color: var(--light-text-color);
    }

    &:-moz-placeholder {
      color: var(--light-text-color);
    }

    &::-moz-placeholder {
      color: var(--light-text-color);
    }

    &::placeholder {
      color: var(--light-text-color);
    }

    &:not(:focus) {
      background-clip: border-box;
    }
  }
}

#action-buttons {
  height: 34px;
}

#main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: calc(100vw - #{$sidebarWidth});
  padding: 0 var(--xl) 48px;
  box-sizing: border-box;

  // for the Dashboard and any other full-page grids:
  & > .grid:only-child {
    flex: 1;
  }
}

#sidebar-toggle-container {
  display: none;
}

#sidebar-container {
  flex: 0 0 $sidebarWidth;
  width: $sidebarWidth;
  box-sizing: border-box;
  @include margin-left(calc(var(--xl) * -1));
}

#sidebar {
  box-sizing: border-box;
  padding: 0 31px;
  width: $sidebarWidth;
  background-color: transparent;

  &.fixed {
    position: fixed;
    overflow-y: auto;
    padding-top: var(--m);
    padding-bottom: var(--m);
  }

  nav {
    margin-left: -31px;
    margin-right: -31px;

    li {
      a {
        position: relative;

        &:focus {
          z-index: 1;
        }
        &:not(.sel) {
          &:hover {
            background-color: var(--gray-200);
          }
        }
        &.sel {
          @include pane;
          background-color: var(--gray-050);
        }
      }
    }
  }
}

#content-container {
  flex: 1;

  #main-content:not(.has-sidebar):not(.has-details) & {
    width: 100%;
    max-width: 100%;
  }

  #main-content.has-sidebar & {
    width: calc(100% - #{$sidebarWidth - 24});
    max-width: calc(100% - #{$sidebarWidth - 24});
  }

  #main-content.has-details & {
    width: calc(100% - #{$detailsWidth} - var(--m));
    max-width: calc(100% - #{$detailsWidth} - var(--m));
  }

  #main-content.has-sidebar.has-details {
    width: calc(100% - #{$sidebarWidth} - #{$detailsWidth} - 38px);
    max-width: calc(100% - #{$sidebarWidth} - #{$detailsWidth} - 38px);
  }
}

.content-pane {
  @include pane;
  border-radius: var(--large-border-radius);
  position: relative;
  background-clip: padding-box;
  padding: var(--xl);
  word-wrap: break-word;

  & > hr {
    margin-left: calc(var(--xl) * -1);
    margin-right: calc(var(--xl) * -1);
  }
}

#footer {
  z-index: 1;
  margin: 25px calc(var(--xl) * -1) calc(var(--xl) * -1); // 1px extra on top is intentional
  padding: var(--s) var(--xl);
  background-color: var(--gray-050);
  border-radius: 0 0 var(--large-border-radius) var(--large-border-radius);
  box-sizing: border-box;
  min-height: 50px;

  &:empty {
    display: none;
  }

  & > *,
  .flex > * {
    margin-bottom: 0;
  }
}

#details-container {
  flex: 0 0 #{$detailsWidth + 38};
  width: $detailsWidth + 38;
  @include margin-right(calc(var(--xl) * -1));
  box-sizing: border-box;
}

#details {
  box-sizing: border-box;
  @include padding-right(var(--xl));
  @include padding-left(var(--m));
  width: $detailsWidth + 38;

  &.fixed {
    position: fixed;
    overflow-y: auto;
    padding-top: var(--m);
  }

  .details {
    .meta {
      border-radius: var(--large-border-radius);

      &:not(.read-only):not(.warning) {
        @include pane;
      }

      &.read-only {
        color: var(--medium-text-color);
        background-color: transparent !important;
      }

      & > .field,
      & > .data {
        &:first-child {
          &,
          & > .status-badge {
            border-top-left-radius: var(--large-border-radius);
          }
          border-top-right-radius: var(--large-border-radius);
        }

        &:last-child {
          &,
          & > .status-badge {
            border-bottom-left-radius: var(--large-border-radius);
          }
          border-bottom-right-radius: var(--large-border-radius);
        }
      }
    }

    & > .field {
      & > .input > .text.fullwidth {
        @include pane;
      }
    }

    .notes {
      border-radius: 5px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

// Hide the sidebar at < 1200
@media only screen and (max-width: $minFullUiWidth - 1px) {
  #global-container {
    @include left(-$sidebarWidth);
    width: calc(100vw + #{$sidebarWidth});

    body.ltr.showing-nav & {
      left: 0;
    }

    body.rtl.showing-nav & {
      right: 0;
    }
  }

  #crumbs {
    display: flex !important;
  }

  #header {
    width: 100vw;
  }

  #nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 50px;
    line-height: 26px;
    color: var(--gray-300);
    text-align: center;
    @include margin-left(-10px);

    &:before {
      @include icon;
      content: 'menu';
      font-size: 16px;
      line-height: 0;
    }

    &:hover {
      color: var(--gray-400);
    }
  }

  #main-content {
    width: 100vw;
  }
}

// Rearrange #main-content to flow vertically at < 999
@media only screen and (max-width: $minHorizontalUiWidth - 1px) {
  #header {
    display: block;

    .flex:not(#toolbar) {
      margin-top: 10px;
    }
  }

  #toolbar {
    flex-wrap: wrap !important;

    & > * {
      margin-top: 10px !important;
    }
  }

  body.fixed-header #header .flex:first-child {
    margin-top: 0;
  }

  #main-content {
    display: block;
  }

  #sidebar-toggle-container {
    display: block;
    margin-bottom: var(--m);
  }

  #sidebar-toggle {
    body.showing-sidebar & {
      background-color: darken($grey200, 10%) !important;

      &:after {
        transform: rotate(225deg);
        top: 1px;
      }
    }
  }

  #content-container {
    min-height: 0 !important;
  }

  #sidebar-container,
  #details-container {
    width: auto !important;
  }

  #sidebar,
  #details {
    position: static !important;
    overflow-y: visible !important;
    max-height: none !important;
    width: auto;
  }

  #sidebar {
    margin-bottom: var(--m);

    body:not(.showing-sidebar) & {
      display: none;
    }
  }

  #details-container {
    @include margin-right(0);
  }

  #content-container {
    width: auto !important;
    max-width: none !important;
  }

  #details {
    padding: 0 !important;
    margin-top: var(--m);
  }
}

// Tighten up the padding at < 768
@media only screen and (max-width: 767px) {
  #crumbs,
  #header,
  #main-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  #tabs ul li {
    a {
      padding-left: var(--m);
      padding-right: var(--m);
    }

    & + li {
      @include margin-left(-7px);
    }
  }
}

@media print {
}

#settingsmenu ul li a {
  @include padding-left(46px);

  &:before {
    @include margin(1px, 0, 0, -22px);
    font-size: 15px;
  }

  img {
    width: 16px;
    height: 16px;
    position: absolute;
    margin-left: -23px;
    margin-top: 1px;
  }
}

/* grids */
.grid {
  position: relative;
  min-height: 1px; // Required for Grid.js to run

  &:after {
    @include clearafter;
  }

  & > .item {
    display: none;
    box-sizing: border-box;
  }
}

/* Sidebar */
.sidebar {
  width: $sidebarWidth;
  box-sizing: border-box;
  font-size: 13px;

  &:not(.drag-helper) {
    padding: var(--m) 0;
    background-color: var(--gray-050);
  }

  .heading {
    position: relative;
    margin: var(--m) var(--xl) 2px;

    span {
      display: inline-block;
      position: relative;
      z-index: 1;
      padding: 0 5px;
      margin: 0 -5px;
      text-transform: uppercase;
      color: var(--light-text-color);
      font-size: 11px;
      font-weight: bold;
    }
  }

  @mixin nav-level($level) {
    & > a {
      @include padding-left(24px + 14 * $level);
    }

    & > .toggle {
      @include left(calc(var(--m) * #{$level}));
    }
  }

  nav {
    padding: 0 var(--s);

    & > ul > li {
      @include nav-level(0);
      & > ul > li {
        @include nav-level(1);
        & > ul > li {
          @include nav-level(2);
          & > ul > li {
            @include nav-level(3);
            & > ul > li {
              @include nav-level(4);
            }
          }
        }
      }
    }

    li {
      position: relative;

      &:not(.has-subnav) > a {
        transition: background-color linear 100ms;

        &:hover {
          text-decoration: none;
          background-color: var(--gray-100);
        }

        &.sel {
          cursor: default;
          background-color: var(--gray-200);
        }
      }

      a {
        position: relative;
        margin-bottom: 1px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 7px var(--xl);
        min-height: var(--xl);
        box-sizing: border-box;
        color: var(--text-color);
        user-select: none;
        border-radius: var(--large-border-radius);
        word-break: break-word;

        .status {
          flex-shrink: 1;
        }

        .icon {
          @include margin-right(10px);
          flex-shrink: 1;
          width: 18px;
          height: 18px;
          word-break: normal;
          transition: margin-left linear 150ms, margin-right linear 150ms;

          &.icon-mask {
            svg {
              @include svg-mask(var(--ui-control-color));
            }

            span[data-icon] {
              color: var(--ui-control-color);
            }
          }

          svg {
            width: 16px;
            height: 16px;
          }

          span[data-icon] {
            font-size: 16px;

            &::before {
              display: block;
            }
          }
        }

        .label {
          flex: 1;
        }

        .badge {
          @include margin(0, -4px, 0, 10px);
          flex-shrink: 1;
          padding: 0 6px;
          font-size: 11px;
          line-height: 16px;
          border-radius: var(--s);
          background-color: var(--medium-text-color);
          color: var(--white);
        }
      }

      .toggle {
        position: absolute;
        z-index: 1;
        height: 34px;
        top: 0;
        width: var(--xl);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      ul {
        display: none;
      }

      &.expanded > ul {
        display: block;
      }
    }
  }
}

.content.has-sidebar:not(.hiding-sidebar) {
  @include margin-left($sidebarWidth);
}

#content-notice {
  margin: 0 calc(var(--xl) * -1);
  padding: 0 var(--xl);

  &:not(:last-child) {
    padding-bottom: var(--s);
    border-bottom: 1px solid var(--hairline-color);
    margin-bottom: var(--s);
  }
}

/* flexbox field layouts */
#content :not(.meta) > .flex-fields,
#content > .flex-fields,
.so-content .flex-fields {
  --row-gap: var(--xl);
  display: flex;
  gap: var(--row-gap) 0;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 calc(var(--row-gap) * -1);
  width: calc(100% + var(--row-gap) * 2);

  & > * {
    margin: 0 !important;
    padding: 0 var(--row-gap);
    box-sizing: border-box;
  }

  & > h2 {
    flex: 4 0 100%;

    &:not(:first-child) {
      padding-top: var(--xl);
      border-top: 1px solid var(--hairline-color);
    }
  }

  & > hr {
    flex: 4 0 100%;
  }

  & > :not(h2):not(hr) {
    &,
    &:last-child {
      position: relative;
      width: 100%;

      &:before {
        position: absolute;
        top: 0;
        @include left(-1px);
        width: 1px;
        height: 100%;
        content: '';
        // same BG color as the hairline around the content pane’s 1px shadow
        background-color: transparentize($grey200, 0.5);
      }
    }
  }
}

#content :not(.meta) > .flex-fields,
#content > .flex-fields {
  & > :not(h2):not(hr) {
    &,
    &:last-child {
      // 4 cols for >= 1536px
      @media only screen and (min-width: $minXlUiWidth) {
        &.width-25 {
          width: 25%;
        }
        &.width-50 {
          width: 50%;
        }
        &.width-75 {
          width: 75%;
        }
      }

      // 2 cols for 712 - 1536px
      @media only screen and (min-width: 500px) and (max-width: $minXlUiWidth - 1px) {
        &.width-25,
        &.width-50 {
          width: 50%;
        }
      }
    }
  }
}

.so-content .flex-fields {
  & > :not(h2):not(hr) {
    &,
    &:last-child {
      // 2 cols for >= 712px
      @media only screen and (min-width: $minXlUiWidth) {
        &.width-25,
        &.width-50 {
          width: 50%;
        }
      }
    }
  }
}
