@charset "UTF-8";
@import '@craftcms/sass/mixins';

$base: 24px;
$tabPadding: 14px;
$tabWidth: $base * 11;
$gridColor: var(--gray-100);

@mixin workspaceBg {
  background-color: var(--gray-050);
  background-image: linear-gradient(to right, $gridColor 1px, transparent 0px),
    linear-gradient(to bottom, $gridColor 1px, transparent 1px);
  background-size: $base $base;
}

.layoutdesigner {
  container-type: inline-size;
}

.fld-container {
  display: flex;
  align-items: stretch;
  position: relative;
  @include input-styles;
  overflow: hidden;
  box-shadow: none;
  @include padding-right($tabWidth + 1);
  min-height: 500px;

  .errors > & {
    border: 1px solid var(--error-color) !important;
  }

  .fld-workspace {
    flex: 1;
    @include border-radius(
      calc(var(--small-border-radius) - 1px),
      0,
      0,
      calc(var(--small-border-radius - 1px))
    );
    @include padding($base, 0, $base, $base);
    @include workspaceBg;
    background-position: -1px -1px;
    box-shadow: inset 0 1px 3px -1px darken($grey200, 10%);

    .fld-tabs {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }

  &:not(:has(.fld-library)) {
    @include padding-right(0);

    .fld-workspace {
      @include padding-right($base);
    }
  }

  .fld-library {
    position: absolute;
    top: 0;
    @include right(0);
    height: 100%;
    width: $tabWidth + 1;
    padding: $tabPadding;
  }
}

.fld-new-tab-btn:active {
  background-color: var(--gray-050);
}

.fld-library-menu {
  width: $tabWidth;
  @include margin-left($tabPadding * -1);
  padding: $tabPadding;
}

.fld-library {
  display: flex;
  flex-direction: column;

  .btngroup {
    margin-bottom: $tabPadding;
  }

  .fld-field-library {
    margin: -3px;
    padding: 3px;
    flex: 1;
    min-height: 0;
    overflow: auto;

    .fld-field-group {
      margin-top: $tabPadding;

      & > *:not(:first-child) {
        margin-top: var(--s);
      }
    }
  }

  .fld-ui-library > *:not(:first-child) {
    margin-top: var(--s);
  }

  .filtered {
    display: none;
  }
}

.layoutdesigner .fld-library,
.fld-tab .tabs .tab,
.fld-tab .fld-tabcontent,
.fld-new-tab-btn,
.fld-new-tab-btn:hover {
  background-color: var(--white);
  box-shadow:
    0 0 0 1px transparentize($grey900, 0.9),
    0 2px 5px -2px transparentize($grey900, 0.8);
}

.fld-tab .settings:before,
.fld-element .settings:before {
  margin-top: -2px;
  font-size: 16px;
  opacity: 0.5;
}

.fld-tab .settings:hover:before,
.fld-tab .settings.active:before,
.fld-element .settings:hover:before,
.fld-element .settings.active:before {
  opacity: 1;
}

.fld-tab {
  width: $tabWidth + $base;
  @include padding(0, $base + 1, $base, 0);
  box-sizing: border-box;

  .tabs {
    margin: -10px -12px 0;
    padding: 10px 12px 0;
    overflow: hidden;
    display: flex;

    .tab {
      display: flex;
      align-items: center;
      gap: var(--xs);
      max-width: calc(100% - 10px);
      box-sizing: border-box;
      padding: 8px $tabPadding;
      border-radius: var(--medium-border-radius) var(--medium-border-radius) 0 0;

      body:not(.dragging) &.draggable {
        cursor: move;
        cursor: grab;
      }

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .fld-tabcontent {
    padding: $tabPadding;
    @include border-radius(
      0,
      var(--medium-border-radius),
      var(--medium-border-radius),
      var(--medium-border-radius)
    );

    & > .fld-element,
    & > .fld-add-btn {
      &:not(:first-child) {
        margin-top: var(--s);
      }
    }

    .fld-add-btn:not([aria-expanded='true']) {
      display: none;
    }
  }

  &.fld-insertion {
    .tabs .tab,
    .fld-tabcontent {
      margin: -2px;
      border: 2px dashed var(--hairline-color);
      box-shadow: none;
      @include workspaceBg;
    }
    .tabs .tab {
      background-position: -1px -1px;
    }
    .fld-tabcontent {
      background-position: -1px -13px;
    }
  }
}

.fld-tab-caboose {
  min-height: 24px;
}

.fld-element {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--s);
  gap: var(--s);
  box-shadow: inset 0 0 0 1px var(--hairline-color);
  border-radius: var(--medium-border-radius);
  background-color: var(--white);

  body:not(.dragging) & {
    cursor: move;
    cursor: grab;
  }

  &.fld-insertion {
    box-sizing: border-box;
    border: 2px dashed var(--hairline-color);
    border-radius: var(--medium-border-radius);
    background: none;
    box-shadow: none;
  }

  &.draghelper {
    @include shadow;
  }

  &.fld-field {
    color: var(--medium-text-color);
    background-color: var(--gray-100);

    &:not(.draghelper) {
      box-shadow: none;
    }

    .field-name {
      display: flex;
      flex-direction: column;
      gap: var(--xs);
    }
  }

  .fld-element-icon {
    text-align: center;

    &,
    svg {
      width: 16px;
      height: 16px;
    }

    svg {
      @include svg-mask(var(--ui-control-color));
    }
  }

  .field-name {
    flex: 1;
    overflow: hidden;

    .fld-element-label,
    .fld-attribute {
      flex: 1;
      display: flex;
      align-items: center;
      gap: var(--xs);
    }

    .fld-element-label h4,
    .fld-attribute .smalltext {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .fld-element-label h4 {
      font-weight: normal;
      color: var(--text-color);
      margin: 0;
    }
  }
}

.fld-hr,
.fld-br {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;

  &:before {
    position: absolute;
    display: block;
    top: calc(50% - 2px);
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    font-size: 0;
    border-radius: 2px;
  }

  .smalltext {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-100);
    border-radius: var(--large-border-radius);
    padding: 0 var(--s);
    height: var(--touch-target-size);
  }
}

.fld-hr:before {
  background-color: var(--gray-100);
}

.fld-br:before {
  background-image: repeating-linear-gradient(
    to right,
    var(--gray-100),
    var(--gray-100) calc(100% / 19),
    transparent calc(100% / 19),
    transparent calc(100% / 9.5),
    var(--gray-100) calc(100% / 9.5)
  );
}

.fld-element-settings-body {
  flex: 1;
  margin: -24px var(--neg-padding) 0;
  padding: 24px var(--padding);
  overflow: hidden auto;
  position: relative;
}

.fld-element-settings-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 var(--neg-padding) -24px;
  padding: 5px var(--padding);
  @include pane;
  background-color: var(--gray-050);
  z-index: 3;

  & > .ee-site-select {
    flex: 1;
  }

  & > .btn {
    @include margin-left(5px);
  }

  & > .spinner {
    @include margin(0, var(--neg-padding), 0, 0);
  }
}

@container (width < #{$base + $tabWidth + $base + $tabWidth + 1}) {
  .fld-container {
    @include padding-right(0);

    .fld-workspace {
      @include padding-right($base);
    }

    & > .fld-library {
      display: none;
    }
  }

  .fld-tab {
    .fld-tabcontent {
      .fld-add-btn {
        display: inline-flex !important;
      }
    }
  }
}

// card view designer
.card-view-designer {
  .draggable {
    display: flex;
  }
}

.field.cvd-field {
  margin-top: 0.2em !important;
  margin-inline-start: 0.5em;
}
