@charset "UTF-8";
@import '@craftcms/sass/mixins';

.lp-editor-container,
.lp-preview-container {
  position: fixed;
  top: 0;
  height: 100%;
  background-color: $white;
  z-index: 100;

  header {
    padding: 8px 24px;
    background-color: $grey100;
    box-shadow: 0 1px 0 transparentize($grey700, 0.8);
    box-sizing: border-box;
    position: relative;
    z-index: 1;

    @supports (backdrop-filter: blur(10px)) {
      & {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparentize($grey100, 0.25);
        backdrop-filter: blur(10px);

        & + .lp-editor {
          padding-top: #{10 + 34 + 10 + 24}px;
        }
      }
    }

    .btn,
    .spinner,
    .checkmark-icon {
      margin-bottom: 0;
    }
  }
}

.lp-editor-container {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0 0 transparentize($grey700, 0.8);

  .lp-editor {
    flex: 1;
    padding: 24px;
    overflow: auto;
    box-sizing: border-box;

    & > .field {
      &:last-child {
        margin-bottom: 24px !important;
      }

      & > .status-badge {
        @include left(-24px);
      }
    }
  }

  .lp-draghandle {
    position: absolute;
    z-index: 6;
    top: 0;
    @include right(-2px);
    width: 4px;
    height: 100%;
    cursor: col-resize;
  }
}

.lp-preview-container {
  display: flex;
  flex-direction: column;

  &.dragging:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    font-size: 0;
  }

  .lp-preview-header {
    display: flex;

    @supports (not (backdrop-filter: blur(10px))) {
      background-color: transparentize($grey100, 0.25);
    }

    .buttons {
      margin: 0;

      .btn + .btn {
        @include margin-left(7px);
      }
    }

    & + .lp-iframe-container {
      padding-top: 0;

      @supports (backdrop-filter: blur(10px)) {
        padding-top: 50px;
      }
    }

    .lp-device-type {
      margin: 0;
    }
  }

  .lp-device-type__label {
    &::before {
      width: 27px;
      height: 22px;
      display: block;
      content: '';
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition-duration: 0.3s;
    }

    // SVGs
    &.lp-device-type__label--phone::before {
      background-image: url(../images/preview/icon-phone.svg);
    }
    &.lp-device-type__label--tablet::before {
      background-image: url(../images/preview/icon-tablet.svg);
    }
    &.lp-device-type__label--desktop::before {
      background-image: url(../images/preview/icon-desktop.svg);
    }
  }

  .lp-device-type__radio-group {
    display: flex;
    white-space: nowrap;
    align-items: center;
  }

  .lp-device-type__item:not(:last-child) .btn {
    body.ltr & {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 1px;
    }

    body.rtl & {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: 1px;
    }
  }

  .lp-device-type__item:not(:first-child) .btn {
    body.ltr & {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    body.rtl & {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .lp-device-type__input {
    &:focus-visible + label {
      box-shadow: var(--focus-ring);
    }
  }

  .lp-device-mask {
    display: none;
  }

  .lp-iframe-container {
    flex: 1;
    overflow: auto;

    .lp-preview {
      display: block;
      width: 100%;
      min-height: 100%;
    }

    &:not(.lp-iframe-container--has-device-preview) {
      // Preview container
      .lp-device-preview-container {
        width: auto !important;
        height: 100% !important;
        transform: none !important;
        margin: 0 !important;
      }
    }

    &--has-device-preview {
      flex: none;
      padding-top: 0 !important;
      position: relative;
      top: 0;
      height: calc(100% - 50px);
      width: 100%;
      background-color: $grey100;

      @supports (backdrop-filter: blur(10px)) {
        top: 50px;
      }

      // Preview container
      .lp-device-preview-container {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        overflow: auto;
        opacity: 1;
        transition: opacity 0.3s;
      }

      // Device mask
      .lp-device-mask {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        background-image: url(../images/preview/chrome-phone-top.svg),
          url(../images/preview/chrome-phone-bottom.svg);
        background-position: top center, bottom center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #fff;
        box-shadow: 0 0 58px rgba(6, 67, 117, 0.3);
        border-radius: 18px;
      }

      // Tablet
      &.lp-iframe-container--tablet {
        .lp-device-mask {
          background-image: url(../images/preview/chrome-tablet-top.svg),
            url(../images/preview/chrome-tablet-bottom.svg);
        }
      }
    }

    // Animate rotations
    &--rotating {
      .lp-device-mask {
        transition-duration: 0.3s;
        transition-property: transform;
      }
      .lp-device-preview-container {
        opacity: 0;
        transition: opacity 0s;
      }
    }
  }
}
