{% extends "_layouts/cp" %}
{% set title = "Assets"|t %}
{% include_css "assets.css" %}


{% set sidebar %}
	<h5>Local Files</h5>
	<ul class="nav tree">
		<li><span class="toggle expanded"></span><a href=""><span class="icon icon133"></span>{{ "shared"|t }}</a>
			<ul>
				<li><a class="sel" href=""><span class="icon icon133"></span>{{ "drinks"|t }}</a></li>
			</ul>
		</li>
		<li><span class="toggle expanded"></span><a href=""><span class="icon icon133"></span>{{ "content"|t }}</a>
			<ul>
				<li><span class="toggle expanded"></span><a href=""><span class="icon icon133"></span>{{ "add-ons"|t }}</a>
					<ul>
						<li><a href=""><span class="icon icon133"></span>{{ "assets"|t }}</a></li>
						<li><a href=""><span class="icon icon133"></span>{{ "matrix"|t }}</a></li>
						<li><a href=""><span class="icon icon133"></span>{{ "playa"|t }}</a></li>
						<li><a href=""><span class="icon icon133"></span>{{ "wygwam"|t }}</a></li>
					</ul>
				</li>
				<li><span class="toggle expanded"></span><a href=""><span class="icon icon133"></span>{{ "blog-posts"|t }}</a>
					<ul>
						<li><span class="toggle"></span><a href=""><span class="icon icon133"></span>2009</a></li>
						<li><span class="toggle"></span><a href=""><span class="icon icon133"></span>2010</a></li>
						<li><span class="toggle"></span><a href=""><span class="icon icon133"></span>2011</a></li>
					</ul>
				</li>
				<li><a href=""><span class="icon icon133"></span>{{ "divebar"|t }}</a></li>
			</ul>
		</li>
	</ul>
{% endset %}


{% set main %}
	<header class="titlebar">
		<h1>{{ title }}</h1>
		{#<div class="btn-group">
			<a class="btn {% if viewMode=='thumbs' %}sel{% endif %}" href="{{ blx.url.base }}assets" title="{{ 'Display files as thumbnails'|t }}"><span class="icon icon278"></span></a></li>
			<a class="btn {% if viewMode=='list' %}sel{% endif %}" href="{{ blx.url.base }}assets/list" title="{{ 'Display files in a list'|t }}"><span class="icon icon276"></span></a></li>
		</div>#}

		<a class="btn" href=""><span class="icon icon174"></span><span class="label">Upload files</span></a>

		<div class="search"><input type="text"></div>
	</header>

	{{ files }}
{% endset %}
