{% set minRows = settings.limit ? min(3, settings.limit) : 3 %}
{% set bufferRows = (minRows > elements|length ? minRows - elements|length : 0) %}

<div class="links">
	<input type="hidden" name="{{ name }}[]" value="">

	<div id="{{ id }}" class="border-box">
		<table class="data">
			<tbody>
				{% for element in elements %}
					<tr>
						<td>
							<div class="element" data-id="{{ element.id }}">
								{% if element.getCpEditUrl() %}
									<a class="edit icon" title="{{ 'Edit'|t }}" href="{{ element.getCpEditUrl() }}" target="_blank"></a>
								{% endif %}
								{{ element }}
								<input type="hidden" name="{{ name }}[]" value="{{ element.id }}">
							</div>
						</td>
					</tr>
				{% endfor %}
				{% if bufferRows %}
					{% for i in 1..bufferRows %}
						<tr class="filler">
							<td></td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>

	<div class="buttons">
		<div class="btn add icon small{% if settings.limit and elements|length >= settings.limit %} disabled{% endif %}">{{ settings.addLabel }}</div>
		<div class="btn remove small disabled">{{ settings.removeLabel }}</div>
	</div>
</div>
