<table class="data">
	<tbody>
		{% for element in elements %}
			<tr{% if element.id in selectedIds %} class="hidden"{% endif %}>
				<td>
					<div class="element" data-id="{{ element.id }}">
						{% if element.getCpEditUrl() %}
							<a class="edit icon" title="{{ 'Edit'|t }}" href="{{ element.getCpEditUrl() }}" target="_blank"></a>
						{% endif %}
						{{ element }}
						<input type="hidden" name="{{ name }}[]" value="{{ element.id }}">
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
