<div id="account" class="main">
	<h1>Create your account.</h1>

	<form id="accountform">
		<div class="field">
			<div class="heading">
				<label for="username">Username</label>
			</div>
			<div class="textwrapper"><input id="username" class="text" type="text" maxlength="255" /></div>
		</div>
		<div class="field">
			<div class="heading">
				<label for="email">Email</label>
			</div>
			<div class="textwrapper"><input id="email" class="text" type="text" maxlength="255" /></div>
		</div>
		<div class="field">
			<div class="heading">
				<label for="password">Password</label>
			</div>
			<div class="passwordwrapper"><input id="password" class="text password" type="password" /></div>
		</div>

		<div class="buttons">
			<div id="accountsubmit" class="btn big submit">Next</div>
			<input type="submit" class="hidden" tabindex="-1" />
		</div>
	</form>

	{include "_special/install/_dots" dot=2}
</div>
