<div id="account" class="modal">
	<h1>{{ "Create your account"|t }}</h1>

	<form id="accountform">
		<div class="field">
			<div class="heading">
				<label for="username">{{ "Username"|t }}</label>
			</div>
			<div class="textwrapper"><input id="username" class="text" type="text" maxlength="255"></div>
		</div>
		<div class="field">
			<div class="heading">
				<label for="email">{{ "Email"|t }}</label>
			</div>
			<div class="textwrapper"><input id="email" class="text" type="text" maxlength="255"></div>
		</div>
		<div class="field">
			<div class="heading">
				<label for="password">{{ "Password"|t }}</label>
			</div>
			<div class="passwordwrapper"><input id="password" class="text password" type="password"></div>
		</div>

		<div class="buttons">
			<div id="accountsubmit" class="btn big submit">{{ "Next"|t }}</div>
			<input type="submit" class="hidden" tabindex="-1">
		</div>
	</form>

	{% include "_special/install/dots" with {'dot': 2} %}
</div>
