{% layout "_layouts/basic" title="Unable to install Blocks" %}

{% region "styles" %}
	{% include "_includes/css_include" file="app/styles/cp.css" %}
	{% include "_includes/css_include" file="app/styles/install.css" %}
{% endregion %}

{% region "body" %}
	<p>Your server doesn’t meet the minimum requirements to install Blocks. Please talk to your host / IT department about these deficiencies:</p>

	<ul>
		{% foreach requirements as req %}
		<li>{{ req.name }}</li>
		{% endforeach %}
	</ul>
{% endregion %}
