{layout "_layouts/basic" title="Install Blocks"}

{region "styles"}
	{include "_includes/css_include" file="styles/install.css"}
{/region}


{if reqcheck.result != 'failure'}

	{region "body"}
		{include "_special/install/_welcome"}
		{include "_special/install/_account"}
		{include "_special/install/_site" sitename=sitename url=url}
		{include "_special/install/_installing"}
	{/region}

	{region "scripts"}
		{include "_includes/js_include" file="install.js"}
	{/region}

{else}

	{region "body"}
		{include "_special/install/_cantinstall"}
	{/region}

{/if}
