{% import "_includes/forms" as forms %}


<div id="site" class="modal">
	<h1>{{ "Setup your site"|t }}</h1>

	<form id="siteform" accept-charset="UTF-8">
		{{ forms.textField({ label: "Site Name"|t, id: 'siteName', value: siteName, maxlength: 255 }) }}
		{{ forms.textField({ label: "Site URL"|t, id: 'siteUrl', value: siteUrl, maxlength: 255 }) }}

		{% set languageInput %}
			<div class="select">
				<select id="language">
					{% for language in blx.i18n.getTranslatedLanguages %}
						<option value="{{ language }}" {% if language == blx.language %}selected{% endif %}>{{ blx.i18n.getLocaleName(language) }}</option>
					{% endfor %}
				</select>
			</div>
		{% endset %}
		{{ forms.field({ label: "Language"|t, id: 'language' }, languageInput) }}

		<div class="buttons">
			<div id="sitesubmit" class="btn big submit">{{ "Finish up"|t }}
				<input type="submit" tabindex="-1">
			</div>
		</div>
	</form>

	{% include "_special/install/dots" with {dot: 3} %}
</div>
