<div id="site" class="modal">
	<h1>{{ "Setup your site"|t }}</h1>

	<form id="siteform">
		<div class="field">
			<div class="heading">
				<label for="sitename">{{ "Site Name"|t }}</label>
			</div>
			<div class="textwrapper"><input id="sitename" class="text" type="text" maxlength="255" value="{{ sitename }}"></div>
		</div>

		<div class="field">
			<div class="heading">
				<label for="url">{{ "Site URL"|t }}</label>
			</div>
			<div class="textwrapper"><input id="url" class="text" type="text" maxlength="255" value="{{ url }}"></div>
		</div>

		<div class="field">
			<div class="heading">
				<label for="language">{{ "Language"|t }}</label>
			</div>
			<div class="select">
				<select id="language">
					{% for language in blx.localization.translatedLanguages %}
						<option value="{{ language }}" {% if language == blx.language %}selected{% endif %}>{{ blx.localization.localeName(language) }}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="buttons">
			<div id="sitesubmit" class="btn big submit">{{ "Finish up"|t }}</div>
			<input type="submit" class="hidden" tabindex="-1">
		</div>
	</form>

	{% include "_special/install/dots" with {'dot': 3} %}
</div>
