{% if total %}
    <p class="centeralign">
        {% if total == 1 %}
            {{ "One update available!"|t('app') }}
        {% else %}
            {{ "{total} updates available!"|t('app', { total: total }) }}
        {% endif %}
        <a class="go nowrap" href="{{ url('utilities/updates') }}">{{ "Go to Updates"|t('app') }}</a>
    </p>
{% else %}
    <p class="centeralign">{{ "Congrats! You’re up-to-date."|t('app') }}</p>
    <p class="centeralign"><a class="btn" data-icon="refresh">{{ 'Check again'|t('app') }}</a></p>
{% endif %}
