<table class="fullwidth" dir="{{ feed.direction }}">
    {% for item in feed.items %}
        <tr>
            <td>
                {% if item.permalink ?? false %}
                    {{ tag('a', {
                        href: item.permalink,
                        target: '_blank',
                        rel: 'noopener',
                        text: item.title,
                    }) }}
                    {% if item.date ?? false %}
                        {{ tag('span', {
                            class: 'light nowrap',
                            text: item.date|timestamp('short'),
                        }) }}
                    {% endif %}
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
