{% layout "settings/_layouts/settings" pageTitle="Edit Section" %}

{% if !section && sectionId %}
	{% set section = content.getSectionById(sectionId) %}
{% endif %}

{% region "main" %}
	<div class="pane">
		<div class="head">
			{% if section.id %}
				<h5>Edit Section {% if section.name %}“{{ section.name }}”{% endif %}</h5>
			{% else %}
				<h5>Create a new section</h5>
			{% endif %}
		</div>
		<div class="body">
			<form method="post" action="">
				<input type="hidden" name="action" value="app/content/saveSection" />
				<input type="hidden" name="redirect" value="settings/sections" />
				{% if section.id %}<input type="hidden" name="section_id" value="{{ section.id }}">{% endif %}

				<div class="item">
					<div class="field">
						<label for="section-name">Section Name</label>
						<div class="input-wrapper"><input id="section-name" name="section[name]" class="{% if section.errors.name %}error{% endif %}" type="text" value="{{ section.name }}" /></div>
						{% if section.errors.name %}
							{% include "_includes/error_list" errors=section.errors.name %}
						{% endif %}
					</div>
					<div class="field">
						<label for="handle">Section Handle</label>
						<div class="input-wrapper"><input id="section-handle" name="section[handle]" class="code {% if section.errors.handle %}error{% endif %}" type="text" value="{{ section.handle }}" /></div>
						{% if section.errors.handle %}
							{% include "_includes/error_list" errors=section.errors.handle %}
						{% endif %}
					</div>

					<input class="btn big submit" type="submit" value="Save Section" />
				</div>
			</form>
		</div>
	</div>
{% endregion %}
