{% extends "_layouts/cp" %}
{% set title = "Sections"|t('app') %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% do view.registerTranslations('app', [
    "Are you sure you want to delete “{name}” and all its entries?",
    "Edit entry type",
    "Edit entry types ({count})",
    "Edit entry types",
    "Entry Types",
    "Handle",
    "Name",
    "No sections exist yet.",
    "Type",
]) %}

{% set crumbs = [
    { label: "Settings"|t('app'), url: url('settings') }
] %}

{% block actionButton %}
    <a href="{{ url('settings/sections/new') }}" class="btn submit add icon">{{ "New section"|t('app') }}</a>
{% endblock %}


{% block content %}
    <div id="sections-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for section in sections %}
    {% set isSingle = section.type == 'single' and section.getEntryTypes()|length == 1 %}

    {% set tableData = tableData|merge([{
        id: section.id,
        name: section.name|t('site')|e,
        title: section.name|t('site'),
        url: url('settings/sections/' ~ section.id),
        handle: section.handle,
        type: section.type|title|t('app')|e,
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('app', 'Name') },
        { name: '__slot:handle', title: Craft.t('app', 'Handle') },
        { name: 'type', title: Craft.t('app', 'Type') },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#sections-vue-admin-table',
        deleteAction: 'sections/delete-section',
        deleteConfirmationMessage: Craft.t('app', "Are you sure you want to delete “{name}” and all its entries?"),
        emptyMessage: Craft.t('app', 'No sections exist yet.'),
        tableData: {{ tableData|json_encode|raw }}
    });
{% endjs %}
