{% if not section and sectionId %}
	{% set section = blx.content.getSectionById(sectionId) %}
	{% if not section %}{% exit 404 %}{% endif %}
{% endif %}


{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}


{% if section.id %}
	{% set title = "{name} Settings"|t({ 'name': '<i>'~section.name|t~'</i>' }) %}
{% else %}
	{% set title = "Create a new section"|t %}
{% endif %}


{% set titlebar %}
	<h1>{{ title|raw }}</h1>
	<ul class="left">
		<li><a href="{{ url('settings/sections') }}" class="btn backbtn">{{ "Sections"|t }}</a></li>
	</ul>
{% endset %}


{% set content %}
	<form method="post" action="" class="centered">
		<input type="hidden" name="action" value="content/saveSection">
		<input type="hidden" name="redirect" value="settings/sections">
		{% if section.id %}<input type="hidden" name="sectionId" value="{{ section.id }}">{% endif %}


		{{ forms.textField({
			label: "Name"|t,
			instructions: "What this section will be called in the CP."|t,
			id: 'name',
			name: 'name',
			value: section.name,
			errors: section.errors.name,
			first: true,
			required: true,
			translatable: true
		}) }}

		{{ forms.textField({
			label: "Handle"|t,
			instructions: "How you’ll refer to this section in the templates."|t,
			id: 'handle',
			class: 'code',
			name: 'handle',
			value: section.handle,
			errors: section.errors.handle,
			required: true
		}) }}

		<hr>

		{{ forms.checkboxField({
			label: "Entries in this section have their own URLs"|t,
			name: 'hasUrls',
			checked: section.hasUrls,
			toggle: 'has-urls-setting'
		}) }}

		<div id="has-urls-setting" class="nested-fields" {% if not section.hasUrls %}style="height: 0"{% endif %}>

			{{ forms.textField({
				label: "Entry URL Format"|t,
				instructions: "What the entry URLs should look like."|t,
				id: 'urlFormat',
				class: 'code',
				name: 'urlFormat',
				value: section.urlFormat,
				errors: section.errors.urlFormat
			}) }}

			{{ forms.textField({
				label: "Entry Template"|t,
				instructions: "Which template to use when an entry’s URL is requested."|t,
				id: 'template',
				name: 'template',
				value: section.template,
				errors: section.errors.template
			}) }}

		</div>

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}


{% set scripts %}
	<script type="text/javascript">
		{% if not section.handle %}new blx.ui.HandleGenerator('#name', '#handle');{% endif %}
		{% if not section.urlFormat %}new blx.ui.EntryUrlFormatGenerator('#name', '#urlFormat');{% endif %}
	</script>
{% endset %}
