{% extends "_layouts/cp" %}
{% set title = "Sections"|t %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}

{% set docsUrl = 'http://docs.buildwithcraft.com/cp/settings/sections.html' %}

{% set sections = craft.sections.getAllSections() %}

{% set newSectionBtn %}
	<div class="buttons">
		<a href="{{ url('settings/sections/new') }}" class="btn submit add icon">{{ "New Section"|t }}</a>
	</div>
{% endset %}


{% set content %}
	<div id="nosections"{% if sections %} class="hidden"{% endif %}>
		<p>{{ "No sections exist yet."|t }}</p>

		{% if not craft.hasPackage('PublishPro') %}
			{{ newSectionBtn }}
		{% endif %}
	</div>

	{% if sections|length %}
		<table id="sections" class="data collapsible">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				<th scope="col">{{ "Handle"|t }}</th>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for section in sections %}
					<tr data-id="{{ section.id }}" data-name="{{ section.name|t }}">
						<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('settings/sections/' ~ section.id) }}">{{ section.name|t }}</a></th>
						<td data-title="{{ 'Handle'|t }}"><code>{{ section.handle }}</code></td>
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% if craft.hasPackage('PublishPro') %}
		{{ newSectionBtn }}
	{% endif %}
{% endset %}


{% set js %}
	new Craft.AdminTable({
		tableSelector: '#sections',
		noObjectsSelector: '#nosections',
		deleteAction: 'sections/deleteSection',
		confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its entries?"|t }}',
	});
{% endset %}
{% includeJs js %}
