{% extends "_layouts/cp" %}
{% set title = "Sections"|t %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}

{% set docsUrl = 'http://docs.buildwithcraft.com/cp/settings/sections.html' %}

{% set newSectionBtn %}
	<div class="buttons">
		<a href="{{ url('settings/sections/new') }}" class="btn submit add icon">{{ "New Section"|t }}</a>
	</div>
{% endset %}


{% set content %}
	<div id="nosections"{% if sections %} class="hidden"{% endif %}>
		<p>{{ "No sections exist yet."|t }}</p>

		{{ newSectionBtn }}
	</div>

	{% if sections|length %}
		<table id="sections" class="data collapsible">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				<th scope="col">{{ "Handle"|t }}</th>
				<th scope="col">{{ "Type"|t }}</th>
				<th scope="col">{{ "URL Format"|t }}</th>
				<th scope="col">{{ "Entry Types"}}</th>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for section in sections %}
					<tr data-id="{{ section.id }}" data-name="{{ section.name|t }}">
						<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('settings/sections/' ~ section.id) }}">{{ section.name|t }}</a></th>
						<td data-title="{{ 'Handle'|t }}"><code>{{ section.handle }}</code></td>
						<td data-title="{{ 'Type'|t }}">{{ section.type|title|t }}</td>
						<td data-title="{{ 'URL Format'|t }}">
							{%- if section.isHomepage() -%}
								<div data-icon="home" title="{{ 'Homepage'|t }}"></div>
							{%- else -%}
								{{ section.getUrlFormat() }}
							{%- endif -%}
						</td>
						<td data-title="{{ 'Entry Types'|t }}"><a href="{{ url('settings/sections/' ~ section.id ~ '/entrytypes') }}">{{ "Edit entry types ({count})"|t({ count: section.getEntryTypes()|length }) }}</a></td>
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div id="newsectioncontainer" class="buttons{% if not craft.hasPackage('PublishPro') and sections|length >= maxSections %} hidden{% endif %}">
		{{ newSectionBtn }}
	</div>
{% endset %}


{% set js %}
	new Craft.AdminTable({
		tableSelector: '#sections',
		noObjectsSelector: '#nosections',
		newObjectBtnSelector: '#newsectioncontainer',
		deleteAction: 'sections/deleteSection',
		confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its entries?"|t }}',
		maxObjects: {% if not craft.hasPackage('PublishPro') %}{{ maxSections }}{% else %}null{% endif %}
	});
{% endset %}
{% includeJs js %}
