/vendor/
/node_modules/
.env
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/data/*
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
composer.lock
