@charset "UTF-8";
@import '@craftcms/sass/mixins';

.message {
  position: relative;
  cursor: pointer;

  &:hover {
    @include padding-right(26px);

    &:after {
      position: absolute;
      top: 18px;
      @include right(15px);
      @include icon;
      content: 'edit';
      color: var(--link-color);
    }
  }

  .subject {
    padding-bottom: 15px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 15px;
  }

  .body {
    font-size: 12px;
    line-height: 16px;
    font-family: Courier, monospace;
    color: var(--medium-text-color);
  }
}

.message-settings {
  width: 500px;

  .header .right {
    top: 12px;
  }

  .body {
    height: calc(100% - 131px);
    overflow: auto;
  }
}
