{% import "_includes/forms" as forms %}


<form method="post" action="" accept-charset="UTF-8">
	{{ forms.textField({
		label: entryType.titleLabel|t,
		id: 'title',
		name: 'title',
		required: true
	}) }}

	{% for field in entryType.getFieldLayout().getFields() %}
		{% if field.required or field.fieldId in settings.fields %}
			{% include "_includes/field" with {
				fieldId: field.fieldId,
				required: field.required,
				entry: null
			} only %}
		{% endif %}
	{% endfor %}

	<div class="buttons">
		<input type="submit" class="btn submit" value="{{ 'Post'|t }}">
		<div class="spinner hidden"></div>
	</div>
</form>
