{% extends "_layouts/basecp" %}
{% set title = 'Connecting to CraftCMS.com…'|t('app') %}

{% block body %}
    <div id="graphic" class="spinner big over-bg"></div>
    <div id="status">{{ "Connecting to CraftCMS.com…"|t('app') }}</div>
{% endblock %}
