includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    phpVersion: 80400
    level: 5
    paths:
        - src
        - legacy
    excludePaths:
        - legacy/test
        - legacy/config/mimeTypes.php
        - legacy/image/*
        - legacy/services/Images.php
        - legacy/test/internal/*
        - legacy/views/debug/*
    scanFiles:
        - vendor/twig/twig/src/Extension/CoreExtension.php
    bootstrapFiles:
        - tests/_bootstrap.php
    stubFiles:
        - stubs/_generated.stub
        - stubs/GraphQL/Type/Definition/FieldDefinition.stub
        - stubs/GraphQL/Type/Definition/ResolveInfo.stub
        - stubs/samdark/log/PsrTarget.stub
        - stubs/yii/base/Component.stub
        - stubs/yii/base/Event.stub
        - stubs/yii/base/Module.stub
        - stubs/yii/BaseYii.stub
        - stubs/yii/db/BaseActiveRecord.stub
        - stubs/yii/db/Query.stub
        - stubs/yii/db/Migration.stub
        - stubs/yii/di/ServiceLocator.stub
        - stubs/yii/helpers/BaseArrayHelper.stub
        - stubs/yii/validators/UniqueValidator.stub
        - stubs/yii/validators/Validator.stub
    earlyTerminatingMethodCalls:
        Craft:
            - dd
        yii\base\Application:
            - end
        yii\base\ErrorHandler:
            - convertExceptionToError
    ignoreErrors:
        - '#PHPDoc tag @mixin contains invalid type craft\\base\\+[a-zA-Z0-9]#'
        - '#^Dead catch#'
        - '#^PHPDoc tag @mixin contains invalid type CraftTrait\.$#'
        - '#is never assigned craft\\base\\MemoizableArray#'
        -
            identifier: parameter.implicitlyNullable
        -
            identifier: propertyGetHook.noRead
    treatPhpDocTypesAsCertain: false
    databaseMigrationsPath:
        - vendor/craftcms/cms/src/Database/Migrations
    configDirectories:
        - tests
