/* Chart */

.chart { height: 220px; margin: 0 0px 14px 0px; }

.chart svg { width: 100%; height: 100%; }

.chart .axis path,
.chart .axis line { fill: none; stroke: #aaa; shape-rendering: crispEdges; }
.chart .axis text { fill: RGBA(0, 0, 0, .6); }

.chart .legend-line .tick { stroke: RGBA(0, 0, 0, .08); stroke-opacity: 0.7; shape-rendering: crispEdges; /* stroke-dasharray: 2; */ }
.chart .legend-line path { stroke-width: 0; }

.chart.area .area { stroke: RGBA(0, 138, 202, 1); fill: RGBA(0, 138, 202, .3); stroke-width: 0; }
.chart.area circle.plot { fill: RGBA(0, 138, 202, 1); }
.chart.area circle.tip-trigger { fill: RGBA(0, 138, 202, 0); }
.chart.area circle.tip-trigger:hover { fill: RGBA(0, 138, 202, 0.1); }
.chart.area circle:hover { cursor: default; }
.chart.area .line { fill: none; stroke: RGBA(0, 138, 202, 1); stroke-width: 3px; }

.chart.column .bar { fill: RGBA(0, 138, 202, .6); }
/*.chart.column .bar:hover { fill: RGBA(0, 138, 202, .8); cursor: pointer; }*/


.tooltip {
    padding: 7px;
    background: #fff;
    position: absolute;
    z-index: 1000000;
    margin-left: 20px;

    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}


/* Date Range Picker */

.ui-datepicker-calendar td.date-range-selected a { background: hsl(212, 10%, 50%) !important; color: #fff; }