
.chart {
    width: 100%;
    height: 250px;
    background: #fafafa;
    margin: 0 0px 7px 0px;
    border: 1px solid #eee;
    /*width: calc(100% + 48px);*/
}


.chart .axis path,
.chart .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.chart .axis text {
    fill: RGBA(0, 0, 0, .5);
}

.chart .area {
    stroke: RGBA(0, 138, 202, 1);
    fill: RGBA(0, 138, 202, .3);
    stroke-width: 1px;
}