@charset "UTF-8";
@import "shared";

html { overflow-y: scroll; }

/* dev mode */
#devmode { width: 100%; height: 5px; background: $headerBgColor url(../images/devmode.png) repeat-x 50% 0; cursor: help; }

#alerts { color: $errorcolor; text-align: center; background: $headerBgColor; }
#alerts li { padding: 2px 30px; }
#alerts li:first-child { padding-top: 4px; }
#alerts li:last-child { padding-bottom: 4px; }
#alerts li:before { @include icon; @include margin(-1px, 3px, 0, 0); content: 'alert'; font-size: 16px; }
#alerts li a { color: $errorcolor; text-decoration: underline; white-space: nowrap; }

.container { margin: 0 auto; padding: 0 14px; max-width: 1294px; @include box-sizing(border-box); }

/* header */
#header { position: relative; padding-top: 7px; max-height: 76px; overflow: hidden; background: $headerBgColor; }
#header:after { @include clearafter; }
#header .container { position: relative; }
#header a { color: hsl($hue, 5%, 85%);
	@include transition(color linear 100ms);
}
#header a:hover,
#header a.active { color: #fff; text-decoration: none; }

#header h2 { @include margin(0, 14px, 0, 0); @include floatleft; }
#header h2 a { display: block; padding: 10px 0; width: calc(100% + 14px); overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

#header-actions { @include floatright; height: 38px; }
#header-actions > li { @include floatleft; }
#header-actions a { display: block; padding: 0 7px; line-height: 36px; }
#header-actions a.menubtn:after { @include margin-left(4px); }
#header-actions .updates a { position: relative; color: $noticecolor; }
#header-actions .updates.critical a { color: $submitcolor; }
#header-actions .updates a:hover { color: #fff !important; }
#header-actions .updates a:before { font-size: 20px; width: 20px; }
#header-actions .updates a span { display: block; position: absolute; @include left(7px); top: 1px; width: 20px; text-align: center; color: $headerBgColor; font-weight: bold; font-size: 11px; }
#header-actions .settings:before,
#header-actions .myaccount:before { font-size: 16px; }
#header-actions .myaccount { @include margin-right(-7px); }
#header-actions .settings { @include padding-right(0); }
#header-actions .settingsmenu { @include padding-left(0); }

#header-actions #taskicon { position: relative; padding: 5px 0 1px; width: 30px; height: 30px; }
#header-actions #taskicon canvas { display: block; position: absolute; width: 30px; height: 30px; }
#header-actions #taskicon canvas#taskicon-hover { opacity: 0; @include transition(opacity linear 100ms); }
#header-actions #taskicon:hover canvas#taskicon-hover { opacity: 1; }

#header-actions #taskicon .progressbar { position: static; margin: 8px 2px; width: auto; border-color: hsl($hue, 5%, 85%); @include transition(color linear 100ms); }
#header-actions #taskicon .progressbar-inner { background: hsl($hue, 5%, 85%); @include transition(color linear 100ms); }
#header-actions #taskicon:hover .progressbar { border-color: #fff; }
#header-actions #taskicon:hover .progressbar-inner { background: #fff; }

#tasks-hud { padding: 0; max-height: 300px; overflow: auto; }
#tasks-hud .task { @include padding(14px, 138px, 14px, 24px); overflow: hidden; }
#tasks-hud .task:after { @include clearafter; }
#tasks-hud .task + .task { border-top: 1px solid $hrcolor; }
#tasks-hud .task .task-description { position: relative; }
#tasks-hud .task .task-description .indent { position: absolute; top: -1px; @include left(-24px); @include margin-left(0); }
#tasks-hud .task .task-status { @include floatright; @include margin-right(-114px); width: 100px; color: $lighttextcolor; text-align: center; }
#tasks-hud .task .task-status .progressbar { position: static; margin-top: 4px; width: auto; }
#tasks-hud .task .task-status .menubtn { @include margin-right(-22px); }

#settingsmenu ul li a { @include padding-left(46px); }
#settingsmenu ul li a:before { @include margin(1px, 0, 0, -22px); font-size: 15px; }

#nav { @include floatleft; @include margin-left(-5px); }
#nav li { @include floatleft; height: 38px; }
#nav li a { display: block; margin-top: 2px; padding: 4px 10px; line-height: 28px; }
#nav li a.active { color: #fff; }
#nav li a.sel { position: relative; z-index: 1; border-radius: 3px 3px 0 0; color: $textcolor; background: $bgcolor; }
#nav li a:not(.sel) .badge { color: #333 !important; }
#nav li a.menubtn { line-height: 26px; }

/* HIDE */
#customize-nav-btn span { display: none; }
#overflow-nav #customize-nav-btn span { display: inline-block; }
/* end HIDE */

#header #nav li a .badge,
#overflow-nav li a .badge { display: inline-block; position: relative; top: -6px; border-radius: 6px; padding: 0 3px; font-size: 10px; line-height: 12px; color: #fff; background: $submitcolor; }
#overflow-nav li a:hover .badge { color: $headerBgColor; }

/* HIDE */
#overflow-nav li a { @include padding-left(30px); }
#overflow-nav li#customize-nav-btn a:before { @include floatleft; @include margin-left(-21px); }
/* end HIDE */

/* notifications */
#notifications-wrapper { position: absolute; z-index: 101; @include left(0); width: 100%; }
#notifications-wrapper.fixed { position: fixed; top: 0; }
#notifications { text-align: center; }
#notifications .notification { display: inline-block; padding: 5px 10px; border-radius: 0 0 3px 3px; border-width: 0 1px 1px; color: #fff !important;
	@include box-shadow(0 1px 3px rgba(0,0,0,0.35));
}
#notifications .notification.notice { background: $noticecolor; }
#notifications .notification.error { background: $submitcolor; }

/* page header */
#page-header { display: block; position: relative; z-index: 1; padding: 35px 0; overflow: hidden; }
#page-header h1 { display: inline; line-height: 1; }
#page-header #extra-headers { display: inline-block; position: relative; top: 5px; }
#page-header #extra-headers > .select,
#page-header #extra-headers > .menubtn,
#page-header #extra-headers > .btn { display: block; @include margin-left(5px); @include floatleft; }

#crumbs { margin: -35px 0 10px; font-size: 0; }
#crumbs:after { @include clearafter; }
#crumbs li { display: inline-block; font-size: 13px; }
#crumbs li:after { @include icon; margin: -1px 5px 0; font-size: 11px; color: $mediumtextcolor;
	body.ltr & { content: 'rightangle'; }
	body.rtl & { content: 'leftangle'; }
}
#crumbs li a { display: inline-block; padding: 10px 0; color: $mediumtextcolor; }
#crumbs li a:hover { color: $linkcolor; text-decoration: none; }

/* tabs */
.tabs:after { @include clearafter; }
.tabs .tab { display: block; padding: 9px 10px; color: #777; white-space: nowrap; }
.tabs .tab:hover { text-decoration: none; color: $linkcolor; }
.tabs .tab.sel { border-radius: 3px 3px 0 0; color: $textcolor; cursor: default; }

.pane > .tabs { margin: -24px -24px 24px; padding: 0 14px; border-radius: 3px 3px 0 0; font-size: 0; overflow: hidden;
	@include linear-gradient(hsl($hue, 8%, 97%), hsl($hue, 8%, 96%));
	@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.05));
}
.pane > .tabs li { display: inline-block; font-size: 13px; }
.pane > .tabs li a { color: #555; }
.pane > .tabs li a:not(.sel):hover { color: $linkcolor; }
.pane > .tabs li .tab.sel { @include pane; }

/* grids */
.grid { position: relative; margin: 23px -7px; }
.grid:after { @include clearafter; }
.grid > .item { display: none; padding: 7px; @include box-sizing(border-box); }

/* footer */
#footer { margin: 24px 0; text-align: center; font-size: 0; }
#footer li { display: inline-block; font-size: 11px; color: $lighttextcolor; white-space: nowrap; }
#footer li:not(:last-child):after { display: inline-block; margin: 0 7px; content: '•'; }
#footer li a { color: $lighttextcolor; text-decoration: underline; }
#footer li a:hover { color: $mediumtextcolor; }
#footer #upgradepromo { margin-top: 14px; }
#footer #upgradepromo a { display: inline-block; border-radius: 5px; padding: 14px; border: 2px solid $hrcolor; font-size: 15px; color: $mediumtextcolor; }
#footer #upgradepromo a .go { color: $linkcolor; }
#footer #upgradepromo a .go:after { @include padding-left(5px); }
#footer #upgradepromo a:hover { text-decoration: none; }
#footer #upgradepromo a:hover .go { text-decoration: underline; }
#footer #upgradepromo a:hover .go:after { color: $linkcolor; }

/* upgrade modal */
#upgrademodal { min-height: 550px; }
#upgrademodal.loading { background-image: url(../images/spinner_big.gif); background-repeat: no-repeat; background-position: 50% 50%; }
#upgrademodal .body { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: auto; }

#upgrademodal .logo { margin: 0 auto 24px; max-width: 160px; height: 40px; font-size: 0; background: no-repeat 50% 50%; background-size: 100%; }
#upgrademodal .logo.craftclient { background-image: url(../images/editions/craftclient.png); }
#upgrademodal .logo.craftpro { background-image: url(../images/editions/craftpro.png); }

#upgrademodal .body tr.buybtns td { vertical-align: bottom; text-align: center; }
#upgrademodal .body tr.buybtns .installed { display: inline-block; border-radius: 3px; padding: 6px 12px; color: $successcolor;
	@include box-shadow(0 0 0 1px $successcolor);
}
#upgrademodal .body tr.buybtns td .btngroup { display: inline-block; }
#upgrademodal .body tr.buybtns .installed + br + .btngroup { margin-top: 10px; }
#upgrademodal .body .listedprice { @include margin-right(10px); text-decoration: line-through; color: $lighttextcolor; }

#upgrademodal-compare table thead th { text-align: center; }
#upgrademodal-compare table thead th { font-size: 13px; line-height: 18px; font-weight: normal; }
#upgrademodal-compare table thead th .logo { margin-bottom: 14px; }
#upgrademodal-compare table tbody th,
#upgrademodal-compare table tbody td { width: 33.33%; }
#upgrademodal-compare table tbody tr:first-child th,
#upgrademodal-compare table tbody tr:first-child td { border-top: none; }
#upgrademodal-compare table tbody th.group { padding-top: 30px; border-bottom-style: solid; color: $mediumtextcolor; }
#upgrademodal-compare table tbody th.group:before { margin-top: -2px; width: 24px; @include alignleft; font-size: 17px; }
#upgrademodal-compare table tbody th.feature { font-weight: normal; color: $mediumtextcolor; }
#upgrademodal-compare table tbody td { text-align: center; }
#upgrademodal-compare table tbody tr.buybtns td { padding-top: 30px; border-bottom: none; }

#upgrademodal-checkout { background: $bgcolor; }
#upgrademodal-checkout .pane { max-width: 350px; margin: 0 auto !important; }
#upgrademodal-checkout .pane .header .price { text-align: center; font-size: 15px; }
#upgrademodal-checkout .pane .footer .buttons .spinner { position: absolute; top: 0; @include right(-24px); margin: 0; }
#upgrademodal-checkout .icon.secure:before { @include margin-right(5px); }

#upgrademodal-success .message { display: block; position: absolute; top: 50%; left: 0; width: 100%; margin-top: -71px; padding-top: 62px; text-align: center; background: url(../images/success.png) no-repeat 50% 0; }
#upgrademodal-success .message p { margin-bottom: 24px; font-size: 15px; line-height: 1.4; }

#wrongedition-modal { text-align: center; }
#wrongedition-modal .btngroup { float: none; }

/* field layout forms */

$fldBgColor: #fff;
$fldChalkColor: #2f1fb5;
$fldGuideColor: #f4f3fb;

.fieldlayoutform,
.fld-tab,
.fld-field { color: $fldChalkColor; font-family: 'Coming Soon', sans-serif; font-style: italic; text-transform: uppercase; }

.fieldlayoutform { padding: 24px; background-image: url(../images/fieldlayoutform-bg.png);
	body.ltr & { background-position: 25px 24px; }
	body.rtl & { background-position: calc(100% - 24px) 24px; }
}
.fieldlayoutform:after { @include clearafter; }
.fieldlayoutform h2 { margin: 3px 0 27px !important; font-size: 20px; line-height: 30px; font-weight: normal; text-decoration: underline; color: $fldChalkColor; margin-bottom: 30px; }
.fieldlayoutform .instructions { margin: -30px 0 30px; line-height: 30px; }

.fieldlayoutform .fld-tabs { @include margin(0, 0, 29px, -30px); }
.fieldlayoutform .unusedfields { @include margin(30px, 0, -30px, -30px); }

.fieldlayoutform .fld-tabs:after,
.fieldlayoutform .unusedfields:after { @include clearafter; }

.fieldlayoutform .newtabbtn-container { @include margin(0, 0, 58px, 0); }
.fieldlayoutform .newtabbtn-container .btn.add { @include margin-right(15px); border: 1px solid $fldChalkColor; padding: 2px 10px 0; line-height: 27px; color: $fldChalkColor; background: transparent;
	@include box-shadow(none);
}
.fieldlayoutform .newtabbtn-container .btn.add:before { margin-top: -2px; }
.fieldlayoutform .newtabbtn-container h3 { margin: 0; display: inline-block; padding: 9px 6px; line-height: 15px; }

.fld-tab { @include floatleft; @include margin(0, -1px, 30px, 30px); width: 211px; }

.fld-tab .tabs .tab,
.fld-tab .fld-tabcontent,
.fld-field { border: 1px solid $fldChalkColor; }

.fld-tab .icon,
.fld-field .icon { @include margin-left(5px); }
.fld-tab .icon:before,
.fld-field .icon:before { margin-top: -2px; font-size: 16px; color: $fldChalkColor; opacity: 0.5; }
.fld-tab .icon:hover:before,
.fld-tab .icon.active:before,
.fld-field .icon:hover:before,
.fld-field .icon.active:before { opacity: 1; }

.fld-tab .menubtn,
.fld-field .menubtn { padding: 0; }
.fld-tab .menubtn:after,
.fld-field .menubtn:after { display: none; }

.fld-tab .tabs { position: relative; z-index: 1; padding: 0 10px; }
.fld-tab .tabs .tab { @include floatleft; margin: -1px; border-radius: 3px 3px 0 0; padding: 8px 10px 3px; border-bottom-color: $fldGuideColor; color: $fldChalkColor; }
.fld-tab .tabs .tab.draggable { cursor: move; }
.fld-tab .fld-tabcontent { padding: 13px; }
.fld-tab-caboose { min-height: 31px; }

.fld-field { padding: 8px 8px 3px; cursor: move; }
.fld-field + .fld-field { margin-top: 7px; }
.fld-field.fld-required span:after { @include icon; @include margin(-2px, 0, 0, 5px); color: $fldChalkColor; content: '*'; font-size: 8px; }
.fld-field .icon { @include floatright; }

.fld-tab.unused .tabs .tab,
.fld-tab.unused .fld-tabcontent,
.fld-field.unused { border-style: dashed; }
.fld-tab.unused .tabs .tab { border-bottom-style: solid; }

.fld-tab.fld-insertion .tabs .tab,
.fld-tab.fld-insertion .fld-tabcontent,
.fld-field.fld-insertion { border-style: dashed; }
.fld-tab.fld-insertion .tabs .tab { border-bottom-style: solid; }

.fld-tab.draghelper .tabs { margin: -5px 0 -1px; padding-top: 5px; padding-bottom: 1px; overflow: hidden; }
.fld-tab.draghelper .tabs .tab,
.fld-tab.draghelper .fld-tabcontent,
.fld-field.draghelper { background: #fff;
	@include box-shadow(0 2px 10px -2px rgba(0,0,0,0.25));
}
.fld-tab.draghelper .tabs .tab { border-bottom-color: #fff; }

/* Preview buttons and Live Preview */
.previewbtns { display: block; position: relative; }
.previewbtns .livepreviewbtn { @include margin-right(40px); }
.previewbtns .sharebtn { position: absolute; top: 0; @include right(0); width: 41px; }

.livepreviewbtn { display: block; position: relative; }
.livepreviewbtn .spinner { position: absolute; top: 3px; @include right(7px); }

.lp-editor,
.lp-iframe-container { position: fixed; top: 0; height: 100%; background: #fff; background-clip: padding-box; }
.lp-iframe-container.dragging:after { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: ''; font-size: 0; }

.lp-editor { z-index: 3; padding: 0 24px; overflow: auto; @include box-shadow(0 0 0 1px rgba(0,0,0,0.1));
	@include box-sizing(border-box);
}
.lp-editor header { margin: 0 -24px 24px; padding: 14px 24px 13px; }
.lp-editor header .btn { @include floatright; }
.lp-editor header h1 { margin: 0; font-size: 25px; line-height: 30px; color: #333; }
.lp-editor > .field:last-child { margin-bottom: 24px !important; }

.lp-iframe-container { z-index: 2; }
.lp-iframe { width: 100%; height: 100%; }

.lp-draghandle { position: absolute; z-index: 3; top: 0; margin-left: -3px; width: 6px; height: 100%; cursor: col-resize; }


/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (   -moz-min-device-pixel-ratio: 1.5),
	   only screen and (     -o-min-device-pixel-ratio: 3/2),
	   only screen and (        min-device-pixel-ratio: 1.5),
	   only screen and (        min-resolution: 1.5dppx)
{
	#devmode { background-image: url(../images/devmode_2x.png); background-size: 40px; }
	.fieldlayoutform { background-image: url(../images/fieldlayoutform-bg_2x.png); background-size: 30px 30px; }
	#upgrademodal.loading { background-image: url(../images/spinner_big_2x.gif); background-size: 48px; }
	#upgrademodal .logo.craftclient { background-image: url(../images/editions/craftclient_2x.png); }
	#upgrademodal .logo.craftpro { background-image: url(../images/editions/craftpro_2x.png); }
	#upgrademodal-success .message { background-image: url(../images/success_2x.png); background-size: 48px; }
}

@media only screen and (max-width: 320px) {
	.container { @include padding-left(10px); @include padding-right(10px); }
	#header-actions { @include right(10px); }
	#nav { @include margin-left(-10px); }
}
