@charset "UTF-8";
@import "shared";

html, body { height: 100%; }

#login-form { display: block; position: absolute; top: 50%; left: 50%; margin: -135px 0 0 -150px; padding-top: 116px; width: 300px; background: url(../images/craft.png) no-repeat 0 0; }
#login-form .field { margin: 10px 0; }

#forgot-password { position: relative; z-index: 1; display: block; @include floatright; font-style: normal; font-size: 11px; color: $mediumtextcolor; }
#forgot-password:hover { color: $linkcolor; text-decoration: none; }

#login-form .buttons { position: relative; }
#login-form #ssl-icon { position: absolute; @include left(0); z-index: 1; line-height: 30px; width: 2.2em; color: #fff; text-align: center; cursor: pointer; }
#login-form #ssl-icon.disabled { opacity: 0.75; cursor: default; }
#login-form #ssl-icon + #submit { @include padding-left(2em); }

p.error { margin-top: -15px; }

.modal.email-sent { width: 300px; }
.modal.email-sent .body { @include padding-left(68px); }
.modal.email-sent .body:before { @include icon; display: block; position: absolute; top: 17px; top: 24px; @include left(24px); content: 'mail'; font-size: 30px; color: $linkcolor; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (   -moz-min-device-pixel-ratio: 1.5),
       only screen and (     -o-min-device-pixel-ratio: 3/2),
       only screen and (        min-device-pixel-ratio: 1.5),
       only screen and (        min-resolution: 1.5dppx)
{
	#login-form { background-image: url(../images/craft_2x.png); background-size: 202px; }
}
