@charset "UTF-8";
@import "shared";

#page-header { padding: 12px 0; }

#content h1,
#content p { margin: 45px auto !important; max-width: 750px; text-align: center; }

#content h1 + p { margin-top: -25px !important; }

#content h1 { color: $textcolor; }
#content p { font-size: 17px; line-height: 1.4; }

#content img { display: block; margin: 45px auto; border-radius: 4px 0 0 4px; max-width: 870px; @include box-shadow(0 0 50px rgba(0,0,0,0.25)); }

#content header h1 { font-size: 40px; color: $errorcolor; }
#content header:after { display: block; margin: 0 -24px; content: '.'; font-size: 0; height: 4px;
	@include radial-gradient(65% 100% at 50% 0, $bgcolor, #fff);
}
