{% extends "_layouts/cp" %}
{% set title = "UI Components" %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, component in components %}
                <li>
                    <a href="{{ cpUrl('components/' ~ id) }}" {% if id == (name ?? '') %}class="sel"{% endif %}>{{id }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
