<nav {{ attributes.merge({
    id: id,
    'aria-label': label,
    'data-component': handle
}) }}>
    <ul>
        {% for item in items %}
            <li>
                {{ item | raw }}
            </li>
        {% endfor %}
    </ul>
</nav>

