<div class="header">
	<p>Steps leading up to the deprecation error, “{{ log.message }}”:</p>
</div>

<table class="data fullwidth">
	<tbody>
		{% for trace in log.traces %}
			<tr>
				<th class="thin light centeralign">{{ loop.revindex }}</th>
				<td>
					{% if trace.template is defined and trace.template %}
						Template: {{ trace.template }}{% if trace.templateLine is defined and trace.templateLine %} ({{ trace.templateLine }}){% endif %}
					{% else %}
						{{ trace.objectClass ? trace.objectClass~'::' }}{{ trace.method }}({{ trace.args }})
						{% if trace.file %}<br><span class="light">Called from {{ trace.file }} ({{ trace.line }})</span>{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
