$white: #fff;
$black: #000;

$grey050: hsl(212, 60%, 97%);
$grey100: hsl(212, 50%, 93%);
$grey200: hsl(212, 30%, 85%);
$grey300: hsl(211, 13%, 65%);
$grey350: hsl(211, 11%, 59%);
$grey400: hsl(210, 10%, 53%);
$grey500: hsl(211, 12%, 43%);
$grey550: hsl(210, 13%, 40%);
$grey600: hsl(209, 14%, 37%);
$grey700: hsl(209, 18%, 30%);
$grey800: hsl(209, 20%, 25%);
$grey900: hsl(210, 24%, 16%);
$grey1000: hsl(210, 24%, 10%);

$blue050: #e3f8ff;
$blue100: #b3ecff;
$blue200: #81defd;
$blue300: #5ed0fa;
$blue400: #40c3f7;
$blue500: #2bb0ed;
$blue600: #1992d4;
$blue700: #127fbf;
$blue800: #0b69a3;
$blue900: #035388;

$cyan050: #e0fcff;
$cyan100: #bef8fd;
$cyan200: #87eaf2;
$cyan300: #54d1db;
$cyan400: #38bec9;
$cyan500: #2cb1bc;
$cyan600: #14919b;
$cyan700: #0e7c86;
$cyan800: #0a6c74;
$cyan900: #044e54;

$pink050: #ffe3ec;
$pink100: #ffb8d2;
$pink200: #ff8cba;
$pink300: #f364a2;
$pink400: #e8368f;
$pink500: #da127d;
$pink600: #bc0a6f;
$pink700: #a30664;
$pink800: #870557;
$pink900: #620042;

$red050: #ffe3e3;
$red100: #ffbdbd;
$red200: #ff9b9b;
$red300: #f86a6a;
$red400: #ef4e4e;
$red500: #e12d39;
$red600: #cf1124;
$red700: #ab091e;
$red800: #8a041a;
$red900: #610316;

$yellow050: #fffbea;
$yellow100: #fff3c4;
$yellow200: #fce588;
$yellow300: #fadb5f;
$yellow400: #f7c948;
$yellow500: #f0b429;
$yellow600: #de911d;
$yellow700: #cb6e17;
$yellow800: #b44d12;
$yellow900: #8d2b0b;

$teal050: #effcf6;
$teal100: #c6f7e2;
$teal200: #8eedc7;
$teal300: #65d6ad;
$teal400: #3ebd93;
$teal500: #27ab83;
$teal600: #199473;
$teal700: #147d64;
$teal800: #0c6b58;
$teal900: #014d40;

// submit button colors
$primaryColor: $red500;
$secondaryColor: $grey500;

$inputColor: hsl(212, 25%, 50%);

// text colors
$textColor: $grey700;
$mediumDarkTextColor: $grey550;
$mediumTextColor: $grey550;
$lightTextColor: $grey500;
$linkColor: #2563eb;

// menu colors
$menuOptionColor: $textColor;
$menuOptionActiveColor: $white;
$menuOptionActiveBackgroundColor: $grey350;

// hairline colors
$hairlineColor: transparentize($grey800, 0.9);
$mediumHairlineColor: transparentize($grey600, 0.75);
$darkHairlineColor: transparentize($grey400, 0.5);

// focus colors
$lightFocusColor: $blue300;
$mediumFocusColor: $blue500;
$darkFocusColor: #0f74b1;

// focus rings
$lightFocusRing: 0 0 0 1px $lightFocusColor,
  0 0 0 3px transparentize($lightFocusColor, 0.3);
$mediumFocusRing: 0 0 0 1px $mediumFocusColor,
  0 0 0 3px transparentize($mediumFocusColor, 0.3);
$darkFocusRing: 0 0 0 1px $darkFocusColor,
  0 0 0 3px transparentize($darkFocusColor, 0.3);

// selection colors
$lightSelColor: $grey200;
$darkSelColor: $grey600;

// alert/notice colors
$errorColor: $red600;
$warningColor: $yellow800;
$successColor: $teal500;
$noticeColor: $blue800;

// UI element styles
$smallBorderRadius: 3px;
$mediumBorderRadius: 4px;
$largeBorderRadius: 5px;

$menuBorderRadius: $mediumBorderRadius;
$checkboxSize: 16px;
$radioSize: 16px;

@mixin sans-serif-font {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

@mixin fixed-width-font {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 0.9em !important;
}

// Other

@mixin svg-mask($color) {
  rect,
  circle,
  ellipse,
  line,
  polyline,
  polygon,
  path,
  text {
    fill: $color;
    stroke-width: 0;
    transition: fill linear 100ms;
  }
}

@mixin icon {
  font-family: 'Craft';
  speak: none;
  -webkit-font-feature-settings: 'liga', 'dlig';
  -moz-font-feature-settings: 'liga=1, dlig=1';
  -moz-font-feature-settings: 'liga', 'dlig';
  -ms-font-feature-settings: 'liga', 'dlig';
  -o-font-feature-settings: 'liga', 'dlig';
  font-feature-settings: 'liga', 'dlig';
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  direction: ltr; // Fixes a rendering issue in Chrome/Win
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline-block;
  text-align: center;
  font-style: normal;
  vertical-align: middle;
  word-wrap: normal !important;
  user-select: none;

  opacity: var(--icon-opacity);
}

@mixin angle($dir: down, $color: currentColor, $width: 2px) {
  display: block;
  content: '';
  font-size: 0;
  width: 7px;
  height: 7px;
  border: solid $color;
  border-width: 0 $width $width 0;
  opacity: 0.8;

  @if $dir == up {
    transform: rotate(225deg);
  } @else if $dir == down {
    transform: rotate(45deg);
  } @else if $dir == left {
    body.ltr & {
      transform: rotate(135deg);
    }
    body.rtl & {
      transform: rotate(-45deg);
    }
  } @else if $dir == right {
    body.ltr & {
      transform: rotate(-45deg);
    }
    body.rtl & {
      transform: rotate(135deg);
    }
  }
}

@mixin clearafter {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@mixin shadow {
  box-shadow: 0 1px 5px -1px transparentize($grey900, 0.8);
}

@mixin pane {
  background: $white;
  box-shadow: 0 0 0 1px $grey200, 0 2px 12px transparentize($grey200, 0.5);

  &:focus {
    box-shadow: var(--focus-ring);
  }
}

@mixin modal {
  border-radius: $largeBorderRadius;
  background-color: $white;
  box-shadow: 0 25px 100px transparentize($grey900, 0.5);
}

@mixin light-on-dark-text() {
  // Make light on dark text sharp on Macs
  // (sub-pixel antialiasing looks too bold/blurry with light text on dark background)
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

@mixin light-focus-ring() {
  --focus-ring: 0 0 0 1px hsl(var(--light-focus-hsl)),
    0 0 0 3px hsla(var(--light-focus-hsl), 0.7);
}

// RTL stuff

@mixin left($left) {
  body.ltr & {
    left: $left;
  }
  body.rtl & {
    right: $left;
  }
}

@mixin right($right) {
  body.ltr & {
    right: $right;
  }
  body.rtl & {
    left: $right;
  }
}

@mixin alignleft {
  body.ltr & {
    text-align: left;
  }
  body.rtl & {
    text-align: right;
  }
}

@mixin alignright {
  body.ltr & {
    text-align: right;
  }
  body.rtl & {
    text-align: left;
  }
}

@mixin border-left($params...) {
  body.ltr & {
    border-left: $params;
  }
  body.rtl & {
    border-right: $params;
  }
}

@mixin border-right($params...) {
  body.ltr & {
    border-right: $params;
  }
  body.rtl & {
    border-left: $params;
  }
}

@mixin border-left-width($param) {
  body.ltr & {
    border-left-width: $param;
  }
  body.rtl & {
    border-right-width: $param;
  }
}

@mixin border-right-width($param) {
  body.ltr & {
    border-right-width: $param;
  }
  body.rtl & {
    border-left-width: $param;
  }
}

@mixin border-radius($tl, $tr, $br, $bl) {
  body.ltr & {
    border-radius: $tl $tr $br $bl;
  }
  body.rtl & {
    border-radius: $tr $tl $bl $br;
  }
}

@mixin border-top-left-radius($params...) {
  body.ltr & {
    border-top-left-radius: $params;
  }
  body.rtl & {
    border-top-right-radius: $params;
  }
}

@mixin border-top-right-radius($params...) {
  body.ltr & {
    border-top-right-radius: $params;
  }
  body.rtl & {
    border-top-left-radius: $params;
  }
}

@mixin border-bottom-left-radius($params...) {
  body.ltr & {
    border-bottom-left-radius: $params;
  }
  body.rtl & {
    border-bottom-right-radius: $params;
  }
}

@mixin border-bottom-right-radius($params...) {
  body.ltr & {
    border-bottom-right-radius: $params;
  }
  body.rtl & {
    border-bottom-left-radius: $params;
  }
}

@mixin floatleft {
  body.ltr & {
    float: left;
  }
  body.rtl & {
    float: right;
  }
}

@mixin floatright {
  body.ltr & {
    float: right;
  }
  body.rtl & {
    float: left;
  }
}

@mixin margin($t, $r, $b, $l, $important: '') {
  body.ltr & {
    margin: $t $r $b $l unquote($important);
  }
  body.rtl & {
    margin: $t $l $b $r unquote($important);
  }
}

@mixin margin-left($margin...) {
  body.ltr & {
    margin-left: $margin;
  }
  body.rtl & {
    margin-right: $margin;
  }
}

@mixin margin-right($margin...) {
  body.ltr & {
    margin-right: $margin;
  }
  body.rtl & {
    margin-left: $margin;
  }
}

@mixin padding($t, $r, $b, $l, $important: '') {
  body.ltr & {
    padding: $t $r $b $l unquote($important);
  }
  body.rtl & {
    padding: $t $l $b $r unquote($important);
  }
}

@mixin padding-left($padding...) {
  body.ltr & {
    padding-left: $padding;
  }
  body.rtl & {
    padding-right: $padding;
  }
}

@mixin padding-right($padding...) {
  body.ltr & {
    padding-right: $padding;
  }
  body.rtl & {
    padding-left: $padding;
  }
}

// Misc

@mixin dark-inputs {
  @include placeholder-styles($grey400);

  .btn,
  .select:not(.selectize) select {
    background-color: $grey200;

    &:focus,
    &:hover {
      background-color: darken($grey200, 5%);
    }

    &:active,
    &.active {
      background-color: darken($grey200, 10%);
    }
  }

  .text {
    background-color: $grey200;

    &:focus {
      background-color: darken($grey200, 5%);
    }
  }
}

@mixin header-btn {
  width: 30px;
  height: 30px;
  padding-left: 0;
  padding-right: 0;

  &:not(:hover):not(:active):not(.active) {
    background-color: transparent;
  }
  &:not(:active):not(.active):hover {
    background-color: transparentize($grey300, 0.85);
  }
}

@mixin h6-styles {
  margin: 14px 0 3px;
  font-size: 11px;
  line-height: 1.2;
  color: $lightTextColor;
  text-transform: uppercase;
}

@mixin token-styles {
  display: inline-block;
  border-radius: $smallBorderRadius;
  padding: 3px 7px;
  font-size: 12px;
  line-height: 14px;
  color: $textColor;
  background-color: $grey100;
}

@mixin active-token-styles {
  background-color: $grey200;
}

@mixin menu-styles {
  z-index: 100;
  border-radius: $menuBorderRadius;
  padding: 0 14px;
  overflow: auto;
  background: $white;
  user-select: none;
  box-shadow: 0 0 0 1px transparentize($grey900, 0.9),
    0 5px 20px transparentize($grey900, 0.75);
}

@mixin menu-option-styles {
  margin: 0 -14px;
  padding: 10px 14px;
  color: $menuOptionColor;
  text-decoration: none;
  white-space: nowrap;
}

@mixin menu-option-active-styles {
  color: $menuOptionActiveColor;
  background-color: $menuOptionActiveBackgroundColor;
}

@mixin disclosure-link-hover-styles {
  color: $menuOptionColor;
  background-color: $grey050;
}

@mixin input-styles {
  border-radius: $smallBorderRadius;
  border: 1px solid transparentize($inputColor, 0.75);
  background-color: hsl(212, 50%, 99%);
  background-clip: padding-box;
}

@mixin input-focused-styles {
  border-color: hsl(var(--dark-focus-hsl));
  box-shadow: 0 0 0 2px hsla(var(--dark-focus-hsl), 0.7);
}

@mixin placeholder-styles($color) {
  ::-webkit-input-placeholder {
    color: $color;
  }

  input:-ms-input-placeholder {
    color: $color;
  }

  ::-ms-input-placeholder {
    color: $color;
  }

  :-moz-placeholder {
    color: $color;
  }

  ::-moz-placeholder {
    color: $color;
  }

  ::placeholder {
    color: $color;
  }
}

@mixin select-styles {
  position: relative;
  border-radius: $largeBorderRadius;
  white-space: nowrap;
}

@mixin select-container-styles {
  max-width: 100%;
  position: relative;
  :not(.flex) > & {
    display: inline-block;
  }
}

@mixin select-arrow-styles {
  @include angle;
  position: absolute;
  z-index: 1;
  top: calc(50% - 5px);
  @include right(9px);
  user-select: none;
  pointer-events: none;
}

@mixin select-input-styles {
  display: block;
  position: relative;
  max-width: 100%;
  border: none;
  @include padding(7px, 22px, 7px, 10px);
  font-size: 14px;
  line-height: 20px;
  color: $textColor;
  background-color: hsl(212, 25%, 90%);
  appearance: none;
  // from https://stackoverflow.com/a/15933790/1688568
  &::-ms-expand {
    display: none;
  }
}

@mixin select-input-fullwidth-styles {
  min-width: 100%;
}

@mixin select-input-focused-styles {
  outline-color: transparent;
  background-color: hsl(212, 25%, 85%);
  box-shadow: var(--focus-ring);
}

@mixin touch-target {
  height: var(--touch-target-size);
  width: var(--touch-target-size);
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin readable {
  font-size: 16px;
  line-height: 22px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 24px 0 16px;
    font-weight: 600;
  }

  h1 {
    font-size: 32px;
    line-height: 40px;
    color: #000;
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
  }

  h5 {
    font-size: 14px;
    line-height: 18px;
  }

  h6 {
    font-size: 13.6px;
    line-height: 17px;
    color: $mediumTextColor;
  }

  ul,
  ol {
    margin: 1em 0;
    @include padding-left(2em);
  }

  ul li {
    list-style-type: disc;
  }

  li + li {
    margin-top: 0.25em;
  }

  blockquote {
    margin: 16px 0;

    &:not(.note) {
      padding: 0 16px;
      color: $mediumTextColor;
      @include border-left(4px solid $hairlineColor);
    }

    &.note {
      position: relative;
      border-radius: 4px;
      padding: 1em;
      @include padding-left(56px);
      border: 1px solid;

      &:not(.tip):not(.warning) {
        border-color: $errorColor;
        color: #bf503f;

        &:before {
          content: 'alert';
          color: $errorColor;
        }
      }

      &.tip {
        border-color: $linkColor;
        color: $mediumTextColor;

        &:before {
          content: 'lightbulb';
          color: $linkColor;
        }
      }

      &.warning {
        border-color: $warningColor;
        color: #cf783a;

        &:before {
          content: 'alert';
          color: $warningColor;
        }
      }

      &:before {
        @include icon;
        position: absolute;
        top: 12px;
        @include left(16px);
        font-size: 30px;
        width: 24px;
      }
    }
  }
}
