<div class="passwordwrapper">
    {{ component('input:text', attributes.defaults({
        type: type,
        dir: this.orientation,
        size: this.size,
        disabled: this.disabled,
    }).all()) }}
</div>
