<div class="passwordwrapper">
    {{ component('input:text', attributes.defaults({
        type: type,
        value: value,
        dir: orientation,
        size: size,
        disabled: disabled,
    }).all()) }}
</div>
