<ul>
	{% for key, source in sources %}
		{% set hasNested = (source.nested is defined and source.nested|length) -%}
		{% set pathMatch = (sourcePath[depth] is defined and sourcePath[depth] == key) -%}
		{% set selected = (pathMatch and sourcePath|length == depth + 1) -%}
		<li{% if pathMatch and not selected %} class="expanded"{% endif %}>
			<a data-id="{{ key }}"{% if selected %} class="sel"{% endif %}>{{ source.label }}</a>
			{% if hasNested %}
				<div class="toggle"></div>
				{% include "_elements/modal/sources" with { sources: source.nested, depth: depth + 1 } %}
			{% endif %}
		</li>
	{% endfor %}
</ul>
