{layout "_special/setup/_layouts/setup" step="Account"}

{region "stepContents"}

	<h2>Create your account</h2>

	{if user.id}
		<input type="hidden" name="user_id" value="{:user.id}" />
	{/if}

	<div class="grid grid-2col">
		<div class="col"><div class="col-inner">
			<div class="field">
				<label for="first_name">First Name</label>
				<div class="textwrapper"><input id="first_name" name="first_name" class="text {if user.errors.first_name}error{/if}" type="text" maxlength="100" value="{:user.first_name}" /></div>
				{if user.errors.first_name}
					{include "_includes/error_list" errors=user.errors.first_name}
				{/if}
			</div>
		</div></div>
		<div class="col"><div class="col-inner">
			<div class="field">
				<label for="last_name">Last Name</label>
				<div class="textwrapper"><input id="last_name" name="last_name" class="text {if user.errors.last_name}error{/if}" type="text" maxlength="100" value="{:user.last_name}" /></div>
				{if user.errors.last_name}
					{include "_includes/error_list" errors=user.errors.last_name}
				{/if}
			</div>
		</div></div>
	</div>

	<div class="field">
		<label for="username">Username</label>
		<div class="textwrapper"><input id="username" name="username" class="text {if user.errors.username}error{/if}" type="text" maxlength="255" value="{:user.username}"></div>
		{if user.errors.username}
			{include "_includes/error_list" errors=user.errors.username}
		{/if}
	</div>

	<div class="field">
		<label for="email">Email</label>
		<div class="textwrapper"><input id="email" name="email" class="text {if user.errors.email}error{/if}" type="text" maxlength="255" value="{:user.email}"></div>
		{if user.errors.email}
			{include "_includes/error_list" errors=user.errors.email}
		{/if}
	</div>

	<div class="grid grid-2col">
		<div class="col"><div class="col-inner">
			<div class="field">
				<label for="password">Password</label>
				<div class="passwordwrapper"><input id="password" name="password" class="text password {if passwordInfo.errors.password}error{/if}" type="password" /></div>
				{if passwordInfo.errors.password}
					{include "_includes/error_list" errors=passwordInfo.errors.password}
				{/if}
			</div>
		</div></div>
		<div class="col"><div class="col-inner">
			<div class="field">
				<label for="password_confirm">Password (again)</label>
				<div class="passwordwrapper"><input id="password_confirm" name="password_confirm" class="text password {if passwordInfo.errors.confirmPassword}error{/if}" type="password" /></div>
				{if passwordInfo.errors.confirmPassword}
					{include "_includes/error_list" errors=passwordInfo.errors.confirmPassword}
				{/if}
			</div>
		</div></div>
	</div>

{/region}
