{layout "_special/setup/_layouts/setup" step="LicenseKey"}

{region "stepContents"}

	<h2>Welcome to Blocks!</h2>
	<p>Before we get started, please enter your license key below to enable update notifications and one-click updating.</p>

	{if licenseKey.id}
		<input type="hidden" name="licensekey_id" value="{:licenseKey.id}" />
	{/if}

	<div class="field">
		<label for="license-key">Your license key</label>
		<div class="textwrapper"><input id="license-key" class="text code {if licenseKey.errors.license_key}error{/if}" name="licensekey" type="text" maxlength="73" value="{:licenseKey.license_key}" /></div>
		{if licenseKey.errors.license_key}
			{include "_includes/error_list" errors=licenseKey.errors.license_key}
		{/if}
	</div>

{/region}
