{layout "_special/setup/_layouts/setup" step="Site"}

{region "stepContents"}

	<h2>Setup your site</h2>

	{if site.id}
		<input type="hidden" name="site_id" value="{:site.id}" />
	{/if}

	<div class="field">
		<label for="name">Site Name</label>
		<div class="input-wrapper"><input id="name" name="name" {if site.errors.name}class="error"{/if} type="text" maxlength="500" value="{:site.name}" /></div>
		{if site.errors.name}
			{include "_includes/error_list" errors=site.errors.name}
		{/if}
	</div>

	<div class="field">
		<label for="handle">Site Handle</label>
		<p>If you change this, you’ll need to rename your site’s template folder to match it.</p>
		<div class="input-wrapper"><input id="handle" name="handle" class="code {if site.errors.handle}error{/if}" type="text" maxlength="150" value="{if site.handle}{:site.handle}{else}primary{/if}" /></div>
		{if site.errors.handle}
			{include "_includes/error_list" errors=site.errors.handle}
		{/if}
	</div>

	<div class="field">
		<label for="url">Site URL</label>
		<div class="input-wrapper"><input id="url" name="url" {if site.errors.url}class="error"{/if} type="text" maxlength="500" value="{:site.url}" /></div>
		{if site.errors.url}
			{include "_includes/error_list" errors=site.errors.url}
		{/if}
	</div>

	<div class="field">
		<label for="url">Language</label>
		<div>{include "_includes/language" name="language" value=site.language}</div>
	</div>

{/region}
