{% import '_includes/forms.twig' as forms %}

<div id="verify">
    {% for key,label in fields %}
        {{ forms.textField({
            'label': label,
            'id': key,
            'name': key,
            'placeholder': 'XXXXXX'
        }) }}
    {% endfor %}
</div>