{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') },
	{ label: "Singletons"|t, url: url('settings/singletons') }
] %}

{% if singleton is not defined and singletonId is defined %}
	{% set singleton = craft.singletons.getSingletonById(singletonId) %}
	{% if not singleton %}{% exit 404 %}{% endif %}
{% endif %}

{% set isNewSingleton = (singleton is not defined or not singleton.id) %}

{% if isNewSingleton %}
	{% set title = "Create a new singleton"|t %}
{% else %}
	{% set title = singleton.name %}
{% endif %}

{% set tabs = {
	settings: { label: "Settings"|t, url: '#singleton-settings' },
	fieldlayout: { label: "Field Layout"|t, url: '#singleton-fieldlayout' }
} %}


{% set content %}
	<form method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="action" value="singletons/saveSingleton">
		<input type="hidden" name="redirect" value="settings/singletons/{singletonId}">
		{% if not isNewSingleton %}<input type="hidden" name="singletonId" value="{{ singleton.id }}">{% endif %}

		<div id="singleton-settings">
			{{ forms.textField({
				first: true,
				label: "Name"|t,
				instructions: "What this singleton will be called in the CP."|t,
				id: 'name',
				name: 'name',
				value: (singleton is defined ? singleton.name : null),
				errors: (singleton is defined ? singleton.getErrors('name') : null),
				autofocus: true,
				required: true,
				translatable: true
			}) }}

			{% if craft.hasPackage('Language') %}
				{% set localesInput %}
					{% for locale in craft.i18n.getSiteLocales() %}
						<div>
							{{ forms.checkbox({
								label: locale.name~' ('~locale.id~')',
								name: 'locales[]',
								value: locale.id,
								checked: (singleton is not defined or (singleton is defined and singleton.locales[locale.id] is defined)),
								toggle: 'uriRow-'~locale.id
							}) }}
						</div>
					{% endfor %}
				{% endset %}

				{{ forms.field({
					label: "Locales"|t,
					instructions: "Which locales should this singleton be enabled in?"|t
				}, localesInput) }}
			{% endif %}

			{% macro uriInput(locale, singleton) %}
				{% import "_includes/forms" as forms %}
				{% set errors = singleton ? singleton.getErrors('uri-'~locale.id) : null %}

				<div class="input{% if errors %} errors{% endif %}">
					{{ forms.text({
						id: 'uri-'~locale.id,
						class: 'code',
						name: 'uri['~locale.id~']',
						value: (singleton is defined and singleton.locales[locale.id] is defined ? singleton.locales[locale.id].uri : null),
						errors: errors
					}) }}
				</div>

				{{ forms.errorList(errors) }}
			{% endmacro %}

			{% from _self import uriInput %}

			{% set uriField %}
				{% if craft.hasPackage('Language') %}
					<table class="data">
						{% for locale in craft.i18n.getSiteLocales() %}
							<tr id="uriRow-{{ locale.id }}"{% if singleton is defined and singleton.locales[locale.id] is not defined %} class="hidden"{% endif %}>
								<th class="thin nowrap">{{ locale.id }}</th>
								<td>
									{{ uriInput(locale, (singleton is defined ? singleton : null)) }}
								</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
					{{ uriInput(craft.i18n.getPrimarySiteLocale(), (singleton is defined ? singleton : null)) }}
				{% endif %}
			{% endset %}

			{{ forms.field({
				label: "URI"|t,
				instructions: "The URI that should load this singleton."|t,
				required: true,
				errors: (singleton is defined ? singleton.getErrors('uri') : null)
			}, uriField) }}

			{{ forms.textField({
				label: "Template"|t,
				instructions: "The template to use when the page’s URI is requested."|t,
				id: 'template',
				name: 'template',
				value: (page is defined ? page.template : null),
				errors: (page is defined ? page.getErrors('template') : null)
			}) }}

		</div>

		<div id="singleton-fieldlayout" class="hidden">
			{% include "_includes/fieldlayoutdesigner" with {
				fieldLayout: (singleton is defined ? singleton.getFieldLayout() : null),
				tab: 'fieldlayout'
			} only %}
		</div>

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}
