{% extends "_layouts/cp" %}
{% set title = "Singletons"|t %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}


{% set singletons = blx.singletons.getAllSingletons() %}


{% set content %}
	<p id="nosingletons"{% if singletons %} class="hidden"{% endif %}>
		{{ "No singletons exist yet."|t }}
	</p>

	{% if singletons %}
		<table id="singletons" class="data collapsible">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				<th scope="col">{{ "URL"|t }}</th>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for singleton in singletons %}
					<tr data-id="{{ singleton.id }}" data-name="{{ singleton.name }}">
						<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('settings/singletons/' ~ singleton.id) }}">{{ singleton.name }}</a></th>
						<td data-title="{{ 'URL'|t }}"><a href="{{ singleton.getUrl() }}" target="_blank">{{ singleton.getUrl() }}</a></td>
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div class="buttons">
		<a href="{{ url('settings/singletons/new') }}" class="btn submit add icon">{{ "New Singleton"|t }}</a>
	</div>
{% endset %}


{% set js %}
	new Blocks.AdminTable({
		tableSelector: '#singletons',
		noObjectsSelector: '#nosingletons',
		deleteAction: 'singletons/deleteSingleton',
	});
{% endset %}
{% includeJs js %}
