<?php // v{VERSION} */
/**
 * @link http://craftcms.com/
 * @copyright Copyright (c) Pixel & Tonic, Inc.
 * @license http://craftcms.com/license
 */

namespace craft\app\behaviors;

/**
 * Content trait
 *
{PROPERTIES}
 */
trait ContentTrait
{
}
