{% layout "_layouts/sidebar" %}
{% region "pageTitle" %}Settings – {{ pageTitle }}{% /region %}
{% region "bodyClass" %}{{ bodyClass }}{% /region %}
{% region "styles" %}{{ cp.resource('app/styles/settings.css').css }}{% /region %}
{% region "scripts" %}{{ scripts }}{% /region %}

{% region "sidebar" %}

	<h5>System Settings</h5>
	<ul class="nav">
		<li><a {% if url.segment(2) == 'info' %}class="sel"{% endif %} href="{{ url.generateUrl('settings/info') }}"><span class="icon icon70"></span>System Info</a></li>
		<li><a id="sb-updates" class="has-badge {% if url.segment(2) == 'updates' %}sel{% endif %}" href="{{ url.generateUrl('settings/updates') }}"><span class="icon icon15"></span>Updates{% if cp.updateInfoCached && cp.updates %}<span class="badge {% if cp.criticalUpdateAvailable %}alert{% /if %}">{{ cp.updates.length }}</span>{% /if %}</a></li>
		<li><a {% if url.segment(2) == 'sites' %}class="sel"{% endif %} href=""><span class="icon icon100"></span>Sites</a></li>
		<li><a {% if url.segment(2) == 'user_groups' %}class="sel"{% endif %} href=""><span class="icon icon244"></span>User Groups</a></li>
	</ul>

	<h5>Site Settings</h5>
	<ul class="nav">
		<li><a {% if url.segment(2) == 'routing' %}class="sel"{% endif %} href="{{ url.generateUrl('settings/routing') }}"><span class="icon icon14"></span>URL Routing</a></li>
		<li><a {% if url.segment(2) == 'sections' %}class="sel"{% endif %} href="{{ url.generateUrl('settings/sections') }}"><span class="icon icon274"></span>Content Sections</a></li>
		<li><a {% if url.segment(2) == 'workflows' %}class="sel"{% endif %} href=""><span class="icon icon61"></span>Publishing Workflows</a></li>
		<li><a {% if url.segment(2) == 'folders' %}class="sel"{% endif %} href=""><span class="icon icon133"></span>Asset Folders</a></li>
	</ul>

	<h5>Plugin Settings</h5>
	<ul class="nav">
		<li><a class="has-status" href=""><span class="status on"></span><span class="icon icon287"></span>Brilliant Retail</a></li>
		<li><a class="has-status" href=""><span class="status on"></span><span class="icon icon287"></span>CE Image</a></li>
		<li><a class="has-status" href=""><span class="status on"></span><span class="icon icon287"></span>Freeform</a></li>
		<li><a class="has-status" href=""><span class="status off"></span><span class="icon icon287"></span>Tag</a></li>
		<li><a class="has-status" href=""><span class="status disabled"></span><span class="icon icon287"></span>Wygwam</a></li>
	</ul>

{% /region %}

{% region "main" %}
	<h1>{{ pageTitle }}</h1>

	{{ main }}
{% /region %}
