{% extends "_layouts/cp" %}
{% set title = "Utilities"|t %}

{% if not currentUser.admin %}
	{% exit 404 %}
{% endif %}

{% set tabs = {
	serverinfo:        { label: "Server Info"|t,        url: url('utils/serverinfo') },
	phpinfo:           { label: "PHP Info"|t,           url: url('utils/phpinfo') },
	logs:              { label: "Logs"|t,               url: url('utils/logs') },
	deprecationerrors: { label: "Deprecation Errors"|t, url: url('utils/deprecationerrors') }
} %}

{% set selectedTab = craft.request.getSegment(2) %}
