{% extends "utils/_layout" %}

{% import "_includes/forms" as forms %}

{% includeJsResource "js/deprecator.js" %}

{% block content %}
	<h2>Deprecator Logs</h2>
	<form method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="action" value="utils/deleteDeprecatorLog">
		<input type="hidden" name="redirect" value="utils/deprecator">

		<table class="data fullwidth">
			<thead>
				<th></th>
				<th>Deprecated Since</th>
				<th>Origin</th>
				<th>Message</th>
				<th>Date Added</th>
			</thead>
			<tbody>
				{% for key, deprecatorLog in logs %}
					{% for log in deprecatorLog %}
						<tr>
							<td>
								<div class="buttons">
									<input type="submit" class="btn submit" value="{{ 'Delete'|t }}">
									<input type="hidden" name="logId" value="{{ log.id }}" />
								</div>
							</td>
							<td>{{ log.deprecatedSince }}</td>
							<td>
								{{ log.origin | raw }}<br />
								<a href="{{ actionUrl('utils/viewDeprecatorTrace', {logId: log.id}) }}" class="deprecatorModal">{{ "Stack trace"|t }}</a>
							</td>
							<td>{{ log.message }}</td>
							<td>{{ log.dateCreated }}</td>
						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</form>
{% endblock %}
