{% extends "utils/_layout" %}

{% import "_includes/forms" as forms %}

{% set content %}

	<select onchange="Craft.redirectTo('utils/logviewer/'+this.value);">
		{% for fileName in logFileNames %}
			<option{% if fileName == currentLogFileName %} selected{% endif %}>{{ fileName }}</option>
		{% endfor %}
	</select>

	{% for logEntry in logEntries %}

		{% if currentLogFileName == 'phperrors.log' %}

			<div>
				{{ logEntry.message }}
			</div>

		{% else %}

			<h2>{{ logEntry.dateTime }}</h2>

			<table>
				<tr>
					<th class="light">Level</th>
					<td>{{ logEntry.level }}</td>
				</tr>
				<tr>
					<td class="light">Category</td>
					<td>{{ logEntry.category }}</td>
				</tr>
			</table>

			<table class="data">
				{# If these are set, we know it's a devMode log entry #}
				{% if logEntry.get or logEntry.post %}
					{% if logEntry.get %}
						<tr>
							<td valign="top">$_GET</td>
							<td>
								<table class="data">
									{% for getRow in logEntry.get %}
										<tr>
											<td>{{ getRow }}</td>
										</tr>
									{% endfor %}
								</table>
							</td>
						</tr>
					{% endif %}
					{% if logEntry.post %}
						<tr>
							<td valign="top">$_POST</td>
							<td>
								<table class="data">
									{% for postRow in logEntry.post %}
										<tr>
											<td>{{ postRow }}</td>
										</tr>
									{% endfor %}
								</table>
							</td>
						</tr>
					{% endif %}
					<tr>
						<td valign="top">Cookie</td>
						<td>
							<table class="data">
								{% for cookieRow in logEntry.cookie %}
									<tr>
										<td>{{ cookieRow }}</td>
									</tr>
								{% endfor %}
							</table>
						</td>
					</tr>
					<tr>
						<td valign="top">Session</td>
						<td>
							<table class="data">
								{% for sessionRow in logEntry.session %}
									<tr>
										<td>{{ sessionRow }}</td>
									</tr>
								{% endfor %}
							</table>
						</td>
					</tr>
					<tr>
						<td valign="top">Server</td>
						<td>
							<table class="data">
								{% for serverRow in logEntry.server %}
									<tr>
										<td>{{ serverRow }}</td>
									</tr>
								{% endfor %}
							</table>
						</td>
					</tr>
					<tr>
						<td valign="top">Profile</td>
						<td>
							{% for profileEntry in logEntry.profile %}
								<table class="data">
									{% for profileRow in profileEntry %}
										<tr><td {% if loop.index != 1 %} style="padding-left: 20px;"{% endif %}>{{ profileRow }}</td></tr>
									{% endfor %}
								</table>
							{% endfor %}
							</table>
						</td>
					</tr>
				{% else %}
					{# non-devMode log entry #}
					<tr>
						<th class="light">Message</th>
						<td>{{ logEntry.message }}</td>
					</tr>
				{% endif %}
			</table>

		{% endif %}

	{% endfor %}

{% endset %}
