{% extends "utils/_layout" %}

{% block content %}
	<h2>Requirement Report</h2>
	<table class="data fullwidth">
		<thead>
			<tr>
				<th>{{ "Requirement"|t }}</th>
				<th class="thin">{{ "Passed"|t }}</th>
			</tr>
		</thead>
		<tbody>
			{% for requirement in requirements %}
				<tr>
					<th>{{ requirement.getName() }}{% if requirement.getNotes() %} <span class="info">{{ requirement.getNotes()|raw }}</span>{% endif %}</th>
					<td class="thin centeralign">
						{% if requirement.getResult() == 'success' %}
							<span class="success" title="{{ 'Passed'|t }}" data-icon="check"></span>
						{% else %}
							<span class="error" title="{{ 'Failed'|t }}" data-icon="x"></span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
