{% extends "utils/_layout" %}

{% block content %}
	<h2>Requirement Report</h2>
	<table class="data fullwidth">
		<tbody>
			{% for requirement in requirements %}
				<tr>
					<td>{{ requirement['name'] }}{% if requirement['memo'] %} <span class="info">{{ requirement['memo']|raw }}</span>{% endif %}</td>
					<td class="centeralign">
						{% if requirement['warning'] == true %}
							<span class="warning" title="{{ 'Passed with warning'|t }}" data-icon="alert"></span>
						{% elseif requirement['error'] == true %}
							<span class="error" title="{{ 'Failed'|t }}" data-icon="error"></span>
						{% else %}
							<span class="success" title="{{ 'Passed'|t }}" data-icon="check"></span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
