{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

<div id="webauthn-settings">
    <h2>{{ 'Manage FIDO2 authentication'|t('app') }}</h2>
    {% if existingCredentials|length > 0 %}
        <div id="credentials-vue-admin-table" style="margin-top: 15px;"></div>
    {% endif %}

    {% if isSecureConnection %}
        <button type="button" id="attach-webauthn" class="btn submit formsubmit" data-credential-options="{{ credentialOptions|e('html_attr') }}">{{ 'Attach a device'|t('app') }}</button>
    {% else %}
        <p>{{ 'A secure connection is required to attach new credentials'|t('app') }}
    {% endif %}
</div>


{% set tableData = [] %}
{% for credential in existingCredentials %}
    {% set tableData = tableData|merge([{
        id: credential.credentialId,
        title: credential.name,
        name: credential.name,
        lastUsed: credential.lastUsed|length ? credential.lastUsed|date('Y-m-d H:i') : '',
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        { name: 'title', title: Craft.t('app', 'Name') },
        { name: 'lastUsed', title: Craft.t('app', 'Last used') }
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#credentials-vue-admin-table',
        deleteAction: 'authentication/detach-web-authn-credentials',
        emptyMessage: Craft.t('app', 'No credentials exist yet.'),
        tableData: {{ tableData|json_encode|raw }},
        padded: true,
        deleteCallback: WebAuthnFormHandler.removeExcludedCredential
    });
{% endjs %}
