{% import "_includes/forms" as forms %}

<div id="webauthn-settings">
    <h2>{{ 'Manage FIDO2 authentication'|t('app') }}</h2>

    {% if existingCredentials|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Credential name</th>
                    <th>Last used</th>
                    <th class="thin"></th>
                </tr>
            </thead>
            <tbody>
                {% for credentials in existingCredentials %}
                    <tr>
                        <td>{{credentials.name}}</td>
                        <td>{{credentials.dateLastUsed ? credentials.dateLastUsed|date('Y-m-d H:i') : ''}}</td>
                        <td>X</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <button type="button" id="attach-webauthn" class="btn submit formsubmit" data-credential-options="{{ credentialOptions|e('html_attr') }}">{{ 'Attach a device'|t('app') }}</button>
</div>
