{% import '_includes/forms' as forms %}

{{ forms.selectField({
    label: "Redactor Config"|t('app'),
    instructions: "You can save custom {name} configs as {ext} files in {path}."|t('app', {
            name: 'Redactor',
            ext: '`.json`',
            path: '`craft/config/redactor/`'
        }) ~
        ' <a href="http://imperavi.com/redactor/docs/settings/" target="_blank">'~"View available settings"|t('app')~'</a>',
    id: 'redactorConfig',
    name: 'redactorConfig',
    options: redactorConfigOptions,
    value: field.redactorConfig
}) }}

{{ forms.checkboxSelectField({
    id: 'availableVolumes',
    name: 'availableVolumes',
    label: 'Available Volumes'|t('app'),
    instructions: 'The volumes that should be available when selecting assets (if the selected config has an Image or File button).'|t('app'),
    options: volumeOptions,
    values: field.availableVolumes,
    showAllOption: volumeOptions|length ? true : false
}) }}

{{ forms.checkboxSelectField({
    id: 'availableTransforms',
    name: 'availableTransforms',
    label: 'Available Transforms'|t('app'),
    instructions: 'The Transforms that should be available for Image selection.'|t('app'),
    options: transformOptions,
    values: field.availableTransforms,
    showAllOption: transformOptions|length ? true : false
}) }}


<hr>
<a class="fieldtoggle" data-target="advanced">{{ "Advanced"|t('app') }}</a>
<div id="advanced" class="hidden">
    {{ forms.checkboxField({
        label: "Clean up HTML?"|t('app'),
        instructions: "Removes <code>&lt;span&gt;</code>’s, empty tags, and most <code>style</code> attributes on save."|t('app'),
        id: 'cleanupHtml',
        name: 'cleanupHtml',
        checked: field.cleanupHtml
    }) }}

    {{ forms.checkboxField({
        label: "Purify HTML?"|t('app'),
        instructions: 'Removes any potentially-malicious code on save, by running the submitted data through <a href="http://htmlpurifier.org/" target="_blank">HTML Purifier</a>.'|t('app'),
        warning: 'Disable this at your own risk!'|t('app'),
        id: 'purifyHtml',
        name: 'purifyHtml',
        checked: field.purifyHtml,
        toggle: 'purifier-config-container'
    }) }}

    <div id="purifier-config-container"{% if not field.purifyHtml %} class="hidden"{% endif %}>
        {{ forms.selectField({
            label: "HTML Purifier Config"|t('app'),
            instructions: "You can save custom {name} configs as {ext} files in {path}."|t('app', {
                name: 'HTML Purifier Config',
                ext: '`.json`',
                path: '`craft/config/htmlpurifier/`'
            }) ~
            ' <a href="http://htmlpurifier.org/live/configdoc/plain.html" target="_blank">'~"View available settings"|t('app')~'</a>',
            id: 'purifierConfig',
            name: 'purifierConfig',
            options: purifierConfigOptions,
            value: field.purifierConfig
        }) }}
    </div>

    {% if craft.app.db.isMysql %}
        {{ forms.selectField({
            label: "Column Type"|t('app'),
            id: 'column-type',
            name: 'columnType',
            instructions: "The type of column this field should get in the database."|t('app'),
            options: [
                { value: 'text', label: 'text (~64KB)' },
                { value: 'mediumtext', label: 'mediumtext (~16MB)' },
            ],
            value: field.columnType,
            warning: (field.id ? "Changing this may result in data loss."|t('app')),
        }) }}
    {% endif %}
</div>
