@charset "UTF-8";

@import '@craftcms/sass/mixins';

#auth-method-setup {
  .auth-method {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--l);

    h3 {
      margin-block-end: var(--xs);
    }

    .auth-method-footer {
      margin-block-start: var(--s);
      display: flex;
      flex-direction: row;
      gap: var(--xs);

      .auth-method-active,
      .btn {
        height: var(--touch-target-size);
        border-radius: calc(var(--touch-target-size) / 2);
      }
    }

    .auth-method-active {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: var(--xs);
      @include padding(0, var(--s), 0, 1px);
      border: 1px solid var(--enabled-color);
      font-weight: 500;

      [data-icon] {
        width: calc(var(--touch-target-size) - 4px);
        height: calc(var(--touch-target-size) - 4px);
        border-radius: calc(var(--touch-target-size) / 2 - 2px);
        background-color: var(--enabled-color);
        text-align: center;

        &::before {
          position: relative;
          inset-block-start: -2px;
          color: var(--white);
          opacity: 1;
        }
      }
    }
  }
}

.auth-method-setup-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--s);

  .auth-method-setup-success-graphic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--enabled-color);
    text-align: center;

    &::before {
      position: relative;
      color: var(--white);
      opacity: 1;
      font-size: 34px;
      line-height: 50px;
    }
  }

  h1.auth-method-setup-success-message {
    border-block-end: none !important;
  }
}

ul.auth-method-recovery-codes-list {
  --width: 12em;
  --gap: var(--s);
  display: grid;
  width: calc(var(--width) * 2 + var(--gap));
  margin-block: 0;
  margin-inline: auto;
  gap: var(--gap) !important;
  grid-template-columns: var(--width) var(--width);
  grid-template-rows: auto auto auto auto auto;
  grid-auto-flow: column;
  @include fixed-width-font;

  li {
    text-align: center;
  }
}

.auth-method-recovery-codes-download {
  display: flex;
  justify-content: center;
}
