{% import "_includes/forms" as forms %}


{{ forms.selectField({
	label: "Link Type"|t,
	instructions: "What do you want to link to?"|t,
	id: 'type',
	name: 'type',
	options: blx.links.getAllLinkTypes,
	value: linkType.classHandle,
	toggle: true,
	targetPrefix: 'linktype-'
}) }}


{% for _linkType in blx.links.getAllLinkTypes %}
	{% set isCurrent = (_linkType.classHandle == linkType.classHandle) %}
	{% if isCurrent %}
		{% set linkTypeSettings = linkType.settingsHtml %}
	{% else %}
		{% set linkTypeSettings = _linkType.settingsHtml %}
	{% endif %}

	{% if linkTypeSettings %}
		<div id="linktype-{{ _linkType.classHandle }}"{% if not isCurrent %} class="hidden"{% endif %}>
			{% set namespace = 'types[' ~ _linkType.classHandle ~ ']' %}
			{{- linkTypeSettings|ns(namespace)|raw -}}
		</div>
	{% endif %}
{% endfor %}


{{ forms.textField({
	label: "“Add Links” Label"|t,
	translatable: true,
	instructions: "What do you want the “Add Links” button to say?"|t,
	id: 'addLabel',
	name: 'addLabel',
	value: settings.addLabel
}) }}

{{ forms.textField({
	label: "“Remove Links” Label"|t,
	translatable: true,
	instructions: "What do you want the “Remove Links” button to say?"|t,
	id: 'removeLabel',
	name: 'removeLabel',
	value: settings.removeLabel
}) }}

{{ forms.textField({
	label: "Limit"|t,
	id: 'limit',
	name: 'limit',
	value: settings.limit,
	size: 5
}) }}

{{ forms.textField({
	label: "Reverse Link Handle"|t,
	instructions: "How you’ll refer to the links in the templates, from the linked entities."|t,
	id: 'reverseHandle',
	name: 'reverseHandle',
	class: 'code',
	value: settings.reverseHandle
}) }}
