{% extends "tests/charts/_layout" %}
{% import "_includes/forms" as forms %}


{% macro chartDocs(settings) %}

    <table class="data">
        <thead>
            <tr>
                <th>Setting</th>
                <th>Default Value</th>
            </tr>
        </thead>
        <tbody>
            {% for setting, defaultValue in settings %}
                <tr>
                    <th>{{ setting }}</th>
                    <td>{{ defaultValue }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endmacro %}

{% from _self import chartDocs %}


{% includecss %}

.chart-container {
    border: 1px solid #eee;
    width: 400px;
    height: 300px;
    margin-bottom: 24px;
    padding: 0px;
}

{% endincludecss %}


{% set selectedTab = 'docs' %}

{% block content %}


    <h2>Base Chart</h2>

    {{ chartDocs({
        margin: '{ top: 30, right: 30, bottom: 30, left: 30 }',
        chartClass: 'null',
        colors: '["#0594D1", "#DE3800", "#FF9A00", "#009802", "#9B009B"]',
        ticksStyles: "{
            'fill': '#555',
            'font-size': '11px'
        }"
    }) }}

    <hr>

    <div class="chart-doc">

        <h2>Area</h2>

        <div id="area" class="chart-container"></div>

        {% includejs %}

            var dataTable = new Craft.charts.DataTable({
                columns: [
                    { label: 'Date', type: 'date' },
                    { label: 'Users', type: 'currency' }
                ],

                rows: [
                    ['23-Jan-16' , 5],
                    ['24-Jan-16' , 15],
                    ['25-Jan-16' , 10],
                    ['26-Jan-16' , 13],
                ]
            });


            var $chart = $('#area');

            var chart = new Craft.charts.Area($chart);
            chart.draw(dataTable);

        {% endincludejs %}

        {{ chartDocs({
            chartClass: "'area'",
            dataScale: "'day'",
            enablePlots: "true",
            enableTips: "true",
            xAxisGridlines: "false",
            yAxisGridlines: "true",
        }) }}

    </div>

    <hr>

    <div class="chart-doc">
        <h2>Column</h2>

        <div id="column" class="chart-container"></div>

        {% includejs %}

            var dataTable = Craft.charts.utils.arrayToDataTable([
                ['Task',     'Hours per Day'],
                ['Work',     11],
                ['Eat',      2],
                ['Commute',  2],
                ['Watch TV', 2],
                ['Sleep',    7]
            ]);

            var $chart = $('#column');

            var chart = new Craft.charts.Column($chart);
            chart.draw(dataTable);

        {% endincludejs %}

        {{ chartDocs({
            chartClass: "'column'",
            enableTips: "true",
        }) }}
    </div>

    <hr>

    <div class="chart-doc">

        <h2>Pie</h2>

        <div id="pie" class="chart-container"></div>

        {% includejs %}

            var dataTable = Craft.charts.utils.arrayToDataTable([
                ['Task',     'Hours per Day'],
                ['Work',     11],
                ['Eat',      2],
                ['Commute',  2],
                ['Watch TV', 2],
                ['Sleep',    7]
            ]);

            var $chart = $('#pie');

            var chart = new Craft.charts.Pie($chart);
            chart.draw(dataTable);

        {% endincludejs %}

        {{ chartDocs({
            chartClass: "'pie'",
            enableTips: "true",
            margin: "{ top: 0, right: 0, bottom: 0, left: 0 }",
        }) }}
    </div>

{% endblock %}