{% extends "tests/charts/_layout" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'pie' %}

{% block content %}

    <div id="chart"></div>

{% endblock %}

{% includejs %}

    var dataTable = Craft.charts.utils.arrayToDataTable([
        ['Task',     'Hours per Day'],
        ['Work',     11],
        ['Eat',      2],
        ['Commute',  2],
        ['Watch TV', 2],
        ['Sleep',    7]
    ]);

    var $chart = $('#chart');

    var chart = new Craft.charts.Pie($chart);
    chart.draw(dataTable);

{% endincludejs %}

