@use '@craftcms/sass/mixins';

.skip-link {
  position: absolute;
  margin: 5px;
  inset-inline-start: -10000px;
  inset-block-start: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: $sidebarZIndex + 1;

  &:focus {
    inset-inline-start: unset;
    inset-inline-start: 0;
    width: auto;
    height: auto;
    background-color: var(--gray-100) !important;
  }
}

.skip-link--global {
  @media only screen and (min-width: $minFullUiWidth) {
    @include mixins.two-color-focus-ring;
  }
}
