{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set content %}
	<form method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="dashboard/save-widget">
		<input type="hidden" name="redirect" value="dashboard/settings">
		{% if widgetId is not empty %}
			<input type="hidden" name="widgetId" value="{{ widget.id }}">
		{% endif %}

		{{ forms.selectField({
			first: true,
			label: "Widget Type"|t,
			instructions: "What type of widget is this?"|t,
			id: 'type',
			name: 'type',
			options: widgetTypeOptions,
			value: widget.getType(),
			errors: (widgetTypeInfo.getIsInvalid() ? ["The widget type “{type}” could not be found."|t({ type: widget.getType() })] : null),
			autofocus: true,
			toggle: true
		}) }}

		{% for type in allWidgetTypes %}
			{% set isCurrent = (type == widget.getType()) %}
			<div id="{{ type|id }}"{% if not isCurrent %} class="hidden"{% endif %}>
				{% namespace 'types['~type~']' %}
				{% set _widget = isCurrent ? widget : craft.dashboard.createWidget(type) %}
				{{ _widget.getSettingsHtml()|raw }}
				{% endnamespace %}
			</div>
		{% endfor %}

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}
