{% extends "_layouts/cp" %}
{% includeJsResource "dashboard_settings.js" %}
{% include_translation
	"New widget order saved.",
	"Couldn’t save new widget order.",
	"Are you sure you want to delete the widget “{widget}”?",
	"Widget deleted.",
	"Couldn’t delete widget."
%}


{% set title = "Dashboard Settings"|t %}
{% set widgets = blx.dashboard.userWidgets %}
{% set sortable  = (widgets|length > 1) %}


{% set titlebar %}
	<h1>{{ title }}</h1>
	<ul class="left">
		<li><a href="{{ url('dashboard') }}" class="btn backbtn">{{ "Dashboard"|t }}</a></li>
	</ul>
{% endset %}


{% set content %}
	<h2>{{ "My Widgets"|t }}</h2>

	<p id="nowidgets" {% if widgets|length %}style="display: none"{% endif %}>
		{{ "You don’t have any widgets yet."|t }} <a href="{{ url('dashboard/settings/new') }}">{{ "Add the first one."|t }}</a>
	</p>

	{% if widgets|length %}
		<table id="widgets" class="data">
			<tbody>
				{% for widgetPackage in widgets %}
					{% set widget = blx.dashboard.populateWidget(widgetPackage) %}
					<tr data-widget-id="{{ widgetPackage.id }}">
						<th scope="row">
							<a href="{{ url('dashboard/settings/' ~ widgetPackage.id) }}">{{ widget.title }}</a>
							{% if widget.name != widget.title %}<span class="light">({{ widget.name }})</span>{% endif %}
						</th>
						{% if sortable %}<td width="1%"><a class="move" title="{{ 'Reorder'|t }}"></a></td>{% endif %}
						<td width="1%"><a class="deletebtn" title="{{ 'Delete' }}"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div class="buttons">
		<a href="{{ url('dashboard/settings/new') }}" class="btn submit addbtn">{{ "New Widget"|t }}</a>
	</div>
{% endset %}
