{% extends "_layouts/cp" %}
{% set title = "Dashboard Settings"|t %}

{% set crumbs = [
	{ label: "Dashboard"|t, url: url('dashboard') }
] %}


{% set widgets = craft.dashboard.getUserWidgets %}
{% set sortable  = (widgets|length > 1) %}


{% set content %}
	<h2>{{ "My Widgets"|t }}</h2>

	<p id="nowidgets"{% if widgets|length %} class="hidden"{% endif %}>
		{{ "You don’t have any widgets yet."|t }}
	</p>

	{% if widgets|length %}
		<table id="widgets" class="data fullwidth collapsible">
			<tbody>
				{% for widget in widgets %}
					{% if widget.type != 'GetHelp' or currentUser.admin %}
						{% set widgetType = craft.dashboard.populateWidgetType(widget) %}

						<tr data-id="{{ widget.id }}" data-name="{{ widgetType ? widgetType.title : widget.type }}">
							<th scope="row" data-title="{{ 'Name'|t }}">
								<a href="{{ url('dashboard/settings/' ~ widget.id) }}">{{ widgetType ? widgetType.title : "Unknown"|t }}</a>
								{% if widgetType %}
									{% if widgetType.name != widgetType.title %}<span class="light">({{ widgetType.name }})</span>{% endif %}
								{% else %}
									<span class="light error">({{ widget.type }})</span>
								{% endif %}
							</th>
							{% if sortable %}<td class="thin"><a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a></td>{% endif %}
							<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div class="buttons">
		<a href="{{ url('dashboard/settings/new') }}" class="btn submit add icon">{{ "New Widget"|t }}</a>
	</div>
{% endset %}


{% set js %}
	new Craft.AdminTable({
		tableSelector: '#widgets',
		noObjectsSelector: '#nowidgets',
		sortable: true,
		reorderAction: 'dashboard/reorderUserWidgets',
		deleteAction: 'dashboard/deleteUserWidget'
	});
{% endset %}
{% includeJs js %}
