{% extends "_layouts/cp" %}
{% set title = "Dashboard Settings"|t %}

{% set crumbs = [
	{ label: "Dashboard"|t, url: url('dashboard') }
] %}


{% set widgets = craft.dashboard.getAllWidgets() %}
{% set sortable  = (widgets|length > 1) %}


{% set content %}
	<h2>{{ "My Widgets"|t }}</h2>

	<p id="nowidgets"{% if widgets|length %} class="hidden"{% endif %}>
		{{ "You don’t have any widgets yet."|t }}
	</p>

	{% if widgets|length %}
		<table id="widgets" class="data fullwidth collapsible">
			<tbody>
				{% for widget in widgets %}
					{% if widget.getType() != 'craft\\app\\widgets\\GetHelp' or currentUser.admin %}
						{% set widgetTitle = widget.getTitle() %}
						{% set widgetTypeInfo = craft.dashboard.getWidgetTypeInfo(widget) %}

						<tr data-id="{{ widget.id }}" data-name="{{ widgetTitle }}">
							<th scope="row" data-title="{{ 'Name'|t }}">
								<a href="{{ url('dashboard/settings/' ~ widget.id) }}">{{ widgetTitle }}</a>
								{% if not widgetTypeInfo.getIsInvalid() %}
									{% if widgetTypeInfo.getDisplayName() != widgetTitle %}<span class="light">({{ widgetTypeInfo.getDisplayName() }})</span>{% endif %}
								{% else %}
									<span class="light error">({{ widget.type }})</span>
								{% endif %}
							</th>
							{% if sortable %}<td class="thin"><a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a></td>{% endif %}
							<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div class="buttons">
		<a href="{{ url('dashboard/settings/new') }}" class="btn submit add icon">{{ "New Widget"|t }}</a>
	</div>
{% endset %}


{% set js %}
	new Craft.AdminTable({
		tableSelector: '#widgets',
		noItemsSelector: '#nowidgets',
		sortable: true,
		reorderAction: 'dashboard/reorder-widgets',
		deleteAction: 'dashboard/delete-widget'
	});
{% endset %}
{% registerJs js %}
