{% extends "_layouts/cp" %}
{% set title = "GraphQL Schemas"|t('app') %}

{% requireEdition CraftPro %}

{% set selectedSubnavItem = 'schemas' %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ url('graphql/schemas/new') }}">{{ "New schema"|t('app') }}</a>
{% endblock %}

{% block content %}
    {% set schemas = craft.app.gql.schemas %}

    <div class="tablepane">
        <table id="schemas" class="data fullwidth">
            <thead>
                <th scope="col">{{ "Name"|t('app') }}</th>
                <th></th>
            </thead>
            <tbody>
                {% for schema in schemas %}
                    <tr data-id="{{ schema.id }}" data-name="{{ schema.name }}">
                        <th scope="row" data-title="{{ 'Name'|t('app') }}">
                            {% if schema.isPublic %}
                                <a href="{{ url('graphql/schemas/public') }}">{{ 'Public Schema'|t('app') }}</a>
                            {% else %}
                                <a href="{{ url("graphql/schemas/#{schema.id}") }}">{{ schema.name|t('site') }}</a>
                            {% endif %}
                        </th>
                        <td class="thin">
                            {% if not schema.isPublic %}
                                <a class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% js %}
    new Craft.AdminTable({
        tableSelector: '#schemas',
        sortable: false,
        deleteAction: 'graphql/delete-schema'
    });
{% endjs %}
