{% extends "_layouts/cp" %}
{% set title = "GraphQL Schemas"|t('app') %}

{% requireEdition CraftPro %}

{% set selectedSubnavItem = 'schemas' %}

{% block content %}
    {% set schemas = craft.app.gql.schemas %}

    <div class="scrolltable">
        <table id="schemas" class="data fullwidth">
            <thead>
                <th scope="col">{{ "Schema name"|t('app') }}</th>
            <th></th>
        </thead>
        <tbody>
            {% for schema in schemas %}
                <tr data-id="{{ schema.id }}" data-name="{{ schema.name }}">
                    <th scope="row" data-title="{{ 'Name'|t('app') }}"><a href="{{ url('graphql/schemas/' ~ (schema.isPublic ? 'public' : schema.id)) }}">{{ schema.name }}</a></th>
                        <th class="thin">
                        <a class="delete icon {{ schema.isPublic ? 'disabled' : '' }}" title="{{ 'Delete'|t('app') }}" role="button"></a>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="buttons">
        <a class="btn submit add icon" href="{{ url('graphql/schemas/new') }}">{{ "New schema"|t('app') }}</a>
    </div>
{% endblock %}


{% js on ready %}
    new Craft.AdminTable({
        tableSelector: '#schemas',
        sortable: false,
        deleteAction: 'graphql/delete-schema'
    });
{% endjs %}
