<div id="blocksselectmodal" class="pane modal blocksselect">
	<div class="head">
		<h5>Add content blocks</h5>
	</div>
	<div class="body" tabindex="0">
		<div class="scrollpane">
			<ul>
				{% foreach blocks.blocks as block %}
					<li class="block-item" data-block-id="{block.id}"><div class="block"><span class="icon icon137"></span><span class="block-name">{block.name}</span>
						<span class="block-type">{block.blocktypeName}</span></div>
					</li>
				{% endforeach %}
				<li class="add"><a><span class="icon icon44"></span>Create a new content block</a></li>
				{% if blocks.blocks.length < 1 %}<li class="filler"></li>{% endif %}
				{% if blocks.blocks.length < 2 %}<li class="filler"></li>{% endif %}
			</ul>
		</div>
	</div>
	<div class="foot">
		<div class="btn submit disabled"><span class="label">Add Blocks</span></div>
		<div class="btn cancel"><span class="label">Cancel</span></div>
	</div>
</div>
