# Playwright Testing
#PLAYWRIGHT_SITE_PORT=8089
#PLAYWRIGHT_CRAFT_APP_ID=craftcms
#PLAYWRIGHT_CRAFT_ENVIRONMENT=dev
#PLAYWRIGHT_CRAFT_SECURITY_KEY=qwerty1234567890
#PLAYWRIGHT_CRAFT_CP_TRIGGER=admin
#PLAYWRIGHT_CRAFT_DB_DRIVER=mysql
#PLAYWRIGHT_CRAFT_DB_SERVER=mysql
#PLAYWRIGHT_CRAFT_DB_PORT=3306
#PLAYWRIGHT_CRAFT_DB_DATABASE=craft_test
#PLAYWRIGHT_CRAFT_DB_USER=craft
#PLAYWRIGHT_CRAFT_DB_PASSWORD=craft
#PLAYWRIGHT_CRAFT_DB_SCHEMA=
#PLAYWRIGHT_CRAFT_DB_TABLE_PREFIX=
#PLAYWRIGHT_SITE=http://127.0.0.1:8089/
#PLAYWRIGHT_AUTH_USERNAME=admin
#PLAYWRIGHT_AUTH_PASSWORD=NewPassword