CRAFT_APP_ID=craftcms
CRAFT_ENVIRONMENT=dev
CRAFT_SECURITY_KEY=qwerty1234567890
CRAFT_CP_TRIGGER=admin

PRIMARY_SITE_URL=https://playwright.ddev.site
AUTH_USERNAME=admin
AUTH_PASSWORD=NewPassword
REPO_PATH=../../../.

# the actual namespace of the *Fixture.php files
CODECEPTION_FIXTURES_NAMESPACE='crafttests\fixtures'
# the location of the *Fixture.php files relative to the root of your repo
CODECEPTION_FIXTURES_PATH=tests/fixtures