# Playwright Testing
CRAFT_APP_ID=craftcms
CRAFT_ENVIRONMENT=dev
CRAFT_SECURITY_KEY=qwerty1234567890
CRAFT_CP_TRIGGER=admin

# pgsql
#CRAFT_DB_DRIVER=pgsql
#CRAFT_DB_SERVER=postgres
#CRAFT_DB_PORT=54329
#CRAFT_DB_DATABASE=craft_test
#CRAFT_DB_USER=craft
#CRAFT_DB_PASSWORD=craft
#CRAFT_DB_SCHEMA=public
#CRAFT_DB_TABLE_PREFIX=

# mysql
CRAFT_DB_DRIVER=mysql
CRAFT_DB_SERVER=mysql
CRAFT_DB_PORT=3306
CRAFT_DB_DATABASE=craft_test
CRAFT_DB_USER=craft
CRAFT_DB_PASSWORD=craft
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=
MYSQL_EXTERNAL_PORT=33069

# this was used when we were running pure docker
#SITE_PORT=8089
#SITE=https://playwright.ddev.site:8089
#SITE_DOMAIN=https://playwright.ddev.site

PRIMARY_SITE_URL=https://playwright.ddev.site
AUTH_USERNAME=admin
AUTH_PASSWORD=NewPassword
REPO_PATH=../../../.

# the actual namespace of the *Fixture.php files
CODECEPTION_FIXTURES_NAMESPACE='crafttests\fixtures'
# the location of the *Fixture.php files relative to the root of your repo
CODECEPTION_FIXTURES_PATH=tests/fixtures