{% import "_includes/forms" as forms %}

<form id="asset-indexes" class="utility" method="post" accept-charset="UTF-8">

    <table id="indexing-sessions" class="hidden">
        <thead>
            <tr>
                <th>Volumes being indexed</th>
                <th>Time started</th>
                <th>Last change</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    {{ csrfInput() }}

    <h2>{{ 'Volumes'|t('app') }} </h2>
    {{ checkboxSelectHtml|raw }}

    <h2>{{ 'Options'|t('app') }} </h2>

    {{ forms.lightswitchField({
        name: 'cacheImages',
        label: 'Cache remote images'|t('app'),
        instructions: 'Whether remotely-stored images should be downloaded and stored locally, to speed up transform generation.'|t('app'),
        on: true,
    }) }}

    {{ forms.lightswitchField({
        name: 'useQueue',
        label: 'Use queue'|t('app'),
        instructions: 'Whether indexing should be performed using a queue job.'|t('app'),
        on: false,
    }) }}

    <div class="buttons">
        <button type="submit" class="btn submit">{{ 'Update asset indexes'|t('app') }}</button>
        <div class="utility-status"></div>
    </div>
</form>

{% js %}

    let indexingSessions = [];
    let data = {};

    {% for session in existingSessions %}
        data = {
            id: {{ session.id }},
            indexedVolumes: {{ session.indexedVolumes|raw }},
            totalEntries: {{ session.totalEntries }},
            processedEntries: {{ session.processedEntries }},
            queueId: {{ session.queueId ?? 0 }},
            isCli: {{ session.isCli + 0 }},
            actionRequired: {{ session.actionRequired + 0 }},
            skippedEntries: [],
            missingEntries: [],
            dateCreated: "{{ session.dateCreated|date("Y-m-d H:i") }}",
            dateUpdated: "{{ session.dateUpdated|date("Y-m-d H:i") }}",
        };

        indexingSessions.push(data);
    {% endfor %}

    Craft.AssetIndexer = new AssetIndexer($('#indexing-sessions'), indexingSessions);

    $('form#asset-indexes').on('submit', function (ev) {
        const $submitButton = $('form#asset-indexes button.submit:last');

        if ($submitButton.hasClass('disabled')) {
            return false;
        }

        const data = {};
        for (let param of $(ev.target).serialize().split('&')) {
            let parts = param.split('=');
            data[unescape(parts[0])] = parts[1];
        }

        $submitButton.addClass('disabled').after('<div class="spinner"></div>');

        Craft.postActionRequest('asset-indexes/start-indexing', data, function (response, textStatus) {
            Craft.AssetIndexer.processResponse(response, textStatus);

            $('form#asset-indexes .spinner').remove();
            $submitButton.removeClass('disabled')
        });
        return false;
    });
{% endjs %}
