{% import "_includes/forms" as forms %}

<form id="asset-indexes" class="utility" method="post" accept-charset="UTF-8">
    {{ actionInput('utilities/asset-index-perform-action') }}
    {{ csrfInput() }}

    {{ checkboxSelectHtml|raw }}

    {{ forms.lightswitchField({
        name: 'cacheImages',
        label: 'Cache remote images'|t('app'),
        instructions: 'Whether remotely-stored images should be downloaded and stored locally, to speed up transform generation.'|t('app'),
        on: true,
    }) }}

    <div class="buttons">
        <button type="submit" class="btn submit">{{ 'Update asset indexes'|t('app') }}</button>
        <div class="utility-status"></div>
    </div>
</form>
