{% import "_includes/forms" as forms %}

<form id="clear-caches" class="utility" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="utilities/clear-caches-perform-action">
    {{ csrfInput() }}

    {{ forms.checkboxSelect({
        name: 'caches',
        options: options,
        showAllOption: true,
        values: '*',
    }) }}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Clear Caches'|t('app') }}" />
        <div class="utility-status"></div>
    </div>
</form>
