{% import "_includes/forms" as forms %}

<form id="find-replace" class="utility" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="utilities/find-and-replace-perform-action">
    {{ csrfInput() }}

    {{ forms.textField({
        label: "Find Text"|t('app'),
        first: true,
        name: 'find'
    }) }}

    {{ forms.textField({
        label: "Replace Text"|t('app'),
        name: 'replace'
    }) }}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ "Find and Replace"|t('app') }}" />
        <div class="utility-status"></div>
    </div>
</form>
