{% import "_includes/forms" as forms %}

<form method="post" action="" accept-charset="UTF-8">
    <h2>{{ 'Apply YAML Changes'|t('app') }}</h2>
    {{ csrfInput() }}
    <p>{{ 'Apply changes in your project config YAML files to the loaded project config.'|t('app') }}</p>
    {% if diff %}
        <div class="pane highlight">
            <pre><code class="language-diff diff-highlight language-diff-yaml">{{ diff }}</code></pre>
        </div>
        <div class="readable">
            <blockquote class="note $noteClass">
                <p>
                    {{ 'Make sure you’ve followed the <a href="{url}" target="_blank">Environment Setup</a> instructions before applying project config YAML changes.'|t('app', {
                        url: 'https://craftcms.com/docs/3.x/project-config.html#environment-setup',
                    })|raw }}
                </p>
            </blockquote>
        </div>
        <div class="buttons">
            {{ tag('button', {
                type: 'button',
                class: ['btn', 'formsubmit', 'secondary'],
                text: 'Apply changes only'|t('app'),
                data: {
                    action: 'config-sync',
                    params: {
                        return: 'utilities/project-config',
                    },
                },
            }) }}
            {{ tag('button', {
                type: 'button',
                class: ['btn', 'formsubmit'],
                text: 'Reapply everything'|t('app'),
                data: {
                    action: 'config-sync',
                    params: {
                        return: 'utilities/project-config',
                        force: 1,
                    },
                },
            }) }}
            {{ tag('button', {
                type: 'button',
                class: ['btn', 'formsubmit'],
                text: 'Discard changes'|t('app'),
                data: {
                    action: 'project-config/discard',
                    confirm: 'Are you sure you want to discard the pending project config YAML changes?'|t('app'),
                },
            }) }}
        </div>
    {% else %}
        <div class="pane">
            <p>
                <span class="checkmark-icon"></span>
                {{ 'There aren’t any pending project config changes to apply.'|t('app') }}
            </p>
        </div>
        <div class="buttons">
            {{ tag('button', {
                type: 'button',
                class: ['btn', 'formsubmit'],
                text: 'Reapply everything'|t('app'),
                data: {
                    action: 'config-sync',
                    params: {
                        return: 'utilities/project-config',
                        force: 1,
                    },
                },
            }) }}
        </div>
    {% endif %}
</form>

<hr>

<form method="post" action="" accept-charset="UTF-8">
    <h2>{{ 'Rebuild the Config'|t('app') }}</h2>
    <p>{{ 'Rebuild the project config based on the data stored throughout the database.'|t('app') }}</p>
    {{ actionInput('project-config/rebuild') }}
    {{ csrfInput() }}
    <div class="buttons">
        <button type="submit" class="btn secondary">{{ 'Rebuild'|t('app') }}</button>
    </div>
</form>

<hr>

<h2>{{ 'Loaded Project Config Data'|t('app') }}</h2>
<div class="pane highlight">
    <pre><code class="language-yaml">{{ entireConfig }}</code></pre>
</div>
<div class="buttons">
    <button type="button" id="download" class="btn" data-icon="download">{{ 'Download'|t('app') }}</button>
    <div id="download-spinner" class="spinner hidden"></div>
</div>

{% js %}
    $('#download').on('click', () => {
        $('#download-spinner').removeClass('hidden');
        let params = {};
        if (Craft.csrfTokenName) {
            params[Craft.csrfTokenName] = Craft.csrfTokenValue;
        }
        Craft.downloadFromUrl("post", "{{ actionUrl('project-config/download') }}", params)
            .then(() => {
                $('#download-spinner').addClass('hidden');
            })
            .catch(e => {
                $('#download-spinner').addClass('hidden');
                throw e;
            });
    });
{% endjs %}
