<div id="queue-manager-utility">
    <div v-if="loading">
        <div class="center">
            <div class="spinner big"></div>
            <p>Loading</p>
        </div>
    </div>
    <div v-else>

        <div class="right" v-if="jobs.length > 0 && !activeJob">
            <a class="btn submit" @click="retryAll">
                Retry all
            </a>

            <a class="btn submit" @click="releaseAll">
                Release all
            </a>
        </div>

        <table class="data fullwidth collapsible" v-if="jobs.length > 0 && !activeJob">
            <thead>

            <tr>
                <th scope="col">Job</th>
                <th scope="col">Progress</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="job in jobs">
                    <th><a @click="setActiveJob(job)">[[job.description]]</a></th>
                    <td><code>[[job.progress]]/ 100</code></td>
                    <td>
                        <div>[[jobStatusDeterminer(job)]]</div>
                    </td>
                    <td><a class="btn" @click="retryJob(job)">Retry</a> </td>
                    <td><a class="delete icon" title="Delete" role="button" @click="releaseJob(job)"></a> </td>
                </tr>
            </tbody>
        </table>

        <div v-else-if="activeJob">
            <div class="right">
                <a class="btn submit" @click="retryJob(activeJob)">Retry</a>
                <a class="btn submit" @click="releaseJob(activeJob)">Release</a>
            </div>

            <h2>[[activeJob.description]] | [[ jobStatusDeterminer(activeJob) ]]</h2>
            <p v-if="activeJob.error" class="error">[[activeJob.error]]</p>

            <div class="pane">
                <h3>Job values:</h3>
                <ul>
                    <li v-for="(value, name) in activeJob" v-if="name !== 'error' && name !== 'job'">
                        <strong>[[ name|capitalize ]]</strong>: [[ value ]]
                    </li>
                </ul>
            </div>

            <div class="pane">
                <h3>Job data:</h3>

                <!-- TODO: Remove inline styles -->
                <div style="background-color: #22292f;color: #38c172; padding: 20px;" v-if="activeJob.job">
                    <code>[[activeJob.job]]</code>
                </div>
                <div v-else>
                    No job data to display
                </div>
            </div>
            <hr>

            <a @click="resetActiveJob">
                Back to index
            </a>
        </div>
        <div v-else>
            No open jobs
        </div>

    </div>
</div>
