<div id="queue-manager-utility">
    <div v-if="loading">
        <div class="center">
            <div class="spinner big"></div>
            <p>Loading</p>
        </div>
    </div>
    <div v-else>

        <table class="data fullwidth collapsible" v-if="jobs">
            <thead>

            <tr>
                <th scope="col">Job</th>
                <th scope="col">Progress</th>
                <th scope="col">TTR</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="job in jobs">
                    <th><a>[[job.description]]</a></th>
                    <td><code>[[job.progress]]/ 100</code></td>
                    <td><code>[[job.ttr]]</code></td>
                    <td>
                        <div v-if="job.fail">Failed</div>
                        <div v-else-if="!job.timeUpdated">Pending</div>
                        <div v-else>Reserved</div>

                    </td>
                    <td><a class="btn">Retry</a> </td>
                    <td><a class="btn">Cancel</a> </td>
                    <div>
                        adsadssaddsasdsadadssd
                    </div>
                </tr>
            </tbody>
        </table>
        <div v-else>
            No open jobs
        </div>

    </div>
</div>
